[2019-01-14 18:24] misaugstad commented on #433
Awesome, thanks y'all!

[2019-01-14 20:58] jonfroehlich commented on #1298
Whoever works on this needs to come up with a clear, repeatable way to test.

[2019-01-14 21:45] richardwmcgovern commented on #1373
![image](https://user-images.githubusercontent.com/9509103/51142744-9aa43f00-1801-11e9-9cc9-a11fd8cbf416.png)

Here is the first draft of partitioned, max 10 mile, street segment subsets. I selected these out of the following subset of Newberg Roads:

SELECT *
FROM Newberg_Roads
WHERE type IN ('residential', 'tertiary', 'secondary', 'primary', 'track')

My apologies, there is no "trunk" in the new

[2019-01-14 21:46] misaugstad commented on #1373
It must be that there are no roads tagged as "trunk" in Newberg. Trunk is a road type in OSM that are sort of one step down from an interstate. [ref](https://wiki.openstreetmap.org/wiki/Key:highway#Roads)

Hopefully there just aren't many roads marked as "track" and so you won't have to change much (or anything). :)

[2019-01-14 21:56] jonfroehlich commented on #1373
Re: neighborhood naming. I think we should send this graphic to the Newberg folks and see if they have any neighborhood name ideas. Otherwise, I'd prefer semantic names if possible--even if just something like Northwest 99 corridor, and Maple Ave Neighborhood (which we derive from some major streets through each neighborhood)--but in the worst case, I guess we could just do zone1-zoneN :)

@richar

[2019-01-14 22:56] jonfroehlich commented on #1304
Left: each city's landing page; Right: rapid mockup of the MVP front landing page for all cities (this will have to change in the future as it won't scale to like more than ~4 or so) but good enough for now? Could even simplify it further by taking out sections.

![image](https://user-images.githubusercontent.com/1621749/51146637-4783b980-180c-11e9-9906-889d43ee5f72.png)

Raw mockup file: [Landing

[2019-01-14 22:57] jonfroehlich opened #1381 "Uniform login across cities"
would be nice to have:

- uniform sign-in (signing in on one city, would sign you into other cities)
- uniform backend dashboard (to track stats across cities)

Essentially, to the user, everything should look unified even if the backend is modularized and split.

[2019-01-14 23:33] richardwmcgovern commented on #1373
Thanks @jonfroehlich! The zones will actually update a little after making this change. There will be **13 total** after merging zones 12 and 10, to ensure minimum 5 miles per subset after deleting the "track" segments.

[2019-01-15 00:32] jonfroehlich commented on #1373
What are the track segments (i.e., why are we deleting five miles)? I want to make sure we aren't accidentally eliminating roadways that might have sidewalks. For example, why are there discontinuities in the green part below:

![image](https://user-images.githubusercontent.com/1621749/51150158-f1b60e00-1819-11e9-9ccc-adfd15a1dea5.png)

And why is gray so sparse (is it rural?):

![image](https://u

[2019-01-15 00:37] misaugstad commented on #1373
See [here](https://wiki.openstreetmap.org/wiki/Key:highway#Special_road_types). The "track" type is a special road type that is marked as being for mostly agricultural or forestry uses and are often rough and unpaved. Doesn't sound like we should be including them.

[2019-01-15 00:39] misaugstad commented on #1373
And looking at google maps, the gray area has farmland.

[2019-01-15 00:42] jonfroehlich commented on #1373
Thanks Mikey. Still wonder about the green discontinuities though...

![image](https://user-images.githubusercontent.com/1621749/51150502-6ccbf400-181b-11e9-8b39-a30f499f8812.png)

[2019-01-15 00:45] misaugstad commented on #1373
I suspect it has something to do with the odd shape of the southern boundary of the city (see below). But I can't tell for sure from the screenshot, so @richardwmcgovern would have to confirm.

![image](https://user-images.githubusercontent.com/1621749/50991336-43346500-14c9-11e9-8296-6aa07199e9c0.png)

[2019-01-15 02:18] richardwmcgovern commented on #1373
I'll verify on google earth. Haven't yet figured out how to get good basemaps to render quickly in QGIS. For the time being, here is an update to the zones (now there are 13 of them):

![image](https://user-images.githubusercontent.com/9509103/51154467-b242ee00-1828-11e9-9522-9eb9e648fb4a.png)

[2019-01-15 06:42] DoctorWarrior commented on #1298
I think I will write a design spec first before I actually start modifying the code base.

[2019-01-15 06:56] richardwmcgovern commented on #1373
@misaugstad is correct. When I extracted the roads from OSM which intersected the Newberg city boundary polygon, I neglected to check if there were segments outside we wanted to include. Luckily, there don't appear to be too many cases of this. I'll patch them in. Stay tuned for a new shapefile

[2019-01-15 20:36] jonfroehlich opened #1382 "Have to ensure that users cannot validate their own labels"
The backend system has to ensure that users cannot validate their own labels.

One challenge here, of course, is how to deal with anonymous users. We could try to provide the same assurances for anon users (based on ip or however we are tracking anonymous users). Alternatively or in addition, we could just weight anonymous validations less than from registered users.

Thoughts?

[2019-01-15 21:33] misaugstad commented on #1373
@richardwmcgovern This might not be necessary to fix... I would like to hear what @jonfroehlich thinks, but IMO: although we would ideally like everything about the city to look perfect, I also want to develop a process that is as reproducible as possible. I really need to be able to reproduce it for new cities. And I want to be able to reproduce it as someone with no QGIS experience.

I have been

[2019-01-15 23:54] misaugstad commented on #1276
@lstrobel do you have any ideas for how to incorporate keyboard shortcuts into label tags in a way that would make sense for end users?

[2019-01-16 00:07] lstrobel commented on #1276
I actually like the idea of using the first letters of the tags, as I use that a lot in the programs I use.

To resolve the issue of duplicate letters, we could just choose another letter in the tag name and underline it. To reduce the aesthetic impact, we could have the underlines only appear when the user presses alt, for example This idea comes from when you press ALT in Firefox, or in IntelliJ

[2019-01-16 00:45] jonfroehlich commented on #456
We'd want to start out by doing some design research about how other sites do this (and note: I'm not talking about that like giant share bar that everyone ignores) and then creating some mocks... before moving towards implementation.

[2019-01-16 00:47] tongning commented on #1374
@misaugstad That sounds very reasonable! One more question, what is the purpose of storing the city name in the database? If it's only for the server to identify its own city, would an environment variable work for that purpose?

[2019-01-16 00:48] misaugstad commented on #1374
@tongning you expose my lack of knowledge of these things :) I've just been waiting for someone to tell me what the right thing is to use, and that is probably it :grin:

[2019-01-16 00:54] jonfroehlich commented on #1373
Agree with the sentiment. Ideally, we want a process that we can automate.

Sent from my iPhone

[2019-01-16 01:03] tongning commented on #1374
Haha don't give me too much credit for parroting stuff I've read 😂

It looks like the config library has built-in support for substituting environment variables, which should make things easier for us. I think docker also has [support](https://docs.docker.com/compose/environment-variables/) for it, but maybe it would be good to confirm with Jason.

[2019-01-16 18:28] jonfroehlich opened #1384 "Validation MVP Crit and Feedback"
@aileenzeng, can you post your notes from the MVP crit in this thread. I also just quickly took a look now that the initial MVP is live on the test server (woohoo). Here are some comments from my initla use.

1. I wonder if we should switch the button labels to 'Yes', 'No', 'Not sure' to directly answer the question 'Is this a surface problem" or 'Is this a curb ramp'

2. I also wonder if we shoul

[2019-01-16 18:33] misaugstad commented on #1384
1. In addition to description, do we want to include severity? Do we want to validate severity?
1. We need a mission complete screen

[2019-01-16 18:34] jonfroehlich opened #1385 "Tried to use the '-' key when filling out a description in the context menu"
I tried to use the '-' key when filling out a description in the context menu and, instead, it auto-closed the context menu. Anyone know what's up here? @misaugstad, maybe a good intern task?

![image](https://user-images.githubusercontent.com/1621749/51270629-50929900-197a-11e9-9c36-7e737f93a8aa.png)

[2019-01-16 18:37] jonfroehlich opened #1386 "Feedback survey comes up too early imo"
Looks like @maubinle's feedback survey comes up at end of first mission--I think it should be the second mission (it's too abrupt after the first one and also I don't feel like the user has enough experience at this point to answer the questions...)

![image](https://user-images.githubusercontent.com/1621749/51270796-b8e17a80-197a-11e9-8d5f-3f63ac3c7ca5.png)

[2019-01-16 18:38] jonfroehlich commented on #1385
Ack, and what's worse is I lost the ability to pan after hitting the '-' and so I had to reload the page! (I have since learned that I can hit the '=' key and I get control back...)

[2019-01-16 18:45] misaugstad commented on #1385
This is talked about in #678

We haven't been able to prevent +/- from causing GSV to zoom in/out, even when typing in the feedback or context menu. We auto-close the context menu so that it doesn't look detached from the label when the "-" causes a zoom.

[2019-01-16 18:45] #1385 closed

[2019-01-16 18:47] jonfroehlich commented on #1385
I searched for this before posting but couldn't find it. It's a hard Issue to search for imo.. I just added some additional terms to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/678 to make it more findable in the future (including words like 'minus' and 'dash' and 'plus').

[2019-01-16 21:30] jonfroehlich commented on #1373
Newberg got back to us with some (great) neighborhood names along with some suggestions about shifting a couple of neighborhood lines. It's so awesome to have them involved in this deployment--it feels great!

![image](https://user-images.githubusercontent.com/1621749/51279708-bc80fb80-1992-11e9-87d4-ebe3c4b3e21a.png)

It's hard to read the writing on this screenshot so here's the raw PDF that you

[2019-01-16 21:54] aileenzeng commented on #1384
Notes from the meeting:
1. Maximize panorama size - allow users to see as much as they can
2. Teach people to validate
    a) Need to make some kind of onboarding tutorial for validation interface
    b) Examples / Non-examples are important but currently too small. Consider creating a mouse-over for images, or reducing the number of examples we show? (make mocks?)
3) Need to allow users to go bac

[2019-01-16 22:21] jonfroehlich commented on #1384
Let us also not forget these very important thoughts and potential action items (and Aileen, good fodder for your Mary Gates scholarship app as well):

- https://github.com/ProjectSidewalk/SidewalkWebpage/issues/535#issuecomment-443288100
- https://github.com/ProjectSidewalk/SidewalkWebpage/issues/535#issuecomment-447386308

[2019-01-16 23:16] misaugstad commented on #1385
Awesome, that will be very helpful! I often have trouble finding that issue as well.

[2019-01-16 23:18] misaugstad commented on #1386
I have seen the same behavior, needs to be fixed. We may need a more robust solution than we currently have. As I think it currently goes after the first mission sometimes and second mission sometimes :(

[2019-01-16 23:48] misaugstad commented on #1026
Thanks for all the hard work on this @lstrobel !

@jonfroehlich how do you feel about just trying to add the `Thread.sleep` call to see if it fixes it? It definitely isn't good coding practice, but if it fixes the bug for now, maybe we just use it and add a comment saying why we are doing it that links to this issue thread?

[2019-01-16 23:59] misaugstad commented on #1374
Ahh yes, in the docker-compose! I'll add something like
[code]

To the docker-compose for both the public servers and for our docker dev environment setup, and that should take care of it. Thanks for all the help @tongning !

[2019-01-17 00:04] misaugstad commented on #1384
There should also be a way to see underneath the actual label icon!

Would also be good to validate temporariness. So another type of validation mission: "Is this a temporary obstacle?"

[2019-01-17 00:40] misaugstad commented on #1294
closing via #1383

[2019-01-17 00:40] #1294 closed

[2019-01-17 00:43] misaugstad commented on #1276
This sounds good to me! Could you show a mock up with all the label types so we can see what it looks like and agree on which letters to use.

[2019-01-17 00:44] misaugstad commented on #456
@lstrobel how do you feel about taking up this project?

[2019-01-17 00:53] jonfroehlich commented on #456
If you want to take it on, we should chat quickly about some ideas.

Sent from my iPhone

[2019-01-17 01:03] lstrobel commented on #456
@misaugstad @jonfroehlich
I think this idea is really interesting, I would definitely be interested in taking it up!

[2019-01-17 01:44] misaugstad commented on #1092
@paarig how do you feel about picking up this as your next task?

[2019-01-17 04:35] paarig commented on #1092
@misaugstad Sounds like a plan. The current task I'm working on has thrown me for a loop so it might be a little bit before I can get started on this task.

[2019-01-17 07:49] aileenzeng commented on #678
This is an issue that I ran into while working on the validation interface. The API actually has a `StreetViewPanoramaOption` that disables +/- zooming!

Adding this line to our panorama should fix the issue: `svl.panorama.set('scrollwheel', false);`

I'll test it out and send a PR if it works!

[2019-01-17 13:52] jonfroehlich commented on #1374
Great work guys!

On Wed, Jan 16, 2019 at 3:59 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-17 13:55] jonfroehlich commented on #1026
I assume `Thread.sleep(20)` is 20 milliseconds? :)

If so, I agree with you @misaugstad. Super kludgey fix but let's implement it, comment it with a link back to this Issue.

Also, my compliments to @lstrobel for digging down into this bug, trying to identify a problem, and coming up with a possible solution.

[2019-01-17 15:34] maubinle commented on #1386
Oh no!

I thought this while playing around with it but each time I tested e2e it
was consistent so I thought I was imagining things. Looks like I’ll need to
change the logic for when the survey is triggered. I’ll fix this this
weekend (hooray for the long weekend!)

On Wed, Jan 16, 2019 at 15:18, Mikey Saugstad <notifications@github.com>
wrote:

[2019-01-17 16:38] jonfroehlich commented on #1386
Sounds good.

Sent from my iPhone

[2019-01-17 16:54] jonfroehlich commented on #1384
Yes, not sure what the best way to do that is... any ideas? Maybe if you mouse over the GSV pane (the label auto-hides, or maybe there is an explicit hide label button?)

Yah, not sure if best to have a specific mission that is just oriented at validating 'temporary' labels or if somehow this should be integrated into the core validation interface...

[2019-01-17 18:36] misaugstad commented on #999
closing via #1388

[2019-01-17 18:36] #999 closed

[2019-01-17 18:36] misaugstad commented on #678
closing via #1388

[2019-01-17 18:36] #678 closed

[2019-01-17 19:13] misaugstad commented on #1092
No worries! Also feel free to take a break from your current task to work on this if you are feeling stuck. Whatever works for you :)

[2019-01-17 19:16] misaugstad commented on #1384
In case you were curious, this was me deliberately placing an incorrect label so that we had something to disagree with when testing the validation interface. This is the test server, after all :wink:

[2019-01-17 19:42] jonfroehlich commented on #1384
Sure, I was doing that too :) But good to know.

On Thu, Jan 17, 2019 at 11:17 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-17 23:12] jonfroehlich commented on #456
OK, great @lstrobel. We can chat more during the Hackathon tomorrow if you're coming?

[2019-01-18 01:35] misaugstad commented on #1271
Closing via #1327

[2019-01-18 01:35] #1271 closed

[2019-01-18 01:36] misaugstad commented on #1130
Closing via #1319

[2019-01-18 01:36] #1130 closed

[2019-01-18 01:36] misaugstad commented on #1095
Fixed in #1319

[2019-01-18 01:36] #1095 closed

[2019-01-18 01:43] lstrobel commented on #456
Yes! I'll be there

On Thu, Jan 17, 2019 at 3:12 PM Jon Froehlich <notifications@github.com>
wrote:

[2019-01-18 04:05] aileenzeng commented on #1384
Thanks for all the feedback so far! I'll start doing mocks soon. There are some recent bugs that have been mentioned that are pretty quick/simple to fix (<5 min) that I introduced in a recent commit. Should I create a new branch to address these? (I'm not sure what naming convention to use, since there are lots of todos here). I could also hold off for now.

Here are the issues I could quickly fix

[2019-01-18 04:09] jonfroehlich commented on #1384
Hi @aileenzeng, thanks for the response. I agree that this thread is a bit chaotic and atraditional (the intention was to just brain dump everything here and organize later). Why don't you fix the easy ones (e.g., the ones you mentioned) and then let's create separate tickets for all the others (some of which are more discussion oriented and others which are more typical). What do you think?

[2019-01-18 04:21] aileenzeng commented on #1384
Sounds good! I’ll probably start creating issues tomorrow.

[2019-01-18 21:27] #1241 closed, assigned to misaugstad

[2019-01-18 21:27] #1242 closed, assigned to misaugstad

[2019-01-18 21:28] #1317 closed, assigned to misaugstad

[2019-01-18 23:21] misaugstad commented on #1338
Okay yeah I found something. The `auditedStreetDistance` function is being called 6 times (3 of those times by itself, and 3 of those times are from within `streetDistanceCompletionRate`). And the function `totalStreetDistance` is being called within the `streetDistanceCompletionRate` function as well. The `auditedStreetDistance` and `totalStreetDistance` functions take ~0.2 seconds each on my loc

[2019-01-19 00:01] misaugstad commented on #1386
While testing PR #1360 Aileen ended getting the survey twice (once after the first mission, and again after the 2nd). I'm pretty confident that this has the same root cause as getting the survey at the wrong time. We are depending on one API call to not be completed before another, and we just can't rely on that and will have to figure out a more robust way to do it.

[2019-01-20 08:16] manaswis commented on #1356
The API key is associated with my account. As suggested in #1355, creating a PS specific account would be the way to go.

[2019-01-20 08:35] manaswis commented on #1355
Usage has been less than 200$ in the past year

![image](https://user-images.githubusercontent.com/2873216/51436908-79e94880-1c4a-11e9-9d98-3e4fc2e5f7c7.png)

However, the new changes requires the project to be associated with a billing account. Only then you get the $200 free credit for monthly consumption. Since we had Google project account before the changes, currently the project's billing (i

[2019-01-20 13:36] jonfroehlich commented on #1356
Mikey, can you create a Project Sidewalk Google account for this? Or do we
have one already?

On Sun, Jan 20, 2019 at 12:22 AM Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twi

[2019-01-21 01:32] aileenzeng opened #1390 "Redesign validation buttons"
Here are four comments relating to button design for the validation interface from #1384. These include comments about what our buttons should display, how we should place them, and which responses we want:

[2019-01-21 01:32] aileenzeng opened #1391 "Allow users to see underneath labels on the validation interface"
From #1384:

[2019-01-21 01:33] aileenzeng opened #1392 "Provide more information about labels on validation interface"
From #1384. There might be extra pieces of information that we might want to give users (severity, description, temporariness).

[2019-01-21 01:33] aileenzeng opened #1393 "Update cursors on validation interface"
From #1384:

[2019-01-21 01:36] aileenzeng opened #1394 "Choose how we select labels to validate"
From #1384

From #535

There are also some restrictions that we want to add:

[2019-01-21 02:35] maubinle opened #1395 "Support a validation interface on mobile"
I'm opening up a thread for discussions around the mobile validation interface. I have done some preliminary mockups to test out:
1. onboarding experience, I think we can either do a "slideshow" experience where we show the user what they should do ahead of time, which seems to be popular on mobile, or try to do an "interactive" tutorial more similar to what we have on web.
2. how to show context

[2019-01-21 02:38] aileenzeng opened #1396 "Add mission screens to validation interface"
We need some screens at the start and end of validation missions. From #1384:

[2019-01-21 02:43] aileenzeng opened #1397 "Redesign how we show users correct and incorrect label placement"
From #1384:

The current interface looks like this:
![image](https://user-images.githubusercontent.com/1621749/51344633-f06d2700-1a4d-11e9-9437-8dc1c333ea33.png)

Something that I was thinking was that we could also point users to the labeling guide (if they're interested).

[2019-01-21 02:46] aileenzeng opened #1398 "Add undo functionality / show history on validation interface"
From #1384:

[2019-01-21 13:44] jonfroehlich commented on #1398
IMO, this should be a lower priority for now. Let's see--via user testing--whether users really feel like this is a necessary feature.

[2019-01-21 13:47] jonfroehlich commented on #1390
Thanks for this @aileenzeng. I agree with everything in your list.

For ordering of buttons, can you Google around for other interfaces and see if they put agree on left or right? I could imagine the following order; Disagree, Kind of, Agree, Not Sure. Or Agree, Kind Of, Disagree, Not Sure. I would likely make more space between the three vote buttons (agree, disagree, kind of) and the 'not sure'

[2019-01-21 13:56] jonfroehlich commented on #1395
Thanks for this @maubinle. I like how you're thinking through the full user experience, incorporating colors from our logo, and integrating mission elements in your design.

Can you try to mock a few designs that:

- Maximize the presentation of the GSV image. It feels like you have too much whitespace. Perhaps you need to consider landscape too?
- The PS branding takes up too much space and it sh

[2019-01-21 17:15] manaswis commented on #1395
Just wanted to swoop in and say, I love the mockups and how it's shaping up! Nice work, @maubinle!

[2019-01-21 19:00] aileenzeng commented on #1397
Totally agreed! I was thinking it would be more like a "if you want more information" sort of thing.

[2019-01-21 19:32] aileenzeng commented on #1391
I was thinking we could add in a keyboard shortcut to toggle visibility (H key) and either add buttons that say "Hide/Hide Label" or add in some feature that allows the user to double click on the panorama (and if they do that, it toggles label visibility). I think double clicking might not be very intuitive though.

Here are some rough ideas for what the button could look like:

![image](https://

[2019-01-21 20:41] jonfroehlich commented on #1391
Thanks for these ideas. Again, I think we should go with the absolute easiest and lightest weight thing--even a button click takes too much time imo (e.g., target acquisition time (see Fitts Law) + button click time).

1. First, how about on page load, we wait for ~500ms (or 1s) and fade in the label.
2. Second, I still think something like a mouseover (e.g., mouseover GSV and label hides) is our

[2019-01-21 20:48] jonfroehlich commented on #1397
Sure.

[2019-01-22 01:09] aileenzeng opened #1399 "What to do about "Other" labels?"
This is something that I've been thinking about earlier - how do we deal with "other" labels? I've been sort of stumped on this as I've been thinking about which false positive / false negative examples to pick for each label type. I also don't see a section under the Labeling Guide for other labels either.

[2019-01-22 04:56] maubinle commented on #1395
Yay thank you @manaswis, I'm glad you like these!

@jonfroehlich I took your advice on board and went back to sketching. I had done a few paper mocks already and added more after your comments.
![image](https://user-images.githubusercontent.com/16949591/51513128-0700de80-1dbe-11e9-85b0-2a2a3cbc992c.png)
![image](https://user-images.githubusercontent.com/16949591/51513136-11bb7380-1dbe-11e9-96da-36

[2019-01-22 13:31] jonfroehlich commented on #1395
I *really* like these. Thanks for expanding on your ideation and mocks. I'm short on time now but a few quick thoughts:

- I'm definitely attracted to mocks that maximize the GSV interface.
- One concern about landscape that I didn't think about before is that it requires two hands (for comfortable use) rather than one... Hmm.

[2019-01-22 14:06] jonfroehlich commented on #1355
@misaugstad can you handle this or do you want me to?

[2019-01-22 18:31] misaugstad commented on #1355
I figure we might as well use the makeability.sidewalk google account that we have been using for other purposes (mostly as the email address when signing up for other services). However, I am not able to sign into that account right now b/c it I'm signing in from a new computer and it wants to send a text to the recovery phone number on file... But it says that number ends in 11. My number doesn'

[2019-01-22 18:35] misaugstad commented on #1339
@jonfroehlich do you need those two graphs on the admin page?

[2019-01-22 18:48] manaswis commented on #1355
That would be @kotarohara

[2019-01-22 18:58] manaswis commented on #1355
I changed it to Mikey's number.

On Tue, Jan 22, 2019 at 10:48 AM Manaswi Saha <notifications@github.com>
wrote:

--
Best Regards,
Manaswi Saha
Ph.D. Student
Paul G. Allen School of Computer Science & Engineering
University of Washington, Seattle
*homes.cs.washington.edu/~manaswi <http://homes.cs.washington.edu/~manaswi>*
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

[2019-01-22 19:02] manaswis commented on #1355
Updated emails associated with the account:

![image](https://user-images.githubusercontent.com/2873216/51558774-2a1aa500-1e35-11e9-8e49-aed297a544e6.png)

[2019-01-22 19:12] misaugstad commented on #1355
Thanks @manaswis ! And thanks for checking in on our API usage :fist_oncoming:

[2019-01-22 19:33] jonfroehlich commented on #1355
Please change my UMD address to my cs.washington.edu address for alternate
emails.

On Tue, Jan 22, 2019 at 11:12 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-22 19:34] misaugstad commented on #1339
No problem. I'll just remove them from the admin page for now then to speed up the page load. Shall I port that change over to the frozen DC code as well once I've written it?

[2019-01-22 19:38] jonfroehlich commented on #1339
I don't think it's necessary to port over, unless you do?

On Tue, Jan 22, 2019 at 11:35 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-22 19:40] misaugstad commented on #1339
Only if you plan on using the admin dashboard's analytics page on that server. So probably not necessary.

[2019-01-22 19:43] manaswis commented on #1355
Tried that. It doesn't allow.
![image](https://user-images.githubusercontent.com/2873216/51560951-da3edc80-1e3a-11e9-8a07-81ffd05778d5.png)

It said the same for my cs uw account as well.

[2019-01-22 19:45] jonfroehlich commented on #1339
I don't think so. Any stats we'll run on that data will be run offline like
you did for CHI'19.

Jon

On Tue, Jan 22, 2019 at 11:40 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehl

[2019-01-22 19:46] jonfroehlich commented on #1355
Hmm, ok, try jfroehli@uw.edu.

Jon

On Tue, Jan 22, 2019 at 11:43 AM Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-22 19:47] manaswis commented on #1355
Worked! Verification email has been sent.

[2019-01-22 20:11] lstrobel commented on #1276
I made mockups of each Modal:

Each label has an underlined letter that represents the key that would activate it. I made sure to choose letters that didn't interfere with currently existing hotkeys (C, M, O, S, N, and E)

![image](https://user-images.githubusercontent.com/12887715/51562357-8209d980-1e3e-11e9-9be2-0dcaf1ddb731.png)

![image](https://user-images.githubusercontent.com/12887715/51562

[2019-01-22 20:31] lstrobel commented on #1276
You mean to create these mockups? Yeah I just used the developer tools to manually add underlines.

[2019-01-22 20:45] aileenzeng commented on #1397
Some ideas:

1) We could do something like the context menu hover over severity ratings
![image](https://user-images.githubusercontent.com/25534091/51564096-1a09c200-1e43-11e9-8eb9-5c0d830a18de.png)

2) When we mouse over a label, we could make the entire label cover the suggestions box (and then maybe fade out after 500ms or when the user's mouse moves from the examples box)
![image](https://user

[2019-01-22 21:01] misaugstad commented on #1196
@jonfroehlich do you think this is something that would be useful for our upcoming deployment? we could probably find someone with cycles to implement this

[2019-01-22 21:04] jonfroehlich commented on #1196
Ugh, I don't know. I think the pop-up interface is already getting so busy and if we add this, I think we'd have to do a complete redesign. Also, now that we have validation missions, perhaps this becomes less important? I'd still like to keep this ticket open but I think we could take off the NextCity tag (and shift it to generation 3 discussions).

[2019-01-22 21:15] misaugstad commented on #1196
I totally agree with all of that.

[2019-01-22 21:15] jonfroehlich commented on #1397
I was thinking more of the first one--but you could increase the size of the pop up. IMO, it need not be so small.

[2019-01-22 23:54] misaugstad commented on #1026
The fix isn't elegant, but it does seem to work! Fixed in #1402

[2019-01-22 23:54] #1026 closed

[2019-01-23 07:10] aileenzeng commented on #1397
Sorry not sure what you were trying to ask here 😁

[2019-01-23 07:59] DoctorWarrior commented on #1298
Hello, I just applied for an account and did several tests. There are several situations I noticed that are different from what you described:
1. When I signed in, the tutorial did not show up. The welcome message "your first mission is to..." showed up. I think this is ok since I would like to have that reminder if I am in the middle of a mission.
2. There is a potential tag-count bug: at first,

[2019-01-23 13:00] jonfroehlich commented on #1397
Sorry about that. Autocorrect!

I meant: how does this look if you mouseover thumbnail from right column (furthest from GSV pane). Your mocks only show mousing over left column images.

Sent from my iPhone

[2019-01-23 18:54] misaugstad commented on #1298
I meant that if the page loads and you are already in the tutorial, then you sign in, the tutorial _stays up_. I didn't mean that when you sign in the tutorial appears if it wasn't already there.

I'm assuming you mean label-count here.

This is something we've decided not to fix right now. The labels you place before signing in aren't being counted towards your label count after sign-in + page re

[2019-01-23 19:15] misaugstad commented on #734
Closing via #1319

[2019-01-23 19:15] #734 closed

[2019-01-23 20:32] misaugstad commented on #948
closing via #950

[2019-01-23 20:32] #948 closed

[2019-01-23 23:09] aileenzeng commented on #1397
I was thinking we could have something like this:

![image](https://user-images.githubusercontent.com/25534091/51643159-6676ff80-1f20-11e9-87c3-e5de4ebad653.png)

Or we could keep the same design as earlier (and not have the popup move around even for pictures that are on the right side).
![image](https://user-images.githubusercontent.com/25534091/51643296-d08fa480-1f20-11e9-973f-cb47c62fc750.png)

[2019-01-23 23:11] jonfroehlich commented on #1397
I like the first option (co-located with mouseover)

On Wed, Jan 23, 2019 at 3:09 PM Aileen Zeng <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-24 00:11] andrew4699 commented on #552
![](https://puu.sh/CBlr6/54064f3f13.png)

[2019-01-24 00:17] misaugstad commented on #552
Looks good!

[2019-01-24 00:39] andrew4699 commented on #552
@jonfroehlich I agree. Bold in the "click here to..." makes it seem like the primary call to action when in reality they should really finish before clicking.

[2019-01-24 02:51] aileenzeng commented on #1086
I think issues with the `javax.media jai-core` should be resolved in #1340! (this is over a year late but maybe that'll help unbottleneck if this is revisited 😁)

[2019-01-24 03:00] tongning commented on #1086
Nice, perfect time to revisit this 😎

[2019-01-24 03:59] andrew4699 commented on #552
@jonfroehlich Should I go ahead and add that in?

[2019-01-24 04:03] andrew4699 commented on #552
!(https://puu.sh/CBrtL/18f07fdb2f.png)

[2019-01-24 04:09] jonfroehlich commented on #552
Pleas keep all screenshots on github itself (you can copy/paste images from your clipboard or drag-and-drop—I always do the former).

I fear that there is too much bold here... thoughts?

Sent from my iPhone

[2019-01-24 04:11] misaugstad commented on #552
It seems like a lot of bold. I don't think it is important to have the first part bold. Although it would be better if they finished the intersection, our main concern here is making sure that users know how to continue and don't get stuck at the end of the intersection.

[2019-01-24 04:40] andrew4699 commented on #552
I don't think bolding is the correct approach for "click here..". It should afford that it's clickable by being a button or arrow. This would solve the bolding issue and make it clearer that there's a call to action available.

[2019-01-24 04:46] jonfroehlich commented on #552
I'd rather us not turn this into a redesign of that UI box. We use it as a
clickable textbox in other parts of PS. Let's just do the easy thing and
move on.

While I appreciate your suggestion (and you are, ultimately right), we are
a hugely resource-constrained team and need to carefully think about how we
invest our time/effort.

On Wed, Jan 23, 2019 at 8:40 PM Andrew Guterman <notifications@git

[2019-01-24 05:39] andrew4699 commented on #552
Got it. I think leaving "finish labeling..." is fine with or without bold. With bold there's still contrast with the other bold text since there's space and words separating it. Without bold we bring the user's attention to the most important part and possibly lose a small portion of the labeling (the intersection).

[2019-01-24 06:13] jonfroehlich commented on #552
let's just have one bold section since both mikey and i found that the
revised UI had too much bold.

On Wed, Jan 23, 2019 at 9:39 PM Andrew Guterman <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehl

[2019-01-24 06:58] andrew4699 commented on #1338
Here are things we can improve (in descending order of importance):
1. Cache `totalStreetDistance` and `auditedStreetDistance`. I implemented a super bad test cache in < 10 LoC for those 2 and my page loading time went down by 5x. Do we have any caching solution currently in place, either for Postgres or Scala? If not then I can look into what the best approach would be. We should cache in the mod

[2019-01-24 07:11] jonfroehlich commented on #1338
Nice breakdown Andrew. Thanks. Let’s pursue the first option and see how far that gets us.

Sent from my iPhone

[2019-01-24 12:20] paarig commented on #825
@jonfroehlich @misaugstad Sorry it took a while was dealing with a bunch of bugs and issues but I have included the preliminary implementation for the gif instructions below. Please let me know your thoughts.
<img width="1051" alt="screen shot 2019-01-24 at 4 17 30 am" src="https://user-images.githubusercontent.com/29468022/51677697-47fc1d00-1f8f-11e9-97ab-0f260338f9b6.png">

[2019-01-24 13:55] jonfroehlich commented on #825
Great work. Can you copy/paste the other dialog boxes that come up on the
first mission so we have a visual comparison? Then I'll provide some more
detailed comments.

On Thu, Jan 24, 2019 at 4:20 AM Paari Gopal <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://

[2019-01-24 19:38] misaugstad commented on #552
closing via #1404

[2019-01-24 19:38] #552 closed

[2019-01-24 19:39] misaugstad commented on #1309
closing via #1378

[2019-01-24 19:39] #1309 closed

[2019-01-24 20:08] misaugstad commented on #1244
This is no longer necessary, since we removed the graphs that compute auditing time from the admin page.

[2019-01-24 20:08] #1244 closed

[2019-01-24 20:13] misaugstad commented on #1184
PR #1321 makes significant improvements here. We now use clustered attributes instead of raw labels, and the load time is closer to 5 seconds (still not fast enough though). Still more improvements to make, so leaving this open.

[2019-01-24 20:14] misaugstad commented on #1135
We opted to just remove this table. Closing via #1328

[2019-01-24 20:14] #1135 closed

[2019-01-24 20:15] misaugstad commented on #1093
We are no longer using the sidewalk-mturk-v2 branch for anything (and don't plan to in the future), so I'm closing this issue.

[2019-01-24 20:15] #1093 closed

[2019-01-24 20:17] misaugstad commented on #1015
This is implemented in the 1059-accuracy-calculation branch. It could not be merged further upstream b/c we needed a more up-to-date javascript library here that breaks the tool upstream. However, we are not using the sidewalk-mturk-v2 branch for anything anyway, so it is not important. This implementation is done, so I'm closing this.

[2019-01-24 20:17] #1015 closed

[2019-01-24 20:21] misaugstad commented on #955
This issue has been replaced by a similar one in our data analysis repo (https://github.com/ProjectSidewalk/sidewalk-data-analysis/issues/7). And the current status of this analysis can be found here: https://github.com/ProjectSidewalk/sidewalk-data-analysis/blob/master/R/stats_for_paper.md#data-characteristics

[2019-01-24 20:21] #955 closed

[2019-01-24 20:22] misaugstad commented on #909
After PR #1321 load time is closer to 5 seconds, still not good enough though!

[2019-01-24 20:31] misaugstad commented on #480
And after PR #1319 we completely overhauled missions and this is no longer an issue :+1:

[2019-01-24 20:31] #480 closed

[2019-01-24 20:43] misaugstad commented on #872
We have finished these experiments.

[2019-01-24 20:43] #872 closed

[2019-01-24 20:50] misaugstad commented on #243
I believe the issue here is that we consider a street to be "connected" to the current street if it has an endpoint that is "close enough" to the endpoint you are currently at. That buffer can occasionally be too large, resulting in the issues seen above.

[2019-01-24 20:50] misaugstad commented on #243
We could consider decreasing that buffer a bit.

[2019-01-24 21:04] misaugstad commented on #1124
The fix we have seems sufficient.

[2019-01-24 21:04] #1124 closed

[2019-01-24 21:07] misaugstad commented on #1077
We decided to keep the survey the same across user groups, though the way this was designed, we can always change this if we change our mind later. Closing since we decided it is better to keep the survey the same across user groups.

[2019-01-24 21:07] #1077 closed

[2019-01-24 21:07] misaugstad commented on #1065
We are not using the old MTurk code anymore, so this is not a problem.

[2019-01-24 21:07] #1065 closed

[2019-01-24 21:08] misaugstad commented on #1060
We have finished the mturk experiment and are no longer using this branch, so I'm closing this issue.

[2019-01-24 21:08] #1060 closed

[2019-01-24 21:08] misaugstad commented on #1058
We have finished the mturk experiment and are no longer using this branch, so I'm closing this issue.

[2019-01-24 21:08] #1058 closed

[2019-01-24 21:14] misaugstad commented on #1281
@maubinle any updates on this?

[2019-01-24 21:25] misaugstad commented on #374
We aren't using the main tool on mobile anymore, so this isn't a problem right now. We will see if any bugs appear in the new interface that @maubinle will be making.

[2019-01-24 21:25] #374 closed

[2019-01-24 21:30] misaugstad commented on #163
closing via #1370

[2019-01-24 21:30] #163 closed

[2019-01-24 21:33] misaugstad commented on #1245
This is not quite as important, since we just removed all uses of the audit task interaction table on the admin page. But still a nice to have.

[2019-01-24 21:36] misaugstad commented on #1202
The deploy instructions are located [here](https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Deploying-code-to-the-server).

[2019-01-24 21:36] #1202 closed

[2019-01-24 21:39] misaugstad commented on #702
Agreed with what @manaswis said. It seems like it has to do with clicking the button while we are in the middle of taking a step (where all interactions are disabled).

[2019-01-24 21:40] misaugstad commented on #547
This is fixed in the mission infrastructure PR! #1319

[2019-01-24 21:40] #547 closed

[2019-01-24 21:41] misaugstad commented on #536
We have switched to HTTPS when switching to Docker on UW servers, so this is no longer an issue.

[2019-01-24 21:41] #536 closed

[2019-01-24 21:49] misaugstad commented on #107
Oh hey, we have a video on the landing page :sunglasses:

[2019-01-24 21:49] #107 closed

[2019-01-24 21:58] misaugstad commented on #258
Dividing neighborhoods into smaller segments is definitely something we are doing in our current deployments (something that @richardwmcgovern has been a huge help with!).

[2019-01-24 21:58] #258 closed

[2019-01-24 22:02] misaugstad commented on #284
This is referenced in the FAQ, though I don't know which PR added this.

[2019-01-24 22:02] #284 closed

[2019-01-24 22:04] misaugstad commented on #308
We believe this was fixed in #312 and no one has documented this issue in the past 2 years, so I'll close this until we come across it again.

[2019-01-24 22:04] #308 closed

[2019-01-24 22:04] misaugstad commented on #324
This should be easier to fix now that the mission infrastructure has been updated in #1319

[2019-01-24 22:05] misaugstad commented on #346
This is no longer relevant, as we do not support touchscreens for the normal audit tool. @maubinle is working on a mobile validation interface though that should be fully featured including this.

[2019-01-24 22:05] #346 closed

[2019-01-24 22:11] misaugstad commented on #492
Overhaul of mission infrastructure solves this problem #1319

[2019-01-24 22:11] #492 closed

[2019-01-24 22:13] misaugstad commented on #494
This is fixed with the new mission infrastructure! #1319

[2019-01-24 22:13] #494 closed

[2019-01-24 22:13] misaugstad commented on #493
There is a newer issue for the same problem, #702

[2019-01-24 23:51] andrew4699 commented on #1338
See this branch; https://github.com/ProjectSidewalk/SidewalkWebpage/tree/1338-nextcity-improve-load-time.

A simple 10 minute cache is implemented for `auditedStreetDistance` and `totalStreetDistance`. **Note that this means some of the stats on the home page will update every 10 minutes.** The 10 minutes does not get reset (I tested this) when the cached value is accessed.

Can we deploy this spe

[2019-01-24 23:55] paarig commented on #1338
@misaugstad @andrew4699 Saw this and thought I might add that we could use localStorage to cache on the client side. I know that's what was used to cache relevant data on the project I worked on this summer.

[2019-01-25 00:08] jonfroehlich commented on #1338
But that doesn't help with the initial load time, which is most important.
Plus, caching server side helps *everyone*. Caching in local storage only
helps the client.

On Thu, Jan 24, 2019 at 3:55 PM Paari Gopal <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://

[2019-01-25 00:10] athersharif commented on #1338
sorry, late to the party. fortunately, Chrome provides plenty of debugging tools to debug page load times 🙂. see below:

<img width="809" alt="screen shot 2019-01-24 at 4 00 46 pm" src="https://user-images.githubusercontent.com/8128655/51716388-6d217780-1ff1-11e9-959e-e925cf364425.png">

the main video file is 3.7MB (ouch!), takes a good 2.27 seconds to load (bigger ouch!). i think our first step

[2019-01-25 00:12] misaugstad commented on #1338
@andrew4699 we won't put specific branches on the test server very often (I don't want to both @mechanicjay more than we have to). But you can always submit a PR, we merge and test on the test server, and then undo the changes if we need to.

[2019-01-25 04:19] DoctorWarrior commented on #1395
W. O. W. They are amazing!!!!! Awesome job!

I am a cs undergrad with zer0 HCI experience, so I am not sure if I can provide any professional HCI perspective. However, there is one thing I would like to mention: for phone app, I think space is important as we need to show a lot of information in a small screen. I personally think the "Project Sidewalk" logo is very cool but it's a little too big a

[2019-01-25 11:44] richardwmcgovern commented on #1373
Here are the updated street subsets and neighborhood/zone polygons. Both have a `ZoneNum` field which is an identifier for the neighborhood, along with the other usual columns. I should mention that while these polygons contain most of their assigned street segments, some segments ended up outside, but close to the respective zones. @misaugstad let me know if you have any questions!
[Newberg_Zoned

[2019-01-25 11:46] richardwmcgovern commented on #1373
![newberg v3](https://user-images.githubusercontent.com/9509103/51744101-9ecb2a80-2053-11e9-9e9e-951addd55877.JPG)
I merged Airport with South Springbrook Street.

[2019-01-25 19:47] athersharif commented on #1258
@misaugstad updated the libraries but as expected there are breaking changes between these versions, which will be a pain (just tedious work). created a wip pr [here](https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1406) for tracking purposes.

can you review the changes at a higher level? i don't know awful lot about scala so i'd love suggestions on best practices, code conventions, etc 😆

[2019-01-25 19:52] misaugstad commented on #1258
Oh nooo it had been awhile since we last spoke about this so you must have forgotten: I was just asking you to resolve the compiler errors that had to do with `play-silhouette` authentication library.

In that branch I had already upgraded a bunch of libraries (not all the way to the most recent version, but bumped them at least one large version) and fixed most of the breaking changes. I just had

[2019-01-25 19:58] athersharif commented on #1258
that's where i started lol but ran into issues with the sbt version. they've deprecated the sbt version all the way to 1.x. and then if you update the sbt version then you have to bump the packages up to a version that works with that sbt version. :/

[2019-01-25 21:08] athersharif commented on #1258
@misaugstad looked at it a little bit closer. nothing wrong with the versions you're using. sometimes scala goes weird with imports and starts thinking they're relative so when you do `import slick.driver.JdbcProfile` it starts to think it's a relative package located in `models.daos` whereas what it really is, is an external package. so if we do `mport _root_.slick.driver.JdbcProfile` instead (in

[2019-01-25 21:15] misaugstad commented on #1258
OMG THANK YOU. I forgot I had that issue!! To fix it I just deleted all the compiled/build files (I actually changed the name of the relative package, but it isn't automatically deleted).

mmm you should close it out. we will always have the branch there for reference, but it is cluttered with too many style changes anyway that I don't think it is super useful.

[2019-01-25 21:19] athersharif commented on #1258
cool, that's on my fork tho so it might get lost but yeah the styling changes is just unnecessary noise. speaking of, thoughts on [scalafmt](https://scalameta.org/scalafmt/)?

[2019-01-25 21:28] athersharif opened #1407 "Use Scalafmt for Code Formatting and Consistency"
https://scalameta.org/scalafmt/

some background relevant conversation for context is [here](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/1258#issuecomment-457732662).

[2019-01-25 23:37] misaugstad commented on #1373
@richardwmcgovern why were Springbrook South and Airport merged?

@jonfroehlich since Springbrook South and Airport were merged, how do you feel about renaming "Springbrook North" to just "Springbrook", and renaming "Airport and Springbrook South" to just "Airport"?

[2019-01-26 00:36] jonfroehlich commented on #1373
I think we should try our best to go with what Newberg suggested, if possible. :)

Sent from my iPhone

[2019-01-26 00:37] jonfroehlich commented on #1373
But your names sound fine... should we clear them again w Newberg?

Sent from my iPhone

[2019-01-26 01:21] misaugstad commented on #1374
@jonfroehlich what do you think we should do about all the DC-specific press?

![press-dc-specific](https://user-images.githubusercontent.com/6518824/51780715-9b708700-20c5-11e9-9e20-f2cb7a462af7.png)

[2019-01-26 01:34] jonfroehlich commented on #1373
I *like* having some smaller neighborhoods in the mix so that shouldn’t be a driving concern. Not sure about other things you mentioned—I’d have to defer to your best judgment.

Sent from my iPhone

[2019-01-26 02:00] misaugstad commented on #1373
@richardwmcgovern note that if you make changes to the shapefiles, it will be really easy for me to create a new database from that. With the format you had it in, it was a quick turnaround to getting a new database :+1:

[2019-01-26 02:13] jonfroehlich commented on #1374
Sounds good!

Sent from my iPhone

[2019-01-26 06:43] richardwmcgovern commented on #1373
Here are the updated Newberg road segments and zone polygons. Now everything matches what I first sent to the Newberg folks with their edits.

The only issue I should mention is that the road segments don't all necessarily fit inside their corresponding zone polygons. This happens when segments extend outside of the Newberg city limits, or when they extend partially into neighboring zones. I only

[2019-01-26 06:48] richardwmcgovern commented on #1373
![image](https://user-images.githubusercontent.com/9509103/51783701-c0c7ba00-20f2-11e9-9395-9557cc327de0.png)
THE UPDATES:
ZoneNum 11 -> "Airport"
ZoneNum 14 -> "Springbrook South"
A couple other updates at the edges of Zone 14 bordering zones 1 and 12.
![image](https://user-images.githubusercontent.com/9509103/51783714-ece33b00-20f2-11e9-8ba8-0bd233e15b1d.png)
Note Zone 14 briefly extends into Zo

[2019-01-27 05:35] andrew4699 commented on #1338
@jonfroehlich @misaugstad How do you feel about the PR that went onto the test server? Is it fast enough or should I continue down my list of improvements?

[2019-01-27 14:00] jonfroehlich commented on #1338
What are the pros and cons of enabling gzip?

Sent from my iPhone

[2019-01-27 22:58] maubinle opened #1409 "Navbar labels not correctly formatted in Audit page"
The header labels ought to take this "rounded button" format:
![image](https://user-images.githubusercontent.com/16949591/51808048-b963f600-2243-11e9-8fe5-d02d55e7a861.png)

However, on the Audit page, they lose their formatting:
![image](https://user-images.githubusercontent.com/16949591/51808059-dd273c00-2243-11e9-85bc-75ae6d7c87eb.png)

[2019-01-28 02:56] maubinle commented on #1386
OK! I have implemented a solution to this that also tackles #1362 , and ensures users are only ever shown the survey exactly once (to avoid the bug Aileen saw).

The implementation that I have now shows the survey **the first time a user crosses the 30% completion mark of the second mission**. 59.8% of users who complete the first mission also complete the second, which means we can capture a sign

[2019-01-28 18:33] misaugstad commented on #1373
Awesome, thanks @richardwmcgovern ! This looks good, I'll let you know if I run into any issues.

[2019-01-28 18:44] misaugstad commented on #1386
Sounds good to me!

[2019-01-28 19:15] misaugstad commented on #1407
Pasting over the relevant bits from that thread:

@athersharif

@misaugstad

@athersharif

[2019-01-28 19:20] misaugstad commented on #1382
I vote for both! Anon users essentially have registered user accounts that they just don't have logins for (though when they restart their browser or whatever they get a new account). So we definitely wouldn't give them any labels created by the same account. We could also go further to other anonymous users who were using the same IP address when they first were auto-logged in.

[2019-01-28 20:21] misaugstad commented on #1197
closing via #1360

[2019-01-28 20:21] #1197 closed

[2019-01-28 20:21] misaugstad commented on #1230
closing via #1360

[2019-01-28 20:21] #1230 closed

[2019-01-28 20:21] misaugstad commented on #1203
closing via #1360

[2019-01-28 20:21] #1203 closed

[2019-01-28 20:31] misaugstad commented on #433
closing via #1389

[2019-01-28 20:31] #433 closed

[2019-01-29 05:01] aileenzeng opened #1410 "Update audit footer url"
Screenshot of the footer on the audit page:
![image](https://user-images.githubusercontent.com/25534091/51885218-666f6900-233f-11e9-9397-7667940715fb.png)

The hyperlink to the Makeability Lab on the audit footer still directs to the UMD site. It should probably be updated so it goes directly to `makeabilitylab.cs.washington.edu`.

[2019-01-29 10:19] paarig commented on #1092
@misaugstad Could you walk me through what changes to merge from the old feature branches you worked in? I upped the versioning of turf but it was tough for me to merge any changes from those branches since I don't know which of them are changes that are part of the calculation tool and which are part of changes made in previous develop commits that have since been overwritten by more recent chang

[2019-01-29 12:01] paarig commented on #825
@misaugstad @jonfroehlich I realized that my previous implementation was not very good so I revamped the new implementation to not only be nearly identical to the design I proposed previously, but also to make all pop-ups look uniform in both text and visual display. I also slightly adjusted where all pop-ups are visually displayed in the screen to increase visual appeal. I have attached a few ima

[2019-01-29 12:18] paarig commented on #825
@misaugstad @jonfroehlich Also, I have opened a pull request [here](https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1412).

[2019-01-29 16:52] jonfroehlich commented on #825
Neat, thanks Paari!

Sent from my iPhone

[2019-01-29 17:22] andrew4699 commented on #1338
GZip ended up being very easy to implement because it's a feature of Play that we just needed to enable. I have a local commit with it enabled but I'm not sure what happens if I push to this branch since it has already been merged. Should we make this a separate issue/branch?

[2019-01-29 17:31] misaugstad commented on #1338
@andrew4699 it will be fine if you push to this branch. you can then create another PR to merge this branch into develop again, no problem.

[2019-01-29 17:43] misaugstad commented on #1092
okay I see, I should have updated this thread.
1. We do not need to merge those changes upstream, that is too much work and is not worth it. Just update the develop branch with the updated library and make sure everything works.
2. I don't know if the _way_ that I updated the library in that branch was the right way to do it, I did it in haste and it may have been a hacky way to do it, so make sur

[2019-01-29 17:56] jonfroehlich commented on #1338
@andrew4699, did you observe any speedup changes with gzip enabled? Can you post some analytics?

[2019-01-29 20:06] athersharif commented on #1258
pushed https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1414 as a PR on your branch (also see https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1414#issue-248640129)

[2019-01-29 21:37] misaugstad commented on #1393
So what should the cursor look like when you are hovering over the label?

[2019-01-29 22:07] misaugstad commented on #493
Oops, I was wrong about that, those are different issues :+1:

[2019-01-29 22:19] misaugstad opened #1415 "Resume mission message instead of new mission message"
Occasionally when auditing and completing a mission, I will get the return to this mission message instead of the new mission message.

[2019-01-29 22:52] paarig commented on #1092
@misaugstad In that case, there is a PR [here](https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1416) that ups the turf versioning.

[2019-01-29 23:41] paarig commented on #825
@jonfroehlich Do you like the look of this implementation better than the one in my previous comment?
<img width="734" alt="screen shot 2019-01-29 at 3 39 46 pm" src="https://user-images.githubusercontent.com/29468022/51948149-48a41180-23dc-11e9-91c3-d3a3c4b5b76b.png">

[2019-01-29 23:48] misaugstad commented on #1396
@paarig did I hear that you are taking up this issue?

[2019-01-30 00:21] jonfroehlich commented on #825
Yep, I like this better. Thanks.

On Tue, Jan 29, 2019 at 3:41 PM Paari Gopal <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-30 00:23] jonfroehlich commented on #1415
Can you screenshot those two different messages so it's more clear for whoever works on this in the future? :)

[2019-01-30 00:28] jonfroehlich opened #1417 "Should we track whether a labeled pano is in an intersection or not?"
When we save meta-data about a label, should we also save some street topology information (the bare minimum being something that would distinguish a pano that is from an intersection vs. one that is not). This would be useful data for our ML algorithms but may also be used, for example, to help prioritize and sort labels for validation, for example.

[2019-01-30 00:35] misaugstad commented on #1415
Good point :wink:

Mission start screen that I expected:
![mission-complete](https://user-images.githubusercontent.com/6518824/51950023-c9b2d700-23e3-11e9-9914-4ebc796576be.png)

Resume mission that I got instead:
![resume-mission](https://user-images.githubusercontent.com/6518824/51950033-cf102180-23e3-11e9-8eef-fa1b9b384dce.png)

[2019-01-30 04:20] aileenzeng commented on #1393
@jonfroehlich made this comment on #1391:

I was thinking we could leave it as the hand if we hid the label on mouseover (so the same cursor as what we have when we hover over the GSV Panorama). Open to other suggestions too!

[2019-01-30 04:35] aileenzeng commented on #1394
Here are the most urgent tasks that I want to get done for this deployment. There are a lot of good points in this issue that I'll probably need to come back to this pretty soon after we launch in Newberg, so I want to keep track of what actually has been done. I'm also listing these in order of priority (if there's something that looks like it should be higher up, let me know!)

- [x] Make each m

[2019-01-30 05:09] jonfroehlich commented on #1394
Also, what happens when there are no more labels to validate. Edge case but you need to write code for it.

Sent from my iPhone

[2019-01-30 05:13] aileenzeng commented on #1394
Great timing - I just ran into this problem 😁. I was thinking I could write some code that checks to see that we have enough labels for a user before sending an actual mission out. I'm not sure how much time this might add (to load a new mission), but it shouldn't be too much.

From the front end, I was thinking that there could be some kind of popup that says something like "We have no more label

[2019-01-30 07:04] lstrobel commented on #456
@jonfroehlich

Based off of my research, I've come up with two general design directions that I'd like to iterate on for the social media buttons.

The first idea is to have a smaller media share button that opens up a larger context menu. Ex:
![new doc 2019-01-29 22 47 03_1](https://user-images.githubusercontent.com/12887715/51963454-7c049180-2418-11e9-9226-f747ac33f087.jpg)
\- would open up:
![i

[2019-01-30 13:17] jonfroehlich commented on #456
I like the first one best. Share button on left side (what's this icon look
like?) and then a pop-up to help with the share action.

What are the key platforms? I think Twitter, Instagram, and Facebook? But
what do I know? I'm most interested in posting to Twitter...

Jon

On Tue, Jan 29, 2019 at 11:04 PM Lukas Strobel <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G.

[2019-01-30 13:31] jonfroehlich commented on #1394
Agree with both of your solutions. Thanks Aileen!

On Tue, Jan 29, 2019 at 9:13 PM Aileen Zeng <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-30 18:08] misaugstad opened #1418 "Something wrong with how users access audit page admin chart"
The chart below looks really off.

1. The logging of clicking "Start Mapping" on the navbar may be broken. There has to be a nonzero number of people who have clicked on that button.
1. We are missing a _huge_ amount of the traffic to the audit page. This chart only purports to show the conversions from the landing page to the audit page, so there is going to be some discrepancy here, since users

[2019-01-30 19:45] jonfroehlich opened #1419 "Landing Page for Mobile"
Now that @maubinle is working on a mobile interface for validation, I think we need to revive our work on making a mobile-friendly version of the Project Sidewalk landing page. My hope is that *most* of this can just be used and we filter out or change a few sub-sections. For example, "How you can help" should likely be more targeted on explaining validation and the "Pick a Neighborhood" sub-secti

[2019-01-30 19:48] jonfroehlich opened #1420 "Add "Start Validating" button to menubar"
In our meeting yesterday, we discussed adding a 'Start Validating' button to menubar just after the 'Start Mapping' button. I wonder if it should be 'Start Validating' or 'Start Validating Labels'

![image](https://user-images.githubusercontent.com/1621749/52008063-ae4bd880-2484-11e9-8eed-44d6dc4d6b86.png)

[2019-01-30 19:52] jonfroehlich commented on #281
I would have to go back through my emails to determine exactly who has contacted us in the past about PS deployments, but the list includes:

- [ ] Austin, Texas
- [ ] Newberg, OR
- [ ] Some city in Pennsylvania, I think?
- [ ] Los Alamos, NM
- [ ] Mexico City, MX
- [ ] ...

In selecting next cities for deployment, I want to consider: geographic diversity, city size, and whether we have a local ad

[2019-01-30 19:57] jonfroehlich opened #1421 "Add in information about labeling brick in labeling guide"
https://www.mysuncoast.com/2019/01/30/community-with-disabilities-call-city-sarasota-use-different-materials-downtown/

I think we should improve the labeling guide to mark brick as a surface problem (even if just low severity unless broken brick is visible). Could be added to the cobblestone part of the labeling guide here: https://sidewalk-test.cs.washington.edu/labelingGuide/surfaceProblems. I

[2019-01-30 20:00] jonfroehlich opened #1422 "Labeling guide sub-sections need hyperlinks"
Similar to [Django docs](https://docs.djangoproject.com/en/2.1/), the [Makeability Lab FAQ](https://makeabilitylab.cs.washington.edu/faq/) and other sites, I want a mouseover permalink for each header so we can hyperlink directly to parts of the guide.

Example of what I want:
![image](https://user-images.githubusercontent.com/1621749/52008991-b1e05f00-2486-11e9-9a0a-0810d7d2290f.png)

Example of

[2019-01-30 21:34] andrew4699 commented on #1338
I didn't _notice_ any change in loading time, but the download size decreased from 16MB to 13MB (about a 20% savings). Generally, gzip will largely benefit those with slower internet connections and those with fast connection times don't notice a difference. Plus, it's already implemented so no additional work is necessary.

[2019-01-30 21:36] jonfroehlich commented on #1338
Sure, sounds good. And I imagine we're not getting a huge decrease because
the images and video are already compressed...

On Wed, Jan 30, 2019 at 1:34 PM Andrew Guterman <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://

[2019-01-30 22:11] misaugstad opened #1423 "admin view of user page error"
I get this error when visiting the admin user dashboard (/admin/user/<username>):
![admin-user-dashboad-bug](https://user-images.githubusercontent.com/6518824/52016207-c6c5ee00-2498-11e9-8803-bea82f368b37.png)

onError Happened
Execution exception[[IllegalFormatConversionException: f != java.lang.Integer]]

Not a super high priority, but we do need to fix it!

[2019-01-30 22:14] misaugstad commented on #1423
I think this doesn't happen for users who haven't started to tutorial, so it may have something to do with the tutorial mission (or any other piece of data we use on the page: audits, labels).

[2019-01-31 01:07] misaugstad commented on #825
closing via #1412

[2019-01-31 01:07] #825 closed

[2019-01-31 02:50] andrew4699 commented on #1338
I think more optimization should be done. On UW wifi it takes ~4 seconds to see the text at the top of the landing page for first time users. On "Fast 3G" wifi it takes ~8 seconds. If we continue with (3) then I should be able to get more important things like that text to appear first.

[2019-01-31 03:48] jonfroehlich commented on #578
Awesome. Keep up the good work.

Sent from my iPhone

[2019-01-31 03:53] jonfroehlich commented on #1338
Sure. Let’s try (3) then!

Sent from my iPhone

[2019-01-31 19:15] misaugstad commented on #1397
closing via #1408

[2019-01-31 19:15] #1397 closed

[2019-01-31 19:15] misaugstad commented on #1399
closing via #1408

[2019-01-31 19:15] #1399 closed

[2019-01-31 21:08] andrew4699 commented on #1338
How much quality are you willing to lose from the hero video? The following version saves 2MB:

![](https://puu.sh/CFhOE/8a40d553ae.gif)

(Note that this is a gif of a video so it can be unclear. Here's the actual video file: https://puu.sh/CFhS2/e797f408fd.webm)

[2019-01-31 21:38] jonfroehlich commented on #1338
I'd prefer not to lose any quality.

On Thu, Jan 31, 2019 at 1:09 PM Andrew Guterman <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-01-31 22:57] mechanicjay commented on #1338
A note or two on caches.
1) I note that there are no cache-control headers getting sent, so clients need to go back to the server a lot, needlessly.   Adding a cache-control header at the front-end proxy is trivial.  It doesn't help initial page load, but should help immensely when navigating around the site.  That would also alleviate some load from the back-end, allowing it concentrate on the im

[2019-02-01 00:04] jonfroehlich opened #1425 "Just loaded audit page on newberg and it immediately (and loudly) cheered for me"
which was quite unsettling. we *have* to change these horrible sound effects.

![image](https://user-images.githubusercontent.com/1621749/52093939-ebda5f80-2571-11e9-9c0c-c69887b097fe.png)

[2019-02-01 00:06] jonfroehlich commented on #1338
Both those things sound good. How much work is this to do?

On Thu, Jan 31, 2019 at 2:57 PM mechanicjay <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-01 02:12] andrew4699 commented on #1338
I got about a 2 second improvement on local, "Fast 3G" first load by rearranging the load-order of some assets and getting rid of some unused assets on the landing page.

We can add cache-control headers on our end if we decide to go with it. I'm experimenting with them at the moment and it seems like Play has a way to do it but it's poorly documented.

Would the in-memory cache be done through th

[2019-02-01 04:50] jonfroehlich commented on #248
![image](https://user-images.githubusercontent.com/1621749/52103267-b0ec2200-2599-11e9-8a63-777fdf934059.png)

Newberg, OR

svl.panorama.getPano();
"0R2JTLibSCNsNb7aGNUzWg"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
637

[2019-02-01 04:55] jonfroehlich opened #1426 "No Sidewalk label probably needs a pop-up dialog like other label types"
![image](https://user-images.githubusercontent.com/1621749/52103386-47b8de80-259a-11e9-9bd7-437dbb8074e8.png)

If nothing else, the pop-up menu should let the user write in a description (and possibly tags)... but I suppose it needs a five-star rating too just to keep consistency.

And this was prompted by the above screenshot because I wanted to write in a description for the 'no sidewalk' label

[2019-02-01 04:57] misaugstad commented on #1426
is this just for the sake of consistency? or do you think it is important to have a description box and tags?

and should we add the context menu for the obstruction label as well then?

[2019-02-01 04:57] misaugstad commented on #1426
ahh, you edited :) I see

[2019-02-01 05:03] jonfroehlich opened #1427 "Black GSV pane common in Newberg?"
I've run into a black GSV pane quite a few times on my first few audits in Newberg. I was able to either: (1) wait a while and it would load; (2) take a step and it would load a new pano.

Here's an example:

![image](https://user-images.githubusercontent.com/1621749/52103632-800cec80-259b-11e9-9b8e-713a1df4342c.png)

[code]

[2019-02-01 05:04] misaugstad commented on #1427
Interesting, I audited close to a mile and didn't come across that.

[2019-02-01 05:15] jonfroehlich opened #1428 "Change -- to em dash (—)"
![image](https://user-images.githubusercontent.com/1621749/52103990-40470480-259d-11e9-9c0f-41ed0e755ecc.png)

http://www.thepunctuationguide.com/em-dash.html

[2019-02-01 16:02] jonfroehlich opened #1429 "Change 'Start Mapping' to 'Start Exploring'? And add orange 'Start Validating' button"
Change 'Start Mapping' to 'Start Exploring' and add orange 'Start Validating' button next to it. I think 'Start Exploring' feels more intriguing and exciting.

![image](https://user-images.githubusercontent.com/1621749/52134054-95176900-25f7-11e9-9f5b-2e8276fbe033.png)

Related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/1420 (but that only covers menu bar).

[2019-02-01 16:56] jonfroehlich opened #1430 "Need to add in some validation stats to admin dashboard"
![image](https://user-images.githubusercontent.com/1621749/52137310-1cb4a600-25ff-11e9-99ed-1168e554d9da.png)

I could imagine a table like the one on the left but for tracking validations.

Could also consider adding in validation info into user dashboards.

[2019-02-01 18:18] misaugstad commented on #1276
closing via #1403

[2019-02-01 18:18] #1276 closed

[2019-02-01 18:21] misaugstad opened #1431 "label tag shortcut for grass underline not visible"
As noted by @paarig in #1403 the keyboard shortcut for the "grass" tag for surface problems is not visible. It is under the letter 'g' but you can't really see it due to the look of the 'g' in this font.

<img width="323" alt="screen shot 2019-01-31 at 9 28 05 pm" src="https://user-images.githubusercontent.com/29468022/52104443-81d8af00-259f-11e9-8bcf-2386508598a1.png">

[2019-02-01 19:52] misaugstad commented on #1425
The issue for the sound effect change is #331 and the cheering happening when you loaded the audit page is almost certainly b/c the parameterization code was not on the server yet :grin: if this happens again we can reopen, but for now I'm going to close it.

[2019-02-01 19:52] #1425 closed

[2019-02-01 19:54] misaugstad commented on #1426
@jonfroehlich was this just a thought, or are you convinced that we should have the context menu for NoSidewalk and Obstruction? I think it is very rare that we would need severity or descriptions for these label types.

[2019-02-01 19:57] misaugstad commented on #1427
I just audited the same street you said you had problems on, and I didn't run into any issues. The slow to load panos sound more like an internet connection issue to me.

[2019-02-01 20:04] #1428 closed

[2019-02-02 17:46] misaugstad commented on #853
Below I show each label where we rate severity in the tutorial, followed by the initial text that shows on the screen (and my suggestions for how to change it), and finally the text that is shown when you give the wrong severity rating (and my suggested changes).

@aileenzeng and possibly @jonfroehlich could you take a look at these suggested changes and let me know what you think?

First label (c

[2019-02-02 18:02] jonfroehlich commented on #853
If we are making changes to tutorial maybe we also update animations and add in tagging? Thoughts?

Sent from my iPhone

[2019-02-02 18:05] misaugstad commented on #853
yeah those all need to be done in the near future. I'm just breaking off a piece of it right now by doing the wording :blush:

I'm working on the wording b/c I think it is best that either @aileenzeng or myself do it b/c we are most familiar with the labeling guide. I'm hoping other undergrads will work on the animations on the tagging.

[2019-02-02 18:12] jonfroehlich commented on #853
Sounds good!

Sent from my iPhone

[2019-02-02 21:09] jonfroehlich commented on #578
I don’t like any of those suggestions. :)

Sent from my iPhone

[2019-02-03 05:52] maubinle commented on #1395
After user studies, here are 3 more mocks that I think accurately consolidate the feedback I've been hearing.
Here are some of the consolidated learnings from initial user testing (I left my book with most of this info at work so will add more later):
- Swiping interface did not perform as well as expected. People felt this was a learned behaviour instead of a natural one, so it would not be appro

[2019-02-03 22:56] jonfroehlich commented on #1427
Agree. Let's keep this open a bit longer to see if others experience it...

On Fri, Feb 1, 2019 at 11:57 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-04 18:03] jonfroehlich opened #1435 "Trash can tag -> "Trash/recycling can""
I think the trash can tag should be: "trash/recycling can"

![image](https://user-images.githubusercontent.com/1621749/52227310-00657300-2864-11e9-9422-e373ddc592ee.png)

[2019-02-04 18:14] jonfroehlich opened #1436 "Admin: clicking on an anonymous user results in IllegalFormatConversion"
Clicking on an anonymous user in the Users tab in admin interface:

![image](https://user-images.githubusercontent.com/1621749/52227864-9fd73580-2865-11e9-8861-283ec2b9c62b.png)

![image](https://user-images.githubusercontent.com/1621749/52227842-89c97500-2865-11e9-905d-8674bb676da0.png)

[2019-02-04 18:16] jonfroehlich commented on #1426
I think having tags + descriptions for No Sidewalk is helpful (it's unclear what the severity rating would mean, however, so not sure we want that...)

[2019-02-04 18:18] misaugstad commented on #1436
duplicate of #1423

I'll add some of the info from here to make it more easily searchable.

[2019-02-04 18:18] #1436 closed

[2019-02-04 18:59] jonfroehlich opened #1437 "Would smaller neighborhoods be more effective in motivating work?"
As I play around with Newberg, I'm struck still by how large the neighborhoods are. I've probably completed ~8 or so missions in a single neighborhood and I haven't even reached 20% completion for the neighborhood as a whole. When I get the 'end-of-mission' screen, I feel good that I finished a mission but demotivated by how much work is left to do before I can explore a new neighborhood.

A few w

[2019-02-04 19:38] misaugstad commented on #1437
Interesting! I had the opposite experience. But that is likely because I was auditing a smaller neighborhood _and_ because I am thinking of it in comparison to DC where we had larger neighborhoods than this.

And related to this is that instead of showing how close you are to *personally* completing the neighborhood, we should probably be showing how the community as a whole is to completing the n

[2019-02-04 19:59] jonfroehlich commented on #1437
I'd be curious to hear from others on this like @maubinle, @aileenzeng, and some of the new students (@andrew4699, @paarig, @lstrobel, etc.)

Yes, I think emphasizing wha the community, as a whole, has completed + your contribution to that is important. Of course, we also have to be mindful of how this may affect when we assign the same route multiple times.

[2019-02-04 20:04] jonfroehlich commented on #1391
Hmm, I guess I don't love hiding the label on mouseover now. Consider this example. When the screen first loaded, the label was down at the bottom--so I naturally wanted to grab the GSV pane and move it up to center the label and get a better look. If, upon mouseover, the label disappeared, then I wouldn't be able to pan/zoom into that label.

![image](https://user-images.githubusercontent.com/162

[2019-02-04 20:05] jonfroehlich commented on #1393
1. When you mouseover the GSV pane, the cursor should change to an open hand. When you click to pan, the cursor should change to a closed hand

2. When you mouseover the label, perhaps we just ignore the mouseover and keep the cursor as it is for (1) above.

[2019-02-04 20:06] jonfroehlich opened #1438 "Are we logging all interactions in validation interface"
Including zooms, pans, etc.

[2019-02-04 20:10] jonfroehlich opened #1439 "There is a difference between 'No sidewalk' and 'Missing sidewalk'"
There is a significant difference between a 'No sidewalk' label and a 'Missing sidewalk' label. The latter indicates that there *should* be a sidewalk (it's diagnostic and prescriptive) while the former simply says there is 'no sidewalk' here.

The button in the labeling interface is called 'No Sidewalk' but in the validation interface, we refer to it as a missing sidewalk label. And this gets som

[2019-02-04 20:11] misaugstad commented on #1391
I don't understand. I don't see how those are really connected.

[2019-02-04 20:13] misaugstad commented on #1439
I agree, and I think this should be changed from "missing sidewalk" to "no sidewalk" on the validation interface. We just need to think of a good way to word it. Since "Is this a No Sidewalk?" doesn't really make sense.

[2019-02-04 20:15] jonfroehlich commented on #1391
Updated my comment, does it make more sense now?

[2019-02-04 20:19] jonfroehlich commented on #1439
And validating 'no sidewalk' labels just seems hard overall. We need to think about this more deeply--perhaps a different validation interface is called for here. Once @aileenzeng fixes the validation interface so it serves validation missions by label type, we could decide on whether to include 'No Sidewalk' label types at all at this point. More testing and usage is needed.

[2019-02-04 20:19] aileenzeng commented on #1438
Here is a list of actions that we are currently tracking:
* Mouse events (down, up, click)
* Keyboard events (keydown, keyup)
* Unload (when user leaves the page)
* Keyboard shortcuts for validating labels, zooming in and out
* PanoID changed, POV changed
* All interactions when the user clicks the feedback button

Are there more that we want?

[2019-02-04 20:22] jonfroehlich commented on #1438
Is this how we log in the normal PS labeling interface? Because I would have thought we would log semantically (e.g., Zoom In, Zoom Out, Pan Started, Pan Ended)... but if you can recover these details from your more fine-grained logging, then I think we're fine.

[2019-02-04 20:23] aileenzeng commented on #1439
@misaugstad Agreed! The wording was the main reason that I had used 'missing sidewalk' originally. Maybe it could be something like "Is this a No Sidewalk label?"

[2019-02-04 20:25] jonfroehlich commented on #1439
"Is this an accurate placement of a 'No Sidewalk' label?"

On Mon, Feb 4, 2019 at 12:23 PM Aileen Zeng <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-04 20:33] jonfroehlich opened #1440 "Frequency of pop-ups in Mission 1"
While @paarig has improved the pop-up dialogs in Mission 1, I don't think he's addressed the frequency with which these pop up. I feel like we are bombarding users with these screens and don't properly space them out... and each time something pops up, it takes the user away from the auditing experience (just feels abrupt and distracting). Perhaps we can push some of these screens to the second mi

[2019-02-04 20:40] misaugstad commented on #1391
Note that you can't even do that now b/c you can't pan when you start with your cursor on the label. And that isn't even really something that we notice.

[2019-02-04 20:42] misaugstad commented on #1439
It seems like the easiest label type IMO :rofl: You just see if there is a sidewalk or not :grin:

[2019-02-04 20:45] andrew4699 opened #1441 "Jump goes 1 foot away and between same 2 points"
(Newberg)

When I hit jump > explore a new area, I go to a location 1 foot away from where I jumped. If I hit jump from that new location, it takes me back to my original spot. This continues between edges **959** and **830**.

[2019-02-04 20:50] jonfroehlich commented on #1391
I wasn't talking about starting with my mouse over the label. I was referring back to discussions with @aileenzeng about how to best show/hide the label (because the label sometimes obscures the underlying labeled target, which is necessary to see for validation). I had previously proposed that one way to hide the label would be simply when the mouse cursor enters the GSV pane--I am now taking bac

[2019-02-04 20:51] jonfroehlich commented on #1439
Yah... maybe but some places don't need or shouldn't have sidewalks (in which case, do they need a 'no sidewalk' label?)

[2019-02-04 20:51] andrew4699 opened #1442 "Route started on highway"
(Newberg)

![chrome_2019-02-04_12-48-59](https://user-images.githubusercontent.com/7133966/52236335-71645500-287b-11e9-87c8-2ab111b1e48b.png)

I didn't catch the street edge ID but I was placed on this highway-like road for one of my routes. I found it on Google Maps: https://www.google.com/maps/@45.3119969,-122.9286086,3a,75y,272.03h,84.36t/data=!3m7!1e1!3m5!1sUQcM5R0YoKo-JB7IaBEl7Q!2e0!6s%2F%2Fg

[2019-02-04 20:51] misaugstad commented on #1391
Yikes, thanks for clearing that up. I just read right over that part, sorry!

[2019-02-04 20:54] misaugstad commented on #1439
Yeah but I thought that the way we having been dealing with this label is just use it to record the presence/absence of sidewalk, and we aren't trying to say it is _necessarily_ bad to have no sidewalk somewhere. I thought we had left deciding whether it was necessary to future work (route planning, considering the two sides of the street, etc).

[2019-02-04 20:57] jonfroehlich commented on #1439
Right, ok. We will need to make this clear. I still think validating this
label type is weird. Try to do some validations now, I guarantee you'll get
some 'No Sidewalk' label types to validate... what do you think?

On Mon, Feb 4, 2019 at 12:54 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University

[2019-02-04 21:02] misaugstad commented on #1439
Yeah I'm doing some now and it seems normal to me...

Although if we are really just verifying that there is no sidewalk somewhere, then I imagine we will be hitting the "Disagree" button rather infrequently :rofl:

It seems like if that is what the NoSidewalk validation missions are, we could make them larger since they would be validated faster. This seems like the real situation where a Picassa

[2019-02-04 21:03] misaugstad commented on #1442
So the OSM road categorization isn't an exact science... And there are a couple roads that end up in our dataset that look like this. And removing this category of street would also remove some streets that should truly be included in our dataset.

My opinion is that going through to weed out the few streets like this isn't worth our time. We had some streets like this in DC too. We just placed a

[2019-02-04 21:08] misaugstad opened #1443 ""the message port closed before a response was received" console error"
While moving my mouse around the GSV pane I am getting this error continuously. I don't know if this is causing any issues.

![js-console-error1](https://user-images.githubusercontent.com/6518824/52237239-dcaf2680-287d-11e9-920c-06e830433c97.png)

[2019-02-04 21:10] jonfroehlich commented on #1442
Agree. As long as they are not too common. We should continue to keep track.

Sent from my iPhone

[2019-02-04 21:15] misaugstad commented on #1443
I am also seeing this on the production sidewalk site. According to this thread it seems to be just noise, but it also says how to fix it: https://github.com/mozilla/webextension-polyfill/issues/130

[2019-02-04 21:17] misaugstad opened #1444 "keyboard "cannot read property "getProperty" of null" console error"
On the audit page I am getting the following error whenever I hit a key on the keyboard _until I place a label_. Once I've placed a label, this no longer happens. The most recent stuff to mess with the keyboard is  PR #1403 so could you check this out @lstrobel to see if you can figure out what happened?

[2019-02-04 21:30] jonfroehlich opened #1445 "Create 'ground truth seeding' dataset for validation interface"
@maubinle has previously talked about 'ground truth seeding' (aka 'golden insertion') for our validation interfaces. I think this is a good idea. We need to figure out:

- How to implement this (from a code architecture and software engineering perspective). :)
- What are seeding dataset should be (mixture of all label types, which could be pulled from any city that we deploy in tbh but ideally sh

[2019-02-04 21:40] misaugstad commented on #853
@aileenzeng or @jonfroehlich could you read through the suggested changes to make sure we have A+ text in the tutorial? :blush:

[2019-02-04 22:31] misaugstad commented on #1426
Okay let's start brainstorming some tags then, here are some first thoughts from me: sidewalk on other side of street, sidewalk abruptly ending, no sidewalk on either side of street

I think that we should not include the severity rating... Like you said it is unclear what that would really mean. And if we really wanted to keep consistency with the rest of the label types, we would have to include

[2019-02-04 22:32] misaugstad commented on #1438
Awesome, so it seems like you are logging everything that we log on the audit interface (and I remember discussing this with you as you were writing the code as well). So I think we can close this issue?

[2019-02-04 22:44] jonfroehlich commented on #1426
When I see 'obstruction', I thought you were referring to 'obstacles in path' and I was confused. But instead, you are referring to occlusion--that is, the user can't see the target subject (that is, the sidewalk). :)

I like your tag lists but not sure about vegetation--I can't think of a case when a sidewalk has been occluded by vegetation.

[2019-02-04 22:48] misaugstad commented on #1426
Oops, thank you :sweat_smile: yes I meant occlusion! And yeah I guess vegetation is only a problem for me when the sidewalk is far away from the street (and then there are trees and stuff in the way as well).

I would love input from others on the tag list!

[2019-02-04 23:08] jonfroehlich commented on #853
Just read them over, I think they look good. We did add length, though... and I'm worried that crowd workers already don't really read. :-/

[2019-02-04 23:12] jonfroehlich opened #1446 "Additional training on common labeling mistakes"
How can we best train users to avoid the common labeling errors we discovered in our [CHI'19 paper ](https://makeabilitylab.cs.washington.edu/media/publications/Saha_ProjectSidewalkAWebBasedCrowdsourcingToolForCollectingSidewalkAccessibilityDataAtScale_2019.pdf)(see section entitled 'Common Labeling Errors').

Here's our discussion from Slack with three different solution ideas:

![image](https://

[2019-02-04 23:14] misaugstad opened #1447 "update about page with new team members"
looks like we haven't updated the about page since Fall of 2017 :rofl: Others please help me edit this post with changes that need to be made:

- [ ] my name: "Michael" -> "Mikey
- [ ] my title: "Graduate Student" -> "Research Scientist" or "Project Lead" or something
- [ ] Teja: "Summer 2017 - Present" -> "Summer 2017 - Spring 2018"
- [ ] Johann and Sarah "Fall 2017 - Present" -> "Fall 2017"
- [

[2019-02-04 23:16] misaugstad commented on #1446
and the ground truth seeding issues is #1368

[2019-02-04 23:17] jonfroehlich commented on #1446
Interesting to also think about how to correct common 'False Negative' mistakes...

[2019-02-04 23:32] aileenzeng commented on #1420
I'm taking a small breather and decided to work on this for a bit. I'm also addressing #1429 since they are very similar.

Normal - no hover
![image](https://user-images.githubusercontent.com/25534091/52244211-61577000-2891-11e9-973e-3f8881230908.png)

Here's what it would look like if I hovered over all four buttons at the same time:

Option 1: Validation button is orange (all others are the same

[2019-02-04 23:34] aileenzeng commented on #1447
Add me too! 😄

- [ ] Add Aileen: "Summer 2018 - Present"

[2019-02-04 23:35] jonfroehlich commented on #1420
I think stick with the current no hover (all white) and hover (yellow) approach.

[2019-02-04 23:37] jonfroehlich commented on #1447
Also move David Jacobs to Alumni and put his completion date as Fall 2014.

[2019-02-04 23:40] misaugstad commented on #1447
@jonfroehlich we missing any publications down there?

[2019-02-04 23:41] misaugstad commented on #853
Yeah that is the one concern :/

[2019-02-04 23:45] jonfroehlich commented on #1447
I wonder if the About Us page should just point to makeabilitylab.io/projects/projectsidewalk so that we don't have to maintain multiple pages?

[2019-02-04 23:46] jonfroehlich commented on #1447
Also, I don't typically add new students (e.g., Olga) until after they've completed their trial period.

[2019-02-04 23:46] aileenzeng commented on #853
The descriptions look good to me too!

[2019-02-04 23:49] aileenzeng commented on #1447
Should we also upload higher resolution images of the publication images? They're pretty blurry on my computer.

[2019-02-04 23:54] misaugstad commented on #1447
100% are there any downsides? I love this idea.

[2019-02-04 23:57] misaugstad commented on #1431
closing via #1434

[2019-02-04 23:57] #1431 closed

[2019-02-04 23:59] jonfroehlich commented on #1447
Maybe the call-to-action and about us sections are less clear on the makeabilitylab website but other than that, no downsides?

[2019-02-05 00:20] misaugstad commented on #1447
IMO that is worth moving to just the ML site then... We could also improve the call to action there if we wanted.

Also note that if we keep the current about page, there is a projecsidewalk.io/audit link in there that should be a relative link instead.

[2019-02-05 00:32] misaugstad commented on #1447
Oh also a bunch of the team members have links to their UMIACS ML website page, and they just get redirected to the main UW ML landing page. The links need to be fixed to go directly to the user pages on UW site.

[2019-02-05 06:37] maubinle commented on #1395
OK, after more user studies on these 3 mocks I came up with the final mock which I think is quite close to the final form:
![image](https://user-images.githubusercontent.com/16949591/52256890-4f93be00-28cd-11e9-9937-2b223b6b5659.png)

This design truly maximises screen space, and also rearranges the "more info" section based on user feedback. I will solicit more feedback on the slack channel and t

[2019-02-05 06:50] maubinle opened #1449 "got "neighborhood complete!" without doing anything"
repro instructions:
1. went to the newberg test site
2. clicked "start mapping" from the home page
3. without doing anything, I saw the following UI superimposed on the tutorial UI
![image](https://user-images.githubusercontent.com/16949591/52257266-f75dbb80-28ce-11e9-8a4b-c79d585a0b2b.png)
This was at ~10:46pm PST. I have not been able to repro so I think this is low pri for now but still thought

[2019-02-05 14:23] jonfroehlich commented on #1395
I like it!

I'm still not sure about the order of Yes to No. Have you done any design
research on this? The advantage of the 'Yes' button on the right is that it
will be thumb accessible for right-handers and we expect 'Yes' far more
than the other options.

Jon

On Mon, Feb 4, 2019 at 10:37 PM Marianne Aubin <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen Sch

[2019-02-05 15:47] jonfroehlich opened #1450 "'Mission Complete' screen: green route not shown if street not finished"
![image](https://user-images.githubusercontent.com/1621749/52284898-31a07a80-291a-11e9-8477-9842f411f952.png)

First time I've seen this and I've completed ~8+ missions in Newberg

Update: just finished the mission following the above and now I get a green route highlight but note that I don't see a gray route (for previous mission).

![image](https://user-images.githubusercontent.com/1621749/5228

[2019-02-05 15:51] jonfroehlich opened #1451 "Is this a 'curb ramp'?"
I remember debating this with @misaugstad one time who said that these types of pedestrian walkways are *not* curb ramps because they are not ramps but I wanted to mark them as ramps (and still do) because they are accessible pedestrian infrastructure to enable people of all abilities to pass through the corner (and thus, functionally serve as ramps). Thoughts? Either way, we should probably addre

[2019-02-05 16:04] jonfroehlich opened #1452 "Fix so all thumbnails are same size"
This is a low priority but all thumbnails in the same row in the FAQ should be the same size:

![image](https://user-images.githubusercontent.com/1621749/52286161-9066f380-291c-11e9-9236-24fa7c7c64c5.png)

It will improve readability and aesthetic.

[2019-02-05 18:04] misaugstad commented on #1451
The "How should I label islands?" section from https://sidewalk-test.cs.washington.edu/labelingGuide/curbRamps says not to label those as curb ramps.

I agree with you now that they should be labeled as curb ramps, and we should modify the labeling guide to say so.

[2019-02-05 18:07] misaugstad commented on #1450
@jonfroehlich one problem is that I believe that this treats street segments as discrete units. So it seems like you were auditing a long street that was longer than that entire first mission. I don't think this is ideal, but that is an explanation, at least :sweat_smile:

[2019-02-05 18:08] misaugstad commented on #1449
This used to happen to me on my local dump, but I thought it had stopped once I finished the parameterization PR... We should keep a close eye on this.

[2019-02-05 18:10] misaugstad commented on #1438
Yeah ok the initial question was if we are logging everything we need to that we had logged on the audit interface and @aileenzeng confirmed that she mimicked the auditing carefully, so I'm closing this.

[2019-02-05 18:10] #1438 closed

[2019-02-05 19:21] misaugstad opened #1454 "GET panomarker assets failing on admin page"
If I open the browser console on the admin page I get the error
`GET https://sidewalk-test.cs.washington.edu/assets/javascripts/SVLabel/src/SVLabel/util/UtilitiesPanomarker.js net::ERR_ABORTED 404 (Not Found)`

![panomarker-error](https://user-images.githubusercontent.com/6518824/52298453-d41b2680-2937-11e9-84f1-a65fb25132e8.png)

Any idea what's up @aileenzeng ?

[2019-02-05 19:31] misaugstad commented on #1071
duplicate of #1450

[2019-02-05 19:31] #1071 closed

[2019-02-05 19:59] misaugstad opened #1455 "large number of anon user accounts are being created"
I think there is some redirect that is happening that is causing a bunch of anon user accounts to be created in quick succession. When I loaded the page for the first time with a fresh database on my local machine, I think I ended up with like 20 anon users. And sometimes when I run the code on my local machine, my browser will complain that there has been too many redirects, and it prevents the p

[2019-02-05 20:07] jonfroehlich commented on #1455
High priority.

Sent from my iPhone

[2019-02-05 21:59] lstrobel commented on #1281
@misaugstad

So I figure this design:
![screenshot of tutorial window](https://user-images.githubusercontent.com/12887715/52306197-0afb3780-294c-11e9-89d1-3b69a9827fb8.png)
 of text and gif work really well, so we could just add another window with new text and an updated gif.

For the first label, here's are some text ideas:

And for the third label:

[2019-02-05 22:51] jonfroehlich commented on #281
For the RFP I'm currently writing for, they want a focus on the Pacific Northwest including Alaska. I just checked out Juneau, which is beautiful, but also has some clear accessibility issues and is a small town. I also have family there (and possibly some connections to local government). One downside, however, is it looks like it's only been driven through three times: in 2007, in 2009, and in 2

[2019-02-05 23:00] jonfroehlich commented on #1379
I just investigated Los Alamos a bit more. Here's the Street View coverage (last drive appears to be ~2014):

![image](https://user-images.githubusercontent.com/1621749/52310006-b8734880-2956-11e9-9fe4-e8b9c9ed0e9c.png)

[2019-02-05 23:21] jonfroehlich commented on #248
Have you ever seen stairs for curb ramps?!

![image](https://user-images.githubusercontent.com/1621749/52310828-9d560800-2959-11e9-95fa-08161ca7caf1.png)
https://www.google.com/maps/@33.4595325,-88.8103268,3a,75y,14.42h,71.51t/data=!3m9!1e1!3m7!1s_Ez-0zC291zVqMt-lte5jg!2e0!7i13312!8i6656!9m2!1b1!2i39

Looks like it was fixed but is still not ADA compliant:
![image](https://user-images.githubuserco

[2019-02-05 23:22] maubinle commented on #1395
Notes from the PS meeting:
- instead of the label, maybe consider using arrows?
- make the white text blue/black
- maybe some sort of confirmation screen after you've clicked the check mark

[2019-02-05 23:31] jonfroehlich commented on #1395
The key will be to get an interactive MVP going so we can provide more nuanced comments from actual use. I think all the comments you got from today's meeting could be deferred (and I think sticking with the circular label rather than an arrow for now is fine and easiest).

[2019-02-05 23:34] #1386 closed

[2019-02-05 23:35] maubinle commented on #1362
fixed via PR 1411.

[2019-02-05 23:35] #1362 closed

[2019-02-05 23:53] misaugstad commented on #1395
Just to clarify the confirmation screen, I thought that was in response to users who said they didn't know if their validation "went through" -- so instead of a confirmation screen, I have seen things like a slightly transparent overlay that shows up briefly, then fades quickly, that would have a checkmark"

[2019-02-05 23:57] misaugstad commented on #1390
and @maubinle I think you've done some research into this for you validation interface, right? Do you have any thoughts which buttons should be included? (yes/no/agree/disagree/unsure/kind of)?

[2019-02-06 00:03] jonfroehlich commented on #1395
Helping users understand that their input was saved seems important but I don’t understand Mikey’s suggestion.

Sent from my iPhone

[2019-02-06 00:06] misaugstad commented on #1391
@aileenzeng could you summarize the current status and what is left to be done for this? Then we can probably assign it to @olgatron9000 :)

[2019-02-06 00:08] aileenzeng opened #1457 "Create interface for admins to view labels by looking up label ids"
Back in July, I built an interface in the admin page that allows admins to look up labels by typing in label ids. It's currently not integrated with the main tool. I think this might be a useful addition to the admin page!

[2019-02-06 00:12] aileenzeng commented on #1391
Yep! My work is on `1391-validation-view-underneath-labels`. Here's what I can remember:

Done:
* Added in a delay to load the GSV Panorama
* Hides label on mouseover (what I'm doing right now is hiding the label when the user mouses over the label).

Incomplete:
* Fade in Panomarker when it appears on the page

[2019-02-06 00:16] jonfroehlich commented on #1457
Definitely. You can click on the contributions page in admin and, I think, see them there?

Sent from my iPhone

[2019-02-06 00:17] jonfroehlich commented on #1391
Why are we delay loading the GSV? We should slightly delay and then fade in the label.

Also, I’m not sure about mousing over label to hide it given that cursor will then be in the way. Perhaps we still need to brainstorm other approaches.

Sent from my iPhone

[2019-02-06 00:17] jonfroehlich commented on #1390
I like yes/no/unsure.

Sent from my iPhone

[2019-02-06 00:19] aileenzeng commented on #1391
Sorry - typed that wrong! I meant that I'm first loading the GSV, then adding a delay before displaying the label.

[2019-02-06 00:22] aileenzeng commented on #1457
Yep, that's an option! I was thinking that if you wanted to do a lookup by a specific label id, then you wouldn't have to scroll back through the contributions page.

[2019-02-06 00:37] jonfroehlich commented on #1457
Definitely would be nice.

Sent from my iPhone

[2019-02-06 00:38] jonfroehlich commented on #1391
Thanks for clarifying. Still not sure on best way to easily hide and show label.

Sent from my iPhone

[2019-02-06 16:29] misaugstad commented on #1391
idk I like the hide button!! :grin: we don't even need a legit tutorial to introduce stuff like zoom buttons and hide buttons.. we can just use the small prompts that we use to remind users to rate severity in the audit tool.

[2019-02-06 16:35] misaugstad commented on #1443
And this is actually happening all across the site, not just the audit page. @andrew4699 do you think there is a possibility that this could be related to the gzip compression change..? That is the only recent site-wide change I can think of.

[2019-02-06 16:45] andrew4699 commented on #1443
I don’t think that gzip would be the culprit. This looks like it’s related
to a browser extension. Could you disable your extensions (or use
incognito) and try again?

On Wed, Feb 6, 2019 at 8:35 AM Mikey Saugstad <notifications@github.com>
wrote:

[2019-02-06 16:49] misaugstad commented on #1443
Thanks, that was it! Just one of my browser extensions :+1:

[2019-02-06 16:49] #1443 closed

[2019-02-06 17:01] jonfroehlich commented on #1391
I’m not sure we need a tutorial at all for validation other than an intro mission screen, which may describe the task.

Sent from my iPhone

[2019-02-06 17:26] misaugstad commented on #1391
I wasn't suggesting a tutorial, just some in situ training/reminders of some of the features (zoom/hide). Or were you suggesting we shouldn't need that either?

You would probably be right that a static intro mission screen could be enough.

How would you feel about the hide label button, with it being referenced on the mission start screen..?

[2019-02-06 17:31] misaugstad commented on #1390
Oh I just realized that one issue with thumbs up/down is that you will often be giving a "thumbs up" for accessibility **problems**. It seems a bit weird to me to go through a list of 10 obstacles in the middle of a sidewalk and just be like :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2019-02-06 17:37] misaugstad commented on #1281
I think you are right about the design, it should keep with the flow of the tutorial the way you said. I want to iterate on the text a bit. Partially because the second bit of text for each label would be if they added an incorrect tag, but your wording implies that they forgot to add a tag.

![first-ramp](https://user-images.githubusercontent.com/6518824/52361284-bc54a880-29f2-11e9-9705-9f94d1bdf

[2019-02-06 17:47] jonfroehlich commented on #1390
Hmm, good point... maybe the checkmark and X aren't so bad then...

On Wed, Feb 6, 2019 at 9:31 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-06 17:58] misaugstad commented on #1444
closing via #1456

[2019-02-06 17:58] #1444 closed

[2019-02-06 18:21] misaugstad opened #1458 "add appropriate logging for tagging keyboard shortcuts"
This is mostly my bad for forgetting about this when reviewing PR #1403

Tagging with keyboard shortcuts is currently logging the following in the `audit_task_interaction` table:
`ContextMenu_TagAdded`

I would suggest:
`KeyboardShortcut_TagAdded`

Which is more in line with how severity keyboard shortcuts are logged (`KeyboardShortcut_Severity_2`).

@lstrobel can you take this on?

[2019-02-06 18:24] misaugstad opened #1459 "stop logging "clicks" when using keyboard shortcuts"
It seems as if, for both severity keyboard shortcuts and tagging shortcuts, we are logging `LowLevelEvent_click` incorrectly (there was no click, just a keyboard press). I don't think we are making that mistake when logging keyboard shortcuts for switching label type modes.

Whoever takes this up should check all our different keyboard shortcuts (severity, label type, tagging, zooming, navigation,

[2019-02-06 18:26] lstrobel commented on #1458
Yeah sure, this seems simple enough.

On Wed, Feb 6, 2019, 10:21 Mikey Saugstad <notifications@github.com wrote:

[2019-02-07 22:30] jonfroehlich commented on #281
@manaswis, I haven't been keeping good track of all the cities that have contacted us--you mentioned in a meeting with me that you have. Could you Slack me the list?

[2019-02-07 22:45] jonfroehlich opened #1460 "Double check: we are logging responses to this question, right?"
We should double check that we are logging responses to this question:

![image](https://user-images.githubusercontent.com/1621749/52447876-f0a99100-2ae6-11e9-9ec8-d141e91b89d1.png)

[2019-02-07 23:00] jonfroehlich opened #1461 "Newberg Deployment: Joan Austin University 21% Complete but No Labels?"
This is confusing. How could the Joan Austin University region be 21% complete but have no labels? Possible bug?

![image](https://user-images.githubusercontent.com/1621749/52448506-01f39d00-2ae9-11e9-97e1-1ec207502834.png)

Looks like other regions have the same bug:

![image](https://user-images.githubusercontent.com/1621749/52448696-90681e80-2ae9-11e9-99cb-177ef7427dbf.png)

[2019-02-07 23:03] jonfroehlich opened #1462 "Way to improve /results visualization to show % complete?"
For those neighborhoods in gray, I think it would be useful to visualize the % complete perhaps simply by showing a text label centered in each neighborhood?

![image](https://user-images.githubusercontent.com/1621749/52448584-3ff0c100-2ae9-11e9-9df4-95fd656c4133.png)

Also, would it be possible to visualize the labels themselves on this map (as small points colored by label type)

[2019-02-07 23:50] misaugstad commented on #1461
This is because the clustering is not being run on the servers right now b/c the necessary Python libraries are not installed in our Docker containers (#1134 ). I have had a recent email thread with @mechanicjay where he has now added Python 2.7 and pip to the Docker images. And I am in the process of getting the necessary Python libraries for clustering onto the servers.

The lack of clustering o

[2019-02-07 23:52] misaugstad commented on #1462
The way we are currently doing this, no. There are too many labels. The page would probably become unresponsive... Or at the very least would take way too long to load. Newberg might be fine, but DC and Seattle definitely would not work.

[2019-02-07 23:52] jonfroehlich commented on #1461
Neat. Glad that the /results viz uses clusters (this is the right approach!). Let's keep this thread open until @mechanicjay has finished integrating Python support so we can test this...

[2019-02-08 13:18] manaswis commented on #281
Sent to your DM (in PS slack team).

[2019-02-08 14:00] jonfroehlich commented on #281
Thanks.

On Fri, Feb 8, 2019 at 5:18 AM Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-08 21:41] jonfroehlich opened #1463 "How do we know when an anon account is a researcher?"
![image](https://user-images.githubusercontent.com/1621749/52507735-447baf00-2ba7-11e9-8332-d81bf0d0e5b5.png)

[2019-02-08 21:49] jonfroehlich opened #1464 "Insufficient landing space as a tag for curb ramps?"
Should we make 'insufficient landing space' as a tag for curb ramps? See https://sidewalk-newberg-test.cs.washington.edu/labelingGuide/curbRamps (search for 'landing space'--by the way, it would be really useful to be able to direct link to these headers, can someone take on https://github.com/ProjectSidewalk/SidewalkWebpage/issues/1422?).

![image](https://user-images.githubusercontent.com/162174

[2019-02-08 21:51] jonfroehlich commented on #1422
This should be a very straightforward fix (maybe < 30 minute job). We have it implemented in the [Makeability Lab FAQ](https://makeabilitylab.cs.washington.edu/faq/). Can someone take it on? @paarig @lstrobel?

[2019-02-08 22:02] jonfroehlich commented on #1461
I just checked the page again but it's still broken. What does your process for getting the necessary python libraries involve? Is this all on you or does it require Jason's help too?

[2019-02-09 05:04] misaugstad commented on #1463
I've been keeping track of that myself. but it would be best if we made sure everyone has an admin account and told them to set the role up researcher when they audit anonymously.

[2019-02-10 01:06] maubinle commented on #1390
@misaugstad, this wasn't a question I explicitly asked in the research, but I had one person comment that they didn't like the "agree/disagree" options as much because it's not a statement (e.g. This is a curb ramp) that you're agreeing with but a question (e.g. is this a curb ramp?) that you have to answer. In my later mocks I was using Yes/No and these had no usability issues.

[2019-02-10 01:52] maubinle commented on #1426
Confirming that the expectation is:
1. Show a context menu with the 'no sidewalk' label
2. hide the severity ratings for that context menu
3. show tags: 'sidewalk on other side of street', 'sidewalk ends abruptly', 'no sidewalk on either side of street'

should we also maybe include 'sidewalk is too narrow for wheel chair'?

[2019-02-10 02:20] jonfroehlich commented on #1426
I wonder if we should just keep the severity menu for consistency.

Re: Sidewalk too narrow. Imo, this does not qualify for a ‘no sidewalk’ label as by definition there is a sidewalk there (and instead should be either surface problem or obstacle).

Sent from my iPhone

[2019-02-10 19:22] reidpr commented on #1379
Thanks for your kind words about Cyclopath! Indeed, I heard about this via a Google Scholar alert about the citation.

A few comments —

1. Los Alamos isn't West Coast; in fact, driving time to the Southern California coast is about the same as the Gulf Coast (13 hours). There are lots of ways to refer to our region, but "high desert southwest" is maybe the best one for this purpose.

2. Visual im

[2019-02-11 03:49] maubinle commented on #1426
Ok, I can leave just the 3 labels that Mikey suggested in that case.

I'm fine leaving the severity menu in, though I guess then we'll also need a picture of an example for severity ratings 1,3, and 5 like we do for other labels. This is what we do for other labels:
![image](https://user-images.githubusercontent.com/16949591/52545417-35922980-2d6c-11e9-93f0-b434dd434a93.png)  I am thinking the exa

[2019-02-11 05:20] maubinle commented on #1426
I guess, given my comment before, the tags for no sidewalk might also include "no sidewalk for a short stretch of road" and "no sidewalk for an extended stretch of road" if we think those are useful to add?

[2019-02-11 05:57] maubinle commented on #1426
Looking at this now, I also wonder whether we should try to cut down on the length of labels? Here's how it looks:
![image](https://user-images.githubusercontent.com/16949591/52547772-b4905d80-2d7e-11e9-8f14-9e9a67bc20a7.png)

[2019-02-11 06:26] jonfroehlich commented on #1426
yes, ack... those are too long. thoughts on how to cut down?

On Sun, Feb 10, 2019 at 9:57 PM Marianne Aubin <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-12 01:42] maubinle commented on #1426
I think "sidewalk ends abruptly" is fine. The only way I could think to rephrase would be "one sidewalk on street" vs "no sidewalks on street" or maybe "street has one sidewalk" vs "street has no sidewalks"

[2019-02-12 01:50] maubinle commented on #1445
This was a paper I was particularly impressed with that used a ground truth seeding technique: [crowdsourcing annotations for visual object detection](http://vision.stanford.edu/pdf/bbox_submission.pdf)

They use a 5-10% ground truth rate, so I think given our mission structure 10% does make sense. I do think the earlier we implement this, the more data we'll have to work with to give us some idea

[2019-02-12 02:48] maubinle commented on #1395
Quick stylistic question -- should I create a new landing page (e.g. sidewalk.cs.washington.edu/validatemobile) or should sidewalk.cs.washington.edu/validate take you to the web interface on web and to the mobile interface on mobile? I feel the 2nd option makes more sense, but want to make sure this is aligned with your take.

[2019-02-12 14:11] jonfroehlich commented on #1395
Yah, I like the latter if you can manage it.

On Mon, Feb 11, 2019 at 6:48 PM Marianne Aubin <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-12 14:11] jonfroehlich commented on #1426
Your rephrases seem good

On Mon, Feb 11, 2019 at 5:42 PM Marianne Aubin <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-12 15:22] jonfroehlich commented on #1445
Yes, 10% seems good. To create the seeding dataset, maybe we do majority vote from three researcher validations? How many total validations do we need? 100?

[2019-02-12 19:12] misaugstad commented on #1426
1. We should also be adding context menu for occlusion IMO
1. Note that with the severity rating scheme proposed, rating NoSidewalk severity in the tutorial is not going to be easy.
1. I am good with the "street has one sidewalk" and "street has no sidewalks"
1. It looks like @r-holland made the original thumbnails (#968). I'm emailing him now to see if he remembers where he got the arrows.

[2019-02-12 19:22] misaugstad commented on #1395
ok @aileenzeng made this to help me demonstrate what I mean (thank you!). The idea was that something like this checkmark would show up and then quickly fade, just to show that the response was recorded. Similar to how Tinder has "like" and "nope" stamps that show up on the images as you swipe.

[2019-02-12 19:22] misaugstad commented on #1395
You know me, always forgetting to add the images:

![image](https://user-images.githubusercontent.com/6518824/52662177-831bad00-2eb8-11e9-81a1-228b653089ac.png)

[2019-02-12 19:43] misaugstad commented on #1420
closing via #1448

[2019-02-12 19:43] #1420 closed

[2019-02-12 19:43] misaugstad commented on #1429
closing via #1448

[2019-02-12 19:43] #1429 closed

[2019-02-12 19:53] misaugstad commented on #1390
Ok cool, thanks @maubinle

I also like Yes/No/Not Sure. I'm on the fence about the "Kind of" button... Since that seems like we are just getting at the severity rating, which we will want to validate separately.

[2019-02-12 19:55] jonfroehlich commented on #1390
I'm moving away from 'kind of' and I think we get get away with just
Yes/No/Not Sure (not sure captures the ambiguity that 'kind of' would imo
and isn't worth the interface clutter).

Jon

On Tue, Feb 12, 2019 at 11:53 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.

[2019-02-12 20:05] misaugstad commented on #1390
Agreed. I think the last 2 things to settle on are order of buttons and the icons.

Considering we are not adding a new button, I am fine with the ordering of Yes, No, Not sure. I haven't looked at what similar interfaces do though.

Right now checkmark/X are our best options (we don't like the idea of giving a :+1: to accessibility problems). So unless we think that isn't good enough, I'm cool wi

[2019-02-12 20:20] misaugstad commented on #1461
1. I want @aileenzeng and possibly someone else to do a final test of the Docker dev environment PR (#1364) before I merge it.
1. I want @athersharif to then make a PR that auto-installs the Python libraries using the Dockerfile (this PR will also add a requirements.txt file that has all the Python libraries to be installed).
1. Once that works, I will ask @mechanicjay to do the same thing for the

[2019-02-12 20:42] misaugstad commented on #1464
I think that would be a useful tag (we could then use it in the tutorial as well). Are we willing to let the list of tags to run into 2 lines, or do we want to remove another tag?

[2019-02-12 20:44] misaugstad commented on #1463
And to clarify, those are marked as researchers because I went to the admin page and manually changed their roles from anon to researcher. I knew they were researchers bc it was before you sent the email to Newberg folks telling them about the newberg-test server.

[2019-02-12 20:50] misaugstad commented on #1460
@andrew4699 since you are in the middle of logging stuff, can you check this out quick when you get a chance?

[2019-02-12 20:53] misaugstad commented on #1396
@paarig have you been working on any mockups for the mission start and mission complete screens?

[2019-02-12 22:14] paarig commented on #1396
@misaugstad Started working on it today. Been swamped with schoolwork. Will send some mockups soon.

[2019-02-12 23:10] paarig commented on #1396
@misaugstad Let me know your thoughts. Some of the fonts and text are a little bit off but for the most part the design is pretty standard.
<img width="469" alt="screen shot 2019-02-12 at 3 06 11 pm" src="https://user-images.githubusercontent.com/29468022/52674368-419afa00-2ed8-11e9-869c-9f3477aefa20.png">
<img width="469" alt="screen shot 2019-02-12 at 3 06 18 pm" src="https://user-images.githubu

[2019-02-12 23:32] lstrobel commented on #1458
@misaugstad, would you want me to completely replace the `ContextMenu_TagAdded` log entry with `KeyboardShortcut_TagAdded`, or add `KeyboardShortcut_TagAdded` as an additional log entry?

[2019-02-12 23:34] misaugstad commented on #1396
Hmm I'm not sure that a map is the best way to go for the validation labels. Maybe it would make sense if we were only giving labels for a single neighborhood, but I don't think that is something we should do (given how small we want the neighborhoods to be).

I think the hard design problem here is figuring out a satisfying mission complete screen that shows off the work that users did and encour

[2019-02-12 23:35] misaugstad commented on #1458
I would replace it, to be consistent with severity keyboard shortcuts.

[2019-02-12 23:48] jonfroehlich commented on #1396
For mission complete screen: why not show a quick review (thumbnails) of
all the labels they validated.

The initial mission screen should be more specific about the type of labels
they are about to validate, including specific information about positive
and negative examples (as we are batching validation missions per label
type)

On Tue, Feb 12, 2019 at 3:34 PM Mikey Saugstad <notifications@gith

[2019-02-13 00:14] jonfroehlich commented on #1464
Ugh, I don't know, I think we were trying to keep tags to one line.

(I'm still not particularly optimistic about users even using tags)...

[2019-02-13 19:37] misaugstad commented on #965
fixed in #1465

[2019-02-13 19:38] misaugstad commented on #1410
fixed via #1468

[2019-02-13 19:38] #1410 closed

[2019-02-13 19:38] misaugstad commented on #1422
resolved via #1469

[2019-02-13 19:38] #1422 closed

[2019-02-13 20:26] misaugstad commented on #1464
maybe if we rename "missing friction strip" to "no friction strip" and get ride of the "steep" tag (which is the one I expect to be least common), we might be able to fit this tag in and keep to one line. Thoughts?

[2019-02-13 21:12] jonfroehlich commented on #1464
also, steep is rather difficult to determine from gsv images--though i
think i've used it once or twice in my newberg audits

On Wed, Feb 13, 2019 at 12:26 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https

[2019-02-14 03:22] andrew4699 commented on #1460
We log the OK and Cancel buttons and selecting one of the reasons, but we don't log which reason is selected. However, if the user hits OK we log "TaskStart" or "TaskEnd" for the first and second options respectively.

[2019-02-14 03:41] misaugstad commented on #1460
Thanks @andrew4699 could you add explicit logging for these then?

[2019-02-14 03:42] misaugstad commented on #1396
I was thinking of something similar as well.

[2019-02-14 03:47] andrew4699 commented on #1257
How can I query the same data you're querying? I want to see the specific events around when those 2 incidents happened and explore possibilities like the user switching to NoCurbRamp long before rating these, etc.

[2019-02-14 03:55] misaugstad commented on #1257
I'll send a link to the largest database dump to you on Slack, which should contain that data.

[2019-02-14 03:59] jonfroehlich commented on #1460
Definitely needs to be explicit. Can't believe we are not logging the
responses!! IMO, should be its own table entry and not just in the
interaction table (which is ginormous).

On Wed, Feb 13, 2019 at 7:41 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~

[2019-02-14 04:01] misaugstad commented on #1460
Well we are using the responses in an appropriate way... If someone says they just want to explore a new area, we mark their audit as _incomplete_ and move them. If they say they can't move forward, we mark their audit as _complete_ and move them elsewhere.

[2019-02-14 04:03] misaugstad commented on #1460
OH found where it is logged. There is an `audit_task_incomplete` table that has this all logged. It still isn't logged in the `audit_task_interaction` table, which I think I would like... But the response is being recorded :+1:

[2019-02-14 05:07] jonfroehlich opened #1471 "Consider Importing DC Deployment Data Into New Version of Website?"
@misaugstad and I have chatted about this before but I wanted to make an explicit Issue about it to track the discussion. The question is: should we put effort into writing code that translates or otherwise allows us to import all 255k labels from the DC deployment into the newly refactored version of our website (let's call the new version v2). In the past, @misaugstad has remarked that, no, this

[2019-02-14 06:09] andrew4699 commented on #1460
How about something simple like adding it in the notes section of the ClickRadio event?

![1](https://user-images.githubusercontent.com/7133966/52766328-b60a9180-2fdb-11e9-8ba2-a9fc82c494a3.png)
![2](https://user-images.githubusercontent.com/7133966/52766334-bd319f80-2fdb-11e9-8d35-b229abf969de.png)

[2019-02-14 09:16] misaugstad commented on #1460
Yep, that looks good!

[2019-02-14 19:39] misaugstad commented on #1455
Here is how I have been able to reproduce:
1. Create a fresh database that has no users (possibly using the schema for Docker that @athersharif made)
1. Try to load any page that isn't the /signUp or /signIn page. I am redirected over and over until my browser stops the redirects, so I end up with 20 new anon users.
1. Reload the page and I get another 20 anon users.

How I stop the loop:
1. Go to

[2019-02-14 20:40] misaugstad commented on #1460
closing via #1472

[2019-02-14 20:40] #1460 closed

[2019-02-15 02:30] andrew4699 commented on #1257
For 45022, I'm seeing the severity being logged at audit_task_interaction_id = 96374153.

I do see the missing ModeSwitch_NoCurbRamp for 47147. Is this issue specific to certain events? It's possible that there was some code duplication back then that switched the mode without logging the event. I'm not seeing any potential for race conditions in the tracker that could cause events to randomly be

[2019-02-15 02:34] andrew4699 commented on #1256
For the specific case Aileen mentioned, that was just the way it was coded.

@misaugstad are you able to find a specific instance of this happening?

[2019-02-15 02:46] misaugstad commented on #1256
@andrew4699 I found multiple instances of it during the tutorial at some point. You should be able to find them again. I would suggest going through the tutorial and looking at what the correct logging order should be for placing the label and rating severity, and then querying all the past instances of ppl going through the tutorial, making a query that looks for pairs of interactions logged in t

[2019-02-15 02:46] misaugstad commented on #1256
I also found that I could reproduce occasionally with interactions that were done in quick succession. So you could try placing labels and rating severity immediately after a bunch of times to try and reproduce.

[2019-02-15 03:08] misaugstad commented on #1257
Oops, you're right! :blush:

I don't think it is specific to certain events... I think I noticed these particular events because I happened to need them for data analysis. But my intuition says that it is not related to specific events. I don't have any specific evidence for this.

This is the issue that might not be possible to resolve TBH. But I'm also hoping you can search around online to see

[2019-02-15 03:49] misaugstad commented on #1455
Okay I just tested a bit more, and I think this is really related to dev environment problems. It seems like what is happening is that my browser is logged into some account. Then when I change the database on the back-end to a database where I don't have identical credentials, I end up in an infinite loop, stemming from the discrepancy b/w the server and browser. But if I create an account in eac

[2019-02-15 17:45] misaugstad commented on #1426
I haven't gotten a response from @r-holland so just do your best to recreate the style of those arrows in the original thumbnails.

[2019-02-15 19:19] misaugstad commented on #1132
clossing via #1470

[2019-02-15 19:19] #1132 closed

[2019-02-15 19:25] misaugstad commented on #1390
One thing @maubinle brought up at a meeting last week is that we are planning to have "Agree" on the right on mobile, since most people are right handed and most of the time ppl will be hitting the "Agree" button.

The question then becomes, do we want the buttons to be consistent across platforms?

[2019-02-15 20:26] misaugstad opened #1473 "Dev environment slow to update Javascript files"
With our new Docker dev environment (PR #1364), @aileenzeng reported some issues with the speed Grunt when it is run. She said that it used to take her <15 seconds to run Grunt with the old dev environment, but that it takes 45-60 seconds with the new Docker dev environment. This is a significant delay b/w making changes to Javascript code and seeing the updates on our local machines.

Hopefully @

[2019-02-15 20:29] misaugstad commented on #483
With our new Docker dev environment in PR #1364 this is solved. The repos we use to get these libraries has been changed so the downloads are no longer an issue :+1:

[2019-02-15 20:29] #483 closed

[2019-02-15 22:31] athersharif commented on #1473
https://github.com/ProjectSidewalk/SidewalkWebpage/pull/1364#issuecomment-464227667 for reference on what the underlying issue is. will push a pr soon to fix but would need volunteers using linux, mac, and windows to test this and double check :) @misaugstad thoughts on who would wanna volunteer? :)

[2019-02-15 23:17] aileenzeng commented on #1390
Yeah, I think they should be consistent!

[2019-02-15 23:37] jonfroehlich commented on #1390
I’d have to interact with both versions to know for sure.

Sent from my iPhone

[2019-02-16 04:13] andrew4699 commented on #1190
We default the panoId to null when we fail to retrieve it from the map object and I got `Cannot read property 'getPanoId' of undefined` when logging the cause of failure for the line `svl.map.getPanoId()`. This was after I reloaded the page.

A lot of this is probably due to the map not being loaded at the time of logging because a lot of the null IDs are for events that happen near page load/unlo

[2019-02-18 18:06] misaugstad commented on #1390
Okay looks like we decided to:
1. Keep the text of the buttons the same
1. Keep the icons for the buttons the same for now (we haven't thought of a better idea than checkmark and X yet)
1. Reorder the buttons from Yes, No, Not Sure -> Not Sure, No, Yes (to be consistent with mobile)

Assigning this to @ShivenBhatt since he has some time this week! You may not have seen the new validation interface

[2019-02-18 18:55] jonfroehlich commented on #1390
I'm still not sure I like having the order 'Not sure', 'no', 'yes' order on
the desktop but I won't know for sure until I use it (and my dislike for
that order may overrule our need for consistency between mobile and desktop
experience... but we'll see).

On Mon, Feb 18, 2019 at 10:06 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of

[2019-02-18 19:20] misaugstad commented on #1390
Yep! I forgot to finish my thought earlier. The plan is to get it out so we can all play with it and see which way we want it.

[2019-02-18 19:48] jonfroehlich commented on #1390
Thanks!

On Mon, Feb 18, 2019 at 11:20 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-18 21:40] maubinle commented on #1426
OK, the implementation is done for the "No Sidewalk" label. I do think a severity label here somewhat makes sense: sometimes only one sidewalk is missing, so the route is still overall accessible. Other times, there is no sidewalk for a long stretch of road, making the path completely inaccessible. Both would be a "no sidewalk" instance, so some severity warning seems warranted.

Menu with tags lo

[2019-02-18 21:59] lstrobel opened #1476 "Video lazy-play stuck on paused"
On the landing page, when I scroll down then scroll back up, the main gif under the "Start Exploring" button appears to be paused. I assume this is related to #1466 ?

It only begins to play again if I scroll down to the very bottom of the page, and then back up.

Here is a video I took that demonstrated the behavior:
https://gfycat.com/SaltyGrossBelugawhale

[2019-02-18 22:12] maubinle commented on #1426
Argh, I just realised -- do I also need to update the tutorial then?

[2019-02-18 22:35] jonfroehlich commented on #1476
Ugh, yikes. That's not what we want.

On Mon, Feb 18, 2019 at 1:59 PM Lukas Strobel <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-02-18 22:37] jonfroehlich commented on #1426
Generally looks really good. Some small comments:
1. Possible to get all tags onto one line?
2. What is the thumbnail example for Severity 3 showing?
3. I think the thumbnail example for Severity 5 should clearly show both sides of a road with no sidewalks. Thoughts?

Given how hard it is to find and make thumbnails, we could make an additional Issue (as necessary) to just handle that so that this

[2019-02-18 23:02] misaugstad commented on #1426
1. I agree with Jon's comments
1. For "sidewalk ends abruptly" can we make the 'a' in "abruptly" the keyboard shortcut?
1. As for getting the shortcuts onto one line, try the word "road" instead of "street"
1. For the mutually exclusive tags, can you have them auto-toggle each other if they are both selected? The same way that it is done for "alternate route present" and "no alternate route" for m

[2019-02-18 23:06] misaugstad commented on #1476
Agreed. @lstrobel what are you using to scroll? And what browser are you using? Because I don't get this problem on either Chrome or Firefox, using 2-finger scrolling on my touchpad, using a mouse scroll wheel, or by using the scroll bar on the webpage.

[2019-02-19 00:05] lstrobel commented on #1476
I tried using middle-mouse-click, scroll wheel, and scroll bar. Happens in both Chrome and Firefox, on the current develop branch. I have a 1440p monitor, but the issue also persists when I use the responsive design tool.

[2019-02-19 00:12] misaugstad commented on #1476
Ok interesting, and what is the OS? I'm using a 1080p monitor. (trying to get any info we can to try and reproduce elsewhere)

[2019-02-19 00:36] misaugstad opened #1477 "Parameterize import-dump database name"
I like to have a few different Project Sidewalk databases set up in my dev environment. I will have one for Newberg, one for Seattle, one with all the DC data, one with a small subset of the DC data, etc. And I give each of them a distinct name (and then just modify the `application.conf` file to use the different databases).

This was easy enough with the old dev environment b/c you had to explic

[2019-02-19 00:56] lstrobel commented on #1476
Running Win 10. One other observation is it seems that if I scroll down far enough, and then scroll up, it works. It only bugs like this when I'm scrolling near the gif. Additionally, all of the other gifs seem to work fine.

[2019-02-19 01:01] maubinle commented on #1426
Thanks for the comments!

Jon's comments:
* Possible to get all tags onto one line? -- will try
* What is the thumbnail example for Severity 3 showing? It's showing the example in the help page of a short stretch of missing sidewalk (as opposed to a long stretch for severity 5)
* I think the thumbnail example for Severity 5 should clearly show both sides of a road with no sidewalks. Thoughts? make

[2019-02-19 01:42] maubinle commented on #1395
Inspired from Aileen's breakdown of tasks going into the validation implementation. I will likely discover more things as I go along, and will add to this I'm sure.

**Infra & Backend work**
- [ ] Route users to mobile validation page if they visit projectsidewalk.io/validate from mobile
- [ ] Include in table whether a label was contributed via mobile or UI
- [ ] Add new mission or resume existin

[2019-02-19 01:49] jonfroehlich commented on #1476
I don’t think it’s a gif. I think it’s an mp4.

Sent from my iPhone

[2019-02-19 14:18] jonfroehlich commented on #1395
Thanks for this @maubinle. Fair bit of work listed here but I look forward to seeing your progress!

[2019-02-19 21:39] misaugstad commented on #1458
closing via #1478

[2019-02-19 21:39] #1458 closed

[2019-02-21 01:40] misaugstad opened #1479 "Docker dev environment broken when pruning volumes"
Steps to reproduce:
* remove the containers `docker rm $(docker ps -a -q) -f`
* remove images `docker images` to list, then `docker rmi <image_ids> -f` on all sidewalk-related images
* `docker system prune`
* `docker system prune --volumes`
* `make dev`

The database container just exits immediately whenever it is started. The logs show errors about the locales :cry:

[2019-02-21 02:42] aileenzeng commented on #1382
I'm revisiting this right now - so far I am not taking IP Address into account when choosing labels for the validation interface. Is this something that we still want? If so, should all users only receive labels that are from different IP addresses and aren't theirs? Or would this only apply to anonymous users?

[2019-02-21 02:46] misaugstad commented on #1479
closing via PR #1480

[2019-02-21 02:46] #1479 closed

[2019-02-21 02:47] jonfroehlich commented on #1382
Only apply to anon imo

Sent from my iPhone

[2019-02-21 02:48] misaugstad commented on #1382
I don't think we should bother with IP addresses, since we have anon accounts set up the same way as registered user accounts, which I think gets us most of the way there. I think the way we are currently doing it is sufficient as long as we weight anon user validations slightly less.

[2019-02-21 02:48] jonfroehlich commented on #1382
Ok. Go with what Mikey said. 😂

Sent from my iPhone

[2019-02-21 19:10] misaugstad opened #1483 "schema.sql isn't dealing with auto-incrementing columns correctly"
In our `schema.sql` we are filling in a few of the important tables that have data that won't change per city (`tag`, `mission_type`, `label_type` tables, for example). We are manually providing the primary keys when we do these inserts in `schema.sql`, but we need to set the value of the sequence for the auto-incremented columns after we are done inserting (see [this post](https://stackoverflow.c

[2019-02-21 20:01] aileenzeng commented on #1354
I got this error while I was running Sidewalk locally - this is the first time that I've seen this.

![image](https://user-images.githubusercontent.com/25534091/53197719-97a22880-35cf-11e9-8b70-8623c45168bf.png)

![image](https://user-images.githubusercontent.com/25534091/53197770-baccd800-35cf-11e9-9cca-922b084fb639.png)

PanoId: _UnSpZ_1ac2yXeRTsxcEOw
Street Edge Id: 14104

[2019-02-21 21:06] aileenzeng opened #1484 "Check both sides of the street popup cut off"
![image](https://user-images.githubusercontent.com/25534091/53198207-aa692d00-35d0-11e9-9775-96ea45530b46.png)

Street edge id: 19772
Pano id: gAjNWikEQ9ZekX-7kVQlfA

This is the first time that I've gotten this bug. For some reason, the pop-up is extending past the bottom of my screen (and I can't scroll down).

There was some weirdness that happened earlier that may or may not have caused this i

[2019-02-21 22:33] paarig commented on #1484
@jonfroehlich Sounds good. Will fix this issue today.

[2019-02-21 22:57] misaugstad commented on #1426
Here is what I've got as some default text for the tutorial (first one is to rate severity, 2nd is if you rate the severity incorrectly):
![nosidewalk-first-dialog](https://user-images.githubusercontent.com/6518824/53207548-d55f7b00-35e8-11e9-86b2-0aa04b9182d4.png)
![nosidewalk-dialog-two](https://user-images.githubusercontent.com/6518824/53207553-d7293e80-35e8-11e9-881f-23c5cd45f01f.png)

I just

[2019-02-21 23:04] misaugstad commented on #1281
@lstrobel note that the NoSidewalk label in the tutorial will now have both the "ends abruptly" and "street has a sidewalk" tags. So we need to see some text for that as well.

[2019-02-22 09:53] paarig commented on #1484
@aileenzeng @jonfroehlich Looked into this issue for about 40 min by testing the pop-ups with different users and looking through the code and I was unable to reproduce the bug. It also doesn't seem like there are flaws in the code that would cause this kind of behavior. I'm wondering if it was caused by the lack of GSV imagery that messed up the distance counter? Not really sure how to repro.

[2019-02-22 17:49] misaugstad commented on #1390
@ShivenBhatt ran a brief study and the results are in PR #1481. They indicate that we should keep the original layout of the buttons, so nothing has been changed and we can close out this issue :+1:

[2019-02-22 17:49] #1390 closed

[2019-02-22 17:52] misaugstad commented on #1484
That's okay @paarig we should wait to see if others reproduce before we prioritize something like this anyway. Thanks for looking into it though :+1:

[2019-02-22 23:43] andrew4699 commented on #965
I found locations in the code where `contextMenu.hide()` is being called without a ContextMenu_Close event being sent. An example is this is in the onboarding process. I propose we add a generic "ContextMenu_Close" event under `contextMenu.hide()` to handle all these cases.

[2019-02-22 23:52] misaugstad commented on #1426
closing via #1485

[2019-02-22 23:52] #1426 closed

[2019-02-22 23:57] misaugstad opened #1486 "Add context menu (and severity) for occlusion label type"
related to #1426

In #1426 we added a context menu for the NoSidewalk label type. Occlusion is now the only label type without a context menu. I think it makes sense to add one just for consistency (and code simplification). And since Occlusion is not a label type that is used frequently, it won't add much friction to users.

We also need 2 more things to add a context menu:
1. A list of tags. I h

[2019-02-22 23:59] misaugstad commented on #965
Yeah it sounds like we should be logging that whenever we hide the context menu, so that seems like a good idea.

[2019-02-23 00:04] aileenzeng commented on #1396
If I remember correctly, last meeting we had talked about putting in some really simple, temporary mission screens. Would these work for now?
Start screen:
![image](https://user-images.githubusercontent.com/25534091/53277235-c4ca0600-36b7-11e9-83a7-265bc3bd42a8.png)

End screen:
![image](https://user-images.githubusercontent.com/25534091/53277244-cb587d80-36b7-11e9-8710-04073d07bb5a.png)

Here are

[2019-02-23 00:05] aileenzeng commented on #1454
@misaugstad I haven't been able to recreate this on my local dev environment. Is this something that you get all the time? Or is this error only on `sidewalk-test.cs.washington.edu`?

[2019-02-23 00:25] andrew4699 commented on #1459
Our keyboard shortcuts trigger a click on the element to get the same behavior. The simple way to fix this would be to pass a parameter like "stopLowLevel" and our LowLevelEvent logger wouldn't log events with that parameter set. The clean way to fix this would be to refactor all the necessary code into methods so we don't have to rely on triggering clicks, we can call the methods instead. The cle

[2019-02-23 00:44] aileenzeng commented on #1391
Late response, but I think the hide button could work! We can also add in a keyboard shortcut (like 'h') that allows users to toggle label visibility as well.

[2019-02-23 00:59] jonfroehlich commented on #1486
While I appreciate the consistency argument, I just think this is a super
low priority and I'd rather invest our efforts elsewhere.

On Fri, Feb 22, 2019 at 3:57 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich

[2019-02-23 01:07] aileenzeng commented on #1396
New iteration of the end screen:
![image](https://user-images.githubusercontent.com/25534091/53279321-44f66880-36c4-11e9-9822-473a156d7ae2.png)

[2019-02-23 01:17] misaugstad commented on #1459
Definitely go with simple fix. We aren't trying to overhaul logging right now, just fixing a few bugs :) thanks!

[2019-02-23 01:43] misaugstad commented on #1396
I like the most recent iteration of the end screen as a quick solution.

[2019-02-23 02:50] jonfroehlich commented on #1396
Yep. Me too. We discussed at hackathon in person.

Sent from my iPhone

[2019-02-24 00:07] athersharif commented on #1477
@misaugstad yup, should be easy to do. happy to help!

[2019-02-25 18:27] misaugstad commented on #1477
Awesome, thank you! It is just related to the dev environment, so it isn't super high priority but still would love to have in the next couple weeks!

[2019-02-25 19:45] misaugstad commented on #1454
hmm, yeah I get this on my local dev environment too (both Chrome and Firefox)

[2019-02-25 23:46] misaugstad commented on #965
closing via #1488

[2019-02-26 02:10] andrew4699 opened #1490 "Arrow keys sometimes don't work and give an error"
Sometimes I get the following console error when trying to rotate/move with the arrow keys (causing the action to fail):

![chrome_2019-02-25_17-59-37](https://user-images.githubusercontent.com/7133966/53381907-322f9e00-3927-11e9-8c09-1efddf26c930.png)

This is related to #1488. The error is at the line where I added `svl.tracker.push('ContextMenu_Close');`. It's possible that since some context m

[2019-02-26 17:11] misaugstad commented on #1490
closing via #1491

[2019-02-26 17:11] #1490 closed

[2019-02-26 20:08] misaugstad commented on #1092
closing via #1416

[2019-02-26 20:08] #1092 closed

[2019-02-26 20:25] misaugstad commented on #1391
I think our best option we've come up with so far is a hide button... @paarig can you implement this? We need
1. A button that says "Hide Label" to the left of the zoom buttons
1. The button should be greyed (or something similar) when the label is hidden.
1. We need the "h" key to to both hide and unhide the label
1. The button clicks and keyboard shortcuts need to be logged appropriately, simila

[2019-02-27 18:12] misaugstad opened #1496 "use the same base image for dev environment and public servers"
We realized that we aren't using the same base Docker image for our dev environment as we are on the servers. This makes it less likely that something will work in production given that it works in our dev environment.

This has become a problem, since we got auto-installing of Python libraries to work on our local dev environments (PR #1475), but the production image won't build because of some u

[2019-02-27 20:49] misaugstad commented on #1281
closing via #1493

[2019-02-27 20:49] #1281 closed

[2019-02-27 20:49] misaugstad commented on #1288
closing via #1493

[2019-02-27 20:49] #1288 closed

[2019-02-28 01:28] misaugstad commented on #1477
closing via #1494

[2019-02-28 01:28] #1477 closed

[2019-02-28 02:01] aileenzeng opened #1497 "Add severity rating to NoSidewalk label in onboarding tutorial?"
![image](https://user-images.githubusercontent.com/25534091/53536017-92eee000-3ab9-11e9-8540-f2510e393637.png)

Now that NoSidewalk labels have severity ratings, should we rate the severity of the label in the onboarding tutorial?

[2019-02-28 02:10] misaugstad commented on #1497
This was already added in PR #1485

It might not be showing up on the server yet b/c we have been making changes to the Docker image and debugging stuff related to that.

[2019-02-28 02:10] #1497 closed

[2019-02-28 12:16] paarig commented on #1391
@aileenzeng Could you send me the eye icon you used in your mockup if you get a chance? Thanks!

[2019-02-28 16:48] misaugstad commented on #1391
@paarig You should be able to find good icons for this at the noun project: [https://thenounproject.com/search/collection/?q=show%20hide%20eye](https://thenounproject.com/search/collection/?q=show%20hide%20eye)

[2019-02-28 17:51] misaugstad commented on #1409
Also on the validation page, the `Start Validating` button is still being shown. I think that we should:
1. Fix the style of the buttons on the audit page navbar
1. Add the "Start Validating" button to the audit page navbar
1. Remove the "Start Validating" button from the validation page navbar

[2019-02-28 20:07] misaugstad commented on #1134
closing via #1475

[2019-02-28 20:07] #1134 closed

[2019-02-28 20:13] misaugstad commented on #1340
closing via #1364

[2019-02-28 20:13] #1340 closed

[2019-02-28 20:17] misaugstad commented on #853
closing via #1453

[2019-02-28 20:17] #853 closed

[2019-02-28 20:30] misaugstad commented on #1374
closing via #1424

[2019-02-28 20:30] #1374 closed

[2019-02-28 20:32] misaugstad commented on #1384
closing via #1400

[2019-02-28 20:32] #1384 closed

[2019-02-28 20:42] paarig commented on #1391
@misaugstad @aileenzeng Sounds good. Also, it seems like the new button is colliding with the longer questions in the validation interface (i.e. is this a broken curb ramp?). What should I do to fix this issue?

[2019-02-28 20:45] misaugstad commented on #1391
I'm assuming you mean missing curb ramp..?

Can you try modifying the CSS to center the title within the space on top minus the button space instead of just centered ignoring the buttons?

[2019-02-28 21:20] misaugstad commented on #1250
We won't be able to fully script this, but I did it to the best of my ability, and added very detailed instructions (along with queries to copy/paste) here: https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Creating-database-for-a-new-city-(WIP)

I'll continue updating that wiki page as I prepare databases for more cities, but I think this issue is as close to complete as it is going to get

[2019-02-28 21:20] #1250 closed

[2019-02-28 22:20] misaugstad commented on #1459
closing via #1492

[2019-02-28 22:20] #1459 closed

[2019-02-28 22:24] misaugstad commented on #965
@andrew4699 can you test this out on the develop branch? I think something we did in the past couple days make it so that we are still logging temp label ids after the context menu has closed. Maybe it was my bad for not reviewing one of your PRs thoroughly, or maybe we broke it another way.

[2019-03-01 00:10] misaugstad commented on #965
closing via #1499

[2019-03-01 00:10] #965 closed

[2019-03-01 01:25] paarig commented on #1391
@misaugstad @aileenzeng Issued a PR for the task. This is the solution I came up with (decreasing font size). Does it look alright?
<img width="1019" alt="screen shot 2019-02-28 at 5 23 05 pm" src="https://user-images.githubusercontent.com/29468022/53609894-d743b400-3b7d-11e9-93af-9224c2666ea1.png">

[2019-03-01 01:26] misaugstad commented on #1391
Not looking good! Going to have to change where the text is located :sweat_smile:

[2019-03-01 01:29] paarig commented on #1391
@misaugstad So you want it to be completely above the buttons right?

[2019-03-01 01:31] misaugstad commented on #1391
Oh no, I see how my wording my have been confusing (I didn't need to use the words "on top").

I just meant to center horizontally between the left margin and the buttons (or at least move it far enough to the left so it looks normal in all situations).

[2019-03-01 01:33] paarig commented on #1391
@misaugstad Ok, so to clarify you want the lettering to have the same font as before but you want it to be in line with the other buttons but more to the left than before?

[2019-03-01 01:35] misaugstad commented on #1391
I think we are on the same page... Same place and size as before you started working on this, just far enough to the left so that it looks good :)

[2019-03-01 01:44] misaugstad commented on #1457
closing via #1487

[2019-03-01 01:44] #1457 closed

[2019-03-01 01:44] misaugstad commented on #1382
closing via #1467

[2019-03-01 01:44] #1382 closed

[2019-03-01 01:45] misaugstad commented on #1396
closing via #1489

[2019-03-01 01:45] #1396 closed

[2019-03-01 02:44] paarig commented on #1391
@misaugstad Does this look good?
<img width="1053" alt="screen shot 2019-02-28 at 6 41 21 pm" src="https://user-images.githubusercontent.com/29468022/53612807-cc425100-3b88-11e9-84b8-80d09738b4b4.png">

[2019-03-01 02:47] aileenzeng commented on #1391
I think more spacing between hide label and the title (so the title is centered between the edge of the panorama & the button)

[2019-03-01 03:55] paarig commented on #1391
@aileenzeng @misaugstad What do you guys think about having hide label left of the text and we just keep the text as it was?

[2019-03-01 04:15] jonfroehlich commented on #1391
Try it and see. :)

(Note: generally, in UI design, it's fastest to mock first and then
implement)

On Thu, Feb 28, 2019 at 7:55 PM Paari Gopal <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> -

[2019-03-01 06:52] aileenzeng opened #1501 "Improve performance for loading labels on the validation interface"
When I'm validating labels, there's a short period of time where the screen goes black before showing another label. I remember the way I changed panoramas was really weird (to work around some GSV bugs), and is probably causing some unnecessary slowdown.

[2019-03-01 12:00] paarig commented on #1391
I personally find this looks better than the previous options as the text still stays centered and seems in a natural place on the screen.
<img width="803" alt="screen shot 2019-03-01 at 3 59 12 am" src="https://user-images.githubusercontent.com/29468022/53636867-785e5900-3bd6-11e9-820d-49713d6be99a.png">

[2019-03-01 13:01] jonfroehlich commented on #1391
I like it better too! :)

Sent from my iPhone

[2019-03-01 18:17] misaugstad commented on #1391
Looks good! Still need a different icon though that doesn't look like the zoom in icon! :grin:

[2019-03-01 18:18] misaugstad commented on #1391
And if you find a good icon on the noun project and it costs a couple dollars, you can just send me the link and I'll buy it

[2019-03-01 19:03] misaugstad commented on #1501
closing via #1502

[2019-03-01 19:03] #1501 closed

[2019-03-01 19:58] misaugstad commented on #1483
closing via #1495

[2019-03-01 19:58] #1483 closed

[2019-03-01 20:04] misaugstad commented on #1350
closing via #1503

[2019-03-01 20:04] #1350 closed

[2019-03-01 21:21] paarig commented on #1391
@misaugstad This one seems to be alright. Do you mind purchasing it? https://thenounproject.com/nociconist/collection/hidden-show/?i=1548572#

[2019-03-01 23:40] misaugstad commented on #1391
closing via #1500

[2019-03-01 23:40] #1391 closed

[2019-03-02 00:11] aileenzeng commented on #1454
Strange, I can't seem to recreate it locally.

[2019-03-02 00:38] misaugstad commented on #986
We have decided to keep the old method of doing this, since the newer method requires reading from the `audit_task_interaction` table, which is too large and will take too long to query.

[2019-03-02 00:38] #986 closed

[2019-03-02 00:41] misaugstad commented on #508
This has no longer been an issue since it was related to using the `audit_task_interaction` table. The queries to too long and large to be used in the actual tool. That table is going to be used only for data analysis from now on. We have not come across this problem since making that change, so I'm closing this.

[2019-03-02 00:41] #508 closed

[2019-03-02 00:53] misaugstad commented on #838
Right, this is something where you can double-click to move forward. and @sbower213 pointed out that the errors in the console have to do with an ad blocker. So I don't think there is an issue here to fix :)

[2019-03-02 00:53] #838 closed

[2019-03-02 00:58] misaugstad commented on #1355
closing via #1504

[2019-03-02 00:58] #1355 closed

[2019-03-02 00:58] misaugstad commented on #1356
closing via #1504

[2019-03-02 00:58] #1356 closed

[2019-03-02 01:04] misaugstad commented on #355
I sort of made changes to how these are generated anyway... And now streets only belong to one neighborhood! And (for the most part) they don't cross neighborhood boundaries. The code is still flexible enough to deal with this, but we should hardly ever see those oddities that were shown above.

[2019-03-02 01:04] #355 closed

[2019-03-02 01:06] misaugstad commented on #378
I am pretty sure that this is no longer relevant. @manaswis let me know if you disagree and we can reopen.

[2019-03-02 01:06] #378 closed

[2019-03-02 01:07] misaugstad commented on #1373
The Newberg shapefile has been split up appropriately, the database created, and the database tested! Looks like we are done here, folks :)

[2019-03-02 01:07] #1373 closed

[2019-03-02 01:11] misaugstad commented on #1353
This is all set up and working now!

[2019-03-02 01:11] #1353 closed

[2019-03-02 01:15] misaugstad commented on #1454
Do you get it on sidewalk-test.cs.washington.edu?

[2019-03-02 01:16] andrew4699 commented on #1190
It appears that **all** of the empty pano ID events come from events sent before the map is loaded or after the map is unloaded.

[2019-03-02 01:18] aileenzeng commented on #1454
I don't have access to the admin page on `sidewalk-test` :)

[2019-03-02 01:22] misaugstad commented on #1454
Ahh I found it. We are looking for `UtilitiesPanomarker.js` but the file is called `UtilitiesPanoMarker.js`. I suggest we rename the file to `UtilitiesPanomarker.js` to match `Panomarker.js` :)

[2019-03-02 01:31] jonfroehlich commented on #1454
Also, let’s give Aileen admin access on test!

Sent from my iPhone

[2019-03-02 01:33] misaugstad commented on #1454
closing via #1505

[2019-03-02 01:33] #1454 closed

[2019-03-02 01:35] misaugstad commented on #1454
Already done :sunglasses:

[2019-03-02 01:35] misaugstad commented on #1190
This makes sense. So the interactions _shouldn't_ have pano_ids associated with them!

[2019-03-02 01:35] #1190 closed

[2019-03-02 01:36] aileenzeng commented on #1454
😍

[2019-03-02 05:33] andrew4699 commented on #1418
@misaugstad I'm making some good progress here. We're logging the button correctly but reporting it incorrectly. I've fixed that part, now I'm moving on to the Turker stuff.

Could you tell me about the Turker links and how they work/what they do?

[2019-03-02 06:30] misaugstad commented on #1418
So turkers will get linked to the website with a link that looks something like
`/?referrer=mturk&hitId=h1&workerId=worker1&assignmentId=a1`

And in the `ApplicationController.scala` file I believe we parse that query string, automatically log the turker in with their credentials, and redirect them to the /audit page. So I believe you will just have to follow the logic in the `ApplicationControlle

[2019-03-02 14:27] jonfroehlich opened #1506 "Menubar not vertically aligned with logo"
![image](https://user-images.githubusercontent.com/1621749/53683316-34418600-3cb4-11e9-9397-84671b65487a.png)

These entities should all be vertically centered.

[2019-03-02 14:29] jonfroehlich opened #1507 "Menubar should turn into hamburger menu when width < some threshold"
![image](https://user-images.githubusercontent.com/1621749/53683332-7b2f7b80-3cb4-11e9-9976-81110b3bd0cd.png)

[2019-03-04 17:37] misaugstad commented on #1238
closing via #1251

[2019-03-04 17:37] #1238 closed

[2019-03-04 18:38] misaugstad commented on #1418
closing via #1508

[2019-03-05 01:24] misaugstad commented on #1507
Related to #816

[2019-03-05 01:29] misaugstad commented on #1476
@lstrobel does this happen both on the develop branch on your local environment and on the sidewalk-test server?

[2019-03-05 01:31] lstrobel commented on #1476
@misaugstad Just tested it, and it did happen again on https://sidewalk-newberg-test.cs.washington.edu/

[2019-03-05 01:36] misaugstad commented on #1476
Ooo I've finally been able to partially reproduce. If I scroll down enough to pause the video at the top, then start scrolling back up, the video doesn't start playing again until it is ~1/2 on the screen.

[2019-03-05 01:37] misaugstad commented on #1476
@andrew4699 can you see if you can reproduce and try to fix it up?

[2019-03-05 02:04] misaugstad commented on #982
This is a lot easier now since the mission infrastructure has been redone (PR #1319). However, I still think it is a bit weird to have a labels/mission graph when missions don't all have the same distance. We did decrease the max distance for a mission considerably though, so I suppose most missions _will_ be about the same length... Should be easy to add.

[2019-03-05 02:17] misaugstad commented on #1463
There is no issue to fix here, so I'm closing this thread.

[2019-03-05 02:17] #1463 closed

[2019-03-05 03:33] misaugstad commented on #501
I removed this model when redoing mission infrastructure (PR #1319)

[2019-03-05 03:33] #501 closed

[2019-03-05 03:36] misaugstad commented on #331
closing via #1510

[2019-03-05 03:36] #331 closed

[2019-03-05 03:49] misaugstad commented on #1461
@mechanicjay has got the Python libraries on the servers! Clustering is now being run and we can see stuff on the results page:
![results-newberg](https://user-images.githubusercontent.com/6518824/53779853-a71a4f00-3eb6-11e9-8b42-be6e4e9281ad.png)

[2019-03-05 03:49] #1461 closed

[2019-03-05 03:50] misaugstad commented on #1496
@mechanicjay has switched the base image we are using for our remote servers to match what we are using for our dev environment :+1:

[2019-03-05 03:50] #1496 closed

[2019-03-05 03:54] misaugstad commented on #1447
Sometime soon I will just make the about page redirect to the Makeability lab project site.

[2019-03-05 04:42] jonfroehlich opened #1511 "Obstacle in path example is weird"
This tree doesn't even look like it's on a sidewalk (or even that a sidewalk exists in this image).

![image](https://user-images.githubusercontent.com/1621749/53781510-02037480-3ebe-11e9-95f2-31cdd358c8ab.png)

[2019-03-05 04:43] jonfroehlich opened #1512 "If we keep hide label on left then text should be centered between left and right set of buttons"
If we keep hide label on left then text should be centered between left and right set of buttons (though I'd like to see a mock first). And, of course, we may also just want to move the 'hide label' button...

![image](https://user-images.githubusercontent.com/1621749/53781541-21020680-3ebe-11e9-9d0b-9ea89871e47d.png)

[2019-03-05 17:14] misaugstad commented on #1409
closing via #1498

[2019-03-05 17:14] #1409 closed

[2019-03-05 17:25] misaugstad commented on #1380
I believe @DoctorWarrior and I chatted about this some time back and we realized that there is nothing untoward happening with the `labelTags` object.

[2019-03-05 17:36] misaugstad commented on #1332
Nobody has documented this bug over the past 4 months while we have made significant changes to the tutorial and have thus tested it thoroughly. I'm going to close this for now. If it comes up again, we can reopen.

[2019-03-05 17:36] #1332 closed

[2019-03-05 17:52] misaugstad commented on #1287
@aileenzeng having worked with PanoMarkers quite a bit now, do you think it is feasible to swap out our current implementation for PanoMarkers without losing any functionality? Furthermore, do you think this would help solve our issue of not being able to resize the GSV window?

[2019-03-05 18:05] jonfroehlich commented on #1287
@tongning was also working on this so should be involved in this conversation imo.

[2019-03-05 18:06] misaugstad commented on #1338
Oh I just realized that we had some potential speedups that @andrew4699 was working on that we sidelined. @andrew4699 do you think there is a promising speedup here that you wanted to finish up working on and submit a PR for? Or do you think we've done the most important stuff and we should move on?

[2019-03-05 18:06] jonfroehlich commented on #1332
How dare you! :P

[2019-03-05 18:16] misaugstad commented on #1511
I agree, it seems like a poor angle (or just too far zoomed in). We could use a new image there.

[2019-03-05 18:38] #535 closed

[2019-03-05 18:38] #578 closed

[2019-03-05 18:38] #1394 closed

[2019-03-05 20:02] misaugstad commented on #168
If we do this, how do you want to define an "active user"? I'm thinking someone who has completed at least one audit task, b/c that is what we use for the tables on the Overview tab of the admin page.

[2019-03-05 20:14] misaugstad opened #1514 "Remove unused scripts"
Our root directory is cluttered with old scripts that we no longer need (especially the ones related to deploying code on the UMIACS server). I'd like to go through and remove the ones we don't need.

[2019-03-05 20:17] misaugstad opened #1515 "Update Python requests library >=2.20.0"
We are using version 2.18.4 of the requests Python library. There is a security vulnerability in this package up until version 2.20.0, so I want to test the code with that version of the library and update it. We only use the Python scripts for clustering, so this particular vulnerability is highly unlikely to affect us. Still, would be good to upgrade the library, especially if it doesn't break a

[2019-03-05 20:21] misaugstad commented on #1515
The most up-to-date version is 2.21.0.

[2019-03-05 20:26] misaugstad commented on #1439
To shorten the text slightly, "Should there be a 'No Sidewalk' label here?"

[2019-03-05 21:02] misaugstad commented on #1435
closing via #1516

[2019-03-05 21:02] #1435 closed

[2019-03-05 21:32] misaugstad commented on #1464
Hmm, I can't get the tags to fit on one line, even after I remove the "steep" tag and rename this to "no landing space".

[2019-03-05 21:37] misaugstad commented on #1464
Looks like we still need to take off another 5 characters. If I changed "missing friction strip" to "no friction strip", I think we could get everything to fit.

@jonfroehlich the question is if you think that "no landing space" is close enough to be worth adding... Like we want to have this tag added even if there is _some_ landing space, just not enough. But maybe "no landing space" is better th

[2019-03-06 00:51] jonfroehlich commented on #1439
seems fine to me!

On Tue, Mar 5, 2019 at 12:26 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-06 04:08] AmethystGear opened #1517 "grunt not found when running npm start"
I get this error when I run ```npm start``` on a newly made container:
![image](https://user-images.githubusercontent.com/21998904/53855356-1610aa00-3f82-11e9-9c0e-f78e82bd88aa.png)
running ```npm install grunt``` fixes this for the container, but if the container is deleted and a new container is made, this error pops up again.
Found this error while testing on windows.

[2019-03-06 17:59] misaugstad commented on #1439
Can we think of anything shorter? I could only get the above to fit if I brought the font size down from 30 to 25:
old:
![image](https://user-images.githubusercontent.com/1621749/52234135-ca30ef00-2875-11e9-84ae-bfeb48c656e0.png)

new:
![should-there-be-a-nosidewalk-label-here](https://user-images.githubusercontent.com/6518824/53902553-3ed28700-3ff6-11e9-8aae-9d870ce57611.png)

And here is what it

[2019-03-06 18:11] jonfroehlich commented on #1439
25 pt is fine

On Wed, Mar 6, 2019 at 10:00 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-06 18:35] misaugstad commented on #1464
@jonfroehlich to summarize: we would have to rename "not enough landing space" to "no landing space" in order to add that tag and keep it to one line. Should we
1. Keep the tags to one line: by removing "steep", renaming "not enough landing space" to "no landing space", and renaming "missing friction strip" to "no friction strip",
1. Keep the tags to one line: by making no change (and thus not add

[2019-03-06 18:36] misaugstad commented on #1464
I am between the 2nd and 3rd option. I don't really like using "no landing space" as a tag.

[2019-03-06 19:00] jonfroehlich commented on #1464
I guess we could go with option 3.

[2019-03-06 20:54] misaugstad commented on #1464
Here is what it looks like across two lines. I'm assuming I should add a bit of vertical space b/w the two lines, but other than that does it look ok?

![tags-on-two-lines](https://user-images.githubusercontent.com/6518824/53912945-f1aedf00-400e-11e9-9b39-ccc26c9e0442.png)

[2019-03-06 21:44] jonfroehlich commented on #1464
I think it should look like this:

![image](https://user-images.githubusercontent.com/1621749/53915985-e612e680-4015-11e9-94af-8321d4026b38.png)

[2019-03-07 02:52] misaugstad commented on #1421
closing via #1519

[2019-03-07 02:52] #1421 closed

[2019-03-07 02:52] misaugstad commented on #1451
closing via #1519

[2019-03-07 02:52] #1451 closed

[2019-03-07 03:18] misaugstad commented on #1514
closing via #1522

[2019-03-07 03:18] #1514 closed

[2019-03-07 13:43] jonfroehlich opened #1523 "Migrate Newberg Audit Data from Test to Production"
A highly engaged Newberg citizen just audited an entire neighborhood in Newberg (see below). We'd like to keep this data by integrating it into the production server, but how?

![image](https://user-images.githubusercontent.com/1621749/53960711-d76f1280-409b-11e9-9024-a9946dc3572c.png)

Here are @misaugstad's thoughts:

[2019-03-07 13:44] jonfroehlich commented on #1523
I think the last option--that is, to only rescue this user's data (and ignore everything else)--is the best option. Can we do that? How long would that take to figure out? Also, how close are we to pushing to production and releasing Newberg more formally>

[2019-03-07 13:48] jonfroehlich opened #1524 "Feedback from highly engaged Newberg citizen"
A highly engaged Newberg citizen (who is a wheelchair user) audited an entire neighborhood on the test server and provided this feedback. I would like all team members to review it.

I really like some of the ideas about improving gamification (better sounds, better feedback, leveling up, badges, etc.)--these are all ideas that were part of our *original* design for Project Sidewalk (if you can be

[2019-03-07 13:51] jonfroehlich commented on #1524
Personally, I really like some of the ideas about improving gamification (better sounds, better feedback, leveling up, badges, etc.)--these are all ideas that were part of our *original* design for Project Sidewalk (if you can believe it) but just never got implemented due to prioritization and lack of time.

The user also suggests providing even more tag options (and proposes that we use a dropdo

[2019-03-07 16:17] misaugstad commented on #1523
I'm going to spend today on this problem, and hopefully I can just get it resolved today.

Before this came up, we just needed @mechanicjay to set up the new server, we were all set to deploy.

[2019-03-07 16:40] jonfroehlich commented on #1523
Ok!

Is Jason aware that he needs to be setting up the production server? I’m not sure I’ve seen those emails...

Sent from my iPhone

[2019-03-07 16:41] jonfroehlich commented on #1523
Never mind, I see that email now!

Sent from my iPhone

[2019-03-07 17:07] misaugstad commented on #1523
I just tried creating a user in a database, then migrating that user's credentials over to a new database and was unable to do so, got some cryptic error :( Given the time-sensitive nature of this, I'm going to go with the first option, and just try to clean the old database as best I can.

[2019-03-07 18:20] misaugstad opened #1525 "Admin analytics tab: graphs don't work if no data"
The missions completed per user and labels per user graphs don't load if one of the user groups doesn't have any data to go on that graph.

![graph-fail-1](https://user-images.githubusercontent.com/6518824/53979390-86bee000-40c2-11e9-98f5-ea96b7436748.png)
![graph-fail-2](https://user-images.githubusercontent.com/6518824/53979392-87f00d00-40c2-11e9-8092-2d3a5ab4ecc3.png)

[2019-03-07 18:22] misaugstad commented on #1418
There seems to be an error with this chart on the test server. See images below:

![chart-fail-1](https://user-images.githubusercontent.com/6518824/53979515-f1701b80-40c2-11e9-8dbe-651c35f41a65.png)
![chart-fail-2](https://user-images.githubusercontent.com/6518824/53979517-f2a14880-40c2-11e9-8917-8446f6c8d44e.png)

[2019-03-07 18:23] misaugstad commented on #1418
@andrew4699 could you look into this?

[2019-03-07 19:31] misaugstad commented on #1447
closing via #1526

[2019-03-07 19:31] #1447 closed

[2019-03-07 19:37] misaugstad commented on #1439
closing via #1518

[2019-03-07 19:37] #1439 closed

[2019-03-07 19:37] misaugstad commented on #1512
closing via #1518

[2019-03-07 19:37] #1512 closed

[2019-03-07 20:30] misaugstad commented on #1524
Haven't been able to reproduce on Chrome or Firefox on Ubuntu 16.04. Others should see if they can reproduce.

Although this isn't great that he is having a hard time rating severity, super glad we have the '?' showing up on the labels!!

I believe it is only the double click that works for this; keyboard just follows the GSV arrows I think.

Our GIFs are relatively small, and larger images could

[2019-03-07 22:46] andrew4699 commented on #1418
So there's an inconsistency in URL paths between the local and test servers. I believe the double `encodeURIComponent` was required for the test server so I will add that back. However, if you go to the correct URL ([](https://sidewalk-test.cs.washington.edu/adminapi/webpageActivity/Click/module=StartExploring/location=Navbar/route%253D%252F)) it returns nothing.

Does the following query on the t

[2019-03-07 23:48] lstrobel commented on #1517
I had the same error. The fix posted worked for me. I do still get the warning `>> Local Npm module "grunt-contrib-jasmine" not found. Is it installed?`, but the site still works regardless.

[2019-03-08 00:00] misaugstad opened #1527 "CRLF line endings break Docker setup scripts"
For some reason, we seem to have Windows style line endings on our Docker scripts (`db/init.sh` and `db/import-dump.sh`). Our Docker container is running Linux, and the scripts fail with a cryptic error like `sh: 1: /opt/import-dump.sh: not found`.

Taken from [this Stackoverflow post](https://stackoverflow.com/a/19283453), we can fix the line endings by running
[code]

I think we may want to add

[2019-03-08 00:01] misaugstad commented on #1527
This issue has been encountered by myself and @lstrobel and the fix worked for both of us.

[2019-03-08 00:01] misaugstad commented on #1527
And thanks @athersharif for figuring out the fix in the first place!

[2019-03-08 13:51] jonfroehlich opened #1528 "After you click on 'Validate 10 more labels', there is a noticeable delay"
After you click on 'Validate 10 more labels' on the validation mission completion screen, there is a noticeable delay. The delay itself isn't a huge problem but as soon as you click the button, the mission completion screen disappears and you can then interact with the underlying validation screen again (even though this is showing data from the previous mission). Does this make sense? If you try

[2019-03-08 13:57] jonfroehlich opened #1529 "Some of the labels in Newberg aren't exactly on target"
I'm doing some validations this morning and noticed that some of the Newberg labels are correct but not exactly on target. I'm not sure if this is because the user placed them like this or if there is some bug on our end in either tracking the label position or displaying it in the validation interface.

![image](https://user-images.githubusercontent.com/1621749/54032261-f33eeb00-4165-11e9-9d20-5c

[2019-03-08 13:57] jonfroehlich opened #1530 "How can I tell what zoom level I'm at in validation interface?"
How can I tell what zoom level I'm at in validation interface? There doesn't seem to be any way I can tell other than playing with the zoom in and out controls.

[2019-03-08 14:03] jonfroehlich opened #1531 "Multi-user clustering failing for The Greens in Newberg"
There is a discrepancy between the /results map and the admin map. Check out the 'The Greens' neighborhood on the /results page. Note how it says 36% complete but with no labels--I thought that was weird!

![image](https://user-images.githubusercontent.com/1621749/54032868-a65c1400-4167-11e9-8547-cf72ef3e3f15.png)

So, I investigated on the admin page map and, sure enough, there are actually label

[2019-03-08 14:05] jonfroehlich opened #1532 "Possible to show the underlying point labels (clusters) on /results page?"
I think it would be really cool to see the underlying label clusters on the /results page. These could just be shown similar to how they are on the admin map (drawn on top of the choropleth color).

![image](https://user-images.githubusercontent.com/1621749/54033036-1cf91180-4168-11e9-9371-4a6477520420.png)

[2019-03-08 14:07] jonfroehlich opened #1533 "'Are you sure you want to refresh page'?"
The Newberg user mentioned accidentally hitting refresh on their keyboard (F5, I think) when trying to select a severity value instead. Though this has never happened to me before, it happened to me a few times this morning!

So, I wonder if we want to consider having a pop-up asking 'Are you sure you want to refresh' or something similar. I know some websites have warnings like: 'Are you sure you

[2019-03-08 14:10] jonfroehlich opened #1534 "When trying to view a contributor, receive an error"
When I click on a username in this table:
![image](https://user-images.githubusercontent.com/1621749/54033331-dfe14f00-4168-11e9-9485-2c5eced5fb99.png)

I get this error:
![image](https://user-images.githubusercontent.com/1621749/54033314-cfc96f80-4168-11e9-9bc5-651156342c31.png)

onError Happened
Execution exception[[IllegalFormatConversionException: f != java.lang.Integer]]

[2019-03-08 14:22] jonfroehlich commented on #702
I reached the end of a route and clicked on the bar in bottom right hand corner to 'jump to a new location' but I didn't actually jump. You can tell I didn't jump because the screen says I've been "moved to a new location" but you can see the labels that I had just added at that intersection.

![image](https://user-images.githubusercontent.com/1621749/54033890-6185ac80-416a-11e9-89a1-48fcff1f9289.

[2019-03-08 14:25] jonfroehlich commented on #248
Sidewalk chalk art:

![image](https://user-images.githubusercontent.com/1621749/54034134-fab4c300-416a-11e9-99ad-b1a67f78a4f2.png)

[2019-03-08 17:34] misaugstad commented on #1534
duplicate of #1423 (I've improved the original issue so that it is more easily searchable)

[2019-03-08 17:34] #1534 closed

[2019-03-08 17:36] misaugstad commented on #1533
It wasn't that they were accidentally hitting refresh, it was that they were hitting the 'back' button on their mouse. But I think the solution applies in both cases.

[2019-03-08 17:44] misaugstad commented on #1532
In larger cities like DC/Seattle, there will be far too many labels/clusters for this to work. The page would likely become unresponsive, or at the very least take far too long to load (and the page already takes a bit longer than we want). I just don't see a way this ends up being added to the current viz.

Possibly if @manaswis @tongning and @richardwmcgovern make entirely new visualizations tha

[2019-03-08 17:44] #1532 closed

[2019-03-08 17:48] misaugstad commented on #1531
The reason is that the /results viz uses clusters while the admin map uses labels. The clusters are not added in real time like the labels are. I audited The Greens last night then didn't run clustering, which explains the discrepancy.

Unfortunately, right now I need to manually run clustering myself. Adding automated nightly clustering (and possibly real-time or hourly) is on the near-term TODO

[2019-03-08 17:49] misaugstad commented on #1530
Is this something you think is worth seeing in the interface? IMO it isn't that important and is unlikely to be worth the visual clutter.

[2019-03-08 17:50] misaugstad commented on #1529
Hmm, well I believe the validation page is setting you to the exact zoom the user had when they placed the label, so if it looks off when it first comes up, that is a problem I'd think.

[2019-03-08 17:51] misaugstad commented on #1529
Interested to hear what @aileenzeng thinks.

[2019-03-08 17:53] misaugstad commented on #1528
Agreed, I see the same thing.

[2019-03-08 17:59] misaugstad commented on #1464
closing via #1521

[2019-03-08 17:59] #1464 closed

[2019-03-08 18:00] jonfroehlich commented on #1532
I don't think it would be that hard to make a rasterized overlay of label clusters every ~1 hr on the backend that is then displayed on the map. Bt fine.

[2019-03-08 18:00] misaugstad commented on #1523
Did it, Newberg server is live with the migrated data! https://sidewalk-newberg.cs.washington.edu/

[2019-03-08 18:00] #1523 closed

[2019-03-08 18:01] jonfroehlich commented on #1531
OK, great. I agree that this should not be manual. :)

[2019-03-08 18:03] jonfroehlich commented on #1530
At the very least, the zoom in and out buttons should be *grayed* out when you are in the most zoomed in state and in the most zoomed out state. They are not currently. This should add not visual clutter and should also be easy to implement.

[2019-03-08 18:10] misaugstad opened #1535 "Switch shortcut for NoSidewalk tags"
It is pretty nitpicky, but the "street has a sidewalk" tag is on the left and uses the 't' key, while the "street has no sidewalk" tag is on the right and uses the 'r' key (which is just to the _left_ of the 't' key). I start by choosing the wrong tag nearly 100% of the time. I would just love if they shortcuts matched physical location on the keyboard whenever there is an easy choice.

![change-n

[2019-03-08 18:12] misaugstad commented on #1530
^^ Good idea

[2019-03-08 18:24] misaugstad commented on #1531
Actually, just tried to run clustering. Single-user clustering worked. Multi-user clustering failed, but it seemed to work have failed at the end, while doing The Greens. Going to test on my local environment to see if I can reproduce.

[2019-03-08 19:34] jonfroehlich commented on #1530
And I'm pretty sure this is how the core labeling interface works! :)

[2019-03-08 22:07] misaugstad commented on #1531
Was not able to reproduce on my local Docker setup, things worked just fine. I asked @mechanicjay for the log file from the production server so I can investigate.

[2019-03-08 23:06] misaugstad opened #1537 "Wrong duration displayed on front-end for turker assignments"
The end timestamp for turker HITs is correctly being recorded in the database, but it is being sent to the front-end in UTC and not being converted to a local timezone. I tried to assign a 1.5 hour assignment, and the front-end says it is a 9.5 hour assignment :(

Shouldn't be too hard to fix.

![wrong-timezone-turk](https://user-images.githubusercontent.com/6518824/54060876-412e1000-41b3-11e9-9ce

[2019-03-09 00:03] aileenzeng commented on #1529
That's correct! There is one adjustment to the zoom level that I make on the validation interface when loading labels from the audit interface, so I'll do an extra check to make sure those are working correctly. Will post findings shortly (and submit a PR if there seems to be something wrong on our end).

I also wonder how we should tell users to deal with labels that seem to be slightly misplaced

[2019-03-09 00:49] andrew4699 commented on #1430
Lets split the user dashboard part of this into a different issue.

For the admin dashboard, I'm thinking of the following stats:
- Types of labels that were validated, also split into overall/today/yesterday and accepted/rejected/unknown
- Daily validation counts, just like the "Daily Label Counts" graph on the analytics page
- Validations per user, just like "Labels per User" on the analytics pa

[2019-03-09 00:56] aileenzeng commented on #1529
It looks like some of our zooming for level 3 is a little off (I'm suspecting this is because I'm passing in the wrong zoom parameter somewhere). Sometimes labels also appear a little off because the labels are smaller on the validation interface at that zoom level (and I'm not super sure how much control we have over that). I'll continue to explore this more later.

This is the most "obvious" / w

[2019-03-09 01:03] misaugstad commented on #1430
I like all of these! One thing to note is that we have to define a "user" for the validations per user graph. I think we should define a "user" in this context as someone who has validated at least one label at some point. I just don't want a histogram with 500 users with 0 validations messing with the y-axis.

[2019-03-09 01:04] misaugstad commented on #1430
And I'm not sure if we care about label type for validations... @jonfroehlich do you think we want to know what label types are being validated daily on the admin interface? Or just an aggregated number?

[2019-03-09 01:06] misaugstad commented on #1476
closing via #1539

[2019-03-09 01:06] #1476 closed

[2019-03-09 01:18] misaugstad commented on #1537
closing via #1540

[2019-03-09 01:18] #1537 closed

[2019-03-09 01:20] jonfroehlich commented on #1430
Not sure. But we do want stats on the best and worst performing users. :)

Sent from my iPhone

[2019-03-09 01:24] misaugstad commented on #1430
Ooo how do you see that playing out? Maybe adding a column to the "Users" table that has the percentage of their labels that others agreed with via validation?

[2019-03-09 03:14] misaugstad opened #1541 "Newberg High neighborhood at 99% complete but all streets audited"
I think that all the streets in Newberg High have been audited, but the choropleth says it is only 99% complete. I will investigate on Monday.

[2019-03-09 03:15] misaugstad commented on #1531
Didn't see anything related to this in the log file :( will continue investigating next week.

[2019-03-09 13:56] jonfroehlich commented on #248
Painted crosswalk to nowhere!

![image](https://user-images.githubusercontent.com/1621749/54072455-d7a01700-422f-11e9-950b-19baaa737a2e.png)

svl.panorama.getPano();
"05VE31kKS6Who1dP9MRjmw"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
1438

[2019-03-09 14:09] jonfroehlich opened #1542 "Mouseover label in validation interface to see rating or description?"
When validating, sometimes I *really* want to see what the user tagged or wrote in the description box to better understand what they were thinking when they made the label. Thoughts on this?

![image](https://user-images.githubusercontent.com/1621749/54072601-c6f0a080-4231-11e9-948c-cd2f6b358847.png)

[2019-03-09 14:13] jonfroehlich opened #1543 "Validation Interface bug: Cannot read property 'left' of null"
Clicked 'Disagree' in validation interface but nothing happened. The console showed this:
[code]

[2019-03-09 14:16] jonfroehlich opened #1544 "Cursor should switch to open hand when cursor is in GSV pane in validation interface"
Cursor should switch to open hand when cursor is in GSV pane in validation interface

![image](https://user-images.githubusercontent.com/1621749/54072651-bdb40380-4232-11e9-85da-76f6e7764e62.png)

[2019-03-09 22:28] athersharif commented on #1527
@misaugstad love the idea of .gitattributes file. adding `sed` to each shell script execution is so aesthetically displeasing 🤣

[2019-03-11 19:14] misaugstad commented on #1544
duplicate of #1393

[2019-03-11 19:14] #1544 closed

[2019-03-11 19:27] misaugstad opened #1545 "context menu can block instructions in tutorial"
We probably just need to change the min/max heading angles for the different parts of the tutorial to deal with this. We might want to slightly decrease the width of an instruction at some point too. Here are some examples:

![instruction-blocked-1](https://user-images.githubusercontent.com/6518824/54151797-e2f26e80-43f8-11e9-8e84-cf58a865b87d.png)
![instruction-blocked2](https://user-images.githu

[2019-03-11 19:32] misaugstad opened #1546 "Require users to type their password twice when signing up"
When users sign up they only have to enter their password once (and the characters are hidden). We should use the standard practice of requiring users to type their password twice (where we verify that they typed the same thing both times) to make sure they entered their password correctly.

![signup-one-password](https://user-images.githubusercontent.com/6518824/54152073-8fcceb80-43f9-11e9-9167-4

[2019-03-11 19:49] misaugstad opened #1547 "clicking on underlined letter in tags doesn't work"
Adding tags works by clicking anywhere on the label tag _except_ on the letter that is underlined for keyboard shortcuts :rofl: Nothing happens if you click directly on that letter.

This does not seem to be a problem neither for the zoom buttons nor the label type buttons.

[2019-03-11 19:52] misaugstad opened #1548 "Feedback from Mikey's roommate Macall"
My roommate @macallmcqueen completed the tutorial and one mission in Newberg while I watched. Here is a series of notes from that:

- wanted the sing in button to say sign in/up (related to #609)
- didn't notice white arrow pointing to curb ramp in tutorial for awhile, wanted a brighter color
- found labeling sound satisfying
- kept trying to drag the label type buttons onto the pano instead of cl

[2019-03-11 19:53] misaugstad commented on #1418
closing via #1538 just tested that the fix does work on the test servers :+1:

[2019-03-11 19:53] #1418 closed

[2019-03-11 19:56] misaugstad commented on #1449
Through the choropleth on the landing page I clicked to audit Dayton and got the same thing.

[2019-03-12 16:24] misaugstad commented on #1449
When I went back to the landing page and tried again, this didn't happen (even right after it happened)

[2019-03-12 18:02] misaugstad commented on #1423
Update: we are seeing this error even with users who have completed the tutorial.

[2019-03-12 18:53] misaugstad commented on #1423
closing via #1549

[2019-03-12 18:53] #1423 closed

[2019-03-12 19:18] misaugstad commented on #1541
Fixed the small floating point error on the server by truncating the `region_completion` table!

[2019-03-12 19:18] #1541 closed

[2019-03-12 21:41] misaugstad commented on #248
Someone walking on street with no sidewalk
![walking-no-sidewalk](https://user-images.githubusercontent.com/6518824/54238090-c0358800-44d4-11e9-9bf0-b5a8c3787e87.png)

In Newberg
svl.panorama.getPano();
"-B62-CmqOwpvSvS1qbq40Q"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
1686

[2019-03-12 23:01] misaugstad commented on #1545
@lstrobel can you take this on? I imagine it will be quick

[2019-03-12 23:02] misaugstad commented on #1531
it seems to be working now, but I have no idea why :cry:

[2019-03-12 23:31] misaugstad commented on #1430
For now I'm thinking we add this to the user table.. Maybe add two columns: one for how many of their labels have been validated, and another for the percentage of those validations that "agreed" with the user's labels.

[2019-03-12 23:36] misaugstad opened #1550 "researcher version of validation page - validate users"
It would be useful to allow the validation page to show labels from only one user (only accessible by researchers). This would make it easier to verify that turkers are auditing in good faith (while simultaneously adding validation data!!).

@aileenzeng how hard do you think this would be to do? I would want to use the current validation interface, just make it so that the back-end only serves up

[2019-03-12 23:38] misaugstad commented on #1430
And a histogram of the agreement percentages for users. So number of users on y-axis, what percentage of validations of their labels were "agree" on the x-axis. Probably with 20 bins or so? And probably include only users who have had at least 10 of their labels validated or something?

[2019-03-13 00:37] aileenzeng commented on #1550
I this this should be fairly doable! From the backend, we'll probably have to tweak how labels are retrieve (easy) and think about what it means to send out missions (harder). If we choose not to send missions (since I'm not sure what a "mission" means in this context), there might need to be a few front-end modifications as well (i.e., getting rid of the mission container & code that updates any

[2019-03-13 00:45] jonfroehlich commented on #1531
Divine intervention Mikey! Or aliens!

Sent from my iPhone

[2019-03-13 12:37] jonfroehlich opened #1551 "Make it more clear which part of Seattle metropolitan area is not auditable"
We should make it more clear which part of Seattle metropolitan area is not auditable (by setting the non-auditable parts to darker gray or something while maintaining translucency).

![image](https://user-images.githubusercontent.com/1621749/54279299-f8c77700-4551-11e9-8943-4a5540d329a3.png)

[2019-03-13 12:39] jonfroehlich commented on #1449
This just happened to me on the Seattle page.

1. Went to new seattle-test server for first time
2. Scrolled down to a neighborhood
3. Clicked on region 12 (Bryant) and selected 'Start auditing from here'
4. Was immediately greeted by a neighborhood completion screen

![image](https://user-images.githubusercontent.com/1621749/54279456-5e1b6800-4552-11e9-9563-c09701bce710.png)

[2019-03-13 12:41] jonfroehlich opened #1552 "Pano scrapers working for Newberg and Seattle?"
The pano scrapers are critical to our computer vision work. Do we have these working for Newberg and Seattle? Also, would still be nice to have this: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/1209

[2019-03-13 12:55] jonfroehlich opened #1553 "Endless mission complete + resume mission loop"
I was auditing my first-ever mission on Seattle test server. Here are the steps that occurred:

1. Selected Bryant region to audit (region 12). Did not sign in. Did not take tutorial
2. Was auditing along when greeted by pop-up that said: "looks like you've been auditing alot, do you want to sign in." I didn't realize that I wasn't signed in, so I then chose to sign in
3. I took a few more steps a

[2019-03-13 13:02] jonfroehlich opened #1554 "Feedback survey is kind of abrupt"
Can the title of the survey say something like: "Please take this one-time survey about your thoughts and use of Project Sidewalk" rather than just "Feedback survey."

![image](https://user-images.githubusercontent.com/1621749/54280785-8b1d4a00-4555-11e9-8154-718df670f149.png)

[2019-03-13 13:10] jonfroehlich commented on #1551
Update: the results page does this well:

![image](https://user-images.githubusercontent.com/1621749/54281306-a76db680-4556-11e9-8d57-81483a602135.png)

[2019-03-13 13:15] jonfroehlich commented on #1430
All sounds good. Start with user table first. Should be easiest.

On Tue, Mar 12, 2019 at 4:38 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://www.cs.umd.edu/~jonf/
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2019-03-13 13:29] jonfroehlich opened #1555 "Validation mission screen design."
I think the validation mission screen design could be improved by showing the user examples of the specific label type they are being asked to validate. (Perhaps both positive and negative examples--I'd have to see mocks to know). This would help educate the user and also help prepare them for the validation task.

![image](https://user-images.githubusercontent.com/1621749/54282487-57dcba00-4559-1

[2019-03-13 13:34] jonfroehlich commented on #1392
I still think this is important because I have a hard time evaluating the correctness of some labels without knowing what the user was thinking--so, I'd like to see if they added comments, etc.

For example, this one:

![image](https://user-images.githubusercontent.com/1621749/54282778-f23cfd80-4559-11e9-8696-a83647fea221.png)

I've zoomed in and hidden the label and it's not clear why this surfac