[2019-11-14 19:14] misaugstad commented on #1965
closing via #1966

[2019-11-14 19:14] #1965 closed

[2019-11-15 18:40] misaugstad commented on #1372
closing via #1968

[2019-11-15 18:40] #1372 closed

[2019-11-15 23:55] misaugstad commented on #1964
closing via #1970

[2019-11-15 23:55] #1964 closed

[2019-11-16 01:29] misaugstad commented on #1962
closing via #1969

[2019-11-16 01:29] #1962 closed

[2019-11-16 03:52] misaugstad commented on #1963
@jonfroehlich couldn't sign in bc he was using the wrong email address. in the videos are issues where he couldn't sign up which are big problems that should be addressed.

[2019-11-18 18:42] jonfroehlich commented on #1963
Right, but the video does highlight multiple problems with our signup user flow, as you said. These are important to fix.

[2019-11-18 18:51] jonfroehlich commented on #1887
@misaugstad, fyi, I just added:

- http://azcapotzalco.projectsidewalk.io
- http://ciudad-de-mexico.projectsidewalk.io
- http://mexico-city.projectsidewalk.io

All which currently point to: https://sidewalk-cdmx.cs.washington.edu/ (this server has not been setup yet though).

[2019-11-18 21:27] misaugstad commented on #1887
we should add cdmx.projectsidewalk.io as well

[2019-11-18 21:40] jonfroehlich commented on #1887
done

On Mon, Nov 18, 2019 at 1:27 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2019-11-18 22:25] misaugstad commented on #1963
Ok the problem is that we don't have an error message show up when you provide a password that is less than 6 characters on that /signUp page. We do have it for the modal that shows up if you click the sign in button on the navbar, but not on the dedicated page.

![pw-6-characters](https://user-images.githubusercontent.com/6518824/69099227-1b7a2b80-0a0f-11ea-8589-1f79b38ff4f1.png)

I'll make sure

[2019-11-20 20:24] misaugstad commented on #1963
Oops it is actually worse than this. When we started requiring typing your password twice when signing up, we didn't include that on both pages. so signing up just does not work at all on this page, oops! The original PR is #1755

I'll move all that functionality over.

[2019-11-20 21:14] misaugstad commented on #1963
closing via #1972

[2019-11-20 21:14] #1963 closed

[2019-11-22 00:08] misaugstad opened #1973 "neighborhood complete incorrect in columbus"
I'm getting the neighborhood complete message in Columbus even though we've only finished 2% of downtown.

![neighborhood-complete-columbus](https://user-images.githubusercontent.com/6518824/69386985-2f28ca80-0c79-11ea-9495-2c9cffd48a05.png)

[2019-11-22 00:12] jonfroehlich commented on #1973
Yikes!

Sent from my iPhone

[2019-11-22 01:20] misaugstad commented on #1973
Okay I figured out the issue! I ran my script that checks for streets that have no imagery last week, and I marked those streets as deleted in the database. But I was actually in the middle of auditing one of those streets, so when I tried to audit again this is the error that showed up! Fixed the issue so I'm not getting this error anymore.

[2019-11-22 01:20] #1973 closed

[2019-11-22 01:39] jonfroehlich commented on #1973
So this was just on your localhost?

Sent from my iPhone

[2019-11-22 01:40] misaugstad commented on #1973
No this was on the test server.

[2019-11-22 01:41] misaugstad commented on #1973
I just had to mark the street as `deleted = FALSE`, load the audit page and jump to a new street, then mark the street as `deleted = TRUE` again.

[2019-11-23 17:59] misaugstad opened #1974 "set up configs for Mexico City server"
We need to create a seed database for Mexico City (CDMX) and set up the configs in `conf/cityparams.conf`.

[2019-11-26 14:15] jonfroehlich commented on #1850
We have tabled rapid validation for now...

[2019-11-26 14:15] #1850 closed

[2019-11-26 14:16] jonfroehlich commented on #1767
If we pursue this, we'd need mocks first of course...

[2019-11-26 19:26] misaugstad commented on #1974
closing via #1975

[2019-11-26 19:26] #1974 closed

[2019-11-27 17:34] jonfroehlich opened #1977 "After finishing three validation missions on Columbus, interface hung on 'start an exploration mission'"
![image](https://user-images.githubusercontent.com/1621749/69746376-febdb200-10f8-11ea-8e1a-3003f62da82c.png)

Also, I thought the new code recently pushed no longer forced a mission path but rather enabled users to choose either to continue validating or to start exploring...

[2019-11-27 19:00] misaugstad commented on #1977
I didn't realize the webhook for Columbus wasn't set up yet when I pushed out the new version last night, so Columbus still has the old version right now. Emailing Jason about it now. Not sure why we are hanging here though... Might be an edge case since we don't have very many labels to validate...

[2019-11-27 19:06] misaugstad commented on #1977
Actually not emailing Jason, just making a small edit to the README to trigger the webhook. I needed to test the webhook anyway, so this is a good chance to do so.

[2019-11-27 23:07] jonfroehlich opened #1978 "With only a single neighborhood in Columbus, this dialog doesn't make sense :)"
![image](https://user-images.githubusercontent.com/1621749/69765102-79052b00-1127-11ea-9624-2f5fdbc22af3.png)

I first selected 'Go to a new Neighborhood' which just brought me to the 'resume' screen for the place I was currently standing. I then tried again and selected 'Go to a new location in this neighborhood' and that seemed to work but then I immediately got a pop-up saying that I was far of

[2019-11-27 23:38] jonfroehlich commented on #248
![image](https://user-images.githubusercontent.com/1621749/69766254-034f8e00-112c-11ea-8018-77744ad04e69.png)

[2019-11-28 13:50] jonfroehlich commented on #1977
Hasn't happened again to me and now I see that the new mission select code is there (and working from my testing)...

[2019-11-28 13:55] jonfroehlich commented on #248
Person in a wheelchair:

![image](https://user-images.githubusercontent.com/1621749/69811530-16ea0b80-11a3-11ea-82e2-fab704d17137.png)

[2019-11-28 13:55] jonfroehlich commented on #248
Bush growing around a pole!

![image](https://user-images.githubusercontent.com/1621749/69811779-aabbd780-11a3-11ea-80dc-eba26f1f970e.png)

[2019-11-28 13:59] jonfroehlich commented on #1977
Hmm, now it's hanging after completing an initial set of 10 validations. If I had to guess, it's because there are no more validations available.

![image](https://user-images.githubusercontent.com/1621749/69812026-41889400-11a4-11ea-9667-d123740fe993.png)

[2019-12-02 14:53] jonfroehlich commented on #1923
I still think this is necessary.

The screenshot below shows what happens when you mouseover a label using a laptop/desktop. We need something similar for touchscreens. For touchscreens, I would make it so that if user touches label, this info stuff pops up.

![image](https://user-images.githubusercontent.com/1621749/69968972-5cbf1080-14d0-11ea-862c-7e6726932cd7.png)

[2019-12-03 22:42] misaugstad commented on #1944
@jonfroehlich do you think it is important to translate the landing page right away as well? Since it is the first thing people see

[2019-12-03 22:48] jonfroehlich commented on #1944
Ugh. Probably. Good call. What do you think?

Sent from my iPhone

[2019-12-03 23:03] gari01234 commented on #1944
Great idea! I will do the translation in the next couple of days.

[2019-12-03 23:04] misaugstad commented on #1944
Great, thank you!!

[2019-12-05 13:34] jonfroehlich commented on #248
Columbus, OH really bad curb ramp.

![image](https://user-images.githubusercontent.com/1621749/70239608-75be0080-1720-11ea-99fc-069fb4c7934d.png)

![image](https://user-images.githubusercontent.com/1621749/70239791-d0eff300-1720-11ea-9d07-6f13682b5fa5.png)

[2019-12-05 17:30] jonfroehlich commented on #1907
Another thing I was thinking about to draw attention to this (for advocacy) would be to include a:
- vote for the worst sidewalk infrastructure and show pics of some of the worse, most severe problems we've discovered
- similarly, could take a few more domains like curbramp.io etc.

[2019-12-06 23:37] misaugstad commented on #1944
@gari01234 one thing I noticed when looking at the translations: "obstacle in path" was translated to "obstáculo en el camino". My concern is that "camino" is translated to both "path" and "road". Do you think people might confuse this to mean "obstacle in the street"? We might want to come up with an alternate translation if that is a possibility, b/c we don't want users labeling obstacles in the

[2019-12-07 14:45] jonfroehlich opened #1979 "A few more tag ideas"
Add:
- 'Construction' tag to both Obstacle in Path and Surface Problem
- 'Narrow Sidewalk' tag to Obstacle in Path (exists in surface problem but should exist in both imo)
- 'Brick' for Surface Problem
- 'Sign' for Obstacle in Path

[2019-12-07 15:07] jonfroehlich commented on #248
In Columbus. Is this really a good curb ramp?

![image](https://user-images.githubusercontent.com/1621749/70376407-966f8d00-18bd-11ea-81e7-1602182a64ba.png)

[2019-12-07 19:58] gari01234 commented on #1944
You're right. I will change it to "obstáculo en banqueta" to be more specific and avoid confusion. Thanks for the observation ;)

[2019-12-13 17:30] gari01234 commented on #1944
Here is the document with the Spanish translation for the landing page: https://docs.google.com/document/d/1v6u7UjFIeGfBnIclLkEfU1__geBflA6KmsVTXk0u02M/edit?usp=sharing

[2019-12-13 22:29] misaugstad commented on #1944
This looks great, thank you!! Your help has been incredible.

Okay and I found some parts of the tutorial that were not translated because they only show up if you make a mistake during it!  Here are the 9 bits of text that haven't been translated:
![to-translate-1](https://user-images.githubusercontent.com/6518824/70836327-b36ff880-1db4-11ea-90bd-0f42b64e071d.png)

![to-translate-2](https://user-

[2019-12-13 23:44] misaugstad commented on #1979
why do you think Construction and Narrow Sidewalk should be in both Obstacle and Surface Problem?

I 100% agree with brick being a new tag.

And I think the "Sign" tag probably makes sense. though I'm not sure when that comes into play and it isn't either a pole or construction as well

[2019-12-14 00:11] jonfroehlich commented on #1979
because sometimes a sidewalk is narrow not due to a surface problem but due
to an obstacle :)

some markets/cafes put signs outside their businesses that can be obstacles
(these signs are not poles and are not construction)

On Fri, Dec 13, 2019 at 3:44 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
U

[2019-12-14 00:25] misaugstad commented on #1979
(these signs are not poles and are not construction)

Right, that makes sense

to an obstacle :)

I feel like it making the sidewalk either narrow or completely obstructed is just part of what it means for there to be an obstacle in the path though, right?

[2019-12-14 00:37] jonfroehlich commented on #1979
yah, maybe but in some cases like when a wall is encroaching on
sidewalk space, i want to mark that as an obstacle and also tag narrow
sidewalk... hmmm

On Fri, Dec 13, 2019 at 4:25 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://

[2019-12-14 00:59] manaswis commented on #1979
To add, how would someone handle the case where the sidewalk is narrow to
begin with--not due to surface issue or an obstacle but because of its
construction?

On Fri, Dec 13, 2019 at 4:37 PM Jon Froehlich <notifications@github.com>
wrote:

--
Best Regards,
Manaswi Saha
Ph.D. Student
Paul G. Allen School of Computer Science & Engineering
University of Washington, Seattle
*homes.cs.washington.edu/~

[2019-12-14 01:05] jonfroehlich commented on #1979
construction tends to be an obstacle and i'm not sure this is (or has been)
particularly confusing to users

On Fri, Dec 13, 2019 at 4:59 PM Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make

[2019-12-14 01:27] manaswis commented on #1979
To clarify, by "the sidewalk being narrow to begin with", I meant it was
constructed too narrow. What would labelers mark it as?

On Fri, Dec 13, 2019 at 5:05 PM Jon Froehlich <notifications@github.com>
wrote:

--
Best Regards,
Manaswi Saha
Ph.D. Student
Paul G. Allen School of Computer Science & Engineering
University of Washington, Seattle
*homes.cs.washington.edu/~manaswi <http://homes.cs.washi

[2019-12-14 01:53] misaugstad commented on #1979
we've been suggesting they mark as a surface problem. it doesn't really feel like a surface problem or an obstacle, but we decided that adding another label type for it would be too much.

[2019-12-17 20:10] misaugstad commented on #1944
note to self: "banqueta" is used for "sidewalk" in Mexican Spanish specifically. In most of the world, the word "acera" is used instead. And "banqueta" would be particularly confusing for them because most people would translate that to "bench" lol

[2019-12-17 21:13] misaugstad commented on #1944
@gari01234 do you think it makes most sense to keep the translation of "neighborhood" to "barrio"? Or should we switch it to "colonias" since that's the delineation we are actually using?

[2019-12-17 22:13] gari01234 commented on #1944
For this case, I think that the word "colonias" works better. ;)

[2019-12-18 11:13] gari01234 commented on #1979
The fact that a sidewalk was built very narrow is very different from a problem on its surface (they are solved, constructively, in a very different way). I think it would be a good idea to add a new label for "Narrow Sidewalk".

[2019-12-18 13:11] jonfroehlich commented on #1979
Thanks Edgar for your perspective. I think one issue with this is that it
can be difficult sometimes to infer width from Google Street View (to
accurately determined narrowness).

I also think we have maxed out (or we are near the max) the number of label
types people can easily think to apply. Hmm..

On Wed, Dec 18, 2019 at 3:13 AM Gari01234 <notifications@github.com> wrote:

--
Jon Froehlich
Ass

[2019-12-21 01:47] kumararoosh commented on #1796
After Fix:
![image](https://user-images.githubusercontent.com/24703104/71301142-9d33e080-2350-11ea-879b-72b78572a1ad.png)
![image](https://user-images.githubusercontent.com/24703104/71301151-ae7ced00-2350-11ea-8ba5-42f6fe96b2ed.png)

[2019-12-21 02:03] kumararoosh commented on #1796
Changed the width of the legend to make the gap between the legend and the edge of the map even on both sides:
![image](https://user-images.githubusercontent.com/24703104/71301362-fe5cb380-2352-11ea-982e-b1557f07ad76.png)

[2019-12-21 05:47] misaugstad commented on #1796
looks good! feel free to submit a PR for it! nice work :)

[2019-12-23 17:25] misaugstad commented on #1793
closing via #1981

[2019-12-23 17:25] #1793 closed

[2019-12-23 17:40] misaugstad commented on #1507
@ThatOneGoat here is another issue for you! this will likely be a lot harder to get right than the first two!

[2019-12-23 18:24] misaugstad commented on #1979
so the current tags for obstacle are
fire hydrant
pole
tree
vegetation
trash/recycling can
parked car
parked bike

and the new ones you are proposing are
narrow sidewalk
construction
sign

Including all of these brings us to a third row of tags, which I really don't like. I think we should try to keep it to a max of 2 lines. If we remove any one of those tags, we should be able to keep it to 2 lin

[2019-12-23 18:47] misaugstad commented on #1979
[code]

Note that I only looked at the labels in Seattle since June since that is when the parked bike tag was added. Even then, it looks like parked bike is the least used tag, and we could consider getting rid of it. Though I think we should just leave off the 'narrow sidewalk' tag for obstacles. The reason obstacles are a problem are because they make the path narrow, so it feels a bit confusin

[2019-12-24 21:50] misaugstad commented on #1967
closing via #1983

[2019-12-24 21:50] #1967 closed

[2019-12-25 00:05] misaugstad commented on #1979
closing via #1984

[2019-12-25 00:05] #1979 closed

[2019-12-25 00:28] misaugstad commented on #954
@ThatOneGoat this is relatively low priority, so I wouldn't spend a week on trying to fix this or anything, but I'd like you to take a look and see if you can figure it out!

[2019-12-25 00:32] misaugstad commented on #1826
@ThatOneGoat to test this, you'll need to make yourself an admin on your local dev environment. You can do this by changing the entry for your account in the `user_role` table. You can figure out which `user_id` is yours by looking at the `sidewalk_user` table, and you can figure out which role is the Admin role by looking at the `role` table.

Once you make your account an admin account, you will

[2019-12-25 00:51] misaugstad commented on #1844
closing via #1961

[2019-12-25 00:51] #1844 closed

[2019-12-25 01:00] misaugstad commented on #903
Right, confirmed that this is in the center of the map, just not necessarily the center of your screen (depending upon zoom level). We would like for this to be in the center of the screen.

[2019-12-27 08:31] gari01234 commented on #1944
![grafik](https://user-images.githubusercontent.com/50057640/71509460-ae6a7900-288b-11ea-9a6a-056654f2919e.png)

[2019-12-27 09:51] gari01234 commented on #1944
Here is the document with the Spanish translation:
https://docs.google.com/document/d/1i1g07lMSVbfyo3hnslhzQIUSyz3Ujq6ezdeUJ_zw2OU/edit?usp=sharing

[2019-12-27 10:36] gari01234 commented on #1945
More examples:

1. Ramps to private parking lots / Rampas a estacionamientos privados
![grafik](https://user-images.githubusercontent.com/50057640/71512699-ab758580-2897-11ea-9f6e-1294bcef010b.png)
https://goo.gl/maps/h6wqsxFG9RyAt16T7

2. if the Label name "Surface problem" is changed to "Sidewalk Problem" then perhaps the "Sidewalk too narrow / banqueta muy angosta" tag could be added:
![grafik]

[2019-12-27 13:01] gari01234 commented on #1945
For the case of studie of "Mexico", would it be possible to add the "pedestrian crossing" label with tags such as: "missing pedestrian crossing", "pedestrian crossing in bad condition"?

Although this tool is focused on accessibility problems, In Mexico, transport-related accidents are one of the main causes of deaths in children and young people between one and 14 years old, as well as women aged

[2019-12-27 13:09] gari01234 commented on #1944
![grafik](https://user-images.githubusercontent.com/50057640/71518297-7aef1500-28b2-11ea-92be-bf4e73af527b.png)

[2019-12-30 23:46] kumararoosh commented on #1917
I'm not sure on how to completely prevent laptop users from going to the mobile site, however, my current solution simply redirects any laptop users to the validate page. A full prevention would require combining both the mobile and the laptop validation pages or redirecting before the mobile validation page even loads.

[2019-12-31 00:23] kumararoosh commented on #903
I'm not sure how to go about reproducing the error. Loading the results in my dev environment does not show a loading gif

[2020-01-03 01:10] leonli33 commented on #1857
Fixed the grammar mistakes in the "No Sidewalk" sample descriptions described above. Changed descriptions can be seen below:
<img width="362" alt="2020-01-02" src="https://user-images.githubusercontent.com/31671708/71702112-78912d00-2d82-11ea-826d-42b22101e445.png">
<img width="351" alt="2020-01-02 (1)" src="https://user-images.githubusercontent.com/31671708/71702120-7e870e00-2d82-11ea-8cc9-288775

[2020-01-03 06:28] ThatOneGoat commented on #1507
Here is what the minified window looks like right now:
![Screen Shot 2020-01-02 at 10 22 35 PM](https://user-images.githubusercontent.com/37346427/71709963-d0458d80-2dae-11ea-8df9-3a2a4325a825.png)
Right now the threshold is bootstrap's default of 768px but it can be changed pretty easily if needed.

[2020-01-03 13:37] jonfroehlich commented on #1945
Very good ideas here. We will discuss them in our meeting.

Jon

On Fri, Dec 27, 2019 at 5:01 AM Gari01234 <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewa

[2020-01-03 18:26] misaugstad commented on #1944
Great, thank you!! I will get these incorporated next week, and early next week we should hopefully have a Spanish language version of the website up on a test server for you to take a look at!

[2020-01-03 18:36] misaugstad commented on #1917
So I know that on the backend we can redirect users to a different page before the page loads. You should be able to see this in any of the files in the app/controllers directory if you search for "Redirect". I think the question is how to know whether the request is mobile from the backend instead of the frontend!

[2020-01-03 18:38] misaugstad commented on #903
I assume that the loading gif shows up as it waits for some query or something to finish. Maybe you can find out where the code is and manually add in a delay of a few seconds in the JavaScript to force the loading gif to show.

[2020-01-03 18:50] misaugstad commented on #1857
look good! can you create a PR for the fix?

[2020-01-03 18:51] misaugstad commented on #1507
When you've got things working, could you send screenshots right around the threshold level? Showing what it looks like right before turning into hamburger menu, right after it does, and then a pic of what the expanded menu looks like.

[2020-01-04 04:03] ThatOneGoat commented on #1507
Alright, here are some screenshots.
This is before it collapses (around 780px):
![Screen Shot 2020-01-03 at 7 56 44 PM](https://user-images.githubusercontent.com/37346427/71759562-d0ec2b80-2e63-11ea-9bbd-74c75e94a3fe.png)
Here is it when it collapses:
![Screen Shot 2020-01-03 at 8 00 14 PM](https://user-images.githubusercontent.com/37346427/71759570-eeb99080-2e63-11ea-9889-802bc1676187.png)
And th

[2020-01-04 06:08] ThatOneGoat commented on #1507
Here's a couple more screenshots for when a user is signed in and how the user dropdown menu looks in the hamburger menu.
User dropdown:
![Screen Shot 2020-01-03 at 10 07 00 PM](https://user-images.githubusercontent.com/37346427/71760628-7a87e880-2e75-11ea-8ffd-5fa825077eb2.png)
User dropdown open:
![Screen Shot 2020-01-03 at 10 07 09 PM](https://user-images.githubusercontent.com/37346427/71760629

[2020-01-04 19:21] misaugstad commented on #1507
could we also see some screenshots of the menu when the browser is even more narrow?

and I'm not entirely sure why, but the expanded menu just looks kind of weird to me? could you take a look a bunch of websites that have this same functionality and maybe post screenshots from those websites? then we can use those to work on a design that feels a bit better.

[2020-01-05 06:06] ThatOneGoat commented on #1507
Yup, here is the expanded view at 400px wide:
![Screen Shot 2020-01-04 at 9 55 12 PM](https://user-images.githubusercontent.com/37346427/71775940-7de6a700-2f3d-11ea-9e28-e695f07358b5.png)
Unexpanded looks the same. The whole thing really starts looking weird around 250px wide (it won't let me shrink the browser less than 400px when the menu is expanded). I can add screenshots of that if needed.

I

[2020-01-05 06:08] ThatOneGoat commented on #1507
Whoops, I just realized the reddit one didn't show the expanded menu. Here it actually is:
![Screen Shot 2020-01-04 at 10 07 29 PM](https://user-images.githubusercontent.com/37346427/71776016-a7540280-2f3e-11ea-868f-e6d6b9c0fdc1.png)

[2020-01-06 22:04] misaugstad commented on #1507
From what I've seen in these screenshots and a few other websites, it looks like the expanded menus typically either hide all the stuff in the background (the menu starts taking up the full screen) or the width of the menu is pretty small, only as large as it needs to be to fit the menu items. I think the one you showed probably looks weird because it is really wide but still shows stuff from the

[2020-01-06 22:20] ThatOneGoat commented on #1507
Ok, I tried something similar to the reddit example, but I felt that it didn't make sense to have it that way. I've been using this menu expanding animation bootstrap has and I thought it looked strange with such a small menu. I'll follow up later with some screenshots of menus in both styles tho cause it might have been skewed judgment as it was late.

[2020-01-06 22:44] misaugstad commented on #1796
closing via #1982

[2020-01-06 22:44] #1796 closed

[2020-01-06 23:01] misaugstad commented on #1857
closing via #1987

[2020-01-06 23:01] #1857 closed

[2020-01-07 22:03] misaugstad opened #1990 "Save progress in script that checks streets for imagery"
We have a script, `check_streets_for_imagery.py`, that goes through a CSV that has the endpoints of some streets and checks the Google Maps API to see if there is imagery at either endpoint of the street. Whenever we move into a new city, I run this script on all the streets, and mark streets as deleted if they don't have imagery near either of the endpoints of the street.

The issue is that the s

[2020-01-07 22:52] misaugstad commented on #1944
@gari01234 @jonfroehlich if you take a look at one of the test servers, https://sidewalk-newberg-test.cs.washington.edu/ for example, and switch your browsers to Spanish language, you should see the new Spanish language version of the site! Let me know how it looks!

[2020-01-08 02:44] ThatOneGoat commented on #1507
Here is a menu resembling reddit's:
![Screen Shot 2020-01-07 at 6 43 17 PM](https://user-images.githubusercontent.com/37346427/71946106-b5439680-317d-11ea-9b5d-69cc1db832d0.png)
![Screen Shot 2020-01-07 at 6 43 09 PM](https://user-images.githubusercontent.com/37346427/71946110-b674c380-317d-11ea-8d78-c42995863007.png)

[2020-01-08 02:50] ThatOneGoat commented on #1507
Here it is signed in and expanded:
![Screen Shot 2020-01-07 at 6 49 31 PM](https://user-images.githubusercontent.com/37346427/71946403-91348500-317e-11ea-8f70-db558800166b.png)
Here is it not signed in as well:
![Screen Shot 2020-01-07 at 6 50 11 PM](https://user-images.githubusercontent.com/37346427/71946414-9db8dd80-317e-11ea-98f6-661e334dbd2e.png)

[2020-01-08 09:42] gari01234 commented on #1944
This is very exciting.!! 👍 👍
@misaugstad
I can see the new Spanish language version but, I can't see the CDMX map. I am doing something wrong?

![image](https://user-images.githubusercontent.com/50057640/71967213-43159500-3203-11ea-9fb2-5352dfc4487d.png)

![image](https://user-images.githubusercontent.com/50057640/71967286-5f193680-3203-11ea-82fc-7d4a437a1db8.png)

[2020-01-08 13:30] jonfroehlich commented on #1507
Wo0t. Looks good to me!

On Tue, Jan 7, 2020 at 6:51 PM ThatOneGoat <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-01-08 13:57] jonfroehlich commented on #1944
Wow, yay!

@gari01234 <https://github.com/gari01234>, I think Mikey is still working
on the map part... it's not been as easy as expected (given the sheer size
of Mexico City).

On Wed, Jan 8, 2020 at 1:42 AM Gari01234 <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jon

[2020-01-08 18:58] misaugstad commented on #1944
You can see where we are currently at at https://sidewalk-cdmx-test.cs.washington.edu/

[2020-01-08 18:59] misaugstad commented on #1507
yep this looks a lot better!

[2020-01-08 19:48] misaugstad commented on #1944
@gari01234 here are the last little bits from the landing page: https://docs.google.com/document/d/1v8Sf9BubhDeRvHPVm4Q8riMjTxvqOW6Cs9zVN4iT2jE/edit?usp=sharing

I will work on the remainder of the text from the audit page next, which will take quite a bit longer.

[2020-01-08 21:27] ThatOneGoat commented on #1507
Sounds good, I'll make a PR for it, and then you can place any other wanted visual changes in the PR.

[2020-01-08 21:45] misaugstad commented on #1990
closing via #1991

[2020-01-08 21:45] #1990 closed

[2020-01-08 21:54] misaugstad commented on #1944
@gari01234 I think this should be everything on the audit page as well. Seems like this could keep you busy for awhile :sweat_smile: https://docs.google.com/document/d/1mLD2Jh840zW3FpNggeR4eE6MQPLr0fy3ZNRrZSp-cho/edit?usp=sharing

Thank you so much for all of the work you've done translating!! This has been incredible

[2020-01-10 08:02] ThatOneGoat commented on #1826
Quick clarification, is the panorama ID from the label metadata used in AdminPanorama the same as the one passed to Panorama and PanoramaContainer? Can I get information regarding whether or not the label was from the tutorial from it?

[2020-01-10 12:48] gari01234 commented on #1944
It is looking great! I will start testing the page as soon as I leave work ;)

[2020-01-10 13:07] gari01234 commented on #1944
Thank you very much for taking the time to organize and send me the texts! This makes it easier for me to do the missing translations.

[2020-01-10 22:57] misaugstad commented on #1826
@ThatOneGoat can you point me to exact lines of code here?

[2020-01-11 08:38] ThatOneGoat commented on #1826
Yeah, in PanoramaContainer.js, I saw this code:
![Screen Shot 2020-01-11 at 12 36 39 AM](https://user-images.githubusercontent.com/37346427/72201578-75451380-340a-11ea-87e7-98d6965a081d.png)
and I noticed it takes a parameter of panoramaId, so I was wndering if there was a way to get the same panoramaId and use it in AdminPanorama.js.

[2020-01-13 21:19] misaugstad commented on #1826
Interesting, I don't fully remember how all these files interact. But I just opened up Admin.Panorama.js and I saw a `panoId` variable that should be the same thing.

[2020-01-13 23:22] misaugstad commented on #1950
Just fixed this bug on the DC server by refreshing the audit page after signing in like we do on the non-DC servers. Just pushed the change so it might take a bit for the change to deploy.

[2020-01-13 23:22] #1950 closed

[2020-01-14 21:05] ThatOneGoat commented on #1826
Got it. What is the panoramaId usually represented as? Is it a string or its own object? From what I've tested so far the panoId used in the regular Panorama and the AdminPanorama seem different as they log completely different things when I print them to console

[2020-01-14 21:09] misaugstad commented on #1826
the pano id should be a string. what else are you seeing?

[2020-01-14 21:12] ThatOneGoat commented on #1826
When I logged the regular Panorama Id I got a string that said tutorial for a tutorial which made sense. I did the same for the Admin Pano and I got a number. I'll do it again to and put steps on how I did it to see if I'm doing something wrong

[2020-01-14 22:06] misaugstad commented on #1826
The one that is called tutorial is the one that we have saved locally, so it should look different. It normally looks like a string that contains both letters and numbers.

[2020-01-15 05:59] ThatOneGoat commented on #1826
Ah, got it. I've still been unable to see my recent contributions from the tutorial in the Contributions tab, however. I should be seeing it as the first few entries, right?

[2020-01-15 22:05] misaugstad commented on #1826
Interesting, just checked and they aren't showing up for me either. I'll take a closer look now.

[2020-01-15 23:04] misaugstad commented on #1826
Okay yep! Looks like we needed to add a fake entry to the `gsv_data` table after swapping in our locally stored tutorial panos for all the queries to work as usual. So add a file called `73.sql` to the `conf/evolutions/default` directory, and the file should look like this:
[code]

Then you should be able to see those entries!

[2020-01-15 23:13] ThatOneGoat commented on #1826
Sounds good. Just a question, though. I get why we might want to collect data from tutorials like user stats etc but why do we need to show contributions from tutorial page in the contribution tab? Isn’t that a little redundant?

[2020-01-15 23:17] misaugstad commented on #1826
Fair point. I don't think being able to see the tutorial labels in this particular place is all that important by itself. Though I do use it to see how far someone got through the tutorial in certain cases. Being able to view the labels from the tutorial on the panos somewhere else also makes me feel more confident that we are recording the data correctly. We will also likely want to visualize the

[2020-01-16 00:51] ThatOneGoat commented on #1826
Ok, that makes sense.

[2020-01-16 00:56] misaugstad commented on #1944
Aaaand finally here is the text for the validation page, which is the last super important page to be translated!

https://docs.google.com/document/d/1uzKG5H_9vPyK31WCl7ODJk1-wBFtaMdQyLLHMhZmz1U/edit?usp=sharing

[2020-01-16 01:47] kumararoosh commented on #903
![903-Sidewalk-UI-proof](https://user-images.githubusercontent.com/24703104/72486146-e3992580-37be-11ea-90bd-1061a74f82af.gif)

Fixed the issue by making the gif placed in the middle of the screen, not based of the parent element on the map

[2020-01-16 19:54] misaugstad opened #1995 "Validation description box shouldn't resize"
So if you are on the validation page and you pan to the edge like in the 2nd image below, everything looks as it should. But then when you move on to the next label, the description box is resized to the size it would have needed to fit the previous description box fully into the GSV window (image 3).

![box-1](https://user-images.githubusercontent.com/6518824/72484917-d1b58380-37ba-11ea-9a71-b098

[2020-01-23 00:47] misaugstad commented on #1152
@MattJ12 this overlay only shows up when you finish auditing an entire neighborhood. To test, it would probably be easiest to figure out how to force the overlay to show up without actually completing a neighborhood so that you can iterate quickly. Then just make sure you adjust the HTML/CSS so that the overlay always fills the whole screen!

[2020-01-24 22:10] ThatOneGoat commented on #1826
For the labels in the AdminPanoramas, should I be able to interact with them (is hovering over them supposed to show anything, etc.)

[2020-01-24 22:27] misaugstad commented on #1826
nah I don't think that's important

[2020-01-27 22:05] misaugstad opened #2000 "Dev environment broken, need to update sbt version"
A week or two ago I started getting this error when running `npm start` to start up my dev environment:
[code]

After googling around and trying some things out, I found [this stackoverflow post](https://stackoverflow.com/questions/59763435/access-maven-repo-over-https-in-sbt) that suggests updating the version of `sbt` from 0.13.5 to 0.13.6. Tried that in my dev environment and it ended up actual

[2020-01-27 22:17] misaugstad commented on #2000
Yeah looks like I just need to update the Scala version from 2.10.4 to 2.10.5. Let's see if that causes any problems :)

[2020-01-28 20:14] misaugstad opened #2002 "Load locally stored tutorial panos on DC server"
Huge oversight. When @htadeusiak switched the tutorial over to using locally stored panos, I forgot to have us do this for the DC code as well, so the tutorial is broken on the DC prod server (and has been for awhile). Most of it should be copy/pasting his code over, but the codebases have diverged somewhat so it could take some time.

[2020-01-28 20:15] misaugstad commented on #2002
A link to the PR @htadeusiak made: #1775

[2020-01-28 21:21] misaugstad commented on #903
closing via #1994

[2020-01-28 21:21] #903 closed

[2020-01-28 21:52] misaugstad commented on #1507
closing via #1993

[2020-01-28 21:52] #1507 closed

[2020-01-28 22:05] misaugstad commented on #2000
Yep this seems to have worked on the DC prod server, the main test servers, and @leonli33 and I's dev environments!

closing via #2001

[2020-01-28 22:05] #2000 closed

[2020-01-28 22:13] misaugstad commented on #1846
closing via #1996

[2020-01-28 22:13] #1846 closed

[2020-01-29 00:07] jonfroehlich commented on #1507
﻿It looks weird because it’s quite wide, I think

Sent from my iPhone

[2020-01-29 21:57] misaugstad commented on #1826
closing via #1999

[2020-01-29 21:57] #1826 closed

[2020-01-30 02:47] misaugstad commented on #1152
closing via #2005

[2020-01-30 02:47] #1152 closed

[2020-02-01 01:06] misaugstad commented on #1653
Okay actually doing this sounds a lot more complicated than it would be worth doing right now. BUT I think an easier solution would be to just convert to PST. We are going to be looking at the admin page using PST almost all of the time, so it might just be easiest to use PST in this query? Much less work than switching to the client's time zone :)

[2020-02-03 21:11] misaugstad commented on #1849
closing via #2006

[2020-02-03 21:11] #1849 closed

[2020-02-03 22:15] misaugstad commented on #1904
I don't think we care enough about getting your average mobile user to sign in, but we definitely want to get researchers to sign in. So I would say to continue having the default action to just route users to the mobile validation page, but if you manually type in the URL /signIn it brings you to a sign in page. Then we just tell researchers to sign in when validating on mobile.

[2020-02-03 22:19] misaugstad commented on #1902
@MattJ12 there are instructions for testing on mobile [here](https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Process-for-contributing-new-code#testing-your-contribution).

[2020-02-04 23:48] misaugstad commented on #1344
closing via #2007

[2020-02-04 23:48] #1344 closed

[2020-02-05 00:17] manaswisaha opened #2008 "Unify API page to show all cities data"
Currently, projectsidewalk.io/api points to the Seattle data. At some point, we should make the general domain name (projectsidewalk.io) point to a website unifying across deployments**, especially true for the API page. It would make data access much simpler for future developers who are interested to work with our data.

** I think I mentioned the same for a common landing page in some issue.

[2020-02-05 00:46] jonfroehlich commented on #2008
Would require setting up another server to do this given our current
architecture/approach.

Agree that it would be nice... unification in general would be awesome.

On Tue, Feb 4, 2020 at 4:17 PM Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich

[2020-02-06 21:04] misaugstad opened #2009 "Landing page text messed up"
Some text on the landing page got a little messed up. I changed it recently when internationalizing the landing page, and there seems to be an issue with it!

![landing-text-issue](https://user-images.githubusercontent.com/6518824/73978406-1d061200-48e1-11ea-86e3-4feca6b87024.png)

[2020-02-06 21:35] misaugstad commented on #2009
closing via #2010

[2020-02-06 21:35] #2009 closed

[2020-02-09 10:31] mohammadshaeri opened #2011 "object scala.runtime in compiler mirror not found"
At npm start command, I get the following error:
My JDK version is 1.8.0_242 and sbt version is 0.13.7

error while loading <root>, zip file is empty
scala.reflect.internal.MissingRequirementError: object scala.runtime in compiler mirror not found.
        at scala.reflect.internal.MissingRequirementError$.signal(MissingRequirementError.scala:16)
        at scala.reflect.internal.MissingRequiremen

[2020-02-10 21:45] misaugstad opened #2012 "Add links to upcoming mapathons on landing page"
There have been frequent mapathon parties being hosted in Columbus lately, and Dean suggested adding a link to the next upcoming mapathon on the landing page. This sounds like a great idea! Just need to pick a place to put it on the landing page. Then we'll want it to only show up for cities where we have an upcoming event (shouldn't be too hard to do).

[2020-02-10 22:20] misaugstad commented on #2012
Here is the link to the next event: https://www.meetup.com/OpenColumbus/events/268511276/

[2020-02-10 22:46] misaugstad opened #2013 "Upgrade Mapbox styles"
We got an email from Mapbox this week saying that we are using Mapbox styles that are going to be deprecated soon. Looks like we won't be able to use some of the styles starting on June 1st. Not sure which of our maps are using the old versions of the styles, but we should figure that out soon!

Here is the full text of the email:

[2020-02-10 23:33] misaugstad commented on #2012
And they've now got a persistent link that always links to the upcoming meetup event, which is great! https://opencolumbus.page.link/mapping

[2020-02-11 00:03] misaugstad opened #2014 "Switch Seattle to a two phase deployment"
Seattle is huge, and it is still only 48.3% complete. We've been talking about moving back to starting with just a subset of Seattle. I've had trouble finding documentation of what the initial deployment was supposed to include, but I did find this screenshot of the landing page choropleth which shows which neighborhoods we initially planned on including:

![Seattle old](https://user-images.github

[2020-02-11 00:49] misaugstad commented on #2014
The three queries that need to be run on the server are as follows:
[code]

[2020-02-11 01:43] jonfroehlich commented on #2014
Do we really want to delete them though since we’ve actually collected data there...

Sent from my iPhone

[2020-02-11 17:27] misaugstad commented on #2014
Oh they aren't actually being deleted, it is just a column in the database that we use to filter stuff out.

[2020-02-11 17:28] jonfroehlich commented on #2014
OK, good. Because obviously we will still likely want to analyze and/or
even build on this data over time :)

On Tue, Feb 11, 2020 at 9:27 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help ma

[2020-02-11 18:58] misaugstad commented on #2014
This brings the total distance from 1,862 miles to 985 miles and the "audited distance" from 899 miles (48%) to 518 miles (58%). Luckily a higher proportion of audits came from the central part of Seattle :)

Right now the computation of total street distance is cached on the server but the audited distance is being recomputed, so the landing page currently says 28% of Seattle has been audited (th

[2020-02-11 20:01] misaugstad commented on #2014
Ok I just deployed a new version to the test server, and it did in fact clear the cache. So I'm very confident that will be resolved when I deploy a new version to production. Closing via #2015

[2020-02-11 20:01] #2014 closed

[2020-02-11 22:03] misaugstad commented on #2012
Here's what I've got to start! This text below the other city links only shows up for cities where we have links to events. @jonfroehlich any suggestions on changing the wording or location of the text?

![landing-page-mapathon-link](https://user-images.githubusercontent.com/6518824/74283555-e9f3c200-4cd6-11ea-8e1e-9a6da377dfd3.png)

[2020-02-11 22:06] jonfroehlich commented on #2012
Can you try it with the text centered above the 'Let's create a path for
everyone'?

I'd also like to try it with a filled rectangle and larger text (both in
upper-right corner as well as centered above 'Let's create a path for
everyone')

On Tue, Feb 11, 2020 at 2:03 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science

[2020-02-11 22:11] misaugstad commented on #2012
upper-right corner as well as centered above 'Let's create a path for
everyone')

With filled rectangle, would you want the full text in there or something shorter? And when you say upper right, that's still below the navbar, right?

[2020-02-11 22:12] jonfroehlich commented on #2012
Full text in there. Good play with opacity.

For upper-right, yes, still below navbar...

On Tue, Feb 11, 2020 at 2:12 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more ac

[2020-02-11 22:48] misaugstad commented on #2012
Here's a couple looks. Used same style as "Start mapping" button
![link-above](https://user-images.githubusercontent.com/6518824/74286810-74d7bb00-4cdd-11ea-9dc2-d641d53ad478.png)
![link-above-button](https://user-images.githubusercontent.com/6518824/74286815-75705180-4cdd-11ea-8232-8e6c11baa64c.png)
![link-top-right-button](https://user-images.githubusercontent.com/6518824/74286821-773a1500-4cdd-

[2020-02-11 22:53] jonfroehlich commented on #2012
Can you use black background rather than the orange (which is reserved to
indicate buttons)

On Tue, Feb 11, 2020 at 2:48 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more

[2020-02-11 23:37] misaugstad commented on #2012
Something like this?
![link-above-black](https://user-images.githubusercontent.com/6518824/74289581-57f2b600-4ce4-11ea-825b-1bf5c273607d.png)
![link-top-right-black](https://user-images.githubusercontent.com/6518824/74289585-5923e300-4ce4-11ea-8953-d7cccada9be4.png)

[2020-02-11 23:50] jonfroehlich commented on #2012
For now. Let’s just go with your very first design

Sent from my iPhone

[2020-02-12 00:40] misaugstad commented on #2012
closing via #2016

[2020-02-12 00:41] #2012 closed

[2020-02-12 02:08] misaugstad commented on #2011
hello @mohammadshaeri could you try running the develop branch instead of the master branch and see if that works?

[2020-02-12 14:03] mohammadshaeri commented on #2011
thank you misaugstad alot!
Develop branch started without any problem

[2020-02-12 14:03] #2011 closed

[2020-02-12 14:10] jonfroehlich commented on #2011
Woohoo, good to hear!

On Wed, Feb 12, 2020 at 6:03 AM Mohammad Shaeri <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-02-13 00:47] misaugstad commented on #2002
Fixed! Used PRs #1775 #1834 and #1999 to fix the tutorial in DC to load locally stored panos. The commits in the DC repo are:
[262bf38a1ec7676edde994917c820eb98e041c82](https://github.com/ProjectSidewalk/SidewalkWebpageDC/commit/262bf38a1ec7676edde994917c820eb98e041c82)
[794853e13d923d28690923fc48a23bb9db2b4a95](https://github.com/ProjectSidewalk/SidewalkWebpageDC/commit/794853e13d923d28690923fc48

[2020-02-13 00:47] #2002 closed

[2020-02-13 23:47] misaugstad opened #2017 "Upgrade npm packages before next release"
We just want to update the npm packages before the next release to deal with any potential security vulnerabilities. This just requires running `npm audit fix` and testing the website to make sure the package upgrades didn't break anything.

[2020-02-14 00:18] misaugstad commented on #2017
closing via #2018

[2020-02-14 00:18] #2017 closed

[2020-02-14 00:45] misaugstad commented on #1977
closing via #1980

[2020-02-14 00:45] #1977 closed

[2020-02-15 19:58] gari01234 commented on #1944
finished.

[2020-02-15 20:00] gari01234 commented on #1944
ready :)

[2020-02-17 09:39] ThatOneGoat commented on #1904
I'm a bit confused. What I'm understanding is that I just need to make a little popup or sign that tells researchers to sign in, then all the researchers will have to do is type the /signIn into the URL? If that's the case, should I also make it so if a researcher just appends /signIn to the end of the url like this: "https://sidewalk-sea.cs.washington.edu/mobile/signIn", it will redirect them?

[2020-02-17 21:21] misaugstad commented on #1904
We don't want a popup to remind researchers to log in, that would be annoying for normal users. We just want researchers to remember to go to the sign in URL themselves. So hopefully researchers could just to to the URL https://sidewalk-sea.cs.washington.edu/signIn. That URL might just end up working on mobile, hopefully we don't have to make a https://sidewalk-sea.cs.washington.edu/mobile/signIn

[2020-02-17 21:36] ThatOneGoat commented on #1904
Ok, I just tested out manually typing  https://sidewalk-sea.cs.washington.edu/signIn and that did bring me to the sign in page. It just doesn't look that great. Should I try to make the signIn page look nicer on mobile or am I still misunderstanding what I'm trying to do?

[2020-02-17 21:38] misaugstad commented on #1904
The goal right now is just to make it possible to log in as a researcher on mobile. If it is unusable, then you'll need to make it look better. If it just looks kinda bad then it might just be good enough as-is. But definitely post a screenshot so we can all see what it looks like!

[2020-02-17 22:11] ThatOneGoat commented on #1904
Sounds good. Here's what it currently looks like on my IPhone:
![unnamed](https://user-images.githubusercontent.com/37346427/74689251-50715800-518f-11ea-910e-ac521ee606bb.jpg)

[2020-02-17 22:14] misaugstad commented on #1904
It's hard to tell bc that's high resolution, but are the boxes and buttons and stuff super small?

[2020-02-17 22:25] ThatOneGoat commented on #1904
Yeah, the height of the input boxes are about as tall as the keys on my phone keyboard, so pretty small

[2020-02-17 22:28] ThatOneGoat commented on #1923
Alright, so currently I've made it so that if you tap on the severity icon, the label description appears. Then, when you tap again, the label description box will become hidden. However, an issue is that if the user drags the pano around while the label description box is on screen, the box doesn't follow the movement of the panomarker. This is pretty easy to fix with some listeners but it looks

[2020-02-17 23:14] jonfroehlich commented on #1923
Let's just make it disappear when user drags pano.

While I appreciate the idea about forcing the user to hold down their
finger to view the description box, I think the finger/hand would impede
their ability to read the info. Thus, I propose a tap to have the label
description appear (as you have) and then it closes if you tap again or if
you pan in panorama.

On Mon, Feb 17, 2020 at 2:28 PM That

[2020-02-18 01:42] misaugstad commented on #1904
Okay then yeah, if it isn't too difficult, adding some mobile-specific CSS to make it a bit easier to use would be great!

[2020-02-18 01:46] ThatOneGoat commented on #1923
That makes sense, sounds good.

[2020-02-18 01:48] ThatOneGoat commented on #1904
Got it

[2020-02-18 18:08] jonfroehlich opened #2022 "Add Liga Peatonal Logo to Mexico City"
Add the Liga Peatonal logo to http://sidewalk-cdmx.cs.washington.edu. Need to figure out where.

![Logo LP](https://user-images.githubusercontent.com/1621749/74764096-e52e9100-5235-11ea-860c-1d8c2eabac39.png)

We could have something like this except for "collaborators" or "brought to you by":

![image](https://user-images.githubusercontent.com/1621749/74764197-26bf3c00-5236-11ea-8806-7ca80141d2df

[2020-02-19 12:35] gari01234 commented on #2022
![grafik](https://user-images.githubusercontent.com/50057640/74834837-7ed06e00-531c-11ea-977b-e17e667d7972.png)
:grin::grin: Looks great!

[2020-02-20 18:11] misaugstad commented on #1944
Incredible, thank you so much @gari01234 !! I will work on incorporating those now.

[2020-02-21 22:09] misaugstad opened #2023 "Can't load admin page on CDMX server"
If you try to go to the admin page on the CDMX server (either production or test) I get the following error:
[code]

I think this is one of those errors that is really annoying to debug because the error message is not at all descriptive (even in the sbt console), and the only way to find out where the error is coming from is to comment out sections of the template HTML for the admin page until th

[2020-02-24 13:25] jonfroehlich opened #2024 "New neighborhoods request for Columbus, OH"
From email Chris Hires email:

[2020-02-24 20:57] misaugstad commented on #2024
Reminder to myself to run the script that checks for streets without imagery on these new neighborhoods. I should have this done today/tomorrow.

[2020-02-24 21:52] misaugstad commented on #1653
closing via #2019

[2020-02-24 21:52] #1653 closed

[2020-02-24 22:12] misaugstad commented on #2024
Okay that part is done. Now I just need to adjust the default center location and zoom for the maps.

[2020-02-25 19:45] misaugstad commented on #2024
closing via #2025

This will be on the production server later today.

[2020-02-25 19:45] #2024 closed

[2020-02-25 20:35] jonfroehlich commented on #2024
Woohoo. Looking forward to seeing it.

On Tue, Feb 25, 2020 at 11:46 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-02-25 23:03] misaugstad commented on #2023
Fixed. It was an error of mine when creating the database. The `street_edge` table has a `way_type` field that comes from OSM. We use that info to pick which types of streets to include in our road network (for example, we exclude freeways). Somehow I included roads in the database that have a null `way_type`.

Upon further investigation, these turned out to be "ways" that must have had a differen

[2020-02-25 23:03] #2023 closed

[2020-03-01 10:49] mohammadshaeri opened #2028 "Deploy and Run in Microsoft Azure"
Has anyone experience of running the project in Microsoft Azure?
I created the image with Azure DevOps and made container instances. then it's created but is in waiting status and is not running.
thank you in advance

[2020-03-02 21:47] misaugstad commented on #2028
I don't believe I've heard of anyone attempting to set this up using Azure.

[2020-03-06 23:47] leonli33 opened #2030 "Changes in .html files not being displayed locally"
When making edits to .html files, the changes made are not recognized on the local host web page. However, the changes are recognized for both Scala and JS files. Therefore, to see a change in a .html file, an edit to a JS or Scala file is required.

In the terminal, I get this message when I edit a .html file, specifically the index.scala.html file located in the 'app/views' directory:
![image](h

[2020-03-07 19:06] misaugstad commented on #2028
Screenshots and such might be useful! It may not necessarily be an issue related to running in Azure

[2020-03-07 19:09] misaugstad commented on #2030
Never seen/heard of this before!

Does changing a non-html Scala file also cause the page to update?

Could you also note your OS?

[2020-03-07 19:50] misaugstad commented on #2013
@kotarohara would you potentially be able to log in to your Mapbox account and send me the metadata/stylesheets for your Mapbox Classic Styles (https://studio.mapbox.com/classic/)?

Mapbox Classic is being deprecated and I'd like to recreate the styles you made in the newer Mapbox Studio, and that would be muuuuch easier if I had access to your stylesheets!

[2020-03-07 20:38] misaugstad commented on #1903
Even just preventing zooming is an okay solution for this one. Figuring out why it is crashing and preventing it would be better, but I'm not sure users need to be able to zoom here.

[2020-03-07 21:41] ThatOneGoat commented on #1894
Ok, I'm not quite sure how you were able to do the double tap zoom by tapping on the label itself (mine doesn't do anything when I test on safari on my IPhone) but I get a similar issue when I double tap on the validation buttons where the zoom is huge and you can no longer see the panomarker.

I'll just aim to find a way to disable double-tap zoom in general

[2020-03-09 18:42] misaugstad commented on #1902
This looks like it has actually been resolved somehow! Tested on 3 different phones and the font seems to be looking fine!

[2020-03-09 18:42] #1902 closed

[2020-03-10 20:11] misaugstad commented on #1148
closing via #2027

[2020-03-10 20:11] #1148 closed

[2020-03-10 21:50] misaugstad opened #2037 "Translation bug breaks tutorial"
I created a bug when adding Spanish translations to the website that prevents the user from finishing the tutorial. This is only on the test servers right now and I've already figured out what I messed up. Should be making a PR shortly.

[2020-03-10 23:39] misaugstad commented on #2037
closing via #2038

[2020-03-10 23:39] #2037 closed

[2020-03-11 20:00] misaugstad commented on #954
closing via #2032

[2020-03-11 20:00] #954 closed

[2020-03-11 20:43] misaugstad commented on #1995
closing via #2035

[2020-03-11 20:43] #1995 closed

[2020-03-11 21:15] misaugstad commented on #1894
closing via #2034

[2020-03-11 21:15] #1894 closed

[2020-03-12 19:43] misaugstad commented on #1923
closing via #2020

[2020-03-12 19:43] #1923 closed

[2020-03-12 20:34] misaugstad commented on #282
closing via #1123

[2020-03-12 20:34] #282 closed

[2020-03-12 23:10] misaugstad commented on #2013
Okay there are two different styles that we are using. I found default Mapbox styles that are similar to them and replaced them. They look pretty good to me, I don't see obvious/important differences. Showing an example of each style below; all the other maps use these same styles so the changes look similar.

Landing page before
![landing-before](https://user-images.githubusercontent.com/6518824/

[2020-03-12 23:20] jonfroehlich commented on #2013
Looks great!

On Thu, Mar 12, 2020 at 4:10 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-03-13 19:46] misaugstad commented on #2013
closing via #2039

[2020-03-13 21:19] misaugstad opened #2040 "Fix JS console warnings"
Here are some warnings we see on the landing page
![landing-page-warnings](https://user-images.githubusercontent.com/6518824/76660146-77743d00-6535-11ea-951b-031f83c5093d.png)

And some warnings from audit page (mostly the same)
![audit-warnings](https://user-images.githubusercontent.com/6518824/76660154-7cd18780-6535-11ea-8e0b-cd16d0cd1625.png)

None of these are causing any issues, but I'd like

[2020-03-13 23:50] misaugstad opened #2042 "Upgrade npm packages before next release"
The "acorn" package in particular needs to be bumped up bc of a security vulnerability. Should run `npm audit fix` to check for any other issues before deploying newest version of Sidewalk.

[2020-03-16 05:20] kumararoosh commented on #1832
Will create an API using the shapefiles format

[2020-03-16 14:01] jonfroehlich commented on #1904
I think this could be good as long as not too visually disruptive. As now,
mobile experience is pretty clean and lean so don't want to negatively
impact that.

On Sat, Mar 14, 2020 at 7:58 PM ThatOneGoat <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <http

[2020-03-16 21:33] ThatOneGoat commented on #1904
Alright, I think about how to incorporate a sign-in button and see if there is a way to incorporate it neatly

[2020-03-18 19:53] misaugstad commented on #2022
closing via #2033

[2020-03-18 19:53] #2022 closed

[2020-03-19 00:36] misaugstad commented on #2042
closing via #2043

[2020-03-19 00:36] #2042 closed

[2020-03-19 21:43] misaugstad commented on #1635
So I'm thinking we could add this to the bottom of the "Current Neighborhood" section. We might even want to just replace the pieces that are in the current section with this progress bar?

I'm imagining a progress bar that looks like this one on that is on the mission complete screen
![neighborhood-progress-bar](https://user-images.githubusercontent.com/6518824/77117082-86a03280-69ee-11ea-9d0b-26

[2020-03-21 04:22] ThatOneGoat commented on #1904
Could there be a sign-in button placed on the screen right before a user begins validating on mobile, like where the black box is in the photo below?
![Screen Shot 2020-03-20 at 9 18 28 PM](https://user-images.githubusercontent.com/37346427/77219192-8f792d00-6af0-11ea-8e5c-e975ca721f5c.png)

[2020-03-21 07:43] ThatOneGoat commented on #1101
Just a quick clarification, I should implement BOTH changing and resetting passwords right? Not just one or the other?

[2020-03-21 12:32] jonfroehlich commented on #1904
I think upper-right would be more consistent with other UIs. But I like
this idea in general!

On Fri, Mar 20, 2020 at 9:22 PM ThatOneGoat <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more

[2020-03-21 21:00] misaugstad commented on #1101
I think it is most important that users be able to reset their password in the event that they have forgotten it. But adding the ability to just change their password is easy enough to add on top of it, I would go for it. If it isn't trivially easy, I would make a separate issue for it and start with just resetting if the password is forgotten.

[2020-03-24 23:17] misaugstad opened #2045 "Record which language is being used"
I added Spanish translations, but just realized that I'm not recording which language is being used anywhere! Seems super important :) This is the last thing I want to make sure to do before pushing out a new Sidewalk version this week.

[2020-03-24 23:23] misaugstad commented on #1944
closing via #1989 #2036 and #2044

[2020-03-24 23:23] #1944 closed

[2020-03-25 21:49] misaugstad commented on #2045
closing via #2046

[2020-03-25 21:49] #2045 closed

[2020-03-26 20:27] ThatOneGoat commented on #1101
Does Project Sidewalk have a smtp host/email? I was thinking the best way to do the password reset would be to have the user type in their email and an email would be sent to the user with a link to the reset password page. I'm using my own email and gmail's smtp host right now for testing, but that's probably not ideal in the long run.

[2020-03-26 21:49] misaugstad commented on #1101
How would this work exactly? Like if we have a gmail account can we set it up using that? And will emails sent through it have the "sent" address as that gmail address? Will users be able to reply to those emails then? If so, we should probably create a new account for this purpose

[2020-03-26 22:25] ThatOneGoat commented on #1101
Yeah I think we could make like a Project Sidewalk gmail and it would have the sent address as that email. I'm not sure, but there's probably a way to prevent users from sending back emails (like a noreply). One thing I'm not sure about is that we'd have to have the account name and password in the appplication.conf, which might expose it on the git repo. I'm not sure how to prevent that.

[2020-03-26 22:36] misaugstad commented on #1101
That's something that we would make sure not to put in the Github repo. That's something like the API keys that we would put on the server manually and fill in for each person's dev environment (similar to how we set up the API keys for the dev environment).

[2020-03-26 22:36] misaugstad commented on #1101
But continue using your own email for now during testing. I'll set up a gmail account for this later on

[2020-03-28 20:51] misaugstad commented on #1891
So what we're looking for here is for the next street to still load at the time it is loading, we just don't want to highlight the street as green and update the mission complete percentage until you actually take the step forward. Right now it's _assuming_ you are going to step forward next, which you might not.

[2020-03-28 21:35] misaugstad commented on #1658
@leonli33 could you add these? You should be able to find an example of how to get that data elsewhere on the admin page, since the "Label Search" tab has that data (image below)
![validation-counts-label-search](https://user-images.githubusercontent.com/6518824/77834259-afb47780-7100-11ea-937b-c03c050c8d80.png)

Ideally we don't require horizontal scrolling and that it doesn't look too cluttered.

[2020-03-30 18:28] gari01234 commented on #1945
Hi Jon,

![imagen](https://user-images.githubusercontent.com/50057640/77947659-8e9c8400-72c4-11ea-9117-b2fd9c9a8324.png)

this is something that is seen very often. For now, we have been labeling it as "Surface problem = uneven". I don't know if that's the correct label.

Edgar

[2020-03-30 18:32] misaugstad commented on #1945
Yep that's the write tag! That's the one I use as well

[2020-03-30 19:09] misaugstad opened #2049 "No mini map in tutorial"
One user came across a bug where there was no mini map in the tutorial! I've never seen this before and haven't been able to reproduce. Documenting it here in case it ever pops up again.

![no-mini-map-tutorial](https://user-images.githubusercontent.com/6518824/77951540-1495dc00-727f-11ea-834b-752d42a173c1.png)

[2020-03-30 19:20] misaugstad commented on #1471
Just sent this in an email to @jonfroehlich

[2020-04-02 22:16] misaugstad opened #2050 "Translate text on images to Spanish"
There are a few images and GIFs that have English text on them. Replacing the text there wasn't as easy as replacing actual text, so I left that out of the initial internationalization. Whoever makes the new images should write out a process for doing it and put it in the wiki so that we can easily modify future images (and potentially add more languages).

MLGraphic.gif
![MLGraphic](https://user-

[2020-04-02 22:45] misaugstad opened #2051 "Internationalize distances, dates, and times"
Even when using the Spanish version of the site, all our distances are in miles. The way dates and times are represented also differs across the world. I believe the JavaScript library we are using for internationalization (i18next) has useful features to help with this.

[2020-04-02 22:48] misaugstad opened #2052 "Translate results page and user dashboard"
Both these pages have very little text and are prominently featured on the navbar, so it is definitely worth the effort to add translations for them.

Also when I update the text for these, I should fix the two places where I accidentally wrote "validir" instead of "validar".

[2020-04-02 22:55] misaugstad opened #2053 "Translate How to Label page to Spanish and Dutch"
The How to Label page as A TON of text. @gari01234 has offered to do the translations. Given the amount of text, I think I want to go through all of it in English and touch it up first (and make sure it is all still accurate). Then I'll send the text along to be translated.

[2020-04-03 08:48] ThatOneGoat commented on #1101
Alright, the reset password backend has been mostly finished (with a few small safety tweaks still left), so here is the frontend of what each step in the reset password process currently looks like:

**The "forgot password" redirect link on the signIn page:**
![Forgot Password Link](https://user-images.githubusercontent.com/37346427/78334659-02e35b80-7541-11ea-9ad7-419519ecf05b.png)

**The "forgo

[2020-04-03 19:29] misaugstad commented on #1101
Great, thank you! We should also have this all translated to Spanish later today!

[2020-04-03 19:33] misaugstad opened #2054 "Pages loading without translations"
Rarely the audit (and maybe validation) page(s) can load without loading most of the translations. The translations that are in the HTML are there, but the ones that are inserted via JavaScript are not there. Example below.

![unnamed](https://user-images.githubusercontent.com/6518824/78398021-2fca5980-75a7-11ea-8311-4d9dff0c4bc2.png)

The code I wrote is supposed to wait for the translations to l

[2020-04-03 19:58] ThatOneGoat commented on #1101
Here's what the forget password link in the modal looks like:
![Screen Shot 2020-04-03 at 12 56 44 PM](https://user-images.githubusercontent.com/37346427/78399930-aae13f00-75aa-11ea-8461-643649b58799.png)

I think it looks a little weird (there's a lot of empty space at the bottom left) but I might be overanalyzing

[2020-04-03 21:49] misaugstad opened #2055 "Add mobile app/site to upload pics of current problems/features"
We've long talked about the idea of a mobile app that allows you to upload geotagged pictures from your phone. The benefit of such an app would be that it could provide up to date info about sidewalks, whereas Google Maps can sometimes be years out of date.

I think the main reason we haven't yet tried to do this are that it is a significant time investment while not being nearly as scalable as ou

[2020-04-04 09:15] gari01234 commented on #2052
https://docs.google.com/document/d/1nkBRJ2BDk6M6scgm596d6BeEYqHXb3VQeFgTMOOB-6o/edit?usp=sharing

[2020-04-04 09:18] gari01234 commented on #2050
-Machine labels
Etiquetas automatizadas

-User labels
Etiquetas de usuarias

-Better city planning
Mejor planificación urbana

-Better temporal tracking
Mejor seguimiento temporal

-Interactive visualization tools
Herramientas de visualización interactiva

-Smarter routing
Enrutamiento inteligente

-Machine learning
Aprendizaje de máquinas

-Outcomes
Resultados

https://docs.google.com/document/d/

[2020-04-06 00:14] ThatOneGoat opened #2056 "Have users verify email upon signing up"
Since we will soon have an email system set up for users to reset their password, it makes sense to have users at least verify their emails when they signup. This will prevent issues like users using non-existent emails or making a typo in their email while signing up, which could be dicey in the case that the said user forgets their password.

[2020-04-06 22:31] misaugstad commented on #1101
Here are the Spanish translations, courtesy of @gari01234! There are a couple sign in/up translations I forgot to add earlier that are included here. Could you put those in for me as well @ThatOneGoat ?

Forgot your password?
Olvidaste tu contraseña

No worries, type in your email and we’ll send you a link to reset your password.
No te preocupes, escribe tu correo electrónico y te enviaremos un en

[2020-04-06 22:33] ThatOneGoat commented on #1101
Great, thanks! Will do

[2020-04-08 19:21] misaugstad commented on #1917
closing via #1988

[2020-04-08 19:21] #1917 closed

[2020-04-09 23:12] misaugstad commented on #1905
closing via #2048

[2020-04-09 23:12] #1905 closed

[2020-04-10 12:29] jonfroehlich opened #2059 "Can we get Mexico City on frontpage?"
It's not listed there currently:

![image](https://user-images.githubusercontent.com/1621749/78990790-35b2c400-7aec-11ea-96b1-d5f1ac5da1ed.png)

[2020-04-10 17:19] misaugstad commented on #2059
Yep sorry, forgot to uncomment that line in the most recent release. Will make sure it's there for the next one.

[2020-04-10 18:00] jonfroehlich commented on #2059
thanks mikey!

On Fri, Apr 10, 2020 at 10:19 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-04-13 20:19] misaugstad commented on #1315
@gari01234 pointed out another website with a system of badges, [Decidem](https://edu.decidim.org). A link to their system of badges can be found [here](https://edu.decidim.org/gamification/badges?locale=en) and the Github issue where they discuss it can be found [here](https://github.com/decidim/decidim/issues/3209).

[2020-04-13 20:53] misaugstad commented on #2059
closing via #2060

[2020-04-13 20:53] #2059 closed

[2020-04-18 17:51] misaugstad commented on #248
![weird-obs](https://user-images.githubusercontent.com/6518824/79645171-81a3df80-8162-11ea-988a-fe51d20cb0b2.png)

svl.panorama.getPano();
"7U7VRJc4gzLxBl4lWXFJUA"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
189456

[2020-04-18 18:12] misaugstad opened #2062 "Show more detail in city coverage graph on admin page"
I frequently wish I could zoom in to see more detail on recent contributions in the city coverage chart. I know that vega lite has a pretty simple way to add a brush over a small overview chart to show more detail. Should be pretty quick to implement. Documentation on how to do this can be found [here](https://vega.github.io/vega-lite/docs/selection.html#scale-domains).

![city-coverage-cdmx](http

[2020-04-19 17:26] misaugstad opened #2063 "Sign up link from sign in page is broken"
If you got to the /signIn and then click the "Sign up now" link, you get this error:

![sign-up-from-sign-in](https://user-images.githubusercontent.com/6518824/79694889-305e2380-8228-11ea-872c-4662bf9c9b73.png)

[2020-04-20 12:02] jonfroehlich commented on #248
Woah, craziness! Great find.

On Sat, Apr 18, 2020 at 10:51 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-04-21 23:57] dallemang commented on #2055
We had someone at a meetup last month volunteer that she would re-route her morning jogging route each day to cover sidewalks in her neighborhood.  If she could submit sidewalk issues by phone, then within the range of her home, no markup would be out of date by more than a week.

[2020-04-22 00:33] ThatOneGoat opened #2064 "Are the non-slick DAO implementations necessary?"
Do some investigating to see whether the non-slick DAO implementations are needed in the project.

[2020-04-22 04:05] misaugstad opened #2065 "Update README to just use an actual database"
Our README assumes the schema.sql file will actually work out of the box. Given some issues with some of the evolutions files in our repo, this is not the case. As such, we may as well just skip the whole schema.sql deal, and have users load a real database from day 1.

Alternatively, we could fix the schema.sql file (and possibly the evolutions), but this doesn't seem worth the time investment, s

[2020-04-22 04:48] misaugstad commented on #1658
closing via #2058

[2020-04-22 04:48] #1658 closed

[2020-04-22 20:17] misaugstad opened #2066 "Add postgres user/password to docker-compose"
Windows users in particular have been having issues setting up the dev environment lately, and have needed to added POSTGRESS_USER and POSTGRESS_PASSWORD environment variables to their db containers in order for the db container to start up for the first time. No harm in adding these to the docker-compose.

[2020-04-22 22:04] jonfroehlich commented on #2055
Thanks Dean. This is neat. It's simply a matter of dev resources for us...

On Tue, Apr 21, 2020 at 6:30 PM Dean Allemang <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http:

[2020-04-23 21:31] misaugstad commented on #1641
This is done now!

[2020-04-23 21:31] #1641 closed

[2020-04-24 22:15] misaugstad commented on #1101
closing via #2057

[2020-04-24 22:15] #1101 closed

[2020-04-25 01:17] misaugstad opened #2067 "Log landing page clicks on other city and mapathon links"
Clicks to the "start exploring" link are being logged in the webpage_activity table, but clicks to the other links below it are not. Let's change that :)

![landing-page-links](https://user-images.githubusercontent.com/6518824/80267758-8a5f4e80-8657-11ea-9515-2bc12ecc26a0.png)

Other logging on the landing page is done in the public/assets/homepage.js file. Also note that the mapathon link only sh

[2020-04-25 14:25] jonfroehlich opened #2069 "Make LabelMap's existence more obvious and accessible to users."
As @gari01234 points out, we have this nice LabelMap feature but it's not highlighted or accessible from our landing page or top-level menu. I think this is because LabelMap fails on large datasets like Seattle but I think it would be nice to include it for smaller cities like Newberg, CDMX, etc.

![image](https://user-images.githubusercontent.com/1621749/80282348-cdf0a180-86c5-11ea-82f0-a350eb9d6

[2020-04-25 18:00] misaugstad commented on #2051
Places where timestamps might be used and should be fixed
- [ ] user dashboard
- [ ] version in the footer

Places where distances are used
- [ ] stats on landing page
- [ ] popups on most choropleths
- [ ] stats on right side of audit page
- [ ] mission complete modal for audit page

Feel free to keep adding to this list as you find places. I'll also add if I remember any other places as well.

[2020-04-25 18:01] misaugstad commented on #2051
Only bother making these changes on the admin page if they are trivial to make. It isn't worth sinking dev time into that right now.

[2020-04-25 18:19] misaugstad commented on #2051
This is all about translating text, but here is the documentation for the Play Framework's internationalization: https://www.playframework.com/documentation/2.3.x/ScalaI18N#Specifying-languages-supported-by-your-application

If you look at the documentation for later versions, it shows some stuff about formatting dates for different languages. Idk if that's something that was added in later versio

[2020-04-25 21:26] misaugstad commented on #2069
That's correct that we haven't highlighted it because it won't work on larger datasets. But that's a good point. Very little reason not to include it for smaller cities/datasets. My only concern is it being confusing for users in cities where we end up expanding and the dataset becomes too large. Then if we remove the link to this map it might be confusing.

[2020-04-25 21:34] jonfroehlich commented on #2069
Let’s just cross that bridge when we come to it? And release it for now?

Sent from my iPhone

[2020-04-25 21:56] misaugstad commented on #2069
I agree.

[2020-04-25 21:59] misaugstad commented on #2069
Do you like the name "Label Map"? Or would you want the link to it to say something different?

[2020-04-26 00:22] jonfroehlich commented on #2069
I like Label Map. Maybe ask the team to see if they have better ideas?

Sent from my iPhone

[2020-04-26 01:24] ThatOneGoat commented on #2064
Ok, so it seems that the PasswordInfoDAO (the non-slick version) and the AuthTokenDAOImpl I wrote both aren't necessary, they're just remnants of some base silhouette project. However, the UserDAOImpl is a little different since the actual class itself doesn't use slick but the companion object does use slick.

I think we have two options: We can remove the PasswordInfoDAO and AuthTokenDAOImpl cau

[2020-04-26 03:38] misaugstad commented on #2064
I think that trying to move the companion object over would be good. Hopefully it will either be pretty easy, or you'll realize quickly that there was a good reason for it to be in USerDAOImpl instead!

[2020-04-26 15:23] manaswis opened #2070 "'Accessible' Social Distancing Sidewalk Width Map"
Recently, an interactive map came out showing sidewalk width safe for social distancing: https://www.sidewalkwidths.nyc/

It would be interesting to add Project Sidewalk data to the mix to make an accessible version of it: https://twitter.com/manaswisaha/status/1254076027094982656
New Yorker article talks about things like obstacles creating issues and we have that data and more!

Now, [Toronto](h

[2020-04-27 22:05] misaugstad commented on #1343
closing via #2061

[2020-04-27 22:05] #1343 closed

[2020-04-27 23:42] misaugstad opened #2075 "Increase audit priority for streets with no labels"
One thing we worry about when thinking about the quality of our data is the prevalence of false negatives (the number of missed labels); false positives are not as big of a deal, because human and/or computer validation can rule them out easily enough. As such, I think we should slightly increase the audit priority for streets that have no labels associated with them.

What we do right now is to s

[2020-04-27 23:57] misaugstad commented on #2063
closing via #2074

[2020-04-27 23:57] #2063 closed

[2020-04-28 00:33] misaugstad commented on #2069
@jonfroehlich any qualms here? Some of them (particularly the audit page) look a bit busy. I think it's probably fine though.

![labelmap-navbar-landing](https://user-images.githubusercontent.com/6518824/80433879-19b16f80-88ad-11ea-837a-9b7e73eceb9d.png)
![labelmap-navbar-audit](https://user-images.githubusercontent.com/6518824/80433883-1b7b3300-88ad-11ea-8f44-15338c26a759.png)
![labelmap-navbar-v

[2020-04-28 01:05] jonfroehlich commented on #2069
Good for now. In future, maybe See Results can be a drop down

Sent from my iPhone

[2020-04-28 01:46] misaugstad commented on #2069
closing via #2076

[2020-04-28 01:46] #2069 closed

[2020-04-28 18:57] misaugstad commented on #2066
closing via #2073

[2020-04-28 19:31] misaugstad opened #2078 "Visiting Label Map is logging Visit_Results"
We are accidentally logging the wrong thing when someone visits the labelmap page! Quick fix I'll make today.

[2020-04-28 23:24] ThatOneGoat opened #2081 "Navbar collapses incorrectly"
Navbar is collapsing incorrectly (especially on the admin pages)

Here is what it looks like on the develop branch (incorrect):
![Screen Shot 2020-04-28 at 12 30 29 AM](https://user-images.githubusercontent.com/37346427/80547278-abcc7d00-896c-11ea-8acc-d6e3071684c8.png)

Here's what it looks like on the admin page on develop (incorrect):
![Screen Shot 2020-04-28 at 12 34 44 AM](https://user-images

[2020-04-28 23:25] ThatOneGoat commented on #2081
I forgot to mention that these are all screenshots taken at full screen (so the first image I showed was incorrect since it shouldn't be collapsed during full screen)

[2020-04-28 23:49] misaugstad commented on #2064
closing via #2077

[2020-04-28 23:49] #2064 closed

[2020-04-29 00:04] misaugstad commented on #2078
closing via #2079

[2020-04-29 00:04] #2078 closed

[2020-04-29 00:21] misaugstad commented on #2065
closing via #2080

[2020-04-29 00:21] #2065 closed

[2020-04-29 23:20] ThatOneGoat commented on #1904
Here's a sample look on the actual mobile page:
![Screen Shot 2020-04-29 at 4 18 33 PM](https://user-images.githubusercontent.com/37346427/80656125-46908e80-8a35-11ea-9423-ff9dd5237999.png)
The button color and sizing could use some work I think, but this is the general idea I was thinking of.

[2020-04-30 00:12] misaugstad commented on #2052
closing via #2082

[2020-04-30 00:12] #2052 closed

[2020-04-30 00:40] misaugstad commented on #2081
@ThatOneGoat what is the resolution of the screen you're using? The landing page looks fine for me when full screen.

I was actually able to reproduce the problem on the admin page on the production servers too. Not at full screen, but when I decrease the width a bit I can get that bug.

[2020-04-30 01:16] ThatOneGoat commented on #2081
1440 x 900

This was happening for me on the landing page in the develop branch. Master (and production) is currently working fine for me as well

[2020-04-30 07:36] ThatOneGoat commented on #2081
Wait actually that's strange. It's back to being normal again for the landing page...

But the admin page is still a little wonky regardless for me like you said

[2020-04-30 20:11] MattJ12 opened #2084 "API Page Optional Parameters Formatting"
On the API page for each accessibility format type there is an optional parameters section.  For the severity parameter, you can only pass an integer so it should just say `severity=[int]`, not `severity=[int|string]`.  Also, for the filetype parameter there should be square brackets around what parameter types you can pass like this: `filetype=[string]`.  The filetype parameter used to be like th

[2020-04-30 21:15] misaugstad commented on #2084
Ahh, when we were talking earler, I forgot that you can pass in "none" for the severity parameter to get labels that have no severity rating. So `severity=[int|string]` still makes sense. But you're right that switching to `filetype=[string]` should happen. Also yes the typo should be fixed :)

[2020-04-30 23:00] misaugstad opened #2085 "Add polygon outlines to labelmap and user dashboard"
The maps on the user dashboard and the Label Map don't have polygon outlines for the neighborhoods which makes it hard to see what's really going on. This is especially true if there is not much data, or the neighborhoods we are auditing are not connected (like in Mexico City).

![labelmap-map](https://user-images.githubusercontent.com/6518824/80766955-7efaa000-8afb-11ea-8f00-4ad0fe783f8e.png)

[2020-04-30 23:48] misaugstad opened #2086 "Add lucha libre mask version of logo to CDMX server"
![ProjectSidewalk_cdmx 2](https://user-images.githubusercontent.com/6518824/80768693-ec103480-8aff-11ea-8c72-d1c47fff14fd.jpg)

[2020-04-30 23:51] misaugstad opened #2087 "Make sure that clustering is being run consistently"
Someone pointed out to me that the results page was not showing much data:
![imagen](https://user-images.githubusercontent.com/6518824/80769609-9ee19200-8b02-11ea-9070-0a83c03f2b2e.png)

So then I manually ran clustering and that data was filled in. No data was added the past two days, which means that clustering must not have been run the past two days? I'm pretty sure it is supposed to be run ni

[2020-05-01 02:27] ThatOneGoat commented on #1904
Would it be ok for me to create a separate /mobileSignIn page? If we do end up going with some sort of signup page, I think a well designed mobile sign-in pipeline is probably gonna be less buggy then if we just try to use the current system of url redirects currently implemented for the mobile page.

I think a separate mobile page would be nice since there's a lot of clutter we can clean out from

[2020-05-01 03:29] ThatOneGoat commented on #1737
So I was reading @htadeusiak 's comments on the completed PR for #1757 and it seems like he was able to get the Panomarkers onto the pano upon refresh then it was decided that we wouldn't place visible labels because those labels (and the panomarker) wouldn't be editable.

In that case, am I just trying to do what @htadeusiak did and physically show a label in the pano, or was there some blocking

[2020-05-01 20:49] misaugstad commented on #1737
I think the issue was that we don't use PanoMarkers on the audit page (though we do on the validation and admin page). So if we want to make labels editable in the future, we would have to write completely new code to make them editable. Like it would be adding a sort of copy of all the code to show labels as PanoMarkers.

So what I think we want to do is use the current label infrastructure inste

[2020-05-01 21:37] misaugstad commented on #1904
Could you give me a little bit of a better idea of the difference between what we would be b/w the current system and what you're proposing and what kinds of bugs you have in mind?

In any case, I think that a dedicated mobile page is probably the way to go. My only concern is that this isn't super important, so I wouldn't want to you sink too much time into it. Especially since if you add a sign

[2020-05-02 08:13] ThatOneGoat commented on #1904
In hindsight, "buggy" was the wrong word; I think I meant it gets more convoluted. If we didn't use a separate mobile url, I'd probably redirect to our current signIn url. This isn't necessarily buggy out of the box, but then there'd be a lot of case work and edge cases in adapting both a mobile styling and desktop styling for the signIn page (like with CSS media queries, the querying isn't done b

[2020-05-02 08:22] ThatOneGoat commented on #1737
Ah I see, I didn't realize that the labels we place on the panos during auditing are different than the Panomarkers we see in validation (I thought they were all Panomarkers).

I'm still not quite sure what you mean though by current label infrastructure. It might be because I'm misunderstanding the label infrastructure, but I thought that since we have a way to get the label data around an area (

[2020-05-02 17:25] MattJ12 opened #2088 "Audit Mission Complete Screen Mission Labels"
For auditing, on the mission complete screen under mission labels section it says `mission.ramp` and I think it is supposed to say `Missing Curb Ramp`.

[2020-05-02 17:54] misaugstad commented on #2088
Nice find, thanks @MattJ12 !

[2020-05-02 20:31] kumararoosh commented on #1189
![image](https://user-images.githubusercontent.com/24703104/80891497-3bc63b80-8c79-11ea-96e3-048744b8b49b.png)

[2020-05-02 20:31] kumararoosh commented on #1189
new admin table

[2020-05-02 21:42] misaugstad opened #2091 "Add user_id constraint to webpage_activity table"
The `webpage_activity` table has a `user_id` column, but it doesn't have a link to the `sidewalk_user` table like it should. Should be easy to add. Also need to remember to delete `webpage_activity` entries with no associated `user_id` when making the evolution.

[2020-05-02 21:46] misaugstad commented on #1455
I've rewritten the queries here to be much faster. I also added a query to delete the corresponding entries in the `webpage_activity` that I had forgotten to delete. I haven't been able to speed up the final query though. Still working on it. It works for small tables just fine, but it's not finishing in a timely manner on our Seattle server.

[code]

[2020-05-02 22:54] misaugstad commented on #1189
Looks good! Did you test that it works for today and yesterday?

[2020-05-02 22:59] misaugstad commented on #1737
Yes I think that's the main issue. Though there are likely some issues with that on the front-end as well. Since everything on the front-end is assuming you placed the label during this session. Rendering should be relatively easy, you just also need to record that it is an old label on the front-end and keep track of that until you send it off to the back-end.

[2020-05-02 23:03] misaugstad commented on #1904
Okay yep, that all sounds good to me!

[2020-05-02 23:06] kumararoosh commented on #1189
Yes it was tested now and back when i botched the branch creation and based it off of master

[2020-05-03 00:06] ThatOneGoat opened #2092 "Validation Buttons Missing"
I was testing on mobile when I ran into this issue on both my branch and the prod server:
![MissingValidateButtons](https://user-images.githubusercontent.com/37346427/80895190-0d575900-8c97-11ea-814e-f54a028758c0.png)

The strange thing is I can't reproduce this issue. I suspect it was because of some loading race conditions with how elements are rendered on the mobile page, but some investigating

[2020-05-03 00:06] ThatOneGoat commented on #2092
Another note, I'm using an IPhone 6

[2020-05-03 00:26] misaugstad commented on #2092
duplicate of #1881

[2020-05-03 00:26] #2092 closed

[2020-05-03 00:27] misaugstad commented on #1881
Looks like @ThatOneGoat ran into this issue the other day too (documented in #2092). They were using an iPhone 6. @ThatOneGoat were you accessing the site by clicking a link? Or typing the address directly into the address bar?

[2020-05-03 00:47] ThatOneGoat commented on #1881
When I was testing on my branch, it was just through connecting to my ipaddress and then getting redirected to the mobile landing page. When I tested the prod server, I got to the address via the link on google (just searched up "project sidewalk" and clicked the link to the page)

[2020-05-03 13:44] jonfroehlich commented on #1881
I still see this problem intermittently tbh.

[2020-05-03 19:32] misaugstad commented on #1881
Do you just refresh the page and it typically is fixed?

[2020-05-03 19:47] misaugstad commented on #2087
Okay I believe I've fixed the issue. So we have the road network for all of Mexico City (286,005 streets) in our database, but we are only working on a very small subset of that (558 streets). Every night we are updating the priority of all the streets in the `street_edge_priority` table. There was supposed to only be the 558 streets in that table, but I had made a mistake when setting up the data

[2020-05-03 19:47] #2087 closed

[2020-05-03 20:28] ThatOneGoat commented on #1881
Yeah. I also reopened safari (the browser I was using), but I don't think that really affected it.

[2020-05-04 18:37] misaugstad commented on #198
Looks like we also have a method of extracting crops from the full panos now too, so I'm closing this now.

[2020-05-04 18:37] #198 closed

[2020-05-04 22:29] misaugstad commented on #1184
The only unresolved piece of this issue is changing how we calculate "missing sidewalks per mile". This is captured in #1163 so I'm going to close out this issue.

[2020-05-04 22:29] #1184 closed

[2020-05-04 22:43] misaugstad commented on #960
Last week, a virtual mapathon in Mexico City was organized, and monthly mapathons are being organized in Columbus (now virtual due to COVID-19). Is this still the kind of thing we'd want to organize ourselves? We have a large enough team now that it almost makes sense to do an internal mapathon :joy:

[2020-05-04 22:52] misaugstad commented on #475
@mechanicjay has provided me with a process for doing that.

[2020-05-04 22:52] #475 closed

[2020-05-04 23:10] misaugstad commented on #1209
I have added some really simple logging of the output of each run to CSV files on the server that has the panos. There is a CSV for each city in the directory with the panos. Then once per week I just download those files and check that everything looks :ok_hand: I include the number of successful/failed/skipped downloads for each run along with the time it takes to run. I'll know something is up

[2020-05-04 23:10] #1209 closed

[2020-05-05 01:14] ThatOneGoat commented on #727
I was able to repro this with on a Mac OS using Safari:
![Screen Shot 2020-05-04 at 4 37 30 PM](https://user-images.githubusercontent.com/37346427/81027542-0d8c5b80-8e33-11ea-9efe-f1f709320c41.png)

I also tried it on Chrome, and the overflow issue wasn't there

[2020-05-05 19:29] misaugstad opened #2093 "Give application log unique naming scheme"
This will make it easier for @mechanicjay to save the files elsewhere. Right now when the Docker container is rebuilt, the log files are deleted. But I occasionally want to have a look at those after the fact.

[2020-05-08 02:07] misaugstad commented on #2066
@rpechuk just set up their dev env and it looks like the fix did not fully work. I didn't realize that setting the postgres user to be "sidewalk" would make it so that there is no postgres user at all! And other scripts we have assume that there is one. We just need to change the POSTGRES_USER to be "postgres" instead of "sidewalk".

[2020-05-11 23:16] misaugstad opened #2096 "A few missed mturk Spanish translations"
There are just a couple missed Spanish translations that only show up for turkers. Nothing that would cause any problems, but should still be addressed this week. I believe we have translations for all of these, they just need to be added in these places.

audit page:
"Confirmation code" -- first mission complete screen

validate page:
"Reward on satisfactory completion"
"Great job!"
"You just val

[2020-05-12 01:11] misaugstad commented on #2096
closing via #2097

[2020-05-12 01:11] #2096 closed

[2020-05-14 00:56] misaugstad commented on #1165
Still thinking about the recency of GSV imagery and how we can use checking for expired panos as a way to prioritize routing. And I'm mostly commenting to add a few more keywords so that it is easier for me to search for this issue in the future :)

[2020-05-14 01:20] misaugstad opened #2098 "Data with no "user" being sent to backend"
For both the audit and validation pages, there are errors being logged on multiple servers (I've seen it on both Seattle and CDMX). I don't know what all the implications are, idk how much data we are losing from this. But I need to investigate ASAP. It only happens sometimes, but frequently enough that it really needs to be figured out.

The errors below reference "TaskController.scala:185" and "

[2020-05-14 19:38] ThatOneGoat opened #2099 "Slow Compile Times"
One thing I (and a few other researchers like @kumararoosh ) have noticed is that the compile-time (for both `npm start` and when the sbt catches a file change while the server is up) upon running for the project is quite long (around the order of 2-5 minutes for one scala file). Some investigation may be needed to see why cpu usage isn't as optimized, etc.

[2020-05-14 20:19] jonfroehlich commented on #248
Poor severity curb ramp in cdmx

![image](https://user-images.githubusercontent.com/1621749/81981724-8e8ee400-95e5-11ea-95ac-e0b0a82bdcca.png)

[2020-05-14 20:25] jonfroehlich commented on #248
Severity 4

![image](https://user-images.githubusercontent.com/1621749/81981858-bd0cbf00-95e5-11ea-8d72-c80041cc6845.png)

svv.panorama.getPanoId()
"U4I9zKsZZAS7aVg0KUZvRA"

[2020-05-14 20:35] jonfroehlich opened #2100 "Open-form textfield for validation interface"
I *thought* this was a previously filed issue but I couldn't find it. So, making another one.

It would be nice to have an open-form textfield to type in some thoughts about certain labels during validations. For example, this one *is* a curb ramp but it's definitely not a severity 1 given the grass growth, degradation, etc.

![image](https://user-images.githubusercontent.com/1621749/81983186-ce56

[2020-05-14 20:53] misaugstad commented on #248
We've got some fun carnival rides and stuff in the street in Mexico City!
![carnival-cdmx](https://user-images.githubusercontent.com/6518824/81984857-47572200-95ea-11ea-8a8f-a39a771fb3eb.png)

(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
48033
svl.panorama.getPano();
"vIsuBdblb1KWNChtNYa5gQ"

[2020-05-14 20:56] jonfroehlich commented on #248
From one of our users posted on Twitter:

![image](https://user-images.githubusercontent.com/1621749/81985079-a3ba4180-95ea-11ea-9ad7-a80c5302ddc7.png)

https://twitter.com/Gari01234/status/1260962536406634499/photo/1

[2020-05-14 21:00] jonfroehlich commented on #248
![image](https://user-images.githubusercontent.com/1621749/81985522-3824a400-95eb-11ea-941e-7fabb6f67f73.png)

[2020-05-14 21:37] jonfroehlich commented on #248
Another severity 5 curb ramp

![image](https://user-images.githubusercontent.com/1621749/81986188-3a3b3280-95ec-11ea-92d2-d7d7254a1b4a.png)

[2020-05-14 21:37] jonfroehlich commented on #248
Person with a cane:

![image](https://user-images.githubusercontent.com/1621749/81988487-68227600-95f0-11ea-8643-2fb62a0be71a.png)

svl.panorama.getPano();
"_f5GJgMRsEppcV2Wl1cDNw"

[2020-05-14 21:50] jonfroehlich commented on #248
Just a nice shot for a potential paper or talk:

![image](https://user-images.githubusercontent.com/1621749/81989497-327e8c80-95f2-11ea-8d82-fffbddf91da5.png)

[2020-05-14 21:51] jonfroehlich commented on #248
Barrier in crosswalk

![image](https://user-images.githubusercontent.com/1621749/81989569-55a93c00-95f2-11ea-9e80-31fd15d08bbf.png)

[2020-05-15 05:33] kumararoosh commented on #1832
Looks like there is no legacy support for gt-shapefile, so we have to upgrade all of the geotools libraries to 20.3

[2020-05-15 22:28] misaugstad commented on #1832
Oh weird. How do you know?

[2020-05-15 22:28] misaugstad commented on #1832
I worry that upgrading the other geotools libraries could be impossible, because it might require updating various other libraries as well

[2020-05-16 01:46] kumararoosh commented on #1832
I was able to update all the other libraries to the 23.0 version, and tested all of the api calls. They all function the same as before updating the libraries

[2020-05-16 01:47] kumararoosh commented on #1832
Also, the server that had gt-shapefile legacy builds was supposed to be on boundlessgeo, but boundlessgeo was bought by another company, and that new company did not retain support for legacy builds

[2020-05-16 03:17] misaugstad opened #2101 "Improve efficiency of some SQL queries"
I just noticed a few queries that are doing a SELECT, putting the data into Scala, then checking the size of the Scala object. It would be much more efficient to just do the COUNT in SQL and just read that integer into Scala. A lot of these queries are used for the admin page. Not sure if there will be a big enough speedup for that page to load any more quickly, but it's worth a shot! Some functio

[2020-05-16 12:33] jonfroehlich commented on #2101
Good catch. And this is exactly the kind of code I would accidentally write
early in a project before fully understanding the capabilities of my
libraries and the underlying tech. Definitely want to rely on SQL as much
as possible for processing—it's why it's there!

On Fri, May 15, 2020 at 8:17 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen

[2020-05-16 18:14] misaugstad commented on #2101
Just saw the `auditedStreetDistance` function, which looks like it could be sped up in the same way

[2020-05-16 21:48] misaugstad opened #2102 "Include region_id in script that checks for street imagery"
In the script I wrote that checks each street to see if it has imagery, the output is a CSV that just lists all the streets with no imagery. The output would actually be more useful if it included the region_id for each street. Since tiered deployments are now so common for us where we start with just a few neighborhoods before expanding, this would make things easier. Should be relatively easy to

[2020-05-17 12:43] jonfroehlich commented on #248
Another crosswalk example (from Mexico City):

![image](https://user-images.githubusercontent.com/1621749/82146755-477d3a80-9801-11ea-8979-67ee629b3d21.png)

[2020-05-17 12:44] jonfroehlich commented on #248
Mexico City example

![image](https://user-images.githubusercontent.com/1621749/82146978-7c898d00-9801-11ea-9f17-2d37cf54dcb2.png)

[2020-05-17 12:46] jonfroehlich commented on #248
Steep curb ramp with pole in sidewalk:

![image](https://user-images.githubusercontent.com/1621749/82147004-b5c1fd00-9801-11ea-87b9-00e9b697dcaf.png)

[2020-05-17 12:46] jonfroehlich commented on #248
![image](https://user-images.githubusercontent.com/1621749/82147025-c6727300-9801-11ea-94b6-0e249d3a22f8.png)

[2020-05-17 12:49] jonfroehlich opened #2103 "Show neighborhood on validation screen"
I think it would be nice for our users to see (at least) the neighborhood of the current validation location. Maybe on the right sidebar beneath current mission?

We may also want to consider adding in the street location or intersection or something. I think our volunteer users, in particular, would benefit and be interested in this info.

![image](https://user-images.githubusercontent.com/162174

[2020-05-17 12:50] jonfroehlich commented on #248
Mexico city narrow sidewalks:

![image](https://user-images.githubusercontent.com/1621749/82147102-51536d80-9802-11ea-8823-9f4740d6b257.png)

[2020-05-17 20:50] misaugstad opened #2104 "Add ability to clear internal cache to admin dashboard"
The biggest time where I would find this useful is when we are adding more neighborhoods to a city. We have the total street distance for the neighborhood cached, and that cached value has no expiration because that distance should never change! The one time it changes is when we add more neighborhoods to our deployment.

I can often make all the changes necessary in the database, and that would b

[2020-05-17 20:54] misaugstad commented on #2102
closing via #2105

[2020-05-17 20:54] #2102 closed

[2020-05-17 21:49] misaugstad commented on #1189
closing via #2089

[2020-05-17 21:49] #1189 closed

[2020-05-17 22:25] misaugstad commented on #2103
And do you think this is worth making the admin interface look a bit more busy?

[2020-05-17 22:43] misaugstad commented on #2100
Are you thinking of something like an "Optional comment" box below the validation buttons? And do you think this is something that should be included on mobile as well, or is it too important that we keep mobile more simple?

[2020-05-17 22:44] misaugstad commented on #2100
Related issues: #1679 #1729

[2020-05-18 00:26] misaugstad opened #2107 "Speed up nightly computation of user stats"
Nightly computation and update of the `user_stat` table is starting to take much longer for large databases. We left 30 minutes for those calculations each night. It's taking about 35 seconds on the CDMX server, but it can take over 90 minutes on the Seattle server.

There might be some simple speedup improvements that could be made, I need to check more closely. It is probably also a good idea to

[2020-05-18 13:26] jonfroehlich commented on #2103
Yes

[2020-05-18 13:27] jonfroehlich commented on #2100
Not for mobile. Too hard to get right on mobile.

And yes, something like an optional comment box below validation buttons.

On Sun, May 17, 2020 at 3:44 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> -

[2020-05-18 13:36] jonfroehlich commented on #248
Mexico City

![image](https://user-images.githubusercontent.com/1621749/82219299-eec9a280-98d1-11ea-8e1b-1fe8a0ceccee.png)

[2020-05-18 13:41] jonfroehlich commented on #248
Mexico city:

![image](https://user-images.githubusercontent.com/1621749/82219800-a494f100-98d2-11ea-8d6d-c03c477c7dc4.png)

[2020-05-18 13:50] jonfroehlich opened #2108 "If/when we route multiple users over same area, route users in opposite directions"
We should have them walk in opposite directions down the street (as certain directions make it easier to see problems and users may not look backwards)

[2020-05-18 20:22] misaugstad commented on #2108
Very good idea! However, we should probably balance this with the increased jumping that this could cause. Let's say someone is auditing and gets to an intersection, and all the connected streets have already been audited in the direction the user would be auditing. Would you rather have them have a contiguous route? Or would you rather have them jump to a different location where they can audit a

[2020-05-19 17:59] jonfroehlich opened #2110 "Admin page load error"
![image](https://user-images.githubusercontent.com/1621749/82361543-d768e300-99bf-11ea-9293-2969f70be147.png)

[2020-05-19 18:25] misaugstad opened #2111 "Set up server for San Pedro Garza García"
A city in Nuevo Leon, MX, part of the Monterrey metropolitan area.

[2020-05-19 18:28] misaugstad opened #2112 "Change colonias to barrios outside of CDMX"
Right now we are using "colonias" in the Spanish language translations for our website. This doesn't exactly make sense though, since we are only using "colonias" in Mexico City. Someone looking at the Spanish version of the Columbus server would still see "colonias" (sort of the equivalent of a zip code) instead of "barrios" (meaning neighborhoods).

It's probably best to just switch all instance

[2020-05-19 19:09] misaugstad commented on #2110
Whoops, same issue as #2023 that came up after I added new neighborhoods. This has been resolved!

[2020-05-19 19:09] #2110 closed

[2020-05-19 21:28] misaugstad commented on #2023
So this happened again, documented in #2110. It happened because I added more neighborhoods to the city and didn't remember to filter out those streets with null `way_type`. I realized that there's no reason to keep those in the database anyway; they should have never been there in the first place. So I deleted all of those streets from the database (except for the 3 that already had audits). Shou

[2020-05-19 22:19] misaugstad opened #2113 "Separate prod/test servers a bit more"
I realized that for Google Analytics, I can separate the logging for the test servers vs prod servers by adding a new "property" to that city's "account". Then I just need to change the Google Analytics IDs in the config files to use "-1" vs "-2".

And if I'm changing configs based on whether or not the server is a test server, I might as well also make sure the links on the test server landing pa

[2020-05-21 21:29] leonli33 commented on #2100
Would a design pattern like this be suitable:
![image](https://user-images.githubusercontent.com/31671708/82608369-623c1000-9b6f-11ea-84d1-95c12ba688fd.png)

[2020-05-21 21:45] misaugstad commented on #2100
Yeah that looks nice. Though we might want to keep the text box shorter to keep the interface as compact as possible. Not sure if the proportions will look weird once we do that though. It also matters what the UI on the left and right look like after this change.

[2020-05-21 21:50] misaugstad opened #2115 "Example image popups in wrong location on validation"
Here is what it looks like for me:
![example-location-off-1](https://user-images.githubusercontent.com/6518824/82609830-222a5c80-9b72-11ea-863f-07b03a953cb4.png)
![example-location-off-2](https://user-images.githubusercontent.com/6518824/82609916-5140ce00-9b72-11ea-86c8-b118976dedcc.png)
![example-location-off-3](https://user-images.githubusercontent.com/6518824/82609919-5271fb00-9b72-11ea-9b3c-7e

[2020-05-21 21:52] leonli33 commented on #2100
Maybe something like this then?
![image](https://user-images.githubusercontent.com/31671708/82610088-9cf37780-9b72-11ea-8939-c03ca31e3e90.png)

[2020-05-21 22:51] jonfroehlich commented on #2100
Looks good to me. Take out the "Any additional comments?" part and just
have the "Add comment here..." that disappears when users click on
textfield.

Jon

On Thu, May 21, 2020 at 2:52 PM Leon Li <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twit

[2020-05-23 23:26] misaugstad commented on #2112
I actually don't see a huge benefit to using "colonia" over "barrio". It's a bit more specific in cities where we actually use colonias to divide up the city, but I don't think that is worth the effort into making it city-specific. So let's just change it to "barrio" for now.

[2020-05-28 02:20] misaugstad commented on #2098
I've added a hotfix for this in #2116 but we have a lot of improvements we need to make to signing in/up. I've spent a lot of time on this and need to move on to other things like the deployment to mturk, so I'm going to have @ThatOneGoat take a look at this next. Going to add various notes/thoughts below.

1. I still think that we have to be able to do the signup procedure without two redirects.

[2020-05-28 20:55] misaugstad commented on #248
In SPGG, a pedestrian not using the sidewalk, possibly because of its quality
svl.panorama.getPano();
"2g8XOcLqvgyX-cwpvCg47g"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
3383
![not-using-sidewalk](https://user-images.githubusercontent.com/6518824/83192678-bce2e800-a0ea-11ea-96f2-2a9929f4a121.png)

[2020-05-29 22:42] misaugstad opened #2120 "Mission progress stuck at 0%"
I've only seen this when using the new SPGG database (on my dev env and on the test server). But it seems unlikely that it woudl be related to the database/city.

[2020-05-29 22:44] misaugstad commented on #2120
Oops, accidentally created it too soon! I've had this happen to me twice, where I start a new mission and it stays at 0% for a long time. The 2nd time this happened to me, I looked in the database and saw that the `distance_progress` column of the `mission` table was set to -200 meters. So somehow the progress is being set to negative, and the progress bar stays at 0 while we slowly work out of th

[2020-05-29 23:13] misaugstad commented on #1449
Got this again this week on the Columbus server. The neighborhood was about 20% complete, and there were others working in it at the same time. I believe I clicked through the choropleth to go to that particular neighborhood, it immediately gave me the neighborhood complete overlay, I said I wanted to continue anyway, then it brought me to the tutorial street (priority 0.25). Once I finished that

[2020-05-29 23:23] misaugstad commented on #959
https://wiki.openstreetmap.org/wiki/Legal_FAQ#2a._Can_I_trace_data_from_Google_Maps.2FNokia_Maps.2F....3F

[2020-05-29 23:32] misaugstad commented on #959
Bing has explictly granted OSM permission to use their "Streetside" imagery in a limited capacity. It could be worthwhile to look into something like that https://wiki.openstreetmap.org/wiki/Bing_Maps#Streetside_imagery

[2020-05-29 23:35] misaugstad commented on #1776
closing via #2029

[2020-05-29 23:35] #1776 closed

[2020-05-29 23:58] jonfroehlich commented on #1449
I've gotten this recently as well (on CDMX).

On Fri, May 29, 2020 at 4:14 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-05-30 02:26] misaugstad commented on #2104
I think this could go anywhere on the Overview tab of the admin dashboard

[2020-05-30 02:27] misaugstad commented on #2086
Now that we are setting up a server in SPGG, include it for that city as well. You can see how we have different images for different servers by looking at the skyline on the landing page.

[2020-05-31 02:43] misaugstad opened #2122 "Add pano id to GSV popup on admin page and /labelmap"
When using either the label search or contributions tabs on the admin page, I find myself frequently wanting to know the pano id. I expect it shouldn't be difficult to add. And we should add this only on the admin page (i.e., not on /labelmap).

![gsv-admin-no-pano-id](https://user-images.githubusercontent.com/6518824/83343290-227ed200-a2ad-11ea-931d-85ac651ef3cf.png)

[2020-06-01 14:01] jonfroehlich commented on #2122
I think it would be find to also have on labelmap tbh... and in fact, maybe
a good idea?

On Sat, May 30, 2020 at 7:43 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more ac

[2020-06-01 23:49] misaugstad opened #2124 "Include total distance audited on admin user page"
On the user dashboard it shows the total distance you've audited. I'd really like to have that on the /admin/user pages as well.

[2020-06-02 00:07] misaugstad commented on #2086
@MattJ12 can you edit the image to be the same as the normal logo, just with the lucha libre mask?

So make the background transparent, remove the link and the additional logos, and crop so that there's no extra border anywhere. I would also say to compress to make the file size smaller, even if we lose some resolution. We want the landing page to load as quickly as possible. It could still be a s

[2020-06-02 01:11] misaugstad commented on #2100
closing via #2118

[2020-06-02 01:11] #2100 closed

[2020-06-02 01:12] misaugstad commented on #2120
Just checked, and the fix is working well! Closing via #2123

[2020-06-02 01:12] #2120 closed

[2020-06-02 02:54] MattJ12 commented on #2086
Just updated.

[2020-06-02 19:52] misaugstad commented on #1891
closing via #2109

[2020-06-02 19:52] #1891 closed

[2020-06-02 20:09] misaugstad commented on #2112
While I'm doing this, I might as well fix a translation error I'm seeing on the audit mission complete screen. There is a typo in the key, so it just says "mission.ramp" instead of "Missing Curb Ramp".

[2020-06-02 21:06] misaugstad commented on #2112
closing via #2125

[2020-06-02 21:06] #2112 closed

[2020-06-04 04:30] misaugstad commented on #2122
closing via #2127

[2020-06-04 04:30] #2122 closed

[2020-06-04 19:01] misaugstad commented on #2066
closing via #2095

[2020-06-04 19:01] #2066 closed

[2020-06-04 20:15] misaugstad commented on #2067
closing via #2090

[2020-06-04 20:15] #2067 closed

[2020-06-04 20:17] misaugstad commented on #2088
Whoops sorry @rpechuk ! Looks like I forgot I had created this issue and documented it again in #2112 and then fixed it in #2125 ! I'll assign you a new task :grin:

[2020-06-04 20:17] #2088 closed

[2020-06-06 01:56] misaugstad commented on #2086
closing via #2121

[2020-06-06 01:56] #2086 closed

[2020-06-06 02:44] misaugstad commented on #1668
When doing this, we should not include validations from users that have been _manually_ marked as "low quality". I think this is the easiest way to guard against turkers that have intentially audited/validated in bad faith.

[2020-06-06 02:53] misaugstad opened #2128 "Ignore validations from users manually marked as "low quality""
There are some turkers who intentially audit/validate in bad faith, who add junk data into the system. For such users, I set the `high_quality_manual` column in the `user_stat` table to false. We are correctly ignoring their audits when running clustering & such, but we are not ignoring their validations right now.

Places I can think of where we should ignore their validations:
1. Prioritization

[2020-06-08 19:15] misaugstad opened #2130 "Show total validations on mission complete screen"
Related to #1776

We are already keeping track of this on the front-end from issue #1776, so it would be easy to add it to the mission complete modal.

![File](https://user-images.githubusercontent.com/6518824/84070790-8bd3a480-a981-11ea-816e-11729cee29a5.jpg)

[2020-06-09 12:08] jonfroehlich opened #2131 "Change ableist language like "walk this way" to "go this way""
We are using a bit of ableist language here as pointed out by a user:

![image](https://user-images.githubusercontent.com/1621749/84145693-37770600-aa0f-11ea-89a3-3a4ba84a6c99.png)

[2020-06-09 20:05] jonfroehlich commented on #303
This is still a problem and our users are still complaining (note that the admin panel now shows the feedback column in a really condensed fashion for some reason):

![image](https://user-images.githubusercontent.com/1621749/84194381-cdcc1b80-aa51-11ea-8825-b8ed3e75c448.png)

[2020-06-10 20:57] michaelduan8 opened #2133 "temporary_label_id stored as Option[Int] in Database"
As described in the title, temporary_label_ids (which are used to locate labelId in the database upon form submission, for example) are stored as Option[Int], which seems strange considering how it is needed to identify if a label already exists in the database

[2020-06-11 01:47] misaugstad commented on #248
Label ID 1490, pano ID "R_oEIUJQY4CeQafpPlmKDg"
City: CDMX
Pedestrian using a wheelchair.
![user-in-wheelchair](https://user-images.githubusercontent.com/6518824/84335877-bfadf600-ab4a-11ea-9c55-0ec0779c24ff.png)

[2020-06-11 19:38] kumararoosh commented on #2099
One solution is to give docker access to all of the cores in your system, which decreases the compile time significantly (takes 10 seconds instead of a minute).

[2020-06-11 20:40] jonfroehlich opened #2134 "Validating anonymously via mobile phone on Seattle and got five surface problem missions in a row"
Validating anonymously via mobile phone on Seattle and got five surface problem missions in a row. So, yah, had to validate ~50 surface problems in a row.

Just marking this in case it's a bug...

[2020-06-11 21:53] misaugstad commented on #2099
According to [this stackoverflow post](https://stackoverflow.com/questions/37871540/how-many-cpus-does-a-docker-container-use), the number of CPUs is not limited by default on Linux at least. But if you're using Windows/Mac then you should check the Docker settings in the GUI to see if any CPU limits are being set.

[2020-06-11 22:55] misaugstad commented on #1027
I believe this has been addressed by @mechanicjay we don't really have downtime issues with our servers anymore, and we have Uptime Robot setup to alert us of any issues.

[2020-06-11 22:55] #1027 closed

[2020-06-11 23:09] misaugstad opened #2135 "Uptime Robot Creating Anon Accounts"
We have been using [Uptime Robot](https://uptimerobot.com/) to check that our servers have been up and running and notify us if they are down. This check runs every 5 minutes. Unfortunately, we have been pinging the landing page on the Seattle server every 5 minutes, creating a new anon account every 5 minutes!

It looks like at least 110,000 of our 143,000 accounts have been created in this way;

[2020-06-11 23:27] jonfroehlich commented on #2135
Ha, yyyiiiiiikkkkes!

On Thu, Jun 11, 2020 at 4:09 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-06-15 00:44] misaugstad opened #2136 "Add location question to survey"
This is to get an idea of where users are auditing from. Not sure if self reported is better or worse than using IP address.

Pros of a location question on the survey:
1. We might get more accurate info from users who are using VPNs

Cons
1. It takes work for our users
1. For those _not_ using VPNs (likely most people), users may just not answer truthfully, so we might be getting less accurate da

[2020-06-15 12:06] jonfroehlich commented on #2136
I agree that IP address is probably our best bet. Thanks for outlining pros
and cons.

On Sun, Jun 14, 2020 at 5:44 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more acces

[2020-06-15 19:07] #2136 closed

[2020-06-15 22:15] misaugstad commented on #2131
I agree with this. I think I had brought it up a couple years ago too? We decided not to change at the time, but I see no reason not to do it now.

[2020-06-15 22:24] jonfroehlich commented on #2131
Agree

Sent from my iPhone

[2020-06-16 00:02] misaugstad commented on #2131
Oh and how do we feel about the term "take a step"?

[2020-06-16 00:19] jonfroehlich commented on #2131
Ugh. Right. Things start to break down here...

Sent from my iPhone

[2020-06-16 00:20] misaugstad commented on #2134
I don't think it is a bug, looks like it's probably chance. The odds are pretty low, something like a 0.4% chance that you see 5 missions in a row of any given label type? But also you've done like 700 validation missions on the Seattle server alone (excluding anon validations), sooo it actually isn't too surprising that you'd see that at some point.

Actual evidence that this is chance:
* I just

[2020-06-16 00:20] #2134 closed

[2020-06-16 00:20] misaugstad commented on #2131
Yeah that's a lot harder to replace... I'll keep thinking about it.

[2020-06-16 00:21] misaugstad commented on #2131
And like... "step" doesn't always mean a walking step, so I think it isn't as big of a deal. But in our context it does sooort of have a walking connotation

[2020-06-16 02:09] ThatOneGoat commented on #2099
For Mac users, you can get a massive speed up in compile time by adding the :delegated flag to docker-compose.yml, as stated by PR #1474 .
Here is the docker documentation on how it works, but what it basically does is it just gives the docker container a mor authoritative view of the file system in mac: https://docs.docker.com/docker-for-mac/osxfs-caching/
With that being said, it may be worthwhi

[2020-06-16 02:40] jonfroehlich commented on #2134
Great. I was also going to ask about obstacle in path because I haven't
seen any of those in a long time. Glad our validations are relatively even!

On Mon, Jun 15, 2020 at 5:20 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twit

[2020-06-17 03:15] misaugstad commented on #248
Jon sent me this from mobile this morning. Person in a wheelchair. Looked up some info on it:
label id 3533, pano_id KVfIR_w-Wny0J1z0WBSQ_g

![Screenshot 2020-06-16 at 6 28 06 AM](https://user-images.githubusercontent.com/6518824/84850951-e4541300-b00d-11ea-976b-6fae116759ff.png)

[2020-06-19 01:57] misaugstad commented on #2062
closing via #2137

[2020-06-19 01:57] #2062 closed

[2020-06-21 03:40] misaugstad opened #2138 "Reword HIT expiration overlay"
The text on the HIT expiration overlay is a bit misleading because we are using terms that have a specific meaning for the MTurk platform and we are not using them in the same way. Most importantly, we shouldn't be saying that the assignment has "expired", we can just say that "time's up" or something. I make the length of the "assignment" on MTurk be much longer than the time we give them to audi

[2020-06-22 15:26] jonfroehlich opened #2139 "For quality analysis, update validation queuing algorithm to prioritize users with low numbers of validations received"
According to my estimates, 194 of 627 users have not yet received 10 validations of their labels. We've discussed the validation queuing algorithm at length in the past but I can't remember how it works :) In short, I recommend that we modify the queuing algorithm to prioritize users with < 20 validations (or some threshold like that). This will help with quality analysis.

[code]

**UPDATE:** OK,

[2020-06-22 17:48] jonfroehlich commented on #248
A severity 5 curb ramp in CDMX

![image](https://user-images.githubusercontent.com/1621749/85319078-ea1a8000-b475-11ea-96e5-fd6209d45de7.png)

[2020-06-22 17:53] jonfroehlich opened #2140 "List SPGG on front page"
It's not there currently:

![image](https://user-images.githubusercontent.com/1621749/85319593-9b211a80-b476-11ea-9ace-b5ea28eceff6.png)

[2020-06-23 04:56] misaugstad commented on #2084
closing via #2141

[2020-06-23 04:56] #2084 closed

[2020-06-23 04:58] misaugstad commented on #2140
hahah you caught it before I could silently fix :eyes: well done

[2020-06-23 05:03] misaugstad commented on #2139
@jonfroehlich could you check how many that would be if you remove no sidewalk from the label count? Because we are basically doing this already. We are priotiziting users who have less than 10 labels validated (per label type). See PR #1787

[2020-06-23 05:22] misaugstad commented on #1626
@colegleason I just wanted to let you know that we are currently preparing to launch in Pittsburgh! Hoping to get it off the ground in the next month or so!

[2020-06-23 05:57] misaugstad commented on #2139
ahh although also in that analysis, I filter out users who are manually marked as "low quality" whereas the prioritzation algorithm does not do that filtering right now. The issue for doing that is #2128

[2020-06-24 00:29] ThatOneGoat opened #2142 "UI Bug in Path Rendered in Google Minimap upon Returning to Mission through Choropleth"
When returning to a mission you were already in via the choropleth, sometimes, the path (line) that is rendered in the Google minimap of where you have audited/need to go is fully red even when you have already explored part of that mission.

Currently, I can't figure out how to reproduce the issue, so any evidence/repro steps are needed.

[2020-06-24 02:52] misaugstad opened #2143 "Show streets audited in previous sessions on mini map"
When the user comes back to the audit page, the labels that they had previously placed in the neighborhood are shown in the mini map. But the streets that they had previously audited are not. It would be nice to show those to them, probably in gray or blue? Possibly in green like the streets they've audited in this session.

[2020-06-24 14:36] colegleason commented on #1626
Great, I'm looking forward to it! Let me know if you need help with
anything.

Do you think you plan to make the data available at all?

On Tue, Jun 23, 2020 at 1:22 AM Mikey Saugstad <notifications@github.com>
wrote:

--
Cole Gleason
----------------------
Student, Carnegie Mellon University
Email: cg@colegleason.com
Website: colegleason.com

[2020-06-24 14:58] jonfroehlich commented on #1626
All Project Sidewalk data is open as is the code. See /api in any Project Sidewalk server.

Sent from my iPhone

[2020-06-24 15:32] jonfroehlich opened #2144 "Consider adding API or Data to top-level navbar on landing page"
Now that Project Sidewalk has matured and there are multiple stakeholder groups across cities, I think it may make sense to better surface our API or collected data (which is hidden in the footer). I suggest adding 'API' to the top-level navbar on the landing page. Could also be in the drop-down there.

![image](https://user-images.githubusercontent.com/1621749/85585870-42c45700-b5f5-11ea-858b-ae1

[2020-06-24 17:09] manaswis commented on #2144
My two cents: 'How to label' shouldn't be in the landing page navbar and
only on the audit page. Instead of that option, the API can occupy that
spot.

BTW, so cool to see Pittsburgh happening! Super duper cool!

On Wed, Jun 24, 2020 at 8:33 AM Jon Froehlich <notifications@github.com>
wrote:

--
Best Regards,
Manaswi Saha
Ph.D. Student
Paul G. Allen School of Computer Science & Engineering
Univers

[2020-06-24 17:39] jonfroehlich opened #2145 "Remove trash from parenthetical about temporary"
I agree with this user who suggests taking trash out as an example as a temporary obstacle:
![image](https://user-images.githubusercontent.com/1621749/85605330-e833f680-b606-11ea-9132-478989dd525e.png)

This is what they're referring to:
![image](https://user-images.githubusercontent.com/1621749/85605076-bb7fdf00-b606-11ea-8e53-da6dfb9ee7ed.png)

[2020-06-24 20:41] misaugstad commented on #2145
closing via #2146

[2020-06-24 20:41] #2145 closed

[2020-06-24 20:45] misaugstad commented on #2144
Okay our navbar is already way too crowded. Like we already needed to remove something(s) from the navbar or change the design in some way. But I really don't think we can add anything else without doing that.

It looks fine on both of our machines, but if any one or two of the following is true for a user, the navbar is already collapsing or can look a bit odd:
1. Lower resolution monitor
1. Brow

[2020-06-24 20:54] misaugstad opened #2147 "Start San Pedro deployment with only a single neighborhood"
They want to start with just the San Pedro neighborhood. I'll also need to change the default zoom and centering for the choropleths. I should do this for the maps on the API page as well. Though I might split the piece about the API page into a separate PR to speed things up a bit.

[2020-06-24 21:11] misaugstad commented on #1626
@colegleason once the site is up, we could use any and all help in advertising it, getting volunteers together, organizing mapathons, etc!

[2020-06-24 21:12] misaugstad commented on #2142
So the line was red, but were you placed in the middle of the street? Or were you placed back at the beginning of the street?

[2020-06-24 21:22] ThatOneGoat commented on #2142
In the middle of the street. It's like I had traversed through part of the mission, but instead of the path I already had audited through being green, it was still red.

[2020-06-24 21:25] misaugstad commented on #2142
Do you remember what happened when you took a step forward? Did the part you had already audited turn green? Did the mission completion jump up a significant amount? Were there labels on the mini map from your previous session or were they missing?

[2020-06-24 21:26] colegleason commented on #1626
Sounds good, I'll look forward to it!

On Wed, Jun 24, 2020 at 5:11 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Cole Gleason
----------------------
Student, Carnegie Mellon University
Email: cg@colegleason.com
Website: colegleason.com

[2020-06-24 21:29] ThatOneGoat commented on #2142
Yeah, it returned to green. None of those other things happened.

[2020-06-24 21:36] jonfroehlich opened #2148 "Listing collaborators should be per city"
Liga Peatonal should not be listed as collaborators for Columbus, OH (though perhaps "Open Columbus" should be (or however they refer to themselves)).

![image](https://user-images.githubusercontent.com/1621749/85630131-01996a80-b628-11ea-9479-6b085c78168c.png)

[2020-06-24 21:52] misaugstad commented on #2148
I get the idea in general, though I'm not sure I agree with it... Liga Peatonal has provided most of the Spanish translations for the website, which is useful for Spanish speaking users in all cities. So I think there is an argument to be made that Liga Peatonal should be in all cities. But I certainly think that it would be nice to have the Open Columbus group in the list of collaborators for Col

[2020-06-24 22:13] jonfroehlich commented on #2148
Gotcha. Sure.

On Wed, Jun 24, 2020 at 2:52 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-06-25 01:22] misaugstad opened #2150 "Problems with logging in the tutorial"
This started out just as an issue for duplicate logging in the tutorial, but now I'm just going to include all the logging problems I find.

UPDATE: Okay, actually below when I say things are being logged "2 times" what I actually mean is "2^(n+1) times", where n is the number of times you placed a label in the incorrect location. And the tagging being logged 20 times is more like 10*2^(n+1) times

[2020-06-25 01:30] misaugstad commented on #2150
I also think that ContextMenu_Close is erroneously being logged a bunch of times when applying the wrong tag. I'll keep updating this issue with issues I find with the tutorial logging.

[2020-06-25 03:01] misaugstad commented on #2150
Wow this is worse than I could have imagined! Things are getting logged 2^(n+1) times, where n is the number of times you placed the label in the wrong spot before getting it right. That's for something like rating severity. Tags are being logged more like 10*2^(n+1) times.

[2020-06-25 12:05] jonfroehlich commented on #2150
😲🥺😩

Sent from my iPhone

[2020-06-25 18:42] rpechuk commented on #2115
![image](https://user-images.githubusercontent.com/39865166/85779750-c6a33f80-b6d8-11ea-86d5-fd8c5d9d30a3.png)
![image](https://user-images.githubusercontent.com/39865166/85779868-e3d80e00-b6d8-11ea-852d-ed36846832f6.png)
![image](https://user-images.githubusercontent.com/39865166/85779903-ed617600-b6d8-11ea-829d-f5bc408fbbeb.png)
![image](https://user-images.githubusercontent.com/39865166/8577992

[2020-06-25 22:17] misaugstad commented on #2130
@shokiami please make a mock of what you're proposing to make the modal look like first before starting implementation. That way we can iterate on the design before you start diving into the code.

[2020-06-26 13:07] jonfroehlich opened #2152 "Update Mission Screens to make them more informative/educational, fun, and gamified :)"
Our mission screens are a key opportunity to help motivate users but also to help them learn about sidewalk accessibility and correct/incorrect labeling behavior. I don't think we take advantage.

For example, here's a current validation screen:
![image](https://user-images.githubusercontent.com/1621749/85859934-cbb4cd00-b772-11ea-8ea5-755ca21f7033.png)

And here's a quick mockup of a version aime

[2020-06-26 17:06] ThatOneGoat opened #2153 "Labels in a Different Region than Mission being Stored in Database tied to Mission"
Labels with a different region_id than the mission they are tied to are being stored in the database. If one were to try to query all the labels in a region by searching for missions in the region then grabbing the labels tied to those missions, the number would return incorrectly, which is pretty undesirable.

[2020-06-26 17:09] jonfroehlich commented on #2153
Ugh, do you know the source of the problem?

On Fri, Jun 26, 2020 at 10:07 AM ThatOneGoat <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-06-26 17:18] ThatOneGoat commented on #2153
Not sure, I'm doing some looking around right now. I ran into it while looking through the database to see why two queries I was running that were expected to be the same weren't the same. From what I can gather so far, I know I did step off mission path and placed a label off the mission path, so it could be possible I stepped into a different region while doing that.

[2020-06-26 20:19] misaugstad commented on #2153
@ThatOneGoat we were talking last night about how those labels were associated with the tutorial street. Is that still the case? Does it seem like all these out of region labels are tutorial labels? Because I've definitely had issues recently with ending up on the tutorial street at weird times.

[2020-06-26 20:26] misaugstad commented on #1695
Closing this issue in favor of a new one with more info and mocks #2152

[2020-06-26 20:26] #1695 closed

[2020-06-26 20:31] ThatOneGoat commented on #2153
I'm gonna have to look back and confirm. I just wanted to see if 1692 was the street_edge_id of the tutorial street since I noticed it was the last entry in the street_edge table.

[2020-06-26 20:34] misaugstad commented on #234
closing in favor of newer issues on the same topic like #1323 #1798 and #2152

[2020-06-26 20:34] #234 closed

[2020-06-26 20:36] misaugstad commented on #2153
It would not surprise me if this is the issue. The tutorial is associated with the region with region_id = 1 by default. But the tutorial street is loaded no matter what in case the user has to take the tutorial. And then sometimes I'm getting sent to the tutorial street during a mission for some reason. Which definitely seems like it would cause the problem you mentioned.

[2020-06-26 20:43] ThatOneGoat commented on #2153
Ok, I can confirm that one of the labels not being counted was indeed in the tutorial street. However, there is another label not in the tutorial street that is being counted extra too, so I need to look into that.

[2020-06-26 20:54] ThatOneGoat commented on #2142
I managed to repro it again. I visited a mission I already completed part of, left to do some validation, then came back and the path I had already audited was still red in the minimap:
![Screen Shot 2020-06-26 at 1 53 00 PM](https://user-images.githubusercontent.com/37346427/85900341-84e7c700-b7b4-11ea-81d2-e7cd0bd9337f.png)

[2020-06-26 21:04] misaugstad commented on #2152
Here are some related issues... #1695 #1798 #234 #1838 #94 #1323

[2020-06-26 21:42] jonfroehlich commented on #2152
The next step would be to generate some mock ups and solicit feedback from the team. So, if someone wants to gain some user Interface design experience, This would be a great opportunity

Sent from my iPhone

[2020-06-27 01:41] shokiami commented on #2130
@misaugstad Here are two mock ideas that utilize different message types (straight forward vs celebratory) and two different text placements. Please let me know what you feel is more user-friendly. Also, do you think it would be fun to change up the font/color of the text?
[mock1.pdf](https://github.com/ProjectSidewalk/SidewalkWebpage/files/4839805/mock1.pdf)
[mock2.pdf](https://github.com/Project

[2020-06-27 14:04] jonfroehlich commented on #2130
@shokiami for convenience and skimmability, please don't embed your mocks in PDFs (unless they are substantial in length). Instead, just screenshot them here.

I probably prefer Design 1. But we should only use one 'exclamation mark' (probably after Great Job!). So, the sentence would be: "You just validated 10 Missing Curb Ramp labels. Great Job!"

Design 1:
![image](https://user-images.githubuse

[2020-06-27 19:43] MattJ12 commented on #2085
I have been playing around with different border weights and opacities and thought I would post them here to see which ones we want to use.  I made the border weight the same weight as the black lines drawn for the streets on the label map.  With border opacity 0.25, you can see how the border gets darker in some areas where multiple borders overlap, one solution setting the border opacity equal t

[2020-06-27 19:56] shokiami commented on #2130
@jonfroehlich Sounds good! I have attached two new designs that I wanted to quickly run by you. Design 1 is based on your previous suggestion, while Design 2 maintains the original order of the "Great Job! You just validated..." message and displays the "Total Validations" at the bottom as well as without the extra hyphens. I am happy to follow through with any combination of these formats. Please

[2020-06-27 20:24] jonfroehlich commented on #2085
Nice work! Can your try light or dark gray with ~70-80% opacity (yes, I
realize these look similar to roads, so make sure line widths are skinnier
for borders). Also, try dashed lines.

On Sat, Jun 27, 2020 at 12:43 PM Matthew Johnson <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeab

[2020-06-27 20:25] jonfroehlich commented on #2130
Can you try a version with Total Validations in the table itself?

On Sat, Jun 27, 2020 at 12:56 PM Shosuke Kiami <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projec

[2020-06-27 20:42] MattJ12 commented on #2085
color #888, 80% opacity, width 2, dash length = 5

user dash:
![user-dash-new](https://user-images.githubusercontent.com/32688680/85931798-d5762780-b87b-11ea-8580-f6e254684ead.jpg)
user dash w/ dashed borders
![user-dash-dash](https://user-images.githubusercontent.com/32688680/85931805-dc9d3580-b87b-11ea-9a0e-830465d5c3ba.jpg)
label map:
![label-map-new](https://user-images.githubusercontent.com/3

[2020-06-27 22:19] shokiami commented on #2130
@jonfroehlich Sure thing!
<img width="375" alt="84070790-8bd3a480-a981-11ea-816e-11729cee29a5" src="https://user-images.githubusercontent.com/43970567/85933215-71f2f680-b889-11ea-9c59-114a35267c3f.png">

[2020-06-29 00:06] misaugstad commented on #2085
I think that in addition to the outline, it might be useful to have some sort of low opacity coloring of the neighborhoods.

[2020-06-29 02:40] MattJ12 commented on #2085
Something like this?
![mapoverlay](https://user-images.githubusercontent.com/32688680/85967413-3d5d6880-b977-11ea-9acb-f4477392e9cc.jpg)

[2020-06-29 05:09] misaugstad commented on #2085
Yeah something like that. I'd like to see it on a noisier map with labels too

[2020-06-29 06:28] MattJ12 commented on #2085
Here is the label map:
![labelmapopacity](https://user-images.githubusercontent.com/32688680/85980300-f8e1c500-b996-11ea-8272-54e57403c7bd.jpg)
Label map w/ dashed borders:
![labelmapdasharrayopacity](https://user-images.githubusercontent.com/32688680/85980312-013a0000-b997-11ea-96c6-6acd97323947.jpg)

[2020-06-29 16:13] misaugstad commented on #2085
Yeah I like that a lot better. It's much easier to see where the city is this way.

[2020-06-29 16:32] jonfroehlich commented on #2085
Me too. I like the lighter gray versions... not sure about dashed vs. solid line borders. Thoughts?

[2020-06-29 16:38] misaugstad commented on #2085
I think I prefer the solid lines, but I like both!

[2020-06-29 17:21] jonfroehlich opened #2155 "Create generic cityscape or skyline for landing page"
One small(ish) task, which is admittedly more graphic design oriented than UX, is to create a generic cityscape or "skyline" that we can use in our deployment cities (when we don't have the resources to make a custom one). Typically, these are created as vector graphics and then rasterized to png. Originally, we started to make city skylines per deployment city but this doesn't scale very well as

[2020-06-29 18:58] rpechuk commented on #2140
(For before see above)
After:
![image](https://user-images.githubusercontent.com/39865166/86045035-d932b700-b9ff-11ea-9b87-bc8b1f04f026.png)

[2020-06-29 19:05] misaugstad commented on #2140
and what does it look like in SPGG?

[2020-06-29 19:12] rpechuk commented on #2140
Like this:
![image](https://user-images.githubusercontent.com/39865166/86046295-d5a02f80-ba01-11ea-9cbf-d06cfd03255f.png)

[2020-06-29 19:14] misaugstad commented on #2130
Hmm I'm not sure I like it in the table as much as the other options. Do you have thoughts @jonfroehlich ?

[2020-06-29 19:15] misaugstad commented on #2140
Okay I think that looks good!

[2020-06-29 19:16] rpechuk commented on #2140
Cool! i'll submit a PR then

[2020-06-29 19:23] jonfroehlich commented on #2140
Why does it say MX-NLE?

On Mon, Jun 29, 2020 at 12:16 PM rpechuk <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-06-29 19:27] rpechuk commented on #2140
@jonfroehlich that's how Mexico state abbreviation works.

[2020-06-29 19:29] jonfroehlich commented on #2130
I like the last one the best. Let's thicken that last line (like 2pt or 3pt line width) to distinguish it.

[2020-06-29 19:31] jonfroehlich commented on #2140
Hmm, do we think that's necessary? For example, we often just see Paris, FR
and London, UK... rather than including more geo-political hierarchy

On Mon, Jun 29, 2020 at 12:27 PM rpechuk <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/j

[2020-06-29 19:35] rpechuk commented on #2140
Not sure because that was part of the Cityparams.conf file and I never changed that, I can change it now if you think it would be for the better

[2020-06-29 19:47] jonfroehlich commented on #2140
Yes, I'd like to keep it consistent with other city names with only having
a simple two-letter abbreviation after the city name.

We can also loop back to our partners and ask if they are OK with what
we've done (but let's push this change first).

j

On Mon, Jun 29, 2020 at 12:35 PM rpechuk <notifications@github.com> wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Sc

[2020-06-29 20:12] rpechuk commented on #2140
Done

[2020-06-29 20:34] shokiami commented on #2130
@jonfroehlich Sounds good!

@misaugstad What do you think?

<img width="375" alt="85933215-71f2f680-b889-11ea-9c59-114a35267c3f" src="https://user-images.githubusercontent.com/43970567/86053310-28331900-ba0d-11ea-9aab-0ca2f6301345.png">

[2020-06-29 21:33] jonfroehlich commented on #2130
Can you darken a bit too?

Sent from my iPhone

[2020-06-29 21:53] shokiami commented on #2130
@jonfroehlich How does that look?

<img width="375" alt="86053310-28331900-ba0d-11ea-9aab-0ca2f6301345" src="https://user-images.githubusercontent.com/43970567/86059774-48b4a080-ba18-11ea-91b9-1bbbc9bb3125.png">

[2020-06-29 22:03] jonfroehlich commented on #2130
Good to me. Maybe switch to Overall Validations so it’s clear that it’s a count across label types and not just for the label type shown? But then I guess there is a question of whether you’re showing validation counts across users or just that user

Sent from my iPhone

[2020-06-30 00:30] misaugstad commented on #1455
So I think I know what the cause of this is and what the solution should approximately be. We somehow end up in this loop where there are credentials stored in the session cookie that don't match any user in our database. Since the person fails to authenticate, they are sent to the endpoint that creates an anon account for them. The account credentials are created in the database, but they aren't

[2020-06-30 00:37] shokiami commented on #2130
@jonfroehlich "Overall Validations" makes sense to me. However, I hear your concern. How do you feel about "Your Total/Overall Validations"? Or is that too many words?

[2020-06-30 02:17] misaugstad opened #2158 "Automatically route turkers to new neighborhoods early"
If I give turkers very long HITs (multiple hours), they will sometimes just audit an entire neighborhood themselves. I don't think that's ideal, because it means that different neighborhoods may seem to have a difference in accessibility just based off of who happened to audit that neighborhood.

I know that we should expect that to some degree, since we encourage users in our system to finish an

[2020-06-30 09:23] gari01234 commented on #2155
I can help with that. Do you prefer a generic design or one for each city?

[2020-06-30 12:41] jonfroehlich commented on #2155
Ideally, one for each city; however, this is just too much overhead for us,
I think, because we don't have a fulltime (or event parttime) designer at
the moment.

So, we need a generic one to use for *all* cities that don't have custom
skyline graphics. We can always add a custom skyline after initial
deployment as well.

On Tue, Jun 30, 2020 at 2:23 AM Gari01234 <notifications@github.com> wrote:

[2020-06-30 13:26] jonfroehlich commented on #2158
I've thought about this quite often Mikey, especially in how it might
affect my proposed work going forward (which is studying racial and
socio-economic correlates to urban accessibility). We don't want artifacts
of *who* did the data collection to impact the quality of the data and
underlying geo-spatial analyses of accessibility.

So, I agree with everything you said here.

I wonder too if for o

[2020-06-30 13:36] jonfroehlich commented on #2155
@misaugstad Do you know where we have the original vector files (.ai files) stored for these cityscapes (for Washington DC and Seattle)?

- The DC graphic png (for the webpage) is here: https://sidewalk-dc.cs.washington.edu/assets/assets/dc_graphic.png. It's 4085x1740 pixels.
- The SEA graphic png is here: https://sidewalk-sea.cs.washington.edu/assets/assets/seattle-wa/skyline.png. Again, 4085x174

[2020-06-30 14:01] jonfroehlich commented on #2130
Let's try: "Your Total" or "Your Overall Total." I think the more concise
one is better.

On Mon, Jun 29, 2020 at 5:37 PM Shosuke Kiami <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more acc

[2020-06-30 14:18] gari01234 commented on #2155
The missing ones are: Columbus, Newberg, CDMX and SPGG or? I can probably deliver 1 per week. Let me know if you have more things that need a design. I am not a designer by profession, but maybe I can help.

Here is a sketch of CDMX skyline
![imagen](https://user-images.githubusercontent.com/50057640/86137091-293b7780-baed-11ea-9756-2ed03e81971f.png)

[2020-06-30 15:12] jonfroehlich commented on #2155
Yep. That’s the list of missing cityscapes—again, we could develop a generic one until we have time to fill in with custom.

LOVE the CDMX skyline. Wowow! Is this the right aspect ratio and resolution?

Sent from my iPhone

[2020-06-30 15:20] gari01234 commented on #2155
I used the color palette from the Seattle skyline. I want to change a couple of things and tomorrow I can send you the final version, with the correct resolution. Do you have any suggestions or changes that you want me to make in the CDMX skyline?

[2020-06-30 16:50] NityaVenkat commented on #2152
Hi

in case no one is currently working on this, i would like to volunteer

[2020-06-30 18:35] jonfroehlich commented on #2152
Sure. That would be great. Please use the tool first to get a sense of it and then post some rapid mocks for feedback!

Remember, we are trying to keep the user experience fun and supportive and gamelike!

Sent from my iPhone

[2020-06-30 19:40] misaugstad commented on #2144
@jonfroehlich any thoughts on whether you think we should go for removing one or two links from the navbar (e.g., results/labelmap) or if you think we should consider redesigning the navbar to be more compact?

[2020-06-30 19:48] shokiami commented on #2130
@jonfroehlich Hmmm... I wonder if it is intuitive to the user what the number is referring to. What do you think?

<img width="375" alt="design1" src="https://user-images.githubusercontent.com/43970567/86170439-fafb6f00-bacf-11ea-8798-9d44250be5e9.png">

<img width="375" alt="design2" src="https://user-images.githubusercontent.com/43970567/86170448-fc2c9c00-bacf-11ea-94ee-f1fd83590442.png">

[2020-06-30 19:59] jonfroehlich commented on #2130
I like your overall total for now. I don't think it's worth spending more
time on. Let's ship it and move on. :)

The screen needs more work than this anyway longterm.

On Tue, Jun 30, 2020 at 12:49 PM Shosuke Kiami <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfro

[2020-06-30 20:11] jonfroehlich commented on #2144
- "See Results" could be a drop-down button menu called "Data" with three sub-menu items (currently):
  - Label Map
  - Summary Map (could also be "Summary Choropleth" but that sounds too technical)
  - API

I think keeping "How to label" on landing page is still reasonable because we definitely want to promote, well, how to label. :)

[2020-06-30 20:16] jonfroehlich commented on #2155
Your color palette is great!

Now that I'm on my desktop (and not my phone), I can tell that the image is a bit pixelated (especially the statue). So, I would fix that, if possible. I believe we designed our original cityscapes in a vector graphics tool like Inkscape or Adobe Illustrator and then rasterized to png.

Another comment is that your skyline doesn't show streets/pedestrian areas, which

[2020-06-30 20:34] shokiami commented on #2130
@jonfroehlich Sounds good!

[2020-06-30 21:42] misaugstad commented on #2144
Ok yes I really like this! I don't feel great about "Summary Map" as a name though. Accessibility Map? Idk.

[2020-06-30 21:42] misaugstad commented on #2144
And to be clear, I think this change should happen everywhere, not just the landing page

[2020-06-30 21:53] misaugstad commented on #2152
@NityaVenkat yep the help on this would be greatly appreciated!! Also please check out the other issues I linked to above to get an idea of some of the things we might want to have included on these screens.

[2020-06-30 22:05] misaugstad commented on #2153
You can see the difference in the counts using the different methods from these two queries:
[code]

[2020-06-30 22:16] misaugstad commented on #2155
I looked through our assets and only see PNGs. I'm not sure who made the original DC one. But I @bridgetsheff made the Seattle skyline (#1617). I looked through that issue and all of my emails with Bridget, but I never received anything but a PNG. From my emails and that issue thread, it sounds like Bridget was in contact with you a lot more than me during the process, so there's a small possibili

[2020-06-30 22:17] jonfroehlich commented on #2155
I looked in my email. I think she sent via Slack and we don't have a paid
account--so, lost for now. I checked. But it seems like maybe Edgar doesn't
even need the .ai files since he whipped up the Mexico City version so
quickly without them! :D

On Tue, Jun 30, 2020 at 3:16 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer S

[2020-06-30 22:18] jonfroehlich commented on #2144
Sure!

And yes to "accessibility map" though maybe just "Access Map"?

On Tue, Jun 30, 2020 at 2:42 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://pr

[2020-06-30 22:23] misaugstad commented on #2144
Not to be confused with [this access map](https://www.accessmap.io/?region=wa.seattle&lon=-122.338&lat=47.607&z=14.5)?

[2020-06-30 22:25] misaugstad commented on #2158
I think we need to decide whether or not we want this very soon. Because that has the potential for a rather involved and complicated implementation that could take some time.

[2020-06-30 22:37] jonfroehlich commented on #2144
Ugh, not sure what to do. The Results Choropleth, honestly, is a
precursor to Access Score but just never matured/progressed (and work on
Access Score has stagnated). I think LabelMap is currently more useful but
doesn't scale as well (and doesn't work on Seattle, I think).

Maybe name it "Results Choropleth"? Yes, I realize that's not a great name
but I can't think of anything better and I don't

[2020-06-30 22:39] jonfroehlich commented on #2158
How often do we achieve overlap in street auditing "by accident" currently?

And maybe the easiest thing would simply be to just hire more workers per
neighborhood to get overlap?

On Tue, Jun 30, 2020 at 3:26 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilityla

[2020-06-30 23:48] misaugstad commented on #2158
Right now in Seattle, of the audited streets, 91% have been audited once, 8.7% have been audited twice, and <1% have been audited more than twice.

Newberg is different since it has been completed. There, we are at 57% audited once, 40% audited twice, and 3% audited more than twice.

Columbus actually looks more like Newberg, despite not being complete yet: 51% audited once, 26% twice, 23% three o

[2020-06-30 23:49] misaugstad commented on #2144
Do you prefer "Results Choropleth" over "Results Map"?

[2020-06-30 23:54] jonfroehlich commented on #2158
If necessary, we can spend the money I suppose.

But the more important thing is what this Issue is really about--ensuring
that we have a diversity of users in each neighborhood so as not to overly
bias the data to one user's auditing practices.

On Tue, Jun 30, 2020 at 4:48 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer S

[2020-06-30 23:55] jonfroehlich commented on #2144
Results Map is fine. Of course, Label Map is also a Results Map so I don't
love it longterm--which is why I put Choropleth in there as a
specifier--but let's just do it for now.

On Tue, Jun 30, 2020 at 4:49 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.

[2020-07-01 00:02] misaugstad commented on #2140
I'm sort of on the fence about this. On the one hand, using state codes for the US and country codes for anything outside the US seems overly US centric, which rubs me the wrong way. On the other hand, many people across the world _do_ have some knowledge about the different US states and could correctly identify them as being in the US, while that is not the case for most other countries.

I woul

[2020-07-01 00:15] jonfroehlich commented on #2140
Sure. I appreciate this. And I totally get the US-centrism in my
comments—and I knew this while writing them but didn't surface it in the
thread.

But regardless, I think it's best to have City, <two letter abbreviation>.

And, going forward, we can consult with our partner cities about how they
want to be represented.

On Tue, Jun 30, 2020 at 5:02 PM Mikey Saugstad <notifications@github.com>
wrot

[2020-07-01 00:18] misaugstad commented on #2140
closing via #2157

[2020-07-01 00:18] #2140 closed

[2020-07-01 00:38] misaugstad commented on #2085
closing via #2156

[2020-07-01 00:38] #2085 closed

[2020-07-01 19:24] jstadeusiak commented on #1903
Been experimenting around with this error and was not able to replicate it until now. From what I understand the series of errors that may potentially cause the crash do not occur when on the mobile validation page, seems like the errors/crash actually occur while validating. I created the error by zooming in and out on the validation pages, and eventually it replicated itself a couple times. I wa

[2020-07-01 19:28] misaugstad commented on #1903
oo so the page is actually crashing when you get this error?

[2020-07-01 19:33] jstadeusiak commented on #1903
Not really, this error is logged while going through validations and I can continue to validate until I complete the mission.
![image](https://user-images.githubusercontent.com/64165755/86284063-006fbc80-bb97-11ea-9783-bdd6811451bb.png)
When I reach this completion page its here where the page becomes completely unresponsive

[2020-07-01 19:55] misaugstad commented on #2147
Closing via #2159

I ended up changing the maps for the API page as well, so this is fully complete.

[2020-07-01 19:55] #2147 closed

[2020-07-01 20:02] jonfroehlich commented on #2155
Seems great to me. I wonder if we could add in people using different types
of mobility aids? Like a person with a walker and, perhaps, a person with a
wheelchair? Maybe also a way to accentuate the curb ramps?

How do you come up with this stuff so fast? And you call yourself "not a
designer!"

Jon

On Wed, Jul 1, 2020 at 12:32 PM Gari01234 <notifications@github.com> wrote:

--
Jon Froehlich
Asso

[2020-07-01 21:09] misaugstad commented on #2148
We've got the go ahead from the Open Columbus group to add their logo. Here are the assets:

![columbus-logo-white](https://user-images.githubusercontent.com/6518824/86291656-28195180-bba4-11ea-9bb4-71c7918a0e5a.png)

And here is the SVG. Please add the SVG to the assets directory but use the PNG on the website.
https://drive.google.com/file/d/1ZODb7OHnf6ogLRd5sfQhETmhLLdO6tiu/view?usp=sharing

[2020-07-01 21:13] misaugstad commented on #1903
@jstadeusiak do you only get this when zooming in and out? What if you just pan around a bunch? The error being logged doesn't _look_ related to the zooming. But it definitely could be. But just to rule out other possibilities, can you try some normal validating and seeing if the error shows up? And a ton of panning to see if it shows up/

[2020-07-02 09:15] gari01234 commented on #2155
I am used to drawing every day on the computer :sweat_smile:

it's a very good idea, I will make those changes.

[2020-07-02 13:08] jonfroehlich commented on #2155
Great. Thanks @gari01234! I'm very impressed with your skills!

[2020-07-02 16:02] NityaVenkat commented on #2152
Trying to get some background here, so will the users be doing this on their mobiles since i saw posts that talks about maps and routes walked. Or is this just going to be informational guide screens?

I did see the link to this application somewhere, but i'm unable to locate it now. Can someone just post the link to the current version here.

[2020-07-02 16:26] jonfroehlich commented on #2152
The application is [here](https://sidewalk-sea.cs.washington.edu/) and is only for desktops/laptops (one small part is available on mobile). Please spend some time using the app (~maybe 3 auditing missions and 3 validation missions) and let us know if you have any more questions. Best way to explain Project Sidewalk is to use Project Sidewalk :) And you'll need in-depth understanding if you're goi

[2020-07-02 20:54] misaugstad commented on #727
closing via #2149

[2020-07-02 20:54] #727 closed

[2020-07-02 21:04] jstadeusiak commented on #1903
Update: This error was being triggered after switching mobile devices in chromes dev tools without refreshing the page.  The completion page is generally unresponsive to any sort of interaction other than the button to continue validating. Occasionally zooming in will work, but will not cause any sort of crash. I believe this issue can be closed.

[2020-07-02 21:09] jstadeusiak commented on #2050
**Guide Posted Here** https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Translating-Text-On-Images-Guide

Attached below are some examples I completed using the method in the guide.
![DoubleClickHerePng](https://user-images.githubusercontent.com/64165755/86409176-2c5d7180-bc6d-11ea-9d33-fe6e1b16ff59.png) ![DoubleClickTranslated](https://user-images.githubusercontent.com/64165755/86409178-2e2

[2020-07-02 21:16] misaugstad commented on #2050
These look really good! For the double click here, it looks like the text on the Spanish version is a little bit too low.

And for the 2nd image, could you try reducing the font size a tiny bit to try and have it not spill over the sides of the images? I don't want to decrease the size too much, but it looks a bit messy like this. Also could you text to only have the first letter of each phrase ca

[2020-07-02 21:24] jstadeusiak commented on #2050
Photoshop was the only software I personally used to do this. I know there are other equivalent software but Photoshop seems to be the most mainstream of all them, which is why I included it. I could add some Photoshop alternatives in the guide as well, but the specifics for the procedures may be a slightly different in those alternative apps.

[2020-07-02 21:28] misaugstad commented on #2050
I don't think you need to add alternatives, I would just change the wording to say something about how the guide was written for photoshop instead of saying that photoshop is recommended and ideal.

[2020-07-02 21:29] misaugstad commented on #2115
closing via #2151

[2020-07-02 21:29] #2115 closed

[2020-07-02 22:06] misaugstad commented on #1903
Agreed. We talked about this during the weekly meeting yesterday and a few of us tested the live site and didn't come across this issue.

[2020-07-02 22:06] #1903 closed

[2020-07-03 02:27] misaugstad commented on #2051
closing via #2119

[2020-07-03 02:27] #2051 closed

[2020-07-03 23:14] misaugstad commented on #1144
Note that you can even pass in functions as parameters here. That might be useful as well.

[2020-07-03 23:15] misaugstad commented on #1144
@MattJ12 you've had to edit all 6 or so choropleths multiple times now. How would you like to take a stab at consolidating them??

[2020-07-03 23:34] misaugstad commented on #1914
Some thoughts:
1. This is a fun idea that is (hopefully) motivating to people. Ideally it would make them want to look more carefully :sweat_smile:
1. I think if we are going to include a user's accuracy, we should also include the mean or median accuracy across all users for reference
1. If we do this, we should definitely have a tooltip on the accuracy number that explains that this number comes

[2020-07-03 23:38] misaugstad commented on #1783
@ThatOneGoat and @shokiami could you both test to see if this bug is still happening on Safari?

[2020-07-03 23:48] misaugstad commented on #1137
Having run HITs on mturk for awhile now, it doesn't seem like turkers are really confused by the setup we have. So I don't think that adding in specific text to a mission like this is particularly useful. It's not a bad idea at all, but I think that our interface is so flexible right now that I don't want to add in something like this at specific times. Especially with the possibility for it to sh

[2020-07-03 23:48] #1137 closed

[2020-07-03 23:57] misaugstad commented on #1766
Hmmm do we want the audit mission count and validation mission counts to be separate? I worry that combining them encourages users to choose validating over auditing, which is not ideal.

[2020-07-04 00:01] misaugstad commented on #707
@jonfroehlich do you still think this would be a significant improvement? Looks like we have the dev cycles to do something like this soon :)

[2020-07-04 00:06] MattJ12 commented on #1144
Sure!

[2020-07-04 00:44] shokiami commented on #1783
@misaugstad Just tested it out in Safari and it is still happening.
Also, it appears that all labels are missing their obstacle icon...

<img width="1040" alt="Screen Shot 2020-07-03 at 5 40 43 PM" src="https://user-images.githubusercontent.com/43970567/86502147-c3e9bf80-bd54-11ea-9b07-e2053ccc7b37.png">

[2020-07-04 00:52] misaugstad commented on #1783
Yikes, okay. Assigning this one to you then @shokiami

The label not showing up at all is most important, but if you can figure out the other piece right now that would be cool too. If it isn't an easy fix that you find, just create another issue for it please!

[2020-07-04 00:54] misaugstad commented on #1635
@ThatOneGoat has plenty of other stuff going on, so reassigning this one to @kumararoosh !

[2020-07-04 00:59] ThatOneGoat commented on #1783
Yup, getting the same issue here. I remember running into a similar issue before, and I believe it may be due to something faulty happening with the label visibility toggling

[2020-07-04 13:22] jonfroehlich commented on #707
I think it's probably fine. The only way to know what's broken with our usability would be to run usability tests... :-/

[2020-07-06 23:30] misaugstad opened #2167 "Translation bug in mobile validation info pages"
I noticed in the most recent PR that @shokiami made (#2165) that the titles on the info screens for the mobile validation page have a translation bug.

![IMG_7563](https://user-images.githubusercontent.com/43970567/86656947-b6267b00-bf9c-11ea-934c-82ecddd1d38d.png)

It looks like I made some sort of copy/paste error and I messed up the names of the keys for those translations in the translation fi

[2020-07-07 17:23] rpechuk commented on #12
@misaugstad can you elaborate a little bit more on what you meant on the above comment because I looked through the whole tread and i'm a bit confused as to what I should be doing (what the issue is)

[2020-07-07 17:47] nomichka opened #2168 "On reloading the audit page, "no sidewalk" counter is zeroed out."
Original picture: I put down a new "no sidewalk" label.
![Screenshot from 2020-07-07 10-28-03](https://user-images.githubusercontent.com/35845622/86819930-2dabe700-c03d-11ea-9b7f-ef5f35633622.png)
Then: I immediately reload the page. The "no sidewalk" counter on the right is now 0, and the "surface problem" counter is 1.
![Screenshot from 2020-07-07 10-28-39](https://user-images.githubusercontent.

[2020-07-07 19:57] jstadeusiak commented on #2050
Updated:

![doubleclickfinal](https://user-images.githubusercontent.com/64165755/86834839-31953480-c050-11ea-887f-ef897d923c69.png)

![ExamplePicture03Translated](https://user-images.githubusercontent.com/64165755/86835465-0232f780-c051-11ea-9532-3c4879b2de27.png)

Still a little bit of spillover on the second image, I did not want to compromise the font size too much.

[2020-07-07 21:36] misaugstad commented on #12
Right now the label counts for each label type are in a table below the graph, and we want those to instead be included next to the name of that label type in the legend for the graph.

[2020-07-07 21:39] misaugstad commented on #2168
When showing the screenshot of the user dashboard, are you saying that there is an issue with the user dashboard too? Or do the counts look correct there?

[2020-07-07 21:42] misaugstad commented on #2050
Pasting these here again bc it is easier to compare side by side. The click here now looks like it is too high. But I like your choice of font size for the other one. I think the tradeoff is appropriate.

![DoubleClickHerePng](https://user-images.githubusercontent.com/64165755/86409176-2c5d7180-bc6d-11ea-9d33-fe6e1b16ff59.png) ![DoubleClickTranslated](https://user-images.githubusercontent.com/6416

[2020-07-08 16:01] rpechuk commented on #12
Oh okay perfect i'll start work on that right now

[2020-07-08 17:10] rpechuk commented on #12
@jonfroehlich @misaugstad thoughts?
![image](https://user-images.githubusercontent.com/39865166/86949192-294a0180-c103-11ea-8c9e-318162c5164b.png)
the reason there are so little labels placed is cause I made a new account

[2020-07-08 19:38] jstadeusiak commented on #2050
![86409176-2c5d7180-bc6d-11ea-9d33-fe6e1b16ff59](https://user-images.githubusercontent.com/64165755/86962324-8c459380-c117-11ea-9d63-d8f5bbe4054d.png) ![revised png](https://user-images.githubusercontent.com/64165755/86962417-b7c87e00-c117-11ea-8177-c24b30bd1692.png)

Found the balance for height on these.

[2020-07-08 20:50] misaugstad commented on #2050
That looks better, thanks!

[2020-07-08 20:56] misaugstad commented on #12
Yep, the legend looks good! Can you just make sure to remove the old parts of the table below?

[2020-07-08 20:57] rpechuk commented on #12
Yep, that was gonna be my next question hahaha

[2020-07-08 22:18] nomichka commented on #2168
I'm not sure. I might've put down an "other" label for testing sometime before writing this issue. But I definitely didn't put down a "Surface Problem" label after the initial screenshot, so either the "no sidewalk" label actually turned into a "Surface Problem" label, or the "Surface Problem" label that I put down long ago wasn't counted in the counter until I reloaded the page.

[2020-07-09 16:44] rpechuk commented on #12
@misaugstad
![image](https://user-images.githubusercontent.com/39865166/87067331-c327b200-c1c8-11ea-8f40-691aaded9e3e.png)
How does this look? I removed the total labels placed and kept everything else.

[2020-07-09 20:14] misaugstad commented on #12
looks good!

[2020-07-09 20:19] misaugstad commented on #2130
closing via #2163

[2020-07-09 20:19] #2130 closed

[2020-07-09 21:39] misaugstad commented on #2158
@shokiami This one should be harder than your earlier tasks :grin: I think the easiest thing to do for now, is that whenever the audit page is loaded, if the user is a turker (defined in the `user_role` table), then delete that user's entry in the `user_current_region` table (if it exists) so that a new one can be made. Instructions for creating a turker account in your dev env can be found [here]

[2020-07-10 06:46] misaugstad commented on #2135
So I threw together the following query to check for ip addresses that might be associated with uptime robot. It basically looks for IPs that have only interacted with the website by loading the landing page, and those that have an average time between visits to the landing page of about 5 minutes, since that's how frequently uptime robot checks the site. Here are my results from this query on the

[2020-07-10 06:46] #2135 closed

[2020-07-10 23:46] misaugstad commented on #2135
And it looks like this did in fact speed up computing stats for users. It used to take close to 2 hours every night for Seattle. After deleting these accounts, it only took 13 minutes last night. That code still needs to be sped up by only editing entries for users that had contributed new data in the past 24 hours (#2107), but I'll take this speedup in the meantime :)

[2020-07-10 23:49] misaugstad commented on #2107
One (hopefully) easy improvement would be to only update entries for users that actually visited the website in the past 24 hours. I think the slow time is that it is updating every single entry in the `user_stat` table. And 30,000 updates is a lot.

[2020-07-10 23:56] ThatOneGoat commented on #2098
So, after spending a while trying to find a way to re-instantiate the new authenticator in one redirect, it seems there may be some version limitations based on the version of Silhouette we are using. Basically, with this version, the documented method of removing an authenticator is by calling the `discard()` method of the oldAuthenticator, which ends up marking the Result to notify the receiving

[2020-07-11 00:14] jonfroehlich commented on #2135
Wo0t!

On Fri, Jul 10, 2020 at 6:46 PM Mikey Saugstad <notifications@github.com>
wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-07-11 08:12] ThatOneGoat commented on #2098
I actually do have one more thing we could potentially try. Most of the approaches I've tried have revolved around trying to modify the result in both discarding the old authenticator and adding the new one. However, Silhouette also supports an `embed()` method  which takes a Session and a RequestHeader as params and returns a new RequestHeader that has the new embedded Session within. Since our s

[2020-07-13 20:42] jonfroehlich commented on #1315
We may want to split this Issue out to multiple sub-issues for brainstorming and better tracking. The leaderboard on the landing page (and on the user's dashboard), for example, could be its own Issue.

[2020-07-14 17:54] gari01234 commented on #2155
added people using different types of mobility aids. Still working on the curb ramps (not as easy as I thought). But it looks good... if you want to use this graphic as the generic cityscape, I will change the red color of the flag, just let me know.

![D313_Wohnungseingangstür _ F30-Verglasung_313](https://user-images.githubusercontent.com/50057640/87459337-8d8d2980-c60b-11ea-86bc-eed8605f993e.jp

[2020-07-14 18:39] jonfroehlich commented on #2155
Wonderful! Yes, let's change the flag color for the generic cityscape. Would you like us to use this one (as above) for Mexico City and San Pedro?

We may need to do some slight edits once we add in the overlay:

![image](https://user-images.githubusercontent.com/1621749/87463697-75031c00-c5d7-11ea-9b25-df01cc10894f.png)

[2020-07-14 18:54] gari01234 commented on #2155
yes, I would like this one for Mexico City and San Pedro. How can I know how much space the texts take up (miles covered, labels, validations...)? so that I know how to adjust the image.

[2020-07-14 19:24] ThatOneGoat opened #2175 "Refactoring how to Uniquely Identify AuditTaskInteractions"
Currently, we are uniquely identifying (label) AuditTaskInteractions through their audit_task_id and temporary_label_id. However, this system doesn't work too well when we want to rerender labels when resuming missions due to conflicting temporary_label_id possibilities.

[2020-07-14 19:27] ThatOneGoat commented on #2175
The current solution proposed by Mikey is to instead identify these interactions with temporary_label_id and user_id. This would involve changing how the temporary_label_id counter works, as well as going back through the audit task interaction table and refilling the table with the updated temporary_label_ids.

[2020-07-14 20:03] jonfroehlich commented on #2155
Unfortunately (or perhaps fortunately, I don't know which is better, ha), it looks like the clouds/bubbles are directly rasterized in the image rather than overlaid. So, for example, take a look at Washington DC:

![image](https://user-images.githubusercontent.com/1621749/87470678-ba791680-c5e2-11ea-8211-68d5269acff4.png)

And I just experimented quickly with Google Chrome's Dev Tools. Looks like

[2020-07-14 21:15] shokiami commented on #1783
I have managed to fix the labels disappearing on mouseover in Safari. However, the icon image and the severity image still do not show up at all in Safari. Specifically, this is caused by an issue with setting image paths (`imageObj.src = imagePath;` in Point.js and `severityImage.src = severityImagePath;` in Label.js).

<img width="1027" alt="Screen Shot 2020-07-14 at 1 50 19 PM" src="https://use

[2020-07-14 21:18] shokiami commented on #1265
I just wanted to add that the severity image (the smiley face), along with the icon image, does not show up at all in Safari. Specifically, this is caused by an issue with setting image paths (imageObj.src = imagePath; in Point.js and severityImage.src = severityImagePath; in Label.js). Meanwhile on Chrome, at least for me, the severity image loads instantly.

<img width="1027" alt="Screen Shot 20

[2020-07-14 21:20] misaugstad commented on #1265
^^ and that is being worked on in issue #1783

[2020-07-14 21:30] shokiami opened #2176 "No audio in Safari"
When a label is placed during auditing, a sound should play. This works for browsers such as Chrome and Firefox but is not working in Safari. Specifically, `audios[name].play();` in AudioEffect.js is an unsupported operation.

[2020-07-14 21:32] misaugstad commented on #2176
Do other sounds play on Safari? Or is placing a label the only one that doesn't work?

[2020-07-14 21:44] shokiami commented on #2176
@misaugstad That seems to be the only time a sound is ever played so I am not sure. The only reference I was able to find was `svl.audioEffect.play('drip');` in Canvas.js which is called when you place a label.

[2020-07-14 21:47] misaugstad commented on #2176
There is definitely a mission complete sound though

[2020-07-14 21:52] shokiami commented on #2176
@misaugstad Sorry you are right! Completely missed that! I just tested it out and the mission complete sound works for both Chrome and Firefox but not for Safari.

[2020-07-15 00:17] misaugstad commented on #2142
closing via #2174

[2020-07-15 00:17] #2142 closed

[2020-07-15 00:18] misaugstad commented on #1879
closing via #2165

[2020-07-15 00:18] #1879 closed

[2020-07-15 00:34] misaugstad opened #2177 "Add a leaderboard (gamification)"
This concept originally came up in #1315 and #73, and I'll try to move the relevant content over here so it's all in one place.

We've talked about including a leaderboard (or multiple leaderboards for different stats) to the landing page, the user dashboard, to the results page, or possibly on its own page. We've talked both about individual leaderboards and about team leaderboards (particularly

[2020-07-15 00:40] misaugstad opened #2178 "Add badge system (gamification)"
The concept originally came up in #1315 and #73

There used to be a skeleton of a badge system implemented that was never shown to users, but I finally deleted that code maybe a year ago (the mission infrastructure changed too much to where it was no longer useful to keep around).

Some ideas @jonfroehlich has given for what could be tracked with badges
* number of miles walked (e.g., first 0.5 mi

[2020-07-15 00:41] misaugstad commented on #73
closing in favor of #2177 and #2178

[2020-07-15 00:41] #73 closed

[2020-07-15 00:42] misaugstad commented on #1315
closing in favor of #2177 and #2178

[2020-07-15 00:42] #1315 closed

[2020-07-15 05:37] misaugstad commented on #2104
closing via #2173

[2020-07-15 05:37] #2104 closed

[2020-07-15 15:35] jonfroehlich commented on #2178
Also, @bridgetsheff was working on this originally. I'll ping her to see if she has any mocks or initial badge assets to send us.

[2020-07-16 00:13] misaugstad commented on #2098
Yeah that is an interesting thought and does sound a bit hacky. I agree that it's time to drop this issue, since it doesn't really have an effect on end users and is taking too much time.

[2020-07-16 00:14] misaugstad commented on #2098
Closing via #2116 since we are committed to that fix over a more elegant solution.

[2020-07-16 00:14] #2098 closed

[2020-07-16 09:23] gari01234 commented on #2155
![grafik](https://user-images.githubusercontent.com/50057640/87653883-7ad33b80-c756-11ea-94c3-30d1ed2fc59e.png)

Thank you very much for the tip. I'm going to adjust the height of the image, hope it works better that way.

[2020-07-16 10:40] jonfroehlich commented on #2155
I think it looks pretty good. I wonder if we can have the clouds/bubbles that show up in the DC and Seattle skylines as overlays. @misaugstad, what more do you need from @gari01234 to integrate this into the Mexico City website?

[2020-07-16 17:27] rpechuk commented on #2144
Quick question, is the "Results Map" the same thing "see results" is right now or is it something different? If it is something different what?

[2020-07-16 17:42] jonfroehlich commented on #2144
It's the same.

On Thu, Jul 16, 2020 at 12:27 PM rpechuk <notifications@github.com> wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: http://projectsidewalk.io

[2020-07-16 23:53] misaugstad commented on #2155
Just noticed the little Project Sidewalk logo on the sign in your image, I like it :grin:

So here is a little bit of a wider look at the image @gari01234 sent, both at the normal height (first) and if I removed the vertical spacing that is there by default (second):
![current-look-cdmx-skyline-2](https://user-images.githubusercontent.com/6518824/87733369-82113e00-c784-11ea-8bc8-35262dabbba5.png)

[2020-07-17 11:40] jonfroehlich commented on #2155
Hi team,

I think we're close! Two things likely need to  happen.

1. **First**, we'll probably need to do slightly different CSS for this cityscape to accommodate the "Your work is making a difference" part (and perhaps, modify the graphic too by making it slightly taller and making more whitespace?)

2. **Second**, I think we can add that cloud or bubble bottom so that the numbers feel more inte

[2020-07-18 19:26] jonfroehlich commented on #248
Intersection in Mexico City with a number of problems re: curb ramp

![image](https://user-images.githubusercontent.com/1621749/87860367-9418eb00-c902-11ea-8436-b7c7187e97e5.png)

[code]

There is an ADA symbol but not actually a curb ramp
![image](https://user-images.githubusercontent.com/1621749/87860373-a4c96100-c902-11ea-90cd-da5e061345cd.png)

[2020-07-18 19:43] jonfroehlich opened #2181 "Received first mission pop-ups when starting auditing a new neighborhood in CDMX"
Strangely, when I went into a new neighborhood in CDMX, I started receiving the first mission "helper" pop-ups. And this one I received twice (when I went back and forth to same pano), which then seemed to mess up the number of OK buttons:

![image](https://user-images.githubusercontent.com/1621749/87860646-b9a6f400-c904-11ea-8ec8-0290920be0ce.png)

[2020-07-18 20:04] jonfroehlich commented on #248
Big tree. Mexico City.

![image](https://user-images.githubusercontent.com/1621749/87861022-e4467c00-c907-11ea-8c38-f39abeef8e45.png)

svl.panorama.getPano();
"aRQ6g8p6Q1AN-Xggmt6sgQ"

[2020-07-18 20:22] jonfroehlich opened #2182 "Losing tag data in Spanish version?"
During the mapathon today, @gari01234 showed off an unfortunate bug. It appears that maybe the tag info is not being saved when using the Spanish version of the website. Here's how he showed it to me (and replicated it multiple times). I'm marking this is `Priority: Very High` because we could be losing tag data here...

1. Add a label
2. Click on tags
3. Close label box (either OK or hitting 'X')

[2020-07-19 11:48] jonfroehlich opened #2183 "Support paper-based survey data entry"
@gari01234 mentioned yesterday that Liga Peatonal thinks offering paper-based surveys of neighborhood accessibility would be useful to people who do not have access to computers. The idea, in brief, is captured here: https://github.com/LigaPeatonal/evaluando/issues/6.

Basically, a person would mark and fill out a paper-based survey for a particular location in their neighborhood. This data would

[2020-07-20 00:37] misaugstad commented on #2155
I agree that the DC bubbles look better. @jstadeusiak you've started learning how to use photoshop for other tasks; would you be interested in taking this one up?

[2020-07-20 00:55] jstadeusiak commented on #2155
Definitely, I can finish the rest of this up!

[2020-07-20 01:53] misaugstad commented on #2182
I've just confirmed that this is only a visual bug, all the data is being saved. Most of the labels in the database in CDMX have tags right now.

I also just tested adding a tag to a label using the Spanish version of the site, and the data was saved. And if you reopen the context menu and click on the tag again even though it doesn't look like it was selected, it still deselects it (and this is r

[2020-07-20 01:58] misaugstad commented on #2183
What all would this entail? Is it just the matter of providing a PDF form on our website for users to print out (or for orgs to print out and hand to people) and then making sure we have a process in place for inputting data from these forms? Would we provide an address for people to mail these to? Or are we asking our partner orgs to collect these from people, scan, and send digital copies to us?

[2020-07-20 02:03] misaugstad commented on #1875
This has not been reported 11 months, and we have made this code less buggy in other ways in recent months, so I think it is unlikely that this bug still exists, so I'm going to close this for now. We can always reopen if it happens again.

[2020-07-20 02:03] #1875 closed

[2020-07-20 02:05] misaugstad commented on #1860
I think @jonfroehlich is on the right track. This looks like an image with the depth data, which we unfortunately cannot fix.

[2020-07-20 02:07] misaugstad commented on #2181
Darn. Looks like we don't have an issue yet for the popups appearing when it isn't your first mission. We do have an issue for getting multiple OK buttons (#1848 and then #1484 is similar). We also have an issue for receiving the tutorial popups outside of the tutorial (#847).

[2020-07-20 02:11] misaugstad commented on #2155
Awesome, thank you! And don't hesitate to post on this issue and/or message/call me if you need more info or feedback.

[2020-07-20 10:13] gari01234 commented on #2155
agree with this.

Using the PSD file, with the clouds added by @jonfroehlich , I modified the height of the white space at the top of the image. I made two variants and tested them in the browser, which differ in height. Here a screenshoot (with poor image quality) to see the result of both and to be able to compare them.
![imagen](https://user-images.githubusercontent.com/50057640/87922600-7f6062

[2020-07-20 10:28] jonfroehlich commented on #2182
Whew. Thanks for investigating Mikey!

Hopefully we can fix soon.

Sent from my iPhone

[2020-07-20 11:08] jonfroehlich commented on #2155
Thanks all. I think I like the taller one (on the **right**) better but we need some way of distinguishing the text—obviously, as now, the text is visually in conflict with the image. @jstadeusiak, perhaps we can have some white translucency applied in CSS to the background of the text? I think maybe 80% opacity (so mostly not transparent). Same with the button.

[2020-07-20 11:09] jonfroehlich commented on #2183
I think this. But @gari01234 can expand.

[2020-07-20 15:51] gari01234 commented on #2183
At the moment I see two options:
1. upload pdfs of the different neighborhoods. Then, People can print it. Or [group walks](https://blog.mapillary.com/event/2016/05/06/mapillary-wheelchair.html) can be arranged.
2. provide a tool to help generate these maps, (people will have more flexibility to choose the area). A good example of this is OSM's “[Field Papers](http://fieldpapers.org/)”.

Both opti

[2020-07-20 20:54] rpechuk commented on #2144
How does this look so far?
![image](https://user-images.githubusercontent.com/39865166/87985463-8002f400-ca90-11ea-9772-ec86e17b9e94.png)
(note haven't added api yet just curious about the look of the buttons)

[2020-07-20 20:56] rpechuk commented on #2144
Also should I leave the api link the footer as well?

[2020-07-20 21:05] jonfroehlich commented on #2144
Looks great. Please do keep API in footer.

Jon

On Mon, Jul 20, 2020 at 3:56 PM rpechuk <notifications@github.com> wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter
Help make sidewalks more accessible: h

[2020-07-21 23:05] jstadeusiak commented on #2155
Yep, can do. I'll have some examples linked tonight, when I get to a computer.

[2020-07-21 23:46] misaugstad opened #2185 "Old labels not showing on mini map"
Not sure what happened, but for me my old labels are not being shown on the mini map when I reload the page. New labels are still being saved, the markers just are not being loaded. And when I load the page, I get the following error once for every label it is trying to put on the mini map:
[code]

[2020-07-22 01:43] jonfroehlich commented on #2155
Thanks. Sounds good. Again, I think it would be best if we tried to accomplish alot of this via just CSS (and possibly a CSS transparent png overlay for the clouds). This would make it easier to use across different cityscapes.

[2020-07-22 03:01] shokiami opened #2188 "Label image and severity image do not render in Safari"
In Safari, the label image and severity image do not render. In the screenshot below, there should be a curb ramp icon in the label and a smiley face next to "somewhat passable."

<img width="1027" alt="87477043-48053800-c5dc-11ea-88bd-c0c89a0fd647" src="https://user-images.githubusercontent.com/43970567/88129395-de150180-cb8c-11ea-8b60-0b64f27253d6.png">

[2020-07-22 05:29] jstadeusiak commented on #2155
Okay, so here is something using 80% opacity on both.

![image](https://user-images.githubusercontent.com/64165755/88137640-d8291b80-cba0-11ea-8bae-3727c55f1f87.png)

This one i added a border to match the button, I excluded the top because I thought it might look better.
![image](https://user-images.githubusercontent.com/64165755/88137874-5be30800-cba1-11ea-874d-36fe3ccb907b.png)

Please feel fre

[2020-07-22 11:22] jonfroehlich commented on #2155
Can you try moving the "Your work is making a difference" downward so it's overlaid on the image too (and obviously cascade everything else downwards too). I would also make the "See Results" button bigger and, probably, orange or something.

Try to make "Your work is making a difference" into a single line rather than line break.

[2020-07-22 17:46] jstadeusiak commented on #2155
Got it, in progress right now.

[2020-07-22 18:33] jstadeusiak commented on #2155
Here is a few options made with your suggestions in mind.
![image](https://user-images.githubusercontent.com/64165755/88213682-e7927e00-cc0d-11ea-8705-d26081e21aec.png)

![image](https://user-images.githubusercontent.com/64165755/88214287-c54d3000-cc0e-11ea-9c3a-b7bf2f620452.png)

![image](https://user-images.githubusercontent.com/64165755/88214138-85864880-cc0e-11ea-93a8-6931b2d9adab.png)

[2020-07-22 18:37] jonfroehlich commented on #2155
Neat! Nice work!! I think the top one is my fav so far.

Can you try with slightly more opacity on the white?

Also, try to add some translucency to the orange button?

On Wed, Jul 22, 2020 at 1:33 PM John Tadeusiak <notifications@github.com>
wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washin

[2020-07-22 18:46] jonfroehlich commented on #248
Very narrow curb ramp and sidewalk:

![image](https://user-images.githubusercontent.com/1621749/88215756-bf147f00-cc21-11ea-9ab7-302503088db6.png)

[2020-07-22 19:15] jstadeusiak commented on #2155
Previously 80% opacity... now 90% opacity on all translucent elements pictured.
![image](https://user-images.githubusercontent.com/64165755/88218476-f892bd80-cc14-11ea-8a6a-b0e536aa3975.png)

[2020-07-22 19:49] jonfroehlich commented on #2155
Neat!!

OK, now we need more margins around the text. Maybe by 5-10 more pixels.

And See Results should be a bolded text with larger font, I think.

Is the PNG cloud overlaid using CSS?

On Wed, Jul 22, 2020 at 2:16 PM John Tadeusiak <notifications@github.com>
wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
U

[2020-07-22 20:04] jstadeusiak commented on #2155
No png cloud overlaid using CSS yet, I can do that right now. Is there a link of just the DC clouds in a png?

[2020-07-22 20:49] jonfroehlich commented on #2155
Just made something for you:

![CityScapeBackground-JustDCClouds](https://user-images.githubusercontent.com/1621749/88227178-d1e37f80-cc32-11ea-98a1-c96bccdcc3e1.png)

[2020-07-22 20:55] jstadeusiak commented on #2155
Thanks! I'll post results soon.

[2020-07-22 21:50] jstadeusiak commented on #2155
Here is using the overlay png.

![image](https://user-images.githubusercontent.com/64165755/88232414-ab214b00-cc2a-11ea-8e40-5dd50f49d89b.png)

[2020-07-22 22:09] jonfroehlich commented on #2155
Wo0t! I think we are getting very close. Let's make See Results font bigger
and bold.

On Wed, Jul 22, 2020 at 4:51 PM John Tadeusiak <notifications@github.com>
wrote:

--
Jon E. Froehlich <https://jonfroehlich.github.io/>
Associate Professor
Paul G. Allen School of Computer Science & Engineering
University of Washington
http://makeabilitylab.io
@jonfroehlich <https://twitter.com/jonfroehlich> - T

[2020-07-22 22:18] jstadeusiak commented on #2155
It actually is bold and slightly bigger in that image, I'll make it more noticeable though.

[2020-07-23 11:08] jonfroehlich commented on #248
Another curb ramp marked with an accessibility log but that is inaccessible:

![image](https://user-images.githubusercontent.com/1621749/88280100-db103300-ccaa-11ea-8475-5dd2a03e6c6f.png)

[2020-07-23 11:09] jonfroehlich commented on #248
![image](https://user-images.githubusercontent.com/1621749/88280228-0bf06800-ccab-11ea-9682-42eb1ecc6a15.png)

[2020-07-24 22:59] misaugstad commented on #959
@jonfroehlich the two links above (from the OSM wiki) describe how Google imagery can't be used, and what the agreement with Bing looks like for using their streetside imagery.

[2020-07-25 05:04] misaugstad commented on #2185
Okay, I only tested this on the Columbus test and prod servers on that day. Now it is a few days later, and I'm not getting this error on those servers. And I believe @ThatOneGoat tried to test it and couldn't reproduce. It's just weird because I could reproduce it multiple times that day, but haven't been able to reproduce since.