[2017-06-09 03:23] tongning commented on #639
I ran the scripts on DigitalOcean but I can't think of any reason AWS wouldn't work. The scrapes should take up ~100GB so I think it would be a good idea to have at least 150-200GB of space available to save the panoramas. I used [sshfs](https://www.digitalocean.com/community/tutorials/how-to-use-sshfs-to-mount-remote-file-systems-over-ssh) to mount the Project Sidewalk server as a remote filesyst

[2017-06-09 12:48] chishankar commented on #12
No not yet. I was gonna work on that a little more

[2017-06-09 15:07] sagec108 commented on #623
I'm changing it so that if the user uses shortcut keys to zoom while the context menu is displayed, the context menu will be hidden first before zooming. The existing code did not intend for the user to zoom while the context menu is open, as manually clicking on the zoom buttons will close the context menu anyways. This caused the bug that @misaugstad found.

[2017-06-09 15:40] manaswis commented on #453
@jonfroehlich It was tested and merged with develop.

[2017-06-09 16:08] jonfroehlich commented on #453
Thanks!

On Fri, Jun 9, 2017 at 11:40 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-12 14:11] jonfroehlich commented on #498
OK, so, if I recall correctly, we did not reset the mission counter stats after the tutorial because we were trying to give the user a sense of achievement and help build their sense of investment in the tool (i.e., harness the endowment effect; see: http://ui-patterns.com/blog/beyond-usability-designing-with-persuasive-patterns). However, perhaps this is/was confusing and rightly needs to be fixe

[2017-06-12 17:35] manaswis opened #652 "Reduce header size for the audit interface"
Reducing header size (only on the audit interface page) such that the tool fits in the screen without the need for scrolling down. It would be around 10 px.

[2017-06-12 17:37] manaswis opened #653 "Add versioning on the backend"
Have a table that indicates when the version that's being used, the date when it was deployed and the end date (date when the next version was deployed).

[2017-06-12 17:40] manaswis opened #654 "Log when the user transitions from an anonymous user to signed in user"
Add logging statements when anonymous user signs up using the dialog box shown here

![image](https://user-images.githubusercontent.com/2873216/27047027-9dc5bbb6-4f74-11e7-9aac-5c6725a45254.png)

[2017-06-12 17:41] jonfroehlich commented on #653
That's just one idea on how to make future analyses easier so that we can do version-based queries rather than date-based queries. The former feels more robust and less open to human error.

[2017-06-12 17:42] jonfroehlich commented on #654
This is for relaunch right? Should be tagged as such?

On Mon, Jun 12, 2017 at 1:40 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-12 17:43] jonfroehlich commented on #652
And we can rescale the branding logo in photoshop as necessary so that we don't have to rely on the web browser's image scaling algorithm (which often results in blurry output).

[2017-06-12 18:05] manaswis commented on #654
Yes it is

[2017-06-12 18:07] manaswis commented on #654
Updated the milestone.

[2017-06-12 18:14] manaswis commented on #619
Since sometimes there are no navigation arrows in the direction the user is routed, we could modify this issue to either:

1. Enable single-key navigation e.g. pressing space bar to move ahead on the route
2. Show the path highlighted on the GSV interface

Each of these has its own specific difficulties. I prefer option 2 over 1. An intern could investigate the difficulty of option 2 and then fall

[2017-06-12 18:18] jonfroehlich commented on #619
Yes, 2 is ideal.

[2017-06-12 18:19] manaswis opened #655 "Pop-up instruction to teach users to double click for walking"
Have a pop-up to say "Trouble walking ahead? You can walk in this direction by double clicking!" or something similar. The message would be displayed in a pop-up similar to this:

![image](https://user-images.githubusercontent.com/2873216/27048473-006bba5e-4f7a-11e7-8d7d-c24aedc83d08.png)

This is useful for the user to move in the direction where there isn't a navigation arrow to click and they a

[2017-06-12 18:32] manaswis commented on #619
Okay, updated the issue text and title accordingly.

[2017-06-12 18:34] jonfroehlich commented on #619
If we did 2, then we could likely do away with the GSV arrows altogether. I think this is a hard problem, however, which is why we never pursued it.

[2017-06-12 18:35] jonfroehlich commented on #655
How would we know to show the pop-up? I'm confused.

[2017-06-12 19:02] manaswis commented on #655
Two options:

1. Show the pop-up if the user clicks the navigation arrow x times (similar to what we do for keyboard shortcuts and remind to rate)
2. Automatically detect when the arrow doesn't exist for the direction of the route.
     This is hard but worth investigating. I know we can get information of the navigation arrows (also known as 'links' in GSV lingo). The challenge would be to link t

[2017-06-12 19:36] manaswis opened #656 "Restrict user actions on the tutorial based on the step the user is in"
From #540:

A good to have feature for relaunch if we have time.

[2017-06-12 19:39] manaswis opened #657 "Corrective Guidance in the Tutorial: Inform user if the label is not placed in the right location"
Another good-to-have feature for relaunch (if time permits).

Give user instruction to correct if the user applies the label in the incorrect location (or too far away from the correct location). Currently, the tutorial waits for the right input instead of telling the user that their action is incorrect.

Additional idea:
Show an animated arrow (top to bottom motion) pointed to the location to emp

[2017-06-12 20:40] jonfroehlich commented on #655
I don't think 1. is a good signal. Will be noisy.

So, 2. is a better option but I agree that this will likely be hard. We should have an intern investigate imo.

[2017-06-12 20:42] jonfroehlich commented on #657
Yes. Good idea. We had this in our old tutorials (e.g., for Tohme, etc.)

[2017-06-12 20:44] manaswis commented on #655
I agree.

[2017-06-12 20:44] manaswis commented on #655
I'll assign it to @sbower213.

[2017-06-13 01:50] manaswis opened #663 "Disable walking through keyboard when a pop up is shown"
The user can still walk using keyboard keys when a pop-up modal is shown. For example:

![image](https://user-images.githubusercontent.com/2873216/27062449-0e81079a-4fb9-11e7-9d35-ce421274ca96.png)

Fix: Don't allow the user to walk until he/she dismisses the pop-up.

[2017-06-13 12:51] jonfroehlich commented on #663
I'm guessing that this problem is relevant to all pop-up windows, no? And not just this one?

[2017-06-13 13:12] adash12 opened #664 "Error alerts for sign-in and sign-up not appearing"
When an incorrect username/password is entered for sign-in, the error message does not appear. The error message for sign-up when the username already exists also does not appear.

Related to #488; once 488 is fixed, an error message for sign-up with an existing email will need to appear.

[2017-06-13 13:24] jonfroehlich commented on #664
We also need to log these errors to the database. Please check to see if
this is done and, if not, open up a separate Issue for it. Thanks.

On Tue, Jun 13, 2017 at 9:12 AM, Aditya Dash <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-13 13:44] manaswis commented on #664
@jetrax12 Could you fix this in the PR you submitted? They are related. Update the PR body with the this issue's number when you do. And also look into what Jon suggested about logging these errors. We use something called 'tracker' (look for Tracker.js) to log any interaction/action.

[2017-06-13 13:48] manaswis commented on #663
That's right. Updating the issue accordingly.

[2017-06-13 17:14] sbower213 commented on #610
In doing some research while trying to fix this, the alt-tab issue is a [known Firefox bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1228802). There is some issue with input fields, in modals specifically, not retaining focus after a window is toggled away from. The window.focus event is also not fired when the window is brought back into focus if the modal is open, so I can't check if a user

[2017-06-13 17:23] jonfroehlich commented on #610
Hmm. Interesting. I think this is a relatively low priority honestly. I have never experienced this issue--perhaps because I just use Chrome's auto-save for login info.

@sbower213 perhaps table this now and work on other things?

[2017-06-13 17:28] sbower213 commented on #610
Sure. I'll push what I have (autofocusing the cursor when clicking Login) and save the rest for another time.

[2017-06-13 17:51] sbower213 commented on #609
Since the URL is #SignIn and the modal text says "Have an account? Sign in!", I'm leaning towards making it Sign In. Should the button be "Sign In" for consistency with the adjacent button's capitals or "Sign in" for consistency with the modal? Should any of these other texts be changed to match these changes?

[2017-06-13 18:20] adash12 opened #666 "Sign-in/sign-up errors not logged to database"
When a user provides invalid credentials for signing in or a duplicate username or email for signing up, it is not logged to the database.

Brought up in #664

[2017-06-13 18:37] sbower213 commented on #576
Here's an updated screenshot:

![sidewalk opacity](https://user-images.githubusercontent.com/8651110/27098436-8adef4f0-5045-11e7-9b4d-774f1bc5b1b9.png)

[2017-06-13 18:37] manaswis commented on #609
I would go with Sign In and modify other places to be consistent.

[2017-06-13 18:37] manaswis commented on #576
Was this on a large screen?

[2017-06-13 18:40] jonfroehlich commented on #609
Do other websites say 'Sign in' or 'Sign In'? I like the lower case 'i' to
be honest. More legible.

Jon

On Tue, Jun 13, 2017 at 2:37 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-13 18:40] jonfroehlich commented on #576
Manaswi and I have 30" monitors, for example.

On Tue, Jun 13, 2017 at 2:37 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-13 18:44] manaswis commented on #609
To add some context to what @sbower213 was saying:

![image](https://user-images.githubusercontent.com/2873216/27098733-a06e6494-5046-11e7-974c-cab73312be6d.png)

Modal
![image](https://user-images.githubusercontent.com/2873216/27098780-bf119286-5046-11e7-9502-c2b2dcc412ff.png)

[2017-06-13 18:50] sbower213 commented on #576
This was just on my 13" laptop. I have similar results on the 25" monitor in the lab. Since the opacity is changed across the entire div, any screen should have the improved contrast, regardless of size.

[2017-06-13 18:57] jonfroehlich commented on #609
To investigate this a bit, I just looked at some websites like Pinterest and Etsy.com that likely have non-technical users. It seems like "Sign in" (lower case 'in' is most common).

Here are the results of my brief investigation (case sensitive).

- **Redfin**: Sign In
- **Etsy**: Sign in
- **Zillow**: Sign in
- **Ebay**: Sign in
- **Pinterest**: Log in

Screenshots below. Note that this is the k

[2017-06-13 18:59] jonfroehlich commented on #576
Still, we should test on larger screens to be sure. Happy to do it once the
code lives on sidewalk-dev.

On Tue, Jun 13, 2017 at 2:50 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-13 19:59] jonfroehlich opened #668 "Stuck in a 360 Selfie?"
I am stuck in a 360 selfie and can't seem to move out of it. :)

svl.panorama.getPano();
"F:-3f2o0Du8fA0/WNw3jJ2edDI/AAAAAAACYqo/WO7MTt2u-ak4dqA_wRRC0q0uf6x78_A6wCLIB"
(svl.taskContainer.getCurrentTask()).getStreetEdgeId();
26319

![image](https://user-images.githubusercontent.com/1621749/27101871-520a0b22-5051-11e7-9626-e6f9bb4bc04f.png)

[2017-06-13 20:15] jetrax12 commented on #666
I'm trying to decide whether the errors should be logged in the existing table `webpage_activity` which logs user actions like what page is visited and sign-ins/sign-ups, or to create a new table which exclusively logs errors.

There is another table that logs user actions (`audit_task_interactions`) but that's just for the GSV interface so I don't think it's relevant to this situation.

Currently

[2017-06-13 20:15] jonfroehlich opened #669 "After a (Forced) Jump, Heads-Up Display Directions Not Updating"
After a (forced) jump due to a GSV error, the heads-up display directions stopped updating. See video: https://youtu.be/7yn6k0C17HA

[2017-06-13 20:27] jonfroehlich opened #670 "Screenshots of Project Sidewalk Tool at DC Landmarks"
For our advertising materials, I'd like to get screenshots of the Project Sidewalk tool at various DC landmarks (like White House, US Capitol Building, Supreme Court, Library of Congress, Lincoln Memorial).

Something like this:

![tool7b_capitolbuilding](https://user-images.githubusercontent.com/1621749/27102935-0e48a23c-5055-11e7-86a6-e57956d34f7e.png)

Is there an easy way for me to drop in to

[2017-06-13 20:28] jonfroehlich commented on #666
I like webpage_activity.

On Tue, Jun 13, 2017 at 4:15 PM, Aditya Dash <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-13 20:36] manaswis commented on #670
There isn't an easy way through our tool. But we could use Street View for doing this. Get lat-lng of the desired location and find the pano Id and street closest to that location.

[2017-06-13 20:41] jonfroehlich commented on #670
If I used GSV to do this, how would I get lat/long? Is there a console command?

Sent from my iPhone

[2017-06-13 22:06] maddalihanumateja commented on #670
I used http://www.latlong.net/

Capitol: (38.889964,-77.009053)
Washington Monument: (38.889496, -77.035317)
Lincoln Memorial: (38.888542, -77.049909)
White House: (38.897491, -77.036508)
Nationals Park: (38.873026, -77.007465)
Union Station: (38.897613, -77.006178)
Thomas Jefferson Memorial: (38.881412, -77.036476)

[2017-06-13 22:09] maddalihanumateja commented on #670
Oh wait, this is easier than I thought. Maps gives you the lat long
<img width="905" alt="screen shot 2017-06-13 at 6 09 02 pm" src="https://user-images.githubusercontent.com/3580069/27106914-7972e1a4-5063-11e7-92eb-49ef5a976ead.png">

[2017-06-13 22:54] manaswis commented on #670
Yes, you can get that lat long from the address bar.

[2017-06-14 01:16] jonfroehlich commented on #670
OK, I'll check on this tomorrow. Thanks guys.

On Tue, Jun 13, 2017 at 6:54 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-14 13:17] jonfroehlich commented on #670
@maddalihanumateja, can you go back and update all of your lat/long links above to direct links to Google Street View like the below:

- US Capitol: https://www.google.com/maps/@38.8897647,-77.005825,3a,75y,277.27h,88.21t/data=!3m6!1e1!3m4!1sF0rLAmU_ddV80qZwPjuCbw!2e0!7i13312!8i6656

[2017-06-14 15:07] sagec108 commented on #663
I have disabled all interface interactions while a pop-up is shown besides interactions handling the pop-up. Interactions disabled include:

- Panning
- Walking
- Labeling
- Any keyboard commands
- GSV arrows

The screen is greyed out so that the user cannot click any of the buttons as well:

![image](https://user-images.githubusercontent.com/20068009/27139590-6bff7fda-50f1-11e7-8f6a-38634cafff23.

[2017-06-14 15:17] jonfroehlich commented on #663
I like it. We'll have to test it to be sure. :)

On Wed, Jun 14, 2017 at 11:07 AM, Sage Chen <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-14 15:30] chishankar commented on #504
I have created approximately 8 designs which are down below with various ideas represented in each design, therefore I can take ideas from each design and make a new one, but the below designs are just a few ideas.

Design 1:
![design1](https://user-images.githubusercontent.com/25187819/27140753-592b337e-50f4-11e7-8019-3ec4ee1cbd3a.jpg)

Design2:
![design2](https://user-images.githubusercontent.co

[2017-06-14 16:26] misaugstad opened #672 "Text spans multiple lines in the sidebar when large #labels/miles done in neighborhood"
### With large #labels
Here is what it looks like when the number of labels/miles is too big:

![large_number_carryover](https://user-images.githubusercontent.com/6518824/27143417-47766c2c-50fc-11e7-9580-7e6160679bc7.png)
-----

### Ideally
This is what is should (and normally) looks like:
![pasted image at 2017_06_14 12_20 pm](https://user-images.githubusercontent.com/6518824/27143366-23c40898-50

[2017-06-14 16:55] jonfroehlich commented on #504
If you're going to use color, please use the color palette and color assignments/label that we have established in the tool for consistency.

I like the animation. We should discuss whether we want this and whether we should also have the other icons animated (where, for example, the wheelchair turns around when it gets to an obstacle).

[2017-06-14 16:59] misaugstad opened #673 "Let users know they can quit or close browser w/out losing labels or mission progress"
When a user is in the middle of a mission, they don't have a way of knowing that their labels have been saved or that their mission progress has been saved. Then they may get to a point where they have to close their browser (or it happens accidentally, or they accidentally hit the back button), and they may be worried that they will lose their progress.

Though in some cases this may motivate peo

[2017-06-14 17:14] sbower213 commented on #607
Here's three versions of the alert I've made so far:

1. I made this using the same alert that pops up if you use non-chrome browsers on the audit screen. I personally feel that it's a bit small, especially for mobile devices, but included it as reference for what's currently used.
![mobile alert 1](https://user-images.githubusercontent.com/8651110/27144168-d9bc388a-50fe-11e7-82b9-fdd43c3bc2a2.png

[2017-06-14 17:29] jonfroehlich commented on #607
I think 1. is fine.

2. looks amateurish and we are abusing our color palette. The missing curb ramp color should only be used for missing curb ramp labels (and related).

In general, I would like to soften our language a little bit. Like 3. comes off pretty harsh. Instead, how about something like "Thanks for visiting! Unfortunately, Project Sidewalk is currently not supported on mobile devices.

[2017-06-14 17:37] manaswis opened #674 "Landing Page: Start Mapping Button on the Navbar Jumps When Clicked"
Same issue as #601. Should be an easy fix.

![image](https://user-images.githubusercontent.com/2873216/27146238-9d726ea0-5106-11e7-82f0-ebab12178ae7.png)

[2017-06-14 17:49] manaswis commented on #504
Animation is interesting. We could have the other icons animated and could randomize the icon that is animated, so each mission dialog box would have an animated icon but a different icon each time. Could potentially keep users engaged.

@chishankar It would be good to see these on the mission text dialog box. With context, it would be easy to see which design makes most sense.

In other comments,

[2017-06-14 18:20] jonfroehlich commented on #504
I agree with Manaswi that these should definitely be full dialog designs.
You should focus on redesigning the entire dialog.

On Wed, Jun 14, 2017 at 1:49 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-14 18:20] jonfroehlich commented on #674
Yep, I noticed this too.

On Wed, Jun 14, 2017 at 1:38 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-14 18:34] jonfroehlich commented on #578
@manaswis I think it would be really nice to investigate and fix this before relaunch. Perhaps a task for @adash12 or @sbower213 ?

[2017-06-14 19:45] jonfroehlich opened #675 "Fix the Follow the Navigator and Audit the Street Dialog"
![image](https://user-images.githubusercontent.com/1621749/27151370-5d76b22c-5118-11e7-8fc3-e0561e7dbab5.png)

Two problems with this dialog:

1. The dialog is not centered vertically in the GSV pane
2. The text should be polished. I suggest

**Let's Take a Step!**
It looks like you've looked around this entire intersection, so it's time to explore other areas. Walk in the direction of the red lin

[2017-06-14 19:50] sbower213 commented on #607
Most mobile sites I came across either had a "download our app!" ribbon along the top or bottom (I couldn't find any websites that entirely dismiss mobile support). Twitter had a full page screen that served as their login, nothing on mobile support; but iOS natively asks if you want to use a website's app if you scroll up on their webpage and have the app installed. I feel like the notice along t

[2017-06-14 20:12] jonfroehlich commented on #607
@sbower213, given what you found, I'd like to do something completely different. Can you come to my office please?

[2017-06-14 20:16] jonfroehlich commented on #607
Maybe link to this video too: https://youtu.be/_GBLqZDXB_0?

[2017-06-14 20:52] misaugstad opened #676 "Landing page: % of DC mapped uses audits, not distance"
I noticed in [code for the landing page](https://github.com/ProjectSidewalk/SidewalkWebpage/blob/master/app/views/index.scala.html#L185) that the % of DC mapped actually is taking the percentage of street audits that have been completed. I expected it to be saying that that percent of the total distance was audited. Does it use audits instead of distance by design? What do y'all think, should it b

[2017-06-14 21:16] chishankar commented on #504
Sounds good, I updated the some designs a made a few different ones with the correct color pallet. I will do a few mock up of the new dialog box in photoshop and post them here.

This is one of the newer GIFS with the correct color pallet that I will incorporate into the design of the new dialog box.
![design6](https://user-images.githubusercontent.com/25187819/27154993-07e1aad0-5125-11e7-8bc5-171

[2017-06-15 00:48] jonfroehlich commented on #504
Absolutely you should feel free to change the text. That's all part of the
design.

Can you mock something up where all four circles are animated. Again, my
idea for the latter three would be that the wheelchair moves along to the
right, gets to the obstacle, and has to turn around and go back the other
way. Just an idea.

On Wed, Jun 14, 2017 at 5:16 PM, Chirag Shankar <notifications@github.com>

[2017-06-15 00:56] jonfroehlich commented on #676
It definitely should be % of total distance in my mind. Am happy to hear
counter opinions.

Good catch Mikey.

On Wed, Jun 14, 2017 at 4:52 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-15 02:57] manaswis opened #678 "Disable zooming using keyboard shortcuts + and - : Breaks the tool"
Google Maps default for zooming, keys **+** (plus signs) and **-** (dash or minus signs) is still activated. If using that, then multiple things happen:

1. Zooming looks broken
![image](https://user-images.githubusercontent.com/2873216/27163254-33e80b72-5154-11e7-8bec-218c72ec612b.png)

After zooming when the context menu is open:
![image](https://user-images.githubusercontent.com/2873216/2716326

[2017-06-15 12:36] manaswis commented on #540
Individual issues have been created for the suggestions listed. Closing this.

[2017-06-15 12:36] #540 closed

[2017-06-15 16:20] jonfroehlich opened #679 "GSV Error in Tutorial"
Uh oh, I got the GSV error in the tutorial on the sidewalk-dev server (however, this is not running @sagec108's new GSV error code). Not sure what triggered this... but clearly we should not jump people during the tutorial if this error does, for some weird reason, happen to occur.

![image](https://user-images.githubusercontent.com/1621749/27191187-0e5d46a8-51c5-11e7-9436-d7c260cb5133.png)

[2017-06-15 16:22] jonfroehlich opened #680 "Redesign Two Tutorial Dialogs"
I find both of these tutorial screens super busy and hard to read/understand (especially the second one). I would like a much cleaner, simpler design for both.

1.
![image](https://user-images.githubusercontent.com/1621749/27191084-b308e23a-51c4-11e7-91b2-9e0740023299.png)

2.
![image](https://user-images.githubusercontent.com/1621749/27191262-49b4ab9c-51c5-11e7-941e-4edaadc154d5.png)

If someone

[2017-06-15 16:57] manaswis opened #681 "Load panos for tutorial from locally stored scraped panos"
Since we experienced expiring panos multiple times now (recent example #679) which results into server downtime till we find some alternate pano id, we should load the tutorial panos from a locally stored scraped pano.

[2017-06-15 17:07] jonfroehlich commented on #681
Can we do that?! I've long wanted to do that but I didn't know we could. I guess it makes sense if all of the GSV interaction code is local in JS and we simply have to figure out a way to pass a local panorama vs. the server data.

Have we ever tried this before?

[2017-06-15 17:21] sbower213 commented on #607
I've made a few mockups; they all use the same background but this can be changed if need be. This was mostly to see how the text and any images should be displayed. The text is the same as before; I'm not sure if trying to make it more concise (like Twitter's landing page) would result in too much information loss. If we do want to cut the text, which parts should go?

1. The most simple design.

[2017-06-15 17:24] jonfroehlich commented on #607
Can we talk in person about this? Come to my office.

On Thu, Jun 15, 2017 at 1:21 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-15 17:29] jonfroehlich opened #682 "Redesign Project Sidewalk Down Page"
Should at least include our logo and not have such horrible text wrapping.

![image](https://user-images.githubusercontent.com/1621749/27193918-a30ecca0-51ce-11e7-84a0-1b7fae32a65e.png)

[2017-06-15 17:30] manaswis commented on #679
Employed a temp fix of using the same tutorial pano ID. Since the walk tutorial will be updated soon and finding the other pano id is time consuming, this should work till we have our new tutorial up.

What do you guys think?

Check it out here - http://sidewalk-dev.umiacs.umd.edu/audit

[2017-06-15 17:31] jonfroehlich commented on #607
1. Can you try to use the fonts that we use on the main page for header and content text
2. Yes, reduce the text. I think we can have something like this: "Welcome! Project Sidewalk does not currently support mobile devices. Please visit us on your laptop or desktop."
3. Note how the design examples you included (E.g., Twitter, Instagram) use typography and font size (and styling like bold) to bea

[2017-06-15 17:35] manaswis commented on #681
Nope, we haven't and don't know if we can. Needs to be looked into. But its worth investigating. Its important as I am afraid after all the updates we do on the tutorial, Google will change the pano id again, and we have to do it again.

[2017-06-15 17:38] jonfroehlich commented on #681
I 100% agree and I've definitely thought about doing this, I just thought it would be impossible. Could be a (hard) intern task--has perhaps the same level of complexity as https://github.com/ProjectSidewalk/SidewalkWebpage/issues/303.

[2017-06-15 17:38] #679 closed

[2017-06-15 19:33] sbower213 commented on #607
Here are a few more designs. Differences are whether we use 3 lines or 2, and whether or not the "Welcome to" header is included. Since mobile users won't really be interacting with the site, the welcome message may be a bit confusing.

1) header / 3 lines
![updated mobile 9](https://user-images.githubusercontent.com/8651110/27198215-42995fb4-51df-11e7-9f5c-7199c4dcc56d.png)
2) header / 2 lines
![

[2017-06-15 19:35] jonfroehlich commented on #607
I like 4 best. I agree with you that Welcome would be confusing when we don't support mobile.

Can you increase the logo size and the 'Unfortunately, we do not currently support...' text?

I would make the logo stretch so that you have about a 15-20px margin on left and right side. And for text size, please play around with it. Try maybe 3 larger font sizes and post them here for feedback.

Jon

[2017-06-15 19:59] sbower213 commented on #607
Here's several larger font sizes. Personally a fan of 2.
1)
![font 41](https://user-images.githubusercontent.com/8651110/27199280-6893bf4e-51e3-11e7-8f64-2afb9ea1eba3.png)
2)
![font 48](https://user-images.githubusercontent.com/8651110/27199282-68ba0b90-51e3-11e7-934f-86d6ea13b347.png)
3)
![font 61](https://user-images.githubusercontent.com/8651110/27199281-6894234e-51e3-11e7-86ae-61b04b10f048.png

[2017-06-15 20:40] jonfroehlich commented on #607
I like 3.

Can you push up the location of the PS logo. I would say maybe 50 px from top of screen.

Also de-bold 'not'--that was a bad idea.

Finally, let's add back in "Thanks for visiting!" before the "Unfortunately, ..."

[2017-06-15 20:52] sbower213 commented on #607
![high](https://user-images.githubusercontent.com/8651110/27201226-ec0a9314-51ea-11e7-89f0-cea36f4882aa.png)
![mid](https://user-images.githubusercontent.com/8651110/27201225-ec09f792-51ea-11e7-8507-9bd5a6398921.png)
![split](https://user-images.githubusercontent.com/8651110/27201224-ec051d58-51ea-11e7-9be2-1998d08f8390.png)

[2017-06-16 14:34] jonfroehlich commented on #607
I like 3. Move up the position of 'Thanks for visiting!' and the subsequent text--maybe by 20px?

[2017-06-16 14:36] jonfroehlich commented on #578
I continue to see problems in my browser with the landing page related to, I think, memory or CPU usage. We need to explore optimizing this page. Who can do this? @manaswis, can you respond please. Does @sbower213 have another task after fixing the 'we do not support mobiles' message?

[2017-06-16 14:47] manaswis commented on #607
@sbower213 Is this the landing page body font? I think it was Raleway.

[2017-06-16 14:49] jonfroehlich commented on #607
Good catch @manaswis. I already asked him to switch the font but it looks like he hasn't yet.

[2017-06-16 14:53] sbower213 commented on #607
Raleway is the one used in headers; Adelle is used in the body, so I used that. I can switch to Raleway if desired, I'll show the difference here:

![adelle](https://user-images.githubusercontent.com/8651110/27231855-03c1d976-5282-11e7-80cc-2344a99000b1.png)
![raleway](https://user-images.githubusercontent.com/8651110/27231856-03c734fc-5282-11e7-88bd-00e3ee63ba98.png)

[2017-06-16 14:55] manaswis commented on #607
I vote for Raleway. Its cleaner.

[2017-06-16 14:58] jonfroehlich commented on #607
I agree. Can we try boosting the font size slightly for 'thanks for
visiting' and lowering font size for 'Unfortunately...' text block?

On Fri, Jun 16, 2017 at 10:55 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-16 15:42] sbower213 commented on #607
How does this look:
![monument fix 1](https://user-images.githubusercontent.com/8651110/27233806-d8be7ea8-5288-11e7-9f2f-c1a19f57a9c9.png)

[2017-06-16 15:50] jonfroehlich commented on #607
Love it. Push it.

On Fri, Jun 16, 2017 at 11:42 AM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-16 18:25] jonfroehlich opened #686 "Should We Be Concerned About Running Up Against API Usage Limits?"
We can get 25,000 map loads/24 hour period using the free API. Is there a realistic scenario where we could be pushing on that limit during relaunch? Has anyone done any back-of-the-envelope calculation on this (e.g., how many API calls per mission on average, how many users/day do we expect)?

https://developers.google.com/maps/documentation/streetview/usage-limits

[2017-06-16 18:56] sbower213 commented on #578
Supporting what @tongning commented; the root cause for high memory usage is the videos on the page. For me, the change in memory usage wasn't for the tab itself; but for the GPU process run by my chrome window. Chrome uses the GPU process to accelerate web-page rendering, typical HTML, CSS, and graphics elements; so I tested whether there were any CSS issues in addition to this, and the differenc

[2017-06-16 19:01] jonfroehlich commented on #578
What about CPU usage? Do you think this is negligible? What is causing the
occasional jumpiness on my computer on the landing page?

On Fri, Jun 16, 2017 at 2:56 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-16 19:28] maddalihanumateja commented on #686
A pano request counts as a single map load. We seem to be requesting pano s for every 3ft. So 25000 requests amount to 75000ft which is roughly 14.2 miles. I don't know what distance the average user audits in a day. But assuming it is around a mile, it looks looks we will exceed the limit if more than 14 people use sidewalk in a day.

Sent from my iPhone

[2017-06-16 19:34] jonfroehlich commented on #686
@misaugstad should be able to tell us what an average user does--but I'm guessing the 'average' user likely only finishes one or two missions and stops (so, completes between 1,000 ft and ~3500 ft of road)...

[2017-06-16 20:35] sbower213 commented on #578
According to [Google's PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=projectsidewalk.io&tab=desktop) we can optimize our site by minimizing js/css/html files and enabling gzip compression on our server for sending data. At the very least, this will reduce the page's loading time, though I don't think this will have a dramatic effect on the GPU usage; none of the s

[2017-06-16 20:41] jonfroehlich commented on #578
Thanks for this.

Do we think that the video is the main computational load?

Is our pageload bad? What do the tools say (often they give you a score
telling you how good/bad your page load speeds are).

On Fri, Jun 16, 2017 at 4:35 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~j

[2017-06-16 20:43] jonfroehlich commented on #437
We mocked this up in my office (note that the arrow could also animate a bit by fading in some N pixels from the left border and then animating to the left to the position captured in the mock)

![image](https://user-images.githubusercontent.com/1621749/27244072-eff70cbe-52b2-11e7-9a96-8064bbfb732e.png)

[2017-06-16 20:45] manaswis commented on #686
### Map Loads
This is some information from their site on [map-loads](https://developers.google.com/maps/faq#usage_mapload):

![image](https://user-images.githubusercontent.com/2873216/27243750-5b44aa46-52b1-11e7-8ae4-702e6388b1fd.png)

Important point to note here is

Since we do load our panos in the same div, our map-load is 1/user i.e. each time the user loads our audit interface. So if we don

[2017-06-16 21:04] sbower213 commented on #578
I'm inclined to say that the video is the main culprit here. Blocking the video elements on the page reduces the GPU memory used by 100MB per tab of the main page that is open. However, even with the videos blocked, the page still uses far more GPU memory (~230MB) than other websites when they play video (e.g. Facebook: 80MB, YouTube 25MB) so perhaps there is more to this story than just the video

[2017-06-16 21:34] manaswis commented on #578
The PageSpeed Insights looks useful. Even though I agree it might not have a dramatic effect. Thanks for looking into this.

![image](https://user-images.githubusercontent.com/2873216/27245478-b41b6d1e-52b9-11e7-9967-15c8276b46d3.png)

Could be that the website is loading few resources from the cache?

[2017-06-17 01:00] jonfroehlich commented on #578
Great work @sbower213. Can you make a prioritized list of things we should update based on what you learned from those tools? After we review the list, you can start going through and implementing changes.

[2017-06-17 02:28] misaugstad commented on #622
So we have a choropleth! Picture below. The legend needs to be fixed, and I want to add some information on mouse hover, but I want to get some feedback on what's there now.

![choropleth](https://user-images.githubusercontent.com/6518824/27249384-1d6ca936-52e2-11e7-82cc-ddb47d3c77cc.png)

1. How do we like this grayscale background?
2. How do we like the current color scheme? I was using [Color B

[2017-06-17 02:39] misaugstad commented on #622
And instead of having different colors for different levels, do we want to just pick one color and just modify its transparency to indicate coverage?

[2017-06-17 02:52] jonfroehlich commented on #622
Woohoo. This is awesome.

Can we try a continuous version (sure, one color w varying transparency) and a version w 10 discrete levels (rather than the 5 you have now).

Can't comment on gray background as am mobile only currently.

Nice job on this!

Sent from my iPhone

[2017-06-17 03:24] maddalihanumateja commented on #622
Looks great. I think blue really is a good color for this!

1. Grayscale background could be a little darker. It looks a little too bright and is merging with the areas that have low completion rate.
2. I think having a discrete scale might be more appealing. Image complexity is more and it feels like a lot more is going on. (We are calculating completion rate per neighborhood as defined by admini

[2017-06-17 03:34] manaswis commented on #622
Amazing @misaugstad! :)

[2017-06-17 13:17] jonfroehlich commented on #622
Teja, I don't understand why you think we don't have continuous data. Is % complete per neighborhood not continuous. I would argue that it is.

So my recommendation to Mikey still stands. I'd like to see us explore a few different visual design options (as we always do with design work). And these suggestions should take very little time to implement.

Sent from my iPhone

[2017-06-17 13:57] maddalihanumateja commented on #622
Jon, I see what happened. I meant continuous over spatial dimensions not over percentage completion.

Sent from my iPhone

[2017-06-17 15:00] manaswis commented on #12
@chishankar Are you finished working on this?

[2017-06-17 15:58] manaswis opened #687 "Checklist: v2 Relaunch Testing"
This list needs to be updated to capture all the testing that needs to be done for recent changes made in the past month. Starting it with some things that I can remember. Needs to be further updated by everyone.
- Please update based on the issues you have worked on: @maddalihanumateja @misaugstad @sbower213 @adash12 @chishankar @sagec108
- Link the issues numbers when you update this list

### B

[2017-06-17 16:48] manaswis commented on #687
Also, along with issue numbers, also add the PR numbers too. The PRs usually have description of the things changed and things that need testing.

[2017-06-17 17:09] misaugstad commented on #622
10 discrete levels (color varies, not transparency):
![choropleth-10lvls-clr](https://user-images.githubusercontent.com/6518824/27254788-f802c078-535d-11e7-9fda-ec664b13704b.png)

10 discrete levels (transparency varies, not color):
![choroplet-10lvls-op](https://user-images.githubusercontent.com/6518824/27254787-f800895c-535d-11e7-81a2-63d0c0e59128.png)

continous scale (transparency varies):
![c

[2017-06-17 17:20] misaugstad commented on #342
For the DC coverage percentage chart, do we prefer an area or line graph?

![coverage-area](https://user-images.githubusercontent.com/6518824/27254853-62232cf8-535f-11e7-9898-bb1b4365c0f1.png)
![coverage-line](https://user-images.githubusercontent.com/6518824/27254854-622c010c-535f-11e7-8cc8-fa19439b7d06.png)

I will also bring down the interval between ticks on the y-axis from 10% points to 20.

[2017-06-17 17:31] jonfroehlich commented on #342
I like area graph. Any reason why this is square. I think it could be more
landscape (longer horizontal than vertical).

But, of course, you may have an overall layout plan for the admin page that
I'm not aware of, which may justify the square design. :)

On Sat, Jun 17, 2017 at 1:20 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
Univers

[2017-06-17 17:43] jonfroehlich commented on #686
This is great @manaswis. Thanks for the analysis and more info on API usage. Closing this issue as I am now confident it will not be a problem.

[2017-06-17 17:43] #686 closed

[2017-06-17 17:53] jonfroehlich commented on #622
Thanks @misaugstad. I think I like 1 and 3 the best (with a slight preference towards 1 though the mapping between colors and values isn't as clear--e.g., is the dark gray blue the highest completion rate?). What do others think? As an aside, the legend in bottom-left on 3 is wrong, right? We will have to generate a nice looking legend for whatever option we choose.

How much more effort would it

[2017-06-17 17:57] jonfroehlich commented on #678
It's not clear to me how zooming is broken in the screenshot that you supplied.

[2017-06-17 18:03] manaswis commented on #678
The context menu is detached from the label when zoomed in.

[2017-06-17 18:08] jonfroehlich commented on #678
Ah, I thought that was the second part of your comment. I see now that it follows under the 1 block.

[2017-06-17 18:15] misaugstad commented on #622
w.r.t. legend, yeah the legend is incorrect and I forgot to crop it out for that image. I am holding off on legend until we pick a design for it to go with.

1. adding in neighborhood names: not sure, will look into that. I am guessing that the neighborhood names are a result of the underlying map tile, which I replaced with the more grayscale one. The one used on the demo page is something of Kot

[2017-06-17 18:31] maddalihanumateja commented on #622
I think option 1 (10 discrete color levels and constant transparency) looks good. I cant really make out any visible difference between options 2 and 3 other than the sizes being different.

For neighborhood names you should probably disable any mapbox labels that you think would interfere first.

[2017-06-17 18:37] sagec108 opened #689 "Integrate Sidewalk logo into loading gif"
#658 added a loading gif to the page. Jon noted in the issue to incorporate the logo into the loading gif by perhaps adding a "Loading ..." message below a gif with the actual logo that incorporates the spinning animation.

Jon's comment for reference:

[2017-06-17 18:49] jonfroehlich commented on #689
Where the wheel of the wheelchair itself spins indicating loading.

Sent from my iPhone

[2017-06-17 18:50] jonfroehlich commented on #622
And obviously we may make different aesthetic choices for the mailchimp header image and for the interactive choropleth on the landing page (and admin page).

Sent from my iPhone

[2017-06-17 18:52] maddalihanumateja commented on #539
I've set up an AWS instance with the pano scrapper scheduled for daily runs.

- On a test yesterday I ran into some potential bugs that may be related to the version of python libraries being used. Will need to look into these as a separate task.
- Checked the billing for a day's worth of sparse testing (equivalent to running this on half the pano id's we have). Came up to 30 cents. Hopefully it w

[2017-06-17 19:14] misaugstad commented on #622
I am having a hard time finding a color scheme with 10 levels where the color->value mapping is actually clear, though the color variation looks slightly cooler than the transparency variation IMO. I am leaning towards the transparency since it is more clear, but if we think that graph 1 (in the comment w/ 3 graphs) looks cooler we can use that in the mailchimp headers?

[2017-06-17 19:17] misaugstad commented on #622
And here is a combination... modifying color and transparency:

![choropleth-10lvls-clr-op](https://user-images.githubusercontent.com/6518824/27255635-0d5c1282-5370-11e7-95de-d28f05317f21.png)

[2017-06-17 19:31] manaswis opened #690 "Consider using return/enter key to dismiss pop-ups"
I often want to use the return/enter key to dismiss a pop-up since its common practice elsewhere as well. However, do we want to have it because users might just dismiss the pop-up before reading it. Mouse click might encourage them to read the pop-up message. However, that maybe wrong - its my intuition.

What do you guys think?

[2017-06-17 19:44] misaugstad commented on #622
Suggestions for improving the popup?

![choropleth-popup-1](https://user-images.githubusercontent.com/6518824/27255786-a7831182-5373-11e7-9de5-132192cfca5f.png)

[2017-06-17 19:54] jonfroehlich commented on #690
I think return key to dismiss pop-up is fine

Sent from my iPhone

[2017-06-17 20:31] misaugstad commented on #622
Added these other situations in appropriately as well:

![less-than-mile](https://user-images.githubusercontent.com/6518824/27256098-f4cfa5c6-5379-11e7-8958-2760ff98cff6.png)
![100-complete](https://user-images.githubusercontent.com/6518824/27256107-4a2d8010-537a-11e7-9f83-a50d8eab4668.png)

[2017-06-17 21:04] misaugstad opened #691 "Prevent users from auditing a completed neighborhood"
We don't want users to be able to audit completed neighborhoods right now, so that should be disallowed when they are looking at the map in their user dashboard, and in the new choropleth.

[2017-06-17 21:09] manaswis commented on #691
This type of pop-up (from https://github.com/ProjectSidewalk/SidewalkWebpage/issues/622#issuecomment-309238463) could address this issue:

![image](https://user-images.githubusercontent.com/2873216/27256343-a1b9f534-537f-11e7-9b1a-5d2f75df7c6c.png)

[2017-06-17 21:27] misaugstad commented on #342
I agree, more horizontal!

And thoughts on these histograms of severity rating by label type?

![severity-ratings](https://user-images.githubusercontent.com/6518824/27256418-35db7326-5382-11e7-9a67-5deb1f9ec64d.png)

[2017-06-17 21:36] manaswis commented on #342
Few comments:
- X-axis ticks be rotated
- The y-axis scale should be the same across all the graphs imo.

[2017-06-17 21:42] misaugstad commented on #342
Will do for the x-axis ticks, didn't catch that before, thanks!

And for the y-axis scale, ideally I would keep the scale across all of them, but there are so many more curb ramps than the other labels, that the other histograms would be hard to read if we did counts. But then if we went with a proportion scale (from 0 to 1), we would be losing the counts information.

So that is my current ration

[2017-06-17 21:48] misaugstad commented on #691
The real issue here is that the queries) that get the completion rates of each neighborhood takes a hell of a long time to run (~11 seconds on my local dump). That has been annoying but find because it was only used on the admin page up until now.

I will look closer at what is taking this long, but to get it fast enough way may have to add a table the holds the amount of each neighborhood that ha

[2017-06-17 22:25] misaugstad commented on #622
And what do we want to do about multiple "regions" or "neighborhoods" that have the same name? There are at least 3 regions right next to each other that all have the name Bellevue, which really confused me for a minute!

[2017-06-17 22:49] jonfroehlich commented on #691
Agreed. If this is a long query, we will have to tabulate it intermittently and store in a table for instant access.

Sent from my iPhone

[2017-06-17 23:23] jonfroehlich commented on #622
Not sure what to do for edge cases. Maybe nothing for now? Or we could call them Bellevue North, Bellevue East, etc.

Re: pop-up. I like it. Can we be more explicit in the call to action? Can you brainstorm a few choices?

Really great progress here.

Sent from my iPhone

[2017-06-17 23:25] jonfroehlich commented on #691
This is likely not the only query that we will have to preprocess and store results in a table (perhaps refreshing every 30 mins to 24 hours depending on importance).

Sent from my iPhone

[2017-06-17 23:29] jonfroehlich commented on #342
I do *not* think the y-axes should b the same for this dataset. Doing so, would completely obscure the less common label types and trends therein. If keeping the y-axis is super important, could switch it to percentage of labels; however, I prefer raw counts and scaling per type as you have it.

Other than that, I think the graphs are too tall proportionate to their width. Shrink them by 20-30% ve

[2017-06-18 00:17] misaugstad commented on #342
They have been shrunk! Next up for review... I extended the daily label counts graph to go back to the end of 2015, now again do you prefer line or area..?
![daily-label-counts-area](https://user-images.githubusercontent.com/6518824/27257152-e20f8bd4-5399-11e7-9782-ccdb122011ab.png)
![daily-label-counts-line](https://user-images.githubusercontent.com/6518824/27257153-e213b1f0-5399-11e7-91f8-2e4ca6

[2017-06-18 00:29] manaswis commented on #342
I agree. And I think those selector zooming things (don't remember the
actual names :P) would be helpful.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Sat, Jun 17, 2017 at 8:17 PM, Mikey Saugstad <notifications@github.com>
wrote:

[2017-06-18 00:44] jonfroehlich commented on #342
Area is better.

Sent from my iPhone

[2017-06-18 01:38] misaugstad commented on #622
Here are a few:

1. "Do you want to help us finish this neighborhood?"
2. "Do you want to help us finish auditing this neighborhood?"
3. "Do you want to help in auditing this neighborhood?"
4. "Click here to help finish this neighborhood!"
5. "Click here to help audit this neighborhood!""
6. "Click here to help find accessibility issues in this neighborhood!"

[2017-06-18 02:27] misaugstad commented on #691
For this table, the two critical things we need are

1. region_id
2. total_distance (sum of lengths of all streets in the region)
3. completed_distance (sum of lengths of all streets for which someone has completed an audit)

This is all that I currently need, but can we think of anything else that should go in there?

I am thinking that we can update the completed_distance field whenever someone

[2017-06-18 19:20] jonfroehlich commented on #691
This seems right.

Re: how to update it? I think incrementally updating it could work;
however, then we would have to make sure that these updates are done
correctly (as you say, would have to check that the street has not already
been audited previously before adding). These cascading calculations, I
think, can often be more trouble than they are worth (e.g., need to also
address cases when an au

[2017-06-18 19:29] jonfroehlich commented on #622
So, I have thought more about this:

Are we sure we don't want to allow people to audit neighborhoods that are
100% complete? Yes, this is redundant (and inefficient) but perhaps local
DC folks want to audit their own neighborhoods or at least look at them via
our interface... We could also track how often this happens.

Re: call-to-action. I guess we should decide whether we want a question
state

[2017-06-18 19:46] misaugstad commented on #691
There is actually a street_edge_assignment_count table that has a completion_count field. So whenever a user finishes auditing a street, the completion_count is incremented by 1 for that edge. Thus checking that the street has not already been audited is very easy.

And the reason I strongly believe that it should happen in real time is that users will want to do a mission, then immediately check

[2017-06-18 19:54] jonfroehlich commented on #691
I agree w the motivation part. Let's go with what you suggest then!

Sent from my iPhone

[2017-06-18 23:55] misaugstad commented on #622
I am not totally against letting them do that.

I like number 4 as well.

The database updates mentioned in #691 are done! Choropleth now loads in less than a second instead of in 10-15 seconds :) Will work on the legend now.

[2017-06-19 00:08] jonfroehlich commented on #622
Great! Can't wait to see it and play w it.

Sent from my iPhone

[2017-06-19 03:34] misaugstad commented on #622
Here is the full look right now! I'll draw up a version with 10 discrete colours on the legend too, but I don't think it will be necessary.

![full-choropleth](https://user-images.githubusercontent.com/6518824/27268597-8f3924e8-547e-11e7-97dd-9e463f90803e.png)

[2017-06-19 03:55] misaugstad commented on #622
And here it is with 10 levels in the legend:

![full-choropleth-10lvls](https://user-images.githubusercontent.com/6518824/27269013-6adc343e-5481-11e7-9fc1-a6d97fe0560e.png)

[2017-06-19 11:46] manaswis opened #693 "Decrease white space above the top-down mini map"
Due to updates made in the other issue fixes, the white space above the mini-map has increased. See screenshots below - notice the white space from the dotted line to the top of the mini map.

It should look like this:
![image](https://user-images.githubusercontent.com/2873216/27283563-ddd53058-54c2-11e7-9a46-7b17b5446311.png)

It currently is:
![image](https://user-images.githubusercontent.com/28

[2017-06-19 12:01] manaswis commented on #675
Updated in #671

![image](https://user-images.githubusercontent.com/2873216/27284111-6141fb22-54c5-11e7-90eb-f32bc8cd4680.png)

[2017-06-19 13:13] jonfroehlich commented on #622
I think if we use 10-levels for discretization, then the legend should accurately portray that. However, to reduce visual clutter. Perhaps you only label 10% 50% and 100%?

And 0% is not on the legend because it's an implicit range, [0-10%) ... (90 - 100%] or something?

[2017-06-19 13:28] jonfroehlich commented on #539
Thanks @maddalihanumateja. Have you contacted UMIACS about refreshing the credit card. Can you start a JIRA ticket if not (email staff@umiacs).

Did you fix the depth scraper issue?

[2017-06-19 14:11] manaswis opened #694 "Red line on the top-down map is displaced from the route"
![image](https://user-images.githubusercontent.com/2873216/27289009-7a5617ae-54d6-11e7-8860-c5fbeb7af6fe.png)

Screenshots showing the route at different points on this route (street Id: 5033; Direct Link: [on sidewalk-dev server](http://sidewalk-dev.umiacs.umd.edu/audit/street/5033)):

Start of the route:
![image](https://user-images.githubusercontent.com/2873216/27289077-ac5992a8-54d6-11e7-8c2e-

[2017-06-19 14:13] jonfroehlich commented on #694
This is just an isolated incident, right?

[2017-06-19 14:14] manaswis commented on #694
Yes. Haven't seen it on other streets.

[2017-06-19 14:15] manaswis commented on #694
Its present on the main server as well which means it hasn't been caused due to any recent updates.

[2017-06-19 14:16] maddalihanumateja commented on #539
1. Will contact UMIACS today. Do I need to ask them for an amount that will keep the scraper running for a specific period of time, till September maybe?
2. The depth scraper issue still needs to be looked at. We're getting the depth maps from google but the offline conversion process still isn't working. I'll hopefully be able to fix this today.
3. There's another issue with the actual code that

[2017-06-19 14:36] jonfroehlich commented on #694
I think the key thing here is that it is *not* a systemic problem, which your original issue did not make clear.

[2017-06-19 14:38] jonfroehlich commented on #539
Re: 1. Don't we use the same account for MTurk? If so, we will likely want to put more money on there. Regardless, I think estimating for Oct or even Dec is best.

Do we have clear instructions posted about: (i) how to setup the scraper from scratch on AWS and (ii) how to access the current scraper on AWS and the data?

[2017-06-19 15:00] chishankar commented on #504
Here is another mock up. Let me know what you think: @manaswis and @jonfroehlich

![fullbox](https://user-images.githubusercontent.com/25187819/27291528-781f8562-54de-11e7-87c3-4c6af6bbd14d.gif)

[2017-06-19 15:29] maddalihanumateja commented on #539
Anthony's repo has instructions for the setup, these aren't specific to aws/digital ocean. I've added documentation to my list of things to do.

[2017-06-19 16:05] jonfroehlich commented on #539
Thanks

Sent from my iPhone

[2017-06-19 16:16] tongning commented on #539
Out of curiosity, could you summarize what the errors are? Would be
interested to know whether they're errors I've encountered.

On Jun 19, 2017 9:05 AM, "Jon Froehlich" <notifications@github.com> wrote:

[2017-06-19 16:16] chishankar commented on #12
No not yet, I was focusing on the other UI Mission Dialog Box [<#514>](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/504)

[2017-06-19 16:22] manaswis commented on #544
Based on the discussions, we decided to remove training users about disappearing labels from onboarding and add it as part of the initial mission. An instruction shows up when the user labels for the first time and takes a step.

Here are some screenshots of the message that will appear:

![image](https://user-images.githubusercontent.com/2873216/27291022-fd3b56a6-54dc-11e7-9159-3b40f094003a.png)

[2017-06-19 16:26] manaswis commented on #544
The method to show the message is activated after the "Check both sides of the sidewalk" is dismissed. The reason for that is if the "Check both sides" message shows up after 25 meters. If the user labels just before that reaching that distance, then both messages will be triggered. Hence, kept it serial.

[2017-06-19 16:26] jonfroehlich commented on #544
I think I like the 1st one better but neither are particularly clear. Hard problem. Can you brainstorm alternatives w team.

Sent from my iPhone

[2017-06-19 16:49] manaswis commented on #690
#671 doesn't take care of OK buttons in mission dialog boxes

![image](https://user-images.githubusercontent.com/2873216/27295961-e9642490-54ec-11e7-9450-73d19909298e.png)

[2017-06-19 16:58] manaswis commented on #504
Nice one! I think its still a bit busy but I like it overall.

[2017-06-19 16:58] manaswis commented on #504
The message should be updated to "mobility impaired travelers" from "impaired travelers".

[2017-06-19 17:13] jonfroehlich commented on #504
Can you try a version where the labels are actually applied to the problem?
(So, shift them down.)

Can we also look into using the font that we use on the landing page (which
has a beautiful aesthetic imo!).

On Mon, Jun 19, 2017 at 12:58 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd

[2017-06-19 17:18] maddalihanumateja commented on #539
1.  With some Panoramas I'm getting an error with the PIL library function Image.open. (IOError: cannot identify image file)
2. decode_depthmap terminates and doesnt generate a .depth.txt for old GSV imagery (When we print "Panorama %s is an old image and does not have the tiles for zoom level"). I'm assuming its because decode_depthmap wasnt written to handle these.

[2017-06-19 17:26] misaugstad opened #697 "Integrate choropleth into landing page"
The main things to do here are:

- [x] Add it into the landing page in a way that looks really nice
- [x] Make the map more obviously clickable, mentioned by @manaswis in [this comment](https://github.com/ProjectSidewalk/SidewalkWebpage/pull/692#issuecomment-309433810).

This is the current state of the choropleth (legend touch up is still in order):

![choropleth-not-too-clickable](https://user-i

[2017-06-19 17:39] jonfroehlich commented on #697
So, you do have the hover support, right? That is, you move your mouse over
a region, and it becomes more outlined (or something). This will help
indicate to user's that it is interactive and possibly clickable--though
yes, this is too subtle.

The more explicit and hopefully salient would be to fix with header and
small content text. Something like (very drafty):

Header: 'Select a Neighborhood'

[2017-06-19 17:51] misaugstad commented on #697
Yep there is hover support; the outline becomes more pronounced, example:
![choropleth-hover](https://user-images.githubusercontent.com/6518824/27298396-728e8e1e-54f6-11e7-800b-508c50f6ebac.png)

An iteration on the text you put in...
Subt-title: "You are automatically assigned a neighborhood when you click 'Start Mapping', but you can also choose one by clicking on a region below!"

[2017-06-19 18:01] jonfroehlich commented on #697
I like your iteration.

Can we change outline color to pure black (or a much darker gray if we want
to avoid pure black)? And maybe decrease pen width by ~2 pixels? Play
around with it (I'll be able to give you better feedback when I can use the
tool).

Do you have a visual design idea for how to put this into landing page? Is
the map going to span the whole width (and be responsive to browser win

[2017-06-19 18:09] misaugstad commented on #622
@jonfroehlich

That is correct. So here is a new legend that isn't... it isn't *exactly* accurate, but it gets across what we want to get across. I just don't know how to freely move around the exact placement of the text.

![new-legend](https://user-images.githubusercontent.com/6518824/27299011-d640b76e-54f8-11e7-9340-fef84e8d2fba.png)

[2017-06-19 18:16] jonfroehlich commented on #622
I think this is great. I wonder if we need the 50% (I only ask because the
alignment of that label doesn't look particularly right to me. The other
two look good).

On Mon, Jun 19, 2017 at 2:09 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.c

[2017-06-19 18:16] misaugstad commented on #697
Yeah it looks a lot better with black.

![mouseover1](https://user-images.githubusercontent.com/6518824/27299256-bff639d8-54f9-11e7-96b9-254e4faa6cf2.png)
![mouseover2](https://user-images.githubusercontent.com/6518824/27299255-bff15828-54f9-11e7-8b98-9b1d1dcffa45.png)

[2017-06-19 18:18] misaugstad commented on #622
Brilliant idea! They know that 50 is between 0 and 100. Looks good without the 50.
![legend-no-50](https://user-images.githubusercontent.com/6518824/27299355-24d25aa8-54fa-11e7-8d8d-9e7a3bd6cbdd.png)

[2017-06-19 18:19] jonfroehlich commented on #622
great!

On Mon, Jun 19, 2017 at 2:18 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-19 18:24] jonfroehlich commented on #12
What's remainding TODO on this? The brushing interactivity? from https://github.com/ProjectSidewalk/SidewalkWebpage/issues/12#issuecomment-307269340

[2017-06-19 18:26] misaugstad commented on #697
No idea, never had to think about that sort of thing before :slightly_smiling_face: That sounds like a good idea to me I guess!

Duly noted.

I was thinking just before the "What is Project Sidewalk" as well. Since the preceding one it "How you can help", and it make sense to have the way for them to get in there and help directly after that!

[2017-06-19 18:30] jonfroehlich commented on #697
OK, give this a shot. Can't wait to see it!

[2017-06-19 19:19] adash12 commented on #288
![image](https://user-images.githubusercontent.com/13080218/27301668-0b2db298-5502-11e7-9c92-41a2211363cb.png)
Currently the way I'm calculating Visit Index and Start Mapping are from events logged in WebsiteActivityTable, Visit_Index and Visit_Audit. I count all of the Visit_Index and Visit_Audit activities (including those logged from the same IP address). The problem with doing it like this is

[2017-06-19 19:24] misaugstad commented on #288
I think that there are a lot of cases where we would want to keep track of the session. How hard would it be to start recording this?

[2017-06-19 19:27] jonfroehlich commented on #288
I don't think homepage refreshes are very common, so not sure this should be a key concern. Though I understand (and appreciate) your point. And agree with it.

Re: the visualization itself. You need to print raw % above each bar. In addition, perhaps we need not show Visit Index since that is always 100%, right? This would help with the flattening that has occurred, obscuring our ability to under

[2017-06-19 19:29] misaugstad commented on #288
What are some other reasons for the huge bounce rate then? According to Google Analytics, shown in [this comment](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/288#issuecomment-244433851), the bounce rate is ~50%, and @adash12 seems to be getting a bounce rate of ~99%. Something is up here!

[2017-06-19 19:30] misaugstad commented on #288
Since we switched from "participate" to "start mapping", are those considered different activities?

[2017-06-19 19:31] jonfroehlich commented on #288
Not sure. We will have to investigate further but I'm fairly confident that, in general, homepage refreshes are uncommon.

My suggestion to take out Visit Index stands (as do my other suggestions).

I doubt it. I think this is only a frontend change rather than a logging change.

[2017-06-19 19:45] sbower213 opened #698 "Browser information not properly stored"
Testing the mobile redirect with manaswi proved that certain browsers are not stored properly in the audit_task_environment table.

I tested this using Safari on iOS and no entries were stored in the table (possibly due to the GSV window not loading in safari?). It may be the case that other browsers and operating systems are not being stored properly; we should look into this.

Since we will redi

[2017-06-19 20:24] misaugstad commented on #697
Alright here is full width, looking at 80% zoom, 100% zoom, and 125% zoom on my browser. The full heigh didn't fit pas 90% zoom, which is why the 2nd two show two shots, one from top and one from bottom.

![lp80](https://user-images.githubusercontent.com/6518824/27304092-00cefefc-550b-11e7-930b-449ae40dc04f.png)
![lp100](https://user-images.githubusercontent.com/6518824/27304093-00cf95c4-550b-11e7

[2017-06-19 20:26] sagec108 opened #700 "After skipping tutorial interface, display "Let's get started""
The "Let's get started" pop-up does not display after choosing to skip the tutorial on tutorial interface.
![image](https://user-images.githubusercontent.com/20068009/27304404-f6571b7a-550b-11e7-90ae-4348a54cc3dc.png)

[2017-06-19 20:33] jonfroehlich commented on #700
What happens if you are an anonymous user, you take and complete tutorial, do missions, then come back later w same browser. Do we store a cookie or some other persistent artifact so we know that you competed tutorial at one point.

Sent from my iPhone

[2017-06-19 20:41] sagec108 commented on #700
We do not keep track of the anonymous user once he/she closes the browser session. Within the same browser session, if an anonymous user refreshes the page, the tool will treat the user as starting his/her first mission (you will see the let's get started pop-up each refresh). However, within the same browser session, we keep track of tutorial completion.

[2017-06-19 20:41] jonfroehlich commented on #697
Legend needs to be placed closer to choropleth. Maybe top left of DC.

For size, will have to evaluate interactive version.

Sent from my iPhone

[2017-06-19 20:50] manaswis commented on #700
We do store whether a user has completed the tutorial. That's why once you finish the tutorial, each time you load the page, the audit missions are shown directly. Hence, have to use incognito mode to get to the onboarding screen or click Retake Tutorial.

What Sage is saying is about tracking first mission. The "Let's get started" popup and other instruction pop-ups show only in the first mission

[2017-06-19 22:34] jonfroehlich commented on #700
Well, so, the key question is: is this the behavior we want or not?

[2017-06-19 23:46] manaswis commented on #288
We don't for anonymous users.

[2017-06-20 02:40] manaswis opened #702 "Jump doesn't occur when a pop-up shows up during its jump operation"
If you reach the end of route (i.e. "end of route" message shows up) and you completed the distance where the 'contributing a lot' message is triggered, the user is not jumped to the new location when the user clicks the jump message, and hence, pano doesn't change. But internally the new task is assigned, so the following "Uh-oh.." message shows up when user moves.

![image](https://user-images.g

[2017-06-20 02:49] manaswis opened #703 "'Let's take a step' pop-up shows up erratically in the middle of missions and can't dismiss it"
It shows up erratically during missions.

![image](https://user-images.githubusercontent.com/2873216/27314370-61a8517a-5541-11e7-9f49-e0442cf0f1f6.png)

[2017-06-20 02:50] jonfroehlich commented on #702
Nice catch @manaswis. Should we also tag these things with a priority level or is anything tagged Relaunch Testing instantly high priority. :)

[2017-06-20 02:53] manaswis commented on #703
Also, in addition, 'enter' key press doesn't work and hovering over OK, starts blinking the button. Something weird is happening.

[2017-06-20 02:56] sagec108 commented on #703
I think I know why this occurs. I'll try to fix it tonight.

[2017-06-20 03:00] misaugstad commented on #342
Okay how do they look now?

But first, some of my notes:
- For the daily audit and label count graphs, since basically a third of the data are 0's (due to this being a dump from December), the medians are 0 so you can't see them
- On a related note, the distributions in the histograms are thus overly skewed towards 0. So right now the histograms don't look very good, but I'd like to see how it loo

[2017-06-20 03:03] jonfroehlich commented on #342
Thanks for making these updates so quickly. We can work on the color scheme. :)

One thing I forgot to mention, I'd really like it if you could label the mean and median lines on the graph.

[2017-06-20 03:05] jonfroehlich commented on #698
Hmm, yikes, we should definitely try to fix this before relaunch. We will
want to have good, reliable information on our user's browsers and OSes.

On Mon, Jun 19, 2017 at 3:45 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> -

[2017-06-20 03:15] manaswis commented on #702
Yep, high priority. :)

Unless there is a bug that we don't want to solve for Relaunch, we can mark them as priority low.

[2017-06-20 03:24] sagec108 commented on #703
So I'm not sure if the "let's take a step" is appearing erratically because of my code. At least from what I've seen, the pop-up shows if the user has no taken a step and spun 360 degrees. For some reason, the pop-up will show after completing a mission and starting a new mission (continuing the previous audit). This may be because we added code to redirect someone to face the route given.

Beside

[2017-06-20 03:28] manaswis commented on #703
I also saw this happening.

You mean positioning the human avatar such that it faces the route?

[2017-06-20 03:32] sagec108 commented on #703
Well positioning the user's view to be facing the route definitely will change the currentHeadingAngle, which likely causes the Let's get started pop-up to appear after completing a mission.

[2017-06-20 03:37] manaswis commented on #703
Hmm, true. So then we should detect and store that first mission is done. That pop-up code is executed only in the first mission. SInce we load the first mission everytime a user refreshes the page, those messages also show up and triggered.

[2017-06-20 03:41] sagec108 commented on #703
Nevermind, I checked out my code from before I merged recent develop commits into the disable interactions branch. I found the erratic pop-up, so it should be due to something in my code (now unsure what).

[2017-06-20 03:51] sagec108 commented on #703
@manaswis Apparently "trigger("click")" only triggers the event handlers and not the default click behavior, so I changed it. The "Let's take a step" and "check out both sides of the street" pop-ups show when you start a new mission after completing another mission. Can you see if you still get the erratic pop-up with this slight change? I have not been able to reproduce it after this change.

[2017-06-20 12:51] manaswis commented on #703
Check both sides shows up even after it shown in the previous mission. Can you check if the first mission is detected and completed properly (in Main.js within `startTheMission()`)? Also, see the `handlerPositionUpdate()` within MapService.js. That's where these callbacks to show these messages are triggered.

![image](https://user-images.githubusercontent.com/2873216/27333813-2855eb22-5595-11e7-9

[2017-06-20 12:53] manaswis commented on #703
Oh I think you mentioned this problem in your comment. Missed it.

[2017-06-20 12:57] manaswis commented on #703
This is the error I get when I hit enter for the 'Check both sides of the street' message

![image](https://user-images.githubusercontent.com/2873216/27334181-739523b8-5596-11e7-9cb1-1348f87d8155.png)

[2017-06-20 13:03] manaswis opened #705 "Delete icon moves with you if the mouse was hovered over the label when user takes a step"
If the mouse pointer was hovering over the label, and the user walks using the keyboard, the delete icon goes with you unless you move the mouse pointer, at which point it hides. Looks like this:

![image](https://user-images.githubusercontent.com/2873216/27334403-36d38ce8-5597-11e7-8eb9-c8ef572653be.png)

![image](https://user-images.githubusercontent.com/2873216/27334382-282aae24-5597-11e7-8828-

[2017-06-20 13:04] manaswis commented on #705
To add, its not an artifact of the new changes. It exists on the main server as well.

[2017-06-20 13:07] manaswis opened #706 "When the context menu is open, and the user walks, the menu is detached from the label"
![image](https://user-images.githubusercontent.com/2873216/27334607-d871ae90-5597-11e7-88d9-1f8acf1fa50e.png)

The main server doesn't allow walking when the context menu is open. Which behavior do we want?

UPDATE:
Based on the discussion below, we want them to walk. So fix would be to auto-close the context menu when user walks.

[2017-06-20 13:08] jonfroehlich commented on #705
Seems like something @sagec108 could rock quite easily. :)

[2017-06-20 13:13] jonfroehlich commented on #706
Context menu should close if user tries to walk, don't you think?

On Tue, Jun 20, 2017 at 9:07 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-20 13:18] jonfroehlich commented on #702
Agree.

[2017-06-20 13:22] manaswis commented on #706
Sorry, wasn't clear before. I was asking between letting user walk when the menu is open (dev server) or not letting them walk (which is on main server).

I guess it makes sense to let them walk if they are done labeling and typing in the description (if they want to).

[2017-06-20 13:25] jonfroehlich commented on #706
I would treat a walk as another explicit interaction from user (like clicking on GSV pane, which automatically closes context menu). Thus, I suggest allowing user to walk and auto-closing context menu when that occurs.

[2017-06-20 13:30] manaswis commented on #706
Okay, sounds good!

[2017-06-20 13:34] jonfroehlich commented on #342
After you finish addressing these comments, I'd really like you to start focusing on the more user-centeric analyses in your checklist: that is, trying to better understand user behavior: how long do they spend on PS? how many missions do users complete? what does typical labeling behavior look like? what are the differences between registered vs. anonymous users? All of these questions, I think,

[2017-06-20 13:40] manaswis commented on #342
@jonfroehlich Shall I start reviewing the PR on the current changes to the admin page and integrate it with the dev server? Probably would be good for testing out these changes as well.

[2017-06-20 13:43] jonfroehlich commented on #342
Yes, if you can. I'm still not sold on this whole checklist thing--seems like an abuse of the github Issue system and it's hard for me to refer to explicit checkboxes in this comment thread. I'd imagine you can't refer to explicit checkboxes in commits and pull requests either...

[2017-06-20 13:45] manaswis commented on #342
Yes, that's true. You can't refer to them explicitly. I think Mikey used it for his personal use to check off things he needs to complete rather than us referring to it.

[2017-06-20 13:58] misaugstad commented on #342
I definitely think this should be done ASAP. I made changes to queries that affect other parts of the tool, including adding a new table to the database, so I really want that these changes to be included in all the testing on the dev server that happens. Adding a few more histograms and making cosmetic changes can be done later, even after relaunch, and don't need as much testing.

Do you mean th

[2017-06-20 14:03] jonfroehlich commented on #342
Yes. Probably should be located towards the top of graph to avoid overlap with other objects

Re: pre-relaunch vs. post-relaunch. I have been thinking of this as well. Not sure how to deal with it exactly but your suggestions make sense. I would prefer that you work on this post-relaunch, however, and focus on major analytics that we already brainstormed for relaunch. Oh, also, this line of thinki

[2017-06-20 14:08] sagec108 commented on #703
I think the erratic pop-ups and the pop-ups after starting a second mission should be fixed in my latest commit to the branch.

[2017-06-20 14:09] jonfroehlich opened #707 "Tutorial: Oops, Click Beneath The Flashing Yellow Arrow"
@manaswis brought up the fact that there is ambiguity with this message in the tutorial and that we may need to provide more guidance about *where* to label. For example, in this case, the user is actually putting labels beneath the flashing yellow arrow but too far away. So, perhaps a better approach would be to draw a flashing rectangle around where the user could place a label and update the Oo

[2017-06-20 14:12] jonfroehlich opened #708 "Tutorial: For Double Arrow, Should Switch Text Slightly"
Ideally, this message should say: "Oops! You labeled too far. Click beneath a flashing yellow arrow to label one of the curb ramps."

![image](https://user-images.githubusercontent.com/1621749/27337617-f230f364-55a0-11e7-9bf9-8601e52f28bc.png)

[2017-06-20 14:15] manaswis commented on #342
@jonfroehlich I created an issue for it - #653 but its not addressed yet. Relaunch system fixes took precedence. I can add that after the relaunch. We can note the date when it is launched. So it shouldn't be hard to populate it after the relaunch.

[2017-06-20 14:20] maddalihanumateja commented on #708
What about “Oops! Your label is too far away. Click on a curb ramp beneath a flashing yellow arrow to label it”?

[2017-06-20 14:31] jonfroehlich commented on #708
I like your suggestion significantly better than mine. :) Go with what @maddalihanumateja  said.

[2017-06-20 14:33] jonfroehlich commented on #342
@manaswis. Right, makes sense. We can go back and populate table. Thanks.

[2017-06-20 14:38] jonfroehlich opened #710 "Slight Update to "Contributing A Lot" Dialog. Increase Space Between Buttons."
The buttons are too close together.

![image](https://user-images.githubusercontent.com/1621749/27338960-772a06e8-55a4-11e7-9210-5b91310f56cd.png)

Perhaps we also want to make the benefits for signing up more clear. What are key ROIs to the user for doing this? (In the past, we were going to use it for leaderboard type things, etc.... but we obviously haven't had a chance to implement this stuff)

[2017-06-20 14:42] jonfroehlich opened #711 "New Tutorial Feedback"
In general, I think the (slightly) redesigned tutorial is better. I have two key concerns: (i) tutorial length and (ii) the introduction to walking is a bit confusing because of the size of the step (large distance) and because we don't animate the walk (like is typical); both contribute to a feeling of disorientation (i.e., "where am I?").

Some detailed feedback below.

My update text ideas are

[2017-06-20 14:47] jonfroehlich opened #712 "Small Project Sidewalk Logo Blurry"
We are relying on the web browser to resize the logo dynamically, which makes the reduced height logo a bit blurry. Instead, we should resize it in Photoshop to the correct size and use that when the header height is reduced.

![image](https://user-images.githubusercontent.com/1621749/27339396-c45f6c18-55a5-11e7-88e5-76c89a51a3b1.png)

Low priority but still important.

[2017-06-20 14:59] misaugstad commented on #711
I think that we should try to minimize the number of words, and once they have already successfully panned to the left twice, they should be able to use the visual cue of the hand grabbing the screen to know which direction to look in.

How about: "Great Job! We are almost done. Now, let's learn how to explore and find issues. Grab and drag the Street View Image."

I definitely think that we shoul

[2017-06-20 15:14] jonfroehlich commented on #711
I completely agree that we should minimize text as much as possible. I was trying to balance concision with clarity. However, I agree that some of my suggestions are too wordy and that we should work together to cut them down (as well as other messages in the interface).

Sent from my iPhone

[2017-06-20 15:19] sbower213 commented on #680
Do we have the original images used in these dialogs? I can't find them in the git repo. While I can probably use the patch tool to get rid of the arrows, it would be easier and cleaner if I had access to the original images without arrows.

[2017-06-20 15:28] jonfroehlich commented on #680
Not sure. :(

However, it's not like those images are perfect anyway.

You can view more examples here: https://www.dropbox.com/sh/bihfogrg7mf4c9k/AAAqRJTme7sNgnebc3LLWxu7a?dl=0

The screen recording tool I used for this is Camtasia: https://www.techsmith.com/video-editor.html.

You could clip and edit some of these into animated gifs. The key here, though, is that we want glanceable understandabi

[2017-06-20 15:46] manaswis opened #713 "User Dashboard broken - map doesn't scroll up"
Due to some css changes, the map doesn't scroll up. The rest of the content scrolls but beneath the map.

![image](https://user-images.githubusercontent.com/2873216/27342296-cb12a1e4-55ad-11e7-88ba-ae3e5d576c57.png)

[2017-06-20 15:56] adash12 commented on #288
![image](https://user-images.githubusercontent.com/13080218/27342861-5ad2f364-55af-11e7-8b22-8d1ec32c1f1f.png)
Removed Visit_Index as suggested, and got percentages to display. Currently working on logging anonymous users completing their first missions.

[2017-06-20 16:02] manaswis commented on #694
It happens for a few streets. I just updated the original issue post with another example. Its infrequent but happens.

[2017-06-20 16:07] jonfroehlich commented on #288
Shouldn't the graph always go down? Or are you individually calculating
retention at each step (i.e., the % shown is the % of users left in the
system who finish that step)....

On Tue, Jun 20, 2017 at 11:56 AM, Aditya Dash <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https:

[2017-06-20 16:15] adash12 commented on #288
The latter - at the main page an anonymous user can either start mapping or log in (or do something else that isn't shown in this graph). Each subsequent bar should be smaller than Start Mapping, but I think Sign-In and Start Mapping are still independent of each other.

[2017-06-20 16:20] jonfroehlich commented on #288
So, you are saying that 0.3% of our users click 'Start Mapping'? That seems incredibly small. And only 0.026% complete onboarding (that is, less than 3 users per 100 complete onboarding)? And then, basically, 0% complete their first mission (the label says '0.00000%').

In addition to completing first mission, how many: (i) apply at least one label; (ii) take at least one step?

[2017-06-20 16:27] manaswis commented on #288
I think it will be useful to test this code using a larger dump. Since he has a small local dump and could be that mostly researchers worked on it, the data is such. I'll send the link to the larger dump (until Dec 2016) on slack.

[2017-06-20 16:37] adash12 commented on #288
First mission has a placeholder value right now since I haven't implemented it. I think that the low values are due to the fact that refreshes on the home page log as new page visits under my method of calculation, and since the data dump I had was probably used by developers there were a lot of page refreshes. Hopefully the new data that Manaswi sent will provide more accurate results.

[2017-06-20 16:39] jonfroehlich commented on #288
OK, thanks.

On Tue, Jun 20, 2017 at 12:37 PM, Aditya Dash <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-20 17:20] jonfroehlich opened #715 "Do We Still Want the Browser Compatibility Message Shown For Firefox, Edge, and Safari?"
Do we still want this message shown or are we confident now in cross-browser compatibility with Firefox, Edge, and Safari?

![image](https://user-images.githubusercontent.com/1621749/27346404-1abdb0be-55bb-11e7-8fb8-a0a4113c9357.png)

[2017-06-20 17:46] adash12 opened #716 "Admin page: Onboarding time chart incorrect"
The chart on the admin page which shows bounce rate completion time and bounce rate displays inaccurate data.
![image](https://user-images.githubusercontent.com/13080218/27347406-746700d6-55be-11e7-87fe-a92fe7d064a2.png)

The times and bounce rates are calculated based on earliest and latest Onboarding_Transitions per audit task, but it's not checked if the last Onboarding_Transition is an outro t

[2017-06-20 17:48] jonfroehlich commented on #716
This ticket doesn't make any sense to me but hopefully has sufficient information for @manaswis and @misaugstad

[2017-06-20 17:50] adash12 commented on #716
I discussed with Mikey and he said I could go ahead and fix it.

[2017-06-20 19:04] manaswis opened #718 "Weird routes"
Logging some weird routes encountered. Not bugs.

Street Id: 25248

![image](https://user-images.githubusercontent.com/2873216/27349202-81103ffe-55c4-11e7-9401-70dc448bfabc.png)

![image](https://user-images.githubusercontent.com/2873216/27349229-8d74f744-55c4-11e7-83ff-e84136ace2e4.png)

After taking a step:
![image](https://user-images.githubusercontent.com/2873216/27349274-aaf1adc6-55c4-11e7-8b

[2017-06-20 19:07] jonfroehlich commented on #718
I think I have a similar thread about this somewhere...

[2017-06-20 19:09] sbower213 opened #719 "Tutorial: Deleting first curb ramp prevents tutorial from proceeding"
In the tutorial, if you delete the first curb ramp icon immediately after placing it (i.e. without rating), the tutorial will display the following message and not allow you to place any more feature icons:
![tutorial freeze](https://user-images.githubusercontent.com/8651110/27350985-f2652336-55c9-11e7-9690-0c775f9b3ea1.png)

While you can click the undo button to re-display the curb ramp icon, a

[2017-06-20 19:16] manaswis commented on #718
Street id: 7461

![image](https://user-images.githubusercontent.com/2873216/27351452-6cd57bce-55cb-11e7-8465-49699a31930a.png)

![image](https://user-images.githubusercontent.com/2873216/27351439-60af725a-55cb-11e7-8d3d-65671e3c651f.png)

![image](https://user-images.githubusercontent.com/2873216/27351381-24460536-55cb-11e7-839e-7c6c94ad101d.png)

[2017-06-20 19:16] manaswis commented on #718
@jonfroehlich Yes, I remember. You had the one with interesting panoramas.

[2017-06-20 19:17] jonfroehlich commented on #718
And I also had an Issue for crazy routes that I could not follow.

[2017-06-20 19:19] jonfroehlich commented on #719
Yikes, good catch. We should check what happens when you delete labels throughout different parts of the tutorial

[2017-06-20 19:21] manaswis commented on #719
Yes, currently its not handled. I'll add a message to tell the user to reapply the label by using undo/redo buttons if they deleted a label. Will also train them on undo and redo buttons.

[2017-06-20 19:21] sbower213 commented on #719
Just ran through the tutorial again. This also happens with the first missing curb ramp label placed, but not with the no sidewalk feature. I think the hangup is waiting for a rating on a current label when its been deleted.

[2017-06-20 19:22] jonfroehlich commented on #719
@sbower213 you should always include screenshots to improve understanding of your textual description.

[2017-06-20 19:23] manaswis commented on #719
Ideally, it will happen for all labels with ratings. We should make sure none of the labels are deleted during the onboarding process. I'll update it.

[2017-06-20 19:29] jonfroehlich opened #720 "Update "What We Do With Your Labels" Text On Landing Page"
![image](https://user-images.githubusercontent.com/1621749/27351806-9014299a-55cc-11e7-82a9-775ea7fc5979.png)

I think we should change: "Your contributions help train machine learning algorithms to identify accessibility issues automatically" to "Your labels are used to improve city planning, to forecast future accessibility problems, to build new accessibility-aware mapping tools, and to train m

[2017-06-20 21:42] jonfroehlich opened #721 "Are We Logging Interaction With New Choropleth Map?"
Are we logging when:
- users mouseover this map (probably lots of data and maybe not useful)
- when they click on a region
- when they actually click on 'click here'

Also, we should probably log the message that they are shown to inspire the click because I know this message changes...

Tagging @misaugstad

[2017-06-20 21:57] manaswis opened #722 "Edge case: User labels at a location which is also where the "end of a route..." message triggers"
The user labels (for the first time) at a location which is also the end of a route. The popup for GSV labels disappearing is shown after the jump (as it is triggered on the walk/position change after they apply the labels - which in this case is after jump).

![image](https://user-images.githubusercontent.com/2873216/27357723-6c6e1b3a-55e1-11e7-8c56-f9cdd1ff0fd9.png)

Is this the behavior we want

[2017-06-20 23:07] sagec108 commented on #700
I'm not sure. @manaswis said it was not the behavior but I can see that an experienced anonymous user would find seeing the same pop-ups again annoying. I have code to introduce initial mission instructions even after the user skips the tutorial, but we should unanimously decide on what behavior we want.

[2017-06-21 00:37] jonfroehlich opened #723 "Choropleth on Landing Page"
Overall, looks beautiful. Woohoo! Great job @misaugstad. Note: I have only tested it in Chrome on Windows 10 and a 30" monitor.

![image](https://user-images.githubusercontent.com/1621749/27361823-f12d3a8e-55f7-11e7-810a-6838d96db9e7.png)

Some comments.

1. Legend title from "Percent of Neighborhood Complete" to "Neighborhood Completion Rate"

2. Legend should be much larger and moved to a more s

[2017-06-21 00:38] manaswis commented on #700
According to me, the behavior should be this:

1. If the user is a new user (i.e. hasn't done the onboarding yet), even if the user skips the tutorial, the first mission with its instruction messages should load.

2. If the user does a couple of missions, in the first mission, the instructions should be shown.

Now, to address the larger issue. I think we should store if the first mission has been

[2017-06-21 00:38] misaugstad commented on #721
Good catch, yes definitely need to record this as well.

[2017-06-21 00:40] misaugstad commented on #691
PR #692 resolves this.

[2017-06-21 00:40] jonfroehlich opened #724 "Location of Movie on Landing Page"
With the choropleth on landing page, I wonder if it makes sense to move the movie somewhere? I think part of it is that it just looks a bit smashed up against the bottom of the choropleth map.

A few ways we could deal with this:

1. Put a whitespace (or some other colorspace) buffer between the map and movie

2. Similar to 1., change the movie presentation a bit so that the module is consistent w

[2017-06-21 00:40] misaugstad commented on #691
PR #692 resolves this.

[2017-06-21 00:40] #691 closed

[2017-06-21 00:41] misaugstad commented on #676
PR #692 resolves this.

[2017-06-21 00:41] #676 closed

[2017-06-21 00:45] misaugstad commented on #723
I wonder if not making it full width would help with both (2) and (3). DC is just not that wide anyway. Thoughts on how that would look?

[2017-06-21 00:53] jonfroehlich commented on #723
Sure, you can try it. What would go on left and right side? Just whitespace?

I guess we do have some visual precedent for this. While most modules span full width responsively, some are centered in middle (like "How you can help" module).

![image](https://user-images.githubusercontent.com/1621749/27362166-7bb2adcc-55fa-11e7-9e7e-d8e9953d12c6.png)

[2017-06-21 00:56] manaswis commented on #674
Closed via PR #677

[2017-06-21 00:56] #674 closed

[2017-06-21 00:57] manaswis commented on #657
Closed via PR #684

[2017-06-21 00:57] #657 closed

[2017-06-21 00:59] manaswis commented on #656
Closed via PRs #684, #696 and #701

[2017-06-21 00:59] #656 closed

[2017-06-21 00:59] manaswis commented on #654
Closed via PR #662

[2017-06-21 00:59] #654 closed

[2017-06-21 01:00] manaswis commented on #652
Closed via #677

[2017-06-21 01:00] #652 closed

[2017-06-21 01:00] manaswis commented on #614
Closed via #644

[2017-06-21 01:00] #614 closed

[2017-06-21 01:01] manaswis commented on #543
Closed via #696

[2017-06-21 01:01] #543 closed

[2017-06-21 01:02] manaswis commented on #542
Closed via #649

[2017-06-21 01:02] #542 closed

[2017-06-21 01:03] manaswis commented on #508
Temp fix in #629

[2017-06-21 01:04] manaswis commented on #498
Closed via #651

[2017-06-21 01:04] #498 closed

[2017-06-21 01:04] manaswis commented on #454
Closed via #658

[2017-06-21 01:04] #454 closed

[2017-06-21 01:06] jonfroehlich commented on #700
I think what Manaswi said is right... but we should discuss more tomorrow.

On Tue, Jun 20, 2017 at 8:38 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-21 01:07] manaswis commented on #453
It makes sense to close when its tested and merged with develop. Closed via #645.

[2017-06-21 01:07] #453 closed

[2017-06-21 01:08] manaswis commented on #437
Closed via #696 and #701.

[2017-06-21 01:08] #437 closed

[2017-06-21 01:08] manaswis commented on #228
Closed via #696

[2017-06-21 01:08] #228 closed

[2017-06-21 01:09] manaswis commented on #544
This text still needs some brainstorming. Any ideas @misaugstad @maddalihanumateja?

[2017-06-21 01:12] manaswis commented on #690
Closed via #671.

[2017-06-21 01:12] #690 closed

[2017-06-21 01:13] manaswis commented on #693
Closed via #671

[2017-06-21 01:13] #693 closed

[2017-06-21 01:13] manaswis commented on #706
Closed via #709

[2017-06-21 01:13] #706 closed

[2017-06-21 01:14] manaswis commented on #705
Closed via #709

[2017-06-21 01:14] #705 closed

[2017-06-21 01:16] #334 closed

[2017-06-21 01:16] #488 closed

[2017-06-21 01:16] #506 closed

[2017-06-21 01:16] #548 closed

[2017-06-21 01:16] #550 closed

[2017-06-21 01:16] #576 closed

[2017-06-21 01:16] #600 closed

[2017-06-21 01:16] #607 closed

[2017-06-21 01:16] #608 closed

[2017-06-21 01:16] #609 closed

[2017-06-21 01:16] #611 closed

[2017-06-21 01:16] #613 closed

[2017-06-21 01:16] #617 closed

[2017-06-21 01:16] #623 closed

[2017-06-21 01:16] #627 closed

[2017-06-21 01:16] #663 closed

[2017-06-21 01:16] #664 closed

[2017-06-21 01:16] #666 closed

[2017-06-21 01:16] #675 closed

[2017-06-21 01:16] #703 closed

[2017-06-21 01:16] #716 closed

[2017-06-21 01:17] #304 closed

[2017-06-21 01:18] manaswis commented on #595
Closed via #634

[2017-06-21 01:18] #595 closed

[2017-06-21 01:35] manaswis commented on #464
This should also be in relaunch.

[2017-06-21 01:36] manaswis commented on #278
Closing this. We have a dev server now :)

[2017-06-21 01:36] #278 closed

[2017-06-21 01:38] jonfroehlich commented on #464
Definitely. Related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/721.

[2017-06-21 01:39] jonfroehlich commented on #278
Hahah. That we do.

[2017-06-21 02:16] maddalihanumateja commented on #544
What about something on the lines of " your labels will remain visible on the mini map (flashing yellow) even if they disappear on street view" rather than "your labels will disappear"?

Sent from my iPhone

[2017-06-21 12:03] manaswis commented on #708
Updated:

For the two curb ramp corner:
![image](https://user-images.githubusercontent.com/2873216/27383227-05b468be-5658-11e7-9223-a8b6b4a9643d.png)

For others:

![image](https://user-images.githubusercontent.com/2873216/27383180-ce3a7612-5657-11e7-98b5-b34e6ea50f02.png)

[2017-06-21 12:19] manaswis commented on #707
I believe, this is true for all messages that has "beneath the flashing yellow". Did you just mean for Oops message or the regular labeling messages as well:

![image](https://user-images.githubusercontent.com/2873216/27383756-5a61c152-565a-11e7-9045-33037809a5ad.png)

[2017-06-21 12:37] jonfroehlich commented on #708
I like it.

On Wed, Jun 21, 2017 at 8:03 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-21 12:43] jonfroehlich commented on #707
I meant for the error message...

I mean, we could redesign the original message and not use arrows (and, instead, use a rectangular outline) but not sure if that is better and would take more work.

Also, I don't think this necessarily needs to be fixed for relaunch. :)

[2017-06-21 13:06] jonfroehlich opened #725 "Potentially Have Reset Map Button for Choropleth to Reset Zoom and Pan Location"
Potentially Have Reset Map Button (or link) for Choropleth to Reset Zoom and Pan Location to default.

![image](https://user-images.githubusercontent.com/1621749/27385486-de7f15b0-5660-11e7-8a0d-10ca4397ba68.png)

[2017-06-21 13:07] chishankar opened #726 "Embedded Youtube Video"
This happens on Safari and Chrome. Basically after the user has watched the video on the website, the youtube video gives suggestions based on what the user has previously watched on youtube.

<img width="960" alt="screen shot 2017-06-21 at 9 02 25 am" src="https://user-images.githubusercontent.com/25187819/27385488-dedc89e8-5660-11e7-9690-34c2580258ef.png">

This can be distracting to the theme o

[2017-06-21 13:11] chishankar opened #727 "Cumulative Statistics on the Front Page Bleeds Over in Safari"
This does not seem to be an Issue on Chrome, but on Safari the front page statistics bleeds over to the next section:

![screen shot 2017-06-21 at 9 08 37 am](https://user-images.githubusercontent.com/25187819/27385689-8049d1dc-5661-11e7-8f97-2b5f254db335.png)

[2017-06-21 13:13] jonfroehlich commented on #727
Good catch. Would be nice to fix this for relaunch... will have to see where this fits in our priority list.

[2017-06-21 13:22] chishankar commented on #726
This is also present on the FAQ page with other embedded YouTube videos.

![screen shot 2017-06-21 at 9 21 40 am](https://user-images.githubusercontent.com/25187819/27386249-2d00b0d4-5663-11e7-9485-ec4ff2782fd2.png)

[2017-06-21 13:25] adash12 commented on #638
Same for IE9.

[2017-06-21 13:31] maddalihanumateja commented on #727
This doesn't happen on the Firefox and Mac OS X combo either.

[2017-06-21 13:32] chishankar opened #728 "FAQ Page Off Center"
Not sure if this is a big problem or not, but the bottom of the FAQ page seems to be a little off center, this should be a quick fix though.

![screen shot 2017-06-21 at 9 28 37 am](https://user-images.githubusercontent.com/25187819/27386680-8c6d0b34-5664-11e7-8c23-4eb15f57d80a.png)

[2017-06-21 13:35] chishankar opened #729 "FAQ Links Calibration"
When clicking on "Is Google Street View a reliable data source?" , the page goes past the title a little further down than it should be.

Chrome:
![screen shot 2017-06-21 at 9 33 38 am](https://user-images.githubusercontent.com/25187819/27386755-c6c09224-5664-11e7-854b-c4c1ea994b92.png)

Safari:
![screen shot 2017-06-21 at 9 33 23 am](https://user-images.githubusercontent.com/25187819/27386756-c6c

[2017-06-21 13:36] chishankar commented on #729
I see that happening for most links. I am assuming it was programmed like that to get address the question. But maybe we can move the webpage up a little more so that the user can see the question that clicked on to see.

[2017-06-21 13:40] manaswis commented on #711
**Pts 2, 7, 8, 9**: Made the minor adjustments to the text for other instructions.

@jonfroehlich For the placement of "Your labels appear here too!":
![image](https://user-images.githubusercontent.com/2873216/27386150-eec4bc66-5662-11e7-8043-b2066d16b5f1.png)
Ignore the spacing issue in the above screenshot.

OR

![image](https://user-images.githubusercontent.com/2873216/27386946-54ce2310-5665-11

[2017-06-21 13:40] manaswis opened #730 "First mission messages should show up after onboarding for a new user"
As a new user, right after onboarding, the user should be shown the first mission pop-ups - if they are in their first mission. Currently, they don't appear.

[2017-06-21 13:41] manaswis opened #731 "First mission dialog should be different and more exciting"
From #711:

[2017-06-21 13:44] jonfroehlich commented on #638
I think we should emphasize Edge over IE9. MS will be aggressively pushing people off IE

Sent from my iPhone

[2017-06-21 13:45] jonfroehlich commented on #729
Agree

Sent from my iPhone

[2017-06-21 13:46] manaswis commented on #726
I don't think this is a browser specific issue, but correct me if I am wrong. We need to change the videos shown after the play through the website.

[2017-06-21 13:57] chishankar opened #732 "Safari Panning Stuck"
I just finished the tutorial and then started auditing American University. I went forward and and then came back and was stuck in a weird bug.

I put a video of the problem in SLACK as GitHub does not let me put the file in here.

[2017-06-21 13:58] jonfroehlich commented on #726
"through the website" is ambiguous.

I think you mean through YouTube. The landing page video was uploaded with
Rachael's account so we may need to reupload via my account (or a shared
Project Sidewalk account) so we have more flexibility.

On Wed, Jun 21, 2017 at 9:46 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland,

[2017-06-21 14:00] jonfroehlich commented on #732
Don't put the video in Slack. Issues need to be completely self-contained.
You can upload and link to YouTube. There are plenty of examples of this in
other github issues (e.g.,
https://github.com/ProjectSidewalk/SidewalkWebpage/issues/669).

On Wed, Jun 21, 2017 at 9:57 AM, Chirag Shankar <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryla

[2017-06-21 14:02] jonfroehlich commented on #711
It would be most efficient for me to talk to you about all of these things in person. :)

I have an idea for
![image](https://user-images.githubusercontent.com/1621749/27388170-bf01f65a-5668-11e7-9490-600da813c253.png)
that is far simpler, I think.

[2017-06-21 14:03] chishankar commented on #732
Yes sorry about that. Here is the Youtube Link to the issue.

https://youtu.be/3AfRAbI2YmI

[2017-06-21 14:04] jonfroehlich commented on #732
What does the console look like? Any error messages. When you create a github issue like this, you need to tell us as much as possible.

[2017-06-21 14:14] chishankar opened #733 "End of Audit Summary Dialog Box"
This does not seem to be a very big issue, this only happens when you zoom out past point in Safari.

![screen shot 2017-06-21 at 10 04 55 am](https://user-images.githubusercontent.com/25187819/27388738-5b49e8a0-566a-11e7-9ca2-e465f6ec8611.png)

[2017-06-21 14:14] maddalihanumateja commented on #711
1. I do agree that tutorial might be slightly lengthy however most of the time in the tutorial is spent on getting a 360 degree view and labeling curb ramps around the intersection. I think I remember previous discussions mentioning it was important for the users to commit this behavior to memory near intersections. I think over the shoulder testing will give us a better idea about the perceived t

[2017-06-21 14:24] misaugstad commented on #723
How does this look with the fixed width and a bit of a margin below the map to make the flow to the video a little nicer?

![fixed-width1](https://user-images.githubusercontent.com/6518824/27389142-8ec7d452-566b-11e7-8273-3f3c9540cdbe.png)
![fixed-width2](https://user-images.githubusercontent.com/6518824/27389233-cb894290-566b-11e7-8aa7-c80dc22e83da.png)

[2017-06-21 14:36] jonfroehlich commented on #723
Can you try a white background rather than orangish-tan.

Also, can you increase the width of the map a bit...

I'd like to compare this design to the others we have.

On Wed, Jun 21, 2017 at 10:24 AM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitt

[2017-06-21 14:36] chishankar commented on #732
Okay so I now know how to break the console on Safari. I broke it again in another area and I ran through the console and checked it out, but the console did not show any errors. If you look in the video, you can see the character moving in the Mini-map, but obviously the map itself is not moving which leads me to believe it may be a rendering problem.

[2017-06-21 14:37] jonfroehlich commented on #733
What do you mean? How did you get this messed up screen? What do you mean by "zoom out past point." Please do your best to create a more comprehensive report for bugs that you find.

[2017-06-21 14:46] sagec108 opened #734 "Edge case: Retaking tutorial while in the middle of a mission"
Because of how mission completion is counted (e.g. a jump adds to completion % because of distance), there is an issue with retaking the tutorial in the middle of a mission. If the user is halfway through a mission, then clicks on the "retake tutorial" button and completes the tutorial again, the user will be assigned another mission in a different area. This placement in a different area adds to

[2017-06-21 14:48] chishankar commented on #733
When I zoom out of the page to around %80 or so, it gave me that issue when I completed the mission.

[2017-06-21 14:51] chishankar commented on #733
So this only happens when you start to zoom out of the page.

![screen shot 2017-06-21 at 10 50 01 am](https://user-images.githubusercontent.com/25187819/27390506-6b1e0c70-566f-11e7-914b-f3ef87283be1.png)

Once you zoom in past %80 it is fine:
![screen shot 2017-06-21 at 10 50 09 am](https://user-images.githubusercontent.com/25187819/27390529-80de1e24-566f-11e7-936f-6298dab3934c.png)

In addition

[2017-06-21 14:59] chishankar commented on #732
Problem happened again, but this time I was not able to see anything:

![screen shot 2017-06-21 at 10 58 53 am](https://user-images.githubusercontent.com/25187819/27390994-b0cdbb5c-5670-11e7-874a-646392fb3b2c.png)

[2017-06-21 15:44] sagec108 commented on #700
Ok for now, I will make the instructions appear even if the user skips the tutorial as long as it is the user's first mission. These changes are in PR #735. The larger issue of tracking first mission completion within the same browser session is not included in the PR.

[2017-06-21 15:45] jonfroehlich commented on #734
For relaunch, should we disable 'retake tutorial' or try to fix?

On Wed, Jun 21, 2017 at 10:46 AM, Sage Chen <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-21 15:58] sagec108 commented on #734
I don't think it's necessary to disable retaking the tutorial (new users might forget some controls and need to refresh). However, we should look into disabling contributions to the mission the user was working on before retaking the tutorial. After retaking the tutorial, the user should really just be returned to that location/mission state.

[2017-06-21 16:17] misaugstad commented on #723
Here we are with width from 800px->1200px and a white background.

![white-background1](https://user-images.githubusercontent.com/6518824/27394822-8c80ec0a-567b-11e7-9c02-45d7e4103f7f.png)
![white-background2](https://user-images.githubusercontent.com/6518824/27394823-8c8139f8-567b-11e7-91d9-85605011643f.png)

And for width, keep in mind that this is on a large monitor with 80% zoom.

[2017-06-21 16:26] maddalihanumateja commented on #730
They seem to show up only when you use the keyboard arrows to pan and/or move forward.

[2017-06-21 16:41] sbower213 commented on #729
I think the links jump to the right place (according to the browser), but the navbar is hiding the content we want to see. Found some potential fixes [here](https://github.com/twbs/bootstrap/issues/1768).

[2017-06-21 17:12] sbower213 commented on #578
I emailed the UMIACS staff and they enabled gzip compression. After this change, [GTMetrix ](https://gtmetrix.com/reports/projectsidewalk.io/ikH3WdV2) notes that we have reduced our page size from 7.80MB to 6.55MB (still higher than the average of 2.62MB, but I feel this is unavoidable) and improved our PageSpeed score from 36% to 48% and our YSlow score of from 59% to 70%.

The remaining feasible

[2017-06-21 19:58] chishankar commented on #732
Update: this happens on Chrome as well. Here is the console message that it shows in this case:

<img width="1436" alt="screen shot 2017-06-21 at 3 57 00 pm" src="https://user-images.githubusercontent.com/25187819/27403998-83877d84-569a-11e7-895b-5bb6fc442219.png">

[2017-06-21 20:36] misaugstad commented on #720
How is this? I tried really hard to keep it to 4 lines.

![what_we_do](https://user-images.githubusercontent.com/6518824/27405315-18b7cbbc-569f-11e7-8171-cf22b4cdbd61.png)

If I include the part about forecasting, I don't see how to keep it to 4 lines, but with a 5th line we start hugging up against the next module, so we would need to shrink the image or increase the size of this module.

![what_

[2017-06-21 20:46] manaswis commented on #730
Yep, we noticed that too. That's a different issue than this one. Could you create one?

[2017-06-21 20:52] sbower213 commented on #698
OK, just added correct identification for the mobile devices that were being misrecorded. Jon mentioned comparing this to google analytics data to ensure that everything is correct, which I suppose should be done after this code lives on sidewalk-dev?

[2017-06-21 20:54] manaswis commented on #733
To simplify, it happens when you use the browser's zooming controls.

Where does that happen? I don't see it in the screenshot.

Side note: We use 'console' to refer to browser's console window. I think you are referring to the tool's interface.

[2017-06-21 23:34] misaugstad commented on #342
I've made a histogram of missions completed per user (not for a single session, counting all of their logins). First question I have: should I throw everything over 100 missions into its own bin like I did with the onboarding completion time histogram? Also the standard deviation seems wrong, but that may be a copy/paste error, will look into it.

![registerd-completed-missions](https://user-image

[2017-06-21 23:36] manaswis commented on #726
Sorry, that was a typo. I meant "throughout the website" - wherever videos are used so that is landing page and FAQ.

[2017-06-22 00:40] jonfroehlich commented on #698
Yes, we should. Steven, do you have a Google account? I can add you to our
Google Analytics for PS.

On Wed, Jun 21, 2017 at 4:52 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-22 01:04] jonfroehlich commented on #730
Was this new issue created?

On Wed, Jun 21, 2017 at 4:46 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-22 01:07] jonfroehlich commented on #720
I like the 4-line version better. Thanks for your edits.

Leah suggested: "... train machine learning algorithms to automatically find accessibility issues."

Which I like better. So, after that change, we should be good!

[2017-06-22 01:16] jonfroehlich commented on #342
Great. Glad we are getting started on the user-centric analytics.

1. Can you try switching bin size to 5?
2. I'd rather that we not have a catch all bin unless we really need it. I would prefer to see all of the data. It's fine if the bars shrink in width to compact the graph a bit.
3. What are the gray vertical lines for every 50 values on x-axis. I don't think we need them
4. Yes, please recomp

[2017-06-22 11:37] manaswis commented on #711
I like these suggestions. I will work on updating it. Grab and drag needs a bit more thinking. We don't want too many words.

[2017-06-22 13:40] misaugstad commented on #720
Closed via #738

[2017-06-22 13:40] #720 closed

[2017-06-22 13:42] misaugstad commented on #724
I gave 1. a shot, how does it look?

![white-background2](https://user-images.githubusercontent.com/6518824/27394823-8c8139f8-567b-11e7-91d9-85605011643f.png)

Does it look good, should I add a bit more of a buffer space, or should I try one of the other options?

[2017-06-22 13:45] misaugstad commented on #342
3. Those would be grid lines, common in graphs :slightly_smiling_face: Though they have no use on the x-axis in a histogram!

[2017-06-22 13:58] manaswis opened #739 "Remove footer from audit page"
In the first think aloud usability testing, we saw the page scrolling down created some trouble for the user to label as the label buttons were getting cut-off.

We should remove the footer from this page such that there is no scrolling. However, one point to note here is that FAQ page would be inaccessible directly from this page. There is an issue (#616) on  keeping a FAQ link next to the interf

[2017-06-22 14:00] misaugstad commented on #725
I like this idea. As I was looking at options I came across [a zoom slider](https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-zoomslider/) that looks nice.

Here is a screen grab from that page:
![zoombar-example](https://user-images.githubusercontent.com/6518824/27437769-51a3ff4e-5731-11e7-8f33-5ff1b04b1dd1.png)

I realize that the issue that we are trying to solve here is that the tiny +/-

[2017-06-22 14:03] manaswis commented on #725
Also, there is another point to consider -- After the user zooms, the zoom controls/reset zoom button should reposition so that its visible on the page regardless of the zoom level of the map. For example, currently, after zoom, the controls are not visible.

![image](https://user-images.githubusercontent.com/2873216/27437948-dae3c096-5731-11e7-8c00-8f385470bd4f.png)

[2017-06-22 14:06] misaugstad commented on #725
That is very weird, that doesn't happen to me! I will check that out on a few different browsers too. So you are on the landing page when you do that, and did you zoom in with the zoom control or did you click on a neighborhood to zoom?

[2017-06-22 14:15] jonfroehlich commented on #739
I think FAQ could go at the top menu next to 'Retake Tutorial' because that
menu right now is quite sparse.

I think cluttering up the buttons on left side is non-optimal. And those
buttons have to do with *interaction*, which the FAQ button clearly does
not.

On Thu, Jun 22, 2017 at 9:58 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
Univ

[2017-06-22 14:16] jonfroehlich commented on #724
I think I liked having the map full width tbh. Thoughts from others?

If we do full width map, then I think we should try suggestion 2 above.

[2017-06-22 14:24] misaugstad commented on #464
Quick question: Do we want the text boxes to be the same as in the choropleth where it says how much of the neighborhood has been audited?

[2017-06-22 14:29] misaugstad commented on #622
@jonfroehlich

Have you come to a conclusion on this? I don't really feel strongly in either direction.
Pros to letting them re-audit:
- letting people audit their own neighbourhoods
- the tool is capable of re-auditing so why not let it happen?
- it isn't unlikely that we are going to want things audited multiple times in the future

Cons:
- we would need to test the behaviour of the system under

[2017-06-22 14:31] misaugstad commented on #739
I really like that idea. Especially since there are so many ambiguous situations where a user may want to look at the FAQ for, so I like that bar at the top since it is a prominent place for it.

[2017-06-22 14:47] manaswis commented on #739
Sounds good.

[2017-06-22 14:49] jonfroehlich commented on #464
@misaugstad: I think so yes.

[2017-06-22 14:51] jonfroehlich commented on #622
I'm leaning towards allowing them to do it. We already allow it, actually, in the user dashboard because they can select previously audited neighborhoods. I have tested this behavior too, although not comprehensively.

[2017-06-22 15:06] maddalihanumateja commented on #724
I agree with having a full width map. It feels more consistent with the rest of the page and reduces the amount of vacant looking space.
I feel the “What is Project sidewalk?” section is too far down the page in any case.
I like option 2. of making the movie module consistent if we have the time and I would also change the position of the html container to after the initial “Lets create a path for

[2017-06-22 15:07] manaswis commented on #725
So I did some more testing and this is what I found:

1. When the zooming controls are visible, and then you click one of the neighborhoods,
 the controls automatically reposition.

![image](https://user-images.githubusercontent.com/2873216/27440947-25c081fa-573a-11e7-8426-99140e7808a6.png)

![image](https://user-images.githubusercontent.com/2873216/27440973-30ffe290-573a-11e7-89ad-f7cf0a07119d.pn

[2017-06-22 16:25] sbower213 commented on #698
Sure, my main Google account is sbower@terpmail.umd.edu.

[2017-06-22 16:41] jonfroehlich commented on #698
Done. You should have gotten a notification, I believe.

On Thu, Jun 22, 2017 at 12:25 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-22 16:43] jonfroehlich commented on #724
What do you mean by "html container" -- is this synonymous with what I have been calling 'module' in the text above?

[2017-06-22 18:26] misaugstad commented on #724
Thoughts on the current look?

![what_is-separate](https://user-images.githubusercontent.com/6518824/27449524-b350e8cc-5756-11e7-9030-0bcdf3966f9d.png)

[2017-06-22 18:31] jonfroehlich commented on #724
Need '?'. Also, need sub-title--perhaps that says 'Click on the movie below
to learn more'

Also, Teja suggested moving this up. Thoughts on this?

On Thu, Jun 22, 2017 at 2:26 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich>

[2017-06-22 18:37] misaugstad commented on #622
Does it change your mind at all, since in [this issue](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/464#issuecomment-310403213) we were thinking that the user dashboard should have the same text as on the admin page's choropleth? So this decision applies to both situations.

If we want to allow them to re-audit a neighbourhood, I'm having trouble thinking of nice wording to use. Right

[2017-06-22 18:39] misaugstad commented on #724
I think that it makes sense to have the explanation of what PS is early. My first concern would have been it looking weird with two videos butting up against each other, but with the separate title, I am no longer concerned about it.

[2017-06-22 19:05] manaswis commented on #622
I vote for 3 and change the word "audit"

[2017-06-22 19:08] manaswis commented on #622
Maybe replace audit with "find issues"

[2017-06-22 19:19] misaugstad commented on #622
Thanks! I think this looks pretty good:

![100-text-change](https://user-images.githubusercontent.com/6518824/27451730-241463e8-575e-11e7-9586-234b86eb126e.png)

It was already going to spread to a 2nd line anyway, so I added the word 'accessibility'

[2017-06-22 19:26] misaugstad opened #741 "Remove Progress.js build file from Github"
In the public/javascripts/Progress/ directory, there are src and build directories. In other places, e.g., public/javascripts/Admin, there is no build directory, as they should be automatically generated.

Is anyone aware of a reason that the Progress.js build file is also being tracked in Github?

[2017-06-22 19:27] manaswis commented on #622
I like it.

[2017-06-22 19:47] misaugstad opened #743 "Choropleth initially loads with wrong style"
When loading the choropleth on either the landing page or the admin dashboard, the maps seems to be initialized with one style, then the correct style is soon overlayed.

Here is what it looks like as it updates:

![mid-update](https://user-images.githubusercontent.com/6518824/27452709-9758e484-5761-11e7-923a-aaf71327e61a.png)

Manaswi has mentioned that when missions are completed, the style of t

[2017-06-22 20:00] jonfroehlich commented on #743
I didn't notice this before. Is this a new problem?

On Thu, Jun 22, 2017 at 3:47 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-22 20:02] jonfroehlich commented on #622
For the 100% complete case, may I suggest:

**<neighborhood:>** 100% Complete!
This neighborhood complete (woohoo!). If you still want to explore this neighborhood for accessibility problems, click here.

Or something...

[2017-06-22 20:04] jonfroehlich commented on #741
Who checked it in originally?

[2017-06-22 20:07] jonfroehlich commented on #724
@misaugstad: I totally agree. I was worried about that too. I think the 'What is PS?' movie could either be the 2nd module (just after the first movie) or the 3rd module (just after the 'animated gif' style how to use PS module).

Can we try both and paste what they look like here?

[2017-06-22 20:11] misaugstad commented on #743
I don't think anything has changed. So it may be that I did most of my testing on a machine connected to ethernet with a really good graphics card so it was less noticeable.

[2017-06-22 20:18] manaswis commented on #741
Looking at the [history](https://github.com/ProjectSidewalk/SidewalkWebpage/commits/master/public/javascripts/Progress/build/Progress.js), it was originally checked in by Kotaro. But there were a couple of commits where this file was deleted and in the corresponding one, it was added again. So not sure what was happening. We could try deleting it.

[2017-06-22 20:22] jonfroehlich commented on #741
No idea. Does it matter for relaunch? If not, deprioritize please.

On Thu, Jun 22, 2017 at 4:18 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-22 20:27] misaugstad commented on #724
Do we prefer "click on" or "check out"?

And I suggest "video" > "movie"

[2017-06-22 20:27] manaswis commented on #741
Yes, definitely not for relaunch. This issue was added to deal with it later.

[2017-06-22 20:31] jonfroehlich commented on #724
I agree with both of your suggestions. :)

Check out and video are both better! :)

[2017-06-22 20:35] misaugstad commented on #725
The zoom slider seems to work well and look good to me. It also helps with the issue Manaswi brought up because it is a lot longer so one is much less likely to lose track of it.

![zoom-slider](https://user-images.githubusercontent.com/6518824/27454680-c2ae5572-5768-11e7-866c-95edc4b9b66f.png)

[2017-06-22 20:51] jonfroehlich commented on #725
I really think the legend needs to be more prominent. Can you at least increase size and font?

Sent from my iPhone

[2017-06-22 21:07] misaugstad commented on #724
Here are the two options; I used 2 images for each so you could see the two borders more clearly.

As module 2:
![module2-1](https://user-images.githubusercontent.com/6518824/27455980-327f2ddc-576d-11e7-87de-f459711d80a1.png)
![module2-2](https://user-images.githubusercontent.com/6518824/27455978-3252e1b4-576d-11e7-90f4-6fe69976418e.png)

As module 3:
![module3-1](https://user-images.githubusercon

[2017-06-22 21:09] misaugstad commented on #725
Yep, still on the to-do list, unfortunately!

[2017-06-23 01:30] jonfroehlich commented on #724
You should use a snapshot tool that allows you to capture an entire website in a PNG like: https://addons.mozilla.org/en-US/firefox/addon/screenshot-capture-annotate/ (I believe this is also available for Chrome).

In terms of preferences, I think I like this order:
1. "How you can help"
2. "What is Project Sidewalk?"
3. Choropleth
4. Your work is making a difference

And for 2., I think we can go

[2017-06-23 02:16] jonfroehlich commented on #578
Thanks @sbower213. This is great!

The landing page video continues to be choppy from time-to-time on my Windows box at school. I'll try to get a screen recording so you can see what I mean. Again, not sure if this is RAM or CPU.

[2017-06-23 12:58] misaugstad commented on #724
Thanks for the tip!

[2017-06-23 14:28] manaswis opened #750 "Tutorial: Add red line route to the top-down mini map"
Add a red line route to the top-down mini map. Then when the user walks towards the location, it changes to green for the part they walked. This is to simplify the "Follow the red line" instruction text.

![image](https://user-images.githubusercontent.com/1621749/27388170-bf01f65a-5668-11e7-9490-600da813c253.png)

This will enable users to practice walking where they see the red-to-green color cha

[2017-06-23 16:29] sbower213 commented on #715
In slack we noted that we shouldn't focus our testing on Edge; but in using it to test browser recognition I couldn't help but notice that on the /audit page, the cursor does not update on the GSV pane when selecting a new label. So maybe we leave the message for Edge? Edge users don't make a sizeable portion of our users, though (1.3%, iirc), so maybe it is not as important.

[2017-06-23 16:40] jonfroehlich commented on #715
Let's make a new issue about this and deal w it post relaunch. If other browsers do work (pass our stress testing) then we should obv not show that compatibility message

Sent from my iPhone

[2017-06-23 19:43] jonfroehlich opened #753 "Project Sidewalk Twitter Icon Now Cutoff Because of New Circle Avatar Design"
![image](https://user-images.githubusercontent.com/1621749/27497872-a916279e-582a-11e7-8664-888458e0b2b8.png)

[2017-06-23 19:50] jonfroehlich commented on #514
Just switched it to @projsidewalk (because @ProjectSidewalk was already taken).

We need to update the link in the footer. @r-holland, can you do this?

![image](https://user-images.githubusercontent.com/1621749/27498118-98cf4f0e-582b-11e7-8c04-0a2fcfa35639.png)

[2017-06-23 20:07] r-holland commented on #514
Are you sure it's @projsidewalk? I tried that link on twitter and it says there isn't any account under that name.

[2017-06-23 20:08] jonfroehlich commented on #514
Hmm, maybe change hasn't propagated through Twitter yet. We should check in ~24 hours.

![image](https://user-images.githubusercontent.com/1621749/27498680-38fa47fc-582e-11e7-949b-824733dea721.png)

[2017-06-23 20:10] r-holland commented on #514
Yeah, I branched and changed the link but it is giving me this:
![image](https://user-images.githubusercontent.com/19720010/27498723-6a2796ae-582e-11e7-8247-9dd24b86bdec.png)
I can check again tonight. Once the link works I'll submit the PR.

[2017-06-23 20:11] jonfroehlich commented on #514
thanks ryan

On Fri, Jun 23, 2017 at 4:10 PM, Ryan Holland <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-24 13:53] maddalihanumateja opened #755 "Sign-in during missions changes progress"
Related to #734 and #285. Signing in during the middle of a mission adds to current mission progress after jumping to a new mission.

[2017-06-24 14:25] misaugstad opened #756 "What else should we log on the landing page?"
Here are some interactions on the landing page that we do not currently log (this is meant to be exhaustive, not all of these are useful):

1. Clicking "Sign in" (we log if they sign up, but not if they click on it and then close the box)
2. Clicking on any of the tabs in the "How you can help" module
3. Clicking on a neighborhood in the choropleth (we log if they click on "click here" to start au

[2017-06-24 18:32] jonfroehlich commented on #756
I think logging all of these things is potentially useful though I agree that most is *likely* low ROI--together, however, these metrics may offer us a sense of overall engagement from users.

So, I would like to log these things. I imagine @adash12 could implement and test this relatively quickly.

Of the above list, I consider 3 most important (and indeed, I've thought about suggesting about log

[2017-06-24 19:35] jonfroehlich commented on #285
I see a pull request has been submitted for this issue but it's unclear to me what, exactly, is being addressed. There are multiple important things in this thread, which I emphasize in my comments above. To summarize:

* If anonymous user selects the sign-in option, they are pushed to a new mission rather than simply continuing their current one (as one would expect). The current behavior is demo

[2017-06-24 20:13] jonfroehlich commented on #718
Update. Our users are now complaining about this:

![image](https://user-images.githubusercontent.com/1621749/27511655-fc373774-58f7-11e7-8a27-d955af50ef30.png)

Can someone investigate this more closely and see, for example, what neighborhood and routes this anonymous user was auditing?

[2017-06-24 22:41] maddalihanumateja commented on #718
I tried to use the admin playback tool for this task.
My browser just keeps becoming unresponsive.
Maybe someone else should try looking at this.

[2017-06-25 11:32] manaswis commented on #718
This is the street the user was auditing. Direct link where you can try it out - http://sidewalk-dev.umiacs.umd.edu/audit/street/26025

Here is the screenshot:

![image](https://user-images.githubusercontent.com/2873216/27513441-cf272bb8-5933-11e7-823c-2c5d330fb620.png)

If you double click on the screen anywhere, you enter the tunnels, which is why it got confusing to follow the routes. Plus the

[2017-06-25 11:36] jonfroehlich commented on #718
Thanks Manaswi. This is the same problem I was having in downtown D.C. by the federal buildings. Maybe we should have an ugrad fully audit these neighborhoods and document problems.

Sent from my iPhone

[2017-06-25 16:33] misaugstad commented on #756
Then @adash12 do you think you could start working on this?

Start with 3, submit a PR, then we will see where we are at w.r.t. relaunch at that time.

[2017-06-25 16:34] misaugstad commented on #756
Oh, and I don't think that the specific neighborhood that they click on needs to be included in the logging, just that *a* neighborhood has been clicked on.

[2017-06-25 17:20] jonfroehlich commented on #756
Why not just include that extra info?

Sent from my iPhone

[2017-06-25 17:33] misaugstad commented on #756
Mostly just to make analyzing the data easier, when I doubt that we will use that info. But yeah that's not really that good of a reason, so I retract my suggestion :)

[2017-06-25 18:14] misaugstad commented on #342
After a hard-fought battle with Scala, Slick, and SQl, I have won. And here is a histogram of missions completed by "anonymous users"

![anon_mission_counts](https://user-images.githubusercontent.com/6518824/27518528-e7a9202a-59af-11e7-804d-661ef78edd7e.png)

Making the x-axis labels integers and adding the mean/median labels to the legend or graph is still coming. But on to the more pertinent que

[2017-06-25 23:23] misaugstad commented on #342
Here is another graph! Jon is messing with the data :smirk:

![logins-per-user](https://user-images.githubusercontent.com/6518824/27520521-9f14971e-59db-11e7-9e29-b1ae375f7b5f.png)

[2017-06-26 01:41] jonfroehlich commented on #342
Yikes, we may want y-axis to be logarithmic here otherwise overpowers other data...

[2017-06-26 01:54] jonfroehlich commented on #756
I think thinking about and making the data easier to analyze is a *very*
good reason--but I just don't see how that argument works in this case.

On Sun, Jun 25, 2017 at 1:33 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> -

[2017-06-26 11:09] manaswis opened #758 "Mini footer visible under the onboarding intro/outro dialog box screen"
Mini footer visible under the onboarding intro/outro dialog box screen. See screenshots:

Footer visible under the dialog box:
![image](https://user-images.githubusercontent.com/2873216/27536628-079f5ca8-5a3e-11e7-9733-46e6a13a0592.png)

Closer look:
![image](https://user-images.githubusercontent.com/2873216/27536663-2c3d4cc8-5a3e-11e7-829e-607232f6d280.png)

When deployed on the server:
![image](

[2017-06-26 11:14] manaswis opened #759 "FAQ button link should open in a new tab"
The newly added FAQ Link on the navbar should open in a new tab.

![image](https://user-images.githubusercontent.com/2873216/27536870-0e2c8fea-5a3f-11e7-8ca7-715c43fbc5b0.png)

[2017-06-26 11:17] jonfroehlich commented on #758
What's the desired behavior here?

Sent from my iPhone

[2017-06-26 11:18] jonfroehlich commented on #759
Not sure about this. Is the reasoning because otherwise you lose your place in the mission?

Sent from my iPhone

[2017-06-26 11:29] manaswis commented on #759
Yes that's right. The users can go back and forth between the tabs to learn more.

[2017-06-26 11:31] manaswis commented on #758
It shouldn't be visible in this way. I think it should either be visible completely or hidden completely when the intro/outro dialog is shown.

[2017-06-26 12:55] jonfroehlich commented on #759
Ok. I think that sites that open links in new tabs can be confusing for non-technical users but this is a better option than losing current position in mission.

Sent from my iPhone

[2017-06-26 12:56] jonfroehlich commented on #758
Probably easiest to hide it then.

Sent from my iPhone

[2017-06-26 13:31] adash12 opened #760 "Gitignore file has incorrect directory"
`public/javascripts/Admin/Progress/*` is not a directory while `public/javascripts/Progress/build/*` is.

[2017-06-26 13:41] misaugstad commented on #760
This explains #741

Make sure to search for open issues whenever you encounter something new :)

[2017-06-26 14:21] manaswis commented on #708
Closed via PR #748

[2017-06-26 14:21] #708 closed

[2017-06-26 14:49] adash12 commented on #514
The links in the "What People are Saying" section need to be updated as well

[2017-06-26 15:24] adash12 commented on #756
Would we went to log right-click or middle click events as well, for example on the press links? I know that personally I tend to open links with middle clicks, but I don't know how common this behavior is.

[2017-06-26 15:25] jonfroehlich commented on #756
We really just want to log that the link was opened...

On Mon, Jun 26, 2017 at 11:24 AM, Aditya Dash <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-26 15:38] misaugstad commented on #342
I am realizing that it can be quite difficult to make a histogram of integers on a log scaled x-axis look good!

I think that we need a table of researchers (that you had mentioned earlier) so that we can be removed from graphs like this. 5 out of the 6 highest values in this graph are from researchers, and there is really no reason to include us in this graph. For most of the user-centric graphs,

[2017-06-26 15:40] jonfroehlich commented on #342
@misaugstad: I was thinking you would do log scale on y-axis, which seems simple enough imo.

Re: table. Yes.

[2017-06-26 15:43] sbower213 commented on #578
OK, I think the changes I'm about to push are going to noticeably improve performance:

Most notably, I created a .webm version of the main video on the landing page. This reduces the filesize by about 4.4MB (53%) on browsers that support webm playback - chrome, firefox, opera (and apparently edge, but I was unable to display the webm video with it) - without a significant drop in quality.

Compar

[2017-06-26 15:52] r-holland commented on #227
**Possibilities for left sidebar hover over text:**

I assume we want the hover over text appearing to the left, where there is blank space. All of these messages are short, as there is not much space to the left and I tried to fit everything on one line of text.

Sound:
![image](https://user-images.githubusercontent.com/19720010/27545567-1d216b96-5a5e-11e7-9a63-9292b739d01a.png)
![image](https://

[2017-06-26 18:22] jonfroehlich commented on #578
Great work @sbower213. Here's a video of the slowness on my Win7 machine: https://youtu.be/nbosphxaM7c (Intel Xeon E31245 at 3.30GHz with 16GB of RAM). I'll check again once this is pushed to sidewalk-dev. Incidentally, how do you open the Google Chrome Task Manager--I always forget. :)

[2017-06-26 19:13] sbower213 commented on #578
Shift-Esc!

And thanks for the video; the issues I saw on the MacBook in here weren't nearly as bad as the video you shared. Incidentally, the MacBook's processor has a better GPU (Intel HD Graphics 4000 as opposed to the P3000 on your processor), maybe this is contributing to the slowdown? Your processor is also about 6 years old; it's quite possible that it simply wasn't built to stand up to the

[2017-06-26 19:30] jonfroehlich commented on #578
Thanks. Will test again once this is pushed to sidewalk-dev.

[2017-06-26 19:59] jonfroehlich commented on #718
Can @chishankar or @sbower213 take this on? Start screen recording your missions as you walk around the Waterfront DC neighborhood so that we have good evidence of what's happening.

Note: I also had this issue for Region 251 "Monumental Core, DC' where I would alternate between above ground and below ground (in a tunnel) as I was walking through the region.

[2017-06-26 20:00] misaugstad commented on #342
@ myself, in answer to my question about defining an anonymous user, it seems that there was discussion about this before I arrived, noticed when reading through #323

[2017-06-26 20:04] jonfroehlich commented on #323
Update, since @misaugstad just referenced this in https://github.com/ProjectSidewalk/SidewalkWebpage/issues/342. Task here is/was defined as completely at least one street segment (@manaswis could correct me if I'm wrong).

[2017-06-26 20:05] misaugstad commented on #323
@jonfroehlich Having worked with the code yesterday, I can confirm that this is the case.

[2017-06-26 20:07] jonfroehlich commented on #323
And kudos @misaugstad for sleuthing all the way back through closed issues. Ah, what fun it is to join a giant, multi-year project! :)

[2017-06-26 20:12] sagec108 commented on #713
Resolved in PR #736.

[2017-06-26 20:12] #713 closed

[2017-06-26 20:15] misaugstad opened #767 "Link Audit Tasks to Missions in the database"
The way the database is currently set up, there is a unique "mission_user_id" assigned each someone starts a new mission (this is a globally unique id). However, it is not directly associated with audit tasks. To associate a mission with an audit task (and then labels, etc), one needs to search for "MissionComplete" actions in the audit_task_interactions table, group them by region, and compare th

[2017-06-26 20:53] sagec108 commented on #549
I found an instance of a crosshair instead of a cursor. I noted that while there were no console errors, the css cursor for the view layer was:

![image](https://user-images.githubusercontent.com/20068009/27559824-f5a9bb7c-5a8f-11e7-8705-b629f11c4818.png)

I'll see if I can change this sometime after relaunch.

[2017-06-27 00:18] manaswis commented on #514
Closed via PRs #754 and #768

[2017-06-27 00:18] #514 closed

[2017-06-27 10:05] manaswis commented on #710
Closed via PR #740

[2017-06-27 10:05] #710 closed

[2017-06-27 14:22] misaugstad commented on #767
[Here is some discussion](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/297#issuecomment-259535021) about modifying the database from last year... (from issue #297)

[2017-06-27 16:00] sagec108 opened #769 "Labels from tutorial can be retrieved by using undo and redo buttons repeatedly"
After completing the tutorial, I can retrieve labels placed in the tutorial by using undo and redo buttons in the mission. In the picture below, I had not placed any labels beside those in the tutorial.

![image](https://user-images.githubusercontent.com/20068009/27597323-059e5a24-5b30-11e7-944c-46fcc8ebfb36.png)

[2017-06-27 16:04] jonfroehlich commented on #769
Clearly, the undo/redo stack needs to be cleared after finishing tutorial. Good catch Sage.

(Should we also clear the undo/redo after finishing a mission and after jumping--probably).

[2017-06-27 16:23] sagec108 opened #770 "Panning with mouse inconsistently triggers "Let's take a step" pop-up"
Normally, panning around an intersection (after 360 degrees) without moving at the start of the mission will trigger the "Let's take a step" pop-up. This generally works as intended with keyboard panning.

Mouse drag panning does not always have the intended effect. Sometimes the pop-up will only show after rotating 720+ degrees.

[2017-06-27 17:09] manaswis commented on #730
Closed via PR #735

[2017-06-27 17:09] #730 closed

[2017-06-27 18:08] misaugstad commented on #767
Also need to keep issue #480 in mind.

[2017-06-27 18:43] r-holland commented on #753
I agree it would look better not cut off.

This should be an easy fix, using a pic of the logo with more white space, I got the logo on the left. I assume we want this one, our logo as our twitter icon, but I included two more quick ideas just in case (I demoed them on my twitter to make sure they fit, so this is with my twitter background).

![twitter](https://user-images.githubusercontent.com/19

[2017-06-27 18:47] jonfroehlich commented on #753
Yes, one on left is best and is what i was thinking.

On Tue, Jun 27, 2017 at 2:43 PM, Ryan Holland <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-27 18:52] r-holland commented on #753
I don't have the twitter password to change the logo. Should I just send the image to you? It's simply just the normal logo with added white space.

[2017-06-27 18:54] jonfroehlich commented on #753
I can give you the login/pw. Come to my office.

On Tue, Jun 27, 2017 at 2:52 PM, Ryan Holland <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-27 19:56] jonfroehlich commented on #718
How come no one has taken this on yet? Are there higher priorities? (There very well could be but this one seems big to me because I feel like at least two major neighborhoods are not currently usable in PS because of this weird routing problem).

[2017-06-27 20:17] jonfroehlich commented on #719
We need to fix this. I think either @manaswis or @sagec108 or @maddalihanumateja could do it.

[2017-06-27 20:18] manaswis commented on #719
Its already in progress.

[2017-06-27 20:21] r-holland commented on #731
Is adding the word 'first' and bolding that text enough of a change to "make it more exciting"? This is currently what I have showing up for the first mission text. Thoughts?

![image](https://user-images.githubusercontent.com/19720010/27608171-72efb504-5b54-11e7-80de-89beafd10c04.png)

[2017-06-27 20:28] jonfroehlich commented on #731
Well, we really need to re-design all of the mission specific dialogs and the gamification aspects in general but this is good enough for now and certainly addresses the issue. :)

Note that this should only be for the first mission.

[2017-06-27 20:28] r-holland commented on #718
@misaugstad just assigned me to screen record some speed runs, so I'll start to take this on

[2017-06-27 20:29] manaswis commented on #731
How is "First mission: Audit 1000ft of X" as the title? And then remove first mission from the mission dialog box?

[2017-06-27 20:36] r-holland commented on #731
That alternative title looks very off. If we use this one, I'll probably need to change around the layout more. I think for now, sticking with the bolded "first mission" in the longer title is easier, as there are other priorities. Thoughts?

![image](https://user-images.githubusercontent.com/19720010/27608719-7c8d2c2a-5b56-11e7-8c1f-6cb31d196cb5.png)

[2017-06-27 20:40] manaswis commented on #731
I meant adding it as the title.

![image](https://user-images.githubusercontent.com/2873216/27608993-5edb69fc-5b57-11e7-8f64-2731c551331e.png)

[2017-06-27 23:19] r-holland commented on #731
Sorry for misunderstanding, does this look good now?

![image](https://user-images.githubusercontent.com/19720010/27614102-8668bbe4-5b6d-11e7-9ea0-4d03c9cdad56.png)

[2017-06-27 23:21] manaswis commented on #731
Yep. Looks good. Small edit: I think adding the "first mission" in the instruction text is fine :)

Now, the next part of this issue is to show this dialog only in the user's first mission.

[2017-06-27 23:25] r-holland commented on #731
I already have it set up to show only for the first mission. If this layout is fine, I'll submit a PR

![image](https://user-images.githubusercontent.com/19720010/27614234-5463ab12-5b6e-11e7-9165-e9fbee834ef6.png)

[2017-06-27 23:26] manaswis commented on #731
Great! Go ahead.

[2017-06-28 01:09] r-holland commented on #718
Here's the link for a 10-minute speed run around Waterfront neighborhood:
https://www.youtube.com/watch?v=ht7SRGUc7rI&feature=youtu.be

There were stretches where it was fine, and no problems occurred. Unfortunately, for the most part this neighborhood had some big problems. I suggest watching the video, or at least part of it, to get an idea of what I'm touching on, but I'll list some major ones

[2017-06-28 02:59] maddalihanumateja opened #772 "Bringing the “no sidewalk” label outside the “other” menu."
This was one of the suggestions that came out of the user testing.  The user's exact comment was "No sidewalk is pretty common. Why is it in the other section?".  Jon also commented on making "No Sidewalk" visible as a separate button.
I tried it out and while changing the position is easy enough, the "Other" button exceeds the length of the ribbon menu and goes under the zoom menu.

![nosidewalk_

[2017-06-28 13:03] manaswis commented on #760
Closed via PR#761

[2017-06-28 13:03] #760 closed

[2017-06-28 13:04] manaswis commented on #741
Closed via PR #761

[2017-06-28 13:08] manaswis commented on #759
Closed via #762

[2017-06-28 13:08] #759 closed

[2017-06-28 13:09] manaswis commented on #750
Closed via #764

[2017-06-28 13:09] #750 closed

[2017-06-28 14:07] r-holland commented on #718
Here's the link for an 8-minute speed run around Monumental Core neighborhood:
https://www.youtube.com/watch?v=iu0V5vjPPm8&feature=youtu.be

Unfortunately, this area too has a number of problems, mostly the same as in my previous report. Refer to the above comment if any of my issue descriptions here are unclear. Again, I suggest watching the video, it gives a very good visualization of these conc

[2017-06-28 14:14] misaugstad opened #773 "Set up a way to filter out researcher data"
We had previously discussed creating a table that holds all the researchers [here](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/342#issuecomment-311096730).

But why don't we just add a new role to the role_table that is "researcher"? Then for certain analytics we can filter out user id's that have the role "admin" or "researcher". Is this a misuse of the role_table, or does that soun

[2017-06-28 14:20] misaugstad commented on #718
Quick note, re: "little yellow avatar on the mini map disappearing", see issues #335 #62 #612. It is a known problem with the GMaps API.

[2017-06-28 14:30] r-holland commented on #718
Noted. I guess that issue can be ignored in my report.

[2017-06-28 14:43] misaugstad commented on #718
Yep. Another thing in trying to narrow down the scope: as for the large amount of double clicking... Well we can't really help that :) But also after looking through your videos, there were quite a few instances where you probably would have found an arrow pointing in the correct direction if you searched around a little more. At those large intersections, there are usually quite a few panos that

[2017-06-28 14:45] adash12 opened #774 "User facing wrong direction after manual jump"
After manually jumping, the user often faces the wrong direction. Related to #334 and PR #660

[2017-06-28 14:48] adash12 opened #776 "Path does not load on mini-map after a jump"
![image](https://user-images.githubusercontent.com/13080218/27642725-a727ed20-5bed-11e7-9219-5f69b819b4a9.png)
Occasionally after a manual jump, the compass will point the user in the direction of a path that hasn't appeared on the mini-map yet. Taking a step in that direction makes the path appear.

![image](https://user-images.githubusercontent.com/13080218/27642797-d6195060-5bed-11e7-9e6a-5fed5

[2017-06-28 14:51] misaugstad commented on #718
Now regarding the most important issue, and the point of this whole thing! The issue where you had to jump four times in a row. I do think that you would have gotten out of some of those with some more double clicking, but that is still really bad, and it would confuse a lot of people to be placed in a museum or a garden, and especially in the tunnel.

One idea to deal with this... We can pop up a

[2017-06-28 16:13] manaswis commented on #711
Closed via PR #750 and #748

[2017-06-28 16:13] #711 closed

[2017-06-28 16:38] maddalihanumateja commented on #755
From user testing we saw that only one user signed up for an account. This action started him on a new button and it wasn’t immediately clear to him if his progress was saved. He did feel negatively about this and explicitly stated he might have “dropped out” at this point. Every other user clicked on “No” to signing up so this wasn't a problem for them.

[2017-06-28 16:53] r-holland commented on #718
Just a few more example images of "weird paths" from my exploring. I don't believe these first ones are very severe. In my opinion, while these would probably be annoying, it's still pretty clear where the route wants you to go.

Here, the routes took me down a street, then turned me around to walk back on the same exact street.
![image](https://user-images.githubusercontent.com/19720010/27648559-

[2017-06-28 17:03] jonfroehlich commented on #773
I like this!

j

On Wed, Jun 28, 2017 at 10:14 AM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-28 17:06] jonfroehlich commented on #354
I think we should revisit this. I'd like to have a nice, easy-to-understand release notes page that we could link to in our papers. The release notes should provide information on major releases and major features implemented/changed for that release. Maybe @chishankar could do this?

Thoughts from @misaugstad @maddalihanumateja @manaswis?

[2017-06-28 17:09] jonfroehlich commented on #772
I think we can make the Zoom In, Zoom Out, Undo and Redo buttons smaller. I
also think we can reduce the width of label buttons a bit too. Can you make
another mockup that does this?

On Tue, Jun 27, 2017 at 10:59 PM, Hanuma Teja Maddali <
notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfr

[2017-06-28 17:22] jonfroehlich opened #778 "Show Severity Rating on Label?"
To help promote and reinforce the use of severity ratings, we could have them display on placed labels. Here are some mockups. Ignore actual ratings on mockups (I marked a curb ramp as a 3 but it's actually a 1 for the purposes of the mockup). Not sure I like my designs particularly as the red circle reminds me of the number of unread messages notification on my phone--and we don't want this sort

[2017-06-28 18:10] maddalihanumateja opened #780 "Need to refer to GSV API documentation on how to avoid serving photospheres to users"
Jumping to a new location during a mission often takes users to a GSV [Photo sphere](https://www.androidcentral.com/photo-sphere) where movement is restricted and users can only pan..  Example: [link](https://www.google.com/maps/@38.8898467,-77.0493612,3a,75y,207.67h,81.45t/data=!3m8!1e1!3m6!1s-BPIGY8q4Gxs%2FWVGjhH1wMRI%2FAAAAAAAAaPM%2FVdjcm1pTvmgsSFCtFF9-TH4XZ_9cATOfQCLIBGAYYCw!2e4!3e11!6s%2F%2Fl

[2017-06-28 18:11] manaswis commented on #285
As mentioned above, ideal behavior is continuing with the same mission and their previous contributions as an anonymous user getting added to their newly created account. However, that's time-consuming and requires significant changes to the code. So we can't take this route for the relaunch.

Few temp fixes that we came up in our brief brainstorming session:

1. Removing that pop-up to show up **

[2017-06-28 18:18] misaugstad commented on #772
Possibly even vertically stacking zoom in/out and un/redo? As in, put undo on top of redo and zoom in on top of zoom out.

[2017-06-28 18:19] jonfroehlich commented on #772
@misaugstad or @adash12: can you run a query to see how many users *ever* use undo/redo and the total number of times those buttons have been clicked. IIRC, I don't think I've ever used that functionality and I can't think of a strong use case where undo/redo provide lots of value...

[2017-06-28 18:28] misaugstad commented on #776
To me, it looks like you started out facing in the correct direction, with the first audit task having been loaded, it was just a very short audit task. Then after walking one step, that tiny audit was marked as complete and a new one came up, and you were facing in the correct direction.

It looks like the compass was always in the correct direction, you just got dropped not exactly on the start

[2017-06-28 18:54] manaswis commented on #776
Yes, that's exactly what I thought as well. Its because of the task/street being super small.

[2017-06-28 18:54] r-holland commented on #780
Based on my explorations and speed runs for #718, I can confirm this is a constant issue (lawn in front of monuments, botanical garden area, museum gift shop, small square with fountain, etc.). I agree photo spheres are probably unintuitave for new users, and as jump is not emphasized very much in the tutorial, moving to a new area may be confusing.

If photospheres can be disabled, perhaps we con

[2017-06-28 18:56] jonfroehlich commented on #780
@r-holland, can you look into this? See if photospheres (and user contributed data in general) can be disabled in a GSV API call.

[2017-06-28 18:58] r-holland commented on #780
Sure, I'll look into it

[2017-06-28 18:59] jonfroehlich commented on #776
I personally think this reflects a larger problem, which is that a mission should just load the entire route when it starts. None of this weird task/street stuff (which is an internal data structure anyway and the user doesn't care about it). And loading the entire route on the backend first would allow us to vet and process it and make sure it's reasonable...

[2017-06-28 19:03] adash12 commented on #772
In my data dump, 333 `Click_Undo`'s are logged, and 77 `Click_Redo`'s.
For comparison, there are 1569 logs of `Click_LabelDelete`, 1375 for `Click_ZoomIn` and 984 for `Click_ZoomOut`.

44 distinct users use `Click_Undo` and 12 `Click_Redo`, out of 260 total users; 178 of the `Click_Undo`'s are on account of anonymous users, and 41 of the `Click_Redo`'s.

[2017-06-28 19:25] r-holland commented on #780
I just started researching, so I can look for more solutions. However, this fix looks fairly easy:
source: google.maps.StreetViewSource.OUTDOOR

![image](https://user-images.githubusercontent.com/19720010/27656008-789c027a-5c15-11e7-8659-3f37dea3391d.png)
(https://developers.google.com/maps/documentation/javascript/3.exp/reference#StreetViewLocationRequest)

"...search only returns panoramas where

[2017-06-28 19:44] jonfroehlich commented on #285
The other thing that is related to this is that we still do not have a clear value proposition for *why* a user would want to sign-in. This also needs to be clear.

Regardless of this point, I consider this problem significant because the people who choose to sign-in are giving us a signal that they are motivated and interested--and then we basically slap them in the face by confusingly placing th

[2017-06-28 19:45] manaswis commented on #780
This is great @r-holland! Great find! Keep researching to see if this is the best way to do this.

[2017-06-28 20:09] r-holland commented on #778
I have an alternative idea. If the primary purpose of this is "to help promote and reinforce the use of severity ratings," perhaps only display something if the user does not choose a severity rating. You mentioned that your red circle looks like "the number of unread messages notification on a phone," and thus may prompt confusion. How about whenever a label is left without a severity rating, add

[2017-06-28 20:36] jonfroehlich commented on #780
Yes, this is great. I think this is the solution. So, I think the best thing would be to try and implement and test this. And now we have two great neighborhoods that can serve as test sites.

This will fix some of the issues you identified but obviously not all of them (e.g., going underground, weird routes).

[2017-06-28 20:37] jonfroehlich commented on #772
Thanks @adash12.

Hmm, this is more than I would expect. @adash12, can you put this in % of users terms?

[2017-06-28 20:45] manaswis commented on #718
I found an issue that talks about why the routes generated are weird. Look at #129
Kotaro mentions this:

[2017-06-28 20:46] sbower213 commented on #285
The main issue of being jumped to a new location has been fixed. The pull request kotaro submitted worked very well for the most part; I had to make a couple minor changes to make sure the "you've been contributing a lot, sign in!" message didn't show up after a user logged in (after initially being anonymous). Still a few more changes on this front to make sure users don't see alerts they shouldn

[2017-06-28 20:49] manaswis commented on #285
This is great, @sbower213! Could you update your branch with the latest changes from develop and then test if it works? You could do that after you fix other issues too.

I think @adash12 was working on something similar about putting them at the same spot after they retake the tutorial. Check with him once.

[2017-06-28 20:50] manaswis commented on #544
@misaugstad Any thoughts? It currently is this:

![image](https://user-images.githubusercontent.com/2873216/27659545-e728cbe0-5c21-11e7-890d-52b6b0ad8c2c.png)

[2017-06-28 20:53] adash12 commented on #772
Not counting the anonymous user account, 16.5% of users use the undo button and 4.2% use the redo button.
For comparison of other buttons, 36.2% of users use the zoom-in button, and 18.8% use the zoom-out button (this may include the forced use of it during onboarding, but probably not for the most part as onboarding is usually undertaken as an anonymous user). The zooming in and out does not incl

[2017-06-28 21:07] sbower213 commented on #285
Yeah, I pulled from develop and merged all the necessary changes and I think it still works fine. Aditya said that his issue wasn't quite as easily applicable and that it was still kind of hit-or-miss as far as refreshing and being put in the same location goes. I will look further into the issues I mentioned earlier tomorrow.

[2017-06-28 22:53] misaugstad commented on #12
@chishankar what is the status of this issue? Is it that this is low-priority, not critical for relaunch, so it is on the back burner for now?

[2017-06-28 23:21] misaugstad commented on #544
I generally liked the first option better, but I provided some mashups of the two. I mostly don't like the words "track" or "however". Here are some options that I like :)

"After taking a step, you won't see your labels in the Street View image anymore, __but__ you can still see them in the highlighted map!"

"After taking a step, you won't see your labels in the Street View image anymore, but th

[2017-06-29 00:19] jonfroehlich commented on #544
I really like this one (and I don't think any bolding is necessary imo):

I think 'in the mini map' should be 'on the mini map' -- thoughts?

[2017-06-29 00:22] jonfroehlich commented on #285
@sbower213. This is great news. We'll have to test this like crazy on sidewalk-dev.

Is anyone working on that? Is that listed in another issue?

[2017-06-29 00:23] misaugstad commented on #544
I agree with "on the mini map".

And I really like it too, is it weird to say that, though, when they maybe aren't wondering where their labels went..? Since they are just going about their auditing business and we pop this up. That's my only thought against it. IMO it sounds good anyway, just playing devil's advocate with myself a bit :)

[2017-06-29 00:24] jonfroehlich commented on #544
Yah, not sure. We need to usability test it... :)

On Wed, Jun 28, 2017 at 8:23 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-29 00:28] maddalihanumateja commented on #544
For "in" vs "on"? I vote for "on". First google [search result](https://www.italki.com/question/307524)

[2017-06-29 10:41] manaswis commented on #739
Closed via #745

[2017-06-29 10:41] #739 closed

[2017-06-29 10:41] manaswis commented on #758
Closed via #765

[2017-06-29 10:41] #758 closed

[2017-06-29 10:42] manaswis commented on #724
Closed via #747

[2017-06-29 10:42] #724 closed

[2017-06-29 10:43] manaswis commented on #700
Closed via #735

[2017-06-29 10:43] #700 closed

[2017-06-29 10:44] manaswis commented on #633
Closing this issue. The panoramas have been located.

[2017-06-29 10:44] #633 closed

[2017-06-29 10:45] manaswis commented on #569
Closed via #782

[2017-06-29 10:45] #569 closed

[2017-06-29 10:46] manaswis commented on #726
Closed via #777

[2017-06-29 10:46] #726 closed

[2017-06-29 11:26] manaswis opened #783 "Add anonymous user contributions to the account user creates after sign-up/in"
Mentioned in #285. When the user signs-in or signs-up during the middle of a mission as an anonymous user, the labels aren't currently accounted in the new account (if user signed-up) or old account (if signed-in).

Ideally, the labels should be added to the account of the user.

Not important for relaunch but would be good to have in the future.

[2017-06-29 11:35] manaswis commented on #734
@adash12 @sagec108 I think this could be due to a more general issue of refreshing (or leaving) the audit page in the middle of mission (and not just specific to retaking the tutorial in the middle of a mission). See this related issue - #494. It would be useful to look into and solve the general issue than the specific one. However, this is my conjecture. We'd have to investigate further to know

[2017-06-29 14:03] sagec108 commented on #731
Closed via PR #771. Will need to test again once #285 is resolved as the first mission text should not show after a user signs up.

[2017-06-29 14:03] #731 closed

[2017-06-29 14:35] sagec108 commented on #770
Update: This behavior is extremely inconsistent to the point that it is somewhat difficult to reproduce the bug on my computer. For the most part, mouse panning after a total of 330 degrees away from the initial direction triggers the pop-up.

[2017-06-29 14:54] jonfroehlich opened #785 "Animated Gif on Landing Page Says 'Find Problems' and Then Shows How to Label Curb Ramps."
![image](https://user-images.githubusercontent.com/1621749/27694146-4bbf0532-5cb9-11e7-8f2d-a1c07ac3f6af.png)

We should update these animations to show actual problems.

[2017-06-29 15:25] chishankar commented on #12
Finished. I am posting a video of it

[2017-06-29 15:29] chishankar commented on #12
![screen shot 2017-06-29 at 11 28 57 am](https://user-images.githubusercontent.com/25187819/27695919-3b6a088a-5cbe-11e7-9834-82383dcf7ddb.png)
![screen shot 2017-06-29 at 11 29 03 am](https://user-images.githubusercontent.com/25187819/27695920-3b6b1b94-5cbe-11e7-82e9-acc964dfbd47.png)
![screen shot 2017-06-29 at 11 29 07 am](https://user-images.githubusercontent.com/25187819/27695924-3b701c34-5cbe

[2017-06-29 17:12] manaswis commented on #725
Merged via #746

[2017-06-29 17:12] #725 closed

[2017-06-29 17:13] manaswis commented on #723
Merged via #746

[2017-06-29 17:13] #723 closed

[2017-06-29 18:11] sbower213 opened #787 "Logging in during a mission does not attribute labels pre-login to user"
Related to #786, any labels that a user makes before logging in during a mission are stored as if they were made by an anonymous user. This means that they do not show up on a user's dashboard, either. Ex:

In this mission, I made 12 labels, but only 4 of these were after I logged in.
![mission totals](https://user-images.githubusercontent.com/8651110/27703164-858ada50-5cd4-11e7-9625-b5bfac873056.

[2017-06-29 18:17] r-holland commented on #780
I have been working on the code, and I believe photospheres are blocked now. I've been exploring Waterfront and Monumental Core for a while, and I have yet to be dropped in a photosphere. However, this obviously does not confirm that the changes have worked...perhaps I've just been lucky. Any ideas on how to test conclusively whether my changes disabled photospheres?

[2017-06-29 18:24] manaswis commented on #780
@r-holland This is related to the issue #668. Jon was auditing the street 26319. You can audit that street using: http://localhost:9000/audit/street/26319

Also, check the pano id that he had posted in the issue. You can jump to that pano by typing: svl.panorama.setPano("<panoid>") in the JS browser console. See if that loads after your changes. However, this part I am not very sure if it will wor

[2017-06-29 18:24] sbower213 opened #788 "Logging in after starting anonymous may display irrelevant messages"
Related to #786, if a user starts a mission anonymously, then signs in right after starting, they will receive notices as if they were a first time user.

E.g. this alert popping up after logging in, despite not being a first time user:
![alert](https://user-images.githubusercontent.com/8651110/27703744-6da425e8-5cd6-11e7-89f1-3f16d7597bef.png)

While most people will either be already logged in w

[2017-06-29 18:35] manaswis commented on #464
Closed via #742

[2017-06-29 18:35] #464 closed

[2017-06-29 18:36] manaswis commented on #622
Closed via #742

[2017-06-29 18:36] #622 closed

[2017-06-29 18:37] r-holland commented on #780
Auditing street 26319 went fine. No troubles there.

When I set the Pano to where Jon was, the 360 selfie photosphere still loaded. However, when I tried to scroll around, it triggered a ton of errors, as the functions for getPanorama that I had changed to block photospheres were being called.

This is the behavior I would expect to result from my changes. If you manually setPano through the JS br

[2017-06-29 18:40] r-holland commented on #780
Additionally, unlike Jon, I had the "You are very far from your route...click here to return" message flashing at me. This is because I was on a different route and then manually setPano, unlike Jon who was dropped there. This way, with my new code, even if someone were to manually place themselves in a photosphere, the website would flash at them, telling them to get back out.

Primarily, the fac

[2017-06-29 19:28] manaswis commented on #787
@sbower213 Just to clarify, this happens as a side-effect of the fix you made in #786? Or was it previously (before your fix) seen as well?

[2017-06-29 20:17] sbower213 commented on #787
@manaswis The issue happened implicitly before this, because logging in during a mission would cause the user to abandon their previous mission entirely. The difference is that now the user continues on the same mission and we can retain some of the later data of the same mission, as opposed to forcing them to a new mission.

[2017-06-29 20:18] manaswis commented on #787
So once #783 is solved, it would solve this issue as well. Is that correct?

[2017-06-29 20:20] sbower213 commented on #787
Yep! Didn't see #783 when I made this issue, but I think they are close enough to be considered duplicates.

[2017-06-29 20:21] sagec108 commented on #770
Update 2: This bug is caused when the user pans large angles at a time. Able to reproduce consistently. Fixes coming soon.

[2017-06-29 20:36] manaswis commented on #787
Since #783 is what we need to do, can you update that issue thread with this issue content and close this one?

Thanks!

[2017-06-29 20:37] #787 closed

[2017-06-29 20:39] sbower213 commented on #783
Taken from (the now defunct 😜) #787, here are some visuals of the issue. Any labels that a user makes before logging in during a mission are stored as if they were made by an anonymous user. This means that they do not show up on a user's dashboard, either. Ex:

In this mission, I made 12 labels, but only 4 of these were after I logged in.
![mission totals](https://user-images.githubusercontent.co

[2017-06-29 20:46] chishankar commented on #729
Issue has been fixed. I also added Contact US to the FAQ panel and made it flush with the rest of the FAQ items.
<img width="261" alt="screen shot 2017-06-29 at 4 42 55 pm" src="https://user-images.githubusercontent.com/25187819/27709520-692a37b4-5cea-11e7-9250-327c4584885f.png">

<img width="852" alt="screen shot 2017-06-29 at 4 43 01 pm" src="https://user-images.githubusercontent.com/25187819/27

[2017-06-30 01:41] jonfroehlich opened #791 "Something Going on With Anonymous Users?"
@misaugstad pointed out to me tonight that there is something strange going on with the anonymous user contributions. Notice, for example, that the top ip address audited 15 street segments but contributed 4,381 labels. This is insane!

![image](https://user-images.githubusercontent.com/1621749/27717424-f949b842-5d12-11e7-98a8-cff19a1fdba0.png)

So, we need to investigate. Could it be:
- Vandalism

[2017-06-30 08:23] manaswis commented on #756
Closed via PR #763

[2017-06-30 08:23] #756 closed

[2017-06-30 08:25] manaswis commented on #721
Closed via #763

[2017-06-30 08:25] #721 closed

[2017-06-30 08:25] manaswis commented on #719
Closed via #784

[2017-06-30 08:25] #719 closed

[2017-06-30 08:38] manaswis commented on #544
Updated it.

"on the mini map" (in is a typo)
![image](https://user-images.githubusercontent.com/2873216/27727623-428b95a4-5d4d-11e7-8926-a3599d7a5854.png)

with "on the hightlighted map"
![image](https://user-images.githubusercontent.com/2873216/27727757-d6fb6aca-5d4d-11e7-91e8-0b926904c778.png)

What do you think?

[2017-06-30 13:55] chishankar commented on #733
This happens on Safari when the user zooms out below 80% or so

[2017-06-30 14:24] jonfroehlich commented on #544
It's good

On Fri, Jun 30, 2017 at 4:38 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-30 14:33] manaswis commented on #544
Great! Updated it in develop branch.

Closed via PR #792

[2017-06-30 14:33] #544 closed

[2017-06-30 14:34] manaswis commented on #791
@r-holland @sbower213 @adash12 Is anyone looking into this?

Since @sbower213 is now busy on a different issue, can one of you look into it?

[2017-06-30 14:36] chishankar commented on #791
Yeah I can look into it

[2017-06-30 14:45] chishankar commented on #791
From looking at it, my initial hypothesis is that the label count is just continuously adding the users label count to the overall total.

For example: 73.163.171.105 did 137 Audits and created 651 labels, but it added it to the previous total of 2020 and outputted 2671 as the total Label Count.

I will look further into this to confirm my hypothesis and fix this.

[2017-06-30 14:53] jonfroehlich commented on #791
@chishankar your explanation doesn't make sense to me. :P

[2017-06-30 15:05] chishankar commented on #791
I believe the user's total label count gets added to the overall total label count and that is why there is an inflation of numbers. I am looking into to it and will post a more comprehensive explanation once I know for sure what it is

[2017-06-30 15:12] misaugstad commented on #791
After he talked to me in person, I think what he is saying is that...
If you look take the bottom user in that table, it says they have 1796 labels. But if you go up to the user that is 2nd from the bottom, they have 1886 labels with 2 audits. He is saying that this user actually has 1886-1796=90 labels in the 2 audits. So the number of labels is cumulative, going up the table.

I think that he wi

[2017-06-30 15:52] sagec108 opened #794 "Resizing the GSV will affect the maximum mouse panning angle"
As noted in PR #793:

I tested mouse panning when the GSV is wider than the current canvas width used. There is no cap on angle of mouse panning, meaning the user can pan more than 180 degrees from one end to the other end of the screen if the GSV is wide enough. This will impact the code implemented in #793 (which I noted in comments and a TODO).

Basically, in the future, whenever the team imple

[2017-06-30 16:10] jonfroehlich opened #795 "What Happens When DC Hits 100% Complete"
What happens when DC hits 100% complete?

We should probably write code that keeps assigning users to neighborhoods and assigning them routes ad nauseum...

[2017-06-30 16:14] maddalihanumateja commented on #783
Its actually more accurate to say that the labels on the audit task being performed during login are still counted towards anonymous. The labels are not immediately attributed to the user after login. That happens only on the next audit task.

[2017-06-30 17:09] misaugstad commented on #791
Oh, and the above table is in the admin dashboard, in the "Users" tab, the 2nd table (the one of anonymous users). I then sorted by label count.

[2017-06-30 17:28] misaugstad commented on #12
Currently testing out this branch, and there is a design question that needs to be answered. We are only listing the most important labels, but for this feature where we highlight only a specific label type, my no sidewalk labels are being included.

![so_many_nosidewalk](https://user-images.githubusercontent.com/6518824/27747040-9a491236-5d97-11e7-89b6-efd56208d4fc.png)

Obviously, all other labe

[2017-06-30 17:45] jonfroehlich commented on #12
I think we add all 3 rows. Why not?

We can also dramatically shrink the vertical space between rows (probably
by 50%).

On Fri, Jun 30, 2017 at 1:28 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-30 19:29] jonfroehlich opened #797 "Can Someone Quickly Make http://sidewalk.umiacs.umd.edu/api"
Can someone quickly make http://sidewalk.umiacs.umd.edu/api that simply loads http://sidewalk.umiacs.umd.edu/developer.

[2017-06-30 19:32] manaswis commented on #797
I'll do it.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Fri, Jun 30, 2017 at 3:29 PM, Jon Froehlich <notifications@github.com>
wrote:

[2017-06-30 19:40] sbower213 commented on #791
I think I figured it out. One of the sql subqueries was pulling a lot of duplicates, and when the number of labels from each audit were added, it would keep adding duplicates. I added a "select distinct" into the query and think I've fixed it. I'll do some more cross referencing of the table to make sure I didn't omit anything, but this is what the new table looks like:
![image](https://user-image

[2017-06-30 19:58] manaswis commented on #621
Closed via #744

[2017-06-30 19:58] #621 closed

[2017-06-30 20:10] #797 closed

[2017-06-30 20:20] jonfroehlich commented on #791
sweet. thanks. what's that weird 0:0:0:...1 ip address?

On Fri, Jun 30, 2017 at 3:40 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-30 20:22] sbower213 commented on #791
anything from localhost gets logged like that, [according to stackoverflow](https://stackoverflow.com/questions/10386875/host-ip-address-00000001-on-servlet)

[2017-06-30 20:23] jonfroehlich commented on #791
figured as much. thanks for confirming.

On Fri, Jun 30, 2017 at 4:22 PM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-30 20:25] sagec108 commented on #769
Closed via PR #779

[2017-06-30 20:25] #769 closed

[2017-06-30 20:32] manaswis opened #800 "Navbar hides the title of the section when within-page links are clicked"
Its the same issue as the FAQ page - #729

Currently, it hides the title of the section when link is clicked like this:

![image](https://user-images.githubusercontent.com/2873216/27752955-79ce8dd2-5db1-11e7-85af-bd212fb96a5d.png)

Should be:
![image](https://user-images.githubusercontent.com/2873216/27752960-86116d8a-5db1-11e7-8b39-951c5eeab232.png)

[2017-06-30 20:33] manaswis commented on #800
@chishankar Since you just resolved the other issue, can you do this?

[2017-06-30 22:28] chishankar commented on #800
@manaswis  Yea sure

[2017-07-02 23:03] misaugstad commented on #342
With a lot of the analytics that we want to look at, there are 5 groups of users that we may want to see a graph for: all users, all users minus researchers, registered users, registered users minus researchers, and anonymous users. To try and get all that information without taking up a huge amount of space, I figure that we could have a button (or something like that) that would toggle whether w

[2017-07-03 00:27] jonfroehlich commented on #342
I like it. Use a checkbox 'Include researchers' and default to off?

On Sun, Jul 2, 2017 at 7:03 PM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-07-03 12:20] manaswis commented on #770
Closed via #793

[2017-07-03 12:20] #770 closed

[2017-07-03 12:24] manaswis commented on #732
Closed via #744

[2017-07-03 12:24] #732 closed

[2017-07-03 12:59] manaswis commented on #780
Closed via #789

[2017-07-03 12:59] #780 closed

[2017-07-03 13:31] jonfroehlich opened #801 "Mission Screen: 'Audit XXXXft of Neighborhood" Should Be 'in' rather than 'of'"
Mission Screen: 'Audit XXXXft of Neighborhood" Should Be 'in' rather than 'of'

Not sure why we didn't catch this before.

[2017-07-03 13:34] jonfroehlich opened #802 "Anonymous User Handling"
I'm still not sure why we don't do this with anonymous users:

1. New user visits Project Sidewalk
2. User clicks on 'Start Mapping.' At this point, we auto-generate a unique anonymous user id
3. If user clicks on 'register' at anytime during session, we convert the anonymous user id to the registered id

Thoughts? @sbower213 or @misaugstad?

[2017-07-03 13:57] r-holland commented on #801
This look good? You want it changed both in mission title and in the instruction text, correct?

![image](https://user-images.githubusercontent.com/19720010/27795906-f07588b6-5fd5-11e7-84fe-458d9deb0b6c.png)

[2017-07-03 13:58] chishankar commented on #800
Are you talking about the following links in the API intro:

<img width="1001" alt="screen shot 2017-07-03 at 9 57 57 am" src="https://user-images.githubusercontent.com/25187819/27795942-1c31c460-5fd6-11e7-868f-b1e2a5affcbe.png">

[2017-07-03 14:09] jonfroehlich commented on #801
Yes. Good.

[2017-07-03 14:09] jonfroehlich commented on #800
Also, is that zip file auto-updating or is it an old dump?

On Mon, Jul 3, 2017 at 9:58 AM, Chirag Shankar <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-07-03 14:14] misaugstad commented on #342
So here are a few new graphs for the admin interface. Any comments before I submit a PR for them so they can be included in the stress testing today?

![new-graphs](https://user-images.githubusercontent.com/6518824/27796342-b1cc4706-5fd7-11e7-8196-92542aee1bb6.png)

Right now, the anonymous user labels are incorrect, in the same way as issue #791. I have an idea for how to fix it, but if that does

[2017-07-03 14:30] manaswis commented on #802
This is the issue we had the discussion about adding a unique id - https://github.com/ProjectSidewalk/SidewalkWebpage/issues/299

[2017-07-03 14:34] jonfroehlich commented on #802
Why do I feel like I'm stuck in a perpetual cycle?! Argh!

[2017-07-03 14:41] misaugstad opened #804 "Have new users avoid "advanced" neighborhoods"
Issue #718 had two parts to it, the first being users dropped into photospheres, which was being resolved via #789. The other part has to do with there being tunnels underneath roads, where it is difficult or impossible to follow the route that is actually assigned to you. What we want to do is to get new users to avoid these neighorhoods. Experienced (longtime) users will be less likely to give u

[2017-07-03 14:44] manaswis commented on #800
@chishankar Yes I am.

@jonfroehlich Its neither. It currently shows this.

![image](https://user-images.githubusercontent.com/2873216/27797626-58fb6cce-5fdc-11e7-9a25-a49007620c3b.png)

I think that might be because the data distribution format wasn't decided then (when the page was implemented). Currently, the zip files are data dumps that have non-anonymized data. Hence, can't be distributed as

[2017-07-03 14:46] jonfroehlich commented on #800
We should take out the 'download the zip file' then.

[2017-07-03 14:47] manaswis commented on #800
Agreed.

@chishankar Can you update the text to comment out the part that says "or download the zip file".

[2017-07-03 14:48] chishankar commented on #800
Yes

[2017-07-03 14:51] misaugstad commented on #697
Closed via #692

[2017-07-03 14:51] #697 closed

[2017-07-03 15:03] chishankar commented on #12
I agree with @jonfroehlich, we could go ahead and the three additional rows. @misaugstad The reason it does that is because I use a mouseleave and mouseenter event to trigger the hiding of specific svg elements with the specific attributes. So I would need to go ahead and add those features to the table. Will work on that ASAP.

[2017-07-03 15:05] sbower213 opened #805 "Signing in with invalid credentials incorrectly logs in user"
Related to #285, ideally if a user tries signing in but types their password wrong or does not actually have an account, we would trigger a popup or something alerting them that their password is incorrect. Instead, I get redirected to this page:
![image](https://user-images.githubusercontent.com/8651110/27798431-32da2bfe-5fdf-11e7-94aa-dfbbc43e62f4.png)

If I click the back button, I am able to r

[2017-07-03 15:07] sbower213 commented on #805
Whoops! Tested that on sidewalk-dev when I meant to be testing on localhost. Instead, I get signed in as user "undefined" if I enter bad credentials.
![image](https://user-images.githubusercontent.com/8651110/27798596-d8834b9e-5fdf-11e7-9f0b-491711f3dc83.png)

[2017-07-03 15:09] jonfroehlich commented on #805
Yikes. This should be fixed for relaunch, no?

On Mon, Jul 3, 2017 at 11:07 AM, Steven Bower <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-07-03 15:12] sbower213 commented on #805
I agree. I will look into it.

[2017-07-03 15:24] misaugstad opened #806 "Differentiate between different neighborhoods with same name"
There are a few sets of neighborhoods that have the same name, which could be confusing to users. You can see an example on the choropleth:
![bellevue1](https://user-images.githubusercontent.com/6518824/27799059-bc2ab160-5fe1-11e7-8dfd-cffa8e6ad569.png)
![bellevue2](https://user-images.githubusercontent.com/6518824/27799058-bc18f8a8-5fe1-11e7-8523-56474574b626.png)

And this also causes an issue i

[2017-07-03 15:30] jonfroehlich commented on #772
Thanks @adash12. This is useful. I'd like to see this analysis with *no* researcher data included. @misaugstad is setting up a table to make this easy (not sure if this is pushed yet).

And I'd still like to pursue moving the 'No Sidealk' button to top-level. We could:

- Shrink the zoom and undo/redo buttons
- Rearrange the zoom and undo/redo buttons
- Remove the undo/redo buttons

I think @sbowe

[2017-07-03 15:43] misaugstad commented on #342
@r-holland is going to get started on making a graph of time spent using Project Sidewalk, where we count 5+ minutes of inactivity as not using the tool. This should be a good intro to our backend, while providing something very useful for the dashboard!

[2017-07-03 15:44] manaswis opened #807 "Error message shown when Skip Tutorial is clicked"
When you click "Skip Tutorial" from this screen:

![image](https://user-images.githubusercontent.com/2873216/27799824-af950d1c-5fe4-11e7-937c-f0e0e38c5a9f.png)

This error shows up after you dismiss the mission text dialog box. This causes 'Let's get started' message to not show up.

![image](https://user-images.githubusercontent.com/2873216/27799142-15773932-5fe2-11e7-8765-4086ff336959.png)

[2017-07-03 15:46] manaswis commented on #801
Closed via PR #803

[2017-07-03 15:46] #801 closed

[2017-07-03 15:47] jonfroehlich commented on #342
Sounds good. Thanks Mikey.

On Mon, Jul 3, 2017 at 11:43 AM, Mikey Saugstad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-07-03 15:56] jonfroehlich opened #808 "Fun Side Visualization Side Project: Have Routes Audited Animation"
This is a fun lil side visualization project that could be fun for our Project Sidewalk talks and, possibly, our advertising materials.

It would be cool to make a map-based animation (top-down map) of routes being audited. Routes would draw according to when they were audited (so, chronologically) but at like 1,000x speed :) We could color routes by recency as well so that older audited routes ar

[2017-07-03 16:01] manaswis commented on #807
Closed via PR #809

[2017-07-03 16:01] #807 closed

[2017-07-03 16:08] jonfroehlich opened #811 "Should We Make a Project Sidewalk Group on Facebook?"
Advantages:
- Could have a clear 'call for action' and explanation of the website
- Users could post questions and receive answers from us (or others)
- Start to build community

Downsides:
- Another thing to manage
- Do we really need this?

[2017-07-03 16:14] manaswis opened #812 "Context menu gets cut-off if the label is placed too close to the canvas window border"
This is what it looks like:

![image](https://user-images.githubusercontent.com/2873216/27800795-df24eb98-5fe8-11e7-90ca-473f0ebd995c.png)

[2017-07-03 17:35] misaugstad commented on #791
Resolved via #799

[2017-07-03 17:35] #791 closed

[2017-07-03 17:49] manaswis opened #813 "Tutorial: Disable labeling when the delete label message is shown"
This is part of the two step process for removing the label if it is placed too far from the correct location.

Step 1: Delete label
Step 2: Reapply label

The labeling should be disabled in step 1.

[2017-07-03 17:58] misaugstad commented on #806
Yeah I can deal with this. Should this be changed in the database or just on the viz side?

[2017-07-03 18:24] manaswis commented on #813
Closed via #814

[2017-07-03 18:24] #813 closed

[2017-07-03 18:26] jonfroehlich commented on #806
What are the implications for the choice here?

[2017-07-03 18:35] misaugstad commented on #806
1. likelihood of causing problems elsewhere
2. ease of implementation

For 1, anything where we actually change the database does have some possibility that the thing we changed may have been used in a way that we didn't expect elsewhere, so the change could cause problems there. Changing on the viz side means that all changes are local to that area of the code and we don't have to worry about bre

[2017-07-03 18:57] manaswis opened #815 "Tutorial: Update the zoom in/out message boxes to colocate with the resp. buttons"
Currently, it is placed in the top-left corner as other messages. It should be updated to be colocated next to the zoom controls.

![image](https://user-images.githubusercontent.com/2873216/27804944-a8ff8502-5fff-11e7-9068-f17ecf6ea5b0.png)

Also, update the fade-in animation to show faster.

[2017-07-03 19:03] sbower213 opened #816 "Menu tab in navbar is unusable on smaller windowed screens"
The navbar automatically hides the "retake tutorial" "faq" and "sign in" buttons into a collapsible pane called "menu" when the browser window is below a certain width. Unfortunately, it is near impossible to navigate menu; the options jump to the left side of the screen, appear in a very short scrollable dropdown, and have a transparent background until hovered:

![image](https://user-images.gith

[2017-07-03 19:32] manaswis commented on #815
Updated. Kept the arrow centered on the box and moved the box accordingly:

![image](https://user-images.githubusercontent.com/2873216/27805768-a1605286-6004-11e7-896c-5c6d9e62f159.png)

![image](https://user-images.githubusercontent.com/2873216/27805801-d58008cc-6004-11e7-93ad-d1e89cbb10fc.png)

[2017-07-03 19:40] jonfroehlich commented on #816
Good catch. Given that we have so few menu items, I don't think we need the 'menu' dropdown. Can you disable this behavior?

[2017-07-03 19:53] jonfroehlich commented on #815
Looks great! And this is now more consistent with other parts of tutorial.

On Mon, Jul 3, 2017 at 3:32 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-07-03 19:55] manaswis commented on #815
Great. Closing via PR #817

[2017-07-03 19:55] #815 closed

[2017-07-03 20:18] jonfroehlich commented on #806
Sure. Do it.

Sent from my iPhone

[2017-07-03 22:20] maddalihanumateja commented on #539
Figure out issue 1. It looks like we have 36 images with an empty string for panoid {"properties":{"gsv_panorama_id":""}}. This was causing the IOError when downloading panoramas.

[2017-07-04 00:30] jonfroehlich commented on #815
This isn't on sidewalk-dev. Can you deploy it please?

[2017-07-04 00:33] manaswis commented on #815
Its up now.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Mon, Jul 3, 2017 at 8:30 PM, Jon Froehlich <notifications@github.com>
wrote:

[2017-07-04 01:09] manaswis commented on #804
I see three issues here and each should be an issue in itself so that we can have discussions in their respective threads:

1. Updating message on the pop-ups for selecting neighborhoods from the maps/choropleth.
2. Identifying experienced from inexperienced users and not auto-assigning inexperienced users with advanced neighborhoods
3. Showing a message informing users that they are in advanced n

[2017-07-04 12:54] maddalihanumateja commented on #539
Figured out the second issue. The problem wasn't exclusive to the old images, it just looked like that for the small sample I was testing with. The actual cause seems to be discarded panoids. There is no depth map generated because there isnt anything in the image. For example: http://maps.google.com/cbk?output=tile&zoom=3&x=7&y=1&cb_client=maps_sv&fover=2&onerr=3&renderer=spherical&v=4&panoid=YJh

[2017-07-04 12:55] maddalihanumateja commented on #539
For all practical purposes the panoscraper is up and running. I need to update the estimate for how many panoid's were discarded by google for which we have labels.

[2017-07-04 14:46] maddalihanumateja commented on #539
![pano_size_hist](https://user-images.githubusercontent.com/3580069/27834469-1ab52a80-60a5-11e7-8b23-3bb1566f5289.png)

This is a good proxy to find the count of blank images. The dropped pano count still close to 10% of all panos we have labeled. I have a script running to count the actual number of terminates but I doubt that will give us an extremely different result.

Low priority tasks:
1. Wh

[2017-07-04 16:05] misaugstad commented on #806
Done! Here is what it looks like on the choropleth:

![brn](https://user-images.githubusercontent.com/6518824/27835366-cb393da8-60a8-11e7-8fc3-7b3738afa21a.png)
![brc](https://user-images.githubusercontent.com/6518824/27835365-cb38c440-60a8-11e7-9db0-e435b97c0e0c.png)
![brs](https://user-images.githubusercontent.com/6518824/27835367-cb3956a8-60a8-11e7-8afb-7298f07545c2.png)

Whereas they all said

[2017-07-04 16:09] manaswis commented on #806
Nice post @misaugstad! :)

[2017-07-04 17:44] misaugstad opened #820 "Update pop-ups on maps for "advanced" neighborhoods"
For those neighborhoods that we have identified as having weird/difficult/impossible routes, detailed in #718, we should update the popup messages on the choropleth and user dashboard map to tell users that these neighborhoods should only be done by experienced users, as discussed in #804.

We need to decide on what the new message should be. I'll throw out some ideas to get the convo started. Bel

[2017-07-04 17:45] misaugstad opened #821 "Audit interface warning for advanced neighborhoods"

[2017-07-04 17:55] misaugstad opened #822 "Audit interface warning for "advanced" neighborhoods"
For those neighborhoods that we have identified as having weird/difficult/impossible routes, detailed in #718, we should show a message upon hitting the audit page to warn them about the neighborhood, as mentioned in #804. Here are some ideas, and I think we should do some subset of these:

1. Explain that some of the routes are difficult or impossible to follow due to bugs
2. Highlight the jump b