[2016-11-14 20:11] jonfroehlich commented on #254
I don't think we should say this. It's speculative. How would the user know if it would be fixed in the winter? And how could someone evaluate whether the underlying sidewalk isn't all broken up and degraded as a result of the overgrowth? Finally, don't say things like 'must' when talking to users--it's too heavy handed--instead, say things like 'should.'

[2016-11-14 20:20] Soben713 commented on #254
Yeah, I agree that it's speculative. Do you have any other suggestions? I don't know what to do.

[2016-11-14 20:36] jonfroehlich opened #415 "Admin Interface: Pop-Up Label Examiner Window"
The pop-up label examiner window, which comes up when you click on a label in the Admin Interface map, has incorrectly placed labels. The math looks off. For example, in the screenshot below, the orange label should be where my mouse cursor is and not on the fence. This is related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/385 and I'm guessing the same placement function (underly

[2016-11-14 20:36] Soben713 commented on #254
After talking to Jon, we decided to move this to v3.

[2016-11-14 21:26] kotarohara commented on #415
This is probably due to using different projection mode used in `Admin.Panorama.js`. I sent the PR. @Soben713 , can you check if the change fixes the problem?

[2016-11-14 21:57] #316 closed

[2016-11-14 22:45] #307 closed

[2016-11-14 23:07] #262 closed

[2016-11-15 02:51] Soben713 commented on #279
This is the FAQ item I added. The first two papers are ours and are linked to their PDF version. Should we also link the other related papers?

![image](https://cloud.githubusercontent.com/assets/1576529/20291422/0dae1dd0-aab4-11e6-9861-12005d02c7ac.png)

[2016-11-15 03:29] Soben713 commented on #415
@kotarohara Interesting. I quickly tested it on my localhost and it certainly improves it. But It doesn't completely resolve it.

This is the test:

Original labels:
![image](https://cloud.githubusercontent.com/assets/1576529/20292155/41652e3e-aab9-11e6-9c31-4d5cf3275824.png)

Without your changes
![image](https://cloud.githubusercontent.com/assets/1576529/20292120/ffc0f878-aab8-11e6-9f68-5af86c83

[2016-11-15 03:58] Soben713 commented on #415
Changed the aspect ratio of the panorama holder and it solves the problem. Here is the result:
![image](https://cloud.githubusercontent.com/assets/1576529/20292696/c697bbf4-aabd-11e6-8a43-2b1e97db8dcc.png)

[2016-11-15 04:25] Soben713 commented on #415
The pull request was merged. Closing this.

[2016-11-15 04:25] #415 closed

[2016-11-15 04:26] Soben713 commented on #385
Pull request #416 fixes this.

[2016-11-15 04:26] #385 closed

[2016-11-15 04:50] tongning commented on #335
Not a whole lot of luck so far, but a couple updates on this issue:

-The Google Maps API provides an explicit option "streetViewControl" that when set to false, will make the pegman disappear in the map. However, based on a grep search of the entire codebase this option doesn't seem to be set to false anywhere:
![streetviewcontrol](https://cloud.githubusercontent.com/assets/7234278/20293441/7bb86

[2016-11-15 04:54] #247 closed

[2016-11-15 11:19] jonfroehlich commented on #335
Thanks for investigating Anthony! These bugs are always frustrating.

Perhaps you could make a little video of the problem, post it to YouTube, and then write up a description of the problem (along with link to video) to some forums, including official Google API Issues?

[2016-11-15 11:22] jonfroehlich commented on #279
I think we should link to all the papers to be consistent. Also, we need to
work on the text a bit. I don't have time now but ping me again later.

On Mon, Nov 14, 2016 at 9:51 PM, Soheil Behnezhad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich

[2016-11-15 11:23] jonfroehlich commented on #415
@Soben713, aha, I see that you did indeed test this. Nice job!

[2016-11-15 15:31] #287 closed

[2016-11-15 16:30] Soben713 commented on #335
I found [this link](http://googlemaps.googlermania.com/google_maps_api_v3/en/map_example_49.html) that synchronises google street view and google maps, just like we do (they may be using another version of the API, I'm not sure).

To test if they have the same problem or not, I found a location where the pigman disappears in our interface after walking and moved the pigman in their demo to that sp

[2016-11-15 16:50] Soben713 commented on #335
After investigation this more with Anthony, we noticed that the bug is not consistent. That is, the pigman may or may not disappear in a specific location if you refresh the page.
![image](https://cloud.githubusercontent.com/assets/1576529/20314824/860b8b26-ab29-11e6-978b-222dfcad8b2e.png)

[2016-11-15 16:51] #297 closed

[2016-11-15 16:51] #387 closed

[2016-11-15 16:52] #216 closed

[2016-11-15 18:22] tongning commented on #335
Here's a [video link](https://drive.google.com/open?id=0B-rAM4IXRxwcMnJtR2FNNXVCOVE). The bug starts at 3:34. I think I will make another video with a free program for posting to avoid the Camtasia watermark.

[2016-11-15 18:24] Soben713 commented on #150
PR #417 uses the 6th message, it's shorter than the original one. We should come up with a better layout in the redesigned landing page to make sure this problem is completely resolved. Closing this for now.

[2016-11-15 18:24] #150 closed

[2016-11-15 19:26] jonfroehlich opened #418 "Audit 0.5 Miles But Then Neighborhood Progress Shows that I Audited 1.5 Miles"
Something is going wrong here. My mission was to audit 0.5 miles but when I received the 'Mission Complete' screen, the 'Audited in this mission' said that I audited 1.5 miles.

![image](https://cloud.githubusercontent.com/assets/1621749/20320284/5cacd526-ab3f-11e6-87b1-1b355907bef0.png)

[2016-11-15 19:42] jonfroehlich commented on #418
Update: I went ahead and did the next mission, where I was credited with auditing 2 miles in the mission (see green part) rather than 0.5 miles.

![image](https://cloud.githubusercontent.com/assets/1621749/20320938/acf67454-ab41-11e6-8db4-b9941affedbd.png)

[2016-11-15 20:10] jonfroehlich commented on #418
This is also captured in this video: https://youtu.be/EQlLqLZ-aUg

[2016-11-15 20:21] jonfroehlich opened #419 "Completing a Neighborhood Bug"
I finally completed the Hillcrest neighborhood to test any lingering neighborhood completion bugs (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/296).

Unfortunately, I observed a few bugs (which seem to be related to calculating stats based on my old neighborhood, Hillcrest, vs. my newly assigned neighborhood, Randle Highlands). See: https://youtu.be/EQlLqLZ-aUg?t=16m4s (watch in HD).

[2016-11-15 20:22] jonfroehlich commented on #418
I think this should probably be a v2 milestone and not a v3.

[2016-11-15 23:04] #229 closed

[2016-11-15 23:04] #279 closed

[2016-11-15 23:08] #353 closed

[2016-11-15 23:09] #350 closed

[2016-11-15 23:47] #364 closed

[2016-11-16 00:44] manaswis opened #423 "Street View image not available for some old tasks/labels"
The Street View image becomes black for old labels/tasks.
Check this for an example: http://sidewalk.umiacs.umd.edu/admin/task/1501

<img width="757" alt="screen shot 2016-11-15 at 7 44 54 pm" src="https://cloud.githubusercontent.com/assets/2873216/20330339/1a393324-ab6c-11e6-8bf4-90cbab966079.png">

Is the image being invalidated by Google?

[2016-11-16 00:56] jonfroehlich commented on #423
I believe this is a known problem (and one of the reasons why I wanted to download the panoramas or, at least, a rectangular boundary area around every label). @Soben713, didn't you already mark this as an Issue or did we simply discuss it?

[2016-11-16 01:08] manaswis opened #424 "GSV Updates from Google: Check all Sidewalk calculations work properly"
Google just pushed their changes to their APIs. We are now receiving new images with enhanced features (e.g. streets labeled with street names, walking through the streets is way smoother etc.)

We need to make sure that the changes haven't broken any of the calculations we make in our system.

Things to check (not exhaustive - will keep updating it):
- label placement calculations
- it looks like

[2016-11-16 03:07] jonfroehlich commented on #335
I agree. Would be best to make video without water mark. Also, consider
uploading to YouTube rather than Google Drive once you have a video that
you can share on the forums.

Jon

On Tue, Nov 15, 2016 at 1:22 PM, Anthony Li <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https:

[2016-11-16 03:35] tongning commented on #335
Here is a [new video](https://drive.google.com/open?id=0B-rAM4IXRxwcVkNDZk1hUEp5elU), bug starting at 1:29.

[2016-11-16 03:36] Soben713 commented on #248
(Temporary post)

Found this funny car:
![image](https://cloud.githubusercontent.com/assets/1576529/20333885/dd98130a-ab83-11e6-86f8-a60434a56f25.png)

[2016-11-16 04:59] Soben713 commented on #272
This is not completely resolved. The image is not shown. Probably because we're using a relative source path for the image.
![image](https://cloud.githubusercontent.com/assets/1576529/20335294/6eb77d52-ab8f-11e6-8a9c-6e22b55166de.png)

[2016-11-16 10:58] jonfroehlich commented on #424
I just checked on my mobile phone and one cool thing is that the motion sensor in the phone now can control your view (this is neat). Downside is that the GSV pane frequently goes all black. So we should definitely test if touchscreen support is broken.

[2016-11-16 11:14] jonfroehlich commented on #419
Note that I never started a mission in Randle Highlands in the above thread; however, I did just now. Here's what happened.

First, the start mission screen is weird. I'm at 94% with 1.5 miles audited and 261 labels applied. Is this accurate? It might be simply because some of the roads I audited in Hillcrest went in to Randle Highlands--so I'm probably getting credit for that. Still, it's confusi

[2016-11-16 11:15] jonfroehlich opened #425 "Consider Showing Placed Labels as Dots on Mission Complete Screen"
I think this Mission Complete screen might be more effective if it showed the user all of the labels they placed for this mission on the top-down map.

![image](https://cloud.githubusercontent.com/assets/1621749/20345207/14b4abb0-abc4-11e6-8f89-a10c733eb1e6.png)

[2016-11-16 11:16] jonfroehlich opened #426 "The Gray Is Too Drab in Mission Complete Window"
The dark gray in the redesigned Mission Complete window for completed roads and the progress bar is too drab/dreary. I liked the blue better honestly--it felt more cheerful... which better matches how we want our user to feel with completing work.

![image](https://cloud.githubusercontent.com/assets/1621749/20345236/2f28585c-abc4-11e6-9395-27671b893376.png)

@manaswis and @Soben713, thoughts?

[2016-11-16 11:23] jonfroehlich opened #427 "The Tip Box Should *NOT* Be Modal"
I just had a very negative interaction experience. The tip box is a modal window and it steals focus away from the interface (I had the obstacle button selected but when the tip box came up, the obstacle button was automatically deselected). Moreover, I think the tip box should stay open (in a modeless state) until: (i) the user explicitly dismisses it or (ii) some amount of time has expired (mayb

[2016-11-16 11:25] jonfroehlich opened #428 "The Tip Box Key Press Recommendation is a Bit Ambigious"
We need to say 'You can also press the *O* key...' without the word key, this tip box is confusing. I think the key icon itself should also look more like a key. Something more like:
![image](https://cloud.githubusercontent.com/assets/1621749/20345480/5f9cb8d8-abc5-11e6-9a1a-15b51f4ea5c9.png) or
![image](https://cloud.githubusercontent.com/assets/1621749/20345496/69ada6ac-abc5-11e6-9e7b-609caab78f

[2016-11-16 11:32] jonfroehlich commented on #424
It looks like placed labels in the GSV pane do not 'stick' to their position as well with the new GSV API. See video: https://youtu.be/ll_OFFjxHo0

I'm going to open up a new Issue for this.

[2016-11-16 11:34] jonfroehlich opened #429 "Labels Do Not Appear To 'Stick' To Their Position in 3D Space As Well With New GSV API"
As noted here https://github.com/ProjectSidewalk/SidewalkWebpage/issues/424, labels do not appear to 'stick' as well to their position in 3D space when the user pans. This looks worse than it did with old GSV API--at least in my memory (indeed, the labels seemed to stick quite well then).

Here's a video: https://youtu.be/ll_OFFjxHo0 but it needs more testing

@kotarohara, what do you think? This

[2016-11-16 14:34] jonfroehlich commented on #428
Even the github tip box shows better key icons (that indicate a keyboard key):

![image](https://cloud.githubusercontent.com/assets/1621749/20351196/d53e7102-abdf-11e6-8c34-e1dca1ec15d2.png)

[2016-11-16 14:40] jonfroehlich commented on #198
This issue is now a huge priority as Soheil and Manaswi have both noticed that some previously labeled image data is no longer available (see https://github.com/ProjectSidewalk/SidewalkWebpage/issues/423). Consequently, this is what I think we should do:

- On the backend, when labels are uploaded, we should automatically extract a bounding box (of sufficient size) cropped image where that label e

[2016-11-16 14:55] jonfroehlich commented on #335
@tongning, once you are happy with the video and it's edited to clearly show the problem, please upload it to YouTube and then start posting on forums for help. Please keep this github thread updated with your progress and links to your forum posts (e.g., on Google Maps bug reporting forum). Then, once you do so, I'd like you to push this to v3 and start focusing on your other assigned tasks.

[2016-11-16 15:04] jonfroehlich opened #430 "GIS Day Usability Observations"
**Tutorial Problems**
About half of the room (maybe ~15 users) failed to get through the tutorial for a mixture of the following reasons:

- The most common problem was that users did not understand which direction to pan when they saw the animated hand. Most users intuitively panned in the direction of the hand movement and not counter to the hand movement. (#437)
- Another very common problem (p

[2016-11-16 15:45] kotarohara commented on #429
It looks wrong. The projection of the Street View imagery is not set correctly. @Soheil Did you make changes to the projection mode for the labeling interface? E.g., got rid of the parameter that sets the projection mode to html4?

[2016-11-16 15:48] Soben713 commented on #429
@kotarohara No I did not. Google automatically updated it. I know that because it was changed on the website before I deploy the new version.

[2016-11-16 15:49] kotarohara commented on #424
@manaswi, I actually tried to find the Google's notes about the update to the Google Maps API. I cannot find it. Can you share the link?

[2016-11-16 16:03] tongning commented on #429
Typing google.maps.version into the console, it looks like the API version has automatically changed to 3.26.14. Yesterday morning it was 3.25. According to [this page](https://developers.google.com/maps/documentation/javascript/versions) we can lock the version by specifying something like "v=3.25" in our API call. Perhaps we should do this to revert to 3.25 until the newer one is tested?

[2016-11-16 16:10] kotarohara commented on #429
I see. Yes, @tongning, I think specifically setting the version to older version would be first thing to try. I hope that fixes the problem! I hope Google did not take down the whole `html4` projection mode all together. If they did, I think we have to rewrite the parts that is mapping the canvas coordinate to Street View image coordinate (and vice versa). So let me know if that's the case.

[2016-11-16 16:12] jonfroehlich commented on #429
Note that we have active users all day as part of GIS day right now and they are all currently using the system, so anything we do now should be fully tested before we push.

[2016-11-16 16:35] tongning commented on #429
I have set the API version to 3.25 in the maps-api-revert branch for easier testing.

[2016-11-16 17:07] jonfroehlich opened #431 "The Tip Box Should Not Come Up During Tutorial"
During GIS day, I noticed a number of users very confused by this tip box. I think we should disable tip boxes during the tutorial. The hover/mouse over stuff is still good.

![image](https://cloud.githubusercontent.com/assets/1621749/20357258/349e15ca-abf5-11e6-9366-28ae39592617.png)

[2016-11-16 17:14] Soben713 commented on #429
Thank you Anthony. I am going to merge your branch into master and deploy it because that's actually the version we tested everything on.

[2016-11-16 17:18] manaswis commented on #429
Before merging and deploying, test it on your system to make sure its working properly.

[2016-11-16 17:20] jonfroehlich commented on #429
I agree with Manaswi.

On Wed, Nov 16, 2016 at 12:18 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-16 18:44] Soben713 commented on #429
@manaswis @jonfroehlich Just saw your messages. Yeah, I wouldn't have deployed it without testing.

[2016-11-16 18:54] jonfroehlich opened #433 "Admin Interface: Timestamps in Recent Labels Table in Local Timezone?"
It looks like the timezone is wrong for the timestamps in the Recent Labels table. I'm not sure if all timestamps are stored as UTC in the database and then translated into the admin user's home timezone when presented, but there is some sort of error here. Note that it shows 11/16 at 5:33PM but it's not even 2PM here yet!

![image](https://cloud.githubusercontent.com/assets/1621749/20361049/20a59

[2016-11-16 20:14] Soben713 commented on #272
This is now fixed:

![image](https://cloud.githubusercontent.com/assets/1576529/20363974/5e7880dc-ac0f-11e6-9b28-46f70744a5ed.png)

[2016-11-16 20:14] #272 closed

[2016-11-16 20:25] Soben713 commented on #428
Yeah, I like Github's keyboard buttons. I'll do something similar.

[2016-11-16 20:27] Soben713 commented on #427
Technically, It's not a "modal". Basically, if the cursor leaves the street view box, the mode is switched but since the alert is inside the street view it should not happen. Will fix this.

[2016-11-16 20:57] Soben713 commented on #428
Also, do you mean we should remove the second part that explains what happens if you press that key?

[2016-11-16 21:01] jonfroehlich commented on #428
I don't know what you mean by "Also, do you mean we should remove the second part that explains what happens if you press that key?" so I don't think so.

[2016-11-16 21:03] jonfroehlich commented on #427
Ah, ok, thanks for clarifying. Yes, has to be fixed.

On Wed, Nov 16, 2016 at 3:27 PM, Soheil Behnezhad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-16 21:06] Soben713 commented on #428
So, how about this?
![image](https://cloud.githubusercontent.com/assets/1576529/20365590/6caa952c-ac15-11e6-9b89-29e2166df5a6.png)

 The bounding box is now a square and it has a bottom shadow.

[2016-11-16 21:07] manaswis commented on #426
Hmm, I agree. It needs to be more cheerful. Other than the blue color suggestion you made, we could also highlight the area (light and bright grayed area) to be the default map color theme (I guess its pale yellowish background theme) Basically, whatever is the default color theme and other areas are gray. That would highlight the audited area more and in a cheerful manner.

[2016-11-16 21:12] Soben713 commented on #427
That's exactly what happens now, except it disappears after 10 seconds. Will increase it to 15 seconds, I agree that maybe 10 seconds is not enough.

[2016-11-16 21:39] jonfroehlich commented on #428
We need to say:

"You can also press the *C* key for selecting the "Curb Ramp" label."

[2016-11-16 21:44] Soben713 commented on #428
@jonfroehlich Right. Updated the pull request.

[2016-11-16 21:50] jonfroehlich opened #436 "Walking Forward in Tutorial Interface is Broken"
@manaswis says that walking forward (by double clicking) is broken in the tutorial. This needs to be fixed.

[2016-11-16 21:56] jonfroehlich opened #437 "Tutorial: Improve instructions for panning"
From my GIS day observations, a very critical thing emerged: roughly half of the users I observed (~8 people) could not figure out what the panning animation meant in the tutorial and started to pan in the wrong direction. Rather than panning to the left (as the animation suggests), they panned in the direction of the hand movement (so, they panned to the right). This is a significant problem!

Tw

[2016-11-16 22:00] Soben713 commented on #354
Moving this to v3 for now since this is not a high priority issue.

[2016-11-16 22:12] manaswis commented on #430
Also, to add, the labels added by people might not be good. So for analysis, we might have to ignore labels submitted today (Nov 16, 2016).

[2016-11-17 00:06] manaswis opened #439 "Tutorial Redesign: Discussion Thread for Ideas"
During v2 testing, we found multiple problems with the onboarding tutorial, of which few parts would require a redesign. Some of them that we found are listed here:

- Direction of panning wasn't clear to many users -- needs to be made more clear of which direction to pan
- The "you have already labeled this corner so you do not need to label it again" does not clearly onboard people that their la

[2016-11-17 00:15] #427 closed

[2016-11-17 00:15] #428 closed

[2016-11-17 00:15] #431 closed

[2016-11-17 00:17] manaswis commented on #436
Fixed with #438

[2016-11-17 00:17] #436 closed

[2016-11-17 01:40] #269 closed

[2016-11-17 02:18] jonfroehlich commented on #248
Mattress on sidewalk:

![image](https://cloud.githubusercontent.com/assets/1621749/20373784/37c9e826-ac42-11e6-996c-cb13e55012cb.png)

[2016-11-17 02:52] jonfroehlich commented on #430
@manaswis, but that's always the case. We have no reason to believe that the people from today are any better or worse than a normal online user.

[2016-11-17 02:55] manaswis commented on #430
That's true. This comment was based on a comment you made in one of our meetings today that we might have to ignore the labels from today (probably, it would also because of the new version of GSV that was used in the first half). I will update the comment to add that fact. I logged it here so that we can refer to it when we do the actual analysis.

[2016-11-17 02:59] jonfroehlich commented on #430
Yep, my comment was more with regards to the GSV API switch than with the users. :)

[2016-11-17 02:59] manaswis commented on #430
Updated the comment. Thanks for pointing that out. I missed the crucial part of the message :)

[2016-11-17 17:32] tongning commented on #335
Link to [bug report](https://code.google.com/p/gmaps-api-issues/issues/detail?id=10900). Pushing this to v3 now.

[2016-11-17 18:13] tongning commented on #198
Are there any tried-and-tested tools for extracting street view images? I found an experimental [node package](https://www.npmjs.com/package/extract-streetview) but I'm wondering if something better exists.

[2016-11-17 19:04] jonfroehlich commented on #198
No idea. @kotarohara made something for Tohme that he could likely send you. We can scrape both the panorama and the 3D depth LiDar data.

[2016-11-17 19:13] tongning commented on #198
Thanks Jon, @kotarohara sent me some scripts. Hope to try them out later tonight.

[2016-11-17 19:20] jonfroehlich commented on #198
Ok. Great!

Sent from my iPhone

[2016-11-18 00:53] manaswis opened #440 "Track Participate button clicks using Google Analytics for the landing page"
Add the google analytics tracking code to 'Participate' button/'Start auditing' link on the top menu bar on the landing page. Also, track visits to the audit page. Currently, we can't determine these stats using Google Analytics Dashboard.

[2016-11-18 01:42] jonfroehlich commented on #248
Inaccessible bus stop.

![image](https://cloud.githubusercontent.com/assets/1621749/20415471/5f76f638-ad06-11e6-80c0-af5171fa697f.png)

[2016-11-18 01:47] jonfroehlich commented on #248
Gate blocking access.

![image](https://cloud.githubusercontent.com/assets/1621749/20415560/1a9fe92e-ad07-11e6-9c3e-75e11d9030aa.png)

[2016-11-18 01:53] jonfroehlich opened #441 "Ratings Dialog Should Have Hover Keyboard Shortcuts Tooltip"
Just like the labeling buttons in the main interface, the pop-up rating dialog should show that you can press 1,2,3,4, or 5 on the keyboard to select the numerical rating.

![image](https://cloud.githubusercontent.com/assets/1621749/20415677/d2866de2-ad07-11e6-8d48-79e718a68845.png)

[2016-11-18 01:54] jonfroehlich commented on #248
No way through this double pole obstacle!

![image](https://cloud.githubusercontent.com/assets/1621749/20415710/10cba1da-ad08-11e6-8488-5be440c0f337.png)

[2016-11-18 11:26] jonfroehlich commented on #440
This should be a very easy fix and, honestly, I'd like this to get done for v2 if possible. We should be using Google Analytics on every page on our website.

[2016-11-18 11:31] jonfroehlich commented on #335
Thanks Anthony. In the future, best to either edit your video down to just show problem or link directly to that timestamp (YouTube allows you to link to a specific time in a video): https://youtu.be/AdAOfwDJcJc?t=1m24s. Thanks for doing this.

It looks like your bug report already has a response. Can you take further action based on their suggestion?

[2016-11-18 13:43] tongning commented on #335
The bug is still there in 3.26 but I haven't thought to try the experimental 3.27 yet, so I'll give that a shot. It doesn't sound like they can take action until the bug is reproducible in isolation, which is understandable.

[2016-11-18 13:45] jonfroehlich commented on #335
Yep. I agree. And that was your impulse too for next steps so I think it's the right direction.

Sent from my iPhone

[2016-11-18 15:15] kotarohara commented on #440
Actually I don't understand what the issue is. Isn't the application already tracking the web page visit using Google Analytics? I can see page visit on: `Behavior > Site Content > All Pages` ([ref](http://stackoverflow.com/questions/19502359/number-of-visitors-on-a-specific-page)). Also, isn't the `webpage_activity` tracking page visit to the `/audit` page? Are we talking about tracking more gran

[2016-11-18 15:18] jonfroehlich commented on #440
I asked @manaswis to check whether the audit page was being tracked and I thought she said 'no.' So, I figured that the Analytics code was not being dropped into all pages (e.g., was not like in a base template). I did not investigate this myself.

I'm not sure we really care how many users click Participate vs. Start Auditing. We care about how many users come to landing page and then go to the /

[2016-11-18 15:47] kotarohara commented on #440
I see. @manaswis , please check if necessary information is there so you can decide if you need to work on this. If not, one less issue to work on for you :)

[2016-11-18 16:33] manaswis commented on #440
Thanks @kotarohara. I am looking into it now.

[2016-11-18 23:38] manaswis commented on #433
Not sure, why this is problem happened on this day. I tried again by adding labels. They have the correct timestamp.

![screen shot 2016-11-18 at 6 01 53 pm](https://cloud.githubusercontent.com/assets/2873216/20450382/16de8806-adbe-11e6-8154-d062bd596f86.png)

I'll look into the timestamps of those labels in the database next.

[2016-11-19 20:51] Soben713 commented on #248
Stroller on curb ramp:
![image](https://cloud.githubusercontent.com/assets/1576529/20458336/fd78471e-ae6f-11e6-8396-ee598ecbf909.png)

[2016-11-19 21:56] jonfroehlich commented on #248
This is great. Thanks Soheil!

Sent from my iPhone

[2016-11-21 00:25] Soben713 commented on #419
**An update on this issue:**

I dumped the database near the end of a neighborhood and kept testing things that happen when that neighborhood is finished and I encountered some bugs, in addition to what Jon mentioned in this thread. To fix all these issues I came up with another mechanism of what should happen when neighborhoods are completely audited that makes the code much simpler. We can discu

[2016-11-21 14:07] jonfroehlich commented on #419
Thanks @Soben713. I likely won't have time to look at this until after the CHI rebuttal period ends on Wed. Perhaps you and @manaswis can discuss before then (though @manaswis is also working on a rebuttal).

[2016-11-22 03:03] jonfroehlich opened #446 "Tutorial Broken: Onboarding Not Defined"
Tested in Chrome and Firefox. The tutorial no longer works. When you click Participate in incognito mode (as a first time user), you immediately begin a mission rather than start a tutorial. If you try to click on 'Retake Tutorial,' nothing happens. See screenshot below.

![image](https://cloud.githubusercontent.com/assets/1621749/20509356/2757e84c-b036-11e6-8929-3d24b2642d3b.png)

[2016-11-22 03:22] Soben713 commented on #446
The file Onboarding.js is not concatenated into the build file (SVLabel.js). Not sure why, but to quickly fix this I am going to manually deploy another version.

[2016-11-22 03:31] jonfroehlich commented on #446
How did we miss this? How long has this problem existed?

[2016-11-22 03:42] Soben713 commented on #446
It is now fixed.

[2016-11-22 04:03] Soben713 commented on #446
@jonfroehlich It happened because the code was deployed using the automatic deploy script and I believe it won't happen again, even if we use the deploy script.

### What happened
Depending on the file system, folder names may or may not be case-sensitive. If you look at [this path](https://github.com/ProjectSidewalk/SidewalkWebpage/tree/master/public/javascripts/SVLabel/src/SVLabel), you'll notic

[2016-11-22 04:03] #446 closed

[2016-11-22 04:09] jonfroehlich commented on #446
OK, thank you. It's too bad we didn't get a message from Grunt that told us
it couldn't locate that file when we deployed...

On Mon, Nov 21, 2016 at 11:03 PM, Soheil Behnezhad <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-22 04:14] Soben713 commented on #446
Grunt does not know the file names. We just specify the folders containing them and grunt concatenates what's inside them (there could be multiple JS files inside a folder).

[2016-11-22 11:08] jonfroehlich commented on #446
Ok.

How long was the server broken?

On Mon, Nov 21, 2016 at 11:14 PM, Soheil Behnezhad <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-22 15:56] Soben713 commented on #446
Less than two days.

On Tue, Nov 22, 2016 at 6:08 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-11-23 20:06] jonfroehlich opened #448 "Started Mission: Immediately Got Jump Dialog"
Just started mission and immediately got a jump dialog (without taking a step). Note that it says I have "0 feet to go" but I just started the mission.

![image](https://cloud.githubusercontent.com/assets/1621749/20576997/53e5c646-b18e-11e6-9d8e-2b54a7cf6908.png)

[2016-11-23 20:11] jonfroehlich opened #449 "Landing Page Icons Not Scaled Correctly in Microsoft Edge"
![image](https://cloud.githubusercontent.com/assets/1621749/20577166/1c4b9444-b18f-11e6-880b-1bfea4f2707d.png)

[2016-11-23 20:13] jonfroehlich commented on #449
Since we are not supporting Microsoft Edge currently, I won't post this as a separate Issue but currently the mouse cursor does not change correctly in Edge when you have a label selected (it just stays as a pointer).

[2016-11-23 22:44] manaswis commented on #448
Yes, this issue is logged here -- https://github.com/ProjectSidewalk/SidewalkWebpage/issues/314
The new jump functionality also uncovered a few bugs that are now fixed. Once the implementation is complete, I will test these things.

Shall I close this one?

[2016-11-24 00:58] jonfroehlich commented on #448
Yes, can be closed. Thanks!

Sorry for entering a duplicate Issue.

On Wed, Nov 23, 2016 at 5:44 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-24 01:13] jonfroehlich opened #451 "GSV Pane Just Went Black"
GSV pane just went blank while auditing.

Console says: "Failed to load resource: the server responded with a status of 500 ()"

![image](https://cloud.githubusercontent.com/assets/1621749/20583562/34695a00-b1b9-11e6-89a4-74721001dbd0.png)

Could we catch that this is happening and try to call the API again?

[2016-11-24 02:27] #448 closed

[2016-11-25 14:34] jonfroehlich commented on #437
An update on this. Over Thanksgiving, I had one family member try our interface. She is a science graduate student. Though not in CS, she is fairly technical. She was also confused by the panning animation and could not finish the tutorial. Indeed, she ended up turning the wrong way and labeling features and getting more and more confused until she wanted to quit. She was quite frustrated.

[2016-11-25 14:36] jonfroehlich opened #453 "Tutorial: Arrows Should Flash to Draw Attention and Be Consistent"
These arrows should flash to draw more attention to them and be consistent with the rest of the tutorial interface when things are highlighted in yellow.

![image](https://cloud.githubusercontent.com/assets/1621749/20628184/8ef189ae-b2f2-11e6-908f-0887aec20d38.png)

[2016-11-25 22:03] jonfroehlich opened #454 "Tutorial: Show tutorial interface immediately instead of loading GSV Interface first"
As a first-time user, after you click Participate, the GSV interface confusingly shows briefly before the tutorial. This should not happen. It's confusing and disorienting. The tutorial interface should come up immediately.

https://youtu.be/_JdAOQMM3VQ

[2016-11-28 17:33] jonfroehlich opened #456 "Fun Interface Idea to Promote Project Sidewalk"
When someone sees something particularly glaringly bad or interesting, they could hit a 'share on social media' button (e.g., Facebook, Twitter) and it would take the current screen and share it to social media. A link back to Project Sidewalk would be included.

This would be sort of like a public feed of: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/248.

Thoughts?

[2016-11-28 19:28] jonfroehlich opened #457 "What to do about Access Score for v2?"
Access Score has become unusable. The webpage takes too long to load and does not provide the user any feedback about what is happening (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/344). Moreover, the access score calculations themselves do not seem to accurately represent the density and severity of found accessibility problems (https://github.com/ProjectSidewalk/SidewalkWebpage/iss

[2016-11-29 14:25] manaswis commented on #457
We could start with the last option (temp solution) till we come up with a solution to optimize rendering labels faster for implementing the third option. Not sure how long the third option would take.

@tongning could implement the temp solution.

[2016-11-29 15:19] tongning commented on #457
From a cursory search I think giving the website the ability to screenshot itself would be fairly difficult without installing additional tools on the server. Perhaps another machine should be set up (on AWS, etc.) to take and host the screenshots, and the main site just has an img href to the external image. Of course the screenshot can also be updated manually. Either way, it seems rather clunky

[2016-11-29 15:33] jonfroehlich commented on #457
We definitely should not update the screenshot manually.

Generally, in UI programming, the way you create screenshots is to take the drawn output--the Canvas in this case--and save it to a file. I guess the key is where would we run this code given that our server is unix and doesn't have a browser (which Anthony rightly pointed out).

Assuming we had a machine (on AWS or otherwise) that could ru

[2016-11-29 17:08] Soben713 commented on #457
While taking screenshots would certainly resolve the performance problem, it is still a workaround and given the time we have to spend on setting up another machine to take these screenshots I don't think it's worth it. I have some suggestions to improve the performance of the current visualization:

1. Caching the neighborhoods' scores on the server. We might also want to disable the significance

[2016-11-29 17:28] tongning commented on #457
I agree, the time needed to set up and maintain the screenshotting infrastructure probably isn't worth it for something that can only be highly temporary. Best used as a last resort if all methods to make the map faster fail.

[2016-11-29 17:55] jonfroehlich commented on #457
I agree as well. Thanks for weighing in. Honestly, this is really under the purview of @manaswis' work as she is directing the Access Score visualization development and research. While I think @tongning could totally do this, I think it might make sense for @manaswis to spend a bit of time investigating the problem with profilers and coming up with fixes (@soben713 got us started with https://git

[2016-11-30 00:22] kotarohara commented on #457
Regarding the profiling and the optimization that will happen in the future. I think there are three parts that could be bottlenecks but I think the rendering is the issue.

* **Fetching data from database:** It is true that it take really long time to retrieve and compute access score for a large area (_e.g.,_ the entire DC like what we do for the demo page). That is why the data is cached for a

[2016-11-30 13:09] manaswis commented on #457
Thanks for the awesome suggestions everyone! I will investigate this after the v2 tasks are done.

[2016-11-30 13:12] manaswis commented on #440
I looked into this and the behavior flow chart from Google Analytics dashboard shows how many users come to landing page and then go to the /audit page. So we don't need to implement this.

Closing this issue.

[2016-11-30 13:12] #440 closed

[2016-11-30 14:41] jonfroehlich commented on #457
Thanks Kotaro.

My feeling is that we still take down _Access Score_ for now and, instead, have a _View Results_ link that does not calculate any access score metrics. Instead, it simply shows end users all of the data that we've collected so far. The easiest way to do this, in my mind, would be via a dot-based visualization like we have on the Admin Page. All we have to do is make this faster and

[2016-11-30 17:19] kotarohara commented on #457
@jonfroehlich Yes, I figured that the team will go for one of the options you mentioned previously :) I think pre-rendering a raster image makes sense. I just wanted to follow up with the points that Soheil raised above so when Manaswi will be working on this she knows what/where to look.

[2016-11-30 17:21] jonfroehlich commented on #457
Sure, got it.

And to be clear, I think we, as a group, decided not to pursue rasterized image option but rather to speed up the Admin page visualization and deploy something similar to View Results link on landing page.

[2016-11-30 17:23] Soben713 commented on #418
What really happens is that after you finish your current mission, although the progress bar shows 100% complete, but what the mission message (the text above the progress bar) shows, is about the next mission. So it is possible that your mission was indeed to audit 1.5 miles. This is fixed in PR #452 because I made the modal wider and it covers the status sidebar and there won't be any confusion.

[2016-11-30 17:25] jonfroehlich commented on #418
My mission was not to audit 1.5 miles. Missions don't go above auditing 0.5 miles I don't think. So, I don't think https://github.com/ProjectSidewalk/SidewalkWebpage/pull/452 will fix this.

[2016-11-30 17:35] kotarohara commented on #457
Oh, I see. I think it makes sense :)

If the visualization will show the dots at the zoom level in which the entire DC can be seen, however, I think rendering things on canvas is the way to go (as opposed to rendering SVG elements within a bounded viewport as Soheil and I mentioned). I think there are just too many elements to render at the city level.

[2016-11-30 17:56] Soben713 commented on #418
@jonfroehlich Good point. I'll try to reproduce it.

[2016-11-30 17:58] jonfroehlich commented on #457
I agree. Render with Canvas object.

[2016-11-30 23:01] manaswis commented on #457
Adding my suggestion from the v2 launch date email here:

[2016-12-01 18:24] jonfroehlich commented on #243
@kotarohara I see that you just committed code to address this problem (https://github.com/ProjectSidewalk/SidewalkWebpage/pull/459#issuecomment-264242684) but I don't understand it. For example, how would preventing walking for 1 sec solve what @manaswis posted (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/243#issuecomment-259809123)?

[2016-12-01 18:41] manaswis opened #460 "Onboarding labels getting logged -- is this correct?"
Just wanted to clarify if this is the right behavior:

I was going over some of the labels added by users who contributed today and I observed the labels are from the onboarding location for all of them. For some, those are the only labels (i.e. they didn't audit further after finishing onboarding). Are we supposed to log them into the database?

User 1:
![screen shot 2016-12-01 at 1 35 29 pm](htt

[2016-12-01 18:48] jonfroehlich commented on #460
Absolutely. We want to be able to investigate things like: onboarding performance vs. actual performance.

I guess the question in my mind is:  why _wouldn't_ we log this? IMO, we should be logging as much as possible to better understand how users behave, how to potentially improve our system, and to enable us to answer our research questions (both current and future).

[2016-12-01 18:54] manaswis commented on #460
Right, it makes sense. We can also track how many users move from onboarding to the actual auditing of streets with the help of these. Thanks!

[2016-12-01 19:07] #460 closed

[2016-12-01 19:16] jonfroehlich commented on #460
Also, when posting screenshots of our admin data, do try to block out identities if possible (and especially emails).

[2016-12-01 19:18] manaswis commented on #460
Sure, I'll update the above screenshots accordingly.

[2016-12-01 19:53] jonfroehlich opened #461 "Add Hover Tooltips to Other Buttons that Have Keyboard Shortcuts"
You can press 'Z' to zoom but there is no hover tooltip for this for some reason.

![image](https://cloud.githubusercontent.com/assets/1621749/20810024/ec489dee-b7d5-11e6-8a06-c7b33630c3f3.png)

[2016-12-02 14:02] jonfroehlich commented on #408
@manaswis, I just thought of this on my bike to work this morning: I think we should *log* when we show this message to the user, when it starts to blink, and when the user actually clicks on it. I want to study whether users click on the message almost immediately or whether they do what we actually want, which is to audit that remaining area and then jump.

I feel like our solution is somewhat c

[2016-12-02 16:33] manaswis opened #462 "'Uh-oh too far from route' message is shown incorrectly"
Bug 1: This compass message shows up while the user is being jumped. The message is flashed and then the proper compass message is displayed. This is a bug I found while coding up the new jump mechanism. It exists even on the master branch.

Bug 2: Related issue: The message shows up even when the user appears to be on the right path (like in the screenshot).

![screen shot 2016-12-01 at 6 18 49 p

[2016-12-02 16:40] manaswis opened #463 "`taskStart` date is not recorded correctly"
While working on other issues, I found that the `taskStart` date stored doesn't seem to reflect the actual time the task started in the database. See screenshot below:

<img width="989" alt="screen shot 2016-12-02 at 11 34 22 am" src="https://cloud.githubusercontent.com/assets/2873216/20841965/c1ca113e-b883-11e6-8c13-37185f2954dc.png">

All the tasks have the same `taskStart` date. To the best of

[2016-12-02 17:04] jonfroehlich commented on #463
And we absolutely will. This seems like a big problem. How can we calculate average task length (in time) without this functioning correctly.

@kotarohara, had you seen this before?

[2016-12-02 17:44] manaswis commented on #408
Yes, we should do that. The blink part might be a bit trickier since that's controlled by the JS timer but its doable. We need to add a few other listeners to specifically track the blinking during the jump.

[2016-12-02 17:54] manaswis commented on #408
One idea is: To inform them as an instruction/information beforehand that there would be situations where they might have to jump because streets around them would already have been audited and they will have to be moved to an unaudited area of the neighborhood. This would let at least tell them, in advance, why the jumps are happening and why they have to perform the jumps.

When this information

[2016-12-02 17:56] jonfroehlich commented on #408
I don't think we need to clarify *why* they need to jump. To me, this is not the confusing part. The confusing part is that its ambiguous when they are actually supposed to choose to jump.

[2016-12-02 21:25] jonfroehlich opened #464 "Are We Logging When People Self-Select Their Own Audit Neighborhoods?"
Are we logging when people self-select their own audit neighborhoods?

![image](https://cloud.githubusercontent.com/assets/1621749/20850969/d3345d1c-b8ab-11e6-8316-26eaf6114298.png)

This is important for our research. Can someone check please? @manaswis @kotarohara

[2016-12-04 07:18] kotarohara commented on #462
I get the feeling this related to PR #459 . Please read the description I wrote on the PR and see if that is related.

[2016-12-04 18:50] jonfroehlich commented on #248
Routed down a private drive:

![image](https://cloud.githubusercontent.com/assets/1621749/20868394/90e9d0e4-ba28-11e6-8102-4a26b2886048.png)

[2016-12-04 19:10] jonfroehlich opened #465 "Admin Interface: list of IP addresses being logged instead of just one"
There is an errant comma in the ip address table for anon users:

![image](https://cloud.githubusercontent.com/assets/1621749/20868502/5ce592c6-ba2b-11e6-8b0d-be3f5ed20d49.png)

[2016-12-04 19:40] jonfroehlich commented on #248
This not from our site but still crazy. :)

![image](https://cloud.githubusercontent.com/assets/1621749/20868696/90ffa156-ba2f-11e6-9734-3bc8645547ad.png)

Source: http://www.bicycling.com/sites/bicycling.com/files/treelane.jpg

Jeff Foster sent me this.

[2016-12-05 19:55] manaswis commented on #463
After investigating the issue, I found that what its recording is the "session start date" i.e. the time the `/audit` page was loaded the first time - so it preserves a session. Soheil is currently doing the analysis using the taskStart date stored in the `audit_task_interaction` table. Also, the code isn't straightforward to modify to update the taskStart date.

After contemplating the pros and c

[2016-12-05 19:57] jonfroehlich commented on #463
Sounds good. Should we move this to v3 or just mark this idiosyncrasy is some documentation?

[2016-12-05 20:05] manaswis commented on #463
I think adding it to the documentation is best for now; we note there that when we refactor the codebase we should modify the logic then.

[2016-12-05 20:10] jonfroehlich commented on #463
OK, in the documentation, link back to this Issue on github.

[2016-12-05 20:22] manaswis commented on #403
Since this bug will affect the way we do data analysis, I have added a note to the [developer notes stored in the wiki](https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Developer-notes).

[2016-12-05 20:22] manaswis commented on #463
I have added a note about this issue in the [developer notes](https://github.com/ProjectSidewalk/SidewalkWebpage/wiki/Developer-notes) stored in the wiki of this github repo.

[2016-12-05 20:27] manaswis commented on #463
Closing this issue now.

[2016-12-05 20:32] jonfroehlich commented on #403
Your explanation in the wiki makes it seem like there is a difference here between v1 and v2 but I didn't think there was a difference, just that nobody noticed this problem before.

![image](https://cloud.githubusercontent.com/assets/1621749/20901335/0cea676c-bb00-11e6-958d-a00659efe3b5.png)

[2016-12-05 20:37] manaswis commented on #403
Yes, there isn't a difference. That's why I clubbed both releases together. I could remove v1 if that will make it more clear.

[2016-12-05 21:18] #403 closed

[2016-12-06 17:27] manaswis commented on #457
Add the "View Results" link:
![view_results_link](https://cloud.githubusercontent.com/assets/2873216/20936058/2b6227b6-bbaf-11e6-8c3a-cd35aeedd90f.png)

Will add text overlay on the image - something like "Interactive version coming soon! Stay tuned".

[2016-12-06 18:02] manaswis commented on #248
Interior of a shop; saw a lot of these today.
![screen shot 2016-12-06 at 1 01 21 pm](https://cloud.githubusercontent.com/assets/2873216/20937265/36641c32-bbb4-11e6-929e-41b92a604683.png)

[2016-12-06 18:12] jonfroehlich commented on #248
Yep, this is actually not that uncommon in certain parts of DC. They did a
lot of indoor Street View back in ~2013 or something. Hasn't really caught
on though... however, I did propose using our technique to evaluate the
accessibility of indoor areas when SV images are available.

On Tue, Dec 6, 2016 at 1:02 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor

[2016-12-06 20:17] manaswis commented on #248
Another form of occlusion -- water droplet on the camera

![screen shot 2016-12-06 at 3 16 13 pm](https://cloud.githubusercontent.com/assets/2873216/20941948/fa982992-bbc6-11e6-83f1-e121739a6b11.png)

[2016-12-07 13:21] #457 closed

[2016-12-07 20:03] manaswis commented on #274
Submitted the PR (#468) for this issue. Screenshot of the entry below:

<img width="857" alt="screen shot 2016-12-07 at 3 00 06 pm" src="https://cloud.githubusercontent.com/assets/2873216/20984451/4be067ca-bc8e-11e6-88d6-d18f6eb76828.png">

[2016-12-08 06:19] #203 closed

[2016-12-08 16:30] #274 closed

[2016-12-08 16:56] Soben713 commented on #418
I changed the part of the code that computed the `missionDistance` in `ModalMissionComplet.js` file. This problem should be fixed.

[2016-12-09 20:07] #418 closed

[2016-12-09 20:08] #419 closed

[2016-12-09 20:10] #275 closed

[2016-12-09 20:10] #314 closed

[2016-12-09 20:10] #408 closed

[2016-12-10 15:09] manaswis commented on #354
Just came across the release notes feature in github. We don't actually need a separate page. For an example, look at this:

https://github.com/d3/d3/releases/tag/v4.3.0

[2016-12-10 15:11] manaswis commented on #354
And these are different tags (each with its release notes): https://github.com/d3/d3/tags?after=v3.5.12

We could just do this.

[2016-12-10 18:09] jonfroehlich commented on #354
Possibly. But this feels very techy and not super (normal) user friendly.
May be nicer to have a pretty 'release notes' page that describes changes
in a friendly, understandable tone.

We should discuss!

On Sat, Dec 10, 2016 at 10:11 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/

[2016-12-10 19:03] jonfroehlich commented on #439
We continue to collect evidence that our initial tutorial is, unfortunately, broken for quite a few users. Here's some more:

![image](https://cloud.githubusercontent.com/assets/1621749/21075485/6fbb8800-bee1-11e6-9b18-1f5b3eba7100.png)

We really need to fix this for v3.

[2016-12-10 19:11] manaswis opened #469 "Onboarding broken!"
The neighborhood loaded is wrong! I tried it multiple times but both have different locations. See below:

<img width="1138" alt="screen shot 2016-12-10 at 2 07 14 pm" src="https://cloud.githubusercontent.com/assets/2873216/21075526/47bbe0ce-bee2-11e6-9745-bef6b3eb1eab.png">

<img width="1158" alt="screen shot 2016-12-10 at 2 07 52 pm" src="https://cloud.githubusercontent.com/assets/2873216/210755

[2016-12-10 19:12] jonfroehlich commented on #469
Yikes, how could this happen?!

[2016-12-10 19:13] manaswis commented on #469
No idea. @Soben713 @kotarohara Do you have any idea? Did anyone push any changes to the master that could have caused this?

[2016-12-10 19:16] jonfroehlich commented on #469
I think we need to put that 'down for maintenance' page up now until we get this resolved. We had that once before. I think @kotarohara did it...

[2016-12-10 19:24] manaswis commented on #469
Okay. I am putting up the maintenance page.

[2016-12-10 19:27] manaswis commented on #469
Maintenance page is up. I am looking into this now.

[2016-12-10 19:30] jonfroehlich commented on #469
Great, thanks!

On Sat, Dec 10, 2016 at 2:27 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-12-10 19:32] jonfroehlich commented on #469
Keep us updated. Just tweeted on status:
https://twitter.com/umd_sidewalk/status/807669208184160256

Jon

On Sat, Dec 10, 2016 at 2:30 PM, Jon Froehlich <jonf@cs.umd.edu> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-12-10 19:35] manaswis commented on #469
Sure

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Sat, Dec 10, 2016 at 2:32 PM, Jon Froehlich <notifications@github.com>
wrote:

[2016-12-10 19:52] manaswis commented on #469
So I figured out the commit that caused the issue. It was commit 69d87539fb2b2b6d1cc79730f342b8ba81839bec for disconnected path. When I reverted the branch (on my local computer) to the commit before this one, the onboarding loads properly.

So here is what I am going to do:

- Revert branch to the commit where the onboarding works.
- Merge the changes made after this commit (other than disconnect

[2016-12-10 20:03] jonfroehlich commented on #469
OK, @kotarohara, can you investigate why https://github.com/ProjectSidewalk/SidewalkWebpage/commit/69d87539fb2b2b6d1cc79730f342b8ba81839bec broke onboarding?

[2016-12-10 20:29] Soben713 commented on #469
I figured out what the problem is. The `setPano` function first checks whether walking is disabled or not and if it is it does not change the panorama. For some reason walking is disabled during the onboarding. As a hotfix, I added a `force` argument to the `setPano` function and it fixes the problem for now.

This might not be the best solution, but it certainly solves the problem for now. I am p

[2016-12-10 21:29] manaswis commented on #469
So there is an update to the plan:

We created a hotfix branch and have merged the fix by @Soben713 into that branch. We will deploy that to the production server, find a better fix and add that to the develop branch and then deploy it together with the other v2 changes after our testing.

[2016-12-10 21:38] jonfroehlich commented on #469
Ok. Sounds good.

I managed to complete one neighborhood on test server before kids woke up from nap. Screen recorded. Will upload w comments when I get a chance. Probably tomorrow.

Sent from my iPhone

[2016-12-10 22:25] manaswis commented on #469
I deployed the hotfix branch to the server. I have a concern about it and wanted your thoughts on this:

I noticed that @Soben713 created the fix branch https://github.com/ProjectSidewalk/SidewalkWebpage/pull/470 from the latest commit on the master and not from the commit for the version (1.0.27 - broken one) that was deployed on the server. So the current deployed version also includes commits m

[2016-12-11 17:25] jonfroehlich commented on #461
@Soben713, even though this is marked as v3, you said you would do this as v2. Do you plan to do it or not? If v3, then we obviously have to unassign you as you are leaving the team.

[2016-12-11 17:27] jonfroehlich commented on #441
We should also think about whether this 'tooltip' shows an image preview of some example problems that have that rating (to further train the user).

[2016-12-11 17:49] jonfroehlich opened #471 "Test Server: Completing a Neighborhood User Experience"
This video shows the user experience for completing a neighborhood using the v2 deployment on the test server: https://youtu.be/eIjIrBevWu0. (Note: in the beginning, I actually try auditing as if I were a real user but then become impatient and just start moving quickly as I didn't have a lot of time for the test session). Some observations below. This is related to v2, so tagging as such for now.

[2016-12-11 19:31] Soben713 commented on #471
This is not the new jumping mechanism. I think the wrong version was deployed to the test server. @manaswis Thoughts?

[2016-12-11 19:45] Soben713 commented on #461
@jonfroehlich Done.

[2016-12-11 20:16] jonfroehlich commented on #461
Thanks! Can you push this to sidewalk-dev so we can test?

[2016-12-11 20:23] manaswis commented on #471
Yes, this isn't the new jumping mechanism. Something weird is happening. I again recreated the distribution on the server, it still isn't showing the new jumping mechanism. I checked the commit log on the test server, its properly updated.

Not sure what's happening. For now, I will create the distribution on my local machine, deploy it on the server and then look into the server issue.

[2016-12-11 20:25] jonfroehlich commented on #248
Sidewalk so bad forced on to street with baby stroller:

![image](https://cloud.githubusercontent.com/assets/1621749/21083049/f98218ae-bfb5-11e6-8eb9-ce85d01f45e3.png)

[2016-12-11 20:36] manaswis commented on #471
Update:

I tried one more time. This one has the updated jump mechanism -- http://sidewalk-dev.umiacs.umd.edu:9005/

I created this on the server as well. So I am not sure why the previous attempts failed to create the right distribution. I will look into that. You can use the above one for testing.

[2016-12-11 20:39] jonfroehlich commented on #471
We clearly need some way of verifying which code is running on our servers. We shouldn't be in this confused state where we think some code is running on the server but it is actually not. How can we avoid this in the future? Maybe do a checksum check or something? Thoughts?

I think some of the things I found above stand regardless of the versioning issue, no?

[2016-12-11 20:57] manaswis commented on #471
Yes, we need some way of verifying the deployed code. This particular issue baffles me because I created the distribution from the latest version of the develop branch. We would have to find a way to check binaries. I will look into what's the current standard technique of doing this.

Yes, you are right. Points 2 - 8 all hold true.

**Replies to each of your points**:

We have also seen this duri

[2016-12-11 21:10] Soben713 commented on #461
@jonfroehlich Can't do it right now because it requires rebranching the hotfix first (I've been discussing the correct way to do it with Manaswi). But I'll try to finish it tonight.

[2016-12-11 21:52] jonfroehlich commented on #461
Ok. No biggie. Thanks.

Sent from my iPhone

[2016-12-12 05:25] Soben713 commented on #461
The pull request for this issue and the hotfix are now merged into develop. The next deployment to the test server will contain both changes. Will have to discuss the correct way of deploying to the test server tomorrow with Manaswi.

[2016-12-12 05:38] Soben713 commented on #471
I don't exactly know what version of the code was deployed to the server so it's very hard to tell what the problem is. I don't think any of these problems should happen. The good thing is that we still have the database dump before Jon finished the neighborhood, so we can complete the neighborhood again to see what exactly happened.

[2016-12-12 14:26] jonfroehlich commented on #471
@Soben713: I had the exact same thought. I think we should reload the database so that I can test this exact same last mission in this neighborhood again. We can do so once we are certain the correct code is deployed to the test server. :)

@manaswis: thanks for responding, in detail, to my post. I think the next step is to retest with reloaded database and go from there. I will record another vid

[2016-12-12 16:44] manaswis commented on #471
So when I ran the deploy script to create the first two times, there was a JVM error:

[2016-12-12 16:48] manaswis commented on #471
Sorry pressed the sent button before I could finish the previous comment. Updated the comment with full details.

[2016-12-12 16:55] jonfroehlich commented on #471
@manaswis, ha, go to bed! You need to sleep off this sickness.

Re: out of memory problem. What caused this? How can we avoid in future? Why didn't we catch this before? Also, again, how can we verify that the version we think is running is actually running on our website...

[2016-12-12 17:17] Soben713 commented on #471
The develop branch is now pushed to the test server.

I don't exactly know what caused that problem, because right after the memory issue occurred on manaswi's system I tried and it worked correctly.

[2016-12-12 17:20] Soben713 commented on #471
The footer contains the date the distribution was created, so that's one way of checking whether the binary file is created correctly or not.

[2016-12-12 17:23] jonfroehlich commented on #471
That doesn't seem precise enough imo.

On Mon, Dec 12, 2016 at 12:20 PM, Soheil Behnezhad <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-12-12 17:57] Soben713 commented on #471
Currently, it only shows the date. If we also add the time it would be very precise IMO.

[2016-12-12 18:02] jonfroehlich commented on #471
But would that fix the problem since Manaswi did run the build scripts on the test server so wouldn't timestamp be up-to-date even though running old code?

Sent from my iPhone

[2016-12-12 18:12] Soben713 commented on #471
Actually, you are right. How about adding the current version to the footer as well?

[2016-12-13 14:03] jonfroehlich opened #473 "Add Wall of Accessibility Shame Page?"
Add some simple functionality that allows users to save a location to a 'wall of shame' that would auto-update a webpage with pictures of the worst found accessibility problems in the city. Alternatively, could auto-generate this page based on problems marked as a '5.'

Could be good possibly for building visibility of project and broader interest.

[2016-12-13 18:48] jonfroehlich opened #474 "Admin Interface: Update Activities Table for Users"
I'd like to update this table:
![image](https://cloud.githubusercontent.com/assets/1621749/21153970/bd22c738-c13a-11e6-9b4a-efab76033cd2.png)

so that we calculate users in three different ways:
- Users who completed at least 1 mission
- Users who completed at least one audit (street segment)
- Users who contributed at least one label (beyond the tutorial)

[2016-12-13 21:08] manaswis commented on #471
UPDATE:
The memory insufficiency issue is fixed. The test server has been allocated 3GB of RAM (same as the production server). So the distribution creation shouldn't be an issue now.

But even so, I am continuing to look into some way of code version verification.

[2016-12-13 21:42] manaswis commented on #471
Also, to clarify on the wrong distribution issue, I figured out why the wrong distribution was deployed. So the local repo had a previous distribution file already in the folder where the distribution zips are stored. When the JVM error occurred, the new distribution wasn't created. The bash script continued on to deploy the latest zip in the folder. And the date that was added to the footer would

[2016-12-13 21:43] manaswis opened #475 "Find solution for deployed code (version) verification"
Find a way in which we can find/verify the version of the code running on the server.

This issue came up while deploying the test server (see issue #471) where the distribution that got deployed (due to another issue) did not contain the new changes that were to be tested (see [comment](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/471#issuecomment-266870815) for more details).

To av

[2016-12-13 21:44] manaswis commented on #473
I like this idea!

[2016-12-13 22:30] manaswis commented on #464
Doesn't look like we do. The code is [here](https://github.com/ProjectSidewalk/SidewalkWebpage/blob/26e99ab9b54b2febfce6e5fce719b3fe35acf346/public/javascripts/Progress/src/Progress.js). When the user clicks, no tracker code is being called.

Correct me if I am wrong @kotarohara @Soben713.

[2016-12-13 23:12] jonfroehlich commented on #464
We need to do this then.

Sent from my iPhone

[2016-12-14 13:49] #461 closed

[2016-12-14 17:28] Soben713 commented on #464
We currently only track interactions within an audit task. So this definitely is not stored in the `audit_task_interaction` table.

[2016-12-14 18:51] Soben713 commented on #389
In addition to the events that I've already mentioned in this thread, we will have to log a `POV_changed` event that tracks when point of view (especially heading and pitch) changes.

[2016-12-15 13:03] jonfroehlich commented on #351
It looks like this thread died as no one took on the assignment. I still consider this Issue very important and relevant to @Soben713's quality control work; however, given that he is leaving the team, perhaps we should assign it to someone else.

[2016-12-15 13:36] manaswis commented on #351
I am happy to take it on. It would be important for the CSCW paper. However, @Soben713: since its closely related to your work, if you'd like to do this before you leave, then let me know. Either way is fine with me.

[2016-12-15 13:57] jonfroehlich commented on #351
I don't think @Soben713 will have time to do this honestly. He has like one week left in the group. I'm leaning towards assigning this to a new ugrad researcher who will likely join our team next week.

[2016-12-17 05:11] #291 closed

[2016-12-17 05:25] kotarohara commented on #285
I am retracting myself from this issue. @manaswis , as a leading graduate student of the project, please decide what you want to do with the behavior of the application. If you want to keep the application as-is so it refresh the page after logging, I think that's fine. If you want to change the behavior so the application allows the user to login without page refresh, you can do so by merging PR

[2016-12-19 17:09] jonfroehlich commented on #285
I am interviewing a high school student for a summer lab position. He generally thought Project Sidewalk worked well but mentioned this criticism:

So, I'd like to fix this whether for v2 or v3.

[2016-12-19 21:35] Soben713 opened #480 "Inconsistency in Database's Missions Table"
This issue is mainly about the following problem, which was initially noted in #471.

### Why This Happens

The distance that has to be audited in each mission is pre-calculated and stored in Mission table in the database. And the reason that this problem occurs is that the calculated distance for missions in Fairlawn is not correct. Based on the data in the database, the total distance of Fairlaw

[2016-12-19 23:07] jonfroehlich commented on #480
I agree with you both on next steps. We need a fix.

Sent from my iPhone

[2016-12-20 17:53] jonfroehlich commented on #386
Hi @tongning, I've just assigned this task to @m-furman. @m-furman is a new ugrad member of Project Sidewalk. Given that you (@tongning) have worked on this a bit and have already thought about it, I'd like you to play a supportive role. So, please setup a meeting between you two to go over things. I'd like @m-furman to do a majority of the implementation as a way of onboarding her onto this proje

[2016-12-20 18:15] tongning commented on #386
Hi @m-furman, welcome! Thanks @jonfroehlich for the introduction.

Since winter break has started I'm more or less free to talk anytime - just send me an email or hangouts message at antli.inbox@gmail.com. Though I have returned home for break, we can definitely talk over the phone or video chat, if you'd like.

[2016-12-20 19:07] jonfroehlich commented on #342
This is going to be @jihyukbae's initial task to contribute to Project Sidewalk.

[2016-12-20 21:36] tongning opened #483 "activator/sbt download errors on first run when setting up development environment"
During initial setup of the development environment, does anyone recall seeing download errors like this one when performing `activator run` for the first time?

[code]

What is strange about this error is that simply exiting and retrying the command (possibly two or three times) fixes it. After that, future launches of `activator run` do not result in any errors. There is a [question](http://stac

[2016-12-20 21:39] manaswis commented on #483
Yes, I also got this error. And like you mentioned, it works after 2 or 3 tries. At the time, I thought it might have to do with network connectivity. Maybe, its a problem at their (activator/sbt) server end.

[2016-12-20 21:44] tongning commented on #483
Thanks, good to know it's not just me! It's strangely consistent for what seems like a download error. I'll see if I can find any solutions, but if not I'll just make a note of it in the setup instructions.

[2016-12-20 21:45] manaswis commented on #483
That will be great, Anthony! Thanks!

[2016-12-20 23:45] m-furman commented on #386
Thanks @tongning! I'm still in the process of getting my development environment set up and figuring out where to go from there, but I'll definitely reach out to you as soon as I'm ready to start working on this issue. :)

[2016-12-21 00:05] tongning commented on #386
@m-furman If you have any issues getting the development environment up, I've actually just finished writing [instructions](https://github.com/tongning/sidewalk-docker) for setting one up in Docker. Feel free to use it if you need to.

[2016-12-22 16:35] jonfroehlich opened #487 "Test Server v2 Stress Testing: Getting stuck a lot in v2 and other observations..."
I just completed a quick test of completing a neighborhood (Douglass) on the test server (which is running v2). Because I was completing a neighborhood, there were a lot of small random street segments left to be audited which meant that I had to jump around a lot. There is not much we can do about this; however, I did get to test @manaswis's new jumping code as a result. Generally, it performed w

[2016-12-22 17:03] tongning opened #488 "Enforce unique email addresses during registration"
Currently the registration system enforces unique usernames, but not unique email addresses. This can leave users with duplicate accounts, and lead to security holes.

[2016-12-22 18:29] manaswis opened #489 "Navbar for v2 release"
<img width="230" alt="screen shot 2016-12-22 at 1 28 44 pm" src="https://cloud.githubusercontent.com/assets/2873216/21436046/9e1ec46a-c84a-11e6-9bbf-6dad57b13791.png">

Look at the top left corner.
<img width="1232" alt="screen shot 2016-12-22 at 1 26 03 pm" src="https://cloud.githubusercontent.com/assets/2873216/21435956/4d40de7a-c84a-11e6-8904-b6a09cab5a16.png">

Does this look okay?

[2016-12-22 18:38] jonfroehlich commented on #489
I like it.

We may want to go to v2.5 when we redesign landing page :)

On Thu, Dec 22, 2016 at 1:29 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-12-22 18:39] manaswis commented on #489
Great!

[2016-12-22 18:39] #489 closed

[2016-12-22 20:10] jonfroehlich opened #490 "Admin Interface: Playback Tool: Show Severity Rating on Dots"
Would be nice to see severity ratings on the dots:

![image](https://cloud.githubusercontent.com/assets/1621749/21438794/d3f36380-c858-11e6-8c18-a322dbab4196.png)

[2016-12-22 22:40] manaswisaha opened #491 "Handling dead-ends while jumping"
As noted by Jon in #487 issue, the jump message is only shown when you reach the end of the route. But some places e.g. at dead-ends, the user can't walk ahead. Hence, the user never gets the jump message to transport to a different location. I am pasting Jon's comments below which includes possible fixes:

Possible fixes:

A way of finding dead-ends is if we are more cognizant of the underlying s

[2016-12-22 22:41] manaswis commented on #487
Thanks for the detailed feedback.

This is a problem for detecting and handing dead-ends. As we discussed, we'll look into it after the holidays. I have logged it here: #491

This issue is logged here: #462

[2016-12-22 22:41] #487 closed

[2016-12-22 22:44] manaswis commented on #471
I am logging the bugs presented in this issue (and that weren't logged) in their separate issue thread and closing this one.

[2016-12-22 22:44] #471 closed

[2016-12-22 22:49] #379 closed

[2016-12-22 23:12] manaswis opened #492 "End of Neighborhood: length undefined error"
The error below shows up when a user completes a neighborhood. This error is very rare and only happens for specific neighborhoods. For e.g., refer the data dump in ~/git/Instructions/resources/sidewalkDumpDec20_0815PM (on my computer); it has this problem logged for Burleith neighborhood (region 224). Although, when I tried to recreate using this dump, the error didn't occur. However, the last mi

[2016-12-22 23:17] manaswisaha opened #493 "Jumping doesn't change the panorama"
Sometimes, when the user clicks on the end-of-route jump message, the panorama doesn't change. This again is very rare and difficult to reproduce. The actual change of user position happens but the panorama isn't updated.

Some notes/logs I took while investigating this issue:
    1. E.g. Jumped to a different street (17899 to 23621) but the pano doesn’t change
    2. From taskid 6061 to street 16

[2016-12-22 23:32] manaswis opened #494 "Mission complete dialog shows up immediately after a new mission starts"
This is one of those rare issues which is very difficult to reproduce. My theory is that it happens due to some previously incomplete mission which didn’t complete correctly.

Possible scenario (not confirmed): it happens when you open a new tab while completing a mission, then start another mission in another tab, leaving the other mission incomplete.

Based on some preliminary investigation, thi

[2016-12-22 23:41] manaswis opened #495 "Green animation of routes in the mission completion box doesn't appear sometimes"
During v2 testing, some edges cases came up where the green route animation in the mission complete dialog box doesn't show up (see screenshot).

Possible reasons:
1. Mission completed in the middle of a route. Hence, that route was not marked as complete. So if there weren't any previous routes, then that route doesn't show up in the dialog box.
2. When the page is loaded and the user was at the

[2016-12-22 23:46] manaswis opened #496 "User not dropped at the start of the route"
Sometimes, its seen that the user is not dropped at the start of the route but a few steps off the route.
From #471:

This occurs rarely and difficult to reproduce. Based on my investigation of the code, I found that the route start coordinate is first converted to a float and then used to set the user's position. Hence, they are off by a few decimals. Although, the fix is not straight forward as

[2016-12-22 23:59] manaswis opened #497 "Label count in the current mission counter in the sidebar is not accurate"
When the user leaves an ongoing mission, and comes back to it later, the current mission label counter is filled with the label count of that mission. However, it isn't accurate. This issue is explained in great detail in the PR https://github.com/ProjectSidewalk/SidewalkWebpage/pull/445#issuecomment-267469882.

There is another issue in the current implementation of tracking the counts for the on

[2016-12-23 00:01] manaswis opened #498 "Reset current mission counter after onboarding"
The labels added during the onboarding are visible in the current mission counter of the first mission after the onboarding. They need to be zero to be accurate.

[2016-12-23 00:08] manaswis opened #499 "Tutorial: Replacing static yellow arrows with flashing yellow arrows"
The white arrows that are used for guiding the user in the tutorial is not visible immediately to the users. This came in the v2 informal usability study.

[2016-12-23 00:12] manaswis opened #500 "Tutorial: The arrows to be labeled for third intersection should be reversed"
The arrows that guide the user to label the third intersection should be labeled in the reversed order i.e. the ramp closer to the user should be labeled first.
In the usability study, it was seen that the user starts labeling immediately even before instruction is provided. But when they do see the instruction about the two curb ramps to label, they mark the ramp close to them first (while the tu

[2016-12-23 00:15] manaswis opened #501 "Rewrite mission text for the last mission of the neighborhood"
The mission text of completing the neighborhood doesn't sound great especially this part:

"100% of the **entire streets** in this neighborhood"
<img width="1180" alt="screen shot 2016-12-17 at 11 13 00 am" src="https://cloud.githubusercontent.com/assets/2873216/21444375/c75da46a-c87a-11e6-80c7-11423c9ade48.png">

This sentence needs rewording.

[2016-12-23 00:23] manaswis opened #502 "Tutorial: Point to the top-down map to track labels"
The labels not visible on the GSV interface is a known problem and has been reported by every user in every usability study that we have done till now. While we don't have a solution to the technical problem, we could guide the user better of what to do when that happens.

E.g. in the tutorial, we explain to the user that the labels won't be visible when you move but they can be tracked on the top

[2016-12-23 00:25] manaswisaha opened #503 "Confusion between driveways and curb ramps"
Add this to the FAQ.

[2016-12-23 00:28] manaswis opened #504 "Improve mission text dialog box: Separate out the accessibility problem icons from curb ramps"
The mission text shows the curb ramp icon along with the accessibility problem icons all together.

![image](https://user-images.githubusercontent.com/2873216/26894618-ecdc2f3c-4b8c-11e7-98c2-730beb910bd2.png)

From the v2 usability studies, 2 users suggested separating out the curb ramp from the problems, maybe by a thin vertical line. There could be other solutions. We should brainstorm some ide

[2016-12-23 00:38] jonfroehlich commented on #500
I think we should fix this by having two arrows simultaneously or something.

Note that I never ran into this problem myself... but I guess I waited for the tutorial to guide me through each step.

Sent from my iPhone

[2016-12-23 00:39] jonfroehlich commented on #499
I think they should flash in yellow like we do for all other important indicators. This also produces a consistent design language for users.

Sent from my iPhone

[2016-12-23 03:01] manaswis commented on #243
Routes generated in Foggy Bottom are very weird. There were many examples. Took screenshot of one of them.

<img width="1074" alt="screen shot 2016-12-22 at 9 56 39 pm" src="https://cloud.githubusercontent.com/assets/2873216/21446246/c5b63796-c891-11e6-89de-ef7d37b21035.png">

To recreate this issue (which was an issue), auditing Foggy Bottom (Region ID 248) would be the best.

[2016-12-23 15:49] jonfroehlich opened #505 "On My Mac in Chrome, Mouse Cursor Weirdness"
I didn't have time to record a video of this but, briefly, the problem is that the mouse cursor doesn't switch to the panning hand right away and sometimes temporarily sticks to an old label icon. Has anyone else seen this? This doesn't happen on my Windows machine with Chrome--only with my Mac. Haven't tried with other browsers.

[2016-12-31 02:10] m-furman commented on #386
I figured out how to get the JSON to include severity (thanks for the help @tongning ! :)), and I'm currently trying to figure out what the UI should look like. The only idea that I currently have is to add in checkboxes (numbered 1-5) next to each type of label, but this seems like it would make the map legend seem somewhat cluttered. Does anyone have any suggestions?

Also, as a related question

[2016-12-31 11:13] jonfroehlich commented on #386
I think you should use slider bars, which is common for this type of
filtering.

Thanks Maria.

On Fri, Dec 30, 2016 at 9:10 PM, Maria <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-01-02 02:39] m-furman commented on #386
I haven't implemented the actual filtering functionality yet, but I was wondering if something like this would be okay in terms of layout? There are some things that I'm definitely going to change (like adding a label for each slider value and using a header instead of repeating the word "Severity"), but I want to make sure that I have the right idea first. I was also considering putting in anothe

[2017-01-02 10:35] jonfroehlich commented on #386
Yep, this is what I was envisioning too. I would make it far more
horizontally compact, however. There is too much horizontal whitespace
between each visual artifact.

In order for this interactive visualization to be useful, it needs to be
*interactive* (meaning delays should be on the order of < ~150ms  at the
most after an interaction). So, if you can also investigate what's slowing
the visuali

[2017-01-03 02:24] m-furman commented on #386
I tried to make it more horizontally compact and plugged in the filtering functionality (though unfortunately it is just as slow as selecting/deselecting a certain label:

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVcDdpemtTQ0hvdG8"  />

I don't remember who mentioned this, but I remember being told that the reason the visualization is so slow is because all the data is reload

[2017-01-03 04:19] tongning commented on #386
I agree, that would definitely be a good optimization to make. Though it would be nice to have, I don't believe the map was intended to be a live view that updates in real time, so I don't see an issue with fetching data just once per page load to keep it simple.

Another optimization we discussed a while back was separating the label types onto different layers (issue #395). That way we can show/

[2017-01-03 10:42] jonfroehlich commented on #386
I agree that the data doesn't need to be fetched in real-time and, instead,
the visualization should be using local data to rerender things instantly
when the user clicks a check mark or plays with severity. This
visualization is simply not useful if it's not interactive. We need to get
there.

On Mon, Jan 2, 2017 at 11:19 PM, Anthony Li <notifications@github.com>
wrote:

--
Jon Froehlich
Assistan

[2017-01-03 19:08] m-furman commented on #386
Thanks for the input!
I'll try to see what effect using local data will have on the speed of the visualization.

Since there's already an issue open for adding label types to separate layers, would it make sense to open another issue for storing the data locally (or is it something I can just include as part of the branch that I'm working on currently)?

[2017-01-03 19:52] jonfroehlich commented on #386
I think there are possibly two separate issues here:

1. Speed up visualization to make it interactive (sounds like this is an
architectural thing related to the fact that we re-request data from server
to update vis rather than store things locally).
2. As part of #1, it may make sense to store each label type in a separate
layer. This seems sensible to me and would likely contribute to speedups

[2017-01-04 02:13] jonfroehlich commented on #386
I also want an easy way to check all and uncheck all checkboxes.

[2017-01-06 20:07] m-furman commented on #386
I tried searching for #1, and I was able to find #380 (Admin Interface is Slow), but I feel like that issue is more general and doesn't relate specifically to speeding up the map-based visualization.

For checking/unchecking all the checkboxes I'm thinking it might make sense to put a checkbox next to the 'Type' header that I added in, though I'm not sure if that's intuitive enough.

[2017-01-06 20:12] jonfroehlich commented on #386
1. I agree. You can make a  new issue
2. I'd have to see the mockup or prototype to give substantive feedback. Sounds like it's a reasonable idea.

[2017-01-06 21:50] m-furman opened #506 "Speed up the loading time of the Admin map visualization to make it interactive"
Currently, the JSON data is reloaded every time that the user selects/deselects a checkbox on the map. Storing the data locally rather than constantly re-requesting it would help speed up the visualization and make it more interactive (and usable!).

This is related to #380 and #395 .

[2017-01-06 22:24] jonfroehlich commented on #506
Thanks @m-furman!

[2017-01-10 17:56] jonfroehlich opened #508 "Out of Memory Error (Possible Memory Leak in Scala?)"
The server went down last night with an out-of-memory error. See below for details. This is a task for @manaswis or @kotarohara (if he has time since Manaswi is traveling until late Jan).

---

It looks like your application ran out of memory a few times last night, which may be a contributing factor.  [0]  We can increase the available memory on the host, but will need to reboot the machine for t

[2017-01-12 01:23] jonfroehlich opened #509 "End of Route Then Jumped to Same Location"
I got @manaswis's 'You have reached end of route' message. When I clicked on it, I was jumped to the exact same location (or maybe one step away) and received the 'You have been jumped to a new location' message.

Unfortunately, I wasn't recording video but I haven't moved after being jumped and you can see the labels around me that I applied before the jump.

![image](https://cloud.githubusercont

[2017-01-12 01:29] jonfroehlich commented on #248
Moving Truck

![image](https://cloud.githubusercontent.com/assets/1621749/21873479/aad7f396-d83c-11e6-8ff2-1895c8122f03.png)

[2017-01-12 01:34] jonfroehlich opened #510 "I'm at 100% But Asks Me To Jump"
I'm at 100% in my current mission but UI asks me to jump

![image](https://cloud.githubusercontent.com/assets/1621749/21873561/3bd93026-d83d-11e6-835c-eb1e2460ba75.png)

Update: after clicking the bottom right hand corner message, I was greeted with this screen instantly:

![image](https://cloud.githubusercontent.com/assets/1621749/21873573/6752670e-d83d-11e6-9fca-18e4c5e22476.png)

[2017-01-12 01:49] jonfroehlich opened #511 "How Can We Make Auditing with Trackpads Easier/Faster"
I typically test Project Sidewalk with one of my Windows machines and an external mouse; however, over winter break, I was using my new MacBook Pro and its trackpad. In this case, I found auditing comparatively painful and tedious. I felt slower and it was a pain to perform click-and-drag (panning) operations. It was enough for me to investigate buying an external mouse for my mac.

So, the questi

[2017-01-13 00:01] m-furman commented on #343
I've been trying to think of various ways to split up the content, and so far the only two ideas I have are (1) the one that was previously mentioned (grouping by type/kind of data being displayed) and (2) grouping based on the display format (for instance, all tables in one tab with subsections dedicated to the specific data that each table is displaying). And since that sounded super confusing h

[2017-01-13 01:53] jonfroehlich commented on #343
I think (1) is much stronger and categorizes the data in a way that is more
related to end-user tasks.

Also, I don't think we need icons. This is just for us admins, so that
additional UI would be superfluous imo.

Please push on (1) a bit more. I'd like to see a working demo soon (even if
just for a few tabs). Also, would be great if you could provide a speed-up
analysis of load times and compar

[2017-01-15 01:34] jonfroehlich commented on #248
Three label types in one area

![image](https://cloud.githubusercontent.com/assets/1621749/21959557/cb0a7e3c-da98-11e6-8a26-90caadb05b9f.png)

[2017-01-15 18:54] jonfroehlich commented on #248
A person in a wheelchair:

![image](https://cloud.githubusercontent.com/assets/1621749/21965251/20b72592-db2a-11e6-8ea3-01dd369618e9.png)

[2017-01-15 18:58] jonfroehlich opened #512 "At 100% But Mission Not Complete"
Is this possibly a rounding error?

![image](https://cloud.githubusercontent.com/assets/1621749/21965276/9406767e-db2a-11e6-9d24-7ac2ae2bf40c.png)

Note: Immediately after I took this screenshot, I took a step and the 'Mission Complete' dialog showed (ending the mission).

[2017-01-16 01:03] m-furman commented on #343
I have the basic tabs implemented:

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVSzNaN2ZIaUxRYnM"  />

I haven't worked on styling them properly or ensuring that only the necessary information is loaded for each tab, but I'll try to have that up and working soon so that I can compare the current load time with that of this new tabbed implementation.

[2017-01-16 11:52] jonfroehlich commented on #343
Great. Thank you. Are you using Twitter Bootstrap for this? Looking forward to seeing new iterations.

[2017-01-16 21:04] m-furman commented on #343
I was actually just using the jQuery UI tabs, but I just reimplemented it using Twitter Bootstrap (haven't worked with it before so using it didn't come to mind at first!). It looks a lot cleaner now:

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVWXVPdGMwUVJIX1U"  />

[2017-01-17 12:15] jonfroehlich commented on #343
Nice progress. Can you do sub-sections in the tabs like you showed in your mockups?

[2017-01-17 23:45] m-furman commented on #343
I don't think that creating subsections should be too difficult, but I'm not too clear on what exactly the subsections should be...

[2017-01-18 00:07] jonfroehlich commented on #343
Maybe each visualization. But I agree. Let's hold off on this for now.

Sent from my iPhone

[2017-01-23 21:47] m-furman commented on #386
This is what I was thinking about doing for checking/unchecking all checkboxes:
<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVM2U3NElzOFhHY3M"  />

[2017-01-31 15:27] manaswis commented on #386
This looks fine to me. To make the  check/uncheck all checkboxes more prominent, you could:
- Maybe add a thin horizontal line under the header to separate it out from the rest or,
- Add a thin border around that checkbox

![image](https://cloud.githubusercontent.com/assets/2873216/22471203/aec64166-e79f-11e6-8e8c-e6474524b374.png)

Or you may experiment with other ideas.

[2017-01-31 15:32] jonfroehlich commented on #386
Could the legend circles on the left also serve as checkboxes? It seems
like doing double duty in this way would be cleanest solution. To make
implementation easier, perhaps just use underlines for now to represent
checks and 'no underline' to represent deselected... or something. That's
easy to implement with CSS.

On Tue, Jan 31, 2017 at 10:27 AM, Manaswi Saha <notifications@github.com>
wrote:

[2017-02-06 02:31] m-furman commented on #506
I've been experimenting with this a bit today, and (from the rather minimal testing I've done so far) it looks like storing the data locally speeds up the visualization quite a bit... though I don't have any specific numbers yet so I'm not sure by how much. I want to take a more in depth look at the load times later, but the map no longer goes completely blank when a label is selected/deselected (

[2017-02-06 14:51] jonfroehlich commented on #506
Can you also look at memory usage when you're benchmarking this stuff?

Thanks Maria. Sounds like good progress. Can't wait to use it.

On Sun, Feb 5, 2017 at 9:31 PM, Maria <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-02-09 01:37] jonfroehlich opened #514 "Switching Twitter Account Name From umd_sidewalk to Something Else"
The current Twitter account is @umd_sidewalk. I would like to have an account name that does not have umd in the handle. Ideally, we could get @ProjectSidewalk but this was already taken (dead account, last tweet 2009). We should brainstorm.

[2017-02-09 13:21] manaswis commented on #514
Definitely agree!

[2017-02-11 21:02] m-furman opened #516 "Implement a way to check/uncheck all checkboxes in the admin map visualization"
Currently, the admin map visualization only allows users to select/deselect one label at a time. This would allow us to select/deselect all labels using just one checkbox/button.

[2017-02-12 00:54] m-furman commented on #516
Implementation with a thin border under the header of the table (I prefer this one):
<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVaTNYNHZpcml2Yzg"  />

Implementation with a grey border around the 'check/uncheck all' checkbox:
<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVaDFrSjhOSmFMeTQ"  />

I realize the border around the checkbox is a bit off in the secon

[2017-02-12 01:20] jonfroehlich commented on #516
I like thin border version.

Sent from my iPhone

[2017-02-13 01:02] manaswis commented on #516
I like the version with the thin border as well.

[2017-02-17 19:54] manaswis opened #517 "Landing Page Redesign: Design changes for the rest of the pages on the website"
Standard practice is to have the header and footer of the website remain consistent across the website. Current header has FAQ and Results on the header. This brings two things to discuss:

1. Since the landing page design just has "Start Mapping" and "Login to keep it simple, where should we place FAQ and Results links on the header OR alternatively, should we add it to the new landing page desig

[2017-02-18 15:16] manaswis opened #518 "[UPDATE] Automatic GSV Version Update in effect: images loaded now are from the new API version (again)"
Our tool is loading the v3.26 API version images again.

<img width="965" alt="screen shot 2017-02-18 at 9 43 34 am" src="https://cloud.githubusercontent.com/assets/2873216/23094011/385e6a8e-f5bf-11e6-847f-bf9eceb7695d.png">

This is the javascript warning we get:

<img width="1262" alt="screen shot 2017-02-18 at 9 41 21 am" src="https://cloud.githubusercontent.com/assets/2873216/23094016/5d376f2c

[2017-02-18 15:28] manaswis commented on #518
More information on the new Street View Renderer (that was released last Fall): https://groups.google.com/forum/#!topic/google-maps-js-api-v3-notify/pHzFDSPES5E

<img width="1064" alt="screen shot 2017-02-18 at 10 26 56 am" src="https://cloud.githubusercontent.com/assets/2873216/23094336/e22a2aee-f5c4-11e6-9ee6-871801900c75.png">

[2017-02-20 22:48] manaswis commented on #518
Problems found in the new GSV API:

1. Tutorial broken: Images not loaded. Reason: Depth map information is missing from some panoramas!
2. Labels don't stick to the GSV screen (#429)
3. Few labels don't have panoramas ids stored in the database

This is a living post. Will keep it updated with all the problems found.

[2017-02-20 22:53] tongning opened #520 "Unofficial depth data API is no longer available for new panoramas"
With the new Google Maps API update, the unofficial depth data is no longer available for new panorama images, which used to be available at the URL `http://maps.google.com/cbk?output=xml&cb_client=maps_sv&hl=en&dm=1&pm=1&ph=1&renderer=cubic,spherical&v=4&panoid=<panorama_id>`. The depth data is still available for old panoramas, but the new API contains lots of new imagery. Because the depth data

[2017-02-20 23:09] manaswis commented on #520
Tutorial is broken due to this.

<img width="1277" alt="screen shot 2017-02-20 at 6 08 43 pm" src="https://cloud.githubusercontent.com/assets/2873216/23144730/acb71712-f797-11e6-8e0b-747baaef1b36.png">

[2017-02-23 16:59] manaswisaha opened #522 "Design Ideas for Interactive visualization page"
Creating this thread to log all the inspirations we find for the interactive visualization page. To start:

**Mapillary**

https://www.mapillary.com (Landing Page)

![mapillary_landing_page](https://cloud.githubusercontent.com/assets/2873216/23269537/e2232aca-f9be-11e6-9d2e-236bbd0f01b1.png)

Clicking the Explore the World now button leads to the visualization page shown below. We could also have

[2017-02-23 17:06] jonfroehlich commented on #520
Please update this Issue according to @kotarohara's email. He indicated that he was able to find some depth data by sniffing network traffic (but didn't have time to reverse engineer encoding). This Issue should also be marked as highest priority.

[2017-02-23 17:09] manaswis commented on #520
Kotaro's response:

![depthdata_network_traffic](https://cloud.githubusercontent.com/assets/2873216/23270091/c14ca48c-f9c0-11e6-9d11-40a1c8cd4c8f.png)

[2017-02-24 18:06] manaswis commented on #429
Kotaro's recent response on this issue:

[2017-02-24 18:12] jonfroehlich commented on #429
This is exactly what I told you yesterday or day prior. :)

Sent from my iPhone

[2017-02-24 18:14] manaswis commented on #429
Yes, this is from Kotaro’s original response. Logging it here for better tracking :)

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/ <http://cs.umd.edu/~manaswi/>
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

[2017-02-25 16:24] manaswis commented on #248
Lady with a stroller (pano: h8xqan7uGBkTVTt1NEkDGA, heading: 137, pitch=-15, fov=40)
![lady_with_a_stroller](https://cloud.githubusercontent.com/assets/2873216/23332742/a659a2dc-fb4c-11e6-84fc-2742efd913f0.jpeg)

[2017-03-02 21:08] manaswis opened #524 "Update About page"
Update 'About' page with new members and update old members (as appropriate).

[2017-03-07 16:54] manaswis commented on #437
Updating this point with Jon's recent comments:

1) a check to make sure the user is panning in right direction
2) in addition to hand animation, display an arrow (possibly with text) that shows which direction to pan. arrow could animate

This is inline with Jon's original issue post.

[2017-03-09 14:59] manaswis opened #525 "Disable device orientation based panning"
The new API added new features for better mobile support. Amongst them is [motion tracking on mobile phones/tablets](https://developers.google.com/maps/documentation/javascript/streetview?utm_source=geodevsite&utm_medium=website&utm_campaign=2016-geo-na-website-gmedia-blogs-us-blogPost&utm_content=#motion-tracking).

Since this feature is not yet fully tested on the audit interface, we will keep t

[2017-03-09 16:00] #469 closed

[2017-03-12 01:50] m-furman commented on #522
Here are some rough sketches of what the interactive visualization page could look like. They're obviously inspired a lot by Mapillary (I haven't been able to find any interactive visualizations that are quite as good yet), but I'm going to continue looking around and see if I can come up with any other ideas!

Idea 1:

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVZ1pRVXhheUtkZ

[2017-03-12 18:07] jonfroehlich opened #527 "New Admin Map Interface: Labels Not Showing Correctly"
I just quickly tested @m-furman's new interactive admin map interface. It's definitely far more responsive (though still not fluidly interactive) and a big improvement over the past interface.

However, I noticed that some labels do not appear to show up correctly when you interact with the checkboxes. For example, we supposedly have over 10,000 No Sidewalk labels, however, when I deselect everyth

[2017-03-12 18:13] jonfroehlich opened #528 "New Admin Map Interface: Filtering Not Working Properly"
Two things about the filter:
1. The user interface doesn't make it easy to tell *what* should be filtered. Is it all labels that are below the selected slider level or all labels above the slider. This needs to be improved.

2. More importantly, however, the filter appears to be broken. Take the following case. You would expect that as you move the slider to the left, fewer and fewer labels would

[2017-03-12 18:48] manaswis commented on #528
From https://github.com/ProjectSidewalk/SidewalkWebpage/issues/386: she has implemented the filter to show only the labels based on the selected severity. I had done the tests using the same logic for the corresponding pull request.

So when the slider is on 4, it will only show labels that have the severity of 4 and all of the other severity ratings for that label is filtered out.

@m-furman Can

[2017-03-12 18:55] jonfroehlich commented on #528
I don't think that's how this should work. You should keep all values less
than selected tickmark and filter out all values equal to and greater than
selected tick mark.

On Sun, Mar 12, 2017 at 2:48 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitt

[2017-03-13 00:18] m-furman commented on #528
Yes, I was under the impression that this should only show the labels with the selected severity. I can change it to filter out all values greater than the selected one...but I feel like that makes it hard to view labels with a specific severity.

[2017-03-16 04:16] manaswis commented on #500
PR #429 resolves this.

[2017-03-16 04:16] #500 closed

[2017-03-16 12:29] #516 closed

[2017-03-16 14:18] jonfroehlich opened #531 "Tutorial Issues"
@manaswis, my apologies for duplicating pre-existing tutorial related issues. I wanted to dump everything here as a user log when taking the tutorial this morning on the dev server.

1. The tutorial should recognize when the user has done the wrong thing and offer corrective advice. In the following case, for example, the user selected the wrong label type and placed it in the wrong area. (Rather

[2017-03-16 21:15] manaswis commented on #531
I will create issues for the new suggestions you have added and update the existing issues.

Responses inline:

![image](https://cloud.githubusercontent.com/assets/1621749/23999563/2fefc4cc-0a2f-11e7-9a6d-1da9b4667215.png)

New issue. We could disable the rest of controls, while keeping the one in question active, then enable the appropriate one again for the next step.

![image](https://cloud.git

[2017-03-16 22:43] jonfroehlich commented on #531
Thanks. I read over your responses and I don't see any action items for me other than he brainstorming. I agree w your comments.

Re: brainstorming. Best that you come up w a proposed fix and mockup (or two) and I provide feedback (Best approach I think until I'm done with paternity leave).

Sent from my iPhone

[2017-03-18 14:40] manaswis commented on #531
As discussed, addressed the minor changes and modified the walking instructions for it to be good enough for release:

Resolved the arrow position for the "no sidewalk".
<img width="733" alt="screen shot 2017-03-18 at 10 31 16 am" src="https://cloud.githubusercontent.com/assets/2873216/24072985/3692b508-0bc6-11e7-998f-26f4c39f1df7.png">

Updated the walking instructions to remove the "washed out"

[2017-03-18 15:29] jonfroehlich commented on #531
Thanks for this. The walking part still seems weird to me even as a temporary fix. I would take away the arrow on the curb ramp for the walking part. It's confusing. Just focus user on walking. Then after they take the step, have them label.

Also, if they double click that circle, are they guaranteed to take a step

Sent from my iPhone

[2017-03-18 15:32] manaswis commented on #531
Yes, I also considered this. I will do that. I am traveling a bit today. So I will update it when I reach my destination.

Yes, they are guaranteed to take a step.

[2017-03-20 20:24] #524 closed

[2017-03-21 15:08] jonfroehlich commented on #528
@m-furman, ha, I see. So it's not really a filter as much as it is a selector! :)

Ideally, we would be able to support three tasks:
- Showing all labels with specific severity types
- Showing all labels less than a specific severity threshold
- Showing all labels greater than a specific severity threshold

Any ideas on how to best do this? I think you previously mentioned a massive grid of checkb

[2017-03-22 01:38] #386 closed

[2017-03-22 13:05] jonfroehlich opened #533 "In Version 2.1, No Smooth Animated Interpolation Between Locations When Double Clicking"
In version 2.1, there is no smooth animated interpolation between locations when double clicking to move. See below. Is there some function parameter we have to pass to enable this smooth movement animation on the double click to move? It's enabled when you click the arrow to move.

![image](https://cloud.githubusercontent.com/assets/1621749/24199024/89151f4e-0ede-11e7-9e59-e78c0e913966.png)

[2017-03-22 13:12] jonfroehlich opened #534 "CV-Assisted Labeling"
The team has talked a lot about real-time, computer vision-assisted labeling. For example, when Project Sidewalk had polygonal outlining instead of point-and-click for labeling, we discussed trying to do 'smart edge tracing' of objects to more quickly assist object outlining.

I thought of an additional idea: what if when you click on an object, we have a CV backend that attempts to recognize that

[2017-03-22 13:29] jonfroehlich opened #535 "Ideas for Reviewing/Verifying Labels (Quality Control)"
We talked about this in our UIST'14 paper but I wonder if it would be worth exploring again.

Imagine having a review data tab on Project Sidewalk that shows a grid of cropped images with their labels. The interface would allow the user to select between showing different label types. You could then quickly verify or correct mislabeled items (maybe vote up or down on whether you agree)--kind of li

[2017-03-22 13:54] jonfroehlich opened #536 "The 'deviceorientation event' only works in HTTPS"
The 'deviceorientation event' is Deprecated. We need to implement this differently.
I just saw this in Chrome console:

The deviceorientation event is deprecated on insecure origins, and support will be removed in the future. You should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.

_.z.addDomListener @ js:94

![image](https://cl

[2017-03-22 13:58] jonfroehlich opened #537 "Blank GSV Screen! Missing Imagery."
Uh oh, just experienced my first major problem with version 2.1: the screen went blank (see below).

![image](https://cloud.githubusercontent.com/assets/1621749/24201208/bd0646b4-0ee5-11e7-9883-55833299fc02.png)

Looks like it's a depth map issue. From the console log:
SVLabel.js:184 Error loading depth map for pano xwrwSRUefCHJKEvckjDjDg
Cannot read property 'model' of undefined
At undefined(unde

[2017-03-22 15:04] manaswis commented on #533
I have noticed this as well. If you double click just a little ahead of the arrow (see picture below), then the smooth transition happens.

![githubissue533](https://cloud.githubusercontent.com/assets/2873216/24204551/35ec3a58-0eef-11e7-96be-e287cc9ff37d.png)

I will look into how to do this.

[2017-03-22 15:04] jonfroehlich commented on #533
Hmm, OK. Thanks. Looks like it's because of the distance traveled between the two points.

[2017-03-22 15:16] jonfroehlich opened #538 "Admin Interface Map: Checkboxes Malfunctioning"
Notice how I have 'missing curb ramps' unchecked but yet it still shows on map. In fact, I can't get it to go away:

![image](https://cloud.githubusercontent.com/assets/1621749/24205170/03d51042-0ef1-11e7-8818-5adb824cd875.png)

@manaswis, did you do a code review and test of this?

[2017-03-22 16:00] manaswis commented on #538
I did. I just checked again. It works for me. Can you list the exact steps you followed?

To note here is that this interface gets refreshed each time you click on each of the checkboxes. Maybe you clicked in quick succession two checkboxes? If that was the issue, then the new layered format should take care of that. It hasn't been pushed yet to the production server 'cause Maria is working on fix

[2017-03-22 16:30] manaswis commented on #535
I like this idea esp. showing them in between audits.

[2017-03-22 16:31] #525 closed

[2017-03-22 16:33] manaswis commented on #518
The latest v2.1 release solves these issues. The depth map issue is recorded in another issue  (#537) where it can be tracked. Closing this issue.

[2017-03-22 16:33] #518 closed

[2017-03-22 16:38] manaswis commented on #520
During the investigations, we found that the depth data is missing when the imagery (and the associated metadata) for a particular panorama id is not available. This is usually the case when it is replaced with new imagery at a location. #537 shows a different issue - the screen goes blank due to missing imagery while auditing (where the panorama IDs are fetched dynamically). Closing this issue an

[2017-03-22 16:38] #520 closed

[2017-03-22 16:41] manaswis commented on #534
Its worth exploring and could a summer project for an undergrad (along with the other verification idea you mentioned in #535).

[2017-03-22 16:54] manaswis opened #539 "Periodically scraping panoramas with their metadata on the server"
Due to recent updates by Google, a lot of the pano ids in the database don't have imagery and the associated metadata (including depth data). Hence, we need to systematically scrape the data periodically as we get new labels of new panoramas.

A solution is running a scraper everyday at a specific time. Once we have this data then we can link the website to this repository when no data is seen ava

[2017-03-22 17:00] manaswis opened #540 "Tutorial: Providing corrective guidance when the user doesn't follow the given instruction"
We should provide corrective guidance when the user makes a mistake while following through onboarding instructions. The current implementation does have some form of guidance e.g. when the user doesn't apply the right severity rating. More enhancements are needed. Some examples are:

1. Uses a wrong label e.g. uses a missing curb ramp label instead of a curb ramps label,
2. Starts panning in the

[2017-03-22 17:04] manaswis commented on #437
More details from Issue #531:

[2017-03-22 17:06] manaswis opened #541 "Tutorial: Train users to zoom in/out"
From Jon's recent comment on #531:

![image](https://cloud.githubusercontent.com/assets/1621749/24000125/c9012d76-0a30-11e7-925b-10f669c28182.png)

[2017-03-22 17:10] manaswis opened #542 "Tutorial: Disable specific labeling order for the two curb ramp corner"
Allow the user to label either of the curb ramps first and not restrict them to follow a specific order as imposed currently by the instructions.

From Jon's comment in #531:

![image](https://cloud.githubusercontent.com/assets/1621749/24000324/4aa1c48a-0a31-11e7-9cb8-028495e2e841.png)

![image](https://cloud.githubusercontent.com/assets/1621749/24000340/58bf2bca-0a31-11e7-8a2e-0e62e13b90c9.png)

[2017-03-22 17:19] manaswis opened #543 "Tutorial: Improve instruction text to pan at the two curb ramp corner"
From #531:

Solution: Update the text to say something like "continue till you see two curb ramps".

[2017-03-22 17:24] jonfroehlich commented on #543
Your recommended solution does not work. Study the screenshot carefully.

[2017-03-22 17:40] manaswis commented on #543
Yes, you are right. In the current implementation, we need to continue panning, such that we reach a position where we can see the no sidewalk arrow, once the user labels the two curb ramps.

A solution could be to update all the instruction texts to start with numbers (e.g. 1/6: <Instruction>) and then we can update the text to say "Continue panning till you see reach step 5" or something similar

[2017-03-22 17:45] manaswis commented on #424
Recent release v2.1 resolves these issues.

[2017-03-22 17:45] #424 closed

[2017-03-22 17:46] jonfroehlich commented on #543
I think you can simply add in a message that says 'keep panning' or something.

The step thing seems complicated. Also note that the word 'step' is then overloaded for user as we typically mean step as a virtual step to move in Project Sidewlk.

[2017-03-22 17:50] manaswis opened #544 "Train users to teach that labels disappear from the GSV screen when they walk"
Update the tutorial script to teach them that the previously applied labels GSV won't be visible when you walk from the point where you applied those labels, however, can be seen in the top-down map.

Related comment from #531:

Related issue: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/502 - pointing to the top down map to track labels.

[2017-03-22 17:55] manaswis commented on #531
Updated the [existing comment](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/531#issuecomment-287193451) with the newly created/old issue numbers. Each of the issues can now be tracked in their respective issue threads.

[2017-03-22 17:55] #531 closed

[2017-03-22 17:59] manaswis commented on #439
All of these mentioned ideas have a corresponding issue. See #531. Closing this issue.

[2017-03-22 17:59] #439 closed

[2017-03-22 18:01] manaswis commented on #499
Duplicate of #453. Closing this issue.

[2017-03-22 18:01] #499 closed

[2017-03-22 18:02] jonfroehlich commented on #453
You can just make a animated gif for the arrow and show/loop that. Would take like ~10 mins to make.

[2017-03-22 18:05] manaswis commented on #502
Closing this issue. Duplicate of issue #544 that contains recent comments.

[2017-03-22 18:05] #502 closed

[2017-03-22 18:09] manaswis opened #545 "Add a disclaimer at the top to use Google Chrome. Other browsers aren't supported yet."
A lot of things looked broken as was observed in GIS day (#430) as well as in the recent investigations for v2.1 release.

Add a disclaimer at the top on the audit page when the browser detected is not Google Chrome.

[2017-03-22 18:40] manaswis commented on #429
Fixed in v2.1

[2017-03-22 18:40] #429 closed

[2017-03-23 00:30] jonfroehlich opened #546 "Project Sidewalk Down: Proxy Error"
I was just trying to test out http://projectsidewalk.io and noticed that http://sidewalk.umiacs.umd.edu appears to be down:

![image](https://cloud.githubusercontent.com/assets/1621749/24226713/6a919f74-0f3e-11e7-9c08-8b74e2ec76c4.png)

[2017-03-23 00:55] manaswis commented on #546
I checked if the site was shutdown for some reason. It wasn't. It was running.

It might have been an issue from the UMIACS server management side 'cause it's working again. I didn't make any changes.

[2017-03-23 01:27] jonfroehlich commented on #546
@manaswis, can you check with them about this then. I want to know what may have been the cause of it.

[2017-03-23 01:40] manaswis commented on #546
Sure, I will.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Wed, Mar 22, 2017 at 9:27 PM, Jon Froehlich <notifications@github.com>
wrote:

[2017-03-23 01:42] jonfroehlich commented on #546
I just want to figure out what happened and if it's something we should be
concerned about.

On Wed, Mar 22, 2017 at 9:40 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-03-23 01:42] manaswis commented on #546
I am emailing them now.

[2017-03-23 12:53] jonfroehlich opened #547 "Why Does Mission Show 0% But Other Stats are Saved?"
Yesterday, I was testing v2.1 when I ran into this bug (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/537) that prevented me from continuing. I logged in again today and it appears that my audit work during that mission was saved (note: the interface says I have labeled 46 curb ramps, 6 obstacles, 6 surface problems) and yet the mission tracker shows 0% complete (see screenshot below).

[2017-03-23 12:57] jonfroehlich opened #548 "If Users Are Not Rating, Pop-Up Message That Reminds Them to Rate"
We should track rating behavior--like we do if users are using keyboard shortcuts--and pop-up a message that politely encourages them to rate and that they can use the keyboard (1,2,3,4,5) to do so.

A message similar to this but specifically for rating severity:

![image](https://cloud.githubusercontent.com/assets/1621749/24248673/b72c9e2a-0fa6-11e7-9e79-4d1aaec10f5d.png)

@manaswis, thoughts?

[2017-03-23 13:02] jonfroehlich opened #549 "Cursor Stuck As Crosshair Rather Than Hand"
For some weird reason, my cursor got stuck as a crosshair rather than hand:
![image](https://cloud.githubusercontent.com/assets/1621749/24248811/49a6b466-0fa7-11e7-9edd-c5104f6ee18d.png)

It still appears to correctly change when I mouseover things, however:
![image](https://cloud.githubusercontent.com/assets/1621749/24248827/5fb248ce-0fa7-11e7-988f-b4653864fdd7.png)

![image](https://cloud.github

[2017-03-23 13:11] jonfroehlich commented on #537
It happened again. The screen is blank and I am stuck and cannot complete a mission. @manaswis, this is a showstopper. We must investigate to see how prominent this problem is and come up with a solution.

![image](https://cloud.githubusercontent.com/assets/1621749/24249187/ae1d9328-0fa8-11e7-8ae1-0403eec086c9.png)

[2017-03-23 16:56] jonfroehlich commented on #537
If we can't track down the root cause of the problem, at the very least we should be able to:

1. When user takes a step forward, check to see if a depth map exists for that next location. Note: this is even before we show the user their next location.
2. If no depth map exists, check the next GSV location in the walk direction. Try this for ~2 or 3 more step locations forward. If none have a dept

[2017-03-23 17:30] manaswis commented on #537
Related issue: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/309

Kotaro mentioned:

[2017-03-23 17:54] jonfroehlich commented on #537
@kotarohara mentions a bug in the GSV API but no external validation that this is true, correct? That is, he does not link to an official bug report on Google's website. So, can we be 100% confident that it's a bug on their end and not on our end?

[2017-03-23 18:06] manaswis commented on #537
No, I don't think there is an external validation. However, in my current investigation, I checked the metadata that's received for those locations where there is a blank screen. The request returns a status code of "UNKNOWN__ERROR", which is defined by Google as:

I am looking into this further - looking into the code segments where there is a check for the status code, and find places where the

[2017-03-23 18:07] manaswis commented on #546
Another instance of the server being unavailable.

<img width="1174" alt="screen shot 2017-03-23 at 1 00 56 pm" src="https://cloud.githubusercontent.com/assets/2873216/24262927/fd9648a4-0fd1-11e7-969e-13f3c40ed80c.png">

[2017-03-23 18:08] jonfroehlich commented on #537
@manaswis: got it. Sounds good. Thank you!

[2017-03-24 12:45] jonfroehlich opened #550 "Cursor_ZoomOut.png Not Loaded Error"
Failed to load resource: the server responded with a status of 404 (Not Found)
Cursor_ZoomOut.png

![image](https://cloud.githubusercontent.com/assets/1621749/24294757/32a59210-106e-11e7-8422-559ff9862491.png)

Not very frequent but it does happen.

[2017-03-24 12:46] jonfroehlich opened #551 "Hitting 'Z' Key to Zoom No Longer Works"
For some reason, I can no longer hit the 'Z' key to zoom in. This may be related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/550

[2017-03-24 12:48] jonfroehlich commented on #549
I am encountering this problem on my Mac as well.

[2017-03-24 12:51] jonfroehlich opened #552 "Ambiguous 'You Have Reached End Of This Route'"
I encountered the 'You have reached the end of this route..' message but I was still 1 or 2 steps from the intersection. Am I supposed to label the upcoming intersection or click the button when it comes up? This is ambiguous. I could see people finish labeling their current location but I think it unlikely that they would take 1 or 2 additional steps (e.g., to an intersection) and label that and

[2017-03-24 12:54] jonfroehlich commented on #546
@manaswis, can you update this thread with what you found out from admin staff. Important to keep this all in one place.

[2017-03-24 12:57] jonfroehlich commented on #537
I tried to do my morning test audit this morning and, once again, I encountered the GSV blank screen problem. I have tried to complete 4 missions since the 2.1 release. In 3 of the 4 missions, I have faced this problem that has prevented me from completing the mission. It's a huge showstopper.

![image](https://cloud.githubusercontent.com/assets/1621749/24295138/c9d0e7c4-106f-11e7-9738-d8fc4e9c891

[2017-03-24 14:54] manaswis commented on #537
Hmm. I would say for now try to audit another neighborhood. It looks like North Cleveland Park has a lot of these expired pano ids. I found that in Adam Morgan's neighborhood (the example below) too. Yesterday, I found these pano ids are not available even on Google Street View. An example:

<img width="1253" alt="googlestreetview_errorpanel" src="https://cloud.githubusercontent.com/assets/2873216

[2017-03-24 15:17] manaswis commented on #546
Update from Shawn (UMIACS):

[2017-03-24 15:45] jonfroehlich commented on #537
What do you mean 'above errors.' Google simply prevents me from walking in that direction when I click on the arrow (i.e., nothing happens when I try to walk this way):

![image](https://cloud.githubusercontent.com/assets/1621749/24301975/60b51266-1087-11e7-9d57-dbd179202a28.png)

[2017-03-24 15:49] manaswis commented on #537
Yes, Google doesn't allow you to walk but it shows these errors on the console. I was investigating this location using our interface and I got the blank screen for one of the pano ids that's included in the error list in my previous post.

[2017-03-24 16:19] jonfroehlich commented on #537
Ah, I see.

Yes, the error printed to console is:
GET https://geo0.ggpht.com/cbk?cb_client=maps_sv.tactile&authuser=0&hl=en&panoid=QiFb1pQcs9EWWHK5NvyYHA&output=tile&x=0&y=0&zoom=0&nbt&fover=2 404 ()  cbk:1

![image](https://cloud.githubusercontent.com/assets/1621749/24303370/19443aa6-108c-11e7-8a4f-7e74c7d6707d.png)

[2017-03-25 14:23] manaswis commented on #508
This happened again today:

java.lang.OutOfMemoryError: Java heap space

java.lang.OutOfMemoryError: Java heap space

Would have to figure out a solution soon.

[2017-03-25 19:34] jonfroehlich commented on #546
I just got this error again. I thought this was resolved based on Shawn's email?

![image](https://cloud.githubusercontent.com/assets/1621749/24325495/80bce3ba-1170-11e7-866a-ca4973057d34.png)

@manaswis, do you know what's going on?

[2017-03-26 01:03] jonfroehlich commented on #248
I was dropped into an intersection that has a host of problems (can't audit it currently because the server just went down but luckily it's fully loaded on client). The panoid is: pKpG-mrrq43wdHmhsSM_oQ

[code]

Looking one way: two missing curb ramps and no sidewalk:
![image](https://cloud.githubusercontent.com/assets/1621749/24327402/36f0f7ca-119e-11e7-877c-a850493038ac.png)

Looking another way

[2017-03-26 02:15] manaswis commented on #508
Increased the heap size to solve the problem
    "-Xmx3072M", "-Xms2048M", "-XX:MaxPermSize=3072M"

Will have to see if that helps.

[2017-03-26 02:17] manaswis commented on #546
After digging into logs and checking memory usage, it looks its linked to low heap space. This also caused the application to shutdown.

Have increased the heap size to "-Xmx3072M", "-Xms2048M", "-XX:MaxPermSize=3072M".
Will have to see if that helps.

This issue linked to #508.

[2017-03-26 09:23] jonfroehlich commented on #508
So, this seems reasonable and I think the previous settings of 1GB for heap size were likely too small; however, the difference between memory usage on deployment server vs. dev server is not accounted for. That is, we don't seem to actually know if there is an underlying problem here. So while increasing heap size may help address receiving this error (or the frequency of receiving this error), I

[2017-03-26 15:49] jonfroehlich opened #553 "Mission Tracker Says 100% But Midway Through a Street"
![image](https://cloud.githubusercontent.com/assets/1621749/24332747/1834a49a-121a-11e7-8399-55ffd69206ae.png)

I also added a comment using feedback tool:
![image](https://cloud.githubusercontent.com/assets/1621749/24332751/2771a598-121a-11e7-993b-7d2490ac95b6.png)

I'll update this status when I actually finish the mission (if the system allows me to).

[2017-03-26 15:50] jonfroehlich commented on #553
Update: I took one additional step forward and I received the Mission Complete dialog. Interesting!

![image](https://cloud.githubusercontent.com/assets/1621749/24332776/59bed778-121a-11e7-8b6e-f77399114062.png)

[2017-03-27 17:49] jonfroehlich commented on #537
Interesting, similar to @manaswis, I am now seeing the GSV blank screen problem in Google Street View itself! Check this out:

https://www.google.com/maps/@38.9287554,-77.0663951,3a,75y,85.19h,90t/data=!3m4!1e1!3m2!2e0!6s%2F%2Fgeo2.ggpht.com%2Fcbk%3Fpanoid%3DZynupA2MS2KJvpHEqgvDGA%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D83.83196%26pitch%3D0%26

[2017-03-27 18:04] jonfroehlich commented on #537
I just tweeted this to the GMaps team:

https://twitter.com/jonfroehlich/status/846422002948812800

![image](https://cloud.githubusercontent.com/assets/1621749/24370691/518aa9ce-12f6-11e7-915f-f144149cbc8a.png)

[2017-03-27 18:21] jonfroehlich commented on #537
Given that we still don't have a workaround for this despite multiple days of work (thanks @manaswis) and because I actually now agree with @manaswis that this is an infrequent issue and that it is a problem with GSV and not us (doh!), perhaps the right approach is to do a quick fix:

1. Check for the GSV blank screen error on location load
2. If current location suffers from problem, pop-up messa

[2017-03-27 18:23] manaswis commented on #537
Sounds good. I will implement that.

[2017-03-27 18:49] manaswis commented on #537
**Some notes/findings during my investigations**
About the GSV bug:
I found that the navigation arrows (that link to adjacent panoramas) have the problem-causing panoid that doesn't have any imagery available. For e.g., for the location/pano id (lets call this the source panoid) where the blank screen was occurring when you clicked one of the problem-causing arrows, these are the links:

Link {"de

[2017-03-27 18:52] manaswis commented on #553
This is actually a valid behavior. The missions are based on distance. So if the distance was covered, while the user was auditing a street (even if in the middle of a street), the mission is completed.

[2017-03-27 19:03] jonfroehlich commented on #553
It's fine that a mission stops in the middle of a street but it's confusing to reach 100% and not be done.

[2017-03-27 19:06] manaswis commented on #553
Ah I see. Then this is the problem logged here - https://github.com/ProjectSidewalk/SidewalkWebpage/issues/512

[2017-03-27 19:07] jonfroehlich commented on #553
Yep! If possible: I think we need to force the UI to not be 100% until you are at the very last location (no steps left).

[2017-03-27 19:10] manaswis commented on #512
Duplicate of #553. Closing this one as the latest one has more information.

[2017-03-27 19:10] #512 closed

[2017-03-27 19:40] jonfroehlich commented on #248
Man on crutches:

[code]

![image](https://cloud.githubusercontent.com/assets/1621749/24374587/6b067178-1303-11e7-84c2-dfd27ec7fe8b.png)

[2017-03-27 20:54] manaswis commented on #537
Added this pop-up:

<img width="720" alt="screen shot 2017-03-27 at 4 53 01 pm" src="https://cloud.githubusercontent.com/assets/2873216/24377607/f072f11a-130d-11e7-93f8-200917d46a3d.png">

Looks good?

[2017-03-27 21:31] jonfroehlich commented on #537
Yep. Nice job!

We need to log this error to database. I assume we have a place for error logging like this (e.g., when user clicks jump button and says that they cannot continue on mission route).

Sent from my iPhone

[2017-03-27 21:41] manaswis commented on #537
Yes, it is being logged.

[2017-03-30 15:00] jonfroehlich opened #554 "Huge Gap on Sidewalk Project Page"
![image](https://cloud.githubusercontent.com/assets/1621749/24510728/05130a2a-1538-11e7-9684-965980acd8cb.png)

[2017-03-30 15:00] jonfroehlich commented on #554
Oops, meant to post this to makeability lab website github!

[2017-03-30 15:00] #554 closed

[2017-03-30 20:03] jonfroehlich commented on #546
This seems to be resolved now, no? Close it?

[2017-03-30 20:05] jonfroehlich commented on #537
Again. This time in Fort Stanton.

![image](https://cloud.githubusercontent.com/assets/1621749/24523898/a6b6c900-1562-11e7-9c66-b142ad3aae7a.png)

[code]

[2017-03-30 20:11] jonfroehlich opened #556 "Consider Adding A Mechanism for User to Flag Label as 'Unsure'"
We should consider adding a simple, easy-to-understand mechanism for a user to flag their label as 'unsure.' For example, in this case, I'm not completely certain that the pole is completely blocking the sidewalk:

![image](https://cloud.githubusercontent.com/assets/1621749/24524139/914dd440-1563-11e7-8ef4-3b419611d7d4.png)

![image](https://cloud.githubusercontent.com/assets/1621749/24524127/87d4

[2017-03-30 20:24] jonfroehlich commented on #248
Bus stop but no way to get down.
![image](https://cloud.githubusercontent.com/assets/1621749/24524628/524deeea-1565-11e7-9105-99c2e5cc542c.png)

[code]

[2017-03-30 20:37] jonfroehlich commented on #546
Oops. Spoke too soon. Just got this:

![image](https://cloud.githubusercontent.com/assets/1621749/24525123/1b41bc7c-1567-11e7-8765-82af38229477.png)

So, I think the admin page must really need a lot of RAM to generate if we think, indeed, that RAM usage is the problem. This doesn't surprise me since the admin page literally queries every single label, etc.

[2017-03-30 21:39] manaswis commented on #537
This is the new behavior that I saw today and that I captured in the code. It could be an artifact of the updates to the imagery that they did (happened the same day but can't say for sure).

For every pano that is set, usually there are 2 pano_changed events both of the same panoid. In a few cases, I noticed that the first pano_changed event was for a valid panoId and the second one is a blank pa

[2017-03-30 21:44] manaswis commented on #537
I updated the dev-server with the latest changes. You can specifically test this location using: http://sidewalk-dev.umiacs.umd.edu/audit/street/19474

[2017-03-30 23:51] manaswis commented on #537
Shall I deploy it on the production server? I have done my testing locally.

[2017-03-31 00:09] jonfroehlich commented on #537
Sure. Thanks.

[2017-03-31 00:22] #537 closed

[2017-03-31 00:31] manaswis commented on #537
Deployed it to the production server.

[2017-03-31 00:45] jonfroehlich commented on #546
The server is down again and I did not load the admin page. I have specifically been avoiding it. I did load my own dashboard though...

![image](https://cloud.githubusercontent.com/assets/1621749/24531832/cf050fee-1589-11e7-8c81-7c5a866d6b76.png)

[2017-03-31 00:58] manaswis commented on #546
Ah I see. Your page also requests a huge amount of time for the activities portion of the dashboard. I will comment that portion out. And I will get the tabbed version up keeping the users tab as default so that the map query doesn't run. Let's see if that helps.

[2017-03-31 01:02] jonfroehlich commented on #546
What do you mean "your page also requests a huge amount of time?"

Do you mean that my page requests a huge amount of data that takes a long time to fulfill? Why do we care about time here? Isn't memory usage the key factor (obviously, we want all of our requests to be responsive so time *is* relevant but it seems like the key problem that we trying to solve currently is memory).

[2017-03-31 01:03] manaswis commented on #546
Sorry, that was a typo. I updated the comment. "It requests a huge amount of data."

[2017-04-04 16:09] #343 closed

[2017-04-06 17:03] #517 closed

[2017-04-06 17:03] #256 closed

[2017-04-07 12:57] jonfroehlich opened #564 "New Landing Page: Animated 3-Step Gif Does Not Auto-Advance"
The animated 3-step GIF does not auto-advance through the three steps of Explore, Find Problems, Assess Severity:

![image](https://cloud.githubusercontent.com/assets/1621749/24800938/2c4dc0a6-1b70-11e7-8695-173ae1b04762.png)

[2017-04-07 12:59] jonfroehlich opened #565 "New Landing Page: Explore, Find Problems, Assess Severity Don't Look Clickable"
The Explore, Find Problems, & Assess Severity buttons don't look clickable. If we want people to interact with these, they need to visually indicate interactivity somehow:

![image](https://cloud.githubusercontent.com/assets/1621749/24800990/644a2ef4-1b70-11e7-89cc-d9a50d7fd58f.png)

Looks like Rachael's not on github, otherwise I would tag her with this.

[2017-04-07 13:04] jonfroehlich opened #566 "New Landing Page: Consider Adding Total Miles"
Consider adding total miles walked/audited in the middle here:

![image](https://cloud.githubusercontent.com/assets/1621749/24801204/308fe152-1b71-11e7-8321-35a8fee1c89b.png)

[2017-04-07 18:32] rachmarr commented on #565
We haven't quite implemented the "line" portion as of yet, so that could help, otherwise maybe we can consider a file-folder look? So that each portion looks like a "tab". -Rachael

[2017-04-10 02:07] m-furman commented on #528
Would something like this work? (I realize the numbers on the slider handles are off center)

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVcTRGLVlHVW5WVkk"  />

Using a range slider should allow you to select any possible range of values (which takes care of both selecting labels less than a specific severity and greater than a specific severity), and it would also allow you to

[2017-04-10 02:18] jonfroehlich commented on #528
I like it!

On Sun, Apr 9, 2017 at 10:07 PM, Maria <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-04-10 16:14] rachmarr commented on #565
Hi All,
Here is a quick mockup of what I am thinking (the tabs version mentioned above).
![_newmockupofexplaination](https://cloud.githubusercontent.com/assets/23280671/24871327/3e726a92-1de7-11e7-8b8e-9c9b56a9fd10.jpg)
 Let me know what you think!

[2017-04-10 16:20] manaswis commented on #565
I like this one! It definitely looks clickable, and it has a good color coordination with the rest of the page as well - with alternating green elements every other section :)

[2017-04-10 16:37] manaswis opened #567 "New Landing Page: Consolidated List of Modifications Remaining TODO"
1. CSS tweaks
       1. Fixing font-weights: Bold doesn't appear bold. For e.g. footer titles should appear bold
       2. Footer should be center aligned w.r.t. to the funding sources part of the footer.
       3. Adjust vertical spacing between body copy and headers
       4. See markup for more other small spacing changes.

![project-sidewalk_markupnew](https://cloud.githubusercontent.com/asset

[2017-04-11 18:06] manaswis opened #568 "Admin Interface: Error while viewing labels from the Contributions tab"
Clicking the view link in the Labels table doesn't open the window with the label image. Instead, the console shows:

<img width="457" alt="screen shot 2017-04-11 at 2 02 37 pm" src="https://cloud.githubusercontent.com/assets/2873216/24923494/bb3694b2-1ebf-11e7-8485-7170c806edcc.png">

[2017-04-11 18:37] manaswis opened #569 "Fix About page: The publication links and titles needs correction"
There are a few publications whose titles are the same as the previous one in the list, and some links don't correspond to the correct publication.

Need to fix this and push it out together with the rest of the landing page changes.

[2017-04-12 16:19] manaswis opened #570 "New Landing Page: Header video left-aligned"
On big monitors, the header video looks left-aligned causing a grey area on the right:

![videos_leftaligned](https://cloud.githubusercontent.com/assets/2873216/24968010/d8046b22-1f79-11e7-829d-4ce7d1895a27.png)
Courtesy: Matt

Interestingly, this doesn't appear in the same way on my big monitor.

[2017-04-12 16:21] jonfroehlich commented on #570
I've never seen this either... and I have my 30". What's Matt's resolution?

On Wed, Apr 12, 2017 at 9:19 AM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-04-12 16:50] mattm401 commented on #570
It might just be the weird way my computer handles secondary monitors as
well: the resolution is only 1920x1200.

Cheers,

~Matthew Louis Mauriello, MS
Department of Computer Science
University of Maryland
A.V. Williams Building, 4122
College Park, MD 20742
--
http://www.cs.umd.edu/~mattm/
Twitter @mattm401

On Wed, Apr 12, 2017 at 12:21 PM, Jon Froehlich <notifications@github.com>
wrote:

[2017-04-18 01:31] m-furman commented on #528
I have the severity filtering working now with these new range sliders:

<img src="http://drive.google.com/uc?export=view&id=0B687BEjGtgFVRFJSVWtHdkZ3T0k"  />

More testing is probably necessary to ensure that I'm not missing any edge cases (will do that as soon as possible), and there's also some UI changes that can be made in order to make the interface look nicer.

[2017-04-18 13:02] jonfroehlich commented on #528
This looks good. I agree that the UI could be tweaked to improve aesthetics
but overall is good.

The biggest thing I would suggest is adding some numbers to print out how
many labels are shown in each category (and possibly how many are filtered
out).

Any suggestions for how to test this?

On Mon, Apr 17, 2017 at 9:31 PM, Maria <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Profes

[2017-05-02 01:21] jonfroehlich commented on #331
This still needs to be fixed and I think we could also add sound effects in other areas as well. Indeed, I think the entire audio design of Project Sidewalk could be redesigned.

[2017-05-02 16:43] jonfroehlich opened #576 "Landing Page: "What is Project Sidewalk?" Not Viewable On Large Screens"
![image](https://cloud.githubusercontent.com/assets/1621749/25628607/d490e018-2f34-11e7-92d6-c36f741430fb.png)

The white text doesn't work well here. If I reduce the window size, it's fixed:

![image](https://cloud.githubusercontent.com/assets/1621749/25628627/ed64d342-2f34-11e7-8cb8-bb9e62504a48.png)

[2017-05-02 16:47] jonfroehlich opened #577 "Use Google Analytics to Examine Which Browsers People Are Using & Test To Make Sure Those Browsers Work"
This is a possible high school or ugrad task for the summer.

Use Google Analytics to examine which browsers people are using, decide whether it's worthwhile to support those browsers, and then make changes to our codebase accordingly to support that subset and test exhaustively.

For those browsers that we do not support, we need to have a pop-up message telling the user this.

[2017-05-02 16:47] jonfroehlich opened #578 "Need to Examine Memory and CPU Usage With New Landing Page and Optimize Accordingly"
We need to examine the memory and CPU usage of the new landing page and optimize assets accordingly.

[2017-05-02 17:09] manaswis opened #579 "Other browser support: Audit interface doesn't work as expected"
Investigate why the audit interface doesn't work.

On Firefox:
![image](https://cloud.githubusercontent.com/assets/2873216/25629670/55f7800a-2f38-11e7-8e69-ec9fad29de45.png)
These are the errors show up on the console.

For Safari, **panning** doesn't work at all.

Conclusion: Investigate further - what are the other issues, why it occurs and fix it.
Also, find which browsers are being used to vis

[2017-05-02 18:01] manaswis commented on #579
Google Analytics data from Jan 1, 2017 - May 1, 2017
![image](https://cloud.githubusercontent.com/assets/2873216/25631812/85d86e5e-2f3f-11e7-9877-2c132b82e8c5.png)

So, looks like we should resolve issues for Safari and Firefox at the minimum.

[2017-05-02 18:04] manaswis commented on #577
Adding #579 data and closing that issue:

Investigate why the audit interface doesn't work.

On Firefox:
![image](https://cloud.githubusercontent.com/assets/2873216/25629670/55f7800a-2f38-11e7-8e69-ec9fad29de45.png)
These are the errors show up on the console.

For Safari, **panning** doesn't work at all.

**Conclusion**: Investigate further - what are the other issues, why it occurs and fix it.

[2017-05-02 18:04] manaswis commented on #579
Duplicate of #577. Closing it.

[2017-05-02 18:04] #579 closed

[2017-05-08 00:23] tongning commented on #578
On my system, the videos are responsible for nearly all of the page's CPU usage.

Chrome resource monitor on current page:

![video-cpu](https://cloud.githubusercontent.com/assets/7234278/25786440/12b6f5a8-3363-11e7-830b-a0f3ec1aa5fc.png)

Chrome resource monitor after removing all videos from the page:

![video-removed](https://cloud.githubusercontent.com/assets/7234278/25786438/0c78192e-3363-11e

[2017-05-08 00:37] tongning opened #588 "Admin page takes a long time for server to generate"
Even with the smaller test dataset, the server takes around 4-5 seconds to respond with the admin page after the initial request, according to the waterfall in Chrome dev tools. This may potentially be related to the OutOfMemory issues at #508.

I removed various elements of the admin page one at a time, to see which parts are contributing most to the page generation time. Documenting the results

[2017-05-08 02:21] jonfroehlich commented on #578
OK, thanks for investigating. Looks like we'll need to optimize this more.

On Sun, May 7, 2017 at 6:23 PM, Anthony Li <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-05-09 22:05] manaswis opened #589 "Analyze and improve server performance"
We need to better analyse and improve our server's performance.

## Notes:
Here is the recent email exchange on this:

### Manaswi:
I checked the memory usage:

[code]

I think this is normal as I had allotted 3 GB to the application earlier.

However, I see some differences between the dev-server's usage with the production server's usage even though they share the same application configuration.

[2017-05-16 13:52] jonfroehlich opened #593 "Consider Using Docker to Make Setup Easier?"
I have no idea if this is possible or worthwhile but we should discuss using [Docker](https://www.docker.com/) or something similar to setup our dev environments to lessen the overhead for new folks to start contributing...

@tongning, didn't you experiment with using Docker?

[2017-05-16 16:19] jonfroehlich commented on #593
Hmm, maybe something for a student to investigate this summer.

[2017-05-16 19:48] jonfroehlich commented on #578
This would be another good task for @sagec108 or another incoming intern.

[2017-05-17 17:59] manaswis opened #595 "Admin Playback Tool page is currently broken"
The page that allows us to see how the audit has been done by the user is broken. It doesn't show the top-down full scale map that used to show up to see the applied labels as it is being applied. Only the GSV review window is visible. Following is the screenshot:

![image](https://cloud.githubusercontent.com/assets/2873216/26168635/ca5d69c4-3b08-11e7-9b2f-034b4b51afc2.png)

Adding it to the summe

[2017-05-17 18:43] jonfroehlich commented on #595
Looks like it's likely cause of new css templates, etc.

On Wed, May 17, 2017 at 1:59 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-05-17 19:27] sagec108 opened #596 "Typo in index.js file and unknown repercussions"
Line 382, "update" is spelled incorrectly.
I couldn't find what parts of the website depended on the index.js file, Manaswi asked me to report it as a bug.

https://github.com/ProjectSidewalk/SidewalkWebpage/blob/master/public/javascripts/index.js#L382

[2017-05-18 19:49] sagec108 opened #599 "Undo button removes labels on google street view but does not correct right hand side audit statistics"
When completing a mission, I placed down some (e.g. 6) curb ramp labels. I undid all of them, but the right hand side mission statistics still displayed that I placed that number (6) labels.

[2017-05-18 20:07] jonfroehlich commented on #599
Good find @sagec108. Please tag appropriately as a bug etc.

[2017-05-18 20:14] sagec108 opened #600 "Undo button removes labels on google street view but does not correct right hand side audit statistics"
When completing a mission, I placed down some (e.g. 6) curb ramp labels. I undid all of them, but the right hand side mission statistics still displayed that I placed that number (6) labels.

[2017-05-18 20:17] jonfroehlich commented on #600
Why did you close this?

[2017-05-18 20:19] sagec108 commented on #600
Sorry I was trying to figure out how to label the issue. I reopened it!

On Thu, May 18, 2017 at 4:17 PM, Jon Froehlich <notifications@github.com>
wrote:

[2017-05-18 20:26] #599 closed

[2017-05-19 02:56] jonfroehlich opened #601 "Landing Page: Results Button Jumps When Clicked"
The results button jumps when I try to click it and doesn't always go immediately to:
http://sidewalk.umiacs.umd.edu/results

![image](https://cloud.githubusercontent.com/assets/1621749/26231416/0e2d8c50-3c1d-11e7-803c-a5ec766d8ceb.png)

[2017-05-22 18:44] sagec108 commented on #548
I created a similar pop-up message that reminds users to rate the area severity whenever the user closes the context menu a certain number of times (adjustable constant) without rating.

Closing the menu occurs in 3 ways, all of which are tracked
- Pressing the X button
- Pressing OK
- Clicking outside of the context menu

The current popup message looks like this and appears after 4 instances of

[2017-05-23 00:15] manaswis commented on #601
Closing via #603

[2017-05-23 00:15] #601 closed

[2017-05-23 00:16] manaswis commented on #567
All updates to Landing Page done

[2017-05-23 00:16] #567 closed

[2017-05-23 00:18] manaswis commented on #565
Closed via #597

[2017-05-23 00:18] #565 closed

[2017-05-23 00:18] manaswis commented on #566
Closed via #597

[2017-05-23 00:18] #566 closed

[2017-05-23 00:19] manaswis commented on #564
Closed via #597

[2017-05-23 00:19] #564 closed

[2017-05-23 00:19] manaswis commented on #570
Closed via #597

[2017-05-23 00:19] #570 closed

[2017-05-23 00:22] manaswis commented on #545
Closing via #604

[2017-05-23 00:22] #545 closed

[2017-05-23 14:29] sagec108 commented on #596
The spelling was incorrect but consistent through its use in the project, non-issue.

[2017-05-23 14:29] #596 closed

[2017-05-23 15:47] manaswis commented on #568
Fixed via #597

[2017-05-23 15:47] #568 closed

[2017-05-23 19:21] sagec108 commented on #577
I investigated errors that were shown in the Firefox console and found that the errors occurred because of the Firefox browser and not because of our code. The sidewalk webpage works seems to work fine on Firefox but some users have reported that the street view is slow.

1.

 This pixel reformatting means heavier cpu side pixel conversions. This is a Firefox issue.

2.

Firefox by default enables

[2017-05-23 19:44] manaswis commented on #577
This is great, @sagec108! Well done.

This is the Safari error that I get on the console:

![image](https://cloud.githubusercontent.com/assets/2873216/26373218/a90f18b0-3fce-11e7-822a-b0b2037539e2.png)

The version is v10.1

[2017-05-23 19:52] manaswis commented on #380
Adding Anthony's recent investigations (in #588):

[2017-05-23 19:53] manaswis commented on #588
Closing this issue as it is being tracked in #380

[2017-05-23 19:53] #588 closed

[2017-05-23 20:02] maddalihanumateja commented on #577
The Sidewalk webpage is usable on my computer (Max OS X 10.11.6) with Safari (v10.1.1). I'm able to pan and move even though I see the same error as @manaswis on the javascript console.
<img width="537" alt="screen shot 2017-05-23 at 3 55 47 pm" src="https://cloud.githubusercontent.com/assets/3580069/26373757/ca16e216-3fd0-11e7-9da6-1f8b750d93f4.png">

[2017-05-23 20:08] maddalihanumateja commented on #577
I get the "Error in Google Street View" message more frequently. Doesn't seem to be browser-specific. The screenshots are from safari (v10.1.1) and chrome (v58.0.3029.110 )
<img width="947" alt="screen shot 2017-05-23 at 4 05 52 pm" src="https://cloud.githubusercontent.com/assets/3580069/26374057/f8859be6-3fd1-11e7-9eda-638001d9964d.png">
<img width="1251" alt="screen shot 2017-05-23 at 4 07 21 pm

[2017-05-24 15:22] jonfroehlich commented on #577
Someone will need to investigate this more methodically and with greater
depth to figure out how often it happens and where it happens.

On Tue, May 23, 2017 at 4:08 PM, maddalihanumateja <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-05-24 17:44] jonfroehlich commented on #596
Well, I would like us to fix typos. So, can you do the fix systematically
using like IDE-supported refactor and rename...

On Tue, May 23, 2017 at 10:29 AM, Sage Chen <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-05-24 18:19] misaugstad opened #607 "Landing Page: Show message that app is not supported on mobile"

[2017-05-24 20:47] sagec108 opened #608 "Google street view error does not always work as intended"
I have noticed that recently, the Google Street View error pops up a lot. I believe this error pop-up is not working as intended and tested by stopping at an instance when the error was shown and retrieving location information. I compared said information in Google Maps, where I found no issue with street view images at the exact same longitude and latitude.

One example I found while at the exac

[2017-05-24 20:53] jonfroehlich commented on #608
Thanks Sage.

This is a high priority and needs to be  investigated and fixed ASAP, especially if it's now high occurrence.

How prominent is the issue?

Others: this is the reason that you should regularly complete missions with our tool.

Sent from my iPhone

[2017-05-24 20:57] manaswis commented on #608
As I mentioned it to Sage, this could be caused due to the recent API update. It is possible that they changed how they handle errors.

@sagec108 I would start by looking into the specific error that is being thrown by the API in these cases.

[2017-05-25 14:03] sagec108 commented on #596
Yes, I fixed the typos (which were only applicable to 2 files) in my pull request for issue #600. I didn't think these typos were important enough to keep as a separate branch.

[2017-05-25 14:49] misaugstad opened #609 "Login/Sign in text should be consistent"
At the top of the landing page, the button is called "Login", but pops up a window with the title "Sign in". I'm sure that (essentially) everyone understands that these are synonymous, but they should still be consistent.

Is there a reason/preference for choosing one over the other?

[2017-05-25 14:56] misaugstad opened #610 "Auto-focus cursor to email address text box when logging in"
When hitting the "Login" button on the homepage, the "Sign in" window pops up where you type in email address and password. I think that when the window opens, the cursor should already be focused to the "email address" text box so one can just begin typing instead of doing the second click on the box.

Also if focus moves to a different window and then comes back, and the cursor focus was in one

[2017-05-25 15:01] misaugstad commented on #610
The lack of retaining focus after switching leaving and returning to the window is particularly annoying for someone using a password manager with an auto-type feature... Instead of alt-tabbing to the password manager and hitting a key, which switches to Firefox and types the username and password, I have to alt-tab, copy, alt-tab, click on text box, paste, alt-tab, copy, alt-tab, click on text bo

[2017-05-25 15:15] misaugstad opened #611 "Add esc key as an option to close label context menu"
After placing a label, the context menu where severity is rated can be closed by
1. hitting enter
2. selecting another label
3. panning with mouse
4. clicking "OK" in the bottom right of the menu
5. clicking the "x" in the top right of the menu

The presence of the "x" in the top right makes me think that the esc key should be able to close the context menu. When I hit escape, it doesn't seem to d

[2017-05-25 16:20] jonfroehlich commented on #611
Sure. Esc can close context menu.

Not sure about keys to pan. Probably should be consistent. We should vote as a team.

PS how common is using keyboard for panning?

Sent from my iPhone

[2017-05-25 17:52] sagec108 commented on #608
So, while the GSV error is displayed somewhat frequently, I'm not sure if there's a fix.
I investigated and found that the error is displayed when the Google API's pano_changed event occurs and the panorama ID is undefined. The strange thing is that the following pano_changed events have defined panorama IDs consistent with those from before. To make this issue clearer, I logged variables into the

[2017-05-26 00:17] misaugstad commented on #608
In your image, it is not clear at what point the pano_changed event occurs. Also what is the difference between "Googel API Panorama" and "Pano ID"?

As for ignoring the undefined panoramas: we definitely can't outright do that; as you said, when there actually _isn't_ a panorama, we need to have that error message pop up and move them to a new location. The easy way out could be to implement a so

[2017-05-26 14:41] sagec108 commented on #608
The "Google API Panorama" line being printed is for calling the function getPanorama, making sure for each Pano ID received the code successfully queries panorama information from the Google API.

The pano_changed event itself occurs before each "Pano ID: ..." print. So, the order goes
1. Event
2. getPano() which gets the Pano ID, where I print only the ID
3. getPanorama(....), where I print ID an

[2017-05-26 18:58] misaugstad opened #612 "Little person on mini map disappears"
Seen below. I was just going about my auditing business, and at some point the little person on the mini map disappeared. Nothing out of the ordinary seemed to happen and I haven't been able to reproduce it. But I am just noting that it has happened. Has anyone else seen this happening?

![no_little_person](https://cloud.githubusercontent.com/assets/6518824/26508536/1bf81308-4223-11e7-935e-24df0d3

[2017-05-26 19:00] misaugstad commented on #612
being addressed in #335

[2017-05-26 19:00] #612 closed

[2017-05-26 19:26] jonfroehlich commented on #612
Indeed. This is the most common problem reported in Sidewalk (besides, perhaps, labels disappearing in the GSV view after taking a step--which is by design since we can't accurately place labels in 3D from different viewpoints).

However, I do appreciate you auditing and using the system. The entire Sidewalk team needs to consistently use the system to ensure that things don't break (paging @manas

[2017-05-26 19:28] jonfroehlich commented on #304
@sagec108: can you please support ctrl-a in the description box (to select all text). This should be an easy task for you. Let me know if you don't understand the request.

[2017-05-26 19:29] sagec108 commented on #304
I will look into it after I fix the admin playback page. Thanks!

[2017-05-26 19:33] jonfroehlich commented on #608
Who is currently working on this problem? It seems like it should be elevated to @manaswis if it is, indeed, a far more common occurrence than it was. Please update the status.

I'm fine with @sagec108 continuing to lead this with oversight from @manaswis; however, I want to see more information on the problem: how often is it occurring? Is it reproducible? Do we have any ideas for how to solve it

[2017-05-26 19:45] sagec108 commented on #608
For now, I am the one currently working on this problem. I do not have a hard measure of how often it is occurring, though from my experience I can easily get at least 1 of these GSV errors in every 2 missions I try.

For ideas to solve it, I mentioned above that by ignoring the undefined pano ID given by Google's API, the missions will work smoothly. This does not affect when there actually is no

[2017-05-26 20:02] misaugstad opened #613 "Changing label only updates cursor in GSV after movement"
[video](https://www.youtube.com/watch?v=6tOrmMRTGmg&feature=youtu.be)

The video above shows what I mean, but here is a description in words: I select one type of label, say a curb ramp, by hitting "c". Then I switch to another type of label, say no sidewalk, by hitting "n", but the image that shows up as the cursor stays as the curb ramp label icon _until I move the mouse_.

This happens for any

[2017-05-26 20:24] jonfroehlich commented on #613
I've seen it a ton. And always meant to make a video to show it explicitly (though you can see it in my previously recorded videos if you look closely).

My guess is a mouse move causes a cursor refresh. Anyway to force this to occur?

Sent from my iPhone

[2017-05-26 20:50] jonfroehlich commented on #608
If it is truly occurring on 50% of the missions, then this is a very high priority problem.

Re: older idea. Yes, the idea here was to _silently_ move the user forward along the direction they clicked and check the pano ID at that location. If you the code encounters a streak of undefined IDs, we pop-up the message. Note, however, that @manaswis tried to do this and never solved the problem. Perha

[2017-05-26 20:54] jonfroehlich opened #614 "Panning Broken for Certain Browsers"
A user reported:

![image](https://cloud.githubusercontent.com/assets/1621749/26512240/af7d4ea8-4233-11e7-8023-c0e3e223914f.png)

This could be a previously described Issue using Safari (I think here https://github.com/ProjectSidewalk/SidewalkWebpage/issues/577).

@manaswis: do we log a user's web browser and other system information (device info, browser version, resolution, etc.) so that we can

[2017-05-27 20:36] manaswis commented on #614
Yes, we do have the web browser information associated with each task id. The table has the following information:
task id, browser name, browser version, browser width and height, screen width and height, OS, ip address

[2017-05-27 20:44] manaswis commented on #614
I checked this person's entry. He was using Safari. Also, to add, he was one of the undergrad applicants for the internship.

[2017-05-28 01:11] jonfroehlich commented on #614
Great. Thanks for both responses.

Sent from my iPhone

[2017-05-28 14:39] maddalihanumateja opened #615 "Need backend code to filter out users who don't seem to be auditing"
Context: Automated walker tests carried out on the production site created a large number of audits without labels. This interferes with the published stats (% of DC mapped and miles covered). Code to filter out the (related missions)/(at least ignore users identified for testing/bots in the stats) doesn't seem to exist (needs confirmation).

This would also come under quality control.
1. Detectin

[2017-05-28 15:08] jonfroehlich commented on #615
Thanks for the nice writeup.

1. To filter out potentially poor quality workers or missions would be a difficult task and worthy of PhD research. This is what Soheil was working on. I have some ideas on this I can share at our next meeting

2. We will likely want diff types of filtering/data cleaning for quality control, research purposes, to calculate public facing stats and admin dashboard. We c

[2017-05-29 19:52] manaswis commented on #608
I did some testing of my own. So the first step is to remove the code that shows that message when the pano id is not defined.
@sagec108 remove the else part of `(svl.streetViewService && panoId.length > 0)`  condition and retain the condition that you added `(typeof panoId === "undefined")`. I modified it to be `(typeof panoId === "undefined" || panoId.length == 0)`. Also, within that block add t

[2017-05-29 20:00] manaswis commented on #608
After you modify the code to not show the popup, this is what happens when move too fast (when the pano id is undefined):

![image](https://cloud.githubusercontent.com/assets/2873216/26560811/5880b684-4487-11e7-8ece-ea177ba5b830.png)

This warning is also shown on the console (haven't seen this before):
`.Offscreen-For-WebGL-0x7f960db07e00]RENDER WARNING: there is no texture bound to the unit 0`
!

[2017-05-29 20:09] manaswis commented on #608
To add, this is the calling flow when we press forward in quick succession:

![image](https://cloud.githubusercontent.com/assets/2873216/26560929/1c59f124-4488-11e7-8dbc-55f28ba40f12.png)

Pano Ids:
`YEZ8nXjSLbbBaL3i7cLFuw` is the pano id for the first step
`T1nT7bhUc3o2pNUl81ehpQ` is the pano id for the second step taken

To note:
1. "I am called" is the text that's printed when the forward key i

[2017-05-30 01:08] misaugstad commented on #608
I think it makes sense to complete a step forward before allowing another step to start. I also really think that it is notable that this is how google.com/maps works. I would think that enforcing synchronization could eliminate some really hard to debug errors that could come up over the life of a project. Maybe this is one of those times where it would be useful. (both to prevent errors stemming

[2017-05-30 01:20] jonfroehlich commented on #608
Thanks for investigating this further @manaswis. I agree with you both (@manaswis and @misaugstad) that we can follow the same paradigm as the actual GSV and prevent a step forward before the current step has completed.

I want to make sure I understand the problem, however, which seems to be twofold:
1. Sometimes there is no panoid at a location. This is the problem that @manaswis was previously

[2017-05-30 01:40] misaugstad opened #616 "Add link to FAQ next to tool, mention in tutorial"
For all those ambiguities and edge cases, we have started putting answers to how to deal with them in the FAQ for users, so it may be useful to point to the FAQ at the end of the tutorial, saying something like:

"If you encounter any less common situations that you are not sure how to label, check our FAQ"

And a link to it could be put to the left of the GSV. I don't like cluttering up the inter

[2017-05-30 01:42] misaugstad commented on #616
Oh, and maybe have the FAQ open in a new tab by default :)

[2017-05-30 01:49] misaugstad opened #617 "Adjust col widths in FAQ keyboard shortcuts table"
In the keyboard shortcut table in the FAQ, the column for the keys is too narrow, resulting in one of the label rating keys to get pushed to the next line (only at some zoom levels/browsers). The "what it does" column has a lot of extra width, so some width could be taken from there without a problem.

![sidewalk-shortcuts1](https://cloud.githubusercontent.com/assets/6518824/26565322/1f437f10-44b8

[2017-05-30 01:50] jonfroehlich opened #618 "When I Place a Label, Rating Scale Stuck at '2'"
Rating scale is stuck at '2' and I can't click on other radio buttons to switch it. The '2' is selected by default when the pop-up menu displays.

![image](https://cloud.githubusercontent.com/assets/1621749/26565378/adcb4b5a-44b8-11e7-809b-a21ea13cc9df.png)

From Console:

[code]

[2017-05-30 01:53] misaugstad commented on #413
I totally agree with this. As someone who is super susceptible to gamification, this is the number 1 thing I want. Every time do a mission or two, I go to the demo page to see that the neighbourhood percentage has gone up a bit!

[2017-05-30 02:00] misaugstad commented on #414
I agree, it does not really feel useful. One user suggest replacing labels per street with labels per mission. Still not sure that it would be all that useful, but I definitely prefer it to per street.

Also possibly a column for total and/or labels per mile? Who wants to do addition or division in their head? :)

[2017-05-30 02:09] misaugstad opened #619 "Highlight GSV arrow user should hit to follow route"
As per user feedback:
"Highlight the GSV arrow the user is supposed to select instead of looking to the bottom right corner of the interface"

I definitely like this idea. Would be really useful at intersections.

How hard would this be to implement, and how would we want to style it?

[2017-05-30 14:22] manaswis commented on #608
@jonfroehlich

The issue was that the pano id had no imagery or the location where the user wanted to move by double clicking didn't have imagery. We solved this by showing the pop-up message that moved the user to another location on clicking the OK button. We could try again to look into the solution of walking 2 - 3 steps. The new API version might have resolved the issue that I originally face

[2017-05-30 20:30] sagec108 opened #621 "GSV Error Continued: Quick navigation results in undefined pano IDs"
Referencing the investigation in #608, the team found that one cause of the frequent GSV error pop-up was navigating too quickly. In the discussion, @manaswis suggested separating this issue from the issue of frequent GSV Error pop-up errors.

One suggested solution for handling this bug is to limit the number of steps the user can take at a time (e.g cannot have more than 2 steps/sec) or to rephr

[2017-05-30 20:32] jonfroehlich commented on #608
Thanks @manaswis. Do we know how often #1 happens (with new API)?

[2017-05-30 20:35] jonfroehlich opened #622 "Admin Choropleth Completion Map"
For the admin page (and possibly for public facing part of webpage too), I'd like a choropleth map that is colored by % of neighborhood complete. Kind of like this:

![image](https://cloud.githubusercontent.com/assets/1621749/26603733/ee6381c6-4555-11e7-88f1-0c33e3f2dd2b.png)

[2017-05-30 20:48] manaswis commented on #608
To clarify: The new API version might make it easier to implement our solution of taking 2 - 3 steps where there isn't GSV available. So the issue in point 1 won't be affected by the new API, only the solution of taking step would. I updated the previous comment to reflect this.

[2017-05-30 20:50] manaswis commented on #622
Good idea!

[2017-05-30 23:56] misaugstad opened #623 "Shift-Z zooms-in when label menu open"
When the label/context menu is open (as in picture below), Shift-Z zooms *in* instead of out. When the menu is not open, it works as expected.

Was able to reproduce this on both Firefox and Chrome.

![sidewalk-label_menu](https://cloud.githubusercontent.com/assets/6518824/26609880/fe9fc204-4571-11e7-842e-277b2cadae0b.png)

[2017-05-31 00:08] misaugstad opened #624 "Tons of jumping (maybe) because neighborhood almost fully audited"
So I have been auditing Fairlawn for awhile now. When I started a few weeks ago the neighborhood was <50% audited. Over the weeks, the routes have become progressively less contiguous... To the point where I am auditing a mission right now where I have come across *many* situations like in the image below. I keep jumping to a new place, auditing a very short block, then having to jump to a new pla

[2017-05-31 00:19] misaugstad commented on #624
Okay that doesn't all that bad... And the 2nd half of the mission was more connected. Though I guess there are a couple more missions left, so it may become more fragmented.

![sidewalk-fragmented_missions](https://cloud.githubusercontent.com/assets/6518824/26610352/ff33ee22-4574-11e7-93aa-11ae79b51aa4.png)

[2017-05-31 02:23] jonfroehlich commented on #624
This is also discussed here (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/408#issue-188875358) and, likely, in other places.

Honestly, this just has to be a low priority for us. Algorithmically, I think there are interesting questions here on the best way to do this (it is, no doubt, NP-complete). No matter what solution, however, I think by the time a neighborhood is almost complete

[2017-05-31 02:27] jonfroehlich commented on #619
I think it's a good idea too.

There is a tension here with the GSV arrows as interactive widgets because sometimes clicking an arrow to move along the audit route does not work and other times, the audit route has no GSV arrow (the user must double click on the interface to move in the appropriate direction). This inconsistency is bad for usability and is one reason we haven't done more with them

[2017-05-31 02:59] jonfroehlich commented on #614
Panning is also broken in Microsoft Edge.

Error printed in console:
[code]

![image](https://cloud.githubusercontent.com/assets/1621749/26613988/97c7be5a-458b-11e7-8f59-c2389525c1d7.png)

[2017-05-31 14:26] jonfroehlich commented on #539
@tongning Could you update this issue with the current status since you worked on it? Then we will have @maddalihanumateja take over while you're on summer internship.

[2017-05-31 16:26] jonfroehlich commented on #548
Consolidating thread from https://github.com/ProjectSidewalk/SidewalkWebpage/pull/606

Message ideas:
1. You can press keys 1 through 5 to rate the location accessibility for each label you place.
2. You can also press keys 1 through 5 to rate the area accessibility while you label.
3. Please rate area accessibility for each label you place using keys 1 through 5.
4. Remember to rate issue severit

[2017-05-31 16:37] sagec108 commented on #548
My vote is for 5 (though if the "severity rating" phrase is understandable to users, I would vote for 11).

I do think the reminder could be clearer. I would prefer having the message pop-up when the context menu is visible. Highlighting the context menu may be also be a better solution than drawing arrows, as it does not get in the way of user interaction.

[2017-05-31 17:09] jonfroehlich commented on #548
I don't like 5 because I don't understand 'areas.' That's not what we are asking them to rate. We specifically want them to include a rating for each label that they provide.

[2017-05-31 17:19] sagec108 commented on #548
Oh, I see what you mean. In that case, I think 11 is better because it emphasizes providing ratings for each label.

[2017-06-01 19:22] jonfroehlich opened #626 "onError Happened: Website Down"
We must fix the admin interface immediately to either remove the offending components that contribute to the memory leak or fix them. My suggestion is the former to solve this quickly. We should *not* be able to crash the website by using the admin interface. This is incredibly frustrating.

![image](https://cloud.githubusercontent.com/assets/1621749/26696834/0c87abee-46de-11e7-9565-16bbb51e1787.p

[2017-06-01 19:24] jonfroehlich opened #627 "Do You Want To Explore "This Area""
Change message to include neighborhood name.

Something like "Do you want to find accessibility problems in "neighborhood name"?"

![image](https://cloud.githubusercontent.com/assets/1621749/26696911/64486260-46de-11e7-823c-33b3365c759b.png)

[2017-06-01 19:25] jonfroehlich commented on #626
Now I'm getting:

![image](https://cloud.githubusercontent.com/assets/1621749/26696983/975f49fc-46de-11e7-8062-58ee66ef577f.png)

[2017-06-01 20:20] jonfroehlich commented on #623
Assigning this to @sagec108 since he is on a roll in fixing small IxD issues.

[2017-06-01 20:21] jonfroehlich commented on #618
Maybe the website went down at this point and I'm just seeing the result of a crash?

[2017-06-01 20:22] jonfroehlich commented on #607
And actually, the landing page itself doesn't render correctly on a smartphone (at least on my iPhone5s).

[2017-06-02 14:36] misaugstad commented on #619
Hmm that's a good point. Ideally I would want to have the green/red line that is drawn on the mini map to be drawn in GSV as well. But that sounds a lot harder.

[2017-06-02 14:42] jonfroehlich commented on #619
We have long-discussed doing a more AR-like visualization in the GSV pane for directional navigation...but yes, harder.

[2017-06-02 14:46] misaugstad commented on #548
I like 11 > 8 > 10 > 9 > 7.

[2017-06-02 15:09] jonfroehlich commented on #548
@sagec108, let's go with 11 then! :)

[2017-06-02 15:21] sagec108 commented on #548
Sounds good, I updated the text in the alert message to number 11.

[2017-06-02 21:22] manaswis opened #628 "Add a pop-up survey screen asking for some demographics and some questions on the tool"
Exact questions still have to be worked out. This would be required for running the studies on MTurk as well as for volunteer data collection for the CHI2018 paper.

The pop-up could be shown at the beginning (for e.g., to get information on their reasons to select the task -- this is for turkers), and it could be shown at the end [for e.g., to get feedback about the ease of the tool (for all cont

[2017-06-02 21:39] manaswis commented on #528
@m-furman Which branch did you commit this code to?

[2017-06-03 06:01] tongning commented on #539
The scraping code I've been using along with instructions is available at https://github.com/tongning/sidewalk-panorama-tools. I haven't used it extensively after the API update however, so it will be important to monitor how many of the downloads fail and see if it behaves any differently for newer imagery.

[2017-06-05 13:35] manaswis commented on #286
Closing this issue as its no longer applicable due to the new jump implementation.

[2017-06-05 13:35] #286 closed

[2017-06-05 15:24] manaswis opened #633 "Stored panoramas and results of cropping experiments are missing!"
Needs to be located. It used to be in the folder - `/fs/jonf-sidewalk/Panoramas` on the sidewalk server. Possible cause could be that the folders got moved to some other location during the hypervisor update. TODO: Contact UMIACS to figure it out.

[2017-06-05 16:15] jonfroehlich commented on #391
I still don't understand how/why this is difficult to implement. @Soben713 never answered this question. @sagec108, since you've been working on fixing this, perhaps you can shed light on why this is difficult.

[2017-06-05 16:26] sagec108 commented on #391
@jonfroehlich I touched on the difficulty in pull request #634. To restate it here, there are existing players for handling videos (resembling video players like you see on YouTube). However, in our case, since we are getting image by image, we need to create one from scratch or find a library that can address getting the specific image at each time point. After looking around for a while, I was n

[2017-06-05 16:38] jonfroehlich commented on #391
You haven't convinced me that this is a hard problem. :) I don't think we *should* use an existing video player for this. This seems like going overboard for a relatively simple interactive widget.

Happy to talk to you in person (higher bandwidth) and you can then synthesize our discussion back to this github issue.

[2017-06-05 18:24] jonfroehlich commented on #528
Maybe it was never committed?

[2017-06-05 18:26] jonfroehlich commented on #539
This is also related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/633

[2017-06-05 21:08] manaswis commented on #528
Hmm, possible. I'll email her to know more about this.

[2017-06-05 21:31] manaswis commented on #622
Could be a potential intern task for the admin page? Maybe for Steven?

[2017-06-06 15:17] sagec108 commented on #614
So I believe I have fixed the panning issue in Microsoft Edge. I will need to check if my fix also applies to Safari once I set up the dev environment on Jon's Mac.

Besides that, I encountered several issues that need to be fixed on the Edge browser:

1. Cursor does not change to hand grabbing for panning
2. Cursor does not change to a label when labeling (still regular pointer instead of circula

[2017-06-06 15:19] jonfroehlich commented on #614
Woohoo! Awesome.

Can you create individual github issues for each of the other Edge problems you discovered (one Issue per problem please). I would like to prioritize FireFox and Safari over Edge, so please do emphasize those browsers (and we can loop back to Edge as necessary).

[2017-06-06 15:23] sagec108 commented on #623
To add to this, I noted in #614 that Edge has similar zoom out issues (zooming in when button says to zoom out, etc).

[2017-06-06 15:26] sagec108 opened #637 "Edge cursor while panning"
As noted in #614, the cursor is still the default pointer while panning in Microsoft Edge. It should be a hand cursor that "grabs" the screen while panning, as in Firefox and Chrome.

[2017-06-06 15:29] sagec108 opened #638 "Edge cursor while labeling"
As noted in #614, the mouse cursor is still the default pointer in Edge while labeling when it should be the circular symbol that represents the current label being placed.

![image](https://user-images.githubusercontent.com/20068009/26837400-554ba742-4aab-11e7-80df-f3bd29128136.png)

[2017-06-06 15:51] socccerdude commented on #414
Has there been any final decisions on this? Or should I play around with it and see what looks/feels better?

[2017-06-06 15:54] jonfroehlich commented on #414
I think switching it out to labels per mission would be better. It's a low priority.

Also, the daily contributions line graph (also viewable in the screenshot above), visualizes 'audits'--however, the end user has no notion of what this means. An 'audit' is completely opaque to them and is used in the backend for our own data structures and tracking. So, this should likely be missions.

[2017-06-06 17:06] manaswis commented on #633
Update: I logged into the server and checked the folder, the data is there. I see these folders
`scrapes  scrapes2  scrapes3  scrapes4  scrapes5  scrapes5.tar.gz  tohme`
@tongning can you confirm if anything is missing?

[2017-06-06 17:08] misaugstad commented on #342
I'll be taking this on so that we have some more informative graphs and metrics to look at to assess how the relaunch is going. Here is my current plan (looking for any feedback/suggestions):

Changes to current graphs:
- [ ] All graphs: move the axis titles outside the graph
- [ ] Coverage Rate per Neighbourhood % graph: order entries by coverage %, remove the x-axis labels since you can hover ov

[2017-06-06 17:49] jonfroehlich commented on #342
I skimmed this list and it seems reasonable on a first take. I also appreciated that you went through all open Issues looking for those that were admin dashboard related. Thanks for doing this.

One comment about "Coverage Rate per Neighbourhood % graph." I think you should actually do as suggested in https://github.com/ProjectSidewalk/SidewalkWebpage/issues/412.

Also, @misaugstad, can you go bac

[2017-06-06 18:38] misaugstad commented on #170
We have decided to go with giving the user the option to sort by either, see #412 and #342. Closing this, as this is part of a larger discussion going on in #342.

[2017-06-06 18:38] #170 closed

[2017-06-06 19:04] jonfroehlich commented on #633
Um, this is weird. Why did @tongning report that this data was missing?

@tongning, can you do as @manaswis suggested and confirm if anything is missing. Also, can you explain:
- the organization of the scrapes folder
- where you exported the crop experiments to and your results writeup for this

[2017-06-06 19:18] jonfroehlich opened #639 "Things Needed for Potential SMU Collaboration (and API Improvements in General)"
As discussed briefly yesterday, some folks at SMU would like to collaborate with us on Project Sidewalk. To help get them off the ground, they need:

- Access to the raw label data + metadata (e.g., severity ratings, label type, lat/long, x,y location in panorama, panoid, etc). Hopefully, this can be accessed through http://sidewalk.umiacs.umd.edu/developer. However, I just briefly looked at this

[2017-06-06 21:49] manaswis commented on #544
Mockup of the walk tutorial:

![image](https://user-images.githubusercontent.com/2873216/26853467-2146daae-4ae0-11e7-9a60-1bb27e6584e3.png)

Both this issue and #228 will be solved using this above procedure.

**NOTE:** The text of the instructions aren't part of the mockup. Just the steps.

[2017-06-06 22:17] manaswis commented on #437
# Mocks
In the mocks, the instruction text has a word in orange. That's the word I want feedback on. We have considered panned (personally don't prefer), dragged, looked, went and moved.

This is what I found for the word 'pan':
![image](https://user-images.githubusercontent.com/2873216/26854364-d9c79dfe-4ae3-11e7-9305-4275471f7353.png)

Source: Visual Thesaurus.

## **1**
![image](https://user-im

[2017-06-06 22:48] misaugstad commented on #437
For context, the current instruction before this says "Let's adjust the view to look at another corner of the intersection on the left. **Grab and drag the Street View image**."

When they pan the wrong way, why not just say
"Oops! Try dragging in the other direction" or
"Oops! Try dragging the other way" or
"Oops! Try dragging the opposite direction"

I'm not sure that we need to explicitly tell

[2017-06-06 22:49] misaugstad commented on #437
Also not sure how important it is that we use the words "Street View image" when we originally tell them to click and drag.

[2017-06-07 01:00] jonfroehlich commented on #437
What would we say instead?

[2017-06-07 01:01] jonfroehlich commented on #437
I like @misaugstad comment here https://github.com/ProjectSidewalk/SidewalkWebpage/issues/437#issuecomment-306639290. I think that makes sense. We immediately pop-up a message that says:

I also think having the arrow is still helpful, perhaps with overlaid text that says "Look this direction" or "Pan this way."

[2017-06-07 01:22] manaswis commented on #437
Updated mock:

![image](https://user-images.githubusercontent.com/2873216/26858231-07b6264e-4afe-11e7-8014-6216f9fa3682.png)

@misaugstad I think "Adjust the view" was used to train the users that the screen can be panned.

[2017-06-07 01:38] maddalihanumateja commented on #639
Just started trying out the scraping code. Since tongning mentioned an API update I'm also curious about the potential number of failed downloads. Right now, I think shipping a data dump of panoramas is a better idea in the case that we decide to move ahead with the collaboration.

[2017-06-07 01:43] jonfroehlich commented on #639
Ok, I think there are some concerns about running the scraping code on UMD domains as we wouldn't want them blocked. I believe @tongning was using AWS.

[2017-06-07 14:47] sagec108 commented on #593
I tried setting up the dev environment through Docker on Jon's Mac. I encountered an issue with the dockerfile, which I resolved by updating it to the most recent docker file for Postgres (while including the lines involving the sidewalk database dump). However, after I reached the "Listening for HTTP: ..." step I am unable to connect to the database because the "role sidewalk does not exist." Eve

[2017-06-07 16:32] sagec108 commented on #614
I finished setting up the dev environment on Jon's Mac. The fixes for panning on Edge that I implemented also seem to fix panning in Safari.

[2017-06-07 16:33] manaswis commented on #12
@jonfroehlich Shall we assign this to an intern this summer?

[2017-06-07 16:34] jonfroehlich commented on #12
Sure, should be super fast.

(a higher level question is about the redesign of this dashboard altogether but I think that's a low priority for CHI2018)

[2017-06-07 16:35] jonfroehlich commented on #614
Woohoo. Did you document the fix? What was it?

On Wed, Jun 7, 2017 at 12:32 PM, Sage Chen <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-07 16:45] manaswis commented on #541
Here is the sequence of screens for the new zoom feature implementation:

### 1: After labeling the first corner
![image](https://user-images.githubusercontent.com/2873216/26890056-48030246-4b7e-11e7-9265-4dbb0d384de0.png)

### 2: After the user clicks on the zoom-in button
![image](https://user-images.githubusercontent.com/2873216/26890075-5575528a-4b7e-11e7-90f6-7900c6026b58.png)

### 3: After l

[2017-06-07 17:07] sagec108 commented on #614
I'll document the fix in my pull request, but basically while calculating the change in mouse coordinates while panning, we failed to round a value with which we needed integers for (Firefox and Chrome rounded and Safari/Edge did not).

[2017-06-07 17:17] jonfroehlich commented on #614
OK, thanks.

On Wed, Jun 7, 2017 at 1:07 PM, Sage Chen <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-07 17:18] manaswis commented on #549
I have encountered this when issue #550 happens. @jetrax12 has submitted a PR on #550. Hopefully this will be resolved.

[2017-06-07 17:28] manaswis commented on #451
This looks like the error we saw when pano ID was not available. Closing this.

[2017-06-07 17:28] #451 closed

[2017-06-07 17:28] misaugstad commented on #288
Thanks for pointing this out @manaswis

1. Of course this is now either the "start mapping" or "login". How important is this metric to us right now?
2. This is included in the current admin interface.
3. I'm not sure we need a number that says what percentage of people finish one mission... I think this is mostly captured by histograms showing distance covered per user (split by registered and an

[2017-06-07 17:31] manaswis commented on #449
Since the landing page has been updated, this issue has become outdated.  Also, the issue mentioned in the next comment is captured in #638. Closing this.

[2017-06-07 17:31] #449 closed

[2017-06-07 17:44] jonfroehlich commented on #288
It is? Where. I use the admin interface all the time and I've never seen this (or understood the current analytics for this if it exists)

Why can't we have a histogram of number of missions completed complemented by descriptive stats like avg, median, mode, and SD of missions completed per person.

Also, I do think it would be useful to know:
- The total number users who click on 'start mapping'

[2017-06-07 17:57] misaugstad commented on #288
This is included in the current admin interface.
It is? Where. I use the admin interface all the time and I've never seen this (or understood the current analytics for this if it exists)

Directly above the "Onboarding Completion Time" graph, the bounce rate is shown:
![sidewalk-onboard](https://user-images.githubusercontent.com/6518824/26893217-b2927fd8-4b88-11e7-8dd9-f39308e0573e.png)

Whoops, t

[2017-06-07 18:00] jonfroehlich commented on #577
Here's an update on browser usage from Aug 1, 2016 to June 6, 2017:

![image](https://user-images.githubusercontent.com/1621749/26893450-6686ca8a-4b89-11e7-8671-37c530fcd1a9.png)

In plain text:
1. Chrome 72.78%
2. Safari 11.40%
3. FireFox 6.42%
4. Safari (in-app) 4.44% (I think this is likely webkit from within iOS apps)
5. IE 2.29%
6. Edge 1.3%

Pinging @sagec108 so he sees this.

[2017-06-07 18:02] jonfroehlich commented on #288
What's the x-axis on this graph? To me, this thing is not super legible.

Also, does this show how long it takes people to **complete** onboarding? If so, then it's not showing us information about people who drop out...

I now see the bounce rate stat--I seemed to have overlooked this before (poor UI :)). Is the bounce rate defined as the number of people who do not finish (so 26.6% who start the

[2017-06-07 18:16] maddalihanumateja commented on #541
Looks good to me.

[2017-06-07 18:19] misaugstad commented on #541
Looks good!

[2017-06-07 18:37] manaswis commented on #395
This is resolved in the issue #506 and PR #526. Closing this.

[2017-06-07 18:37] #395 closed

[2017-06-07 18:42] jonfroehlich commented on #541
I agree. We may feel differently once we use the interactive version. :)

[2017-06-07 21:56] manaswis commented on #541
Great! I have merged it to develop. Closing via PR #642.

[2017-06-07 21:56] #541 closed

[2017-06-07 22:53] manaswis commented on #618
Based on the errors, I believe that's the case. Should I close this?

[2017-06-08 13:59] sagec108 opened #646 "Browser and OS version data collection"
While stress testing the website on different browsers, I realized that to better understand the issues or bugs that appear for users, we should collect information about the user's browser and OS versions. Some bugs may only appear to users using older versions. For example, when a user reports a bug, we should log this information with the rest of the information already stored (e.g. the bug rep

[2017-06-08 14:14] jonfroehlich commented on #618
OK, closing. We can reopen if we see again.

[2017-06-08 14:14] #618 closed

[2017-06-08 14:48] jonfroehlich commented on #544
I think this is good; however, we need to discuss the 'Discuss' part and I also don't fully understand how the first pane fits in with the previous part of the tutorial (i.e., what was the user just doing before they see that arrow?).

Also, what are we using to motivate the need to walk? We should discuss these things in my office.

[2017-06-08 14:56] socccerdude commented on #12
Here is what I have so far with it:

![screen shot 2017-06-08 at 10 54 40 am](https://user-images.githubusercontent.com/25187819/26935050-f3801856-4c38-11e7-8a99-b585f04d643f.png)

Should I go ahead and remove the Attribute Type Table if we are adding this feature?

[2017-06-08 15:00] socccerdude commented on #12
Here is an update without the table, I can add it back if you want.

![screen shot 2017-06-08 at 10 59 26 am](https://user-images.githubusercontent.com/25187819/26935321-9bbe3a66-4c39-11e7-8195-fa509a7ee99c.png)

[2017-06-08 15:05] jonfroehlich commented on #12
Let's keep the attribute table for now. I agree that it's redundant with this new feature but I want to discuss as a team. Perhaps the next Sidewalk meeting.

[2017-06-08 15:16] socccerdude commented on #12
So I can go ahead and commit this, however HTML doesn't let you use the same id more than once on a page. So if I display the numbers in the legend, the below Attribute table will not have any numbers, as such:

![screen shot 2017-06-08 at 11 16 10 am](https://user-images.githubusercontent.com/25187819/26936186-e8229904-4c3b-11e7-8abd-36a13357efc1.png)

[2017-06-08 15:21] jonfroehlich commented on #12
I'm sure you can solve that problem.

On Thu, Jun 8, 2017 at 11:16 AM, Chirag Shankar <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-08 15:33] manaswis commented on #646
We do have a table (`audit_task_environment`) that tracks the browser and OS data. However, it is tracked for an `audit_task_id`. Not based on `user_id`. We have the comments table `audit_task_comment` (that tracks the feedback from the audit interface) has the `user_id` and the `street_edge_id` but not the `audit_task_id`. I think if this table has the `audit_task_id` then we can have the informa

[2017-06-08 15:36] manaswis commented on #544
Sure, let's discuss. Let me know when you are back to your office.

To answer your other questions:

The user marked the two-curb ramp corner and then the No Sidewalk before panning to the first pane.

[2017-06-08 15:45] jonfroehlich commented on #544
OK, then what's missing from the storyboard is telling the user *why* they need to walk. Anyway, we can discuss in person.

[2017-06-08 16:44] jonfroehlich commented on #639
For the [Access Features API](http://sidewalk.umiacs.umd.edu/developer#access-api-access-feature-row), perhaps we change this API to be by neighborhood rather than lat/long bounding box coordinates. @manaswis brought up an important point during our 1:1. If someone uses the API and requests a large lat/long bounding box, this query could crash our backend with an out-of-memory error (https://githu

[2017-06-08 17:13] socccerdude commented on #12
Fixed it:

![screen shot 2017-06-08 at 1 12 50 pm](https://user-images.githubusercontent.com/25187819/26941354-32e6787e-4c4c-11e7-95cd-02e72a4c24fa.png)

[2017-06-08 17:16] jonfroehlich commented on #12
Nice! Can you do a bit more white space in the legend table (+2px on left
and right margins).

On Thu, Jun 8, 2017 at 1:13 PM, Chirag Shankar <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-08 17:50] manaswis commented on #504
@socccerdude Assigned it to you. The implementation is not the challenge in this task. You need to create several designs (minimum 5) first as powerpoint mocks to demonstrate different ideas that you come up with on how best to do this. Understand the main problem here - "separating out accessibility problems from features". Thin vertical line is just one example of a solution. Explore other ideas

[2017-06-08 17:52] jonfroehlich commented on #504
You might even want to integrate the circular label icons in your design.

Jon

On Thu, Jun 8, 2017 at 1:50 PM, Manaswi Saha <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-08 20:20] jonfroehlich opened #648 "Consider Prompting 'Z' and 'Shift-Z'"
If the user clicks on zoom in/out buttons a few times, consider prompting them with a message about using the keyboard for this:

![image](https://user-images.githubusercontent.com/1621749/26948998-464cb094-4c66-11e7-9e2e-317c66bd6427.png)

@sagec108 could likely complete this quickly as he made a message recently to remind users to fill out severity.

[2017-06-08 20:45] chishankar commented on #12
@jonfroehlich I was playing around with it a little more. How about this:

<img width="1080" alt="screen shot 2017-06-08 at 4 44 28 pm" src="https://user-images.githubusercontent.com/25187819/26949909-d2752f80-4c69-11e7-8c74-52470172f83d.png">

[2017-06-08 21:26] jonfroehlich commented on #12
What's the difference?

Sent from my iPhone

[2017-06-08 21:43] manaswis commented on #496
Some examples:

![image](https://user-images.githubusercontent.com/2873216/26889154-2eb50db4-4b7b-11e7-8ebb-78d5da251c2b.png)

![image](https://user-images.githubusercontent.com/2873216/26952090-e8bada44-4c71-11e7-96af-d3c86ba38497.png)

[2017-06-08 22:05] manaswis commented on #270
I was auditing (locally) when I came across this intersection. I had some questions about labeling (and possible confusions for users while they label), and some higher level thoughts.

Consider this image:

![image](https://user-images.githubusercontent.com/2873216/26952323-fe61c302-4c72-11e7-900f-51655d13dc5d.png)

Pano ID: 909LVbmRduIV6gqMEDKvpg

@jonfroehlich  Based what you said, here, we sho

[2017-06-08 22:13] manaswis commented on #270
Another example:

![image](https://user-images.githubusercontent.com/2873216/26952991-e8f293fe-4c75-11e7-9652-f7b31a7a8c17.png)

Should there (left side of the image) be a sidewalk there? There is a sidewalk on the right.

[2017-06-09 00:13] maddalihanumateja commented on #453
Addressed by (now closed) pull request #645

[2017-06-09 00:15] maddalihanumateja commented on #542
Addressed by Pull request #649

[2017-06-09 00:23] jonfroehlich commented on #453
@manaswis was this merged with master and tested? I thought we don't close Issues until after that point.

[2017-06-09 00:26] jonfroehlich commented on #270
@manaswis: can you move https://github.com/ProjectSidewalk/SidewalkWebpage/issues/270#issuecomment-307241917 to a different thread. It requires a different discussion than curb ramps.

[2017-06-09 00:34] jonfroehlich commented on #270
I do not think there is a correct answer here; however, this is how I would label the scene:

![image](https://user-images.githubusercontent.com/1621749/26956054-2361d64a-4c89-11e7-83e6-d073ce6c31fc.png)

The missing curb ramp is necessary because a wheelchair user (or other pedestrian) has a right to get off of the sidewalk and into the street if they want. Indeed, in this case, it looks like if

[2017-06-09 00:52] chishankar commented on #12
I added a features that I thought would increase its functionality. A hover mouse feature that highlights the row while the mouse is over it. I also changed the heading and add some more padding to make it even on both sides. Here is an example of the current legend:

![screen shot 2017-06-08 at 8 51 49 pm](https://user-images.githubusercontent.com/25187819/26956510-57e64d58-4c8c-11e7-815f-e763fba

[2017-06-09 01:14] maddalihanumateja commented on #453
My mistake. I closed the issue because it was working on develop. I don't think its been merged with master

[2017-06-09 01:18] jonfroehlich commented on #453
Please talk to @manaswis about our pull request, merge, and issue closing protocol. I believe it's also written down in documentation.

[2017-06-09 01:20] jonfroehlich commented on #12
Do you filter the map automatically on the highlighted row?

On Thu, Jun 8, 2017 at 8:52 PM, Chirag Shankar <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2017-06-09 03:05] tongning commented on #633
Ah, I think I see what happened. The sidewalk server is configured to not allow directory listings under `/fs`, so if you run `ls` there, the folder will seem empty. The files only appear if you go directly to `/fs/jonf-sidewalk`. Sorry for the false alarm.

![sidewalk-ls](https://user-images.githubusercontent.com/7234278/26958819-9452e48c-4c81-11e7-8522-33affafc2a34.PNG)

Anyway, all the files ap