[2015-07-25 02:04] kotarohara opened #1 "Redirect to previous page after log in"
When I fail to log in, it takes me to separate log in page. When I log in, it either takes me back to the top page (even I was in auditing page) or spits out an error saying they cannot find a page..

Follow the following suggestion to fix the problem:
http://stackoverflow.com/questions/14523468/redirecting-to-previous-page-after-login-php

[2016-02-24 18:07] kotarohara commented on #1
Fixed this a while ago.

[2016-02-24 18:07] #1 closed

[2016-02-24 18:13] kotarohara opened #5 "Need a "turn around and get back on track" feature"
We should instruct a user to turn around and when they are getting off the track.

![turnaround](https://cloud.githubusercontent.com/assets/612263/13295771/64b4c106-daf8-11e5-968f-a7cc53a6433d.png)

[2016-02-24 18:17] kotarohara opened #6 "Create an onboarding"
We need to create an onboarding tutorial to instruct how to use the interface.

[2016-02-24 18:20] kotarohara opened #7 "Make the video for the top page"
Make the top page video that shows the screen recording of a user using the labeling interface.

[2016-02-24 18:23] kotarohara opened #8 "Filter out streets where Street View images are not available"
We need a way to filter out streets so they are not assigned to users.

[2016-02-24 18:28] kotarohara opened #9 "Auto-complete for the textbox in the context menu"
Jon's feedback: "I think each problem category should have their own auto-complete data storage. Also, you could do a smart widget here that is both a pulldown menu of previous things I’ve typed as well as auto-complete textbox"

[2016-02-24 18:32] kotarohara opened #10 "Conflicting images"
Jon's feedback: There are conflicts between multiple images that capture same location; one image has accessibility problem but another don't (e.g., problem like lack of curb ramps being fixed). What should users do for this.

[2016-02-24 18:38] kotarohara opened #11 "Streets incorrectly labeled as audited (segments colored green) on Google Maps"
Some streets appear to be audited on the Google Maps pane (i.e., the segments are colored green) even though a user has not actually audited.
![greenunauditedstreets](https://cloud.githubusercontent.com/assets/612263/13296517/ed59acc6-dafb-11e5-9c14-5d89d47fb273.png)

[2016-02-24 18:40] kotarohara opened #12 "The label legend in the map in the user profile page"
Jon's feedback: I like this legend but why not have N counts in the legend rather than separated in the table (harder to read). For the audited street, you could also have the distanced walked here too.

![legend](https://cloud.githubusercontent.com/assets/612263/13296565/29701e8e-dafc-11e5-9b5d-b1815deadc7c.png)

[2016-02-24 18:41] kotarohara opened #13 "Colors of the "Achievement" icons"
Jon's feedback: The color in these icons are distracting. Can you reduce brightness and/or saturation a bit. I also worry about the overall design language in your design. These icons don’t seem to fit the general iconic aesthetic that you developed.

[2016-02-24 18:42] kotarohara opened #14 ""Achievements" alignment"
![align](https://cloud.githubusercontent.com/assets/612263/13296626/73c4054a-dafc-11e5-80a8-807de5b84f4e.png)

[2016-02-24 18:44] kotarohara opened #15 "Context menu design enhancement"
Jon's feedback
1. Do we need this checkbox? If so, I think we need to redesign this pop-up UI… it has three parts: rating, temporary problem checkbox, and textfield. The layout/organization feels weird. I don’t like the aesthetic.
2. I like the consistency of having the pop-up interface come up for every label type but I think ‘passable’ feels weird for the curb ramp category —instead, maybe the f

[2016-02-24 18:46] kotarohara opened #16 "The design of the 5 point scale radio button in the context menu"
I think it would be helpful to have pop-up infotips for each of the these 1 through 5. Perhaps these infotips could be customized for each label type.
![radio](https://cloud.githubusercontent.com/assets/612263/13296729/f1a45f00-dafc-11e5-8dbc-c563ed64965f.png)

[2016-02-24 18:47] kotarohara opened #17 "Duplicate labels from multiple angles"
Am I supposed to label the same thing multiple times but from different viewpoints? My compulsion is to label it… but I’m not so sure. I guess we deal with this issue via good training/onboarding.

![duplicate](https://cloud.githubusercontent.com/assets/612263/13296755/14773e6c-dafd-11e5-91cd-c8b7fb214333.png)

[2016-02-24 18:48] kotarohara commented on #17
We should allow either way. The question is which one we should recommend the users to do in the onboarding. We are leaning towards asking them to label from one angle for the overall speed.

[2016-02-24 18:50] kotarohara opened #18 "Color of the current mission status bar"
Ack, so many different colors on this website. We need a consistent, well-defined color palate. This green is weird! I don’t like it

![color](https://cloud.githubusercontent.com/assets/612263/13296832/69a476a2-dafd-11e5-8fd4-40ba1521f2be.png)

[2016-02-24 18:51] kotarohara opened #19 "Overly boisterous "yay" sound effect"
Jon's comment: The ‘yay’ sound effect at end is overly boisterous and a bit annoying. I think we should save such a HUGE celebration to completing like 10 missions or something.

[2016-02-24 18:52] kotarohara opened #20 "Feedback after completing a mission"
Jon's comment: After finishing the mission, I again, feel like we don’t do enough to tell the person what to do next. I still think some animation telling the person where to turn would be useful and then some info on their next mission (something like “now help us assess 7th street!”)

[2016-02-24 18:52] kotarohara opened #21 "Retaining overall label counts on the labeling interface"
Jon's feedback: Interface should retain something about our overall labels in addition to just current mission.

[2016-02-24 18:54] kotarohara opened #22 ""Can't really see" checkbox in the context menu"
Maybe in addition to Temporary Problem checkbox, we also have ‘Can’t really see’ checkbox or something…?

![angle](https://cloud.githubusercontent.com/assets/612263/13296971/092c4204-dafe-11e5-8dc5-471ce6bcbb6e.png)

[2016-02-24 18:54] kotarohara commented on #22
I don't think it's necessary. I'll close the issue.

[2016-02-24 18:54] #22 closed

[2016-02-24 18:56] kotarohara opened #23 "Street View links not available"
Jon's feedback: Interface is telling me to go straight here but GSV doesn’t allow me to do that… as a user, not sure what to do… should we prevent people from going in wrong directions (I think yes, I know you told me that you want people to get alternative perspectives to avoid occlusion… but I think most won’t actually do this)

![walkingdirection](https://cloud.githubusercontent.com/assets/6122

[2016-02-24 18:58] kotarohara opened #24 "Short mission"
I just walked two steps in this mission and then it was completed… seems strangely short…

![shortmission](https://cloud.githubusercontent.com/assets/612263/13297112/a8bf4636-dafe-11e5-916b-a5de8e81dea1.png)

[2016-02-24 18:59] kotarohara commented on #24
This issue is related to #19. I'll bulk a couple of streets and make one mission longer.

[2016-02-24 19:01] kotarohara opened #25 "Should a user inspect both sides of road?"
Jon's comment: As I am auditing this road, I am starting to get confused—am I supposed to try and audit both sidewalks (on both sides of road) or just one… I’ve largely been focusing on the sidewalk closer to me (and I’d imagine most will do this too). How should we deal with this?

![labelingbothsides](https://cloud.githubusercontent.com/assets/612263/13297167/f9c60ff6-dafe-11e5-8123-9ea58f1693c4

[2016-02-24 19:01] kotarohara commented on #25
They should label as much as possible.

[2016-02-24 19:03] kotarohara opened #26 "No link available"
Jon's comment: Hmm, actually, I can’t go the way the interface wants me to go… In these cases, we should not penalize someone for jumping. They should get credit for everything they labeled up to hitting jump. I’m gonna jump now 

![nolink](https://cloud.githubusercontent.com/assets/612263/13297238/50febe58-daff-11e5-9048-175a8778caa4.png)

[2016-02-24 19:06] kotarohara commented on #26
Duplicate of #23 . As a user can double click to walk now, the problem is fixed. The new problem is whether people will know they can double click to walk towards the unlinked Street View location.

[2016-02-24 19:07] kotarohara opened #27 "We need more options for "Jump""
Jon's comment: Actually, neither of these options apply. We need a third option: “I cannot go the direction that you want me to walk…” (or something like that) Perhaps we also add in a write-in blank here…. So a 4th option

![jumpoptions](https://cloud.githubusercontent.com/assets/612263/13297356/f3cfe8fa-daff-11e5-89fa-16d4517023cb.png)

[2016-02-24 19:09] kotarohara opened #28 "Current Mission completion bar does not get refreshed"
Jon's comment: Right after hitting jump, I was brought here but my mission bar says 100% complete (the 1 surface problem was retained from the label I applied before jumping—which I think is good)

![missioncompletionbar](https://cloud.githubusercontent.com/assets/612263/13297379/1311ded0-db00-11e5-8538-061564669e21.png)

[2016-02-24 19:11] kotarohara commented on #28
This issue may become obsolete as I will change the behavior of the Current Mission completion bar after bulking multiple streets. I still need to look into why it's happening.

[2016-02-24 19:13] kotarohara opened #29 "Keyboard binding for selecting the problem severity in the context menu"
Jon's comment: I like being able to use the keyboard to select my label type but I want to be able to use my number keys to select 1,2,3,4,5, etc.

[2016-02-24 19:15] kotarohara opened #30 "Description in the Feedback window should be updated"
Jon's comment: I think the feedback box should be about anything not just the streets/sidewalks at the current location.

![feedback](https://cloud.githubusercontent.com/assets/612263/13297567/f7242718-db00-11e5-9319-b92ec2ad7599.png)

[2016-02-24 19:17] kotarohara opened #31 "An idea for motivating users to retain in the system"
In terms of motivation… I like the idea of clearing a neighborhood. So, can your routing algorithm like make it so that I walk throughout this whole neighborhood and audit it before going to another neighborhood? Then we could track the number of neighborhoods audited as well.

![usermotivation](https://cloud.githubusercontent.com/assets/612263/13297616/32459d5e-db01-11e5-99e4-366011f54b8c.png)

[2016-02-24 19:18] kotarohara commented on #31
Though this is labeled as an enhancement, I might implement it as it is related to #20 .

[2016-02-24 19:20] kotarohara commented on #31
I actually added the medium priority to this.

[2016-02-24 19:35] kotarohara opened #32 "Design of the top page"
Matt's comment: First page, looks nice but I don’t really know what the little indicators under the map mean… is this map supposed to be interactive? Okay, sometimes it is… when I hover over the right spots, but it doesn’t do anything which is something I sort of expected. The description, or call to action, leaves me asking what accessibility problems? And, what am I actually getting involved wit

[2016-02-24 19:36] kotarohara commented on #32
I'll come back to the design of the top page when I'm done with fixing the issues for the labeling interface.

[2016-02-24 19:38] kotarohara opened #33 "Having default Achievements feels weird."
Matt's comment: Why do I have two achievements already?

[2016-02-24 19:38] kotarohara commented on #33
Good point. I may change the term "Achievements" if that helps.

[2016-02-24 19:39] kotarohara opened #34 "The context menu for rating curb ramps"
Matt's comment:  I found a curb ramp and put a label on it… it asked me to rate it and I gave it a 1 because it is a perfect curb ramp… but it also asked for the type of problem… I didn’t enter anything in the field… am I only supposed to indicate issues?

[2016-02-24 19:40] kotarohara commented on #34
Got rid of the context menu for the curb ramp. I think it's weird to have it.

[2016-02-24 19:40] #34 closed

[2016-02-24 19:40] kotarohara commented on #15
Matt's comment: In the curb ramp popup box for problems you provide some in the description but in the missing curb ramp you don’t.

[2016-02-24 19:42] kotarohara commented on #20
Matt's comment:  You use this “Current Mission” progress bar and your tracking my labels… but I really don’t know what my mission is and it’s a bit confusing… when you drop people into a scene you should do some kind of overlay that darkens the screen and then put up the mission… I can think of some awesome ways to gamify this…

[2016-02-24 19:42] kotarohara opened #35 "Modal window design enhancement"
Matt's comment:  I think the popup boxes need an explicit close button… it’s confusing without it and then somehow I accidentally deleted the label I just created… not sure why that happened.

[2016-02-24 19:43] kotarohara commented on #35
I realized Matt's talking about the context menu. So closing this issue and moving the comment appropriately.

[2016-02-24 19:43] #35 closed

[2016-02-24 19:44] kotarohara commented on #15
Matt's comment: Matt's comment: I think the popup boxes need an explicit close button… it’s confusing without it and then somehow I accidentally deleted the label I just created… not sure why that happened.

[2016-02-24 19:44] kotarohara commented on #28
Matt's comment:  I moved again and the Current Mission meter went to 100%... there should be some fanfare or something! I just completed the mission! I think there is a lot of opportunity to provide feedback to “players” that maybe isn’t implemented yet.

[2016-02-24 19:46] kotarohara opened #36 "Should a user label less severe problems?"
Matt's comment: I’ve found some “surface problems” like a manhole and an obstacle like a tree branch (temporary)… but I am not really sure if this is exactly what you’re looking for… I just *think* it’s what you’re looking for but I don’t think you could trust an inexperienced user to know this.

[2016-02-24 20:09] kotarohara opened #37 "Labels not saved (bug?)"
Matt's comment: When I go back to my dashboard… it doesn’t look like all my labels got saved (shows 1 surface problem, but I labeled at least 2).

[2016-02-24 20:10] kotarohara commented on #37
Not sure if this is a bug, but I'll see what's going on.

[2016-02-24 20:23] kotarohara opened #38 "The app automatically jumps multiple times when the user finishes an audit"
The app automatically sent me to audit a different street before I completed the task. This happens multiple times in a row.

[2016-02-24 20:41] kotarohara commented on #19
We discussed this and we could use more subtle sound effects for minor accomplishments.

[2016-03-24 21:12] kotarohara opened #39 "Have example pictures of accessibility attributes"
We should provide a user example pictures of each accessibility feature somewhere on the labeling interface.

[2016-03-28 14:46] kotarohara opened #40 "Enhancements to the status pane"
Jon's comment:

- I think we should try to fit in there is a zoomed-out view of the map that shows the current neighborhood i'm in and shows the labels being added as i audit. I'm always curious what part of dc i'm in when i audit--i think it would be fun to know!
- It would be nice to provide a real-time distance tracker for how far you've audited in the current session (i.e., since you logged in

[2016-03-28 14:46] kotarohara commented on #40
It would be nice to provide a real-time distance tracker for how far you've audited in the current session (i.e., since you logged in).

[2016-03-28 14:49] kotarohara opened #41 "The mission completion message says I completed my first mission but mission status bar is only at 70%."
![image](https://cloud.githubusercontent.com/assets/612263/14080376/add34148-f4d2-11e5-8ff5-f985154a52c5.png)

[2016-03-28 14:50] kotarohara opened #42 "The cursor for panning Street View"
When the mouse cursor is in the Street View pane while in the Walk mode, the cursor should be a hand icon instead of an arrow icon.

[2016-04-06 16:50] kotarohara opened #43 "User is transported to new Street View location after logging in"
When a user logs into the system, it refreshes the browser and it sends them to a different location in Google Street View. This (i) throws away the accessibility data that was collected but not yet submitted to the server and (ii) throws the user off from the context because the Street View scene changes.

One potential solution is to store the current data in the Storage.js as a cache when log i

[2016-04-06 16:52] kotarohara opened #44 "Collected accessibility data should be uploaded more frequently"
We should upload the collected accessibility data more frequently. Currently, we send the data when (i) a user reaches the end of the current street segment s/he is auditing or (ii) after after walking long distance. This prevents us from collecting data from users who uses the system for a very short amount of time.

[2016-04-08 18:17] kotarohara commented on #19
Done

[2016-04-08 18:17] #19 closed

[2016-04-08 18:18] kotarohara commented on #18
Assigned to Daniil.

[2016-04-08 18:19] kotarohara commented on #17
I finished making the onboarding. There I recommend not to label the same attribute from multiple angles.

[2016-04-08 18:20] #17 closed

[2016-04-08 18:20] #25 closed

[2016-04-08 18:22] kotarohara commented on #26
We now instruct people to double click to move around in the onboarding. I hope it helps. We also have a better navigation compass in the bottom-right corner of the Street View pane.

[2016-04-08 18:22] #26 closed

[2016-04-08 18:24] kotarohara commented on #6
Finished!

[2016-04-08 18:24] #6 closed

[2016-04-08 18:25] kotarohara commented on #10
They should label whatever they see in the Street View image. Not sure if this is really a problem, so I'll close the issue for now.

[2016-04-08 18:25] #10 closed

[2016-04-08 18:27] kotarohara commented on #14
Not sure if this is a problem. I'll close it for now.

[2016-04-08 18:27] #14 closed

[2016-04-08 18:34] kotarohara commented on #24
Addressed #19 . I'm closing this one too.

[2016-04-08 18:34] #24 closed

[2016-04-09 15:36] kotarohara commented on #29
Assigned to Daniil

[2016-04-09 15:37] #23 closed

[2016-04-09 21:50] nguyenist opened #45 "tutorial: double click -> click on the curb ramp to label it // not sure where curb ramp is"
![image](https://cloud.githubusercontent.com/assets/4484141/14406646/6bee6804-fe7b-11e5-86d6-63643b9ac0a9.png)

[2016-04-09 21:51] nguyenist opened #46 "double click button in ribbon menu to leave selection mode. right now you have to hit esc"

[2016-04-09 22:18] nguyenist commented on #42
seems to be working 4/9

[2016-04-09 22:19] nguyenist commented on #42
will check tutorial

[2016-04-11 15:46] kotarohara opened #47 "Remind the current mission when the user first logs in"
Every time the user logs in/refreshes the windows, we should remind them what the task and current mission are.

[2016-04-11 19:15] kotarohara commented on #47
Done

[2016-04-11 19:15] #47 closed

[2016-04-11 19:19] kotarohara commented on #45
It's not really a bug as in there is no error. But it it true that we need to better navigate the user if the arrow is not visible in the current point of view. Easy solution would be that we force the point-of-view to face the target curb ramp.

[2016-04-11 23:50] #41 closed

[2016-04-11 23:50] kotarohara commented on #11
This problem should have been fixed now.

[2016-04-11 23:50] #11 closed

[2016-04-11 23:51] kotarohara commented on #20
We now give feedback after each mission completion. We can polish the design of the feedback, but that's another issue.

[2016-04-11 23:51] #20 closed

[2016-04-11 23:51] kotarohara commented on #38
Should have been fixed.

[2016-04-11 23:51] #38 closed

[2016-04-11 23:52] kotarohara commented on #41
Fixed.

[2016-04-11 23:53] kotarohara commented on #28
I think this is no longer an issue. I'm closing it for now.

[2016-04-11 23:53] #28 closed

[2016-04-12 01:36] kotarohara opened #48 "Error submitting data after onboarding"
I get the following error when I submit data right after the onboarding. It seems like there is a problem only for onboarding submission:

[2016-04-12 20:25] mattm401 opened #49 "The purpose of the Access Score page is unclear"
The "Access Score" option is vague and unclear; it also appears that the legend isn't working.

![image](https://cloud.githubusercontent.com/assets/1121334/14474454/33d9ade6-00cb-11e6-8517-52701339d83f.png)

[2016-04-12 20:28] mattm401 opened #50 "Onboarding Font: Usage of Bolding"
![image](https://cloud.githubusercontent.com/assets/1121334/14474527/8e8a6e56-00cb-11e6-8991-f7fe60f37ed1.png)

The onboarding is excellent, but you should only use bold text to highlight the key bits in explanatory text.

[2016-04-12 20:34] mattm401 opened #51 "Onboarding: Explaining Click & Drag"
The second part of onboarding when you click and drag on the map.  It was very difficult to understand when I done something correctly.  You suggest with the "Hand Icon" to click and turn left... but the bottom right corner says "turn right", which is what I initially did and couldn't figure out why I was being directed to "move forward" or why I couldn't perform this action. I ended up going in a

[2016-04-12 20:38] mattm401 opened #52 "Onboarding "Mission Complete" Error"
After labeling the 3rd curp ramp and trying to move forward to get a better view of the "washed out" curb ramp, I received the following message:

![image](https://cloud.githubusercontent.com/assets/1121334/14474823/e9fd5324-00cc-11e6-89b8-eca5078bbb9a.png)

I believe this is what Jon was mentioning earlier.

[2016-04-12 20:38] mattm401 commented on #52
After clicking okay, it updated:

![image](https://cloud.githubusercontent.com/assets/1121334/14474857/01dd49b8-00cd-11e6-9a6e-42557809918c.png)

[2016-04-12 20:40] mattm401 commented on #52
Also note: this message needs to be updated as it doesn't read clearly.

[2016-04-12 20:54] mattm401 opened #53 "Rubrics for assessing the severity of the issues"
- It's still unclear how to score issues in the application (e.g., 1, 5); in the onboarding you actually suggest labeling something a "3" that I would assume is a "5".
- It isn't required to score an issue and I noticed that I was frequently forgetting to do this.

[2016-04-12 20:58] mattm401 opened #54 "Mission Complete % Never Seems to Update"
![image](https://cloud.githubusercontent.com/assets/1121334/14475360/9c4c7dd2-00cf-11e6-9db7-d7eb51c32721.png)

After walking around for 5 - 10 minutes, the current mission never completed. In this picture I walked down to a dead end road and had to turn around; I noticed the Current Mission meter when to 18% and then back down to 10%; this is both unclear and a bit disheartening to me as a user.

[2016-04-12 21:00] mattm401 commented on #54
Using Jump doesn't make this better... and though you ask me to select from a two options for using jump... it's unclear what this does with respect to mission completeness... in fact, I got dumped into an industrial area that was very different from the nice residential area I was in before.

[2016-04-12 21:01] mattm401 commented on #54
Oh god, I just noticed the little Green/Red line in the minimap...

[2016-04-12 21:03] mattm401 commented on #54
What are you suppose to do if you're in a residential area that isn't designed to be accessible? I mean... I can't possible mark this entire neighborhood as impassable... it would take forever.

![image](https://cloud.githubusercontent.com/assets/1121334/14475539/76abcc80-00d0-11e6-9c75-0cff9591c410.png)

[2016-04-12 21:04] mattm401 commented on #54
You're probably going to have to make going "off mission" a little more noticeable; I had no idea.

[2016-04-12 21:06] mattm401 opened #55 "Started Second Mission: 51% Completed"
![image](https://cloud.githubusercontent.com/assets/1121334/14475588/bb9d6966-00d0-11e6-938c-93fab3e6b3c3.png)

Got the mission notice to start the second mission (1000m), why did it jump to 1000m? Also, I started this second mission at 51%... unsure why? Maybe because I was aimlessly wandering before?

[2016-04-12 21:07] mattm401 commented on #55
I am also still in a neighborhood  that wasn't designed to be accessible... which is totally weird. I am not going to mark all this... I'd be here all day.

[2016-04-12 21:07] mattm401 commented on #55
![image](https://cloud.githubusercontent.com/assets/1121334/14475650/0c401fee-00d1-11e6-9be8-8ff862177d01.png)

It also appears like I broke this.

[2016-04-12 21:08] mattm401 commented on #55
Yea, this thing is totally busted... I am just walking in a circle?

[2016-04-12 21:09] mattm401 commented on #55
Finished... 2000m goal... starts at 40% complete... weird!

[2016-04-12 21:09] mattm401 commented on #55
And, I am repeating the same traverse as when I did the previous mission...

[2016-04-12 21:11] mattm401 commented on #55
So I clicked jump and got dropped to a random location and now I am walking around starting at 40%, following the path... I feel like this "path" system you have going on does not support free exploration. What if I don't want to follow your path!?

[2016-04-12 23:23] kotarohara commented on #54
Great points.

1. "Off mission": This is related to the issue #5 . It's on my todo list.
2. "What to do when there are no sidewalks at all". Yeah, good point. I'm not sure what we can do about it. The problem is that we don't know if we have sidewalks or not a priori. We can probably infer _afterwards_ that there are no sidewalks if people are not labeling anything and keep walking. But I guess it

[2016-04-12 23:26] kotarohara commented on #55
The mission starts at 51% because you have already walked 51% of distance (in the previous mission) that you are required to clear the mission. I know it's weird and I'm aware of this, but it's a rather low priority now...

[2016-04-12 23:31] kotarohara commented on #53
- I agree that we need some kind of rubrics for assessing the severity of the problems.
- The score is optional, so it's ok if you forget to provide that data. I kind of want to see if people provide that data.

[2016-04-12 23:36] kotarohara commented on #51
I fixed the bug where the message at the bottom-right does not get hidden. I hope it helps...

[2016-04-12 23:36] #51 closed

[2016-04-12 23:36] kotarohara commented on #50
Good point. I'll fix it when I get a chance.

[2016-04-12 23:38] kotarohara commented on #49
I agree that the Access Score is not really polished. Maybe I'll take it down for now...

[2016-04-12 23:42] kotarohara commented on #31
The "Mission & Badge" feature address this issue. Once you cover the entire neighborhood, you get the "100% coverage" badge for that neighborhood.

[2016-04-12 23:42] #31 closed

[2016-04-12 23:43] kotarohara commented on #39
This is related to #53

[2016-04-12 23:43] kotarohara commented on #53
This is related to #39

[2016-04-12 23:47] kotarohara commented on #8
I'm going to lower the priority of this as the issue is partially addressed on the client side: (i) if we drop a user on the street where we don't have Street View images, we drop them somewhere else; (ii) if a user hit the street where street without Street View while they are walking around, they can Jump to audit a different area.

I still want to filter out the streets where Street View images

[2016-04-12 23:50] kotarohara commented on #46
If your mouse cursor goes out of the canvas pane, it automatically brings you back to "walk" mode (when you are not doing onboarding). You'll go back to "walk" even before you get a chance to double click the ribbon button and it won't work... So I'll close this ticket for now.

[2016-04-12 23:50] #46 closed

[2016-04-13 02:41] nguyenist commented on #42
I may have figured it out.

in `Map.js` line 674:
Change
[code]
To
[code]

[2016-04-13 02:41] nguyenist commented on #42
@kotarohara does changing the default to OpenHand make undesired effects elsewhere? What is your intention for when the cursor should be a pointer vs. open hand?

[2016-04-13 03:13] nguyenist commented on #50
@kotarohara created a pull request for this: https://github.com/ProjectSidewalk/SidewalkWebpage/commit/8e73c54403954c21a36825dab1740041e237bd72

[2016-04-13 03:25] nguyenist commented on #52
@kotarohara @mattm401

Possible text edit: "Your next mission: Find accessibility points in this neighborhood for the next 500 meters."

I'm sure you already have a justification for this, but could you use miles? People (I can only speak for those who I conducted walking usability studies, most who grew up in the US) tend to understand feet or miles more than they do meters (unless they do sports

[2016-04-13 03:29] nguyenist commented on #32
@kotarohara label here is high priority. shall i work on this one next? i know you already have a ton of ideas. if so, let me know what you're thinking. if not, happy to provide a first pass at how to make the landing page better. my gut says remove the landing page and go directly into https://sidewalk.umiacs.umd.edu/audit

[2016-04-13 03:30] nguyenist commented on #27
@kotarohara I didn't even know this feature existed! How do you "jump"?

[2016-04-13 14:09] kotarohara commented on #27
Doesn't selecting the option and clicking ok takes you somewhere else?

[2016-04-13 14:12] nguyenist commented on #27
Oh I mean -- what do you click to get that window to pop up with the options in the first place? Is it the "explore" button?

[2016-04-13 14:16] kotarohara commented on #52
@nguyenist

- **Meters -> Feet/Miles:** Yes, I'm planning to change it to feet and miles!
- **Neighborhood names:** Good idea of including the neighborhood names. The problem is that the GIS data I downloaded from [OpenData DC](http://opendata.dc.gov/datasets/a0225495cda9411db0373a1db40a64d5_21) does not include the neighborhood names. So I currently have not way of showing that... Do you know whe

[2016-04-13 14:19] kotarohara commented on #42
@nguyenist Thanks for the update. The cursor icon should be OpenHand only if the mouse is on the Street View pane while you are in the walking mode.

[2016-04-13 14:23] kotarohara commented on #27
Ohhhhh! I see :) There is a button on the left. You see the "Jump" button under the "Sound" and above "Feedback"?

[2016-04-13 14:28] kotarohara commented on #32
@nguyenist Hmmm, I would like to have a landing page, which allows us to give more context to people visiting the site. I'll actually have design prototypes that I will go through with people in the lab, so let me handle this :)

[2016-04-13 14:35] nguyenist commented on #32
Sweet!

[2016-04-13 19:54] jonfroehlich opened #57 "Skip Button and Incorrect Message Text in Onboard Tutorial for Logged In Users"
When you're logged in, you don't get a chance to skip the onboard tutorial but the text still says that you can. See screenshot.

![image](https://cloud.githubusercontent.com/assets/1621749/14507277/d9fed934-018f-11e6-969d-79cce097fae7.png)

[2016-04-13 19:55] jonfroehlich commented on #52
I got this error too. First screen in onboard:

![image](https://cloud.githubusercontent.com/assets/1621749/14507328/1b25a2da-0190-11e6-8c25-7d1abceda208.png)

[2016-04-13 19:58] jonfroehlich opened #58 "If You Use Keyboard in Onboarding, Onboard Messages Do Not Advance"
If you use the keyboard to select label type, the onboard tutorial does not allow you to advance (probably because it's looking for mouse listener events or something). For example, in the screenshot below, I correctly placed a label like the tutorial told me to but it didn't realize that I actually did it via keyboard:

![image](https://cloud.githubusercontent.com/assets/1621749/14507408/7f5c8fa2

[2016-04-14 01:41] jonfroehlich opened #59 "Feature Request: Map Keyboard to More Label Types"
Can we map keyboard keys for "Can't See Sidewalk" and "No Sidewalk" like we do for "Curb Ramp" and other labels types.

Relatedly, it looks like we are not using 'right-click' for anything. Maybe right-click could drop the last used label type at the mouse cursor?

[2016-04-14 01:50] jonfroehlich opened #60 "Change Language on Mission Completed"
Current Language:
**Mission Complete!!!**
Good Job! You have successfully made 500 meters of this neighborhood accessible.

![image](https://cloud.githubusercontent.com/assets/1621749/14514674/de5e8a8e-01c0-11e6-9356-6f0388c12fda.png)

Suggested language for first mission completed in a neighborhood:
**Mission X Completed!** (where X=the overall number of completed missions)
Good Job! You just com

[2016-04-14 01:53] jonfroehlich opened #61 "Teleporting Automatically"
I was just on a street that ended in a deadend and suddenly I was transported to a brand new audit area. I think we need to give more feedback to the user about what's happening (before we transport them) or it's very disorienting. I fear that users will get confused or even frustrated (they may even think that they lost work).

[2016-04-14 01:59] jonfroehlich opened #62 "Google Map Avatar Guy Disappeared"
I was in the middle of auditing when suddenly my Google Map avatar guys disappeared. See screenshot:

![image](https://cloud.githubusercontent.com/assets/1621749/14514904/e7c84efa-01c2-11e6-9da8-ff7f3e86ce7d.png)

[2016-04-14 02:02] jonfroehlich opened #63 "What To Do In Cases Of Conflicting Information Based on GSV Timeshot"
I just found an area that lacked a curb ramp but in next image it was there:

![image](https://cloud.githubusercontent.com/assets/1621749/14514956/63675fec-01c3-11e6-8a7f-b8f34c0a8aec.png)

![image](https://cloud.githubusercontent.com/assets/1621749/14514959/69387f14-01c3-11e6-8315-fc6f7c828f40.png)

[2016-04-14 02:09] jonfroehlich opened #64 "Strange Jump Based on GSV Car Side of Street"
Sometimes when you are walking on a large multi-lane street, the view will jump from one side of the street to the other... probably because of how the GSV car drove through those streets and how Google stitched together the data. I imagine this jumpiness could be a bit confusing to the user.

The following is an example of just one step forward, which jumps me to the other side of the round (thou

[2016-04-14 02:12] jonfroehlich opened #65 "Weird Route Bug: Routed Up and Down Same Street"
I basically was routed up and down the same street (sorry, my little avatar guy is not visible):

![image](https://cloud.githubusercontent.com/assets/1621749/14515138/c9b14c4e-01c4-11e6-8e72-63cdc3d378aa.png)

It looks like this happened because of the median, so I was directed down both sides of the road. Not a bad thing, but again, could be confusing.

[2016-04-14 02:21] jonfroehlich opened #66 "5000 Meters Is Too Long for Mission Length"
I just finished a 5,000 meter mission and I almost dropped out a few times. It was way too long unfortunately and I was desperately wanting the mission to end (the current mission status bar is broken and the red path in the top-down GMaps view kept getting longer as soon as I reached its end).

So, I think 5,000 meters is too long. Perhaps the longest single audit length should be 2,500 meters wi

[2016-04-14 02:21] jonfroehlich commented on #50
I agree with Matt. I need to go over all the onboarding text and wordsmith it a bit for concision and to give feedback on bolding. Current bolding level is overwhelming.

[2016-04-14 19:01] jonfroehlich opened #67 "Stay Signed In"
I think Project Sidewalk should keep you signed in (or at least give you the option). This seems to be the way modern web apps work--not sure why ours is different. Every time I visit, I have to re-sign in.

![image](https://cloud.githubusercontent.com/assets/1621749/14540178/c06084ec-0251-11e6-9bf9-78bd26f7a884.png)

[2016-04-14 19:05] jonfroehlich opened #68 "Already Completed Onboarding Tutorial But Forcing Me To Retake It"
I completed the onboarding tutorial already.

On my Windows box at home, I don't have to complete the onboarding tutorial (this is the correct behavior) but when I try to use Project Sidewalk at work, it forces me to complete the onboarding tutorial again after I log in.

![image](https://cloud.githubusercontent.com/assets/1621749/14540298/4ebab302-0252-11e6-8504-da95575bb212.png)

[2016-04-14 19:07] jonfroehlich opened #69 "Mouse Cursor Icon Does Not Change to Hand On Pan in Tutorial"
This is on Windows 7 with Chrome.

As you can see, during the tutorial, the mouse cursor does not correctly switch to a hand (which makes the hand animation confusing).

![image](https://cloud.githubusercontent.com/assets/1621749/14540331/81bcf1ca-0252-11e6-81f7-f3b574896d1d.png)

[2016-04-14 19:11] jonfroehlich opened #70 "Change 'Map Accessibility' Menu Item Name To Something Else"
The 'Map Accessibility' top-level menu name is confusing. To me, the name makes me think that the menu item opens a map. We need to have a verb rather than a noun here.

Alternatives:
Begin Auditing
Audit DC
Start Auditing
Audit

I also suggest moving this menu item to the most left menu item (so switch with Access Score).

[2016-04-14 19:53] mattm401 commented on #67
I had the same thought.

[2016-04-14 23:01] kotarohara commented on #67
Should be done. It will be effective when I upload the update version next time. I think your session will be reset every time I push the new version though.

[2016-04-14 23:01] #67 closed

[2016-04-14 23:04] kotarohara commented on #70
I set it to Start Auditing. Also I hid the link to the Access Score as it is not polished yet at the moment ( #49 ). Should show up next time I upload the app.

[2016-04-14 23:04] #70 closed

[2016-04-14 23:06] kotarohara commented on #69
Duplicate of #42 .

[2016-04-14 23:11] kotarohara commented on #62
This is a bug in Google Maps and Street View APIs. I can't do anything about it.

[2016-04-14 23:11] #62 closed

[2016-04-14 23:12] jonfroehlich commented on #62
Maybe keep it open though so that we don't get duplicates?

Sent from my iPhone

[2016-04-14 23:13] kotarohara commented on #64
I'm aware of it and it but there isn't anything I can do about this as it's Street View API's behavior. I'm closing the issue.

[2016-04-14 23:13] #64 closed

[2016-04-14 23:17] jonfroehlich commented on #64
Maybe we create an FAQ page w lil movies or animated gifs of common problems or idiosyncrasies that we can't fix

Sent from my iPhone

[2016-04-14 23:26] kotarohara commented on #66
Ok. The distance between 2500 and 5000 should be 2500 (related issue #55 ). If you feel that's too long, I'll cap every mission with half-ish of it. Like 1000-1500 meter or 1 mile.

[2016-04-14 23:28] jonfroehlich commented on #66
Yah, it just felt exhausting. For some reason, when we break up the audit
into chunks, it doesn't feel that way. So, even if I do 5,000 meters but
broken up over multiple missions, it feels more sane/achievable and fun.

On Thu, Apr 14, 2016 at 7:26 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://w

[2016-04-14 23:31] kotarohara commented on #65
It happens because of the median. The street segment data (used to navigate a user) that I imported from OpenStreetMap has that kind of data.

[2016-04-14 23:32] jonfroehlich commented on #65
OK, fair enough. Perhaps this is also a candidate for our FAQ.

Jon

On Thu, Apr 14, 2016 at 7:31 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-04-14 23:34] kotarohara commented on #61
Ya. I'll try to work on that.

[2016-04-14 23:35] kotarohara commented on #58
That's right. It sounds like a right behavior for me. Keyboard shortcuts are for advanced users, so I don't intend to teach them in the onboarding.

[2016-04-14 23:37] kotarohara commented on #7
Made the first version. We need to iterate to make it better, but I'm closing it for now.

[2016-04-14 23:37] #7 closed

[2016-04-14 23:40] jonfroehlich commented on #58
Hmm, I disagree. It's confusing. You literally follow the directions perfectly (with the exception of not clicking on the button) and yet the onboarding tutorial does not advance.

Maybe just disable keyboard commands for the onboarding sequence then if you don't want to support it.

Also, for BusStop or perhaps for Tohme, we did train in users on keyboard commands.

[2016-04-14 23:48] #52 closed

[2016-04-14 23:48] kotarohara commented on #52
Should be fixed. I'll uploaded the new version tonight.

[2016-04-15 01:07] #68 closed

[2016-04-15 01:08] kotarohara commented on #68
Should be fixed.

[2016-04-15 01:50] #54 closed

[2016-04-15 01:52] kotarohara commented on #54
I made it so the app checks if the user is en route. If they are off by 50 meters (160 ft), the bottom-right message blinks.

![image](https://cloud.githubusercontent.com/assets/612263/14549122/faa71ce0-028a-11e6-8d3f-d95450c4b908.png)

[2016-04-15 01:53] kotarohara commented on #5
Updated. See #54 . I will close this for now.

[2016-04-15 01:53] #5 closed

[2016-04-15 01:54] kotarohara commented on #48
Fixed

[2016-04-15 01:54] #48 closed

[2016-04-15 01:59] jonfroehlich commented on #54
We actually have two different points in here. I think Matt should try and list only one point at a time in the Issue tracker.

Re: your fix to the off-mission problem. I think we might even want a pop-up dialog if they get far off track with a button that teleports them back to the most recent location on the mission track.

Re: Matt's other point, my feeling is that the user should label both si

[2016-04-15 02:01] #57 closed

[2016-04-15 02:01] jonfroehlich opened #71 "Uploading Data After Every Step"
My feeling is that we should either:
- upload data after every step
- upload data after every label

Otherwise, if a user does not finish a mission or only audits a few steps, we completely lose that data. That's not good!

[2016-04-15 02:03] jonfroehlich opened #72 "Resuming Mission at Same Location"
It would be nice if I was able to resume a mission. That is, imagine that I am working on a mission but I get pulled away from my computer or I have to close my browser window. When I relogin, I should at least get the option to resume my mission where I last was.

I really think this feeling of missions is important and resumption will help give Project Sidewalk more of a gamelike feel imo.

[2016-04-15 02:08] jonfroehlich opened #73 "We Need To Do A Better Job Of Emphasizing Missions and Neighborhoods"
The mission screens should be oriented around neighborhoods and completing missions within neighbhorhoods. The 'mission complete' screens should show how much of a neighborhood the user has audited and encourage them to do more (e.g., only 1 mile left before you've completed audited\* Columbia Heights). We discussed this in our 1:1s--for example, we talked about lil animations that show how much t

[2016-04-15 15:14] #65 closed

[2016-04-15 15:17] kotarohara commented on #49
I fixed the bug, but the interface still needs polishing.

[2016-04-15 19:40] kotarohara commented on #27
Changed the language. I'm closing this.

[2016-04-15 19:40] #27 closed

[2016-04-15 19:48] jonfroehlich commented on #27
What's the new language? What are the new options? Can you show me a screenshot?

[2016-04-16 23:15] kotarohara commented on #37
I can't reproduce this. I'm closing this for now.

[2016-04-16 23:15] #37 closed

[2016-04-16 23:21] kotarohara commented on #55
I've been playing around with this and felt:

- It feels kind of weird when I have 50% completed right after finishing up the previous mission.
- It feels right that I have 50% completed on the mission completion bar when I come back after a while.

I'm not sure what would be more natural thing to do. I'll think about it when I have time.

[2016-04-16 23:23] kotarohara commented on #45
I fixed this issue. Now when you hit this stage the interface should auto-focus on the target curb ramp.

[2016-04-16 23:23] #45 closed

[2016-04-17 00:22] nguyenist commented on #13
@kotarohara can you send me the file of the current icons? and some screenshots of current elements with the aesthetic you'd like to mimic for these icons? happy to work on this if you'd like.

[2016-04-17 01:07] kotarohara opened #74 "Error loading a task as an anonymous user when skipping the onboarding"
Task does not load correctly when I use the application as an anonymous user and skip the onboarding.

The copy of the call stack:

[2016-04-17 01:14] kotarohara commented on #13
@nguyenist Achievement icons that we are talking about here are:

![image](https://cloud.githubusercontent.com/assets/612263/14584517/a1c1e1d0-0417-11e6-84d1-146697b9ed24.png)

Icons should be in the repo under `sidewalk-webpage\public\javascripts\SVLabel\img\icons`

The thing is we don't know what information we are going to put here. We don't have examples or guidelines for designing these icons

[2016-04-17 02:01] kotarohara commented on #74
Fixed a bug that was causing the error in getCompletedTasks. But "anonymouse -> onboarding -> skip" still doesn't work properly.

[2016-04-17 18:03] nguyenist commented on #42
Hey @kotarohara I have been looking at this issue for awhile. Not quite sure I can replicate the problem. Can you tell me where the cursor is a default where it should be openhand?  See screenshot.
![screen shot 2016-04-17 at 2 01 46 pm](https://cloud.githubusercontent.com/assets/4484141/14588977/1b76bf0e-04a5-11e6-9d0f-496119dd05e4.png)

[2016-04-17 18:13] jonfroehlich commented on #42
I think it might be a Mac vs. Windows thing. Looks like your screenshot is from a Mac, did you try with Windows?

Also, we should test with Chrome and Firefox (or other popular browsers--maybe Safari on a Mac).

[2016-04-17 18:16] nguyenist commented on #42
@jonfroehlich This was with Mac on Chrome. I can try Mac on Firefox / Safari. I don't have a windows device.

[2016-04-17 18:22] jonfroehlich commented on #42
I have Windows and I have experienced this problem.

[2016-04-18 17:19] kotarohara commented on #42
This is most likely happening only during onboarding.

@nguyenist , I think you are right about the `setViewControlLayerCursor('OpenHand')` vs `setViewControlLayerCursor('default')` . Something is not going right in that function during the onboarding and it's not properly changing the mouse cursor. I checked out `steph-version` and tried the onboarding but the problem is still there. Could you lo

[2016-04-18 20:14] kotarohara commented on #53
Added example images to the interface. I'm closing this and #39

[2016-04-18 20:14] #53 closed

[2016-04-18 20:14] kotarohara commented on #39
I've added example images. I'm closing this issue.

[2016-04-18 20:14] #39 closed

[2016-04-18 20:40] jonfroehlich commented on #39
How do you access these images? Can you paste in a screenshot below?

[2016-04-19 00:50] kotarohara commented on #32
Note to myself: I should make a placeholder image for the top-page video.

[2016-04-19 00:58] jonfroehlich commented on #32
@nguyenist It would be great to get your feedback on the landing page redesign. Kotaro did a very nice job of creating a number of nice alternative designs. We consider it one of *the* most important parts of our website as it should: (i) inform and excite people about our mission; (ii) motivate them to donate their time and work; (iii) look good!

[2016-04-19 01:19] jonfroehlich commented on #32
And the landing page is currently in flux it looks like. @kotarohara pushed a new version but it is not rendering correctly, at least on my 30" monitor.

![image](https://cloud.githubusercontent.com/assets/1621749/14624719/33004058-05ab-11e6-8dfe-ee09f3f572f6.png)

[2016-04-19 01:21] jonfroehlich opened #76 "Change "Obstacle in a Path" -> "Obstacle in Path""
Change "Obstacle in a Path" -> "Obstacle in Path"

![image](https://cloud.githubusercontent.com/assets/1621749/14624754/8054da62-05ab-11e6-9ff1-93cbab25c56d.png)

[2016-04-19 01:23] jonfroehlich opened #77 "Hide "Start Auditing" or Something When I'm Already Auditing"
I find it confusing to see the 'Start Auditing' menu item when I'm actually already auditing. I think this menu item should either hide or change to something else (like 'View Stats') when you're actually auditing.

![image](https://cloud.githubusercontent.com/assets/1621749/14624783/aa0de150-05ab-11e6-8d13-edb1e794ef57.png)

[2016-04-19 01:27] jonfroehlich opened #78 "Question Marks on Label Buttons"
I think it's important that users can easily view examples of what constitutes an accessibility problem for each label along with ratings. And, while we are moving in the right direction on this, we're not there yet. I find the current implementation with '?' overlays to be highly distracting. I think we need to find a better way of allowing users to quickly see examples.

![image](https://cloud.g

[2016-04-19 01:31] jonfroehlich opened #79 "The Example Problems Pop-Up Dialog Design"
I really like that we now have this pop-up for every label when you click on the question mark:

![image](https://cloud.githubusercontent.com/assets/1621749/14624868/65852984-05ac-11e6-9763-2e24fb0ade5b.png)

However, I would prefer that:

(1) we show our own rating UI with the answer rather than just text. I think this will help better reinforce the concept. That is, show this within the examples

[2016-04-19 01:36] jonfroehlich opened #80 "New Rating Scale Design Idea"
![image](https://cloud.githubusercontent.com/assets/1621749/14625020/8033df36-05ad-11e6-89df-b6fe1069e590.png)

![image](https://cloud.githubusercontent.com/assets/1621749/14625022/8991a536-05ad-11e6-9388-3e0b94ae72ab.png)

We have two issues with the current rating scale: first, while labeling a positive attribute 'Curb Ramp' compared to a negative attribute like 'Surface Problems' or 'Curb Ramp

[2016-04-19 03:27] nguyenist commented on #42
@kotarohara Yes I did notice the cursor is `default` during onboarding. Just checked and this behavior happens on Chrome + Firefox + Safari.

The photo I attached was showing the `OpenHand` after onboarding. Will look into the `svl.storage.clear()` tomorrow after work!

[2016-04-19 03:42] nguyenist commented on #80
Interesting / related: http://www.measuringu.com/blog/left-side-bias.php
Takeaway of that article = Survey Respondents Prefer The Left Side Of A Rating Scale

Smiley ratings made me think of Runkeeper / Nike Running app. After you finish a run, you choose a smiley to rate how you felt after the run. It feels natural and intuitive to use smiley faces for that context because the user is actively fe

[2016-04-19 03:50] nguyenist commented on #73
Currently it says:
`Audit the streets and and find all the accessibility attributes.`
Some ideas to consider:
`Find and mark all of the accessibility attributes in this neighborhood.`
`Label the streets with accessibility attributes.`

[2016-04-19 15:42] kotarohara commented on #42
@nguyenist Awesome! Thanks :)

[2016-04-19 16:07] #74 closed

[2016-04-19 16:08] kotarohara commented on #32
@jonfroehlich I think it's cache.

[2016-04-19 16:22] kotarohara commented on #32
@nguyenist Yes, it would be great if you could provide feedback as @jonfroehlich said.

I'm changing this from a `high priority` issue to `discussion` as we are done with the first version.

[2016-04-19 16:29] #76 closed

[2016-04-19 17:58] jonfroehlich commented on #32
So, the landing page is greatly improving. Some comments.

1. For aesthetic reasons, I think we should take out the menu bar at top. If we do this, then we need two buttons: "Participate" and "Sign-In"
![image](https://cloud.githubusercontent.com/assets/1621749/14649710/4def4eaa-0636-11e6-953b-226349c4264b.png)

2. I think we need to darken the opacity overlay on the video. I think we should also

[2016-04-19 18:41] jonfroehlich commented on #32
The video size is fine on my 30" monitor, so I think we just need to scale things differently, perhaps, for smaller monitors/resolutions.

![image](https://cloud.githubusercontent.com/assets/1621749/14651195/dd025f50-063c-11e6-8762-67e4e42afeaf.png)

[2016-04-20 01:36] jonfroehlich opened #81 "I Just Logged In and Got Clapping and Cheering"
I literally just logged in on my home computer (had not done any audit work on this computer today) and the moment after I logged in, I got the following screen with the 'clapping and cheers' sound effect.

![image](https://cloud.githubusercontent.com/assets/1621749/14660840/b5f88206-0676-11e6-9060-feef2579b813.png)

[2016-04-20 01:36] jonfroehlich opened #82 "Just Logged In and Mission Bar Shows 100%"
I have not done any work yet--I haven't even taken a step and the mission bar shows 100%:

![image](https://cloud.githubusercontent.com/assets/1621749/14660848/cc4f2898-0676-11e6-90c5-39e7c2b9cc6b.png)

[2016-04-20 01:42] jonfroehlich opened #83 "Visualize Recency in Audit Dashboard"
I really like the audit dashboard. I think it has lots of potential. However, it would be great to have some visual indication of recency of labels--perhaps the user could select a mode and you would switch the coloring from label type to coloring by label age or perhaps you could make it so that both time of label and label type are visualized together.

In addition, if you are currently in an au

[2016-04-20 02:38] jonfroehlich opened #84 "Just Placed Label But Not Showing Up On Top-Down Map"
I just placed some labels but they are not showing up on the top-down map. See screenshot.

![image](https://cloud.githubusercontent.com/assets/1621749/14661896/60252312-067f-11e6-98e4-c83c7779d147.png)

[2016-04-20 02:39] jonfroehlich opened #85 "Green Icon Collision In Achievement Sidebar"
![image](https://cloud.githubusercontent.com/assets/1621749/14661904/820d909a-067f-11e6-8a8e-551fdc8ea76e.png)

[2016-04-20 05:41] kotarohara commented on #85
Only if all the users provided so much data!

[2016-04-20 05:48] kotarohara commented on #84
This happens when there is no point cloud data for the location. I don't think there are many locations where Google lacks point cloud data + I can't do anything about this.

One case I'm scared of, which hasn't happenned as far as I know, is Google stops us from accessing the point cloud data as the users access their API too often. Not sure if this will be a problem though, but could be problema

[2016-04-20 05:50] kotarohara commented on #83
Yes, I agree it can be improved. Providing your current neighborhood and recent audit data sounds like a good idea.

[2016-04-20 05:51] kotarohara commented on #81
Hmmm, weird you are seeing this mission... Will look into it.

[2016-04-20 12:30] jonfroehlich commented on #85
I don't think this is an enhancement. It's definitely a UI bug.

[2016-04-20 12:31] jonfroehlich commented on #84
I see. Hmm. OK, yes, nothing we can do about it. Can we log when this occurs, however, so at least we have some idea of its frequency?

[2016-04-20 16:17] kotarohara commented on #36
I guess I can close this. We provide examples for each attribute type to help users get a sense of what constitute severe/mild problems.

[2016-04-20 16:17] #36 closed

[2016-04-20 16:18] kotarohara commented on #44
I actually do submit data quite frequently; after every 30 interactions (e.g., walking, panning, labeling), data is submitted to the server.

[2016-04-20 16:21] kotarohara commented on #71
This is a duplicate of #44

[2016-04-20 16:35] jonfroehlich commented on #44
Is this enough? How much data might we lose here? We absolutely want to minimize losing data... perhaps we can, at the very least, upload after every label (plus have a frequency check if the user has done 15-30 interactions with no upload, then this triggers an upload).

[2016-04-20 23:17] nguyenist commented on #42
What is the function that is called when you are onboarding with the tutorial? Is it the same function that is being called when you have already completed onboarding and are just "auditing" in general?

[2016-04-20 23:25] nguyenist commented on #42
There seems to be 2 different .js files being loaded. Tested
![image](https://cloud.githubusercontent.com/assets/4484141/14693497/7a1420e4-072d-11e6-89f5-1c1141defae0.png)
with "true" and "null" and it seems like different files or functions being pulled. If I knew the functions / files you are using for when you haven't onboarded vs you have, then I can try to figure out the code that is calling

[2016-04-22 02:50] nguyenist commented on #79
![image](https://cloud.githubusercontent.com/assets/4484141/14730308/4f4a30b0-0813-11e6-9987-554bb813eb18.png)
Here's a first pass. Let me know if you'd like me to send you .pngs and if so, for which ratings, etc.

[2016-04-22 03:09] nguyenist commented on #78
Possible ways to reduce the attention to the `?`s:
- Use 1 accent color instead of 4, or make them not neon
- Use word `examples` in gray below the button, make it clickable to the example
- Move ? to top right instead of bottom left, it clashes with the text and makes the button seem busy

[2016-04-22 03:35] nguyenist commented on #60
Here are 15-20 different strings you could use. Giving the app some personality never hurts. See <a href="https://medium.com/@awilkinson/slack-s-2-8-billion-dollar-secret-sauce-5c5ec7117908">this piece on Slack</a>): ```With Slack, a bubbly, bright UI, delightful interactions, and hilarious copywriting come together to create a personality. A personality which has triggered something powerful in i

[2016-04-22 03:43] nguyenist commented on #59
Right clicks are tricky because they're hidden-- this would have to be taught in the walkthrough or emphasized / reminded throughout. I am just one data point, but based on my experience labeling, perhaps a simpler user experience might be if you didn't have to click `curb ramp` every time you want to label `curb ramp` in google street view. For example, they should be able to label, move forward,

[2016-04-22 03:46] nguyenist commented on #18
Let me know if you'd like help with this or if Daniil has it covered!

[2016-04-22 04:04] nguyenist commented on #15
Possible way to redesign:
![image](https://cloud.githubusercontent.com/assets/4484141/14731360/c2337e56-081d-11e6-9e5f-71b1f33a13dc.png)

[2016-04-22 04:29] nguyenist commented on #13
This relates with #18 re "We need a consistent, well-defined color palate."

[2016-04-25 01:36] nguyenist commented on #32
Hey @kotarohara wanted to work on this but the site is down (https://sidewalk.umiacs.umd.edu/audit). Assuming you're working on it or is there a different link? Let me know if I should wait to provide comments / edits on this one.

[2016-04-25 13:52] jonfroehlich commented on #32
Looks like it's still down... :(

[2016-04-25 15:52] nguyenist commented on #32
Some aesthetic suggestions:
1. Update the icons. The previous ones had inconsistent line widths and therefore looked less clean aesthetically than it could have been. Hope you like them, if not-- don't feel like you have to use them.
2. I also changed the formatting a bit so it looked less squished together. Pull request soon.

![image](https://cloud.githubusercontent.com/assets/4484141/14789782/2

[2016-04-25 15:55] jonfroehlich commented on #32
I think it's also crucial that we mention the computer vision part of this project--that is, how the labels will be used not just for accessibility aware GIS apps but to train CV algorithms to make labeling even faster. Telling this story, I think, is absolutely critical to portraying our application and to building excitement. I can work with you on the direct language... but I think we should li

[2016-04-25 16:02] nguyenist commented on #32
Ok I'll hold off on the pull request. Let's work on exact phrasing for these points:
- Use our tool to label accessibility attributes in Google Street View
- The collected data will be stored on our server
- [Your labels] will be used to train our algorithms to make labeling (for what specifically) faster?
- Accessibility will be visualized with the collected data -- I think we need to reword this

[2016-04-25 16:05] nguyenist commented on #32
Also, there are other suggestions I have for the home page, but would like to start small and touch base with you all to see where you are with opportunities for improvement so we can prioritize the most important thing for your team!

[2016-04-25 17:55] kotarohara commented on #29
@danZzyy addressed this issue. I'm closing it.

[2016-04-25 17:55] #29 closed

[2016-04-25 17:56] kotarohara commented on #18
@nguyenist Thanks! @danZzyy has finished this. I'm closing the issue.

[2016-04-25 17:56] #18 closed

[2016-04-25 18:40] kotarohara opened #87 "Reverse geocoding neighborhood names"
We want to associate each neighborhood with its name. Unfortunately the [neighborhood polygon data that we are currently using](http://opendata.dc.gov/datasets/a0225495cda9411db0373a1db40a64d5_21) do not come with neighborhood names. So we have to reverse geocode the neighborhood names using some existing APIs.

We could try [Google Geocoding API](https://developers.google.com/maps/documentation/g

[2016-04-25 18:43] jonfroehlich commented on #87
In the short term, couldn't we do this by hand for Washington DC. Sure, it won't scale automatically to other cities but how many neighborhoods are there in DC total? Like 100? Probably would only take an hour to manually create a table associating the neighborhood polygon data with semantic data (e.g., neighborhood name, demographics, whatever else we deem necessary).

[2016-04-25 18:45] kotarohara opened #88 "Polishing the status pane"
We will update the design of the status pane. In addition to what we have now, we want to provide:

* User's achievements so far (miles audited, # of labels collected) in a neighborhood level and/or DC level
* A clearer indication of what the current mission is

We may need to redesign the label count visualization if the space is tight.

[2016-04-25 18:50] kotarohara opened #89 "Redesigning the Mission modal window"
We will redesign the mission modal window. Additional features we add are:

* Top-down map view to visualize the streets audited during the current mission & previous missions.
* Summary of the labels collected in the current mission
* Summary of the mission progress (_e.g.,_ how much have a user audited in the current neighborhood)

Potential features for the future:
* Badges of various types
* S

[2016-04-25 19:01] kotarohara commented on #87
Either way works.

On the related note, each neighborhood should correspond to the [DC 2010 Tract](http://www.neighborhoodinfodc.org/censustract10/census.html). So if someone can manually/automatically scrape neighborhood information, that would be great. Note, I get the feeling that there is cleaner/more formatted DC census data somewhere on the internet. So if someone can find that data, that wo

[2016-04-25 19:24] jonfroehlich commented on #29
Is this on sidewalk.umiacs yet? I checked and it didn't work...

[2016-04-25 20:27] kotarohara commented on #32
**Icons and other design features** (@nguyenist)
I like the icons you designed. It's cleaner than the ones I made/used; they were too dark and didn't match the overall aesthetics. Can you make the versions without the outer circle for each icon though? I might like them even better. It would be great if you could paste the screenshot(s) of versions of the flowcharts like you did previously.

Also,

[2016-04-26 01:56] nguyenist commented on #32
**Icons and other design features**
Yes I will take on improving the landing page!

**Information about the automation algorithms**
Need more context on this to weigh in.

Here are some edits: icons, formatting, text consistency: https://github.com/ProjectSidewalk/SidewalkWebpage/pull/90/commits/cad7268a7db0ed09e3154d86af4f4dafbb8e5e5b

Attaching the images for you here also if helpful:
![cloudsto

[2016-04-26 02:25] jonfroehlich opened #91 "Design Inspiration: Grimouville"
After the webpage loads, click the diamond:

![image](https://cloud.githubusercontent.com/assets/1621749/14804793/660064d6-0b34-11e6-8c2e-1fd399764fed.png)

It's got great fluid movement (they are not using GSV) and a nice, animated overlaid map. It's a very immersive experience.

![image](https://cloud.githubusercontent.com/assets/1621749/14804806/813f15a8-0b34-11e6-975e-ebf470fb7c54.png)

(Sorry

[2016-04-26 12:40] jonfroehlich commented on #32
@kotarohara I think we need to discuss more whether CV algorithms should be integrated into the default flow chart. I vote yes. The notion that these labels are not just used to build apps but to actually train computer vision (i.e., machine learning) algorithms to speed up the process is both fascinating and motivating. My vote is that this is a core part of our story and thus should be part of t

[2016-04-26 14:51] nguyenist commented on #32
Helpful research for me and thought I'd share / document. Looking at landing pages that relate to crowdsourcing something. Specifically trying to focus on design elements that show: (1) how they best explain what they do (2) how they explain the value of a participant's work.
- http://pulse.media.mit.edu/
- http://climatecolab.org/
- https://www.waze.com/
- http://www.tiramisutransit.com/#reloaded

[2016-04-26 15:19] nguyenist commented on #32
@kotarohara An idea. Would love your thoughts. What could be helpful is to see the tangible outcomes of helping to label accessibility points visually.

Currently you use these 2 paragraphs. I think we should use less text, more imagery to condense these concepts. Design for ease of scanning content and assume not everyone will read all text in depth.

Instead of this:
[code]
Right now you subtly

[2016-05-16 22:52] #66 closed

[2016-05-17 14:43] jonfroehlich commented on #84
Kotaro and I discussed this. In the cases where we don't have point cloud data, we will just place labels at the angle the avatar is looking + some fixed distance (maybe 20 meters or so; Kotaro will investigate and determine constant). Note: this is only for visualizing in the top-down map.

[2016-05-17 14:45] jonfroehlich commented on #85
Kotaro is going to fix this so that all the 'balls visualizations' work in a fixed width. To do this, we will need larger balls to represent 20 and maybe 50. We should probably have labels on these balls to indicate 10x, 20x, and 50x--maybe like the notification labels in Apple iPhone or maybe within the ball itself.

[2016-05-17 14:50] jonfroehlich commented on #81
This is probably related to #82.

[2016-05-17 14:56] jonfroehlich commented on #77
For now, I think we should hide it. If we add more menu items, then we should bold current page (as is standard in web ui design).

[2016-05-17 14:58] jonfroehlich commented on #73
This is related to #88 and #89. This is talking about the core user experience for using our tool. How we engage them and sustain interest in auditing via missions and feedback.

[2016-05-17 14:59] kotarohara commented on #73
This is a different issue. I'm not sure if we'll want to implement this feature. Let's defer it to later and decide once we launch.

[2016-05-17 15:04] jonfroehlich commented on #72
So, Kotaro and I discussed this today. This is a low priority that would actually take a lot of work to implement. For now, we believe the effort required to make this change outweighs the benefit.

[2016-05-17 15:17] kotarohara commented on #71
Jon and I talked. Play around with how frequently (< 30) you we want to submit the data. Once I'm confident that we won't lose significant amount of data, close this issue. #44

[2016-05-17 15:23] jonfroehlich commented on #63
I think we need to have an FAQ page--lots of crowdsourcing pages have this and this can be an entry on that. So, really, we need a git issue for the FAQ page.

[2016-05-17 15:27] jonfroehlich commented on #59
Yah, I usually do label switching via the keyboard--which I agree is an expert user feature but still something I think we should onboard because it really increases user efficiency.

[2016-05-17 15:28] kotarohara commented on #59
I'll finish it. I've already mapped No Sidewalk to "N". I'lll think about "Can't see sidewalk" (currently "C" is taken for "Curb Ramp").

[2016-05-17 15:30] jonfroehlich commented on #58
We discussed this. Kotaro is going to disable keyboard commands for onboarding sequence for now.

In long term, we should come back to whether we want to onboard (in just one step) the use of keyboard commands. Could also put keyboard commands into the ? feature.

[2016-05-17 15:31] jonfroehlich commented on #50
I am going to review this and the overall onboarding text.

[2016-05-17 15:44] jonfroehlich commented on #9
At the very least, the auto-complete could be implemented on the client side with client-side storage rather than on the backend. (Backend would likely be best as text could be shared across users...).

[2016-05-17 15:46] kotarohara commented on #21
#88

[2016-05-17 15:48] jonfroehlich commented on #16
This is related to #80.

[2016-05-18 21:44] #77 closed

[2016-05-18 22:07] kotarohara commented on #88
I've updated the status pane according to the mockup we designed. The new status pane presents:

- Neighborhood level achievements (how much they walked & how many accessibility labels the user provided)
- Indication of what the current mission is

We do not provide the city level indication (i.e., how much the user walked in the DC) as it seems too much information + the information is available

[2016-05-18 22:07] #88 closed

[2016-05-18 22:09] kotarohara opened #92 "Cannot walk to the next scene in the onboarding"
The double clicking does not take the user to next scene even though the interface tells to "Double Click Here" to move.

[2016-05-18 23:06] #92 closed

[2016-05-19 06:05] kotarohara commented on #89
![image](https://cloud.githubusercontent.com/assets/612263/15384031/7b9dea1e-1d65-11e6-94f8-17acf4771564.png)

Updated the design. I think the design can be improved. More specifically,

- The name of the current neighborhood should be shown
- Label counts could be prettified
- The map will be better with animations

Don't know about the badge idea. I'll leave the rest for later or for undergrad/i

[2016-05-19 17:30] kotarohara opened #93 "The design of the icon on the status bar that indicates the walked distance"
The Distance status indicates how much a user has walked in that neighborhood. We changed the icon for this from a map icon to a footprint icon.

![image](https://cloud.githubusercontent.com/assets/612263/15403168/b03a469a-1dc5-11e6-96b7-7c05785b496b.png)

Just wanted your opinion on which ones would look better among the following options (previous map icon, legs, and footprints).

<img src="http

[2016-05-19 17:43] jonfroehlich commented on #93
I like the sideways leg walking icon but it would need to be iterated on a bit to match the elegance of the other icons.

[2016-05-19 18:24] kotarohara commented on #61
I now show the following message when the tool jump you back into the neighborhood.

![image](https://cloud.githubusercontent.com/assets/612263/15404832/5dca3fca-1dcd-11e6-904e-18638c914a4e.png)

[2016-05-19 18:24] #61 closed

[2016-05-19 19:26] jonfroehlich commented on #61
Can we update the message to something like this:

**Neighborhood Teleportation Complete!**
We just magically teleported you to a different location in your current neighborhood. This often happens when you reach the end of a road segment. Keep up the good work, and thanks for helping make this neighborhood more accessible for everyone!

[2016-05-19 19:50] jonfroehlich commented on #61
Maybe take out word magically? Not sure. Just trying to make it fun--but maybe it feels too forced...

[2016-05-20 17:36] kotarohara commented on #60
@nguyenist This is an awesome list! Thanks :) I'll update the messages.

[2016-05-20 17:38] #60 closed

[2016-05-20 17:59] kotarohara commented on #71
I'm closing this. I keep it to 30.

[2016-05-20 17:59] #71 closed

[2016-05-20 18:14] kotarohara commented on #59
Mapped "Can't see the sidewalk" to "b" for "blocked view".

[2016-05-20 18:14] #59 closed

[2016-05-20 19:10] #55 closed

[2016-05-20 19:19] jonfroehlich commented on #55
How was this resolved? You just closed it with a link to your commit: https://github.com/ProjectSidewalk/SidewalkWebpage/commit/6ce6ecb892878543388cb2a992d15842857f7436

[2016-05-20 22:40] danZzyy commented on #8
Is this something that will need to be done on the Scala side?

[2016-05-22 20:18] kotarohara commented on #8
This is something that you can do offline, so you are welcome to use tools that you are familiar with. We can discuss more once you start.

[2016-05-23 00:28] nguyenist commented on #78
@kotarohara hey i'm having trouble with my dev environment. do you mind screenshotting the current interaction? what does the screen look like when you tap on the question mark vs tap on the button?

[2016-05-23 18:42] kotarohara commented on #78
@nguyenist

When you click the button, the interface looks like:

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/15480570/48960358-20f4-11e6-9577-c9b8ccde0ee4.png)

The interface opens the window with examples when you click the "?":
![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/15480616/81c79c4a-20f4-11e6-9854-21

[2016-05-24 13:27] jonfroehlich opened #94 "Include Map of Neighborhood on Intro Mission Screen"
I think you should have the map of the neighborhood in this mission screen, both to give users more knowledge about what they're doing and to be consistent with later mission feedback screens.

![image](https://cloud.githubusercontent.com/assets/1621749/15505476/b8e99488-2191-11e6-99de-b817c7736ae6.png)

[2016-05-24 13:31] jonfroehlich opened #95 "Mission Sidebar Confusing"
![image](https://cloud.githubusercontent.com/assets/1621749/15505520/e297fcac-2191-11e6-81a0-6e97349e8585.png)

I just started my mission but my mission bar says '14%' -- why not 0%?

Also, the text "Make the 25% of this neighborhood more accessible" is confusing and not grammatically correct.

Does this indicate that the full mission bar is 25% and I'm currently 14% done with this 25% (so 3.5% ov

[2016-05-24 14:22] jonfroehlich commented on #50
Did you fix the onboarding bug that prevented me from advancing on double click? If so, I can return to giving you feedback on onboarding.

[2016-05-24 15:27] kotarohara commented on #50
Yes, it should be fixed.

[2016-05-24 17:36] ajmed opened #96 "Typo in tutorial - "Click the Missing [Cub] Ramp Button""
The typo is in the first scene on the second curb. Notice the typo inside the tutorial textbox.

![image](https://cloud.githubusercontent.com/assets/16959700/15513674/b11a462c-21b3-11e6-93ff-725d17e7a359.png)

[2016-05-24 18:22] #69 closed

[2016-05-24 18:44] jonfroehlich commented on #69
Yay, we finally fixed this! Nice!

[2016-05-24 20:08] kotarohara commented on #81
This should not happen to new users. I'm closing this now.

[2016-05-24 20:08] #81 closed

[2016-05-24 20:11] kotarohara commented on #82
I don't think this is happening anymore. I'm closing it for now.

[2016-05-24 20:11] #82 closed

[2016-05-26 05:05] kotarohara commented on #87
This is done.

[2016-05-26 05:05] #87 closed

[2016-05-26 06:01] jonfroehlich commented on #87
Really? That's awesome. Did you do it by hand or code?

Sent from my iPhone

[2016-05-26 06:28] kotarohara commented on #87
I used an existing GIS tool (QGIS).

[2016-05-26 10:37] jonfroehlich commented on #87
Neat.

Sent from my iPhone

[2016-05-26 13:37] jonfroehlich commented on #87
Still, did you do it programmatically or by hand?

[2016-05-31 02:54] nguyenist commented on #78
the user flow/interaction that seems likely / intuitive:
- user does tutorial
- after completing tutorial, user gets placed into a random area. s/he *sort of* remembers all of the steps of what to do but will get into the labeling groove by actually doing it multiple times on their own.
- user double taps to "move" down the street. thoughts: "i don't know what i'm going to see. so i'm not going to

[2016-05-31 03:06] nguyenist commented on #93
I don't think icons are necessary here. Simplicity is best where possible! 👍

My recommendation would be to change this to:
0.00 miles [walked, labeled, etc.] -- add some sort of word that explains what the user has done.

Keep "X labels" as is. Remove the wheelchair image.

[2016-06-01 03:23] nguyenist commented on #78
![img_2115](https://cloud.githubusercontent.com/assets/4484141/15697253/8b856a08-2786-11e6-8da4-659d991c2029.JPG)
![img_2116](https://cloud.githubusercontent.com/assets/4484141/15697261/8e5c292e-2786-11e6-8e37-9511f52fb449.JPG)
![img_2117](https://cloud.githubusercontent.com/assets/4484141/15697263/90302af2-2786-11e6-8622-30bbc3a5fb41.JPG)
![img_2118](https://cloud.githubusercontent.com/assets/448

[2016-06-01 19:56] jonfroehlich opened #97 "Remove Skip Button from Onboarding?"
![image](https://cloud.githubusercontent.com/assets/1621749/15723647/68ef0342-2811-11e6-8d52-c8fa81cb9e7b.png)

I think we may want to remove the skip button from onboarding. In what legitimate cases would we expect users to click the 'skip' button? Only if they've taken the tutorial before, right? Well, if this is the case, shouldn't they have a login?

So, perhaps instead of the 'Skip' button, w

[2016-06-02 21:04] kotarohara commented on #78
@nguyenist This is great. Reply inline:

Having label options at the top has a benefit of constantly reminding people what they have to find in Street View imagery, whereas context menu (which our very first interface had originally) hides what needs to be labeled from the users. So we should keep the options always visible to the users. Not sure what you proposed would allow people to move more q

[2016-06-02 21:17] kotarohara commented on #78
Actually I like the following ideas.

- select category "curb ramp mode". then on the interface of streetview, it says "curb ramp mode" and a help button next to it that allows you to see more infromation.
- when you first select the item for the first time, the help menu comes up anyway so the user is forced to see it and can come back to it if they want.

I like having "Explain This!" on the ove

[2016-06-03 18:42] kotarohara commented on #85
@danZzyy pushed a fix to this. I'm closing the issue.

[2016-06-03 18:42] #85 closed

[2016-06-03 18:45] kotarohara commented on #44
I forgot to close this issue when I closed #71 . I'm closing it. I also made change so closing browser window and moving to different page from the auditing page triggers a data submission.

[2016-06-03 18:45] #44 closed

[2016-06-03 18:46] kotarohara commented on #42
I thought I fixed this and closed this issue... Maybe there was a duplicate. I'm closing it now.

[2016-06-03 18:46] #42 closed

[2016-06-03 18:48] kotarohara commented on #13
This issue is no longer valid as we changed the icons. See #93

[2016-06-03 18:48] #13 closed

[2016-06-03 18:49] kotarohara commented on #93
Ok. As we all voted for different design, I'll keep it as is for now. We can come back to this if it's necessary. I'm closing it for now.

[2016-06-03 18:49] #93 closed

[2016-06-03 18:51] kotarohara commented on #91
I'm closing this as it is not really an issue.

[2016-06-03 18:51] #91 closed

[2016-06-03 18:53] kotarohara commented on #21
We discussed and we decided to keep the overall label count for the current neighborhood. It is implemented and shown on the status pane.

[2016-06-03 18:53] #21 closed

[2016-06-03 18:54] kotarohara commented on #33
This is no longer valid. We don't have the default achievements on the status pane anymore.

[2016-06-03 18:54] #33 closed

[2016-06-03 18:57] kotarohara commented on #43
(i) is solved. When a user closes the browser window, the application sends data to the server.

(ii) is related to #72

[2016-06-04 01:03] jonfroehlich commented on #85
Can I see a screenshot?

[2016-06-04 01:08] jonfroehlich commented on #44
This is great. Thanks!

[2016-06-04 01:13] jonfroehlich commented on #33
I think it might be nice to have a leaderboard, however, possibly only accessible via the dashboard. Maybe an intern task?

[2016-06-06 06:28] ladann opened #101 "Can't see the labels on the street view!"
Even when I move around I can't see my previous labels on the street view. Although I can see the labels on the map, the problem intensifies when I need to label, let's say the curb ramps, in the intersections, and I forgot which curb ramps I have already labeled. I tried to overcome this issue using the map, but it's  too small, and I can't zoom in/out.

[2016-06-06 06:54] ladann opened #102 "The green path suddenly turned red."
I was following the red path, and the guide at the bottom-right notified me to make a U-turn, I did, and then the path I already passed, turned red. Not sure if it's important.
![image](https://cloud.githubusercontent.com/assets/7192301/15814042/c83f4496-2b91-11e6-97cb-7bba792f20e7.png)

After I went through the path again, I ended up in a loop, meaning, that the the guide was telling me to move t

[2016-06-06 14:55] jonfroehlich commented on #101
Ladan, do you have a screenshot of this?

There is a "bug" for seeing your previous labels in Street View scenes where we do not have 3D-depth data. Kotaro and I discussed a solution, which, if I recall correctly is just to figure out the avatar's viewpoint angle and set the label a fixed distance away. Kotaro was going to experiment with this fixed distance. This way, even in the cases where a SV

[2016-06-06 15:44] ladann commented on #101
Ok, I understand. Here's a screenshot:
![image](https://cloud.githubusercontent.com/assets/7192301/15827993/97a88032-2bdb-11e6-8dd6-a4a66f44585f.png)
In this case, the avatar on the map is disappeared, and I can't use the map to label the missing curb ramps in the intersection.

[2016-06-06 16:03] jonfroehlich commented on #101
Yah, the avatar disappearing is a noted problem as well, not sure why that is happening (and I don't think Kotaro is either). He believes its a bug in GSV actually.

[2016-06-06 16:16] ladann opened #104 "Bug: Street View Image Disappears"
Sometimes, the street view gets disappeared, and the only way to bring it back is to refresh the webpage.
![image](https://cloud.githubusercontent.com/assets/7192301/15829070/1b173522-2be0-11e6-96f6-874f15c62748.png)

[2016-06-06 18:10] danZzyy opened #105 "Moving with Arrow Keys in Street View"
This is a feature I noticed we do not have that seems pretty simple to implement. It does not come by default in Google Street View but I have seen it in GeoGuesser.

[2016-06-06 18:11] jonfroehlich commented on #105
I think it's a nice idea. I believe I previously pitched this to Kotaro but I can't remember his response. :)

[2016-06-06 18:12] danZzyy commented on #105
I discussed it with him on Friday I think and he liked it

[2016-06-07 06:29] kotarohara commented on #32
Addressed computer vision thing. Added a text saying "The collected accessibility data will also be used to train computers to automatically find and label accessibility attributes at scale and fast."

[2016-06-07 06:33] kotarohara commented on #32
Got rid of the demo video. Because the video we had was designed as a background video, it doesn't have any textual explanation of what's going on in the shot and doesn't convey what's going on to the viewers. Maybe put it back in the future if we make a good demo video.

With a video:
![cursor_and_project_sidewalk](https://cloud.githubusercontent.com/assets/612263/15848020/3680299a-2c58-11e6-8c19

[2016-06-07 06:34] #32 closed

[2016-06-07 06:36] kotarohara commented on #105
I think it could be useful. I'm not sure if it's a high priority task. Let's discuss if this should be one of your tasks for the next development iteration once you are done with the current task.

[2016-06-07 06:38] kotarohara commented on #104
Thanks for pointing out. I'll look into it. Could be a bug in Street View API.

[2016-06-07 06:39] kotarohara commented on #102
Thanks. I'll take a look at the log and see if I can figure out what's happening.

[2016-06-07 06:49] kotarohara commented on #101
@ladann

Is it the issue #84 ? Or is that you cannot see what you have labeled in one Street View image from another image? If it's the former, we'll address it in the future. In fact could be a task for the next iteration.
If that's the latter, there is a no "good" way to implement it (errors in calculating label position from different angles too big, it's computationally expensive to the extent

[2016-06-07 06:55] kotarohara commented on #97
We need a skip button. We don't want anonymous users who have taken the tutorial to retake it. We don't have a reliable way to identify those who have taken the tutorial and we cannot assume people have log in accounts.

On the related note, I was talking about the tutorial with Andrea today and we think a way to come back and take the tutorial is important (because anonymous users might just skip

[2016-06-07 06:56] kotarohara opened #106 "Provide a way to retake onboarding tutorial for people who did not pay attention to the tutorial"
I was talking about the tutorial with Andrea today and we think a way to come back and take the tutorial is important (because anonymous users might just skip and registered users might go through quickly without paying much attention for the first time). I would put a small & subtle button somewhere in the interface that navigates users to retake the tutorial.

[2016-06-07 06:57] kotarohara commented on #97
Opened an issue #106

[2016-06-07 06:58] kotarohara commented on #96
Thank you! I'll fix the typo.

[2016-06-07 07:01] kotarohara commented on #97
I'm closing this.

[2016-06-07 07:01] #97 closed

[2016-06-07 11:20] jonfroehlich commented on #97
I guess I don't really agree. I worry that the salience of the skip button--and its sheer existence--may indicate to folks that they don't need to take the tutorial.

Also, are you operating under the assumption that most people will be contributing anonymously rather than via logged in accounts?

Finally, some users may find it confusing to have this come up when they have, indeed, already taken

[2016-06-07 11:22] jonfroehlich opened #107 "Make tutorial or promotional video for top-page"
Make tutorial or promotional video for top-page.

[2016-06-07 12:29] nguyenist commented on #32
@kotarohara did you happen to get any user feedback on the video?

[2016-06-07 14:45] danZzyy commented on #8
I tired using Ghost.py for headless browsing but it always crashes after it has executed all the js functions I give it. Ghost is still in beta so I will now be investigating Spynner which is finished library. The good news is that the GSV javascript part works and is very straight forward.

[2016-06-07 15:10] kotarohara opened #108 "Let users see how many missions they have completed on the dashboard"
We should provide a feature that allows the registered users to see how many missions they have completed in each neighborhood.

[2016-06-07 15:20] kotarohara commented on #97
Hmmm, maybe we can make the button subtler? Maybe instead of a button, a text. But we need skip.

I'm not making any assumption. We won't know if people will be registered or anonymous.

Adding a way to sign in... Hmmm, you may be right that we may want to add a way to sign in/sign up here. But given that we ask them to sign up while they are conducting audit, I don't know how important it is to a

[2016-06-07 15:26] jonfroehlich commented on #97
I think switching to text for skip could be the right call and then the other button could be a Login button.

We would need to sketch this out quickly to see how it works.... but basically, it's:

- Take Tutorial! This button is pressed to take the tutorial
- Login. Would need some text around this that states "Already taken the tutorial? Have an account? Login now"
- Skip. This is just in text a

[2016-06-07 15:27] kotarohara commented on #32
@nguyenist No, we need to get feedback and iterate on it. The video issue moved to #107

[2016-06-07 15:54] nguyenist commented on #107
What should the criteria be to understand whether or not the promotional video is necessary?

Would you like to test whether or not people understand how to label with the current step by step walkthrough/tutorial? And if they ask for a visual/step by step video then we consider the video?

[2016-06-07 16:03] ladann commented on #101
I see what you're saying. I think, It's the combination of 'not being able to see the labels on other images' and 'the pegman disappearing', which could affect the labeling task.
I noticed that the guide at the bottom-right could be useful, when such a problem happens. For instance, in the screenshot  above, the guide is saying to make a U-turn, meaning that the pegman is facing towards the green

[2016-06-07 17:03] ladann opened #109 "Issue with dashboard: exploring other areas!"
In dashboard, when I choose another area to explore (and click on 'sure'), it brings me back to the same location I was exploring previously.
![image](https://cloud.githubusercontent.com/assets/7192301/15866950/ef379102-2cae-11e6-83d7-07b510e3ef19.png)

[2016-06-07 19:41] ladann opened #110 "Scaling the labels: scaling vs. not scaling"
I can label something without scaling it from 1 to 5. (not sure whether it matters)

[2016-06-07 19:52] jonfroehlich commented on #110
Yes, rating is meant to be optional...

[2016-06-10 18:11] danZzyy commented on #110
can this be closed?

[2016-06-10 18:19] danZzyy commented on #8
Ghost did not work, Spynner's browser is crappy so now I am trying Selenium which has a Chrome webdriver. Hopefully this will behave similar to calling functions manually in console. Also I take back what I said about GSV js being straight forward since I discovered it uses an async function which makes trying to coordinate timing tricky. If that doesn't work maybe look at node.js? ¯\_(ツ)_/¯

[2016-06-10 18:49] jonfroehlich commented on #8
Why do you need to coordinate timing? This doesn't need to be real-time. Just pass a callback function and wait for desired result, then move on to next GSV node on street. Right?

[2016-06-10 20:03] kotarohara commented on #110
As Jon said, the rating is optional. I'm closing this.

[2016-06-10 20:03] #110 closed

[2016-06-10 20:05] kotarohara commented on #101
I see. Yeah, it's a good point, but we don't have a good way to fix these problems due to the reasons I mentioned above... Thanks for pointing out though!

/cc @ladann

[2016-06-10 20:05] #101 closed

[2016-06-10 20:17] kotarohara commented on #8
Yes. The things that @danZzyy is currently working on are: (i) learn how to use callback functions/polling to deal with asynchronous calls (that's what he meant by "coordinate timing," I think), (ii) understand that we have to run a JavaScript code on a process that runs browser to retrieve the GSV data we want (because Google does not provide APIs for other run-time environments), and (iii) store

[2016-06-10 20:22] jonfroehlich commented on #8
Thanks Kotaro. Node.js probably solves the issue of saving data to a file,
no?

On Fri, Jun 10, 2016 at 4:17 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-06-10 20:29] danZzyy commented on #8
we are using Phantom.js and yes it makes writing to a file simple.

[2016-06-10 20:31] kotarohara commented on #8
Yes, Node.js can save file to local storage (or the code for the parent process can be written in anything). But since it cannot use the remote library like Google's API directly, so it still needs to create a browser process.

[2016-06-10 20:36] kotarohara opened #112 "Instead of using feet as a unit, use miles"
Instead of using 1000ft, 2000ft, and 4000ft in the missions, say "(roughly) 1/4 of a mile", "1/2 mile", and "3/4 mile".

[2016-06-10 20:38] kotarohara opened #113 "Simplify the Current Mission Labels field in the Status pane"
1. Remove the title "Current Mission Labels"
2. Move the Curb Ramp counter below the other counters

[2016-06-10 21:59] kotarohara opened #114 "Update the Current Mission status during the onboarding"
![image](https://cloud.githubusercontent.com/assets/612263/15979926/32ccbbda-2f35-11e6-9ce0-0d6628119e6a.png)

The mission progress bar stays "0%." during the onboarding. Update the % as the onboarding progress.

[2016-06-10 22:11] kotarohara commented on #50
Updated the onboarding. I update things I agreed (comments in pptx). I'll probably push it to prod tonight.

I agree #114 should be addressed, but I won't do it now.

[2016-06-10 22:11] #50 closed

[2016-06-10 22:16] #96 closed

[2016-06-10 22:37] jonfroehlich commented on #114
Can you fix this before I do the planned think aloud pilot study?

Sent from my iPhone

[2016-06-11 06:52] kotarohara commented on #114
done

[2016-06-11 06:52] #114 closed

[2016-06-11 13:35] jonfroehlich opened #116 "Bug in Froehlich Audit Data?"
From the dashboard, it looks like I audited part of Potomac Park close to the federal monuments, but I don't remember every doing this. Is there a way to verify that I actually walked all of this way (also, based on the gray line, it looks like I didn't contribute very many--if any--labels during this part of my audit, which is unlike me).

![image](https://cloud.githubusercontent.com/assets/16217

[2016-06-13 16:08] kotarohara commented on #109
Fixed. I'm closing it.

[2016-06-13 16:08] #109 closed

[2016-06-13 17:04] kotarohara commented on #104
The problem happens because:

1. We drop a user to a certain location where there isn't any Street View image.
2. The interface cannot load a Street View image so it shows this gray background.
3. A Street View image do not get loaded **even you walk to a new location where you do have a Street View image** (Google API bug).

I found a point in the program that was not checking the presence Street

[2016-06-14 02:26] nguyenist commented on #78
Usability study 1: Observed user click through current dashboard
![image](https://cloud.githubusercontent.com/assets/4484141/16029317/e80681d4-31b5-11e6-8aec-abb1bf32a0b6.png)

**what do these buttons represent? (pointing to the top 5 at the top)**
I would click on one of those buttons then click on something on the street image

**what do each of the buttons mean?**
curb ramp = there is a curb ra

[2016-06-14 05:05] myjeeed opened #121 "Unwanted Selection"
Sometimes when you click to drag, you suddenly select the whole GSV interface (or just parts of it like the screenshot below) and it's a little bit distracting!
![screen shot 2016-06-14 at 1 03 56 am](https://cloud.githubusercontent.com/assets/9346800/16031690/19a833fc-31cc-11e6-8a16-8efadaec23f0.png)

[2016-06-14 05:09] myjeeed commented on #121
Or sometimes like this the UI buttons get selected.

![screen shot 2016-06-14 at 1 09 06 am](https://cloud.githubusercontent.com/assets/9346800/16031734/a406d04e-31cc-11e6-97a1-15aef058b8db.png)

[2016-06-14 05:18] myjeeed opened #122 "Bug in audited paths: the paths stay after the 'mission complete' pop up"
Look at the bottom left corner:

![screen shot 2016-06-14 at 1 17 20 am](https://cloud.githubusercontent.com/assets/9346800/16031844/05bb5ac0-31ce-11e6-995d-096ac32cdfa8.png)

This is also a picture of the mission complete pop up:

![screen shot 2016-06-14 at 1 17 09 am](https://cloud.githubusercontent.com/assets/9346800/16031851/11585388-31ce-11e6-9e21-e620beb77462.png)

[2016-06-14 06:22] kotarohara commented on #78
@nguyenist

This is awesome! Can you do the same thing with 2 more people? It would be awesome if you can combines the takeaways for user 1, 2, and 3 and come up with a high priority task.

Did they have any comments on the mocks you sketched? I wonder how they felt about the design of "?".

[2016-06-14 06:24] kotarohara commented on #121
Thanks!

[2016-06-14 06:24] kotarohara commented on #122
Ha, good catch! Not sure why it is happening all of sudden.

[2016-06-14 13:42] jonfroehlich commented on #121
@kotarohara: any idea why this is happening?

@myjeeed: why are you dragging in the first place? I don't think there are any interactions that require dragging...

[2016-06-14 13:57] myjeeed commented on #121
I meant click and dragging to pan in the street view

[2016-06-14 14:07] jonfroehlich commented on #121
Ah, interesting. I've never had this happen to me in all my years using this interface (at least I don't remember it happening). I could definitely see this as a confusing problem for an ordinary user. Can you explain how/when this occurred?

[2016-06-14 15:54] nguyenist commented on #78
@kotarohara @jonfroehlich Thanks for the feedback. Yes, definitely planning on doing a few more :) Will update the transcribed interview as I go along / grab folks to get more thoughts.

We worked a little backwards and it is important to first observe how people currently use the dashboard. Then note the pain points / problems around those buttons before deciding the best way to fix them.

My pro

[2016-06-14 20:14] jonfroehlich opened #123 "Add smiley face or other emoticon/emoji to mission pop-up"
Add smiley face or other emoticon/emoji to help indicate that the 'nice job' comments are meant to be fun/silly. As now, they come across really serious and it's not clear what's meant by them.

In the screenshot below, for example, it's not clear that 'Couldn't have done it better myself' is said in jest. Needs a winking emoticon like ;-) to make this more clear.

![image](https://cloud.githubuse

[2016-06-14 20:19] jonfroehlich opened #124 "Mission Complete Pop-Up Comments"
![image](https://cloud.githubusercontent.com/assets/1621749/16058181/3707dbd0-324b-11e6-9492-ae758354dad0.png)

- I think we should highlight the current audit neighborhood on the map. You may be doing this currently but hard to tell (are you highlighting in white?). If so, I think you should flip the highlight--so that the other neighborhoods are a bit grayed out and the current neighborhood has

[2016-06-14 20:23] jonfroehlich opened #125 "Mission language"
![image](https://cloud.githubusercontent.com/assets/1621749/16058334/010d20c0-324c-11e6-8705-0a20bb8e1555.png)

Easy things to change:
- Change 'this neighborhood' to the actual name of the neighborhood.
- Have the title Mission on its own line. Then, below it, have the actual mission. The actual mission can be in large text but should not be bold
- I thought we were going to switch these to a mor

[2016-06-14 20:30] jonfroehlich opened #126 "Confusing: 'Jumped back to your neighborhood'"
I was just auditing Mt. Vernon Square and following the red line audit path when suddenly, I got this screen. Not sure why.

![image](https://cloud.githubusercontent.com/assets/1621749/16058540/f634777e-324c-11e6-8cb8-408017f56c63.png)

Can you change the text:

'We sent you back into the neighborhood you have been walking around...'

to:

'Oops! Something went wrong, so we jumped you to a differe

[2016-06-14 20:33] jonfroehlich opened #127 "Mission Length: Is 4,000 ft too long for a mission"
Is 4,000 ft too long for a mission? We'll have to see. :)

Do we have missions longer than 4,000 ft? If so, I think we may want a different mission strategy because it feels really nice to complete a mission and get the feedback for that (the mission complete pop-up). I worry that 4,000+ feet missions just feel too overwhelming and people will drop out without completing them. Could try to launch

[2016-06-15 00:01] nguyenist commented on #78
Usability study 2: Observed user click through current dashboard to understand what information they gathered from the current buttons + "?" buttons.

**what do these buttons represent? (pointing to the top 5 at the top)**
- so here's what i see: streetview. pins. sidewalks. understand particular sidewalks
- collectively, labels are supposed to place then on the map
- place on map

**the user's na

[2016-06-15 14:04] nguyenist commented on #78
Usability Study 3:

[2016-06-15 14:21] nguyenist commented on #78
Overall takeaways by priority:
1
2
3

Will add here later.

[2016-06-15 14:53] jonfroehlich commented on #124
Also, using 'gray' to indicated area walked, I think, is confusing and hard to see. We should use a different color. I think we should also animate in the most recent route that they just animated.

[2016-06-15 14:56] jonfroehlich opened #128 "Why does 2nd mission start as 50% complete?"
In running a usability test this morning, I noticed that the 2nd mission starts as 50% complete. Why?

Shouldn't all missions start at 0%?

[2016-06-15 14:58] jonfroehlich opened #129 "Round About Bug"
Weird red line route direction issue with round-abouts.

![image](https://cloud.githubusercontent.com/assets/1621749/16084808/0fb7f298-32e8-11e6-9bee-c177ffcbeea6.png)

[2016-06-15 19:24] kotarohara commented on #58
Fixed

[2016-06-15 19:24] #58 closed

[2016-06-15 19:24] kotarohara commented on #63
Added to FAQ

[2016-06-15 19:24] #63 closed

[2016-06-15 19:27] kotarohara commented on #126
Hmm, nothing really went wrong though. You just stepped outside of the neighborhood boundary that you have been auditing. I'll think about the better way of explaining what happened.

[2016-06-15 19:29] kotarohara commented on #125
Related to #112

[2016-06-15 19:32] kotarohara commented on #128
Fixed

[2016-06-15 19:32] #128 closed

[2016-06-15 19:34] kotarohara commented on #127
Related to #66

[2016-06-15 19:50] #121 closed

[2016-06-15 19:51] kotarohara commented on #113
Removed the "Current Mission Labels"

[2016-06-15 20:00] jonfroehlich commented on #126
So, we have mission routes that route you outside of a neighborhood? Maybe what we could do instead, if possible, is not pop up this message in those cases and instead try to route them back into the neighborhood at the next possible intersection. Do you know what I mean?

In those cases when we can't route the person back into the neighborhood easily, then the message should be:

"Yikes, our bad.

[2016-06-15 20:02] jonfroehlich commented on #112
I think it's probably OK to keep feet, to be honest, though I do like miles better (as I tend to think that this is the standard pedestrian unit when you talk about walking).

[2016-06-15 20:03] jonfroehlich commented on #127
With more user testing, we'll have a better sense of whether 4,000 ft (or even 1 mile) is too long for the later missions...

[2016-06-16 13:28] jonfroehlich opened #131 "Alternative Mission Ideas"
Although Kotaro and I agreed that integrating the following ideas is beyond the scope of the v1 launch of Project Sidewalk, I wanted to include some ideas below that I've had. Alternating mission types and including 'mini-games within a game' is standard in game design--even if super small--as they help break repetition with normal gameplay and increase engagement. For example, think of the matchi

[2016-06-16 19:24] danZzyy commented on #8
Finally made a working browser based script that uploads a file of street data and checks the availability. The result is loaded into a csv file and downloaded. The street data pulled from the database is split into 30 files of 1000 rows. These were uploaded in groups of 3 and  checked for availability  (more than 3 files caused the browser's developer tools to disconnect) and labeled AVAILABLE, U

[2016-06-16 19:26] danZzyy commented on #8
This task will be finished with a map visualization of the coordinates and their street view availability.

[2016-06-16 19:26] kotarohara commented on #123
Related to #89

[2016-06-16 19:32] kotarohara commented on #106
Done.

[2016-06-16 19:32] #106 closed

[2016-06-16 19:36] kotarohara commented on #40
This is outdated.

[2016-06-16 19:36] #40 closed

[2016-06-16 19:43] kotarohara commented on #30
It now says: "Any thoughts? Found something confusing? Spotted a bug? Send us comments!"

[2016-06-16 19:43] #30 closed

[2016-06-16 19:50] jonfroehlich commented on #30
Sounds great. Thanks Kotaro!

[2016-06-16 19:50] jonfroehlich commented on #106
Screenshot?

[2016-06-16 19:51] jonfroehlich commented on #123
Yes, I agree that @danZzyy could do this... and probably very quickly. Either we literally use ;-) or @danZzyy finds like 2-3 fun emojis that we randomly swap in at the end of the text statement.

[2016-06-16 19:55] kotarohara commented on #123
Agree!

[2016-06-16 19:57] kotarohara commented on #106
![image](https://cloud.githubusercontent.com/assets/612263/16131178/e7445056-33da-11e6-9990-e996a2fe019b.png)

I still don't know if the top-level menu bar is the place to put it, but I think it's good enough for now.

[2016-06-16 19:58] jonfroehlich commented on #106
I like it! :)

Now if we could only redesign those ugly '?' marks on the labeling buttons.... :-P

[2016-06-16 21:54] danZzyy commented on #8
![svavailable](https://cloud.githubusercontent.com/assets/13355765/16134436/21dc2878-33eb-11e6-9603-9b90a0ec787c.PNG)
The visualization takes a really long time to render 30k custom markers. I am not even sure it had completed by this point but it looks good and the availability/unavailability makes sense.

[2016-06-17 11:59] jonfroehlich commented on #8
This looks great. Did the render eventually finish? If so, can you repost a
screenshot?

It looks like there are some roads without green or red dots, why would
this be?

On Thu, Jun 16, 2016 at 5:54 PM, Dan Zadorozhnyy <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://tw

[2016-06-18 16:32] danZzyy commented on #8
I checked and that is what complete rendering looks like. The base map doesn't load until everything has been plotted.

[2016-06-20 13:10] jonfroehlich commented on #8
Great. Thanks.

On Sat, Jun 18, 2016 at 12:32 PM, Dan Zadorozhnyy <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-06-20 19:04] danZzyy commented on #8
There was a bit of data that I missed since I was saving data at blocks of exactly 1000. There was a remainder of 262 (times 2 for both endpoints). I added those into the list and sent Kotaro the new html file and csv list.

[2016-06-20 19:09] danZzyy commented on #123
@jonfroehlich "they come across really serious"

                'Today you are Harry Potter\'s golden snitch. Your wings are made of awesome.',
                'They say unicorns don\'t exist, but hey! We found you. Keep on keepin\' on.',
                '"Uhhhhhhrr Ahhhhrrrrrrrrgggg " Translation: Awesome job! Keep going. - Chewbacca'

[2016-06-20 19:27] jonfroehlich commented on #123
@danZzyy Some do. And given that the website does not consistently employ humor or embody a witty personality, it's a bit discordant to see this text. It needs an emoticon to help emphasize that it's playful--especially for the more ambiguous phrases.

[2016-06-20 20:26] danZzyy commented on #113
[label_counter_layout1.pptx](https://github.com/ProjectSidewalk/SidewalkWebpage/files/324258/label_counter_layout1.pptx)

[2016-06-21 19:05] kotarohara commented on #78
@nguyenist Are you going to summarize the takeaways? It would be great if you could separate (a) the design of the "?" marks and (b) other things you've found out (e.g., it seems like you've got good feedback on how to design the actual help window).

[2016-06-21 22:45] nguyenist commented on #78
Yes I will. Haven't forgotten. More soon.

On Tuesday, June 21, 2016, Kotaro Hara <notifications@github.com> wrote:

--
Sent via mobile device

[2016-06-22 00:50] #102 closed

[2016-06-22 00:50] kotarohara commented on #102
I think I fixed the issue... I'll reopen if it happens again. Thanks @ladann !

[2016-06-22 17:33] kotarohara commented on #108
Just to give you a pointer, the [countCompletedMissionsByUserId method in MissionTable.scala](https://github.com/ProjectSidewalk/SidewalkWebpage/blob/master/app/models/mission/MissionTable.scala) returns the number of missions completed by the user.

[2016-06-22 19:42] kotarohara commented on #108
We completed this together!

\cc @danZzyy

[2016-06-22 19:45] #108 closed

[2016-06-23 00:04] jonfroehlich opened #134 "Lables -> Labels"
![image](https://cloud.githubusercontent.com/assets/1621749/16287870/8f9b825a-38b4-11e6-935c-059eb19d6041.png)

[2016-06-23 00:06] jonfroehlich opened #135 "Weird line break in the mission completion message"
The ;-) falls on its own line, which is weird aesthetically and a bit confusing.

![image](https://cloud.githubusercontent.com/assets/1621749/16287889/b690dda6-38b4-11e6-83b1-f24ddf1680f2.png)

And I still think the emoticons should be SVGs or images rather than the more g33ksp34k of parenthetical faces.

[2016-06-23 00:08] jonfroehlich opened #136 "What Does the Gray/Blue Represent on This Map"
![image](https://cloud.githubusercontent.com/assets/1621749/16287931/ecbea296-38b4-11e6-8456-5b53a151868c.png)

I thought that, perhaps, the progress bar colors were being used on the map to indicate streets that I have walked in previous missions and streets I just completed (which is cool); however, in this map, there are gray lines. What are the gray lines for?

So, in sum, I think mapping the

[2016-06-23 00:11] jonfroehlich opened #137 "Put All This Text on One Line"
Fix 'Miles audited in this mission' and 'Neighborhood miles audited so far' so that they are rendered on one line (either edit the text to use fewer chars or increase the amount of room dedicated to their display).

![image](https://cloud.githubusercontent.com/assets/1621749/16287962/2cb6f25e-38b5-11e6-9735-277d6963e513.png)

[2016-06-23 00:19] jonfroehlich commented on #122
This bug still exists.

![image](https://cloud.githubusercontent.com/assets/1621749/16288099/8dd7a956-38b6-11e6-93f9-b02a52f2e821.png)

[2016-06-23 00:31] jonfroehlich opened #138 "Route Turning Green Even Though Not Walking That Street"
I'm walking down what I thought was the route but then I noticed it wasn't; however, I am still getting credit for walking a street even though I'm no longer on it.

![image](https://cloud.githubusercontent.com/assets/1621749/16288271/2cc056d4-38b8-11e6-91b0-b91fce6f2b32.png)

![image](https://cloud.githubusercontent.com/assets/1621749/16288300/564bc3da-38b8-11e6-83f3-bddda7d14c7a.png)

[2016-06-23 00:33] jonfroehlich commented on #138
Now I'm at end of green route and there is no where else to go (no red route left)... I'll try following the directions on bottom-right of GSV and see what happens.

![image](https://cloud.githubusercontent.com/assets/1621749/16288326/95cf3dde-38b8-11e6-8d67-5219766583dd.png)

[2016-06-23 00:35] jonfroehlich opened #139 "Add link to github project on FAQ page and footer?"
I think we should add a link to this github repo in the footer:

![image](https://cloud.githubusercontent.com/assets/1621749/16288339/c0a9c22c-38b8-11e6-854a-7487488b478a.png)

We should also add a link in the FAQ page and instruct people how to file a bug in the issue tracker.

[2016-06-23 00:36] jonfroehlich opened #140 "Change 'Project Sidewalk is operated by the Makeability Lab...' footer"
![image](https://cloud.githubusercontent.com/assets/1621749/16288360/eabafd88-38b8-11e6-9e80-12f30c5c2467.png)

Change 'Project Sidewalk is operated by the Makeability Lab...' footer to

'Project Sidewalk is designed and operated by the Makeabilty Lab at the University of Maryland'

I would href the Makeability Lab to makeabilitylab.umiacs.umd.edu as well.

[2016-06-23 00:38] jonfroehlich commented on #138
And now that I'm back on the green route, I'm actually seeing a new red route, so things look like they might be working again.

![image](https://cloud.githubusercontent.com/assets/1621749/16288391/438dec68-38b9-11e6-8363-a1eef9e831aa.png)

[2016-06-23 00:43] jonfroehlich opened #141 "Update Jump Message"
![image](https://cloud.githubusercontent.com/assets/1621749/16288424/b2ebfd5c-38b9-11e6-8663-4377b21c6d58.png)

Change to:

**Jumped You Back To [Insert Name of Neighborhood]**
You just stepped outside of your mission neighborhood so we auto-magically jumped you back. You have [X] miles to go before you're done with this mission, keep it up!

[2016-06-23 01:01] jonfroehlich opened #142 "Just Finished a Mission But Not Given Another One"
I just finished a mission and got the 'Mission Completed' pop-up but when I clicked OK, I was not given another mission and my progress bar says 100%. However, I can see that a red route was added...

![image](https://cloud.githubusercontent.com/assets/1621749/16288671/75f6bc4a-38bc-11e6-93e8-73c2a391ecfc.png)

[2016-06-23 01:17] jonfroehlich commented on #142
I've been continuing this mission to see what happens. The progress bar is not updating but everything else seems fine.

![image](https://cloud.githubusercontent.com/assets/1621749/16288927/b29ee7ba-38be-11e6-8321-a5460f4a6816.png)

[2016-06-23 01:36] jonfroehlich commented on #142
OK, I keep labeling and it looks like my labels are being saved (according to the map in my dashboard) but my missions are not updating.

I'm currently at 3rd and N:

![image](https://cloud.githubusercontent.com/assets/1621749/16289173/e8d423b6-38c0-11e6-86d4-3cc436e336f4.png)

@kotarohara, any idea what's going on here? Can you look at user logs?

Here's a screenshot of my dashboard.
![image](htt

[2016-06-23 01:38] kotarohara commented on #142
Can you copy the error log from the console?

[2016-06-23 01:41] jonfroehlich opened #143 "Add 'Date Registered' and 'Last Login' Timestamps to Users Table in Admin Interface"
Add 'Date Registered' (for the timestamp when the user signed-up) and 'Last Login' Timestamps to Users Table in Admin Interface

![image](https://cloud.githubusercontent.com/assets/1621749/16289304/fe3f385c-38c1-11e6-88b4-f359cc5eef11.png)

[2016-06-23 01:42] jonfroehlich commented on #143
Also, can you make these tables have clickable column headers that sort table by ascending/descending. Something similar to: http://lintool.github.io/scholar-scraper/index-hci.html.

Maybe a task for @danZzyy? What do you think @kotarohara?

[2016-06-23 01:57] jonfroehlich commented on #142
Here's the log file, created by right-clicking in the console and selecting Save As...
[sidewalk.umiacs.umd.edu-1466646905301.log.txt](https://github.com/ProjectSidewalk/SidewalkWebpage/files/329056/sidewalk.umiacs.umd.edu-1466646905301.log.txt)

Here's a screenshot:
![image](https://cloud.githubusercontent.com/assets/1621749/16289576/346c5674-38c4-11e6-9e28-4ea59a872e23.png)

I'll keep the window

[2016-06-24 10:49] jonfroehlich commented on #116
@kotarohara said this over email:

[2016-06-24 15:42] jonfroehlich commented on #140
Looks like someone already added in the href to makeabilitylab. I just added in a link to umd as well in jon-verbiage-fixes.

I think we could also add in something like: 'Want to contribute? Join us' with a link to our github or something...

[2016-06-24 16:09] jonfroehlich opened #145 "Need About Page"
Need about page, which includes:

- A quick blurb about the project and some history
- A nice grid of images of all contributors/collaborators
- A list of all academic papers
- A link to our github and a call to contribute back to the project
- A list of sponsors.

[2016-06-24 16:09] jonfroehlich commented on #145
I think this is important before our public launch honestly, so I put as very high priority.

[2016-06-27 02:29] nguyenist commented on #78
@kotarohara

**Takeaways for ? marks:**
1. Number one takeaway: Design "?s" to stand out. Right now, people don't seem to know you can click on them until I point them out. Notes for me-- consider using words like "read more" or "learn more" -- think about ways to do this for all buttons w/o looking redundant.

**Takeaways for other things on help page:**
1. Change ratings logic. 1 = worst. 5 = be

[2016-06-27 03:11] nguyenist commented on #78
Option A: Horizontal buttons
![image](https://cloud.githubusercontent.com/assets/4484141/16367594/2a25fd64-3bf3-11e6-8f58-dc88f1b84c81.png)

Option B: "Explain this!"
![image](https://cloud.githubusercontent.com/assets/4484141/16367603/45e26628-3bf3-11e6-8230-f35bd59391ac.png)

[2016-06-27 06:28] kotarohara opened #146 "Speed up the loading time for the demo page and developer APIs request"
/demo, /developer, and APIs are slow (especially /demo because it loads all the accessibility data).  Figure out the bottle neck (I think it is due to the part that's computing Access Score).

[2016-06-27 06:48] kotarohara commented on #78
@nguyenist

Great! But I don't think we will go though a massive interface redesign, so Option A would not happen. I like both B and C. For C, probably we don't need parenthesis. Also for C, are you envisioning a single help window that opens up after clicking "click here to ..."? Do we have enough space to explan all the accessibility feature types?

Are you going to see which one (B or C) people

[2016-06-27 11:12] nguyenist commented on #78
@kotaro sounds great.

Re ? (1) Yes I think it's possible to design a single page. There is a ton of text and if we can condense it down to a simple page concept that will resonate w users that would be ideal. Based on tests they will start rating based on what is in their head vs reading a ? help page 5 times which may skew results otherwise.

Re other (2) no need to gather all photos just yet. W

[2016-06-27 23:25] kotarohara commented on #104
Done.

[2016-06-27 23:25] #104 closed

[2016-06-27 23:25] kotarohara commented on #8
Done.

[2016-06-27 23:25] #8 closed

[2016-06-27 23:27] kotarohara commented on #123
@danZzyy completed this.

[2016-06-27 23:27] #123 closed

[2016-06-27 23:29] kotarohara commented on #105
@danZzyy completed this. I'm closing this now.

[2016-06-27 23:29] #105 closed

[2016-06-27 23:35] kotarohara commented on #113
\cc @jonfroehlich

I asked @danZzyy to make mocks of for what we discussed a while ago. I prefer the one on the left (which is what we have now); it has a better visual balance when green balls gets filled up. @danZzyy doesn't have preference. As we don't have strong preference within the team, I'm going to keep the current version & close this issue.

[2016-06-27 23:35] #113 closed

[2016-06-27 23:51] kotarohara commented on #145
I don't think it deserves Priority: Very High, but I agree it is important (esp. sponsors) :)

I'm not going to do everything on the list though. I will not do the grid of images; I'm not going to wait for people to send the images. Instead, I'll make a list of names. I think GitHub link doesn't fit here. I added that to Developer page.

[2016-06-27 23:53] kotarohara commented on #143
Yeah, maybe @danZzyy can work on it. I think it's a good practice for using SQL and Scala.

[2016-06-28 00:08] kotarohara commented on #140
Merged. Hmmm, I don't like having too many things at the footer... Plus we have a link to GitHub on `/developer`

[2016-06-28 00:11] kotarohara commented on #134
Fixed

[2016-06-28 00:11] #134 closed

[2016-06-28 00:16] kotarohara commented on #138
I don't think there is a fix to this. I'm using a distance threshold to check if the user is actually on the street. This problem happens when there is a nearby street that is parallel to each other.

[2016-06-28 01:42] jonfroehlich commented on #138
OK :(

[2016-06-28 01:42] jonfroehlich commented on #123
Screenshot?

On Mon, Jun 27, 2016 at 7:27 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-06-28 01:44] jonfroehlich commented on #113
Fine. I agree that when there are actually a full set of circles, then it looks good... but when there are not lots of circles like this, I think it's unbalanced to have curb ramps at top.

[2016-06-28 01:46] jonfroehlich commented on #145
OK, I don't think it hurts us to have the github link here as well and it's common in about pages imo.

[2016-06-28 15:25] danZzyy commented on #143
I am pretty comfortable with SQL and this is pretty similar to the Scala task Kotaro showed me earlier

[2016-06-28 15:50] danZzyy opened #147 "Mission Participation Feedback"
Here I will post all the things I encounter while participating in the missions, which I had not done at length previously.

[2016-06-28 15:51] danZzyy commented on #147
1)
![image](https://cloud.githubusercontent.com/assets/13355765/16422486/88029a12-3d26-11e6-8e62-15e6973abf4b.png)
I cannot complete this mission! The map wants me to go in a direction for which there is no link!

[2016-06-28 15:59] danZzyy commented on #147
2)
![image](https://cloud.githubusercontent.com/assets/13355765/16422821/bd6ba742-3d27-11e6-81a9-adcc96ed5891.png)
the map overlay is lingering

[2016-06-28 16:07] danZzyy commented on #147
3)
![image](https://cloud.githubusercontent.com/assets/13355765/16423130/cf0fc0e0-3d28-11e6-80a8-7c4e2cea4267.png)
little man on the map disappears

[2016-06-28 16:13] danZzyy commented on #147
4) at one point it just froze so I had to refresh the page

[2016-06-28 16:35] danZzyy commented on #147
5)
![image](https://cloud.githubusercontent.com/assets/13355765/16424120/d2bf056c-3d2c-11e6-8e3d-ce7e99e8451f.png)
distance audited is in km although the missions are in miles

[2016-06-28 17:20] danZzyy commented on #147
6)
![image](https://cloud.githubusercontent.com/assets/13355765/16425515/1df36018-3d33-11e6-90e1-7d3f3472aec5.png)
Label disappears

[2016-06-28 17:31] kotarohara commented on #147
Can you provide more information on (4)? Also, where is (5)? For (6), how did it happen? Overall, can you provide more context on how they happened?

[2016-06-28 17:32] kotarohara commented on #147
Also, you can use a sharp sign (#) to tie an issue back to the existing issue.

[2016-06-28 17:33] danZzyy commented on #147
4 happened when I was trying to select a label and the page became unresponsive. 5 is in the user dashboard. 6 I was labeling and then advanced and suddenly the labels did not appear at all

[2016-06-28 17:39] kotarohara commented on #127
This keeps coming up (e.g., #78 ), so I'll set the priority to medium.

[2016-06-28 17:43] danZzyy commented on #127
I would rather have more shorter missions. It gives a better stopping point and a greater gratification. Also I encountered several areas where the mission points into a direction that does not have a street view link so I have to refresh the page to get placed somewhere else. I dont think the average user would be as tolerant of that.

[2016-06-28 17:56] kotarohara commented on #135
I don't think svg image is necessary. I agree line break is weird, but I don't really know how to fix that though. Maybe @danZzyy can research and fix this?

[2016-06-28 18:04] danZzyy commented on #147
7)
![image](https://cloud.githubusercontent.com/assets/13355765/16426935/1e0da6f2-3d39-11e6-9390-0c42ab97a746.png)
Completed a long mission but my progress was not recorded in the final stats

[2016-06-28 18:08] kotarohara commented on #139
Added a link to this repo on FAQ. I don't think we should have GitHub link at the footer.

[2016-06-28 18:08] #139 closed

[2016-06-28 18:10] kotarohara commented on #136
Related to #89 . @danZzyy 's next task?

[2016-06-28 18:11] kotarohara commented on #126
#141

[2016-06-28 18:11] kotarohara commented on #141
#126

[2016-06-28 18:56] jonfroehlich commented on #143
Make this table sortable as well by clicking on column header to indicate sorting feature.

Sent from my iPhone

[2016-06-28 20:43] danZzyy commented on #135
Kotaro, I was talking about this
https://github.com/ProjectSidewalk/SidewalkWebpage/pull/132

These are the 20 messages:
 'Couldn’t have done it better myself.',
                'Aren’t you proud of yourself? We are.',
                'WOWZA. Even the sidewalks are impressed. Keep labeling!',
                'Your auditing is out of this world.',
                'Incredible. You\'re a machine! ...

[2016-06-28 21:44] nguyenist commented on #78
Feedback based on 3 usability studies:

User 1 takeaways:
- Did not see "Explain this" partly because my design didn't have an overlay
- Saw the "Click here... etc." but only after a long time.

User 2 takeaways:
- Tried to drag and drop multiple times and realized you needed to tap the button + drop
- Noticed the "Explain this!" and didn't notice the "Click here..." in Version C

User 3 takeaways

[2016-06-29 07:37] kotarohara opened #150 "The figure caption in the landing page needs to be shortened"
![image](https://cloud.githubusercontent.com/assets/612263/16444161/c3bcac08-3daa-11e6-8292-56fb171ebb81.png)

The figure caption for the second figure needs to be trimmed.

[2016-06-29 20:20] jonfroehlich opened #151 "Admin View of User Contributions: Clickable Map"
In reviewing user contributions from the admin interface (e.g., click on a user, which loads an overview page of their contributions--here's mine for example: http://sidewalk.umiacs.umd.edu/admin/user/Jon%20Froehlich), it would be nice if the label circles on the map were clickable. When clicked, we would load a 'view-only' (non-labeling) interface to look at the label in SV. As another suggestion

[2016-06-30 00:16] kotarohara commented on #78
# Scale
I gave thoughts on this. We are not going to flip the scale. 1 means accessible and 5 means inaccessible. This scale will be consistent across all the features. Meaning of scale 1, 3, and 5 are:
(1) **Passable:** Not an accessibility problem. Wheelchair users can navigate without a problem.
(3) **Could be a problem:** The problem could pose an accessibility problem for some people with mob

[2016-06-30 00:19] kotarohara commented on #78
\cc @nguyenist

This is awesome, but I was a bit confused by 'Would like to go with the overlay with "Explain [insert button titles: sidewalk problems]"' Could you explain this a bit more or show a design mock?

[2016-06-30 03:25] nguyenist commented on #78
@kotarohara

Screenshot / Option B. Instead of "Explain this" it would say "Explain Sidewalk Problems" / "Explain Curb Ramp" / "Explain Obstacle in Path" etc.

[2016-06-30 03:37] nguyenist commented on #78
@kotarohara Cool! Can people define any of the categories by using just this high level explanation? Expecting users to know / learn 5 separate categories with slightly different definitions might be asking a lot. I like being able to embed the concept 1 = good, 5 = bad throughout the categories.

A few questions:

Missing Curb Ramp
- When would someone mark "Missing Curb Ramp: N/A"? If N/A why ev

[2016-06-30 06:29] kotarohara commented on #78
@nguyenist

Yeah, what do you think? I'll welcome your opinion! I would put 1-5 scale issue aside for now though :) First, it's an optional information people can provide, so I wouldn't worry to much about it. And regarding "If N/A why allow this as an option," (a) you'll never know if it's obsolete or not, so collect as much data as possible; (b) we are just trying to provide as much instruction

[2016-06-30 10:55] nguyenist commented on #78
Would totally try to meet you but I'm out of town until Tuesday. Happy to
chat with you via Skype and parallel work on this. We can chat more details
so I make sure I'm understanding everything as you'd like.

Does that work? How about Friday?

On Thursday, June 30, 2016, Kotaro Hara <notifications@github.com> wrote:

--
Sent via mobile device

[2016-06-30 18:13] danZzyy opened #152 "Unlabeled Login"
The login fields are labeled in the text field only and disappear when you begin to type. I think there should be labels before each text field so the user does not get confused whether they should be entering username or email.
![image](https://cloud.githubusercontent.com/assets/13355765/16499016/7b787a8a-3ecc-11e6-86d6-71547e93e864.png)

[2016-06-30 18:20] danZzyy opened #153 "Update Keyboard Shortcuts in FAQ"
![image](https://cloud.githubusercontent.com/assets/13355765/16499236/74ce8a34-3ecd-11e6-9f25-91ad1847dc65.png)

We not have the 1,2,3,4,5, enter for label rating, as well as panorama moving and rotating with arrow keys.
Also only 2 questions does not seem like much of a FAQ for now

[2016-06-30 18:30] danZzyy commented on #136
The gray lines are associated with completedTaskLayerStyle. I assume that means areas of previous missions?

[2016-06-30 21:25] #135 closed

[2016-07-01 00:08] kotarohara commented on #78
You mean tomorrow, right? Sure! I'll be working all day, so call me whenever you want :) So my understanding is you'll spend time tomorrow and finish the design and implementation of the question buttons tomorrow?

[2016-07-01 01:37] nguyenist commented on #78
Just texted you. Will keep you posted after I get back in town.

On Thursday, June 30, 2016, Kotaro Hara <notifications@github.com> wrote:

--
Sent via mobile device

[2016-07-04 19:34] #122 closed

[2016-07-06 15:44] #141 closed

[2016-07-06 15:45] #126 closed

[2016-07-06 15:45] #143 closed

[2016-07-07 20:07] jonfroehlich opened #155 "Add individual label count in user's dashboard"
In the 'General Info and Stats' section, would be nice to have both overall label count (which you have) as well as a total for each of the label types (e.g., curb ramps, sidewalks obstacles, etc.).

![image](https://cloud.githubusercontent.com/assets/1621749/16667962/ebf39aca-445c-11e6-8286-42352dfd2b19.png)

[2016-07-07 20:10] jonfroehlich opened #156 "Consider hiding 'Retake Tutorial' menu option when taking tutorial"
When taking the tutorial, consider hiding the 'Retake Tutorial' menu option in the interface. It's a bit confusing having it there.

![image](https://cloud.githubusercontent.com/assets/1621749/16668020/44e3292a-445d-11e6-8c2e-e35d6fc028d5.png)

[2016-07-07 20:16] jonfroehlich opened #157 "Spacebar No Longer Works in Description Textbox"
This is a new bug (I've never seen it before). I can no longer put in a space character in the description textbox when labeling a problem. See below:

![image](https://cloud.githubusercontent.com/assets/1621749/16668227/28c9881e-445e-11e6-844d-b9556be431be.png)

[2016-07-07 20:25] jonfroehlich opened #158 "Mission Label Count Calculation Is Wrong"
Just finished my first mission as an anonymous user and the 'Mission Complete' dialog popped up but the label counts are wrong. All label types show a count of 9, but I know that's not correct because I did not select 'Surface Problem' at all.

![image](https://cloud.githubusercontent.com/assets/1621749/16668519/4d46cba6-445f-11e6-9ddd-eb7b0772a55f.png)

[2016-07-07 20:31] jonfroehlich opened #159 "Just Signed In and Mission Bar Wrong"
I just signed in as myself and was dropped into 'Mount Vernon Square, D.C.'; however, a few things are wrong. Full screenshot at end of post. I also included cropped parts of the interface to help highlight individual points.

![image](https://cloud.githubusercontent.com/assets/1621749/16668654/ea2f274c-445f-11e6-9fdc-e3315fa451c2.png)
First, while the label count for this neighborhood shows 195 (

[2016-07-07 20:35] jonfroehlich opened #160 "Should We Have 'Report Bugs' Link"
Should we have 'report bugs' link that brings people to this Issues tracker on github?

[2016-07-07 20:39] jonfroehlich opened #162 "Labels Disappearing in SV Interface"
I have never seen this bug before. I was just labeling as usual in an intersection and labels started to disappear. Judging by the top-down map (bottom-right corner), the system knows that the labels are there but they are not showing up in the SV interface. Note: I have yet to take a step in this mission, so the problem is not due to me moving.

![image](https://cloud.githubusercontent.com/assets

[2016-07-07 20:46] jonfroehlich commented on #162
Interesting, if I mouse over where I placed a label, I can see the mouse-over X (see screenshot):

![image](https://cloud.githubusercontent.com/assets/1621749/16669208/3b9c78bc-4462-11e6-92f8-fe931ecfb59a.png)

I can also click on where I think the label should be and it pops up a dialog box:

![image](https://cloud.githubusercontent.com/assets/1621749/16669227/4a45ac58-4462-11e6-96c0-43f445694bda

[2016-07-07 20:51] jonfroehlich opened #163 "Change mission text when a user comes back and the last saved mission is resumed"
[UPDATE (Sep 19)]: The new issue title corresponds to the [comment](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/163#issuecomment-244490905) below.

---

Original Issue Text:

I think this mission screen should be redesigned:

![image](https://cloud.githubusercontent.com/assets/1621749/16669247/72bfd3a2-4462-11e6-8225-4a1555715347.png)

At a minimum, I think we should change:
- The ti

[2016-07-07 20:58] jonfroehlich commented on #159
Towards the second point, I have now taken a few steps and my progress bar has jumped enormously. I'm confused. I thought the progress bar is representing 2.5 miles of work, but I've only taken 3 or 4 steps, how can I now be 23% complete?

![image](https://cloud.githubusercontent.com/assets/1621749/16669509/df2f1ec0-4463-11e6-8a0e-2dbb25015030.png)

The progress bar should correspond to the curren

[2016-07-07 21:03] jonfroehlich opened #164 "Can't Read Mission Bar Text When Yellow"
Can't Read Mission Bar Text When Yellow.

My suggested fix: change font color to black when mission bar is yellow.

![image](https://cloud.githubusercontent.com/assets/1621749/16669648/a201919e-4464-11e6-882a-a4e6a43bc41e.png)

[2016-07-07 21:06] jonfroehlich opened #165 "Can't Use Arrow Keys When Writing Description"
I can't use arrow keys when writing a description (e.g., to move the cursor position with keyboard). Instead, the cursor keys control panning. Can we check to see if the description textbox is in focus to fix this?

![image](https://cloud.githubusercontent.com/assets/1621749/16669737/16e2a174-4465-11e6-997e-51e69bcd16f7.png)

[2016-07-07 21:10] jonfroehlich opened #166 "Miles Audited In This Mission and Neighborhood Miles Audited So Far"
The two metrics "Miles audited this mission" and "Neighborhood miles audited so far" should not both be 2.5 miles here, but they are... Something is wrong. The "Neighborhood miles audited so far" number should be much higher.

![image](https://cloud.githubusercontent.com/assets/1621749/16669873/99a61154-4465-11e6-91af-5c0d1d41f61a.png)

[2016-07-07 21:15] jonfroehlich commented on #159
Towards the first point, I just finished the mission and now the miles walked icon for the 'Current Neighborhood' shows 2.63 miles--so it jumped from 0.00 miles to 2.63 miles.

![image](https://cloud.githubusercontent.com/assets/1621749/16670050/6c7dd1b6-4466-11e6-9b8f-b7e127da7c95.png)

[2016-07-07 21:28] jonfroehlich opened #167 "Admin Interface: Activities Today and Yesterday Columns Not Showing Data"
Admin Interface: Activities Today and Yesterday Columns Not Showing Data

![image](https://cloud.githubusercontent.com/assets/1621749/16670419/2682f4e6-4468-11e6-9ca7-6f5cc87857f4.png)

[2016-07-07 21:30] jonfroehlich opened #168 "Add Users As Activity Graph"
Consider adding users (unique active users on site) as a line graph in the Activities area of the admin interface:

![image](https://cloud.githubusercontent.com/assets/1621749/16670457/544c0df4-4468-11e6-817a-29720856002f.png)

[2016-07-07 21:32] jonfroehlich opened #169 "Admin Interface: Last Login Blank For Many Users"
For some reason, the last login entry for many users on the admin interface is blank. Is this because we did not track logins previously? If not, it looks like this is fixed now, right? That is, we do record individual logins in the database.

![image](https://cloud.githubusercontent.com/assets/1621749/16670540/b2ec4504-4468-11e6-9e37-d548b15e0e6b.png)

[2016-07-07 21:35] kotarohara commented on #167
I have not implemented this feature yet. I'll bump up the priority to medium.

[2016-07-07 21:35] jonfroehlich opened #170 "Consider Being Able to Sort 'Coverage Rate Per Neighborhood Bar Graph'"
Right now, the x-axis of the bar graph is arranged in alphabetical order. Consider either allowing the user to sort by either alpha order or % complete or changing default to % complete (sort in descending order from left to right).

![image](https://cloud.githubusercontent.com/assets/1621749/16670651/35c82010-4469-11e6-847d-1dd6a5af9a3d.png)

[2016-07-07 21:39] kotarohara commented on #169
This happens when a user Sign Up once and never Log In in again (because Log In is not recorded when they Sign Up). I update the code so when a user Sign Up it also records Log In.

[2016-07-07 21:46] kotarohara commented on #158
Actually @danZzyy just caught this and fixed it. He should be sending a pull request.

[2016-07-07 21:54] kotarohara commented on #159
**First point:** It should show the distance audited so far in the neighborhood. I guess it's not getting updated when you log in... Not sure why. I'll look into it.
**Second point:** It's cumulative distance. I have not updated the message.
**Third point:** We use shorter missions. They are broken down into 1000ft, 2000ft, 4000ft, 1mi, 1.5mi, 2mi, 2.5mi, and so on. Again, I have not updated the m

[2016-07-07 21:58] #169 closed

[2016-07-07 21:59] kotarohara commented on #165
I fixed it when I was fixing #157

[2016-07-07 21:59] #165 closed

[2016-07-07 21:59] #157 closed

[2016-07-07 22:03] kotarohara commented on #163
- "Make... Xmi". I agree using the name of the neighborhood. I think "make" is fine, but am open to change. Do you have suggestions? Btw, again, this is cumulative distance. So it should say "Audit 1/2mi to make 2.5mi accessible" or something.
- I agree. Or rather we could get rid of "Mission:" all together.

I don't think this is a high priority though.

[2016-07-07 22:04] kotarohara commented on #170
I agree this is low-priority.

[2016-07-07 22:04] kotarohara commented on #168
Again, agree that this is low-priority.

[2016-07-07 22:04] kotarohara commented on #167
Actually not sure if this is medium priority. I'll work on it when I get a chance.

[2016-07-07 22:06] kotarohara commented on #166
Good point. @danZzyy is working on the redesign of this modal window, so he can look into it.

[2016-07-07 22:06] danZzyy commented on #157
this is probably because I disabled space and the arrow keys when implementing arrow key moving and rotating. I wanted to prevent scrolling and didnt realize this would happen

[2016-07-07 22:09] kotarohara commented on #164
Can't find the related issue, but we discussed about the progress bar design somewhere. @danZzyy , can you link the issue that you worked on and link it to this issue, and fix it when you are done with the current task?

[2016-07-07 22:14] kotarohara commented on #160
Hmmm, probably not. We have comments field which let's people enter bug info. I think I made it so that it keeps some context information like panorama id. Can't do certain things like copy and paste screenshot but no one's going to do that anyway.

[2016-07-07 22:14] kotarohara commented on #160
I'm closing it now. Please reopen if you disagree.

[2016-07-07 22:14] #160 closed

[2016-07-07 22:17] kotarohara commented on #155
Yeah. It's not a high priority task though.

[2016-07-07 22:17] kotarohara commented on #153
@danZzyy

Can you do it after you are done with your current task?

[2016-07-07 22:19] kotarohara commented on #152
Can you make a mock up?

[2016-07-07 22:20] kotarohara commented on #152
We'll see if it'll look good. Low priority task, so you can do it when you are done with the current task.

[2016-07-07 22:38] kotarohara commented on #162
Actually I'm not sure why this is happening. The error messages were caused by other non-critical bugs (it was querying something unnecessary to Google).

[2016-07-07 22:38] kotarohara commented on #157
No worries. I fixed it.

[2016-07-07 22:43] kotarohara commented on #156
I don't think it's necessary.

[2016-07-07 22:48] kotarohara commented on #151
I agree this is low priority.

[2016-07-07 22:49] kotarohara commented on #147
@danZzyy Can you open new issues or tie these back to existing issues?

[2016-07-07 22:49] #146 closed

[2016-07-07 22:50] kotarohara commented on #146
Cache enabled for the demo page.

[2016-07-07 22:50] kotarohara commented on #145
Got the first ver done and we think it's good enough for now. I'm closing it for now.

[2016-07-07 22:50] #145 closed

[2016-07-07 22:55] jonfroehlich commented on #169
Great. Thanks.

Sent from my iPhone

[2016-07-07 22:57] jonfroehlich commented on #160
V good point. I agree.

Sent from my iPhone

[2016-07-07 23:01] kotarohara commented on #142
I think the problem was three-fold.
- There was a bug in transitioning to the next neighborhood when you are done with all the missions, which should be fixed.
- 100% missions were missing; when the neighborhood had 4.3 miles of streets and you've finished 4 miles, you couldn't do 0.3 miles.
- **Error 503:** I think you hit the timing when the server was down when I was deploying the app. I asked

[2016-07-07 23:01] #142 closed

[2016-07-07 23:02] kotarohara commented on #138
I'm closing this issue.

[2016-07-07 23:02] #138 closed

[2016-07-07 23:03] kotarohara commented on #137
@danZzyy Can you tie this to the issue that you are working on right now?

[2016-07-07 23:07] kotarohara commented on #129
This is probably due to the OpenStreetMap data we use. I cannot programmatically fix it (need to fix the data in the database).

[2016-07-07 23:09] kotarohara commented on #127
I updated the mission length. Each neighborhood now has: 1000ft, 2000ft, 4000ft, 1mi, 1.5mi, 2mi, 2.5mi, and so on.

[2016-07-07 23:09] #127 closed

[2016-07-07 23:10] kotarohara commented on #125
#163

[2016-07-07 23:11] kotarohara commented on #124
@danZzyy Can you tie this to the task you are working on right now?

[2016-07-07 23:13] kotarohara commented on #95
This should be fixed.

[2016-07-07 23:15] kotarohara commented on #95
Actually I realized there are multiple points in this issue.

- not starting from 0% should be fixed.
- I removed the 25% mission.

So yeah, actually this is done.

[2016-07-07 23:15] #95 closed

[2016-07-07 23:17] kotarohara commented on #78
@nguyenist Do you have updates?

[2016-07-07 23:19] kotarohara commented on #84
I should have implemented this.

[2016-07-07 23:19] #84 closed

[2016-07-07 23:21] kotarohara commented on #49
Updated the demo: sidewalk.umiacs.umd.edu/demo

[2016-07-07 23:21] #49 closed

[2016-07-07 23:23] kotarohara commented on #80
Related to #15

[2016-07-07 23:24] kotarohara commented on #80
Ongoing discussion on #78 . It should be moved here.

[2016-07-07 23:25] kotarohara commented on #43
I'm closing this as this is a duplicate of #72 .

[2016-07-07 23:25] #43 closed

[2016-07-07 23:26] kotarohara commented on #16
This is also related to #15

[2016-07-07 23:38] jonfroehlich commented on #49
Should we change the name of 'demo' in the menu to something else--like AccessScore.

As now, when I see demo, I thought that clicking on it would bring me to a demo of the data collection system not a demo of an API implementation.

Sent from my iPhone

[2016-07-07 23:38] jonfroehlich commented on #84
Fixed this you mean?

Sent from my iPhone

[2016-07-07 23:39] kotarohara commented on #84
Yes.

[2016-07-07 23:44] kotarohara commented on #166
This will happen in next few days; hopefully by the end of tomorrow.

[2016-07-07 23:50] jonfroehlich commented on #159
For the second and third point, the progress bar could show both the amount completed so far in neighborhood and the amount you're currently completing, similar to the Mission Complete progress bar:

![image](https://cloud.githubusercontent.com/assets/1621749/16673418/f9e8b484-447b-11e6-9d4f-bf1fa09c0f82.png)

Or you could just change the messages, as you suggest.

[2016-07-07 23:51] jonfroehlich commented on #163
I agree that it's not a high priority. I'd want to see a mock before we really do anything too drastic.

The mission text should be updated to more accurately reflect the actual current mission, however.

[2016-07-07 23:52] jonfroehlich commented on #167
I agree that it's a low priority and that @danZzyy should be able to do this. :)

[2016-07-07 23:52] jonfroehlich commented on #155
Would be nice to have and easy to implement imo. Just a SQL query and a bit of UI :)

How full is @danZzyy's plate? :)

[2016-07-07 23:54] jonfroehlich commented on #152
Honestly, I like it as is but I could be convinced to change it if Dan's
mockup is good. :)

On Thu, Jul 7, 2016 at 6:20 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-07-07 23:54] kotarohara commented on #159
**First point:** Fixed.

[2016-07-07 23:55] jonfroehlich commented on #162
Didn't this happen to @danZzyy one time as well? I seem to remember an email about it.

Note that I ended up refreshing the page, so lost my spot in the mission, but refreshing fixed it.

[2016-07-07 23:56] jonfroehlich commented on #156
I think it only makes sense to show this once you've finished the tutorial--otherwise, how can you retake something you've not done. This is needlessly confusing and an easy thing to fix...

But I agree that it is a low priority.

[2016-07-07 23:56] kotarohara commented on #159
Related to #163

[2016-07-07 23:57] jonfroehlich commented on #151
I still find myself really wanting this feature though. I want to either mouse over the dots and see a quick cropped version of the SV image with the label or to be able to click on the dots and be taken to the SV location with the current user's labels visible.

[2016-07-07 23:59] jonfroehlich commented on #129
I agree that this is a low priority.

[2016-07-07 23:59] jonfroehlich commented on #84
Great, thanks!

[2016-07-08 00:04] jonfroehlich commented on #145
Looks good to me!

[2016-07-08 00:06] kotarohara commented on #162
Did all the labels disappear all together? Or did labels appeared/disappeared when you changed the heading angle?

[2016-07-08 00:08] jonfroehlich commented on #147
I agree with @kotarohara.

@danZzyy: It's best to follow the general rule of one issue per Issue in Github. This is also, generally, the paradigm that we have been using with the other Issues on this repo--so just try to follow those examples.

And as Kotaro said, you need to add more context and descriptions when you post Issues, so that they are easier to understand and then address, as necessar

[2016-07-08 00:08] jonfroehlich commented on #162
I think they disappeared when I changed the heading angle but I can't recall exactly. Once disappeared, they never reappeared.

[2016-07-08 00:11] kotarohara commented on #151
Yes, I agree. But all the admin features are low priority for me now unless I need them for writing dissertation.

[2016-07-08 00:19] kotarohara opened #172 "Instruct users to see the Google Maps pane in the first mission"
![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/16673858/f6482b94-447f-11e6-97dc-9b9189f00589.png)

- On this screen, also highlight the Google Maps pane so that users will notice they have to follow the red line.
- Add a small text on the Google Maps pane saying "follow the red line."

[2016-07-08 00:21] jonfroehlich commented on #151
Yep!

[2016-07-08 00:22] kotarohara opened #173 "Instruct users to audit both sides of the street in the first mission"
![image](https://cloud.githubusercontent.com/assets/612263/16673887/46fca114-4480-11e6-8aed-f47d322d9011.png)

After this mission and when they take a step forward, show a message saying "Remember, we would like you to check both sides of the street! Please label problems like sidewalk obstacles and surface problems!"

[2016-07-08 00:27] kotarohara opened #174 "Add a feature to "go back to the starting point when you are too off from the route""
- When the user is really off from the audit route, show them a more noticeable message saying they are off from the route (rather than just highlighting U-turn).
- Add a feature so that clicking the blinking compass take a user back to the route.

[2016-07-08 00:27] kotarohara commented on #174
Maybe the task for next week. Work on it if I have time. Lower priority compared to other issues.

[2016-07-08 00:28] jonfroehlich opened #175 "Placed Label Icons Distorted in Microsoft Edge"
The SVGs in placed labels (see green circles) are distorted in Microsoft Edge.

![image](https://cloud.githubusercontent.com/assets/1621749/16673986/520689c0-4481-11e6-9a04-6a636e9540a4.png)

[2016-07-08 00:29] jonfroehlich opened #176 "Cursor Does Not Change in Microsoft Edge"
The cursor does not change to the hand when you are placing a label (the pointer finger icon) or when you are panning (full open hand then shifts to a grasp).

![image](https://cloud.githubusercontent.com/assets/1621749/16673992/7dc110e4-4481-11e6-916e-c6ab89f110ec.png)

[2016-07-08 00:30] kotarohara commented on #155
I think it depends on how hard it is to redesign the Mission Complete Modal #166 . This could be challenging as it requires some d3, but I want @danZzyy to work on it before doing anything else.

[2016-07-08 00:30] jonfroehlich opened #177 "SVG Icons on Placed Labels Do Not Show Up On Firefox"
Hmm, seems like this is only for curb ramp icon.

![image](https://cloud.githubusercontent.com/assets/1621749/16674007/ad411bca-4481-11e6-923b-0374c4c943ad.png)

[2016-07-08 00:31] jonfroehlich commented on #176
Also, the inferred position of the curb ramp label on the right is way off...

[2016-07-08 00:41] jonfroehlich opened #178 "In the FAQ, consider adding an entry on zooming the interface"
On my large monitor, I always find our interface to be way too small, so I use Chrome's built-in browser zoom functionality to increase the size of the interface... and I think everything works perfectly fine. Consider adding an entry on this in the FAQ.

Unzoomed:
![image](https://cloud.githubusercontent.com/assets/1621749/16674138/39d99f98-4483-11e6-9695-60773a46c7ba.png)

Zoomed:
![image](https

[2016-07-08 00:45] jonfroehlich opened #179 "Not Seeing New First Mission Tutorials"
I tried in Chrome and Firefox as an anonymous user.

[2016-07-08 01:00] jonfroehlich opened #180 "Negative Miles Remaining in Mission Complete Screen"
I just finished auditing my first _full_ neighborhood! However, I noticed that my neighborhood miles remaining is -0.09. Can we do NeighborhoodMilesRemaining = Max(CalcMilesRemaining(), 0) here?

![image](https://cloud.githubusercontent.com/assets/1621749/16674475/8d39a662-4486-11e6-931d-183c6fe310dc.png)

CCing @danZzyy since he seems to be in charge of this dialog.

Thanks!

[2016-07-08 01:05] jonfroehlich opened #181 "Finished My First Full Neighborhood But No New Mission Loaded"
I finished my first full neighborhood and the 'Mission Complete' dialog came up (see below) but after I clicked OK, I was brought to a blank screen (screenshot 2 and 3 below)

![image](https://cloud.githubusercontent.com/assets/1621749/16674479/9234a162-4486-11e6-96e8-8e0c9077904a.png)

![image](https://cloud.githubusercontent.com/assets/1621749/16674445/4d75fc56-4486-11e6-8257-08fe4d026475.png)

[2016-07-08 01:12] jonfroehlich commented on #151
Hmm, but this feature would be really nice for qualitatively exploring user contributed labels. For example, I'm trying to figure out what this user was doing. They have a lot of gray labels and a *very* high density of labels on audited streets.

![image](https://cloud.githubusercontent.com/assets/1621749/16674578/8891fafa-4487-11e6-8ad6-dd4560e1b280.png)

[2016-07-08 01:14] jonfroehlich commented on #151
Similarly, what was this user doing? Why do they have so many missing curb ramps in the middle of streets rather than at intersections.

![image](https://cloud.githubusercontent.com/assets/1621749/16674605/b91600c2-4487-11e6-86d3-6f52d1ff069a.png)

[2016-07-08 01:18] jonfroehlich opened #182 "Admin Interface: Select Label Types To Show on Map"
It would be interesting and useful to be able to select which label types to show in the admin interface map that visualizes all collected data. For example, if I wanted to see all missing curb ramp labels, I could deselect the other label types. As now, it's very difficult to see this information.

![image](https://cloud.githubusercontent.com/assets/1621749/16674653/4ca9b48c-4488-11e6-9bbf-22934c

[2016-07-08 12:47] jonfroehlich commented on #151
Also, this user walked five blocks but really only labeled one intersection, so we really can't count this walked route as a complete audit:

![image](https://cloud.githubusercontent.com/assets/1621749/16687723/47b48d48-44e8-11e6-83ad-1faf0bee94e3.png)

@kotarohara Do we have any idea of how common this behavior is? Or what the general quality of work we are seeing? How are we evaluating worker qu

[2016-07-08 12:52] jonfroehlich commented on #151
Here's another strange one. This user seems to be marking driveways as curb ramps:

![image](https://cloud.githubusercontent.com/assets/1621749/16687866/011f8116-44e9-11e6-9953-7729d92a77bf.png)

Now that we have active users in our system, I think it's really important that we start monitoring labeling behavior so that we can: (i) improve our tutorials to address common mistakes; (ii) add in acti

[2016-07-08 12:57] jonfroehlich commented on #151
Just judging by this top-down map, it appears that this user did pretty well (obviously can't be sure without inspecting the labels themselves); however, strangely the user did not audit the end intersections of streets, which I've circled in red. Why might this be? Perhaps these are drop points and the user did not look around at the drop point before taking a step? Or perhaps they are end points

[2016-07-08 13:15] jonfroehlich commented on #181
There's definitely a big problem here. I logged in this morning to see if I would be assigned a new neighborhood and, instead, I was greeted by a continuous loop of 'Mission Complete' messages. I kept clicking OK and then eventually I was dropped back into Mount Vernon Sq. but that's the neighborhood I just completed!

See video: https://youtu.be/RUHR6em9m7Y

[2016-07-08 17:01] jonfroehlich commented on #151
Looks like this user didn't understand the task as it appears they went off-route (I'm guessing you only count audited streets that occurred on the directed path). Notice how this user labeled lots of stuff but only one small part is marked as an 'audited street' (in black). This user also placed lots of 'Surface Problem' labels in this area, which may be accurate but we can't tell because there i

[2016-07-08 17:02] jonfroehlich commented on #151
@kotarohara, any thoughts on this?

[2016-07-08 22:44] kotarohara commented on #181
I'm working on this. It is weird that you are dropped into Mt. Vernon and shown the same mission completion messages that you saw yesterday... The admin interface says you are assigned to `Logan Circle/Shaw (Region ID: 241)`, so I have to look into why this is happening...

[2016-07-08 22:54] jonfroehlich commented on #181
That happened at very end of video. Did you notice that?

Sent from my iPhone

[2016-07-09 15:35] jonfroehlich opened #184 "First Goal in New Neighborhood Should Reset to Smallest Distance"
I believe that missions were meant to be neighborhood specific; however, after I finished my first full neighborhood (Mt. Vernon Square), I was assigned Logan Circle and my first mission was to make 4miles of that neighborhood accessible. Shouldn't 4 miles be far less--like the initial mission distance of 1,000ft (or whatever it is)? I'm confused.

![image](https://cloud.githubusercontent.com/asse

[2016-07-09 20:22] jonfroehlich opened #185 "Love the 'Can I Select A Neighborhood to Audit Video' - A Suggestion"
I love the 'Can I select a neighborhood to audit video' on the FAQ page. Nice job! I hope we can use this strategy for other things in the future!

![image](https://cloud.githubusercontent.com/assets/1621749/16710088/1f2f7090-45f1-11e6-958a-634732f1c483.png)

A few suggestions:

- Can we increase the default size of the video. It's so small, I can't view it easily without going fullscreen. Ideally

[2016-07-09 21:06] kotarohara commented on #185
Probably not gif; I don't know how to control play/stop. I'll adjust size.

YouTube: we could. Pro is we don't have to have huge binary file in our
repo and free view counter. Con is we have even more things/accounts to
manage. I think we can decide if we start having more videos.
On Sat, Jul 9, 2016 at 4:22 PM Jon Froehlich <notifications@github.com>
wrote:

[2016-07-09 21:28] jonfroehlich commented on #185
Sure. I understand re: gif. It may still make sense in some cases. I've seen it increasingly used on lots of websites to demonstrate 'how tos'--you can even split a video into two gifts side-by-side with captions.

I want to make a very simple 30 - 45 sec video overview of how to use Project Sidewalk. Will have to wait until after NSF deadline, however. :(

[2016-07-09 21:29] jonfroehlich commented on #178
Obviously, would have to make clear that this zoom is different than the tools built-in zoom functionality.

[2016-07-09 21:35] jonfroehlich opened #186 "Consider Adding Examples of Ratings 1, 2, 3, 4, 5 of Each Label Type to FAQ"
Consider Adding Examples of Ratings 1, 2, 3, 4, 5 of Each Label Type to FAQ.

This would also be--hopefully--in the updated '?' design in the actual interface.

[2016-07-10 13:13] jonfroehlich opened #187 "5280ft should be 1mile"
I just got a mission that said audit 5280ft, but this should be 1mi instead.

![image](https://cloud.githubusercontent.com/assets/1621749/16713723/8891890a-467e-11e6-89b6-6ed7bcd25674.png)

(Sorry, I didn't get a screenshot of the mission pop-up)

[2016-07-10 13:17] jonfroehlich opened #188 "User Dashboard Feature Idea: Allow User to See Their Contributions Compared to Others"
I like the 'Your Dashboard' feature, particularly the map:

![image](https://cloud.githubusercontent.com/assets/1621749/16713733/dae183f4-467e-11e6-9b9c-216ac30d5d3b.png)

But I think it would be interesting (and possibly motivating) to users to see their contributions in context to others. For example, allowing the user to see the full map like this:

![image](https://cloud.githubusercontent.com/

[2016-07-10 13:30] jonfroehlich commented on #166
Note: this is still broken.

![image](https://cloud.githubusercontent.com/assets/1621749/16713816/e8dd77c2-4680-11e6-8e11-b9d5ccb38e8b.png)

[2016-07-10 13:34] jonfroehlich opened #189 "Admin Interface: I added a comment via the Feedback button yesterday, but not showing in admin interface"
Admin Interface: I added a comment via the Feedback button yesterday, but not showing in admin interface.

![image](https://cloud.githubusercontent.com/assets/1621749/16713843/69dd92ee-4681-11e6-9c8c-50aebc3236b0.png)

[2016-07-12 00:13] jonfroehlich commented on #166
@danZzyy @kotarohara, any updates on this. I checked tonight and it appears still broken.

[2016-07-12 00:24] jonfroehlich commented on #189
Also not showing in the direct url admin interface for the user (in this case, jonfroehlich):

![image](https://cloud.githubusercontent.com/assets/1621749/16751182/74f7820a-47a5-11e6-8c10-30f8b41069ae.png)

@kotarohara, is this a UI problem or are we not saving feedback from users correctly in the database?

[2016-07-12 00:31] jonfroehlich opened #190 "Total Distance Audited in Km on Dashboard"
In the dashboard for users, the total distance audited is in km; however, other parts are in miles. So, let's put miles as the main metric (and km in parenthesis).

![image](https://cloud.githubusercontent.com/assets/1621749/16751316/62bbc654-47a6-11e6-8f20-b8b07305b75c.png)

[2016-07-12 06:48] kotarohara commented on #190
I feel like there was a same issue somewhere.

[2016-07-12 06:49] kotarohara commented on #189
I think there is an issue with comment feature.

[2016-07-12 16:51] jonfroehlich opened #191 "Admin Interface: Add # of Logins to Table"
Consider adding a new column "# of Logins" to Users table in admin interface.

![image](https://cloud.githubusercontent.com/assets/1621749/16775567/461da65a-482f-11e6-81dc-b633a50848a6.png)

[2016-07-12 20:55] danZzyy commented on #166
Sorry, I hadnt encountered this issue. Since my dev db has a lot less audit information I am usually placed in a neighborhood that did not have previously completed missions.

[2016-07-18 17:18] #136 closed

[2016-07-18 17:18] #89 closed

[2016-07-18 17:18] #166 closed

[2016-07-18 17:18] #153 closed

[2016-07-18 17:24] danZzyy commented on #164
this was way back in https://github.com/ProjectSidewalk/SidewalkWebpage/pull/75
I think we decided on this color scheme
![image](https://cloud.githubusercontent.com/assets/13355765/16923911/a33b64f2-4cea-11e6-81be-0c85d2bf9c89.png)
Because there were so many attributes to the progress (percent displayed, bar progress/visible proportion, and color) that I thought color was unnecessary to change unt

[2016-07-18 17:35] jonfroehlich commented on #164
I agree. I like this.

On Mon, Jul 18, 2016 at 1:24 PM, Dan Zadorozhnyy <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-07-18 17:37] danZzyy commented on #124
- I think the neighborhood highlighting could be accomplished in css. I am wondering what Kotaro's thoughts on this are
- Percentage text an existing div, it is just hidden so that's an easy fix too
- The neighborhood is already identified in the title so I think that may be redundant. I do agree adding "Progress"  clarifies the metric
- Might removing "neighborhood" confuse the user with whether

[2016-07-18 19:53] kotarohara commented on #124
- **Highlighting current neighborhood.** As Jon said, it is highlighting the current neighborhood by white. Daniil, you can work on it to make it more apparent if you think it's not.
- **Percentage label in the progress bar.** Daniil, please fix.
- **Neighborhood -> Neighborhood Progress.** Please use "Neighborhood Progress"
- **Removing "neighborhood."** I agree with Daniil. We should keep "neigh

[2016-07-18 19:55] jonfroehlich commented on #124
I'm fine with keeping "neighborhood" on those lines but please make the text into single lines (rather than double lines).

[2016-07-20 17:54] jonfroehlich opened #195 "Just Logged On, Got New Mission (4.5 Miles!) But Progress Bar Already Says 9.5% Complete"
I guess I must still not understand how we are doing missions. If I'm told that my mission is to audit 4.5 miles, I expect to have to walk 4.5 miles in the mission and that the mission tracker should start with 0% (to correspond to having walked 0 miles), then when I walk 1 mile, the mission tracker should say ~22%, and then 2 miles, the mission tracker should say 44%, etc.  If this is *not* how m

[2016-07-20 18:15] jonfroehlich opened #197 "Ratings Not Being Saved Bug"
I've never seen this before but it looks like my severity ratings are suddenly not being saved--I can't tell if this is a backend problem (e.g., the ratings actually are not being saved) or a UI problem (the ratings are being saved but not shown correctly).

I took a video: https://youtu.be/AjdtlMcmjn0 (still uploading, hopefully will be done soon).

Oh and I opened the console in Chrome and there

[2016-07-20 18:31] kotarohara commented on #197
I have no clue why it is happening. I'll look into it when I start coding again.

[2016-07-20 18:32] kotarohara commented on #195
This is a duplicate of previous issue. I'll tie it back to the existing open issue when I get a chance, which is probably after Aug 1st.

[2016-07-21 17:51] #164 closed

[2016-07-21 17:51] #124 closed

[2016-07-26 15:02] jonfroehlich opened #198 "Method to Export Cropped Screenshots of All Labeled Artifacts"
For future CV work, we need a method that exports a cropped rectangle of all labeled artifacts along with metadata about that rectangle (e.g., similar metadata to what we had for Tohme for labelled spots).

[2016-07-29 16:27] danZzyy opened #200 "Can't Move in the Middle of a Mission"
This is something new I encountered on my local server. I am not sure I have seen this happen before.  I am placed in a mission, take one step, and cannot move because I get this error :
![image](https://cloud.githubusercontent.com/assets/13355765/17255556/c07aedda-5587-11e6-97f4-4e1a8105ceb3.png)

[2016-08-02 19:44] kotarohara commented on #200
I will look into it. From next time, please provide more informative bug report! A report with a failing test case will be helpful too.

[2016-08-02 19:53] kotarohara commented on #191
@danZzyy , you should work on this when you are back from vacation.

[2016-08-02 20:06] kotarohara opened #201 "Should the videos be hosted on YouTube?"
Currently the videos are hosted on the UMIACS server. We may want to move these videos to YouTube.

**Pros:**

- We do not have to host video files that tend to be heavy (I do not like putting heavy stuff on GitHub)
- The videos can be viewed not only from the Project Sidewalk web page, but also from other places (not important for tutorials, but will be important for demo videos once we make them

[2016-08-02 20:08] kotarohara commented on #185
I think hosting the videos on YouTube is another issue, so I moved it to the new issue ( #201 ). I'm closing this one.

[2016-08-02 20:08] #185 closed

[2016-08-02 20:10] kotarohara commented on #184
It actually should reset the missions. I will look into it.

[2016-08-02 20:12] jonfroehlich commented on #184
OK. Good, I agree that this should be the intended behavior. Missions should be neighborhood specific so when you start a new neighborhood, you should begin with the initial mission and progress from there.

[2016-08-02 20:14] kotarohara commented on #158
This should have been fixed by @danZzyy . I'm closing this.

[2016-08-02 20:14] #158 closed

[2016-08-02 20:16] kotarohara commented on #147
I'm closing this issue as I don't think there are any open problems. @danZzyy let me know if this is not the case.

[2016-08-02 20:16] #147 closed

[2016-08-02 20:17] kotarohara commented on #137
I think @danZzyy fixed this. Daniil, can you check and close this? Thanks.

[2016-08-02 20:19] kotarohara commented on #12
Related to #155

[2016-08-02 20:20] kotarohara commented on #155
Related to #12

[2016-08-02 20:20] jonfroehlich commented on #158
Can you verify that it is fixed?

[2016-08-02 20:25] kotarohara commented on #158
Yes, I've checked.

[2016-08-02 20:46] jonfroehlich commented on #158
Great, thanks.

On Tue, Aug 2, 2016 at 3:25 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-08-05 22:27] kotarohara commented on #125
Updated the mission modal window.

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/17452111/43a8e0e2-5b3a-11e6-9ca2-9f5f6f70b9e3.png)

[2016-08-05 22:27] #125 closed

[2016-08-05 22:28] kotarohara commented on #187
This became no longer a problem as I updating #125

[2016-08-05 22:28] #187 closed

[2016-08-05 22:29] kotarohara commented on #163
Updated. Screen shot on #125

[2016-08-05 22:30] kotarohara commented on #112
Updated. Screenshot on #125

[2016-08-05 22:30] #112 closed

[2016-08-06 18:21] #180 closed

[2016-08-06 18:31] #190 closed

[2016-08-06 22:18] kotarohara commented on #197
Fixed

[2016-08-06 22:18] #197 closed

[2016-08-06 22:26] jonfroehlich commented on #197
What was the issue?

[2016-08-07 04:55] kotarohara commented on #197
The keyboard shortcuts were not implemented correctly.

[2016-08-07 17:32] jonfroehlich opened #202 "Anyway to Quickly Tell What Version Deployed to Production Server"
Is there any easy way to tell what version of Project Sidewalk is deployed on production server?

For example, maybe the footer on the landing page has a last updated date or a version number or something.

Obviously, this is a low priority but I'd like to know what "version" I am using when I'm testing the site.

[2016-08-07 18:39] jonfroehlich opened #203 "Street Segment Not Marked as Walked Even Thought it Was Walked"
About ~1 month ago, I audited this street segment. I just logged in today to test out the system a bit and I was routed along a long street that I thought was familiar--I checked the dashboard and, in fact, it's a street that I already audited but was not marked as walked. You can tell this because you can see labels that I applied but the street is does not have the gray line.

Here's the dashboa

[2016-08-07 18:40] jonfroehlich commented on #203
You can tell that this route is a super long street segment so maybe that has something to do with it?

[2016-08-07 18:52] jonfroehlich commented on #203
OK, it looks like it shows up as audited in the mission complete dialog:

![image](https://cloud.githubusercontent.com/assets/1621749/17464502/456018d6-5cae-11e6-9b1d-0c4e19639fb2.png)

But I just reloaded the dashboard and that segment still shows as incomplete:

![image](https://cloud.githubusercontent.com/assets/1621749/17464507/622729a0-5cae-11e6-905c-d59c22b69862.png)

Which means I can never

[2016-08-07 19:08] jonfroehlich commented on #202
I'm guessing the site has not been updated because the mission dialog is still broken (e.g., miles audited in this mission = neighborhood miles audited so far--but this is wrong):

![image](https://cloud.githubusercontent.com/assets/1621749/17464612/c2fcb3f6-5cb0-11e6-9ffa-540a168b337d.png)

[2016-08-07 19:24] jonfroehlich opened #204 "Are We Sure that Comments Are Being Saved Correctly?"
I thought I entered this bug report before but I could not find it (either in open or closed issues).

I like to add comments to some of my labels; however, I have no way to review these comments. In the admin interface, we do show the "Last 100 Comments" but this appears broken (which is what I thought I previously entered as a bug report). The "Last 100 Comments" has been stuck on showing commen

[2016-08-07 21:13] danZzyy commented on #137
fixed here https://github.com/ProjectSidewalk/SidewalkWebpage/pull/196

[2016-08-07 21:13] #137 closed

[2016-08-08 11:18] #189 closed

[2016-08-08 11:19] kotarohara commented on #204
This is a duplicate of #189 and it has been fixed. But I haven't pushed it yet.

[2016-08-08 11:19] #204 closed

[2016-08-08 12:41] jonfroehlich commented on #189
So that means that the comments are *not* being saved? (Hence, all of my time spent typing in comments was for naught?).

This also affects our ability to analyze user comments. :(

[2016-08-08 19:47] jonfroehlich commented on #143
At some point, @kotarohara and I discussed having the 'Last Login' = 'Date Registered' when the user never logged in more than once--in other words, their only login was when they registered the account.

@danZzyy, can you update the UI so that 'Last Login' is never blank reflecting this case? It just helps with sorting the table.

[2016-08-11 13:56] kotarohara commented on #184
Wrote a bunch of tests but I cannot reproduce the bug, so I'm guessing I've fixed it while I've been fixing other parts. I'm closing this issue.

[2016-08-11 13:56] #184 closed

[2016-08-14 18:32] Soben713 opened #211 "Current Mission progress bar goes down as the user steps backward"
I'm not sure how I ended up here, but as you can see in the first picture, the caption states that I should walk straight. But after I do, mission's progress bar resets to 4% (second picture).

I guess this happened because I didn't complete some parts of the route and came back to the starting point. It is probably not a bug, but still I think it is a usability problem and there should be a way t

[2016-08-14 18:37] Soben713 opened #212 "Zooming in/out distorts the placement of the arrows in tutorials"
There are some problems with the placement of the arrows to which the user should add a label in the tutorial. This specially happens when you zoom in/out

<img width="812" alt="screenshot 2016-08-13 18 19 02" src="https://cloud.githubusercontent.com/assets/1576529/17651075/824a0ca6-622c-11e6-8537-a1244eb58c3a.png">
<img width="834" alt="screenshot 2016-08-13 18 19 14" src="https://cloud.githubuse

[2016-08-16 20:04] #191 closed

[2016-08-16 21:19] Soben713 opened #213 "Bug In Using Keyboard For Labeling"
When using keyboard numbers to specify a label's significance (passable/not passable) the corresponding radio-button gets selected but it is not saved. I'm using Chrome v52.

[2016-08-17 12:49] jonfroehlich commented on #213
This is a duplicate of https://github.com/ProjectSidewalk/SidewalkWebpage/issues/197.

I believe it was fixed. I'll let @kotarohara comment and close if it is.

[2016-08-17 12:50] jonfroehlich commented on #212
Interesting. I'd not seen this before. I suppose it's related to Zoom In/Zoom Out as you say. I think the easiest fix would be to disable Zoom In/Zoom Out during the tutorial.

[2016-08-19 22:55] kotarohara commented on #80
Updated the design of the context menu.

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/17826406/8a9bc9ba-663e-11e6-8f6a-37d718bcff26.png)

[2016-08-19 22:55] #80 closed

[2016-08-19 22:56] kotarohara commented on #15
Updated the design. Please see #80

[2016-08-19 22:56] #15 closed

[2016-08-19 22:57] kotarohara commented on #16
Updated the design. Please see #80

[2016-08-19 22:57] #16 closed

[2016-08-22 13:07] jonfroehlich commented on #80
This is great @kotarohara! Nicely done.

I imagine that the 'Description' blank automatically changes the 'e.g.,' part depending on the label type?

![image](https://cloud.githubusercontent.com/assets/1621749/17855630/b004a9d2-6847-11e6-9338-d448fe469a79.png)

[2016-08-22 13:15] jonfroehlich commented on #202
I still think this would be useful to me. I can see that you haven't pushed some new changes yet (e.g., the Likert scale bar is still the old one) but I can't tell if you fixed the comment uploading and the keyboard rating thing.

Can you just add a deployment timestamp (date & time) to footer:

![image](https://cloud.githubusercontent.com/assets/1621749/17855879/e22bd38a-6848-11e6-9a34-d1c601ed59

[2016-08-22 13:18] jonfroehlich commented on #204
Have you pushed it now? It looks like the Comments UI in the admin dashboard is still broken. :(

![image](https://cloud.githubusercontent.com/assets/1621749/17855977/5a2a8372-6849-11e6-8156-3c65efe811d6.png)

[2016-08-22 13:26] jonfroehlich commented on #80
Also, @kotarohara, when you hit enter, does the dialog box close (e.g., automatically 'click' the OK button on enter keypress)? If not, can we do that?

[2016-08-22 13:36] jonfroehlich opened #216 "Mission Complete Route Animation"
I like the redesign of the mission complete route animation; however, three things:
- The just completed green route animation is _way_ too slow. It takes a very long time for a route to animate and by then, most users will have already clicked 'Continue.'
- Ideally, the green route animation would draw while the green mission complete part of the progress bar is animating (in other words, they wo

[2016-08-22 13:39] jonfroehlich opened #217 "Bug in New Mission Complete Dialog"
It shows that I audited 2.5 miles in this mission but have only completed 0.5 miles in the neighborhood. How is this possible? Shouldn't audited in this neighborhod always be >= to miles audited in the mission?

Could it be that this is a simple problem with function call mismatch--perhaps the function for calculating how many miles completed in this mission is being called to calculate the neighb

[2016-08-22 13:47] jonfroehlich commented on #212
@kotarohara, can you please respond about this issue and your perceived severity of the problem. @Soben713 seems to indicate that this only happens when you zoom in and out in the tutorial.

[2016-08-22 13:48] jonfroehlich commented on #211
@kotarohara, do you know what's going on here? This definitely seems like a bug. The progress bar should only update when the user is progressing along the red path, right?

@Soben713: I've never seen this problem before and I've completed ~50 missions :). So, can you provide a bit more detail on what you were doing when this happened?

[2016-08-22 13:53] jonfroehlich commented on #213
@kotarohara, is this now fixed?

[2016-08-22 15:23] kotarohara commented on #213
Yes, this is fixed.

[2016-08-22 15:23] #213 closed

[2016-08-22 15:28] kotarohara commented on #211
Ok, yeah. It didn't happen before, but I see it is happening now. I suppose the progress bar is using the current position of the user instead of the furthest point that the user have traveled to.

[2016-08-22 15:32] jonfroehlich commented on #211
@kotarohara, OK. Yah, let's fix that.

@Soben713. Nice find! Thank you very much for contributing this.

[2016-08-22 15:50] kotarohara commented on #212
Yeah, I figured the arrows in the tutorial does not take into account of zooming. I think we can just disable zooming.

[2016-08-22 15:54] jonfroehlich commented on #212
@kotarohara, great, I agree!

[2016-08-22 15:54] kotarohara commented on #217
Yeah, I found that the two numbers are flipped in Daniil's code when calling a method. I fixed it on the weekend.

[2016-08-22 16:01] kotarohara commented on #80
Re: Description. Yes, e.g., changes depending on the label type. It's been like that for a while, actually :)

Re: Enter. Yeah, it's possible.

[2016-08-22 16:03] kotarohara commented on #204
Yes, you can add a comment and should show up on the admin page.

![project_sidewalk](https://cloud.githubusercontent.com/assets/612263/17861779/6e767626-6860-11e6-8368-7fb13ba6fe8c.png)

[2016-08-22 16:21] jonfroehlich commented on #204
Great!

![image](https://cloud.githubusercontent.com/assets/1621749/17862368/ebd7a64c-6862-11e6-8204-f590fdb7b5b9.png)

[2016-08-22 16:28] jonfroehlich commented on #80
@kotarohara

Re: Description. Great!

Re: Enter. Can you do that then? Your answer was ambiguous. :)

[2016-08-22 16:35] jonfroehlich opened #218 "Example Descriptions in Labeling Pop-Up Window"
**Curb Ramp Missing** needs a description. How about: "(e.g., the curb has a low profile so may be passable by some manual wheelchair users): or if that is too long, something like "(e.g., there's no curb ramp here but unclear if one is needed)"
![image](https://cloud.githubusercontent.com/assets/1621749/17862620/07161f64-6864-11e6-8a46-454119c8fff9.png)

**Obstacle in Path.** Rather than having s

[2016-08-22 16:36] jonfroehlich commented on #217
Great, we can close this now then, right? Or have you not tested it yet?

[2016-08-22 16:41] jonfroehlich commented on #195
@kotarohara, what's the status of this? Have you fixed this yet and is the fix on the deployment server? I just logged in and saw that my mission bar was immediately at 49%--is this because we now save state. That is, if you leave before completing a mission, the backend automatically saves where you left off and you start at that point the next time you log in? Or what's going on?

![image](https

[2016-08-22 16:54] kotarohara commented on #202
Ok. Done.

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/17863383/793f2baa-6867-11e6-9bba-9be390a5feac.png)

[2016-08-22 16:54] #202 closed

[2016-08-22 16:58] kotarohara commented on #217
Yes, I'm closing this.

[2016-08-22 16:58] #217 closed

[2016-08-22 17:13] kotarohara opened #219 "Hit enter to close the context menu"
Hitting enter should close the context menu. See #80 for the related conversation.

![image](https://cloud.githubusercontent.com/assets/612263/17863986/151a4738-686a-11e6-8cd2-39cc1fd5afbe.png)

[2016-08-22 17:24] jonfroehlich commented on #195
Here's another screenshot (note that the progress bar in the background is already 49%):

![image](https://cloud.githubusercontent.com/assets/1621749/17864343/b2b361c2-686b-11e6-93df-2b110d4dd896.png)

[2016-08-22 17:26] jonfroehlich opened #220 "Keyboard Ratings No Longer Work With New Smiley Face Rating's Dialog"
![image](https://cloud.githubusercontent.com/assets/1621749/17864388/e24de470-686b-11e6-9b6a-e87240801eab.png)

[2016-08-22 17:31] jonfroehlich opened #221 "When You Place a New Label, the Rating Looks Like It's Already Filled Out"
When you place a new label, the rating looks like it's already filled out (to the rating that was last used). Screenshot below.
![image](https://cloud.githubusercontent.com/assets/1621749/17864432/13126536-686c-11e6-9ce4-04a593840d3f.png)

Movie here: https://youtu.be/gVl6WsROTuA

[2016-08-22 17:41] jonfroehlich opened #222 "Table That Shows Most Recent Labels, Severity Ranking, Descriptions"
Is there currently a way to review the labels, severity, and descriptions left in the pop-up label dialog in the admin interface?

![image](https://cloud.githubusercontent.com/assets/1621749/17864881/dc4f878e-686d-11e6-920f-e5f5cc072f59.png)

If not, could we add something for this? Two quick ideas:

- A table that just shows the most recent labels, severity ranking, and descriptions entered into

[2016-08-22 17:49] jonfroehlich opened #223 "Mission Structure"
I'm confused about the length of missions. Can you specify what the mission lengths are as you progress through a neighborhood. I've completed ~6 missions I think in Congress Heights and I'm still being assigned 1/2 mile missions. Is this right? What's the correct mission length behavior?

![image](https://cloud.githubusercontent.com/assets/1621749/17865164/2813079e-686f-11e6-8abf-e54c9968d5bb.png

[2016-08-22 17:50] kotarohara commented on #221
I noticed earlier and fixed it already.

[2016-08-22 17:50] #221 closed

[2016-08-22 18:18] jonfroehlich commented on #186
This is related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/79. Once https://github.com/ProjectSidewalk/SidewalkWebpage/issues/79 is complete, would be very easy to add this to the FAQ.

We should monitor FAQ website traffic to see how frequently visited it is. My guess is, traffic will be quite low to this compared to actual audit pages.

[2016-08-22 18:27] jonfroehlich opened #224 "Activity Visualization on Admin Pages Not Working?"
![image](https://cloud.githubusercontent.com/assets/1621749/17866429/78c668ac-6874-11e6-902a-260794feb395.png)

[2016-08-22 19:16] manaswis opened #225 "Onboarding tutorial gets stuck after panning too much"
The tutorial gets stuck after the user pans and doesn’t mark the yellow arrow in the tutorial. And since the yellow arrow doesn’t have a label on it, it’s a bit confusing. The info box (that gives step-by-step instruction to the user) is still visible. So a next button on the info boxes would be useful. That would help bring the user back to the point where (s)he left off, else it’s confusing for

[2016-08-22 19:17] manaswis opened #226 "Reducing the number of clicks for labeling"
Currently, for every label, there is a minimum of four clicks (1. Click on type of label 2. Click the interface 3. Click for rating 4. Click for comments (optional) 5. Click for closing the box). This could be reduced. For e.g. automatically closing the labeling/comment box when return-key is pressed.

[2016-08-22 19:19] manaswisaha opened #227 "Tutorial: Give info on hovering over buttons"
Hovering over each of the buttons could give a pop-up box to tell about its functionality. This would be helpful if for some reason the user gets stuck at some point. (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/225)

[2016-08-22 19:20] #220 closed

[2016-08-22 19:21] manaswis opened #228 "Tutorial: Learning to walk not very clear"
**UPDATE: Mar 22**

OLD Issue Statement:
Learning how to walk wasn’t very clear in the tutorial. The small circle marked ‘here’ is almost covered by the info box. But the actual way of walking straight is clicking one of the arrows that show up (part of the StreetView interface).

![learning_to_walk](https://cloud.githubusercontent.com/assets/2873216/17868293/499edc00-687c-11e6-90ac-0f2db2f2ed1d.p

[2016-08-22 19:29] manaswis opened #229 "Labels disappear from the interface after moving"
During onboarding, after we pan the whole intersection, coming back to the first view that we had labeled, all the labels that we marked weren’t visible on the interface. The text says we marked it but the interface doesn’t show it has.

Similarly on the usual audit screen, after zooming in, all the labels for the ramps disappear from the screen even when they are visible in the walk screen.

<img

[2016-08-22 19:35] manaswis opened #230 "Mission complete dialog box shows up after retaking the onboarding tutorial"
After completing onboarding tutorial and pressing ‘OK’ (in the image), I am brought back to the same interface (see image 2). Only after clicking the walk straight arrow, the mission complete sound and box shows up, and then the next mission is shown (image 2).

![f1](https://cloud.githubusercontent.com/assets/2873216/17868624/9ae6589e-687d-11e6-8dba-c75fadd37292.png) Image 1: After onboarding com

[2016-08-22 19:39] manaswis opened #231 "Panning and zooming in and out creates distorted images"
![distorted1](https://cloud.githubusercontent.com/assets/2873216/17868854/a161ec96-687e-11e6-82d6-f0d0bb1bfb89.png)
![distorted2](https://cloud.githubusercontent.com/assets/2873216/17868855/a1669ef8-687e-11e6-90fb-702ad3ad1251.png)

[2016-08-22 19:41] manaswis opened #232 "Clicked ‘back’ by mistake and lost all my progress in the current mission"
When I first starting using the tool, I audited a couple of miles. While auditing I clicked the back button before I finished the ongoing mission, and when I came back to the audit screen again, I couldn't see the ongoing mission anymore. I was ported to another neighborhood.

SUGGESTIONS:
Getting access to ongoing missions from the dashboard would be useful.

[2016-08-22 19:49] manaswis opened #233 "Transition from old mission to new mission is a bit confusing"
There are two issues with the transition text from old to new mission:

1) Next mission’s instruction text (shown below) looks extremely similar to the old mission text if the audit is being done in the same neighborhood. (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/234)
<img width="1280" alt="screen shot 2016-08-22 at 11 41 51 am" src="https://cloud.githubusercontent.com/assets/2873

[2016-08-22 19:54] manaswis opened #234 "Next mission text needs more clarity"
The next mission text sometimes looks very similar to the old ones (maybe coz of the old missions being in the same neighborhood), which might be confusing.

Modifying the text by one connecting to the old mission and then the new mission text would help. E.g. "Brilliant! You covered x miles in your last mission in X neighborhood." Then the new mission text..

<img width="1280" alt="screen shot 20

[2016-08-22 19:58] manaswis opened #235 "Misalignment of SV interface image with the top-down map"
The top-down map doesn’t align with how far I am from the intersection (next or previous) on the main image screen.

<img width="1280" alt="screen shot 2016-08-22 at 11 44 11 am" src="https://cloud.githubusercontent.com/assets/2873216/17869406/228a9352-6881-11e6-98d2-bfa643a1842d.png">

[2016-08-22 20:08] manaswis opened #236 "Red route in the top-down map should load a little before reaching the intersection"
Top-down map doesn’t show the complete path when close to the intersection while the progress bar shows the mission is half done. Top-down map path ends at the intersection. It loads the route at the intersection. It should load a little before the intersection when the intersection is visible in the top-down map.

Not loading before gives the feedback to the user that his mission is near complete

[2016-08-22 20:16] jonfroehlich commented on #225
I don't actually understand this. Can you either make a movie or attach a series of screenshots.

We often make lil videos to record bugs. See, for example:
- https://www.youtube.com/watch?v=gVl6WsROTuA
- https://www.youtube.com/watch?v=RUHR6em9m7Y

[2016-08-22 20:17] jonfroehlich commented on #230
Hmm, this definitely doesn't seem right. @kotarohara, can you investigate?

[2016-08-22 20:18] jonfroehlich commented on #235
@manaswis, what do you mean by the 'small walk screen'?

[2016-08-22 20:19] jonfroehlich commented on #231
This is an artifact of Google Street View and will not be fixed.

[2016-08-22 20:19] #231 closed

[2016-08-22 20:20] manaswis commented on #235
Okay, found the term. I wasn't sure what to call it. Its the 'top-down map'.

[2016-08-22 20:23] jonfroehlich commented on #226
I agree that this is a problem. We've discussed this quite a bit but have not found a particularly good solution.

Note: although admittedly very few users will probably discover our keyboard shortcuts (because we don't actually teach them about this feature), I actually click only once for every label (1. click to place label) because I use the keyboard shortcuts for:

- Selecting the label type

[2016-08-22 20:23] manaswis commented on #225
Okay, I will do that.

[2016-08-22 20:24] jonfroehlich commented on #235
The position of the human avatar on the top-down map is based on Google's own APIs. We do not have control of this. It should be a fairly precise representation of your location in GSV (as precise as Google's data is).

Is this what you are referring to?

[2016-08-22 20:25] manaswis commented on #235
Ah, I see. Yes, that's what I was referring to.

[2016-08-22 20:26] jonfroehlich commented on #232
This is related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/72 and is currently marked as a low-priority because of the dev time required to implement it and the number of times we predict that this will be used.

Feel free to disagree with us.

[2016-08-22 20:27] jonfroehlich commented on #235
I'm closing this because it's not a problem on our side (and I'm not sure it's really a problem... I've found that the avatar placement is perfectly fine).

@manaswis, if you have some examples documenting how you think the avatar placement is wrong, please provide them. I'm closing for now. Feel free to reopen.

[2016-08-22 20:27] #235 closed

[2016-08-22 20:29] jonfroehlich commented on #227
What buttons?

Also, some buttons do have pop-up boxes (hover on the '?').

See also perhaps the most controversial and discussed issue in Project Sidewalk's history: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/78

(Note: I'm not a fan of the '?' but we have not had time to come up with a great alternative solution and now our entire focus is on deploying. So, again, unless you have

[2016-08-22 20:35] manaswis commented on #225
I couldn't recreate that situation again. Closing this issue for now. If I am able to recreate it again, I will reopen it.

[2016-08-22 20:35] #225 closed

[2016-08-22 20:35] jonfroehlich commented on #233
I agree that the next mission screen could really be improved (indeed, here's one suggestion on that: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/94; I had also previously suggested that the Mission Complete dialog and the Next Mission dialog should be combined in someway).

I think the key point you make here is that the mission screen seems so similar to the last mission screen tha

[2016-08-22 20:36] jonfroehlich commented on #234
This is related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/233 and https://github.com/ProjectSidewalk/SidewalkWebpage/issues/94

[2016-08-22 20:39] jonfroehlich commented on #228
What do you mean by the small circle marked clear?

Also, you can double click on a distant part of a road to move in that direction in the GSV interface. Was that not clear from the tutorial?

Finally, after you're done with the tutorial but while completing your very first mission, you should have received some more pop-up instructions guiding you on what to do. Did you receive those instruction

[2016-08-22 20:43] jonfroehlich commented on #229
Sounds like there are two problems. Can you clearly document them both via video please?

Jon

[2016-08-22 20:46] manaswis commented on #228
Re: What do you mean by the small circle marked clear?
When I took the tutorial for the first time, the "double click here" circle was partly hidden under the instruction box. That's what I was referring to in this issue.

Re: Also, you can double click on a distant part of a road to move in that direction in the GSV interface. Was that not clear from the tutorial?
I retook the tutorial and then I

[2016-08-22 20:47] jonfroehlich commented on #228
Maybe we should do a few more pop-up instructions during the first mission then. @manaswis, what instructions do you think we should provide?

[2016-08-22 21:01] manaswis commented on #229
This is the video where you can't see the labels: https://drive.google.com/file/d/0B9l0KlVSh-2RWjBkVWZhYkF2Rzg/view

Here are some screenshots where:

Image 1: First, I wasn't able to see the labels on the GSV screen
<img width="1280" alt="screen shot 2016-08-22 at 4 47 16 pm" src="https://cloud.githubusercontent.com/assets/2873216/17871553/12590fe6-688a-11e6-81be-5ad056a483cb.png">
<img width="12

[2016-08-23 00:29] jonfroehlich commented on #229
Yah, not sure what is going on here. Notice also that the green/red line in the top-down map is not shown. Perhaps @kotarohara can shed some light on what's happening.

Thanks for taking this video and expanding a bit on the problem.

[2016-08-23 00:31] jonfroehlich commented on #229
A few things:

- Is this only during onboarding?
- You do realize that we can never show you previously placed labels from a different GSV location than the one you placed them... and though you said you returned to the same place, it's possible that you return to a nearby GSV location

[2016-08-23 05:00] #212 closed

[2016-08-23 15:08] kotarohara commented on #78
Done

![image](https://cloud.githubusercontent.com/assets/612263/17897359/eb09ba42-6921-11e6-95e6-0ab0a433b481.png)

[2016-08-23 15:08] #78 closed

[2016-08-23 15:11] kotarohara commented on #234
@manaswis Can you mock them up?

@jonfroehlich I don't think this will go to public deployment. I'm removing this from the milestone.

[2016-08-23 15:15] kotarohara commented on #233
For the same reason as #234 , I'm removing this from public deployment.

@manaswis What's the difference between #234? If they are the same issue, you should not create a new issue. Instead, use comment to append your thoughts on the related issue.

[2016-08-23 15:32] jonfroehlich commented on #233
@kotarohara: Can't we just do what I said for the easy fix? This would take < 1 hour to implement imo.

The problem is that right now the same mission screens keep coming up and it's not possible to tell them apart from previous missions so the user starts to think something is broken. There is no indication by the UI that this is a *new* mission and that they are exploring new parts of the assign

[2016-08-23 15:33] jonfroehlich commented on #78
Great, can I test it out? When can you deploy this to production?

[2016-08-23 15:34] kotarohara commented on #200
Can't reproduce. I'm closing this.

[2016-08-23 15:34] #200 closed

[2016-08-23 15:35] kotarohara commented on #179
I can't reproduce this, so I'm closing it for now. Please let me know if it happens again.

[2016-08-23 15:35] #179 closed

[2016-08-23 15:36] manaswis commented on #233
@kotarohara In this issue, I was talking about the whole transition as a complete unit, which includes the last image. When the next mission starts, in the last image, the mission is shown as complete (100% in the progress bar). When you start walking, then the mission progress bar goes back to 0%. So that might be confusing.

I added https://github.com/ProjectSidewalk/SidewalkWebpage/issues/234 c

[2016-08-23 15:38] kotarohara commented on #230
@manaswis I don't really understand the problem but it sounds like a problem :) What is happening?

[2016-08-23 15:38] jonfroehlich commented on #233
@kotarohara, @manaswis's right, when we display the new mission dialog, the underlying progress bar should reset to 0%. Currently, it does not do that.

![image](https://cloud.githubusercontent.com/assets/1621749/17898549/2a90b432-6926-11e6-8bfa-d4e8ceaedb3a.png)

[2016-08-23 15:39] jonfroehlich commented on #230
Also, @manaswis, did add in an Issue to fix the 'a head' -> 'ahead' -- if not, can you do that. It's an easy fix and should be completed.

[2016-08-23 15:45] kotarohara commented on #230
I fixed the typo! Thanks @manaswis

[2016-08-23 15:46] manaswis commented on #230
@kotarohara This was a singular instance. It happened the first time I took the tutorial. I will try to recreate it later today.

So the problem was when I clicked the OK button (Image 1), the mission complete animation (w/ cheering audio) didn't show up immediately. When I walked straight on the next screen (image 2), it showed up. It didn't happen the next time I took the tutorial.

[2016-08-23 15:55] jonfroehlich commented on #230
@manaswis, is it possible you walked in some strange direction during the tutorial?

[2016-08-23 16:01] kotarohara commented on #174
Finished

![image](https://cloud.githubusercontent.com/assets/612263/17899446/5cca0842-6929-11e6-9dd7-80f32009a9b1.png)

[2016-08-23 16:01] #174 closed

[2016-08-23 16:04] jonfroehlich commented on #174
Two quick things:

1. Change to "Uh, oh, you're quite far away from the audit route, **click here to jump back**."
2. Where does clicking there take you? Back to the beginning of red? Or to the most recent green part?

[2016-08-23 17:54] kotarohara commented on #174
1. I updated
2. It takes you to the beginning of the street segment for the most recent task.

[2016-08-23 17:56] jonfroehlich commented on #174
1. Great
2. What does this mean? What's a task? Does this mean that you have to rewalk parts that you already audited?

[2016-08-23 17:58] kotarohara commented on #174
We talked about `task = auditing a street segment`. And yes, that means you have to rewalk parts that you already audited if you go off the route in the middle of the task.

[2016-08-23 18:10] jonfroehlich commented on #174
Why? Wouldn't it make more sense to bring them to the beginning of the red
part of the route--that is, the beginning of what they need to audit.

Seems weird to push them back to beginning of a street segment. Wouldn't
this be confusing and its inefficient with the user's time as they have to
rewalk part of an already audited street segment.

On Tuesday, August 23, 2016, Kotaro Hara <notifications

[2016-08-23 18:39] jonfroehlich opened #237 "Link Underline to Help Pop-Up"
Link the underlined text to the "Explain this" pop-up.

![image](https://cloud.githubusercontent.com/assets/1621749/17904961/61cb2284-693f-11e6-81e7-f7831f03f513.png)

[2016-08-23 19:25] jonfroehlich opened #238 "Admin Interface: Map Broken on User Profile Page"
The map is no longer rendering on the user profile page in the admin interface. Note the error is "svl is not defined" so this is likely an easy fix (maybe just a variable got renamed?).

![image](https://cloud.githubusercontent.com/assets/1621749/17906523/b8960fa6-6945-11e6-96c1-2e87942a8013.png)

[2016-08-23 19:35] #237 closed

[2016-08-24 01:13] jonfroehlich opened #239 "Mission Length"
I've been at 1/2 mile audit length for a long time in this neighborhood. Is that the max audit length now? What's the mission-by-mission breakdown?

![image](https://cloud.githubusercontent.com/assets/1621749/17915163/564cd6c8-6976-11e6-9194-709203fe90e3.png)

Pinging @kotarohara