[2016-08-24 01:15] jonfroehlich opened #240 "I Can't Walk Straight Due to Construction... What Do I Do and How Does This Affect My Ability to Complete a Neighborhood?"
I can't walk straight due to construction, what do I do? I suppose this means that I will never be able to finish auditing this neighborhood?

![image](https://cloud.githubusercontent.com/assets/1621749/17915190/9e6985fa-6976-11e6-85da-c72607d76508.png)

[2016-08-24 01:16] jonfroehlich commented on #240
I ended up doing this. Do we then mark that segment as untraversable so that the user can still get credit for finishing the neighborhood?

![image](https://cloud.githubusercontent.com/assets/1621749/17915215/d5a778ec-6976-11e6-911e-39975e9ef463.png)

[2016-08-24 01:25] jonfroehlich commented on #240
Another weird occurrence. I am routed along a path that is disconnected from my current street.

![image](https://cloud.githubusercontent.com/assets/1621749/17915383/1499fdd0-6978-11e6-8280-04101683bd04.png)

[2016-08-24 01:33] jonfroehlich opened #241 "Jump Button Does Not Work"
The jump button is not working for me. See video:
https://youtu.be/VCyjtXCR7cs

This is likely related to https://github.com/ProjectSidewalk/SidewalkWebpage/issues/240. Perhaps I have fully completed this neighborhood except for unwalkable areas? Here's a map of my current completion of Congress Heights:

![image](https://cloud.githubusercontent.com/assets/1621749/17915494/f9806f10-6978-11e6-9b31-

[2016-08-24 01:51] jonfroehlich opened #242 "Just an FYI: I Received Credit for Auditing a Juxtaposed Neighborhood When I Started In a New Neighborhood"
I just selected a new neighborhood that was next to my old audit neighborhood and I received credit for the shared streets between the two neighborhoods. So, this is the initial screen shown to me when I started. This is not a bug but I am just logging this behavior here.

![image](https://cloud.githubusercontent.com/assets/1621749/17915808/ad5e719c-697b-11e6-9ab8-05d39bbaa0ac.png)

@kotarohara, I

[2016-08-24 03:53] kotarohara commented on #242
Yes, I am aware of this. I agree, I don't think this is a problem.

Can I close this? I don't think it's a good idea to keep non-issues in open...

[2016-08-24 04:02] kotarohara commented on #240
Yes, you get credit if you select "I cannot go to the direction..." before you jump.

That's weird. I originally though that the program mistakenly evaluated that the two streets segments shown on the Google Maps are connected. This could be the case as the program uses a short distance threshold (don't quite remember the value) to assess whether two street segments are connected or not. But by lo

[2016-08-24 10:21] jonfroehlich commented on #242
Sure. Close it. I just wanted to make sure we were on same page.

Sent from my iPhone

[2016-08-24 12:37] #242 closed

[2016-08-24 12:38] jonfroehlich commented on #240
Let me push the "another weird occurrence" to a separate Issue and close this one out.

[2016-08-24 12:40] jonfroehlich opened #243 "Got Routed on a Path Disconnected From Current Street"
I am routed along a path that is disconnected from my current street.

![image](https://cloud.githubusercontent.com/assets/1621749/17930840/3c7377d8-69d6-11e6-9854-77a4153ec7c5.png)

Originally described here (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/240) but pushed to this new Issue for tracking.

See thread: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/240#issuecomm

[2016-08-24 12:40] #240 closed

[2016-08-24 12:51] jonfroehlich opened #244 "Mission Complete Progress Bar 1 Pixel for 'Previous Mission' Even Though None Completed"
We are drawing one pixel of a blue progress bar on the first mission in a neighborhood (indicating % complete during previous missions) but the % should be zero, so the blue bar should be zero pixels.

![image](https://cloud.githubusercontent.com/assets/1621749/17931114/b361c70e-69d7-11e6-8330-d6e5912b359f.png)

Zoomed in:
![image](https://cloud.githubusercontent.com/assets/1621749/17931141/da8ddc

[2016-08-24 13:29] jonfroehlich commented on #222
This should be a fairly easy task for one of the new Project Sidewalk RAs.

[2016-08-24 16:47] jonfroehlich commented on #241
Yah, I think I had completed the neighborhood but there were untraversable areas so this is a weird edge case. I ended up going into my dashboard and selecting a different neighborhood to audit and then coming back to Congress Heights. As soon as I started in Congress Heights, I was presented with a 'Mission Complete' dialog:

![image](https://cloud.githubusercontent.com/assets/1621749/17939457/bb

[2016-08-24 16:48] jonfroehlich opened #245 "Typo in Mission -- Easy Fix"
"Make the 100% of this..." -> "Make 100% of this..."

![image](https://cloud.githubusercontent.com/assets/1621749/17939525/06ad5402-69f9-11e6-9357-dd5650e9c7f0.png)

[2016-08-24 16:51] jonfroehlich commented on #230
@manaswis, can you please investigate this more closely. The tutorial is crucial to Project Sidewalk but we're having trouble recreating this issue.

[2016-08-24 16:53] manaswis commented on #230
Yes, I am on it.

[2016-08-24 16:55] jonfroehlich commented on #195
I said:

And Kotaro told me in a meeting that this is exactly what happens.

So, I think the actual fix here for this particular thing is that the Mission Dialog when you first login and return to the mission should be different than the initial Mission Dialog--that is, the Mission Dialog should say something like "Welcome back! You have XXX feet to go to complete this mission" or something.

[2016-08-24 17:02] jonfroehlich commented on #173
How about this text instead:

"Remember, we would like you to check both sides of the street! Please label accessibility issues like sidewalk obstacles and surface problems!"

[2016-08-24 17:35] kotarohara commented on #216
Animation speed has been changed from 3 sec to 1 sec.

[2016-08-24 17:37] manaswis commented on #230
Here is the video: https://youtu.be/D4KBhnOpBx0?t=2m13s

Its set to start at 2.13s. Notice how in the bottom right corner, the box appears. I continue with the tutorial following the instructions on the top left corner. Skipping those to 2.39s. - https://youtu.be/D4KBhnOpBx0?t=2m39s
You can see when press that bottom-right box, then the mission animation shows up.

[2016-08-24 17:50] kotarohara commented on #224
Checked and fixed

[2016-08-24 17:50] #224 closed

[2016-08-24 17:56] manaswis opened #246 "Typo in Onboarding Tutorial - Easy Fix"
![onboarding_bug_takingastep_red](https://cloud.githubusercontent.com/assets/2873216/17941696/7980df7c-6a02-11e6-8e57-f60e8fae2369.jpg)

[2016-08-24 17:59] kotarohara commented on #159
Actually this issue had been addressed. The last issue of the three that were described in this issue (the second point) was fixed before #163 .

[2016-08-24 17:59] #159 closed

[2016-08-24 18:02] jonfroehlich commented on #246
Thanks!

@manaswis, can you start using github's organizational features to tag your posts.

[2016-08-24 18:03] manaswis commented on #246
Sure!

[2016-08-24 19:10] kotarohara commented on #172
Finished

[2016-08-24 19:10] #172 closed

[2016-08-24 19:11] #246 closed

[2016-08-24 19:32] jonfroehlich commented on #172
Can I see a screenshot?

[2016-08-24 20:18] jonfroehlich commented on #230
Right, to be clear, Manaswi found two problems. One at 2.13s and another at 2.39s in the video links above.

[2016-08-24 20:27] jonfroehlich opened #247 "Admin Interface: Add in Three Gray Label Types"
The legend should also show the three gray label types: (i) Can't see sidewalk; (ii) no sidewalk; and other. We also want the legend (or some part of this interface) allow you to select the label type to highlight and then all other label types should either hide or go very translucent. The legend should also have an N=X for each label type where X is the occurrence count of that label type.

This

[2016-08-24 20:28] jonfroehlich commented on #167
I think this is probably a good start task for @manaswis.

[2016-08-24 20:39] jonfroehlich commented on #238
It should show something like this:

![image](https://cloud.githubusercontent.com/assets/1621749/17947124/50acf36c-6a19-11e6-9c61-fb006f694020.png)

[2016-08-25 00:54] jonfroehlich commented on #219
Can you please fix this one? I keep trying to hit enter to close the dialog and it hurts my brain that it doesn't work. :)

[2016-08-25 00:57] jonfroehlich opened #248 "Crazy Accessibility Things I've Seen in Project Sidewalk"
I just wanted some easy place to document these things--I should have started this a long time ago.

![image](https://cloud.githubusercontent.com/assets/1621749/17952988/4cb7c9ca-6a3d-11e6-9841-07563e8fd6e2.png)

[2016-08-25 00:57] #248 closed

[2016-08-25 01:03] jonfroehlich opened #249 "Congress Heights Strangeness Continues"
I just logged in tonight and was dropped back into Congress Heights. I was directed down a street, which I audited, but when I hit the end of the street segment, there was no more red route and thus, nothing more for me to accomplish.

![image](https://cloud.githubusercontent.com/assets/1621749/17953079/34103762-6a3e-11e6-85ff-69789ce4bcb8.png)

This could be because I think I've already completed

[2016-08-25 01:07] jonfroehlich commented on #241
This is still a problem. When I click OK in the Jump Button dialog, nothing happens (no matter what radio button I select). @kotarohara, what's going on here?

See errors in console:
![image](https://cloud.githubusercontent.com/assets/1621749/17953121/af49e6f8-6a3e-11e6-8063-1b77008a2875.png)

[2016-08-25 01:10] jonfroehlich opened #250 "Consider Having a Button That Allows User to Jump to a Different Neighborhood"
Currently, it's quite hidden that, as a user, you actually have some control over which neighborhoods you audit--this is because we drop users into neighborhoods that have the _fewest_ street segments audited. However, users can actually select new neighborhoods to audit in the dashboard.

I was thinking it might also be nice to have a simple button that allows the user to jump to a new neighborho

[2016-08-25 01:12] jonfroehlich opened #251 "Why Is The City Name Hyperlinked Here?"
![image](https://cloud.githubusercontent.com/assets/1621749/17953193/5e2df54c-6a3f-11e6-8d76-218f655efca1.png)

Clicking this just seems to open a new window for that neighborhood. Why do we do this?

[2016-08-25 01:20] jonfroehlich opened #252 "You've got quite far away from the audit route"
"Uh-oh, you've got quite far away from the audit route. Click here to jump back."

should be:

"Uh-oh, you're quite far away from the audit route. Click here to jump back."

![image](https://cloud.githubusercontent.com/assets/1621749/17953326/9429ac4e-6a40-11e6-9824-851a29145b7e.png)

[2016-08-25 01:23] jonfroehlich opened #253 "Current Neighborhood Not Properly Highlighted In Mission Complete Dialog"
Looks like there is a small bug in the drawing of the neighborhood highlight here as the bottom part of my current neighborhood didn't make it in the mask (circled in red in second image to make it more clear).

![image](https://cloud.githubusercontent.com/assets/1621749/17953371/ddf7b960-6a40-11e6-90b8-657fa9727a5f.png)

![image](https://cloud.githubusercontent.com/assets/1621749/17953379/eb949ac

[2016-08-25 01:24] jonfroehlich opened #254 "Should Vegetation Be Marked as a Temporary Problem?"
I've been marking vegetation as a temporary problem (because I imagine it often fixes itself in the winter months) but perhaps I shouldn't be doing this. Do we have any info on this in the FAQ or in the label type help?

![image](https://cloud.githubusercontent.com/assets/1621749/17953405/1d27fe1a-6a41-11e6-9646-d9db9b779f02.png)

[2016-08-25 01:28] jonfroehlich opened #255 "Finished Audit Route in the Mission Complete Dialog is not shown on the map"
This neighborhood is very long and, consequently, the code that we use to center the neighborhood in the Mission Complete screen means that some routes will not be shown (without panning/zooming). For example, in the screenshot below, my audit route is not shown by default. I had to pan manually to see what I had audited (second image).

![image](https://cloud.githubusercontent.com/assets/1621749/

[2016-08-25 06:23] kotarohara commented on #252
This has been already fixed locally.

[2016-08-25 06:23] #252 closed

[2016-08-25 06:27] #173 closed

[2016-08-25 21:13] jonfroehlich opened #256 "Landing Page Redesign Ideas"
A few things:
- I want us to have a more captivating landing page, specifically the top ~1000 vertical pixels that a user first sees when they load a page. I think we should have a nice carousel similar to https://www.zooniverse.org/ or https://makeabilitylab.umiacs.umd.edu/ that helps quickly/visually capture the essence of Project Sidewalk.
- I want us to add in some animated gifs that quickly s

[2016-08-25 22:06] #211 closed

[2016-08-26 01:41] jonfroehlich opened #257 "Upload data on mission complete"
I know that we intermittently upload data (rather than immediately after a label is placed). I want to make sure that we are uploading data as soon as a mission is completed (regardless of where we are in the action queue).

[2016-08-26 01:48] jonfroehlich opened #258 "Should we divide the large neighborhoods (e.g., Georgetown) into smaller neighborhoods?"
It's a bit overwhelming to try and audit Georgetown with the way that our missions are currently structured. I have to audit 12 miles to complete Georgetown--that's huge compared to many neighborhoods. Just a discussion point for now but something to come back to for future releases.

![image](https://cloud.githubusercontent.com/assets/1621749/17991546/a5b06098-6b0d-11e6-822e-d75932617114.png)

[2016-08-26 02:00] jonfroehlich commented on #226
I think part of the solution here is actually in training people to use a keyboard--maybe in onboarding or during their first mission.

[2016-08-26 05:11] kotarohara commented on #251
That's what we decided :)

We talked about showing more information on the status pane, but I thought showing more than what we have now will clutter this area of the interface. The neighborhood name is hyperlinked, so that the user can see their neighborhood-level progress on the dashboard page. If you are anonymous, it just shows the neighborhood name and no link.

[2016-08-26 09:34] jonfroehlich commented on #251
But clicking the link does not open the dashboard. It opens another GSV audit window in a new tab. That's my point.

Sent from my iPhone

[2016-08-26 18:51] #181 closed

[2016-08-26 20:20] kotarohara opened #259 "Update the animated gif in the onboarding tutorial to reflect the context menu design update"
The animated gif shows the old context menu where radio buttons were not smiley faces. It should be updated.

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/18019167/e6f1239e-6ba8-11e6-9e5b-83312a755bec.png)

[2016-08-26 21:56] #230 closed

[2016-08-27 01:27] jonfroehlich opened #260 "TaskModel is Not Defined"
I tried to do my nightly testing of Project Sidewalk. After I logged in and clicked participate, I was greeted by a blank audit screen. The Javascript console says: "276:710 Uncaught ReferenceError: TaskModel is not defined"

![image](https://cloud.githubusercontent.com/assets/1621749/18024268/c2c7dc30-6bd3-11e6-995f-80a3452bf0d2.png)

[2016-08-27 01:29] jonfroehlich opened #261 "Curb Ramp and Missing Curb Ramp on this Screen Should be Plural"
![image](https://cloud.githubusercontent.com/assets/1621749/18024288/174f5814-6bd4-11e6-9a88-fc0312a8381d.png)

[2016-08-27 03:22] kotarohara commented on #260
Hmmm, could this be because of cache?

[2016-08-27 06:32] kotarohara commented on #79
Done and up

[2016-08-27 06:32] #79 closed

[2016-08-27 11:43] jonfroehlich opened #262 "Escape on the 'Explain This' Window Should Close Window"
I should be able to hit escape to close this window:

![image](https://cloud.githubusercontent.com/assets/1621749/18027157/e5b5957e-6c29-11e6-9044-06ea396a6354.png)

[2016-08-27 18:07] jonfroehlich commented on #260
Seems to be working now but let me test a bit more.

[2016-08-27 18:11] jonfroehlich opened #263 "Should This Be Marked as an Obstacle or Surface Problem?"
When auditing, I occasionally run into sidewalk problems that could legitimately labeled with different label types. For example, in this case, I feel like the grass could be labeled either as a surface problem or a sidewalk obstacle. It feels more like a surface problem, however, so I went with that.

The key point here, however, is that when evaluating accuracy, we may need to take these sort of

[2016-08-27 18:26] jonfroehlich commented on #260
Closing as I cannot replicate problem. Maybe it was due to cache?

[2016-08-27 18:26] #260 closed

[2016-08-27 18:28] jonfroehlich commented on #251
@kotarohara, literally, the link opens: http://sidewalk.umiacs.umd.edu/audit

Can you please respond?

[2016-08-27 18:29] jonfroehlich commented on #245
@kotarohara, can you please fix this. It's easy!

[2016-08-27 18:30] jonfroehlich commented on #241
@kotarohara, did you ever investigate this?

[2016-08-27 18:32] jonfroehlich opened #264 "Animating Completed Route in Mission Complete Dialog"
Have animation that draws your eye to the beginning of the route when it first starts animated. As now, it's very subtle.

I was thinking like a little star burst effect or something.

![image](https://cloud.githubusercontent.com/assets/1621749/18029320/f1730976-6c62-11e6-949b-eb4bd751d166.png)

[2016-08-27 19:16] jonfroehlich opened #265 "Something Weird is Going on With Saved Labels"
I want to make sure that this problem is not on the backend (i.e., we have introduced a bug where we don't properly save data/labels). I just started in a new neighborhood, called Fort Lincoln and I've completed a few missions (see below).

![image](https://cloud.githubusercontent.com/assets/1621749/18029555/0eff68c6-6c69-11e6-8e96-c581be680e60.png)

However, when viewing the Fort Lincoln neighbor

[2016-08-27 19:18] jonfroehlich commented on #265
Hmm, in investigating this a bit more, looks like it might be a bug in the user profile dashboard as the admin dashboard seems to have my audit activity:

![image](https://cloud.githubusercontent.com/assets/1621749/18029569/73d82ada-6c69-11e6-9e33-a6c8d2318a07.png)

[2016-08-27 19:20] jonfroehlich opened #266 "Add fields Total Distance Audited and Time Spent in the Interface in User Table in admin interface"
How about total miles/km audited and total time spent in the interface? Again, could be a nice, easy task for @manaswis to gain some understanding of database, writing queries, and building out the admin interface more.

![image](https://cloud.githubusercontent.com/assets/1621749/18029576/a3c0c02c-6c69-11e6-9994-59ce80b14fc1.png)

[2016-08-27 20:53] #251 closed

[2016-08-27 20:54] kotarohara commented on #251
Ok, fixed.

[2016-08-27 20:56] kotarohara commented on #245
Fixed

[2016-08-27 20:56] #245 closed

[2016-08-28 19:42] jonfroehlich commented on #265
Yes, the user profile dashboard is definitely having problems:

![image](https://cloud.githubusercontent.com/assets/1621749/18036343/11d387ee-6d36-11e6-924f-c92dd553cca5.png)

[2016-08-28 19:43] jonfroehlich commented on #238
This continues to be a problem:

![image](https://cloud.githubusercontent.com/assets/1621749/18036344/2555db96-6d36-11e6-8e20-49c840d0841f.png)

See also: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/265.

[2016-08-28 19:44] jonfroehlich commented on #265
As this problem appears to be on the user profile page, I'm closing this ticket.

The user profile map bug ticket owns this problem now: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/238

[2016-08-29 00:31] jonfroehlich commented on #238
This is a high priority because we need an easy way to review user data. Currently, this is the only way to do it (even though it only provides a very high level view and is not interactive).

[2016-08-29 02:04] EdigaHe opened #267 "Sidewalk Beta Test Issues"
I played Sidewalk beta for about 20 minutes. Here are some questions about the interface:

1. What do the scale "2" and "4" mean? Is there any criteria for picking these scales? If so, please add it to the tutorial.

2. After I added some labels in the Street View window, the labels appear for a while but after I switch back from other places they disappear. I understand that the mini map at the r

[2016-08-29 16:27] jonfroehlich commented on #267
Hi @EdigaHe, thanks for your comments. Generally, we reserve github tickets for actual bug reporting and issue tracking rather than discussion points... but thank you for posting your feedback.

@kotarohara, @manaswis, @Soben713: this is the second time that a beta tester has reported confusion over point 2 above. We do cover it a bit in the onboard tutorial (but it's very subtle). I think we shou

[2016-08-30 03:44] manaswis opened #268 "Onboarding tutorial: arrow not visible over a curb ramp but appears after refreshing page"
Lee: In the tutorial, it referred to an arrow that was drawn over a curb ramp, but it wasn't visible when I initially loaded the site. I refreshed the page, and then it became visible.

[2016-08-30 03:46] manaswis commented on #268
I am not very clear about this bug. It was drawn and then it disappeared? When does the arrow show up initially?

[2016-08-30 03:49] manaswis opened #269 "Intersection done dialog pops up before it is completed"
Lee: In the first real mission I did (River Terrace, D.C.), a message popped up telling me that I was done and should move on, but I had only actually finished 3/4 corners.

[2016-08-30 03:51] manaswis opened #270 "Discussion: Training users to identify curb ramps"
Lee: I'm a little bit unclear on exactly when I should mark a missing curb ramp. For example, how should the attached image have been labeled?
![isthisamissingcurbramp](https://cloud.githubusercontent.com/assets/2873216/18075516/6f8f1264-6e43-11e6-8a4a-ccd3ee509025.png)

Jon: This problem, I agree. Really, we only want people to mark missing curb ramps at intersections or where there are cross wal

[2016-08-30 04:05] manaswis commented on #270
Including in the FAQ is a must but I think better training is needed. One possible solution is showing a basic info box defining a curb ramp (with images). This should be before the onboarding tutorial which is training the user for the labeling interface.

Even better, would be training the user to identify curb ramps by showing multiple images (with and without curb ramps) and ask them to select

[2016-08-30 04:08] manaswis opened #271 "Future Enhancement: 3D arrows on the street to show direction of movement"
Lee: It would be useful for you to draw a 3D arrow or line on the street in the direction I'm supposed to move. The relative directions work well enough, but weren't immediately obvious since there's so much else going on.

[2016-08-30 10:52] jonfroehlich commented on #271
@kotarohara had this mocked up in one of his lo-fi prototypes but we ended up not pursuing it. I can't remember why--maybe dev time? @kotarohara, can you comment?

Definitely not something I think we can do for the initial public release.

[2016-08-30 10:57] jonfroehlich commented on #268
@manaswis, please follow-up with Lee directly and send him a link to this Issue. He can comment directly to expand.

[2016-08-30 10:57] jonfroehlich commented on #270
I think both of your ideas are good. Let's discuss at Project Sidewalk meeting.

[2016-08-30 11:00] jonfroehlich commented on #269
So, to be clear, Lee was speaking about the tutorial pop-up that only comes up in the first mission and does so telling the user to start walking after they clear the first intersection. However, there is no real way to know if they clear the intersection, so we only track *where* they look and then the pop-up comes up when they've looked like 300 degrees around or something. @kotarohara can provi

[2016-08-30 13:21] kotarohara commented on #271
Mostly dev time is the reason. Computation could be expensive too depending
on what kind of visualization you render.
On Tue, Aug 30, 2016 at 6:52 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-08-30 15:19] kotarohara commented on #269
I guess Lee is talking about this window. It shows up once you looked around 7/8 of the intersection. So it's not a bug. @manaswis you can close it.

![cursor_and_project_sidewalk_-_audit](https://cloud.githubusercontent.com/assets/612263/18094929/4052f97e-6ea3-11e6-8c62-d267ac5d385c.png)

[2016-08-30 16:22] jonfroehlich commented on #269
I don't think it should be closed because it confused a user, which means we should at the very least discuss the problem and whether it justifies redesign/improvement. Lee is a very smart, technical guy. If this confused him, what will others think?

Sent from my iPhone

[2016-08-31 01:11] jonfroehlich opened #272 "Update the landing page HTML so when tweeted it shows an animated GIF image"
then an animated gif is shown automatically in the tweet.

I believe this is possible. Facebook allows you to control this using html tags, I believe.

[2016-08-31 04:24] manaswis commented on #167
I have pushed code. Here is the pull request: https://github.com/ProjectSidewalk/SidewalkWebpage/pull/273

[2016-08-31 04:34] manaswis commented on #238
I think this is fixed. Kotaro might have fixed it in one of the recent commits.

<img width="1279" alt="screen shot 2016-08-31 at 12 32 37 am" src="https://cloud.githubusercontent.com/assets/2873216/18116064/a2ffbeda-6f12-11e6-82cc-db4ca7869d51.png">
<img width="1276" alt="screen shot 2016-08-31 at 12 31 32 am" src="https://cloud.githubusercontent.com/assets/2873216/18116063/a2fedd9e-6f12-11e6-863

[2016-08-31 04:57] manaswis opened #274 "Walking straight arrow on the GSV screen disappears"
See this video:
https://youtu.be/yIlgpleulLs

On one of the missions, the walking straight arrow disappears and I am unable to move ahead to complete my mission.

[2016-08-31 05:44] manaswis opened #275 "Jumped within neighborhood right before new mission starts"
This might be confusing for the user if (s)he finds this message immediately after (s)he gets his/her new task, which is what happened with me:

<img width="1280" alt="screen shot 2016-08-31 at 1 41 50 am" src="https://cloud.githubusercontent.com/assets/2873216/18117371/4b406154-6f1c-11e6-823d-6fbf5ae1be92.png">

[2016-08-31 07:37] kotarohara commented on #274
This is because of the underlying Google Maps API. The next Street View is not connected by a link. Could you double click and move forward?

[2016-08-31 08:08] kotarohara commented on #238
I don't think I touched anything on the admin interface though. @manaswis Why not play around with it for 10 min with a few more users and close it if you cannot reproduce it.

[2016-08-31 08:35] kotarohara opened #276 "Cleaning up the issues in the issue tracker"
One issue with the way we use the issue tracker is that we have too many issues that cannot be closed. For example, #272, #269, and #234 cannot be closed as they are off-topic or there aren't clear definition of "resolve." This impacts the development productivity.

We should spend a few hours to go through all the issues to either (i) close the ones that are off-topic (#272) and move to an approp

[2016-08-31 10:26] jonfroehlich commented on #238
It's actually *new* data that it won't show (I think). So, click on brand
new users and their data contributions won't be visible... or, for example,
my new audit data isn't being visualized.

I agree with Kotaro, play around and test it before we close issue. I think
it's still broken.

On Wed, Aug 31, 2016 at 4:08 AM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Prof

[2016-08-31 10:30] jonfroehlich commented on #274
I think the double click on the road to move forward is a very subtle interaction and something we likely need to tell the users more about. I would be curious to see how often users actually use this...

- While we onboard it in the tutorial, even here, it's very subtle because you only do it once and you don't take much of a step, so it's hard to even recognize that it happens.
- Moreover, in co

[2016-08-31 10:34] jonfroehlich opened #277 "Post Little Movies/Animated Gifs Of How To Do Things"
I think we should create little movies (10-25 secs) like this (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/274) and post them to the FAQ. The movie in https://www.youtube.com/watch?v=yIlgpleulLs&feature=youtu.be is the perfect length except that while you show the problem, you don't show the solution (because you didn't know it). Would also want to provide an annotation on the movie

[2016-08-31 10:35] jonfroehlich commented on #275
This has happened to me before, though infrequently.

Thanks for reporting it!

[2016-08-31 10:41] jonfroehlich opened #278 "Now That We Are Public... Need Production and Test Server?"
Now that we've launched publicly (yay!!!), we probably need to follow good web design practice and have a production server and a test server. My concern is that we accidentally checkin code that adds a new feature or fixes a bug, but really introduces a new problem.

Thoughts on this?

[2016-08-31 13:05] jonfroehlich commented on #276
I agree that we should clean up issues. I disagree that we have Issues that are off topic.

For example, https://github.com/ProjectSidewalk/SidewalkWebpage/issues/272 isn't off topic. You need to modify the html source on the landing page to support social media sharing (so that the correct image is shown). We did this for Project Access (http://access.umiacs.umd.edu/maf8ecre/). See, for example:

[2016-08-31 13:18] jonfroehlich commented on #257
@kotarohara, can you please respond to this? Do we upload data when a mission is complete.

I know that we currently do not upload data on every mouse click/movement but instead batch the data into an upload/action queue but I want to know if we have different trigger events (like finishing a mission) where we do actually upload the data. Please respond.

[2016-08-31 13:56] kotarohara commented on #257
No, we don't. We upload data when a task is completed as well as
periodically.
On Wed, Aug 31, 2016 at 9:19 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-08-31 13:58] jonfroehlich commented on #257
So, isn't a task is complete when a mission is complete... so don't you mean Yes?

[2016-08-31 14:00] kotarohara commented on #257
No, task complete means completing a street edge. Not necessarily a
mission. Mission can be completed in the mid-street.
On Wed, Aug 31, 2016 at 9:58 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-08-31 14:05] jonfroehlich commented on #257
Well then, don't you think we should upload data when a mission completes--since this is often the time when I close my browser window?

In other words, can you address the higher level point about saving data rather than just the lower level points.

[2016-08-31 14:08] jonfroehlich opened #279 "Add Info About Out-Of-Date Data to FAQ"
I think we will want to add in a short blurb about out-of-date data to FAQ. Specifically, that while some problems that we find via GSV have likely been fixed and thus do not accurately reflect the real world, we have performed a number of virtual vs. physical audits and have found high agreement. This is similar to prior work (E.g., cite, cite).

[2016-08-31 14:24] mattm401 opened #280 "Cannot proceed in the onboarding tutorial after the 3rd corner of the intersection"
Last night I was re-doing the tutorial section of Sidewalk and during the third intersection (post-labeling the two intersections as "curb ramps", submitting the severity forms, etc.) the tutorial stopped working; it would not advance past the "label curb ramps" and arrows that were up. I would delete the curb ramps icons and re-apply them in slightly different locations, but no luck getting the t

[2016-08-31 18:44] kotarohara commented on #257
Sure, we can do that. But this is a lower priority work as it also submits data at tab closing/transition.

[2016-09-01 00:19] jonfroehlich commented on #277
Here's an example of a nice animated tweet to help capture attention:

https://twitter.com/spenley/status/770647033669644288?refsrc=email&s=11

However, this tweet lacks an actual link to a webpage, so was not parsed automatically for the preview.

[2016-09-01 00:21] jonfroehlich commented on #280
Looks like another person experienced this according to feedback left on site. No way to figure out how common this is because it's very likely that only a small percentage would every report an issue:

![image](https://cloud.githubusercontent.com/assets/1621749/18150894/724ba686-6fb8-11e6-9927-3821a460f044.png)

[2016-09-01 00:21] jonfroehlich commented on #280
Another one related to the tutorial, though seemingly a different problem:

![image](https://cloud.githubusercontent.com/assets/1621749/18150910/8ba93d28-6fb8-11e6-997d-63e183800881.png)

[2016-09-01 00:27] jonfroehlich commented on #151
@manaswis, with the public launch, I think it's really important that we have a better understanding of how users are performing our tasks. My idea here would really go a long way in helping us do that.

We can discuss it tomorrow but I think it might need to be the next thing in your queue (or perhaps something that @Soben713 can work on).

[2016-09-01 00:34] jonfroehlich commented on #257
Ah, yes, that seems most important.

I do think saving at mission completion would be another nice check point. We can mark as low priority and discuss.

[2016-09-01 01:22] jonfroehlich opened #281 "List of cities that have contacted us about new deployments"
I thought it would be interested to run a poll, maybe on Twitter or maybe on Project Sidewalk, to see which cities people were interested in us deploying to next.

[2016-09-01 01:41] manaswis commented on #151
Hmm, it certainly is important to understand both user labeling behavior or misbehavior of the mission algorithms. I will add it to the list of issues we want to discuss tomorrow.

[2016-09-01 01:51] jonfroehlich commented on #151
Great, thanks.

[2016-09-01 04:04] kotarohara commented on #280
I think this is important. The problem is, though, I tried the onboarding multiple times today and haven't succeeded in reproducing the bug for a single time...

[2016-09-01 04:07] manaswis commented on #268
I clarified with Lee. The problem was the tutorial when it loaded, it didn't show the arrow. When he refreshed the page, the yellow arrow showed up.

[2016-09-01 04:09] manaswis commented on #280
I spoke with Lee. He also mentioned the tutorial getting stuck. Also related problem in the tutorial - https://github.com/ProjectSidewalk/SidewalkWebpage/issues/268

Lee's suggestion was that there might be some code in the rendering part that creates an exception and stops the execution. That exception, whatever that is, is infrequent. Hence, doesn't show up every time.

[2016-09-01 04:16] kotarohara commented on #276
I see.

Regarding #272, I agree updating the HTML is of the landing page is not off-topic. I will update the issue.

I did not say #269 is off topic, but it is not resolvable because it is neither a bug nor a feature request with a clear goal. That issue needs to be labeled appropriately.

Title of the #234 needs to be clarified. "X is confusing" is not resolvable. "X needs to be updated to Y beca

[2016-09-01 04:41] kotarohara commented on #274
So this is not a bug. I propose to close this issue and create a feature request as a "Future Work"

[2016-09-01 04:42] kotarohara commented on #269
I don't know what to do with this issue. @manaswis @Soben713 any comments?

[2016-09-01 04:47] kotarohara commented on #268
I am still unclear about this bug. In the first step of the onboarding, example pictures show up in a dialog window. Is Lee saying after clicking OK on that window the arrows don't show up?

/cc @lstearns86

[2016-09-01 04:50] manaswis commented on #238
Sure, I'll do that.

[2016-09-01 04:50] kotarohara commented on #267
@Soben713 There are two issues in this issue. Can you close this issue and create two separate issues?

[2016-09-01 04:53] kotarohara commented on #266
Total miles/km, I agree. Total time on in the labeling interface is not always useful. For example I keep the window open and that counts as time present in the interface.

[2016-09-01 04:59] kotarohara commented on #253
No that looks like a correct boundary data. You can see each neighborhood boundary in the demo or the admin interface.

![image](https://cloud.githubusercontent.com/assets/612263/18155835/43d02a58-6fdf-11e6-896f-380a9e23f689.png)

[2016-09-01 05:04] kotarohara commented on #239
For each neighborhood, we have 1000ft, 2000ft, 4000ft, 1mi, 1.5mi, 2.0mi, ... missions, and 100% Coverage Missions at the end.

[2016-09-01 05:44] lstearns86 commented on #268
I'm saying that when I first loaded up the tutorial the arrow below was not visible, although the instructions were:

![image](https://cloud.githubusercontent.com/assets/2319490/18156555/00fe857a-6fe5-11e6-891b-19fbdb77707a.png)

I refreshed the page, and after that it seems to have fixed itself (including just now when I went to grab this screenshot). I was using Chrome on Windows 10 at the time,

[2016-09-01 05:56] manaswis commented on #263
Clear definitions would be needed to resolve ambiguities during analysis. E.g. Surface problem could only include issues inherently *internal* to the surface e.g. grass, protruding surface etc. While obstacles could be something *external* to the surface e.g. things placed on the sidewalk

That's an example definition. But my point is defining each clearly with a distinguishing feature.

[2016-09-01 10:16] jonfroehlich commented on #263
I agree with you @manaswis but the larger point is that we should not be penalizing or otherwise marking a user's label incorrect in these edge cases as either a surface problem or sidewalk obstacle is sort of legitimate.

[2016-09-01 10:17] jonfroehlich commented on #253
Ok, great. Let's close this issue. Thanks!

[2016-09-01 10:17] #253 closed

[2016-09-01 10:21] jonfroehlich commented on #269
I have two suggestions:

1) We could do some over-the-shoulder observations of people completing the tutorial plus this part of the first mission and see what they think when this pop-up occurs. My feeling is that if we tell someone they have finished auditing an intersections when they really haven't, then this is confusing. There are lots of new students around the lab right now with the start o

[2016-09-01 10:24] jonfroehlich commented on #274
I don't think we should close the issue. I think we should discuss it as a team, provide perspectives on whether we think it's important enough to address, and, if it is, how to address the issue (e.g., should we simply add an animated gif to the FAQ that better shows that you can double click on road to move forward or should we improve onboarding or is there anyway to determine that the walking

[2016-09-01 10:27] jonfroehlich commented on #276
Great. I agree.

Before marking a duplicate Issue closed, we should make sure that the details captured in the duplicate Issue are also in the open Issue.

[2016-09-01 10:28] jonfroehlich commented on #266
Well, let's just add time and see if it is a useful metric.

We could also refine the Time Spent metric in the future to be have a 'timeout' -- that is substract all time after a certain threshold of no interaction.

[2016-09-01 10:47] jonfroehlich opened #282 "How/When Should We Support Touchscreens?"
Lots of traffic is coming to the site via touchscreens (e.g., iOS) but the site doesn't yet support those browsers, should we? If so, what are the necessary modifications to support touchscreen interaction fluidly?

![image](https://cloud.githubusercontent.com/assets/1621749/18164808/e2ebd7f6-700f-11e6-8720-ddc46c6bcd3b.png)

And people are also providing this feedback on Twitter.

[2016-09-01 12:05] kotarohara commented on #280
Ok, fixed. One event listener that was listening to clicking target feature was unintentionally unbinded. Pushed the change to the server.

[2016-09-01 12:05] #280 closed

[2016-09-01 12:14] kotarohara commented on #282
I think it's a good idea.

[2016-09-01 12:15] jonfroehlich commented on #282
Cool! Could be a nice undergrad project to actually implement touchscreen support as well (though admittedly a complex one).

[2016-09-01 12:16] kotarohara commented on #268
Thank you for the clarification, @lstearns86 !

[2016-09-01 12:19] jonfroehlich commented on #280
Sweet! Great find @kotarohara. I wonder why it was working some of the time... thoughts?

[2016-09-01 12:23] kotarohara commented on #263
I guess in this case it's pretty clear that this is a surface problem. But I agree more ambiguous cases could pop up. In CHI2013 we turned categories of labels into binary labels of Accessible vs. Not Accessible for the same reason.

[2016-09-01 12:24] kotarohara commented on #280
For the event lister to be unbinded, a certain condition had to be met. So if you did not hit that condition you should have been able to go through the onboarding tutorial.

[2016-09-01 12:27] jonfroehlich commented on #263
Yep, I remember that.

We can discuss this today a bit and then likely close the Issue because the solution is likely on the analysis side rather than on the front end UI side.

[2016-09-01 14:51] Soben713 commented on #267
@kotarohara Sure.

[2016-09-01 14:51] #267 closed

[2016-09-01 14:53] ghost opened #283 "Should we provide better descriptions for the severity scale "2" and "4"?"
Originally Issued by @EdigaHe here: #267

What do the scale "2" and "4" mean? Is there any criteria for picking these scales? If so, please add it to the tutorial.

[2016-09-01 14:57] Soben713 opened #284 "Explain why we cannot show a feature labeled in one panorama from other panoramas in FAQ"
Originally issued by @EdigaHe here: #267

After I added some labels in the Street View window, the labels appear for a while but after I switch back from other places they disappear. I understand that the mini map at the right bottom corner shows all added labels but I prefer that the Street View window also remember all added labels.

@jonfroehlich's comment:

[2016-09-01 17:39] jonfroehlich commented on #283
Yah, this is hard. I like that we have a 5-point Likert scale but honestly, maybe Bad, Neutral, and Good would capture the same amount of information.

For now, I'm not sure what else we should really do. I think expert ADA people will probably like the 5-point scale (as already evidenced by their emails/twitter feedback) because they have a far more deep understanding of what constitutes a proble

[2016-09-01 23:32] manaswis opened #285 "Creating account in the middle of a mission bounces user back to a new mission"
**UPDATE (Jun 28, 2017)**: Editing the issue for starting a new mission when you newly sign up. Updated according to the [latest comment](https://github.com/ProjectSidewalk/SidewalkWebpage/issues/285#issuecomment-310861272) in this thread.

When the user gets the "contributing a lot" message asking them to sign up, the next mission they get is a new mission. This creates confusion for the user tha

[2016-09-01 23:57] jonfroehlich commented on #285
It should definitely not bounce you back to the tutorial. Did you confirm this @manaswis.

[2016-09-02 00:00] jonfroehlich commented on #285
Also, I believe I had opened an Issue (but can't find it now) or otherwise I sent Kotaro an email or wrote it down in a PPTX mockup that the correct behavior for logging in should be that it simply allows you to continue where you were while you were contributing anonymously. Unfortunately, I don't believe that's what is happening now and that's probably very frustrating to the user---especially s

[2016-09-02 01:03] manaswis commented on #285
Yes, I just tested it. It doesn't show the tutorial (maybe coz I skipped it when I was anonymous - not sure about it - @kotarohara can tell). But it assigns a different neighborhood and starts at the very beginning.

<img width="1187" alt="bouncing_back_to_new_neighborood" src="https://cloud.githubusercontent.com/assets/2873216/18189288/7dc201de-7087-11e6-9fb4-d12985fd55c8.png">

[2016-09-02 01:06] jonfroehlich commented on #285
This is unfortunate. @kotarohara, I remember chatting about this with you and you decided it was not worth the effort to fix. I could not find the Issue in github--perhaps we discussed it in email?

[2016-09-02 01:13] manaswis commented on #284
Adding Lee's comment too (just for the record)

Lee: It would also be useful if labels would propagate between images, so that I could see what I'd already labeled while moving ahead and avoid repeated or missed labels.

[2016-09-02 01:14] jonfroehlich commented on #284
Thanks @manaswis. Yes, we get it. This would have been a core part of our design if it wasn't impossible. :)

@kotarohara, do you have any videos of trying to get this feature to work back in the day?

[2016-09-02 01:14] manaswis commented on #284
Based on our discussion in the meeting, we can't add this feature so we need to some way of circumventing it.

Solution: Add pop-up help messages in the first mission telling user that they can view their labels in the top-down map.

TODO: come up with appropriate message

[2016-09-02 01:17] jonfroehlich commented on #284
@manaswis. After thinking about this more, I also think we could have a nice animated gif to the FAQ that simply shows someone labeling and then walking a bit and then turning around and showing that the labels aren't there--maybe also then walking back to the original location and showing that they are, actually, still there... and maybe pointing out the use of the top-down map.

[2016-09-02 01:20] manaswis opened #286 "Change message when user steps outside an assigned neighborhood and is jumped to a new location"
Currently, the tone is bit harsh and puts the blame on the user for stepping out.

<img width="1280" alt="jumping_neighborhood" src="https://cloud.githubusercontent.com/assets/2873216/18189539/c908a0c4-7089-11e6-91d8-0ed7e0ea5aa6.png">

TODO: Come up with several messages that we can show.

[2016-09-02 01:23] manaswis opened #287 "Make keyboard shortcuts feature more visible to the user"
Currently, availability of keyboard shortcuts as an option for navigating the interface is hidden. Need to make it more visible.

TODO:
In the first mission, after the user takes two steps, show an instruction pop-up informing about keyboard shortcuts e.g. "Did you know you could use X for doing Y? For more info, look at our FAQ".

[2016-09-02 01:26] manaswis commented on #151
This will, in part, be solved with https://github.com/ProjectSidewalk/SidewalkWebpage/issues/222

[2016-09-02 01:34] manaswis opened #288 "TODO: Deployment Analytics"
TODO: Analytics

How many visitors the site is getting.
What percentage of new visitors click participate.
What percentage of folks that click participate finish on boarding.
What percentage finish one mission.

[2016-09-02 01:39] jonfroehlich commented on #265
Ah oh, this is more serious than we thought. I just started auditing again. When I logged in, Fort Lincoln was shown as 0% complete (but I had forgotten that I had, in fact, actually audited it before). Then, once I started walking around, I'm like, gee this stuff seems very familiar and then I ended up being forced to to re-audit the paths that I already audited. Unfortunately, I didn't capture t

[2016-09-02 01:48] jonfroehlich commented on #151
Well, the map-based solution proposed above would be way nicer and I think more usability/helpful. But let's start with #222 and see how you do.

[2016-09-02 01:50] jonfroehlich opened #289 "Huge Landing Page Interface Icons on Page Load"
While this is a small problem, it is noticeable and does make our website feel a bit amateurish.

Video: https://youtu.be/KHDJF2MSOlc

![image](https://cloud.githubusercontent.com/assets/1621749/18190112/1856d084-708e-11e6-9971-a654b357b8c5.png)

Is probably something that @Soben713 could solve given his background.

But perhaps the point is moot if we redesign the landing page anyway.

[2016-09-02 04:48] kotarohara commented on #265
It seems like the data is there. So the problem is that the completed tasks are not tied correctly to Jon's account. This could be because the session timed out before you worked on the tasks and the data was not tied to your account. Either way, I'll take a look.

[2016-09-02 05:26] manaswis commented on #222
Submitted pull request https://github.com/ProjectSidewalk/SidewalkWebpage/pull/290

[2016-09-02 05:32] manaswis commented on #278
Yes, this will definitely be useful. The current way of testing on local is good but testing on production database would be more useful than the stagnant db on our local system.

So the test server should allow us to switch between production db and test server db (for not messing up the actual production data if the feature/bug fix involves inserting new data e.g. fake accounts).

[2016-09-02 05:35] manaswis commented on #167
This has been pushed to production. Shall we close this?

[2016-09-02 06:05] manaswis commented on #285
Just noticed, Kris also reported about the same problem

<img width="637" alt="bouncing_back_kris_twitter" src="https://cloud.githubusercontent.com/assets/2873216/18194129/64cf8afa-70b1-11e6-8cdb-bdc871e815ad.png">

[2016-09-02 09:35] jonfroehlich commented on #167
If you're sure the code works. :)

Sent from my iPhone

[2016-09-02 09:59] jonfroehlich opened #291 "When You First Login... Should Label Type Counts Be Non-Zero?"
I just logged in and you can see my mission bar started at 60% and my overall label count is 75, however, my individual label type counts are 0. Is this appropriate behavior?

![image](https://cloud.githubusercontent.com/assets/1621749/18200353/664b3fd4-70d2-11e6-8861-bf3d0006020c.png)

[2016-09-02 16:30] jonfroehlich commented on #288
@manaswis, can't you just calculate touchscreen users from Google Analytics? Would be good to know this stuff ASAP.

[2016-09-02 17:11] jonfroehlich commented on #288
Looks like it's 30% touchscreen currently. That's a pretty high number--don't you think!

![image](https://cloud.githubusercontent.com/assets/1621749/18211939/6c01ba7a-710e-11e6-9d28-a376885dae3e.png)

[2016-09-02 17:19] kotarohara commented on #288
I see you in a meeting yet you are commenting :)

[2016-09-02 17:28] jonfroehlich commented on #288
Haha, I assure you I do this far less than the average prof!

On Fri, Sep 2, 2016 at 1:19 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-09-02 20:46] kotarohara commented on #263
Can I close this?

[2016-09-02 21:05] kotarohara commented on #152
Ok, I'm closing this. Please reopen if it needs to be discussed.

[2016-09-02 21:05] #152 closed

[2016-09-02 21:05] jonfroehlich commented on #263
Yes

Sent from my iPhone

[2016-09-02 21:08] kotarohara commented on #229
Is this a still valid issue?

[2016-09-02 21:20] kotarohara commented on #201
I will move videos to YouTube. I will upload the video as makeability.sidewalk@gmail.com.

[2016-09-02 21:24] kotarohara commented on #163
I'm moving the comment from #195 to here.

[2016-09-02 21:25] kotarohara commented on #195
I moved the last comment to #163 . I'm closing this issue that is actually not an issue.

[2016-09-02 21:25] #195 closed

[2016-09-02 21:27] kotarohara commented on #186
@Soben713 , please copy the examples on the "Explain this!" modal windows to the FAQ page.

[2016-09-02 21:33] kotarohara commented on #176
I am closing this issue because Edge users consist of less than 1%. I don't think it is worth addressing. Please reopen if necessary.

![cursor_and_browser___os_-_analytics](https://cloud.githubusercontent.com/assets/612263/18218797/3b9488d4-7133-11e6-9bc1-7d461706db6e.png)

[2016-09-02 21:33] #176 closed

[2016-09-02 21:34] kotarohara commented on #175
Closing because Edge user rate = 0.72%.

![cursor_and_browser___os_-_analytics](https://cloud.githubusercontent.com/assets/612263/18218863/7feaf392-7133-11e6-99df-51779ba9066b.png)

[2016-09-02 21:34] #175 closed

[2016-09-02 21:36] kotarohara commented on #223
This is same as #239. I'm closing this.

[2016-09-02 21:36] #223 closed

[2016-09-02 21:39] #263 closed

[2016-09-02 21:51] jonfroehlich commented on #175
We need to test on Chrome, Safari, and Firefox at least then. I don't think I ever tested on IE.

[2016-09-02 21:51] jonfroehlich commented on #175
@manaswis and @Soben713, perhaps you can think of a good cross-platform testing strategy for us before we deploy v2.

[2016-09-02 21:53] jonfroehlich commented on #152
I agree that it can be closed. I think it's fine as is.

[2016-09-02 22:08] Soben713 commented on #152
I agree with @danZzyy and I don't think this issue should be closed. This link maybe useful to see why:
https://www.nngroup.com/articles/form-design-placeholders/

[2016-09-02 22:27] kotarohara commented on #249
This is the continuation of #241

[2016-09-02 22:33] Soben713 commented on #186
@kotarohara Will do.

[2016-09-02 22:43] kotarohara commented on #150
I think this will become obsolete once Updates to Landing Page (#256) is done.

[2016-09-02 22:57] kotarohara opened #293 "Close the mission modal window when you click "Retake Tutorial""
Close the modal window so that it does not overlap with another window as shown in the picture below.

![image](https://cloud.githubusercontent.com/assets/612263/18220330/e2e8196a-713e-11e6-982f-08528365a76b.png)

[2016-09-02 23:29] manaswis commented on #222
Updated with user tables and pagination --> pull request https://github.com/ProjectSidewalk/SidewalkWebpage/pull/294

[2016-09-03 00:18] jonfroehlich commented on #152
Ok. Reopen and mock up suggested improved interface that addresses problem; however, don't do it now as we have far more serious and important issues to address. I think Kotaro closed it because he is satisficing--something that we are constantly doing currently because we simply have so many open issues.

Sent from my iPhone

[2016-09-03 02:56] jonfroehlich opened #295 "Label Types in Project Sidewalk: Crosswalks, Pedestrian Signals, and Beyond"
From user feedback:

![image](https://cloud.githubusercontent.com/assets/1621749/18222269/51d0f272-7160-11e6-942e-fa34b6817e4e.png)

Could have:
- A crosswalk label for crosswalks
- A 'missing crosswalk' label to indicate the need for a crosswalk

[2016-09-03 03:03] jonfroehlich opened #296 "I Think There Are Likely Bugs Associated With Finishing a Neighborhood"
I have successfully completed two neighborhoods. In both cases, there were bugs that prevented me from going on the next mission. Now, we are receiving some feedback from users that this is the case.

I would like @manaswis  and @Soben713 to try and complete one neighborhood for testing. As the near the completion of the neighborhood, please start screen recording so we can capture what happens.

[2016-09-03 03:13] jonfroehlich commented on #219
@manaswis, perhaps this could be your first frontend task? Otherwise, @kotarohara, can you please do this. It would be super fast and easy... and now users are requesting it.

![image](https://cloud.githubusercontent.com/assets/1621749/18222341/cdf8594c-7162-11e6-9e1c-3ea1f29b8808.png)

[2016-09-03 03:51] manaswis commented on #219
I could do it but I won't be able to do it in the next 3 days. If its immediately needed, then @kotarohara would be the best person to do this. Otherwise, I will do it after I return.

[2016-09-03 14:37] jonfroehlich commented on #265
I just logged in and was assigned a 0.5 mile audit mission in Fort Lincoln. I just completed it. Here's what the Mission Complete screen looks like:

![image](https://cloud.githubusercontent.com/assets/1621749/18225545/78712ec6-71c2-11e6-8b17-c9ca01f997bd.png)

[2016-09-03 14:40] jonfroehlich commented on #222
Can you also add in a boolean column for Temporary:

![image](https://cloud.githubusercontent.com/assets/1621749/18225556/c4cce27e-71c2-11e6-9e3a-c8b358271384.png)

[2016-09-03 14:59] jonfroehlich commented on #265
Now I am being re-routed through an audit area I've audited like three times before. I hope we can resolve this bug soon or I'll never be able to finish Fort Lincoln.

I just took the following screenshot:
![image](https://cloud.githubusercontent.com/assets/1621749/18225637/62c74d46-71c5-11e6-8618-1d37d9dcd8e9.png)

Does this screenshot look familiar? It should, because I already audited this area

[2016-09-03 15:01] jonfroehlich commented on #265
Just completed another mission and you can see the green part on the map is pretty weird... not sure what's going on:

![image](https://cloud.githubusercontent.com/assets/1621749/18225656/b4a22190-71c5-11e6-9368-ce95d1c3774b.png)

[2016-09-03 15:09] jonfroehlich opened #297 "Just Started a Brand New Mission and Mission Bar at 47%"
I just completed a mission in Fort Lincoln and started a new one and at the beginning of my mission, the mission bar is 47%:

![image](https://cloud.githubusercontent.com/assets/1621749/18225686/690bd54a-71c6-11e6-8b81-b3d8a9ef5f0c.png)

This is related to but I think different from https://github.com/ProjectSidewalk/SidewalkWebpage/issues/159 and https://github.com/ProjectSidewalk/SidewalkWebpage

[2016-09-03 15:11] jonfroehlich commented on #297
Hmm, now, as I am walking around, the mission bar reset. I'm not sure when this happened but now it's at 17%. This is definitely a bug.

![image](https://cloud.githubusercontent.com/assets/1621749/18225705/31260c26-71c7-11e6-950d-760735ebe4b6.png)

[2016-09-03 15:19] jonfroehlich commented on #297
Seems to be going up correctly now:

![image](https://cloud.githubusercontent.com/assets/1621749/18225742/5599b318-71c8-11e6-85d7-4953b5bd117c.png)

[2016-09-03 16:43] Soben713 commented on #297
Had the same experience today. The mission progress bar started at 43% and after walking a little it was reset to 0. Luckily I was recording my screen. Here is the video: https://www.youtube.com/watch?v=vC_-dY3aw9o

[2016-09-03 17:49] jonfroehlich commented on #241
Just received an email from a user:

<img width="1081" alt="screen shot 2016-09-03 at 1 04 13 pm 1" src="https://cloud.githubusercontent.com/assets/1621749/18226679/35f68ac6-71dd-11e6-9489-4337d414563c.png">

This has got to be related to the problem of finishing a neighborhood. We simply did not test this condition enough and I have yet to see a successful case where you complete a neighborhood a

[2016-09-03 17:55] kotarohara commented on #241
Yes, actually this was what I was working on a couple of days back. I'll get back to this tonight.

[2016-09-03 20:16] jonfroehlich commented on #296
@Soben713 just ran through a neighborhood quickly (Columbia Heights) on his localhost so he wouldn't have to label anything and could just test what happens when you fully complete the neighborhood.

The video is here:
https://www.youtube.com/watch?v=f95NXOU3dMg

Real action starts here:
https://youtu.be/f95NXOU3dMg?t=2m16s

Some weird things going on:

1. Notice how in this mission complete scree

[2016-09-04 00:17] jonfroehlich opened #298 "Make Nice Table of Contents with Anchors for FAQ"
We should have a Table of Contents at top of [FAQ page](http://sidewalk.umiacs.umd.edu/faq) (something like this http://www.cs.umd.edu/~jonf/advising.html).

We could also improve the aesthetic a bit and move the hosting of the videos to YouTube (see Issue https://github.com/ProjectSidewalk/SidewalkWebpage/issues/201)

[2016-09-04 17:31] jonfroehlich commented on #291
@kotarohara, can you please comment. Did you design it this way?

My feeling is that if the progress bar shows 60% when the user logs in (i.e., some state is stored), then we should also show the label counts that contributed to that 60%. Otherwise, it's inconsistent.

[2016-09-04 17:35] jonfroehlich opened #299 "Each 'Anonymous' User Should Get Their Own Anonymous Identifier"
Currently, it looks like all anonymous users are grouped together--at least, this is how it looks from the admin interface:

![image](https://cloud.githubusercontent.com/assets/1621749/18232720/03ae72b4-72a4-11e6-8d6b-e42285622efb.png)

If this is indeed the case, I think it should be changed so that every new anonymous user is assigned a new anonymous identifier (e.g., anonymous + random characte

[2016-09-05 17:10] Soben713 commented on #298
There are multiple issues here. I'm going to close this and create two separate ones:

1. Adding table of contents
2. Improving the aesthetic

Moving the videos to youtube is already in another issue (#201) as mentioned in the issue, so I'm not creating another one for that.

[2016-09-05 17:10] #298 closed

[2016-09-05 17:12] Soben713 opened #301 "Create a Table of Contents for the FAQ Page"
Originally in #298, by @jonfroehlich:

[2016-09-05 17:15] Soben713 opened #302 "Improve FAQ Page's Aesthetic"
Originally in #298:

[2016-09-05 17:48] jonfroehlich commented on #301
Can I see a screenshot of the new page?

[2016-09-05 17:48] jonfroehlich commented on #302
Can I see a screenshot?

[2016-09-05 17:50] Soben713 commented on #301
Sure.

![image](https://cloud.githubusercontent.com/assets/1576529/18254809/ade28d6c-736f-11e6-866b-4d75c1e6fcb8.png)

[2016-09-05 17:53] Soben713 commented on #302
This is not fixed yet.

[2016-09-05 17:58] jonfroehlich commented on #301
We will probably want to organize these into topics/categories at some point (just like http://www.cs.umd.edu/~jonf/advising.html). Should probably create a new ticket for this.

[2016-09-05 18:01] Soben713 commented on #301
@jonfroehlich I agree. That makes it much easier to find a question, specially if there are too many.

[2016-09-05 18:09] Soben713 commented on #289
I think this will be fixed if we add `width=200` to the html tag of the image instead of specifying it in the CSS file. I tested it and it seems to be working fine on my local server.

[2016-09-05 18:09] jonfroehlich opened #303 "Audit GSV Explorer Window Should Scale Larger Automatically Based on Windows Size"
I've long wanted the GSV audit interface to scale automatically based on the open browser window's size (though with a minimum and maximum size set). And now some users are asking for this:

![image](https://cloud.githubusercontent.com/assets/1621749/18255002/43cc8308-7372-11e6-8ced-43fa2dfd8825.png)

@kotarohara dismissed this as too much work, especially because of the algorithm for placing labe

[2016-09-05 18:13] jonfroehlich opened #304 "Support Ctrl-A in Description Textbox in Pop-up Severity Rating Dialog Box"
Low priority but since we don't (yet) support auto-complete in the description textbox, would be nice to support ctrl-a so user could quickly copy text to be used in future description textboxes.

![image](https://cloud.githubusercontent.com/assets/1621749/18255034/e1716420-7372-11e6-90df-7e790a013242.png)

[2016-09-05 18:18] jonfroehlich commented on #289
That's an easy fix but doesn't that break good HTML/css design? :)

[2016-09-05 18:27] jonfroehlich commented on #303
Aha, looks like I already entered in something about this previously: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/178

[2016-09-05 18:29] jonfroehlich commented on #156
We can quickly discuss this one as a team and then close the Issue or address it quickly.

Tagging @manaswis, @kotarohara, & @Soben713.

[2016-09-05 18:32] Soben713 commented on #289
It does. However considering the main reason of this problem, which is the time it takes for the CSS files to be loaded, I can think of only two ways to fix this:

1. Specifying the width in the HTML file
2. Changing the original image size

Maybe the latter fix would be better.

[2016-09-05 18:35] jonfroehlich commented on #304
This is based on a suggestion from a user. Full thread here:

![image](https://cloud.githubusercontent.com/assets/1621749/18255263/e7672b3c-7375-11e6-89f9-950062efe704.png)

The response:
![image](https://cloud.githubusercontent.com/assets/1621749/18255266/f4997d82-7375-11e6-8591-6aee58ca36c6.png)

[2016-09-05 18:38] jonfroehlich commented on #289
I agree, I think we should do the latter. Hmm, it's currently an SVG but we could just make it a 200 pixel wide PNG or something. No reason that I know of to make this an SVG...

[2016-09-05 18:54] Soben713 commented on #289
There is no need to change the file type. It is possible to specify a default width for an SVG image too. Scalability of the image is the main benefit, the image will not look sharp in high resolution displays if it is not scalable.

[2016-09-05 19:00] jonfroehlich commented on #289
OK, let's set the default width then!

[2016-09-05 23:05] jonfroehlich opened #306 "Idle Window Gets Signed Out Implicitly And Then Missions Completed as Anonymous (Unbeknownst to User)"
It looks like if you leave a tab open and idle with an active audit going for some period of time (not sure how long), you will be implicitly signed out and then if you return to the tab and continue work, you will do so as anonymous (however, the UI will still say your username).

Also, at least one user has contacted me about this. They started an audit, left the tab open and idle for a while, t

[2016-09-05 23:08] jonfroehlich opened #307 "Store Sound/Mute Option in User Profile"
![image](https://cloud.githubusercontent.com/assets/1621749/18258040/23c685ca-739c-11e6-8e22-3f9c87ac18fe.png)

[2016-09-05 23:10] jonfroehlich commented on #241
Another user reported this problem. We really must fix this.

![image](https://cloud.githubusercontent.com/assets/1621749/18258046/5a06ca5a-739c-11e6-9388-70e178f34561.png)

[2016-09-05 23:13] jonfroehlich opened #308 "Neighborhood Name Displayed is Not Current Neighborhood"
Just received this email:

![image](https://cloud.githubusercontent.com/assets/1621749/18258059/a5e9eaa6-739c-11e6-8e99-e163e7327565.png)

This user also left a comment using the feedback tool so we have the panorama stored and when this happened--maybe useful for tracking down what happened:

![image](https://cloud.githubusercontent.com/assets/1621749/18258070/ce929502-739c-11e6-8acb-caae27c278c6

[2016-09-05 23:16] jonfroehlich opened #309 "GSV Window Went Gray During Audit"
![image](https://cloud.githubusercontent.com/assets/1621749/18258078/fbf13dd2-739c-11e6-8caa-2d783916c80e.png)

We received this over email and it was also logged using our built-in feedback tool:

This corresponds to:

![image](https://cloud.githubusercontent.com/assets/1621749/18258086/21556724-739d-11e6-91a5-98c2c08b81d3.png)

[2016-09-06 14:23] manaswis commented on #232
UPDATE:
Based on my current understanding of the tool, the labels aren't lost; they just weren't visible on that screen. Nowadays, I see that when you restart your ongoing mission when you come back to the audit screen. So this might be a one time occurrence.

This issue can be closed now and reopened again, if it happens again.

[2016-09-06 14:28] jonfroehlich commented on #232
What happens when you click 'back' in the browser? To me, this is a separate issue than auto-saving ongoing missions--and somehow they got mixed into one Issue.

Also, can you concretize/strengthen your current understanding. You sound like an outsider making this comment  with uncertainty rather than an insider on the project team.

[2016-09-06 14:48] manaswis commented on #233
Clarified the text of the issue.
Issue 1 is covered by #234 and Issue 2 has been taken care of.

This issue can be closed now.

[2016-09-06 14:58] manaswis commented on #232
This was an issue that I created when I used it for the first time as an outsider. When I clicked the back screen, it went to the last screen I was on (that screen isn't of importance here). And when I came back to the audit screen, the mission didn't start where I left off. I missed some words in the previous comment that I have corrected and added now.

I tried it again now, the mission starts a

[2016-09-06 16:11] manaswis commented on #232
I investigated this issue more and closely monitored how the mission is being tracked. I am adding screenshots of auditing one mission. Every specified set consists of the screen(s) before clicking back button and the screen(s) after coming back to the audit screen. Point to note in each of these sets are the mission stats (progress level, total labels etc.) on the right of the GSV - highlighted i

[2016-09-06 16:18] manaswis commented on #229
No, this can be closed. The issue of labels not being visible on the GSV screen has been discussed and clarified in the meetings.

[2016-09-06 16:21] Soben713 opened #310 "Some Street Segments Are Not In The Neighborhood"
I completed another neighborhood on my localhost and uploaded the whole [video on youtube](https://youtu.be/KEnH_rlQLP4). I noticed some missions contain street segments that are far from the neighborhood (look at [5:33](http://www.youtube.com/watch?v=KEnH_rlQLP4&t=5m33s) and [29:33](http://www.youtube.com/watch?v=KEnH_rlQLP4&t=29m33s) for example). It is probably a bug.

Look at this:
![image](ht

[2016-09-06 16:26] manaswis commented on #228
This issue can be closed. The addition pop-up instructions is being discussed in other issues. In particular to this one, the walking straight instruction can be more explicit in the first mission by showing an instruction to the user after he/she takes his first few steps saying something like: "Do you know you can double click the road to move ahead? Why don't you give it a try?"

[2016-09-06 16:29] jonfroehlich commented on #229
We need to figure out a way to address this however, even if just in the FAQ

[2016-09-06 16:31] manaswis commented on #227
Was referring to the buttons around the GSV screen e.g. jump, the labels etc.
<img width="1192" alt="screen shot 2016-09-02 at 1 07 03 am" src="https://cloud.githubusercontent.com/assets/2873216/18282044/57916500-742d-11e6-89bc-14fe64c9e75b.png">

This can be closed. It isn't very important.

[2016-09-06 16:31] jonfroehlich commented on #232
This is what I'm talking about! Nice job @manaswis.

IMO, I think this should be marked as a bug.

[2016-09-06 16:33] jonfroehlich commented on #227
We could certainly discuss implementing hover tooltips for the buttons.

[2016-09-06 16:43] Soben713 commented on #309
This happened to me too. Here is the link to the specific time it happened:
https://www.youtube.com/watch?v=KEnH_rlQLP4&t=11m58s

[2016-09-06 17:34] jonfroehlich commented on #228
I like this. Good idea. Two separate things:

1. Do we want to pop this up even if the user is already double clicking to walk?

2. Once the pop-up has occurred, do we want to actively monitor to see if they actually do it and then intervene again if they don't?

Sent from my iPhone

[2016-09-06 17:44] jonfroehlich commented on #309
@kotarohara, have you ever seen this? I don't believe I have... any thoughts on what could be happening here?

@Soben713, when this happened, did you open Chrome console and check for Javascript errors.

[2016-09-06 17:49] jonfroehlich commented on #310
Hmm, weird. Definitely a bug. I have not seen this too often. Logan Circle's boundary data looks right so not sure how this could happen or where that bug could be occurring (e.g., why isn't the boundary check working for Logan Circle?).

Keep going through full neighborhoods @Soben713 because have a total lack of data on what happens when you complete a neighborhood and there are lots of probable

[2016-09-06 20:30] manaswis commented on #222
Done! Pull request --> https://github.com/ProjectSidewalk/SidewalkWebpage/pull/311

[2016-09-07 00:58] jonfroehlich commented on #233
I don't think this can be closed as there is information in this Issue not captured in #234.

[2016-09-07 02:17] Soben713 commented on #309
@jonfroehlich No unfortunately I didn't check the console.

One way of reproducing this problem is by disconnecting the internet while auditing; even if you reconnect and move to new places the screen remains grey.

[2016-09-07 11:30] jonfroehlich commented on #309
@Soben713, can you reproduce and see if there is anything in the console window that helps you diagnose problem?

[2016-09-07 16:01] kotarohara commented on #310
This is a expected behavior. Street segments that **intersect** the neighborhood boundary polygon are served to the users.

[2016-09-07 16:04] jonfroehlich commented on #310
Ah, got it, so it's just a reflection, in this case, of the small size of this neighborhood and the fact that many segments happened to escape the boundary. I think we can close this then, yah?

[2016-09-07 16:09] kotarohara commented on #309
A similar thing happened when we dropped people to locations where GSV images are not available.

1. Once you get into that gray window state, the only fix is to refresh the window. It's a bug in GSV API and you can't do anything about it.
2. Not sure how you can get into that gray window state... You should be taken to a spot where there is a GSV image when you click one of the white arrows or do

[2016-09-07 16:10] kotarohara commented on #310
Yes, I'm going to close it.

[2016-09-07 16:10] #310 closed

[2016-09-07 16:23] kotarohara commented on #308
I originally thought this is because of the underlying data. For example, a census tract polygon that we use to represent a neighborhood contains multiple candidates for neighborhood names (which comes from another DC DOT data source) and we end up taking the one that does not match what people consider as the right neighborhood name. But I checked the location of Twining and that's pretty far awa

[2016-09-07 16:30] kotarohara commented on #307
The comment says:

An easy way to achieve this would be to store the setting in a cookie or browser storage (which is wrapped by `TemporaryStorage.js`) and reloaded on the browser refresh. I think this is a low priority work though.

[2016-09-07 16:34] kotarohara commented on #306
Yeah, this could be the reason for #265 as I noted in that issue.

[2016-09-07 16:37] kotarohara commented on #306
I set the authenticated user session to never expire, but it may not be working as I intended.

[2016-09-07 16:47] kotarohara commented on #303
I don't think that's worth implementing because (i) it's hard and (ii) you can zoom using the browser feature Jon mentioned above.

The label placement/tracking uses some constants (`alpha_x` and `alpha_y`) tied to the Street View pane size and aspect ratio. This tracking feature is a hack and not a documented feature in the Street View API. So I don't know how these constants are determined, whic

[2016-09-07 16:49] jonfroehlich commented on #309
If we can't fix this technologically, then we should add a section in FAQ
on this with screenshot and instructions to user on how to fix it (e.g., by
ctrl-refresh or something like that).

On Wed, Sep 7, 2016 at 12:09 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehli

[2016-09-07 16:49] kotarohara commented on #299
Users' tasks are tied to their IP address, so I don't think it is necessary to create user id for each new users (and I think it would be even harmful if we create a user for every session).

[2016-09-07 16:50] jonfroehlich commented on #303
Thanks @kotarohara for the details on this. It does sound like this is also a candidate for the FAQ rather than an actual technical fix. We could have a nice animated gif (or video) that shows off my solution.

[2016-09-07 16:51] kotarohara commented on #299
To be more specific, that's right that every anonymous contribution is tied to the `anonymous` user, but every task contributed are also tied to IP address, which allows us to (sort of) distinguish who contributed what.

[2016-09-07 16:52] jonfroehlich commented on #308
OK, we should continue to monitor this.

[2016-09-07 16:54] jonfroehlich commented on #307
I agree that it's a low priority but could be a nice entry point for @Soben713 to start contributing to the code.

**So two possible solutions:**
1. Store in cookie or browser storage (lightweight solution) -- this would also, I believe, work even if you are anonymous and never sign in
2. Store in backend per user (heavyweight solution) -- this would only work if user creates account and signs in

[2016-09-07 16:54] kotarohara commented on #297
Yeah, I don't know why it's happening. @Soben713 , do you want to look into it?

[2016-09-07 16:55] jonfroehlich commented on #306
OK, this requires further testing. Maybe @manaswis can start to investigate this on her localhost. Start auditing as a signed in user--then stop and keep tab open and idle for ~1 hour, 5 hours, or whatever--and then return to it and see what happens.

[2016-09-07 16:56] jonfroehlich commented on #297
@kotarohara, wouldn't this require @Soben713 investigating both backend and frontend--seems like a pretty difficult task to debug with his current understanding and experience of codebase.

[2016-09-07 16:59] jonfroehlich commented on #299
Good, this is, to me, what matters! We will want to analyze individual user behavior as much as possible for our research and to help improve our systems.

[2016-09-07 17:01] jonfroehlich commented on #299
And maybe the Admin Interface can possibly breakdown behaviors a bit more based on ip as well... we can discuss.

[2016-09-07 17:02] kotarohara commented on #296
I guess this is fixed in the PR #312 ?

[2016-09-07 17:05] kotarohara commented on #295
We had a discussion about this. I don't think it should be included as a part of the current interface, which is focused on collecting data for people with mobility impairments.

But I agree it would be nice to collect crosswalk data along with all the other urban data.

[2016-09-07 17:06] manaswis commented on #306
Yes, I have seen this too. And this is happening. See the screenshots below. I had signed in at midnight and left the computer (which went to sleep). The user is definitely logged out. And the new labels added using the screen is attributed to anonymous.

<img width="1233" alt="screen shot 2016-09-07 at 1 00 30 pm" src="https://cloud.githubusercontent.com/assets/2873216/18321367/a3e21f3e-74fb-11e6

[2016-09-07 17:07] kotarohara commented on #291
Currently there is no feature to restore the label count for that mission after reload.

[2016-09-07 17:09] kotarohara commented on #287
@manaswis Is this a TODO that we decided to implement?

[2016-09-07 17:10] kotarohara commented on #286
@manaswis Do you want to work on it?

[2016-09-07 17:11] manaswis commented on #287
Yes, we discussed this in last week's meeting.

[2016-09-07 17:13] manaswis commented on #286
Sure

[2016-09-07 17:16] Soben713 commented on #309
This is the console window when I get disconnected:
![image](https://cloud.githubusercontent.com/assets/1576529/18321697/1b26988a-74fd-11e6-85a5-eea1f941d176.png)

I see no more logs after reconnecting but the screen remains grey.

[2016-09-07 17:16] kotarohara commented on #285
No, the tutorial should not be shown to the same user. I'll take a look why it showed up for the user.

[2016-09-07 17:17] manaswis commented on #167
This seems to be working. Closing it :)

[2016-09-07 17:17] #167 closed

[2016-09-07 17:17] kotarohara commented on #285
And I think there is another issue in this thread about how we treat the anonymous contribution after the user decides to sign up/sign in.

[2016-09-07 17:22] Soben713 commented on #307
I added it to Public Deployment v2 and will look into it.

[2016-09-07 17:26] kotarohara commented on #284
@jonfroehlich No, I can't find the video.

[2016-09-07 17:28] jonfroehlich commented on #296
Will need to be tested and verified by @manaswis and @Soben713 before we close this.

[2016-09-07 17:29] jonfroehlich commented on #295
I agree with you. What should we do with feature requests like this? Close them out or keep them open so that we remember them...

[2016-09-07 17:30] jonfroehlich commented on #291
OK, I think this should be fixed (and is arguably a "UI bug" in that half of the interface tracks and visualizes state and the other half does not--this inconsistency could lead to user confusion).

[2016-09-07 17:32] Soben713 commented on #297
I don't mind investigating the backend :)
I can look into it once we find a way to reproduce this bug.

[2016-09-07 17:32] jonfroehlich commented on #291
I think also that this could be improved by having a 'Welcome Back' screen that tells the user that they are about to resume a mission and how far they are--so that there is a clear distinction between starting a new mission and resuming an old one.

[2016-09-07 17:39] kotarohara commented on #297
I don't think it's related to backend though. There is something going on in `Mission.getMissionCompletionRate` method which is used to update the status pane.

[2016-09-07 17:40] kotarohara commented on #287
OK!

[2016-09-07 17:48] Soben713 commented on #287
I don't really like the idea of using a popup message in the first mission. My reasons:

1. Shortcuts are useful if you use the system a lot. There are already too many things to learn when you first start that displaying a message for introducing the shortcuts would just make things more complicated for the user.
2. These types of messages are usually annoying and distracting because they are sho

[2016-09-07 17:53] jonfroehlich commented on #307
@Soben713, I would prioritize the Other issue that I assigned you in the Issue tracker first.

[2016-09-07 17:54] jonfroehlich commented on #219
Oops, I thought I had assigned @Soben713 to this last week but I must not have clicked the 'Comment' button so it was lost in a tab somewhere. @Soben713, I think this should be an easy place to start with some frontend dev.

[2016-09-07 17:56] Soben713 commented on #219
@jonfroehlich Will do.

[2016-09-07 17:57] jonfroehlich commented on #284
@kotarohara, OK. I think we should just do the FAQ fix as I suggested.

[2016-09-07 18:03] jonfroehlich commented on #287
Hmm, good discussion.

I actually almost always read pop-ups that occur during onboarding in games--which is the model we are following here--as long as they are quick to read, well-designed, and contextualized to what the user is currently doing. This is very different from pop-up boxes that some software has when a program first loads (e.g., tips of the day)--I never read those because they are

[2016-09-07 18:34] manaswis opened #313 "Starting a new neighborhood doesn't reset the main neighborhood stats to zero"
From PR https://github.com/ProjectSidewalk/SidewalkWebpage/pull/312:

<img width="1229" alt="jumped to deanwood" src="https://cloud.githubusercontent.com/assets/2873216/18300177/defb9a44-7494-11e6-9e36-73bb90073645.png">

<img width="1235" alt="new_mission" src="https://cloud.githubusercontent.com/assets/2873216/18323999/37b19f9e-7508-11e6-91da-bfae5e4c18bd.png">

Both 6.2 miles and 48 labels shou

[2016-09-07 18:37] manaswis opened #314 "Jumped dialog message shown immediately after a new mission is assigned"
From PR #312:

**Issue**: After completing the old mission (or neighborhood), and moving on to a new one, the jump dialog message immediately shows up after we dismiss the new mission text. See example below.

Old neighborhood: Deanwood
Newly assigned neighborhood: Mount Pleasant.

After the old mission is complete, here are the series of screenshots:
<img width="1223" alt="mission_complete" src="

[2016-09-07 18:40] manaswis opened #315 "Jumping increases the mission progress significantly"
From PR #312:
The first option ("I want to explore another area") increases the mission progress gradually (~1%) and sometimes reduces too.
[https://youtu.be/60rdcNztxGc?t=7s](https://youtu.be/60rdcNztxGc?t=7s)

The second option ("I cannot go the direction..") increases the mission progress significantly! It becomes 18% to 49 % to 100%.
See video (starts at 36s):
[https://youtu.be/60rdcNztxGc?t=3

[2016-09-07 18:45] manaswis commented on #299
Edge case: If the user moves from the last place he labeled as an anonymous user. E.g. when I moved from my home to university. So, some double counting for each user will occur, which I guess is expected with IP address.

[2016-09-07 18:49] Soben713 opened #316 "Label icons not correctly shown on Safari and Firefox"
Here is the video: https://youtu.be/c6K1Wz8KNwo

The first browser is Safari and then I switch to Firefox. Sorry that it's not clear in the video. Also, the label colors strangely was changed in the screen recording software (e.g., it is purple for the missing curb ramp) just ignore that, it didn't happen in the actual experiment.

[2016-09-07 18:58] Soben713 commented on #287
Ok then I guess we are different on that, would be useful to have some user studies to see what other users do. But in general, I agree with this:

It would probably be better if we show the message when the user clicks on a label instead of showing it after they take some steps. Also it would probably be better if the message does not interrupt the labeling and is shown somewhere else in the scre

[2016-09-07 19:53] kotarohara commented on #315
Selecting the first option updates (decreases) the mission completion rate if you are in a middle of the street edge. You are basically canceling what you have done in that task, so this is an expected behavior. Label data and interaction log will be stored, but task will be marked as incomplete.

Selecting the second option ("I cannot go...") **should** increase the mission completion rate. The s

[2016-09-07 19:55] kotarohara commented on #314
@manaswis Can you provide more detail to this issue?

[2016-09-07 20:00] manaswis commented on #314
Updated the issue description.

[2016-09-07 20:03] manaswis commented on #306
I think the timeout is approx. 1 hour.

[2016-09-07 20:38] jonfroehlich commented on #315
So, what should we do about this? @manaswis? @kotarohara?

@kotarohara did answer an important question related to:

He said:

[2016-09-07 20:40] jonfroehlich commented on #306
OK, good. Now that we *know* this is happening, we have to investigate *why* this is happening. Is Chrome losing the session? Is the backend session stuff implemented correctly? Etc.

[2016-09-07 20:45] kotarohara commented on #306
I set the timeout from never to 30 days, so it should address the issue.

[2016-09-07 20:46] jonfroehlich commented on #306
So you think 30 days timeout will fix it?

[2016-09-07 20:47] kotarohara commented on #306
I don't say it's a fix as it will timeout after 30 days, but it should address the issue.

[2016-09-07 21:35] jonfroehlich commented on #306
@manaswis, can you test this too?

[2016-09-07 22:16] manaswis commented on #306
Sure

[2016-09-08 00:37] jonfroehlich commented on #151
This continues to be a potentially huge issue. Yes, we appear to be getting user contributions but we have no way of evaluating the quality of that work and based on a cursory review, I'm concerned.

![image](https://cloud.githubusercontent.com/assets/1621749/18333156/8f502374-753a-11e6-94e4-3e10500a8760.png)

This particular user was auditing for over an hour today but I'm concerned that some of

[2016-09-08 00:47] jonfroehlich commented on #316
The FireFox bug was noted here: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/177.

[2016-09-08 00:54] jonfroehlich commented on #316
So far, 63.55% of users are using Chrome, then 13.47% Safari mobile (I believe that is Safari (in-app), which refers to users visiting our site from Facebook or Twitter, etc. on their IOS devices), then 11% Safari. Note: nearly 20% of our users are Safari or Firefox so it seems like testing on these platforms and getting them to work is important. I'm assigning this to @Soben713.

![image](https:/

[2016-09-08 00:56] jonfroehlich commented on #315
@manaswis, are you satisfied with @kotarohara's answer. Do you think we should be doing something differently? Does his answer correspond with your actual experience or are their disparities?

[2016-09-08 00:57] jonfroehlich commented on #309
I am assigning this to @Soben713 to write an FAQ entry with nice screenshots (or animated gifs) to help explain the problem and the solution.

[2016-09-08 00:59] jonfroehlich commented on #299
@kotarohara, why do you think it's harmful if we create a user for every session? Harmful to who?

[2016-09-08 03:36] kotarohara commented on #299
Harmful to us, in a sense that we are inserting unnecessary user id/username records to our database.

[2016-09-08 03:45] jonfroehlich commented on #299
But only if they click participate, right?

Sent from my iPhone

[2016-09-08 03:50] kotarohara commented on #316
Yeah, please look into `Point.render()` method.

[2016-09-08 03:51] kotarohara commented on #299
Yes.

[2016-09-08 03:52] kotarohara commented on #314
Thanks.

[2016-09-08 14:16] manaswis commented on #306
I tested it. It doesn't seem to work. The user is still timed out. See the screenshot below:

Test 1:
<img width="1260" alt="screen shot 2016-09-08 at 12 06 50 am" src="https://cloud.githubusercontent.com/assets/2873216/18336812/78e45b5a-7558-11e6-85ad-30ace2e173ad.png">

Test 2:
<img width="1262" alt="screen shot 2016-09-08 at 10 13 15 am" src="https://cloud.githubusercontent.com/assets/2873216/1

[2016-09-08 15:05] manaswis commented on #315
Okay, there are a couple of questions to better understand the underlying process:

Does that mean the entire street segment is marked as audited from where you jumped?

Are we penalizing the user for not completing the task? But what about the labels he/she has contributed in that task? Are we discounting those contributions made by decreasing the completion rate?
Also, question about the complet

[2016-09-08 15:41] kotarohara commented on #315
Yes

No. We are just marking the task as `incomplete` when the user simply skips (by selecting the first option). The user will be routed to the same street segment later.

Can you clarify a little bit? I didn't really get this part.

That's probably because you "walked" a little bit. Note, when a user jumps to another location by skipping, (i) we randomly select the next street segment in the cur

[2016-09-08 15:45] kotarohara commented on #306
@manaswis Just to make sure, you used the branch that has been updated?

[2016-09-08 15:46] manaswis commented on #306
Also, there is another concern: Suppose the user leaves the screen at an intersection after labeling it but he/she doesn't move ahead onto any other street segment. If I am not wrong, to record those labels into the database, few interactions (e.g. few steps) are required right? So the user might lose those as well if he doesn't move and then gets timed out.

Although this is _another issue_. I ha

[2016-09-08 15:48] manaswis commented on #306
@kotarohara Yes, I used the branch that has been updated. I am currently running another test. In both the previous tests, my computer went to sleep so that might have been the cause.

In my current test, I checked I am still logged in after an hour of inactivity. I will continue to test it for a couple of more hours.

[2016-09-08 15:50] manaswis commented on #315
To clarify, what I meant was when you start walking the mission completion rate is updated. So it is getting updated based on how much you moved. So why is it decreasing even if the user is in the middle of the street segment and jumps at that point?

[2016-09-08 15:54] manaswis commented on #315
Thanks for the other responses. Few other questions:

Aren't both the answers contradicting? If the street from where you jumped is marked as `audited` then when is it marked as `incomplete`?

Am I missing something here?

[2016-09-08 15:56] kotarohara commented on #306
Ok, can you check if the browser `unload` event is triggered on tab close or page transition? If yes, the data should be stored. If not, that's a problem so please open another issue. Could it be because admin interface only visualizes the labels that are associated to the `completed` tasks? I can't remember the condition for visualizing the labels.

[2016-09-08 15:56] kotarohara commented on #306
Also, how are you testing timeout?

[2016-09-08 16:02] kotarohara commented on #315
No, please read the previous posts.

If the user selects the first option, which simply skips the task, then the task is marked incomplete. In this case the user does not get a credit.

If the user selects the second option that indicates GSV is not available and thus cannot advance with the task, then the street segment is marked as audited. In this case the task is marked as `competed`.

[2016-09-08 16:02] manaswis commented on #306
I note the time when I left the screen (kept the tab open). I don't interact with the admin interface as well in the same browser coz its using the same session. Then I check after an hour if the admin interface is still logged in. It its not logged in, then the session has timed out. Then, if I use the other tab with the GSV screen, the labels added then are marked by the anonymous user.

[2016-09-08 16:06] manaswis commented on #315
Okay. Then there has been some miscommunication. The previous comment:

The question was referring to the first option in the post.

Anyway, thanks. This clears it up.

[2016-09-08 16:11] #289 closed

[2016-09-08 16:19] #186 closed

[2016-09-08 17:05] jonfroehlich commented on #299
OK, one thing to think about is separating out anonymous in the Admin Interface based on ip address now _(e.g., _ so we have better understandings of time spent on page, # of audits per person, etc.) and___ also trying to present a different representation of 'user' on frontpage since alot of people seem to be auditing anonymously, our user counts are actually higher than what we present.

[2016-09-08 17:11] manaswis commented on #306
Result of the third test (where my system didn't go to sleep):

<img width="1258" alt="screen shot 2016-09-08 at 1 05 27 pm" src="https://cloud.githubusercontent.com/assets/2873216/18358824/157265f4-75c5-11e6-8057-0c1a83808bb6.png">

The user identity is maintained on the screen. After returning to the screen, the new labels are added as the signed in user. As long as you are on the screen, your i

[2016-09-08 17:12] kotarohara commented on #315
Great! I'm closing it, then.

[2016-09-08 17:15] manaswis commented on #315
Wait, you didn't answer the following comment:

[2016-09-08 17:23] kotarohara commented on #315
The task is marked as `incomplete` and the user does not get credit for auditing that street. So the progress rolls back.

[2016-09-08 17:26] kotarohara commented on #156
Actually this has been implemented. I'm closing it.

[2016-09-08 17:26] #156 closed

[2016-09-08 17:30] kotarohara commented on #268
Can't reproduce this. I'm closing it for now.

[2016-09-08 17:30] #268 closed

[2016-09-08 17:31] kotarohara commented on #262
@Soben713 You want to do this? We can work on it on Mon together.

[2016-09-08 17:33] kotarohara commented on #234
@manaswis Please work on this. Let me know if you need help.

[2016-09-08 17:37] kotarohara commented on #216
@Soben713 Please work on this.

[2016-09-08 18:43] kotarohara commented on #299
Ok. @manaswis , can you open two issues, reference this issue (#299), and close this issue?

1. Top page contributor counter should be increased by the number of anonymous user's IP addresses. This seems like a task for @Soben713 as he is already working on the top page redesign.
2. (If this is not included in your admin update issue) update the admin interface so that it shows user activities per

[2016-09-08 19:29] kotarohara commented on #306
Ok, can you continue it? I'll look into more detail. I get the feeling that the timeout length is overwritten by the default value (30 min) somewhere.

[2016-09-08 21:24] #276 closed

[2016-09-08 21:24] manaswis commented on #276
Closed it as the discussion was complete.

[2016-09-08 21:27] #301 closed

[2016-09-08 21:47] manaswis commented on #299
Just saw this comment. Yeah sure. Will do.

[2016-09-08 21:55] manaswis commented on #291
For reference: This issue of inconsistency in the UI is documented in https://github.com/ProjectSidewalk/SidewalkWebpage/issues/232#issuecomment-245002897

[2016-09-08 22:00] manaswis commented on #232
This issue can be closed as the issue of label counts being zero is captured in https://github.com/ProjectSidewalk/SidewalkWebpage/issues/291. Also, I have referenced the long comment here (https://github.com/ProjectSidewalk/SidewalkWebpage/issues/232#issuecomment-245002897) documenting the inconsistent UI label count in the label count issue (#291).

And the original issue of losing work is solve

[2016-09-08 22:00] #232 closed

[2016-09-08 22:05] manaswis commented on #222
This has been merged into the master branch. Closing it.

[2016-09-08 22:05] #222 closed

[2016-09-09 00:23] jonfroehlich commented on #291
@kotarohara or @manaswis, can you update this Issue based on what we discussed today in our Project Sidewalk meeting. What is the plan here?

[2016-09-09 00:29] jonfroehlich commented on #222
@manaswis, we discussed in person but it's not in this ticket--perhaps it's in another Issue--but the idea was to make another column that is a url that, when clicked, takes you to the location in GSV for that label. We could implement this in two stages:

1. Stage 1 - Easy: When you click on URL, you're taken to the location of the label and you are looking in the same direction as that label; ho

[2016-09-09 01:01] manaswis commented on #222
Yes, I remember. I am going to open a new issue for this.

[2016-09-09 01:03] manaswis opened #317 "Adding a URL column to the recent labels table that lets us see the labels in the GSV scene"
Idea is to make another column that is a url that, when clicked, takes you to the location in GSV for that label. We could implement this in two stages:

Stage 1 - Easy: When you click on URL, you're taken to the location of the label and you are looking in the same direction as that label; however, the labels from that user are not actually visible.

Stage 2 - Harder: When you click on the URL, y

[2016-09-09 03:59] kotarohara commented on #291
I'll take a look.

[2016-09-09 04:26] Soben713 commented on #262
@kotarohara Will do. :)

[2016-09-09 04:30] Soben713 commented on #177
I'm closing this since it is discussed in #316.

[2016-09-09 04:30] #177 closed

[2016-09-09 13:32] jonfroehlich commented on #296
Looks like another user just finished a neighborhood and likely ran into the new neighborhood bug (so they probably couldn't do any further audits for us).

![image](https://cloud.githubusercontent.com/assets/1621749/18388620/4f882192-7670-11e6-9adb-b0f79c057ab1.png)

[2016-09-09 19:06] manaswis commented on #296
Yeah, looks good to me.

[2016-09-09 19:09] kotarohara commented on #306
I looked into this yesterday and checked when the session times out. It seems like timeout is properly set to 30 days, so I'm not sure why it is still forcing you to log out... @manaswis , are you sure you are using the right branch `login-session-timeout`?

[2016-09-09 19:15] manaswis commented on #306
Okay. I will do another test now using the branch. I think when I git pulled it, it received some commits with logout comments and assumed it was added to the branch I was using.

I will post my results after a few hours of testing.

[2016-09-09 19:20] kotarohara commented on #296
Sorry, I clarify. Can I merge this to the `master` or should I merge it to a staging branch (which will be merged later).

[2016-09-09 21:30] jonfroehlich opened #318 "Make Admin Map View Bigger So Whole DC Map Fits By Default"
We should make the admin map bigger so whole DC map fits by default like the user profile view:
![image](https://cloud.githubusercontent.com/assets/1621749/18403481/1049e11c-76b3-11e6-90b8-d4c694c5d2cc.png)

User profile view:
![image](https://cloud.githubusercontent.com/assets/1621749/18403490/1ec3dd92-76b3-11e6-8936-f0a86e7e05d8.png)

[2016-09-10 01:08] Soben713 commented on #296
I haven't completely tested it yet, but in my opinion you can merge it for now as long as we're not deploying it before public deployment 2.

[2016-09-10 01:16] manaswis commented on #306
Its working! Yay! :)

<img width="1277" alt="sign_out_solved" src="https://cloud.githubusercontent.com/assets/2873216/18406944/af3480c4-76d2-11e6-8e4c-0e8c924f09be.png">

[2016-09-10 15:44] jonfroehlich commented on #318
@kotarohara, would it be possible to do this this weekend? I want to take a screenshot of all of the labels we have collected so far in DC and use them for a grant application--but the map is cutoff at the top and bottom at the default zoom level (which is a good zoom level, I think--if I zoom out, all of the dots get squeezed together).

![image](https://cloud.githubusercontent.com/assets/1621749

[2016-09-11 12:51] kotarohara commented on #318
Yeah, I can work on it once I get back later today.
On Sat, Sep 10, 2016 at 11:44 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-09-11 12:58] jonfroehlich commented on #318
Thx. My deadline is midnight tonite. Just let me know.

Sent from my iPhone

[2016-09-11 14:04] kotarohara commented on #318
I see. Yeah, I'll do it as soon as I get wifi for my laptop.
On Sun, Sep 11, 2016 at 8:58 AM Jon Froehlich <notifications@github.com>
wrote:

[2016-09-11 14:07] jonfroehlich commented on #318
Cool. No problem if you can't get to it. I have a plan B and I know you're busy in Pitt.

Sent from my iPhone

[2016-09-11 14:51] Soben713 commented on #318
@jonfroehlich I quickly changed the size in my browser to get a screenshot. Here it is:

![image](https://cloud.githubusercontent.com/assets/1576529/18418061/466049d4-780d-11e6-8c00-57e310638607.png)

[2016-09-11 14:59] jonfroehlich commented on #318
That's awesome. I tried to do this myself but couldn't figure it out. :-/

Maybe you can just fix it in the codebase and push the change as well so
Kotaro doesn't have to do it (he's traveling this weekend).

Jon

On Sun, Sep 11, 2016 at 10:51 AM, Soheil Behnezhad <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd

[2016-09-11 15:02] jonfroehlich opened #319 "As a Potentially Motivating Feature... Show Map and Completion Rates of DC Neighborhoods on Frontpage"
As a potentially motivating feature... show map and completion rates of DC neighborhoods on frontpage and allow users to select neighborhoods that they think need help.

(This is complementary to our automatic assignment method, which would still work when users just click participate--which will likely be the far more common case).

[2016-09-11 15:03] Soben713 commented on #318
Sure, will fix it tonight and if not, tomorrow.

[2016-09-12 00:12] kotarohara commented on #318
Updated and pushed
On Sun, Sep 11, 2016 at 11:03 AM Soheil Behnezhad <notifications@github.com>
wrote:

[2016-09-12 00:25] jonfroehlich commented on #318
thanks!

On Sun, Sep 11, 2016 at 8:12 PM, Kotaro Hara <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-09-12 05:19] Soben713 opened #320 "FAQ ToC is empty"
The table of contents panel in FAQ page is currently empty (as shown in the screenshot). Note that it is supposed to be dynamically filled with a JS file that should be in `sidewalk.umiacs.umd.edu/assets/javascripts/FAQ/build/FAQ.js`. Since the source JS file is accessible from [http://sidewalk.umiacs.umd.edu/assets/javascripts/FAQ/src/tableOfContents.js](http://sidewalk.umiacs.umd.edu/assets/java

[2016-09-12 05:20] Soben713 commented on #320
Assigning it to @kotarohara since I do not have access to the server right now.

[2016-09-12 14:59] kotarohara commented on #320
Fixed.

[2016-09-12 14:59] #320 closed

[2016-09-12 15:00] #318 closed

[2016-09-12 16:32] kotarohara commented on #306
Ok. I merged this into the master.

[2016-09-12 16:32] #306 closed

[2016-09-12 20:29] kotarohara commented on #315
@manaswis Can I close this?

[2016-09-12 20:30] manaswis commented on #315
Sure.

[2016-09-12 20:31] manaswis commented on #315
If I have a better idea of doing this later, then I will reopen it :)

[2016-09-12 20:34] kotarohara commented on #296
I'm merging this into `master`.

[2016-09-12 20:34] #296 closed

[2016-09-12 20:36] #315 closed

[2016-09-12 20:36] kotarohara commented on #293
This is fixed

[2016-09-12 20:36] #293 closed

[2016-09-12 20:38] kotarohara commented on #265
This should have been fixed as we resolved #306. I'm closing it for now.

[2016-09-12 20:38] #265 closed

[2016-09-12 20:39] kotarohara commented on #241
Merged #312 , so this should have been fixed. I'm closing it.

[2016-09-12 20:39] #241 closed

[2016-09-12 20:40] kotarohara commented on #249
This should be fixed as I have merged #312 (I haven't pushed it to the server though). I'm closing it.

[2016-09-12 20:40] #249 closed

[2016-09-12 22:52] Soben713 commented on #316
I fixed this problem for Firefox (pull request #321). Seems like if the original size of an SVG image is not specified in the file it could not be rendered in the canvas, which is why the curb-ramp icon was not shown in Firefox.

The problem seems to be extremely different in Safari. I haven't found out why it happens. It is not related to the filetype because I also tried to render PNG images and

[2016-09-12 23:30] jonfroehlich commented on #316
Did you find any Stackoverflow posts or related to the problem?

[2016-09-12 23:42] Soben713 commented on #316
@jonfroehlich Not really, earlier versions of Safari had some issues with drawing SVG images in canvas and most of the questions are related to it but it is now fixed in the current version. As I said it doesn't even work if we use PNG images, so it is not really related to that problem.

I'll get back to this issue after I finish resolving others.

[2016-09-12 23:44] jonfroehlich commented on #316
Sounds good.

[2016-09-13 02:52] kotarohara commented on #257
I updated this so that when a user completes a mission label data gets submitted.

[2016-09-13 02:52] #257 closed

[2016-09-13 02:55] kotarohara commented on #233
@manaswis , please work on this.

[2016-09-13 02:57] kotarohara commented on #313
@manaswis Please describe what you think is the right behavior.

[2016-09-13 03:01] kotarohara commented on #299
@manaswis , can you open the two issues as described above and reference this issue (#299) from them?

[2016-09-13 15:14] manaswis opened #322 "Show anonymous contributors count on the landing page"
Parent Issue: #299

To better track the number of users interacting with the website, the above issue talks about tracking anonymous users. It would be a cool measure to show on the landing page; we show the 'total #contributing users' instead of just showing the total of #registered users.

Related issue: #323. Using the API that will be written in #323.

[2016-09-13 15:17] manaswis opened #323 "Show user activities per anonymous user IP address in the admin interface"
Parent Issue: #299

Currently, the interface just shows the activities of registered users. Add a table that shows the activities by the anonymous users (based on their IP address).

For the individual anonymous user, the table should show in terms of session length (time spent on page), label types, quality of work, # of audits per person etc.

TODO: Figure out what the table should contain.

[2016-09-13 15:21] manaswis commented on #299
Made two issues that address the above two feature requests: #322 and #323. Referenced them in each for more information.

Should I close this?

[2016-09-13 15:31] kotarohara commented on #299
Great! Thank you @manaswis . I've closed the issue. We can continue the discussion in #322 and #323 .

[2016-09-13 15:31] #299 closed

[2016-09-13 15:49] Soben713 opened #324 "Mission Completion Map Problem After Reloading a Mission"
After reloading a mission, segments that are part of the current mission but were completed before reloading are marked as "previous missions" instead of "this mission" in the completion map (i.e., they are blue instead of green).

This issue is related to #291 because currently there is no clean mechanism to find out what segments/labels are part of the current mission if the page is reloaded.

[2016-09-13 16:26] manaswis commented on #261
Fixed it here: PR https://github.com/ProjectSidewalk/SidewalkWebpage/pull/325

[2016-09-13 16:31] #261 closed

[2016-09-13 19:05] rbracket opened #326 "Email address for login is case sensitive- document or remove restriction"
my email login is Sssss@xxxx.xxx

Often case in an email login does not matter.  I've often wondered if this is just a convention, or a known requirement.

Anyway, when I created my account from my iPad, the First character of my login was set to uppercase.  I did not change.   Later, when trying to access my account with my email address all in lower case, I was not able to login.

If ProjectSide

[2016-09-13 19:31] jonfroehlich commented on #326
Thanks for this @rbracket. I agree that login should be case insensitive.

Also, unfortunately we do not yet support touch screens (iPads, Android tablets, smartphones) with our interfaces--as I'm sure you noticed. :(

Lots more work to do! Thank you for your help in making our tool better!

[2016-09-13 22:58] Soben713 commented on #309
We can close this now. It was added to FAQ in #327.

[2016-09-13 22:58] #309 closed

[2016-09-14 00:25] jonfroehlich commented on #266
We could possibly also add number of steps--where a step is one move forward or backward in the interface.

It would be really nice to get a sense of miles walked/user since this is the metric we highlight on the frontpage. It's hard to know how distributed it is.

[2016-09-14 17:19] Soben713 commented on #302
Miss-clicked the close button.

@jonfroehlich Can I close this issue now?

[2016-09-15 11:37] jonfroehlich commented on #302
Looks good!

[2016-09-15 11:37] #302 closed

[2016-09-15 11:37] jonfroehlich opened #329 "Tracking API Usage"
Are we tracking API usage? If not, we should.

What metrics do we have (or should we have, if we haven't implemented yet).

Which API calls are being made. Which data is being used, etc.

[2016-09-15 18:30] Soben713 commented on #219
Has anybody fixed this issue? Because the enter key already works for me.

[2016-09-15 19:01] jonfroehlich commented on #219
It does _not_ work when the description textbox has focus, which is, imo when you _really_ want the enter key to work because both of your hands are on the keyboard.

![image](https://cloud.githubusercontent.com/assets/1621749/18563317/39bfdc80-7b55-11e6-87d2-d4cb737ddb88.png)

[2016-09-15 19:03] kotarohara commented on #219
The context menu does not close when you are on focus on the text field. It has been set so that typing text would not accidentally control other parts of the interface (e.g., changing the mode). So what you have to do is (i) find the part that says something like `event.preventDefault`, (ii) before that line check if the typed key is enter (or esc), and (iii) if it is enter/esc, close the window,

[2016-09-15 19:13] kotarohara commented on #329
It does track API usage. If @manaswis and @Soben713 want to check them out, they should see the `webpage_activity` table `activity` column. It stores the HTTP request (i.e., something like `GET /v1/access/score/neighborhoods?lat1=38.761&lng1=-77.262&lat2=39.060&lng2=-76.830`, so they can filter rows by `GET /v1/access/...`.

[2016-09-15 19:13] #329 closed

[2016-09-15 19:54] Soben713 commented on #219
@kotarohara @jonfroehlich Ok, got it.

[2016-09-16 19:06] manaswis commented on #313
The correct behavior should be: the stats should show zero for both labels and miles. In the above pic, the old neighborhood was Deanwood, and when the new neighborhood (Mount Pleasant) was loaded, the stats were from the old neighborhood.

[2016-09-16 19:20] manaswis commented on #72
Should we remove it from v2? It seems this will require a complete makeover of the current mission structure.

[2016-09-16 19:22] jonfroehlich commented on #72
I don't think it would require a complete makeover of the current mission structure... not sure what you mean.

[2016-09-16 19:27] manaswis commented on #72
By mission structure, I mean how we define a mission and implement it - its mainly distance based and not location based (i.e. where you are in the neighborhood). There is randomness in the way missions are assigned and resumed (i.e. by checking if you met the distance requirement). For this, we would need to change the way we track missions and its related metadata (which would include tracking t

[2016-09-16 19:28] Soben713 commented on #226
Part of this will be solved by #219 (Hit enter to close the context menu) and #287 (Make keyboard shortcuts feature more visible to the user). I think we can keep this issue open for now to discuss other possible solutions but I am going to remove it from Public Deployment v2 until we agree on better solutions.

[2016-09-20 14:58] Soben713 commented on #256
Ok, after all the discussions and mockups that we had it is [finally implemented](https://github.com/ProjectSidewalk/SidewalkWebpage/tree/landing-page). I'm still waiting for some minor updates (like the users counter and the animated GIF) to merge it to the master and close this.

[2016-09-20 21:09] jonfroehlich commented on #256
We'll want to do some final reviews and likely a few iterations before we
merge to master.

On Tue, Sep 20, 2016 at 10:58 AM, Soheil Behnezhad <notifications@github.com

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-09-21 16:09] Soben713 commented on #326
I found another related issue.

It is possible to sign up with the same email many times only if you change the email's case. If we are going to make it case-insensitive, then it is also necessary to prevent this. Otherwise, it would be impossible to login to such accounts.

[2016-09-21 17:04] Soben713 commented on #219
Was fixed in #330.

[2016-09-21 17:04] #219 closed

[2016-09-21 17:18] Soben713 commented on #256
Ok, sure. We can discuss it in our project sidewalk meeting tomorrow.

[2016-09-22 13:34] jonfroehlich commented on #326
Yes, this should be fixed.

[2016-09-22 20:15] jonfroehlich opened #331 "Change Mission Complete Sound Effect"
I've never liked the 'kids cheering' sound effect that we have at end-of-mission (indeed, I told Kotaro to change it a long time ago before we were even using the Issue tracker). Consider switching to something out.

[2016-10-07 17:11] jonfroehlich opened #332 "Just Tried to Audit and Received an Error That Prevents Me From Loading the Page"
This seems pretty serious. Is anyone able to audit anything on Project Sidewalk right now. Even when I do a ctrl-refresh, I get this error:

![image](https://cloud.githubusercontent.com/assets/1621749/19198889/5bc39a38-8c8f-11e6-8d25-39e917bcc292.png)

And none of the buttons seem to work (e.g., I can't click on the Feedback button).

![image](https://cloud.githubusercontent.com/assets/1621749/191

[2016-10-07 17:19] manaswis commented on #332
Yes, its not working! :(

Soheil and I are looking into it now.

[2016-10-07 17:25] jonfroehlich commented on #332
Thanks for investigating.

This brings up an additional important point that we should probably have one person try to login and complete an audit at least once every day or every other day to ensure that things are still working.

[2016-10-07 17:25] manaswis commented on #332
Something really wierd..its erratic. It started working for me again. We are trying to figure out what's happening.

[2016-10-07 17:26] manaswis commented on #332
Yeah, I agree. I usually check the admin every day. I'll do the same for audit.

[2016-10-07 17:35] Soben713 commented on #332
Something strange is happening, the `neighbourhoodModel` could be two totally different objects. And that's what causing the problem. This is when it is not working:
![image](https://cloud.githubusercontent.com/assets/1576529/19199600/c925ae74-8c92-11e6-8eb9-ec5d7872f03d.png)
And this is when it is:

[2016-10-07 18:33] manaswis commented on #332
The problem is resolved for now. But we are still testing it.

Couple of things that happened.

1. The errors that are reported in the comments above was generated by a version of SVLabel.js file that was outdated. The newer version isn't giving any issues. Our hunch is that the older version was getting loaded from the cache. We are investigating that issue on our local servers and on the remote

[2016-10-07 19:13] manaswis commented on #332
TLDR;
Load balancing between the two server instances, running different versions of the site, was creating the issue.

Details:
After more testing, here are the conclusions:

What we believed as the older version of SVLabel.js (see the previous comment) is actually the newer version, and it isn't creating any issues on our local servers and on the remote server (running on a different port for te

[2016-10-07 21:32] manaswis opened #333 "Jump pop-up msg shows incorrect miles to go"
Jump pop-up message showed “x miles to go” message - 'x' miles value not consistent with the mission length.

E.g. For missions of 0.5 miles length, it showed 2.94 miles to go in the pop-up. This was reported by 3 / 16 CMSC434 undergrads.

![jump_miles](https://cloud.githubusercontent.com/assets/2873216/19205981/bd49d690-8cb3-11e6-8f52-d1b53ab76781.png)

[2016-10-07 21:41] manaswis opened #334 "After jump, user is always 180 degree turn away from the right direction"
When the user is jumped into a neighborhood, he/she is always facing the wrong way and, hence, has to turn all the way around (u-turn).

Reported by 2 CMSC434 undergrads.

![jump_wrong_way](https://cloud.githubusercontent.com/assets/2873216/19206162/f47c9d72-8cb4-11e6-9fcd-a09a85cd5b16.png)

[2016-10-07 21:45] manaswis opened #335 "Human avatar goes missing from the top-down map"
Reported by 4 CMSC434 users and several active users of the deployed app. One reported that it happened towards the end of a mission, but this might not be true for all users.

<img width="203" alt="screen shot 2016-10-07 at 5 44 58 pm" src="https://cloud.githubusercontent.com/assets/2873216/19206289/ce6bb176-8cb5-11e6-9421-dfb3d692ee0f.png">

[2016-10-08 19:22] jonfroehlich commented on #335
I'm surprised this wasn't logged previously as a github issue since we've all seen it many times. It's a very common error that @kotarohara thinks is a bug in the Google Maps API implementation or something...

[2016-10-08 22:59] Soben713 commented on #282
Can someone explain what exactly the problem is with touchscreen devices? I can label and move around using the arrows on my iPhone; the only problem I see is not being able to change the panorama angle by dragging. Is there any other problem?

[2016-10-08 23:56] Soben713 commented on #282
I fixed the dragging problem on touchscreen devices in PR #336. If that's the only problem we can close this issue.

[2016-10-09 05:47] Soben713 commented on #313
This is fixed in PR #337.

Just to clarify: Starting a new neighborhood does not necessarily mean the stats should be reset to zero. There are times when parts of the new neighborhood have been previously audited by the user (e.g., when a long street segment crosses the new neighborhood and is also part of another neighborhood that has been audited before). What I fixed was updating the status aft

[2016-10-09 05:47] #313 closed

[2016-10-09 05:50] Soben713 commented on #107
Based on our discussions in the Project Meeting, I am removing this issue from Public Deployment v2.

[2016-10-09 05:50] Soben713 commented on #256
Based on our discussions in the Project Meeting, I am removing this issue from Public Deployment v2.

[2016-10-09 18:55] Soben713 commented on #334
I don't think it is **always** the wrong direction.

Looking at the top-down google map, the dummy's direction does not change after jumping which means it is actually very likely that it's wrong, but it is not always wrong.

Nevertheless I agree that it would be a very useful feature to calculate the correct direction and update it accordingly after jumping.

[2016-10-09 19:43] jonfroehlich commented on #334
I agree with you both. Would be good to position person in correct orientation after the jump. Likely an easy fix as well.

[2016-10-09 20:11] jonfroehlich commented on #313
Maybe we should have some testing procedure before closing an issue. Like Manaswi can quickly test your fixes and you can quickly test her fixes--just as a sanity check.

Thanks for doing this!

[2016-10-09 20:16] jonfroehlich commented on #313
Also, @Soben713, the video you uploaded isn't clear to me. What are you showing in the video?

[2016-10-09 20:41] Soben713 commented on #313
@jonfroehlich You are right. We actually decided to review each other's code before merging them to master. We can close the issues after the codes are reviewed and merged, but an alternative way (not so different, just what I'd rather to do) is to basically close the fixed issues when submitting a pull-request and re-open them if we find possible problems when reviewing the code. This just helps

[2016-10-09 20:49] Soben713 commented on #334
I'm not sure if it is an easy fix actually. I had a related conversation with Kotaro about calculating the angle between two street segments and it wasn't easy. But it is possible.

[2016-10-09 23:56] kotarohara commented on #335
I guess it's in the closed issue. I remember we had it somewhere.
On Sat, Oct 8, 2016 at 3:22 PM Jon Froehlich <notifications@github.com>
wrote:

[2016-10-09 23:58] kotarohara commented on #282
Ha! Awesome! I haven't checked if it's working, but if it does, that's
definitely great and I think we should merge it to the master branch :)
On Sat, Oct 8, 2016 at 7:56 PM Soheil Behnezhad <notifications@github.com>
wrote:

[2016-10-10 14:54] jonfroehlich commented on #282
If we are actually able to have touchscreen support for next release, that could be huge! Have you tested it thoroughly on iOS and Android devices? I have some of those devices in my office if you'd like to check.

[2016-10-10 14:56] jonfroehlich commented on #335
Yes, indeed, the issue was logged here but closed by @kotarohara: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/62. When he closed it, I said maybe we should keep it open so we don't get duplicates since it is such a common problem. Again, I advocate for this same position. I think just because we think this Issue is on Google's side does not mean we should outright close the issue. We

[2016-10-10 14:56] jonfroehlich commented on #313
@Soben713 I agree re: sense of accomplishment.

I still don't get the video. Let's discuss in our 1:1 this week.

[2016-10-10 15:00] Soben713 commented on #282
No, only tested it on iOS. That's great, will test it.

[2016-10-10 15:03] jonfroehlich commented on #334
OK, well, even if it's not perfect, still would be better than forcing a
full uturn. Of course, if they are placed in an intersection, then we want
them to look 360 degrees anyway.

On Sun, Oct 9, 2016 at 4:49 PM, Soheil Behnezhad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich

[2016-10-10 17:21] manaswis commented on #333
Further evidence from my own testing:

"2.87 miles to go" -- Way more than 0.5 miles
<img width="1280" alt="jump-popup-1" src="https://cloud.githubusercontent.com/assets/2873216/19244779/edf52fd0-8eeb-11e6-80d7-f04ef51c7ff5.png">

Miles again incorrect - see annotation in the image below
<img width="1276" alt="jump-popup-2" src="https://cloud.githubusercontent.com/assets/2873216/19244780/edff4a06-

[2016-10-11 17:32] jonfroehlich commented on #248
Walking where there is no sidewalk:

![image](https://cloud.githubusercontent.com/assets/1621749/19281216/2dd1cfd4-8fb7-11e6-9eb2-daa6a9486031.png)

[2016-10-11 17:40] jonfroehlich commented on #309
This is still happening. The error, this time, is "Failed to load resource: the server responded with a status of 500 ()" Is there anyway we can catch this exception and pop-up a message to tell the user what to do? Or, better yet, to catch the error and then fix the problem by, say, trying the function call again.

![image](https://cloud.githubusercontent.com/assets/1621749/19281415/2e34ff68-8fb8

[2016-10-11 17:45] jonfroehlich opened #339 "Admin Interface: Make End-User Comments Table Same Format As Recent Label Table"
In other words, allow user to sort, show # of entries, go to next page of table, search, etc.

![image](https://cloud.githubusercontent.com/assets/1621749/19281597/ee005fae-8fb8-11e6-9193-191ef4ba9501.png)

[2016-10-11 17:59] manaswis commented on #339
Completed this in PR https://github.com/ProjectSidewalk/SidewalkWebpage/pull/338.

[2016-10-11 18:01] #339 closed

[2016-10-11 20:49] Soben713 opened #340 "Showing Longitude and Latitude in the User Interface"
I was thinking about showing longitude and latitude somewhere in the user interface. It has some benefits:
1. It makes it possible to find the exact location of a scene if we only have a screenshot (was just looking at #248 and wondered if there is any way to find the exact locations in the screenshots)
2. Users may also want to use the latitude/longitude. For example to explore the scene in other

[2016-10-12 13:01] jonfroehlich commented on #340
We can certainly discuss this. I had a ticket and/or an email exchange with @kotarohara about making the url to Project Sidewalk change every time you move a location (just like Google Maps/Street View currently does). This would allow sharing of location more easily, etc. See screenshots, for example.

![image](https://cloud.githubusercontent.com/assets/1621749/19310938/77c57368-905a-11e6-8793-e8

[2016-10-12 17:35] DarrenBatesLLC opened #341 "Partnership and Collaboration Opportunity in Austin, TX"
I'd like to talk with you and/or Kotaro Hara about the possibility of expanding the reach of “Project Sidewalk” and creating a new demonstration site in Austin, Texas. Please contact me at Darren Bates, DLB@darrenbatesllc.com.

[2016-10-12 19:56] kotarohara commented on #335
I suggest keeping as many issues closed as possible. It makes browsing open issues easier. It is a common practice to search duplicate closed issue before opening a new issue (and reopen it if necessary).

[2016-10-12 20:09] jonfroehlich commented on #335
Yah, I'm not sure I agree. We can continue to discuss as a team. I don't think we should close things that we haven't fixed.

[2016-10-13 00:56] manaswis opened #342 "Improve the charts on the admin interface"
Currently, these aren't very clear to the user and aren't useful.
Things that can be improved:
-  improve the x-axis of each
- create better histograms with proper bin sizes and not sort in a descending order (doesn't allow us to see a distribution)
- each chart should have a clear goal (e.g. the onboarding completion time isn't providing any useful information)

Screenshots from my local system:

[2016-10-13 01:01] manaswis opened #343 "Create a tabbed interface for the admin"
Currently, the page is really slow since it loads all the data for the tables on page load.

Creating a tabbed (top or sidebar) interface, each part of the page being on its own tab, will let us have a cleaner looking interface where the data is requested based on the user's selected tab.

[2016-10-13 11:37] jonfroehlich commented on #343
We should (rapidly) sketch out some ideas before implementing. :)

[2016-10-13 20:40] jonfroehlich opened #344 "Access Score Long Load Time"
Now that we have a lot of data, Access Score is taking a very long time to load. This needs to be fixed. Easy fix: have a wait cursor or some 'Loading...' message come up while data is loading.
Hard fix: make loading time faster

It took about 20-30 seconds to load Access Score today and meanwhile I couldn't use this window and it just showed a map with no overlay:

![image](https://cloud.githubus

[2016-10-13 20:43] jonfroehlich opened #345 "Make it Easier to Tell When We Don't Have Good Coverage for a Neighborhood in Access Score"
Currently, it's quite difficult to tell, at a glance, what neighborhoods suffer from a lack of data. For example, in the image below, the currently moused-over neighborhood, Howard University, has only 15% coverage but yet a rating of 91 Very Accessible. I don't think it's appropriate to provide an accessibility score for a neighborhood if we only have 15% coverage. I also think that the neighborh

[2016-10-13 21:38] Soben713 opened #346 "Supporting Pinching Gesture on Touchscreen Devices"
Currently touchscreen devices' pinching gesture does not work. Would be good to support it, since most users expect it to work.

[2016-10-14 00:42] Soben713 opened #347 "Double Tapping Issue in Touchscreen Devices"
Double clicking (tapping) works in touchscreen devices, but the problem is that it also zooms in and out which is annoying.

One quick fix would be disabling double-tapping zoom on the entire page.

[2016-10-14 12:42] jonfroehlich commented on #347
So, two quick thoughts:

1. First, I agree that touchscreen should have special handling for double tapping. I think we should disable this interaction, except if it's over the GSV window
2. If over the GSV window, then perhaps the double tap triggers the Zoom In function (analogous to clicking the Zoom In button). Of course, then the user may be confused about how to Zoom Out since there is no cl

[2016-10-14 14:10] jonfroehlich commented on #248
Sidewalk only in front of one person's house!

![image](https://cloud.githubusercontent.com/assets/1621749/19390535/7a49f7a6-91f6-11e6-9ce3-29bc5bb419ef.png)

[2016-10-14 19:48] Soben713 commented on #282
I am closing this issue because our plan is to support touchscreen devices.

[2016-10-14 21:50] Soben713 commented on #347
I don't exactly understand your second point. But I don't think double tapping should trigger the Zoom In function even over the GSV window, because currently we assume double clicking moves the user forward and it is actually necessary in some locations where the arrows are not shown correctly.

[2016-10-14 22:03] jonfroehlich commented on #347
Oh right, good point! So just disable double tap outside GSV window then?

Sent from my iPhone

[2016-10-15 00:52] #341 closed

[2016-10-15 03:40] Soben713 commented on #347
The correct way to fix this is to prevent browsers from zooming when double-tapped on the GSV window. There won't be any problem if zooming is not disabled in the rest of the screen.

[2016-10-15 04:29] Soben713 commented on #333
This problem is fixed and explained in PR #349.

[2016-10-15 19:05] jonfroehlich commented on #248
![image](https://cloud.githubusercontent.com/assets/1621749/19412670/cd76ee14-92e8-11e6-943a-17ed5e72204d.png)

[2016-10-15 19:15] jonfroehlich opened #350 "Admin Interface: Coverage Table Should Show Totals"
Coverage Table should show the total number of street segments in DC and the total number of miles. In other words, add the circled part.

![image](https://cloud.githubusercontent.com/assets/1621749/19412737/1d22cd1a-92ea-11e6-92bb-546194a3cf6e.png)

[2016-10-15 19:19] jonfroehlich opened #351 "Admin Interface: I Want Better Metrics and More Information"
Things like:
- Histogram of time spent using Project Sidewalk with median and average marked. Also, perhaps include a table that also includes this info but differentiates between signed in and anonymous users
- Histogram of number of labels per mission with median and average marked. Again, would like summary table comparing signed in and anonymous users
- Histogram of number of audits per person

[2016-10-15 19:32] jonfroehlich opened #352 "Strange Route U-Turn in Middle of Road"
I'm guessing this has something to do with the way we use road segments from Open Street Maps and apply them to Google but this was a bit weird:

![image](https://cloud.githubusercontent.com/assets/1621749/19412850/828c73b6-92ec-11e6-90d0-21a896a73c85.png)

[2016-10-15 20:52] manaswis commented on #351
I can do it.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Sat, Oct 15, 2016 at 3:19 PM, Jon Froehlich <notifications@github.com>
wrote:

[2016-10-15 20:55] Soben713 commented on #351
I can also manage to do it if it is not part of the Public Deployment v2.

On Saturday, October 15, 2016, Manaswi Saha <notifications@github.com>
wrote:

[2016-10-16 19:07] jonfroehlich opened #353 "Admin Interface: Add 'Last Audit' Timestamp to Anonymous Users Table"
Add 'Last Completed Audit' and/or 'Last Label' timestamp column to Anonymous Users table.

[2016-10-16 19:09] jonfroehlich commented on #322
@manaswis, isn't this done now and can be closed?

[2016-10-16 19:10] jonfroehlich commented on #291
@kotarohara, can you still manage to code for Project Sidewalk or should we unassign all tasks that were assigned to you?

CC @Soben713 and @manaswis .

[2016-10-16 19:11] jonfroehlich commented on #238
This seems to be working now, right @manaswis?

[2016-10-16 19:24] jonfroehlich commented on #316
@Soben713, should we add Safari and Firefox support to the Public Deployment v2 milestone? I just checked on my Windows 10 computer and it seems like things work perfectly now in Safari 5.1.7 and work reasonably well in Firefox, except that the icons in placed labels don't show up--see screenshot.

![image](https://cloud.githubusercontent.com/assets/1621749/19420209/8da9b6f0-93b4-11e6-9c48-1d6d196

[2016-10-16 19:32] jonfroehlich commented on #351
I think we should also brainstorm other relevant metrics.

This seems increasingly related to @Soben713's interest in assessing crowd worker behavior, so perhaps a good place for him to start; however, I'm happy with either of you doing it. You guys can discuss and decide. Then please change the 'Assignee' in github.

[2016-10-16 19:45] jonfroehlich opened #354 "Nicely Formatted and Human Readable Release Notes Page"
I'd like to make a simple, nicely formatted, and human readable release notes page for Project Sidewalk. Could either be at end of FAQ or its own page. We should include this as part of Public Deployment v2.

[2016-10-16 19:53] Soben713 commented on #316
@jonfroehlich Good catch about the "Other" labels' icons not showing up correctly. I know what the problem is and it will be an easy fix. And you are right, the main problem seems to be fixed in the new version of Safari. Although I still see a minor problem in Safari on desktop.

I am going to add this to Public Deployment v2.

[2016-10-16 19:55] jonfroehlich commented on #316
We need to test on Safari and Firefox for Mac as well. I didn't do that in my limited time today.

Once we fix this, we can add 'Better support for Safari and Firefox' into our release notes.

[2016-10-16 20:00] Soben713 commented on #316
I tested them on my mac actually before my previous comment.

[2016-10-17 02:12] Soben713 commented on #354
I will do this.

[2016-10-17 04:12] Soben713 opened #355 "Streets on the Boundary of the Neighborhoods"
This neighborhood (Hill East) is marked as complete in my local server, but note that a street segment on its boundary is not audited yet:

![image](https://cloud.githubusercontent.com/assets/1576529/19425125/fa5b68b4-93fc-11e6-9622-81341dd6907d.png)

We thought maybe the streets on the boundary are randomly assigned to one of the neighborhoods containing them. But this is probably not true becaus

[2016-10-17 12:52] jonfroehlich commented on #355
Do you know if you actually walked/audited that street?

[2016-10-17 13:28] jonfroehlich commented on #248
Beautiful crosswalk but no curb ramps:

![image](https://cloud.githubusercontent.com/assets/1621749/19439455/1e40edfe-944c-11e6-8e41-8bb4064d7823.png)

[2016-10-17 13:40] kotarohara commented on #291
I can work on the ones that are assigned to me currently. I should have
more time once I'm done with the diss. revision :) But feel free to take
over the issues if anyone feel like working on them!

On Sun, Oct 16, 2016 at 3:10 PM, Jon Froehlich <notifications@github.com>
wrote:

--
Kotaro Hara
Department of Computer Science
University of Maryland, College Park

[2016-10-17 13:43] jonfroehlich commented on #291
OK, thanks!

[2016-10-17 14:11] manaswis commented on #238
Yes, this works.

Best Regards,
Manaswi Saha
Ph.D. Student
Department of Computer Science
University of Maryland, College Park
http://cs.umd.edu/~manaswi/
Twitter - @manaswisaha <https://twitter.com/manaswisaha>

On Sun, Oct 16, 2016 at 3:11 PM, Jon Froehlich <notifications@github.com>
wrote:

[2016-10-17 14:13] Soben713 commented on #355
@jonfroehlich Not really.

[2016-10-17 14:15] #238 closed

[2016-10-17 14:17] manaswis commented on #322
Yes, this is done. Was just waiting for a confirmation before closing. This works. Closing it.

[2016-10-17 14:17] #322 closed

[2016-10-17 14:38] jonfroehlich opened #356 "(Persuasive?) Design Idea For Landing Page Tracker at Bottom"
Perhaps add a bar graph that shows total miles audited with certain tick marks for distance from DC to certain cities. Have to do it in a way that isn't confusing (that is, don't want people to think that they are actually auditing streets _to_ these cities).

![image](https://cloud.githubusercontent.com/assets/1621749/19442018/d45abcec-9455-11e6-86d7-c874143fc01a.png)

Advantages:
- Fun & interes

[2016-10-17 15:24] manaswis commented on #323
This is included in the latest version. Enhancements to the table have their own issues. Closing this issue.

[2016-10-17 15:24] #323 closed

[2016-10-17 16:19] Soben713 commented on #332
I just had the same experience on my local server today, so I don't think it is really related to server's load balancing or at least that's not the only possible reason. I recorded a video of what happened and [here](https://www.youtube.com/watch?v=nED4IsDHyCo) is the link to it.

Interestingly in Firefox, there is no problem when I keep my developer tools open when reloading the page, but it occ

[2016-10-17 17:35] jonfroehlich commented on #333
Why is this reopened?

[2016-10-17 17:40] Soben713 commented on #333
@jonfroehlich We are just discussing how to handle pull requests and when to close the issues. Manaswi suggested to use the `pull-request-submitted` label and keep the issues open until their pull requests are tested and merged to master. The pull request I submitted for this issue is not yet merged, so we reopened this.

[2016-10-17 17:42] Soben713 commented on #333
Also, we added a "Pull Request Submitted" column to the waffle page. So we can quickly manage everything. Here is a screenshot:

![image](https://cloud.githubusercontent.com/assets/1576529/19448340/7773921e-946f-11e6-9508-86571518b0df.png)

[2016-10-17 19:39] manaswis commented on #333
@Soben713 I was reviewing the PR #349. The bug isn't fixed. See screenshots - notes on the images.

<img width="1226" alt="pr333-review" src="https://cloud.githubusercontent.com/assets/2873216/19452419/f09a895e-947e-11e6-8432-4b82795ba259.png">
<img width="1256" alt="new_pr_review" src="https://cloud.githubusercontent.com/assets/2873216/19452596/954b092e-947f-11e6-9553-cb4233210bd3.png">

[2016-10-17 20:46] Soben713 commented on #316
TLDR;

I investigated this again and there were three problems. Two of them are fixed in PR #357 and the third one only occurs on our local servers. So we can close this issue.

----
### Safari/Firefox: Icons for 'Other' Labels Were Not Correctly Shown
This is now fixed:
![image](https://cloud.githubusercontent.com/assets/1576529/19454373/e7697d06-9486-11e6-9103-ec38cae82a74.png)

### Safari on Ma

[2016-10-18 01:30] manaswis commented on #343
I really like the tabbed interface of waffle board view (see [here](https://waffle.io/ProjectSidewalk/SidewalkWebpage?milestone=Public%20Deployment%20v2)). This is what I had in mine for the admin interface. And as we add more metrics, it will be even more important to have such an interface.

[2016-10-18 01:59] Soben713 commented on #333
@manaswis This seems to be exactly the same problem that I solved and it's very strange that you still have this problem. Are you sure that you tested the correct version of the code? Maybe you should run `grunt` or disable your browser`s cache first.

[2016-10-18 02:21] Soben713 commented on #356
I like the idea of having smaller and more achievable goals and how you're trying to combine it with that progress bar, but I don't see why the distance between DC and those cities matters.

[2016-10-18 03:42] jonfroehlich commented on #356
It's a fun way of conceptualizing the distance--just as we do in our ad. It makes it seem more impactful, visceral imo. We could do it differently like, as I suggested, showing a map of US with a mileage tracker that goes from DC and tracks westward towards west coast.

[2016-10-18 15:33] Soben713 commented on #272
Ok, I was just looking at twitter's API and this is possible. There are 4 types of "cards" to use:

1. [Summary Card](https://dev.twitter.com/cards/types/summary): Title, description, thumbnail, and Twitter account attribution.
2. [Summary Card with Large Image](https://dev.twitter.com/cards/types/summary-large-image): Similar to a Summary Card, but with a prominently featured image.
3. [App Card]

[2016-10-18 17:55] manaswis commented on #333
Yeah, I didn't run grunt and that was the problem. I think the miles shown are now much closer to the actual. Only a few feet difference is there (due to rounding off errors), which is fine.

[2016-10-18 19:41] jonfroehlich opened #359 "Access Score Calculation So Inaccurate as Not to Be Useful"
Case in point--look at how many surface problems there are in Hill Crest and yet it still receives a good accessibility score. It's a bit embarrassing that it's marked as 99 out of 100 on our accessibility scale.

![image](https://cloud.githubusercontent.com/assets/1621749/19493504/ecb3caa6-9548-11e6-9be9-e36dbd2c3e7e.png)

In the short term, I think we should emphasize that Access Score is in bet

[2016-10-18 19:49] jonfroehlich opened #360 "Allow Users to Select Neighborhood to Audit from Access Score"
Access Score should make it easier to see where we need more data and allow users to select neighborhood to audit.

[2016-10-18 20:18] #333 closed

[2016-10-18 20:52] Soben713 commented on #354
Just finished implementing the template/style of this page. Here is how it looks like:

![image](https://cloud.githubusercontent.com/assets/1576529/19495547/cfd43cc8-9551-11e6-9b5e-e430ba248231.png)

A number of decisions have to be made before this is merged to master:

1. We currently keep track of the version inside [this](https://github.com/ProjectSidewalk/SidewalkWebpage/blob/master/build.sbt

[2016-10-19 00:08] manaswis commented on #359
PR #361 Short-term solution:

<img width="1279" alt="access-score-beta" src="https://cloud.githubusercontent.com/assets/2873216/19500775/5a7f5f12-956e-11e6-8739-e2d1216c9e14.png">

[2016-10-19 14:26] jonfroehlich commented on #248
Driveway between two curb ramps on a corner!

![image](https://cloud.githubusercontent.com/assets/1621749/19522813/76c28ac8-95e6-11e6-9888-b65fc1d7e656.png)

[2016-10-19 14:27] jonfroehlich opened #362 "Example Text for Object in Path Wrong"
Currently: 'sidewalk blocking light pole'
Should be: 'light pole blocking sidewalk'

![image](https://cloud.githubusercontent.com/assets/1621749/19522861/a3c8331a-95e6-11e6-87be-84f3affdfa3f.png)

Who wants it? @Soben713 or @manaswis?

[2016-10-19 14:32] jonfroehlich commented on #248
Nice ADA compatible curb ramp but cross walk not lined up with it!

![image](https://cloud.githubusercontent.com/assets/1621749/19523042/4caa93d8-95e7-11e6-8eb3-d38b0dd0fd42.png)

[2016-10-19 14:41] jonfroehlich opened #363 "How Are Boundary Streets of a Neighborhood Computed?"
So, I experienced some strange behavior auditing this neighborhood in terms of streets on the boundary of the neighborhood. In one case, I was able to audit part of the boundary street but in another, as soon as I got to the intersection of that boundary street, I was transported to another part of the neighborhood.

![image](https://cloud.githubusercontent.com/assets/1621749/19523406/694bfa76-95e

[2016-10-19 14:43] Soben713 commented on #363
Strange. This is related to #355 I guess.

[2016-10-19 17:04] Soben713 commented on #354
@jonfroehlich @manaswis Any ideas?

[2016-10-20 18:09] jonfroehlich commented on #248
Suddenly no sidewalk between houses!

![image](https://cloud.githubusercontent.com/assets/1621749/19572101/daf0fb40-96ce-11e6-962a-57b282107e50.png)

[2016-10-20 18:28] jonfroehlich opened #364 "Admin Interface: Activities Table Not Accounting for New Way of Calculating Who a User Is"
This table appears out of sync with how we are calculating users on the landing page now. Should be consistent:

![image](https://cloud.githubusercontent.com/assets/1621749/19572722/791a675a-96d1-11e6-8072-e6cefecbfc36.png)

[2016-10-20 18:30] jonfroehlich opened #365 "Admin Interface: User Table Should Show Last Login for Anonymous"
As discussed with @manaswis, the User Table should show "last login" for anonymous, which corresponds to the most recent anonymous visitor who labeled at least one thing.

Alternatively, could combine this table with the anonymous user table and make them one thing.

[2016-10-20 19:13] kotarohara commented on #259
Done in PR #367

[2016-10-20 19:13] #259 closed

[2016-10-20 19:15] kotarohara commented on #201
Moved the video to YouTube. Used makeability.sidewalk@gmail.com . See PR #366

[2016-10-20 19:15] #201 closed

[2016-10-21 12:54] jonfroehlich opened #368 "Project Sidewalk Website is Down"
We need to fix this ASAP. I also want to ensure this doesn't happen again or, if it does, that we are aware if it in a short time frame. Perhaps we need a watchdog service or something to email or text us if the website goes down.

-----

Service Temporarily Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again late

[2016-10-21 12:59] jonfroehlich opened #369 "Confirm that Project Sidewalk Data (the Database) is Properly Backed Up"
I want to confirm that the Project Sidewalk data (the database) is properly backed up and at what frequency. I then want this information fully documented in our documentation.

[2016-10-21 13:12] jonfroehlich commented on #368
IT staff said this:

[2016-10-21 20:12] manaswis opened #371 "Disable the numeric keyboard shortcuts for choosing label type buttons"
Disable the numeric keyboard shortcuts for choosing label type buttons. They are currently mapped to the severity labels.

[2016-10-21 20:14] manaswis opened #372 "Check if we log the clicks for 'Explain this' button"
Check if we log the clicks for 'Explain this' button. If we don't add this to our logger.

[2016-10-22 17:08] manaswis commented on #287
Ideas from our meeting yesterday:

Provide:
- hover support on the label marker buttons
- show a message about keyboard shortcuts at the 6th (or xth) step in the first mission
- auto detect continuous use of the buttons, then show the message to use keyboard shortcuts
- toolbar showing the keyboard shortcuts (with a Dismiss button) for the first few walks just underneath top canvas border within t

[2016-10-22 17:46] Soben713 commented on #368
After the UMIACS' monthly maintenance window, the geotools' package`gt-espg-hsql` which uses HSQL does not work anymore. I am not sure about the reason. But using its alternative plugin `gt-espg-wkt` fixes the problem for now.

While this solves the problem, it is a workaround and not a real fix to the actual problem. We need to understand why that plugin does not work and prevent this problem to

[2016-10-22 18:11] Soben713 commented on #368
This should not be closed yet.

[2016-10-22 18:19] Soben713 commented on #368
Testing this on the 9005 port, the new plugin is slower than the previous one. It takes 2-3 seconds for the mission to load when the audit page is loaded. This is probably because `gt-espg-wkt` (the new plugin) uses a text file to load the data but `gt-espg-hsql` (the previous plugin) uses HSQL database. Therefore this is not really a long-term solution.

[2016-10-22 21:23] Soben713 commented on #368
The original plugin was not working properly because of some ownership issues that are now fixed. This issue could be closed.

### Detailed Explanation
All the data that the `gt-espg-hsql` plugin uses are stored in `/tmp/Geotools/Databases/HSQL/v8.6.0.0`. The shared user we use to deploy the code did not have writing access to these database files because they weren't part of the `sidewalkproj` ow

[2016-10-22 21:23] #368 closed

[2016-10-23 00:38] jonfroehlich opened #374 "GSV Window Pane Blank on iOS 10 with Chrome and Safari"
The GSV window pane is blank on iOS 10 with Chrome and Safari, at least on my iPhone 5S device. Note: the October release did work in iOS 9 with Chrome before, if I recall correctly.

Update: it works when I sign in as myself in Chrome but not when I'm anonymous in Chrome (haven't checked with Safari).

[2016-10-23 00:50] jonfroehlich commented on #355
Here's another interesting/weird example. It looks like I started at the circled intersection and then was routed East, which is, ostensibly, outside the North Cleveland Park boundary--when I finished that street segment, I was, rightfully transported back to a different part of the neighborhood.

![image](https://cloud.githubusercontent.com/assets/1621749/19623483/fff8387e-9898-11e6-8a8e-a708e06c

[2016-10-23 01:22] Soben713 commented on #372
We don't. This is the current events in the database:

1. ViewControl_MouseUp
2. RemoveLabel
3. ModalSkip_ClickJump
4. ModeSwitch_Walk
5. ViewControl_DoubleClick
6. ModeSwitch_NoCurbRamp
7. KeyUp
8. KeyDown
9. Redo_AddLabel
10. ModalSkip_ClickRadio
11. Click_ModeSwitch_SurfaceProblem
12. Click_Redo
13. ContextMenu_RadioChange
14. TaskEnd
15. ModalSkip_ClickOK
16. PopUpMessage_ClickOk
17. RefreshTr

[2016-10-23 17:48] jonfroehlich commented on #368
So, to be clear, we have moved back to `gt-espg-hsql` again?

[2016-10-23 17:54] jonfroehlich commented on #287
I think all of these are really important to help not only improve user efficacy but also enjoyment. Without the keyboard shortcuts, I find labeling rather tedious. With keyboard shortcuts, I can really get in the flow and go much faster--far more enjoyable.

I think we should implement all of these (with, perhaps, the exception of the last one, which doesn't really make sense to me and seems redu

[2016-10-23 18:07] jonfroehlich opened #376 "About Page Personnel"
For the About page personnel, we need to add:
- Manaswi
- Ladan
- Soheil
- Anthony

Change the following to ending Fall 2016:
- Daniil Z.
- Possibly Stephanie Nguyen (need to ask her if she still wants to be involved @nguyenist)

[2016-10-23 18:20] Soben713 commented on #368
@jonfroehlich Correct.

[2016-10-23 22:40] nguyenist commented on #376
Thanks @jonfroehlich! Pending the priorities, I'm interested and would like to see if it makes sense for me to help out this semester. Want to do whatever is most helpful / realistic for the team.

- I'm still DC based / working full time in case that's still something to consider for your teams' needs.
- If there are components on the priority list that could be scoped to UX + UI research / desig

[2016-10-24 13:08] jonfroehlich commented on #368
Nice, thank you very much @Soben713. Can you also update the staff@umiacs email thread with what we found out and our solution.

[2016-10-24 13:12] jonfroehlich commented on #372
I just updated @manaswis original comment to be more descriptive and gave the action item to Soheil.

[2016-10-24 18:08] Soben713 commented on #374
I just tested it again on my iPhone 6S (iOS 10) and it seems to be working fine on Chrome and Safari. I don't see why the GSV panel would be related to being logged in or not at all. Maybe your internet connection had some problems? Can you test it again?

[2016-10-24 19:14] jonfroehlich commented on #374
Doesn't work on my iPhone 5S (iOS10). Screenshot attached. I checked with multiple access points so I know I have a good internet connection.

![img_9650](https://cloud.githubusercontent.com/assets/1621749/19660117/96ef2a62-99fc-11e6-9d93-adfb4c5d4c2b.PNG)

[2016-10-24 19:19] Soben713 commented on #374
Will look into it. Just realized the same thing happens to me if (and only if) I'm in the incognito mode.

[2016-10-24 19:47] jonfroehlich commented on #374
Hmm, interesting. OK. I'm always in incognito mode on iPhone. :)

I just checked incognito mode works on Chrome in Windows. Can you check if incognito mode works on Safari for Mac?

[2016-10-24 19:53] Soben713 commented on #374
It is not working on Safari for Mac either. The reason is that the web storage does not properly work in incognito mode and the raised exception is never caught.

[2016-10-24 20:10] Soben713 commented on #368
Done.

[2016-10-24 20:44] jonfroehlich commented on #247
This may be another potential TODO for @tongning.

[2016-10-25 13:30] jonfroehlich commented on #369
@Soben713, can you email staff and ask about this and then add this to our project documentation.

[2016-10-25 13:32] jonfroehlich commented on #376
@nguyenist, thanks Stephanie. We are still a massively resource-constrained team so any of your talents/time that you'd like to share with us would be helpful. :) You can see UI/UX related Issues here: https://github.com/ProjectSidewalk/SidewalkWebpage/issues?q=is%3Aopen+is%3Aissue+label%3A%22UI+Design%22. Not sure how easy any of these would be for you to contribute to.

Incidentally, @manaswis's

[2016-10-25 18:11] jonfroehlich commented on #368
What's the plan to try and get the hsql version to work?

Sent from my iPhone

[2016-10-25 18:12] jonfroehlich commented on #374
Can you add in as a separate github issue? I want to discuss further.

On Mon, Oct 24, 2016 at 3:53 PM, Soheil Behnezhad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-10-25 18:14] Soben713 commented on #368
You mean for future problems? Because currently the hsql version is deployed and correctly works.

[2016-10-25 18:29] Soben713 commented on #369
@jonfroehlich Just did.

Also, these scripts may be useful:
https://wiki.postgresql.org/wiki/Automated_Backup_on_Linux

[2016-10-25 18:29] jonfroehlich commented on #368
Weird. I sent that a long time ago. We can close this comment thread.

[2016-10-25 18:39] jonfroehlich commented on #369
Thanks for emailing staff. My understanding is that all of our UMIACS servers are backed up but good to get more details and to document these details in our own documentation.

[2016-10-25 18:42] jonfroehlich commented on #368
What's the plan to try and get hsql

Sent from my iPhone

[2016-10-25 23:51] manaswis commented on #256
I am adding some site screenshots whose landing pages are cool. You'd have to see the actual site since the screenshot doesn't capture the entire landing page.

[StoryMaps, ArcGIS](https://storymaps.arcgis.com/en/)
I really LOVE their landing page. We can essentially follow a similar design style/format.

<img width="1280" alt="screen shot 2016-10-25 at 7 43 19 pm" src="https://cloud.githubusercon

[2016-10-26 04:11] jonfroehlich commented on #256
Thanks. Great finds.

Note that I have also been tracking websites that I like and saving them to: \Dropbox\ProjectSidewalk\LandingPageRedesign. I use a Firefox plugin called Awesome Screenshot to save the whole page.

[2016-10-26 17:20] manaswis opened #377 "Get the cron job to email only when the server restarts"
Emails were being sent for every server-up-check (whether it was up or not). Needs to be tweaked to send an email only when the server was restarted by the script.

[2016-10-26 17:24] jonfroehlich commented on #203
@kotarohara, any updates on this?

[2016-10-26 17:24] jonfroehlich commented on #116
@kotarohara, can you investigate this as well?

[2016-10-26 17:48] Soben713 opened #378 "Change Geotools' database location"
We need to move Geotools' database location. Currently, it is stored in `/tmp` which is periodically deleted and was the main reason we went down. The database should be stored in `/var/www/html/sidewalk`.

[2016-10-26 18:09] manaswis opened #379 "Modify deploy script to create binaries on the server"
Currently, the deploy script has two options - dist (creation of binary distribution) and push (that pushes the input zip file to the repo and updates the deployed server version).

We need to modify it to create the binaries on the server and then deploy it to the appropriate directory directly on the server.

This will solve the permission issues and will speed up server management tasks.

[2016-10-26 18:54] kotarohara commented on #203
No, I have not looked into this yet. I will look into this this weekend.

[2016-10-26 18:54] kotarohara commented on #116
It would be great if @manaswis or @Soben713 can try to figure out what happened, but I'll work on it if they don't think they can.

[2016-10-27 12:39] jonfroehlich commented on #116
I think it's important to investigate in case it is a bug that affects other data as well. @Soben713 has an analysis tool that might help us investigate this a bit.

[2016-10-27 15:30] kotarohara commented on #116
Cool. @Soben713 , do you want to spend < day looking into this? More specifically:

- the JavaScript code is just showing both completed and incomplete street edge (I don't think this is the case)
- the SV becomes unavailable in the mid-way and Jon skipped the task in the midway
- some other case.

[2016-10-27 15:37] Soben713 commented on #116
This is not part of v2, so I can take a look at this after mid-November, I'll probably have some useful metrics by then.

[2016-10-28 03:23] ghost opened #380 "Admin Page is Really Slow"
I created this issue to address the performance problem in the admin page. As we all know, the admin page takes a while to load. And even after it is loaded, it is very slow due to the massive data that needs to be loaded and rendered in the page. This needs to be fixed.

Related issue: #343

[2016-10-28 03:36] Soben713 commented on #380
One of the main causes of this problem is the huge DC map which includes all the labels. There seems to be a way to make the map a little bit faster by using canvas instead of SVG layers. It seems to be in the [leaflet's documentation](http://leafletjs.com/reference.html#global) too (note that the example in the documentation is exactly the problem we have — "many thousands of circle markers on th

[2016-10-28 13:04] jonfroehlich commented on #380
Interesting. I'd like to assign this to @tongning along with https://github.com/ProjectSidewalk/SidewalkWebpage/issues/343 but we should discuss this. I'll assign it tentatively to @tongning for now. I think focusing on https://github.com/ProjectSidewalk/SidewalkWebpage/issues/343 first should be a priority.

[2016-10-29 04:25] Soben713 commented on #317
Just submitted the pull request for this. Here is a screenshot:

![image](https://cloud.githubusercontent.com/assets/1576529/19827159/2829e926-9d6e-11e6-8f1d-f60ab635e901.png)

[2016-10-29 04:54] Soben713 commented on #317
I just added a link to the task ID in which the label was added:
![image](https://cloud.githubusercontent.com/assets/1576529/19827223/952f667a-9d70-11e6-90b5-05438f4153f3.png)

After clicking on the link, you'll be taken to the task page. Remember that this is the task page:
![image](https://cloud.githubusercontent.com/assets/1576529/19827236/bcc7ec34-9d70-11e6-8ee7-46133e3ce31b.png)
Since we adde

[2016-10-29 13:26] jonfroehlich commented on #317
Great work on this guys! Exciting!

I have some feedback but would be better over face-to-face conversation where we can sketch together, etc.

I still think we need something that quickly pops up when you hover over labels in the top-down map interface (using an interaction technique called 'brushing'). https://github.com/ProjectSidewalk/SidewalkWebpage/issues/151 briefly mentions this but perhap

[2016-10-29 15:14] Soben713 commented on #317
I'll work on the map version but I don't think it works well on hover, my suggestion is to make the map clickable. Mainly because it takes ~1 second to receive the data from the server and render it for every label (it runs a huge query to aggregate all the necessary information) and it would be too slow to work well on hover.

Good suggestion about including the label age instead of the timestamp

[2016-10-29 15:55] jonfroehlich commented on #317
I was worried about lag for hover. Click is fine.

Re: label age. I would prefer both timestamp and label age. They tell you two different things.

Re: when is the code review?

[2016-10-29 17:01] Soben713 commented on #317
I'm afraid about the space being used if we include both the timestamp and the age in individual rows. Maybe we can update the timestamp value to include the age as well, like:

**Time Stamp:** Sat Jul 13 01:14:40 EDT (2 months ago)

And I don't know when @manaswis will be able to review the code but it probably won't take so much time because she already knows how it works.

[2016-10-29 17:35] jonfroehlich commented on #317
I like that. We need year in there.

Sent from my iPhone

[2016-10-30 02:23] tongning commented on #380
Two of the tables (labels and users) are quite huge as well. On my computer removing them reduced the page load time to 3-5 seconds from 10 seconds, and the amount of data transferred to 3.2 MB from 9 MB (as measured by Page Size Inspector and Page load time chrome extensions).  Moving these tables to different pages should help significantly.

[2016-10-30 03:22] Soben713 commented on #317
Just added a commit to the same branch, the map is now clickable and the same modal is shown after clicking on a label. Also changed the content of the modal a little bit (added username and updated the time)

![image](https://cloud.githubusercontent.com/assets/1576529/19834223/46c80510-9e2d-11e6-9cbb-06f8704a16fe.png)

[2016-10-30 03:24] Soben713 commented on #151
This is resolved in PR #381.

[2016-10-30 07:13] manaswis commented on #151
Wafflebot closed since I merged it. Reopened it till complete review is done.

[2016-10-30 07:14] manaswis commented on #317
This looks awesome! I have reviewed and merged it with the master.

@Soben713 Can you create the distribution and push it to the server? I won't be available before evening tomorrow to do it.

Thanks!

[2016-10-30 15:04] Soben713 commented on #317
@manaswis Yeah will do it.

[2016-10-30 15:04] #317 closed

[2016-10-30 16:58] Soben713 commented on #317
This is now deployed. :)

[2016-10-30 17:11] Soben713 commented on #248
4 types of labels in a scene.

![image](https://cloud.githubusercontent.com/assets/1576529/19838270/fca4fd88-9ea1-11e6-9180-026eb133c416.png)

I added a comment to keep the panorama id for future use.
![image](https://cloud.githubusercontent.com/assets/1576529/19838286/47733aa0-9ea2-11e6-916f-1e97a36be774.png)

[2016-10-30 17:24] jonfroehlich commented on #248
Interesting. And good idea about using the comment/feedback option to save the panorama id for future uses (e.g., talks, making videos, etc.)

[2016-10-30 17:27] jonfroehlich commented on #317
Great, I'll check it out!

We may want to think about deploying some of these things to Access Score and to the user's dashboard (since they all have the label dots on a map).

[2016-10-30 17:31] jonfroehlich opened #385 "Admin Interface: Playback Labels Don't Look Correctly Placed"
Not sure if this is just the user I am watching or if our math is wrong is placing the labels on the GSV view (see screenshot; note how the green labels seem to be above the actual curb ramp locations).

![image](https://cloud.githubusercontent.com/assets/1621749/19838412/13700474-9ea5-11e6-842e-1628ed01f088.png)

[2016-10-30 17:34] jonfroehlich opened #386 "Admin Interface: Add in Filtering Based On Severity"
In addition to the checkboxes, it would be nice to filter based on severity ranking in this visualization. For example, perhaps I only want to visualize the most severe obstacles in path (ratings of 5). Maybe you could put slider bars next to checkboxes for filtering?

![image](https://cloud.githubusercontent.com/assets/1621749/19838428/723dd904-9ea5-11e6-8626-c67bde180f65.png)

Again, this is som

[2016-10-30 17:45] jonfroehlich commented on #380
@tongning, yep, that's all part of redesigning the admin page with a menu/tab interface: https://github.com/ProjectSidewalk/SidewalkWebpage/issues/343. Thanks for investigating this. We can use a similar approach to ensure that our pages have fast load times.

[2016-10-31 01:26] jonfroehlich commented on #248
Crosswalk but no curb ramps or sidewalks!

![image](https://cloud.githubusercontent.com/assets/1621749/19841806/68a32d12-9ee7-11e6-8569-b57a644b9796.png)

![image](https://cloud.githubusercontent.com/assets/1621749/19841811/81c735fe-9ee7-11e6-9636-9b11cd3daf42.png)

[2016-10-31 01:29] jonfroehlich commented on #248
Some curb ramps in very bad shape.

![image](https://cloud.githubusercontent.com/assets/1621749/19841838/e1101ce2-9ee7-11e6-96e4-e4668437a3ea.png)

[2016-10-31 01:34] jonfroehlich commented on #248
Curb ramp not lined up.

![image](https://cloud.githubusercontent.com/assets/1621749/19841880/964c939c-9ee8-11e6-97c7-b006d70cdf2a.png)

![image](https://cloud.githubusercontent.com/assets/1621749/19841881/a0f69914-9ee8-11e6-9e1b-d0aec0b7a462.png)

[2016-10-31 02:01] jonfroehlich opened #387 "Mission Completion Percentage Jumps from 50% to 1%"
I have seen this numerous times recently but this is the first time that I managed to catch it on my screen recording. Watch at roughly 22 seconds into this video (https://youtu.be/774IbmnLY3c?t=22s), I label the intersection and then move forward and my mission completion percentage goes from 50% to 1%. Note that this is the drop point intersection. I had just logged in and started labeling.

Unf

[2016-11-01 05:03] Soben713 opened #389 "List of Events That Should Be Logged"
I created this issue to maintain the list of events in one place.

### Events that are currently not logged or are not logged properly:
1. Clicking on the "Explain This" links
2. "WalkTowards" is not properly logged.
3. Log all keyboard shortcuts.
4. When point of view changes.

### Events that are currently logged:
1. ViewControl_MouseUp
2. RemoveLabel
3. ModalSkip_ClickJump
4. ModeSwitch_Walk
5.

[2016-11-01 05:04] Soben713 commented on #372
I'll maintain the whole list of events that should be added to the logger in issue #389. Closing this.

[2016-11-01 05:04] #372 closed

[2016-11-01 05:12] Soben713 commented on #389
Although there are some `WalkTowards` logs in the database, walking is not properly logged in the system based on my tests. Adding it to the list.

[2016-11-01 05:49] Soben713 commented on #387
This is related to #297.

A weird thing I noticed is that in both videos that we have for this bug, the completion percentage is reset when it reaches 50%. This is the video I recorded: https://www.youtube.com/watch?v=vC_-dY3aw9o

[2016-11-01 12:49] jonfroehlich opened #390 "Admin Interface: The Avatar Dot Disappears in Soheil's Task Playback Tool"
I didn't have a chance to take a screenshot or movie recording but I've found that--quite frequently--the avatar dot disappears in @Soben713's new task playback tool. @Soben713, have you seen this?

[2016-11-01 12:51] jonfroehlich opened #391 "Admin Interface: Playback Controls for Soheil's New Task Playback Tool"
Would be nice to have a timeline and playback controls for @Soben713's new task playback tool. The timeline should have little indicators where activities occurred and you should be able to use a slider-bar (or similar) to slide back and forth across time.

[2016-11-01 12:52] jonfroehlich opened #392 "Figure Out How to Better Integrate Our Work With Partners Like OpenStreetMap"
We need to figure out how to better integrate our work with partners like OpenStreetMap. This will not only amplify our impact, it will help sustain our efforts.

[2016-11-01 12:54] jonfroehlich commented on #387
To be clear, I started recording my movie before I took even my first step in this first mission after logging on. That is, the process was:

- I logged in and clicked Participate
- I was dropped into Hillcrest neighborhood and I accepted my mission. The screen immediately showed 50% complete
- I started screen recording and walking around (which is the posted video)

[2016-11-01 15:36] Soben713 commented on #391
I agree that a timeline of activities and events would be very useful for a better understanding of the tasks. In fact, I also found myself need it as well and will implement it.

However, being able to go back and forth in time is not easy to implement at all (unless I find a library for D3 that does that). Note that there is only one street segment in every task and in most cases, tasks are fini

[2016-11-01 15:39] Soben713 commented on #390
Yes, I've seen it many times as well. Will look into it.

[2016-11-01 15:40] Soben713 commented on #385
I've also noticed it. Will look into it.

[2016-11-01 16:39] jonfroehlich commented on #391
I don't understand implementation difficulty. We can chat about it and decide if worth it. IMO, should be straightforward.

Sent from my iPhone

[2016-11-01 17:36] jonfroehlich opened #393 "Login Timestamp Strangeness"
Note how the grantdmckenzie user has labels timestamped from 10/31/2016 but has only logged in once, which was on 10/28/2016. Is this a case where perhaps he kept the window/tab open in his browser?

![image](https://cloud.githubusercontent.com/assets/1621749/19899923/2f57f108-a038-11e6-9213-d4cbe9e187d4.png)

[2016-11-01 19:02] jonfroehlich opened #394 "Admin Interface: Label Info Dialog Box GSV Blank"
Sometimes the GSV pane pane is blank in this pop-up window--I can't tell if there was a load error or if the panorama no longer exists or what. Is there anyway to surface more info to the admin user?

![image](https://cloud.githubusercontent.com/assets/1621749/19903211/2e4a3a26-a044-11e6-8df9-2f2fc0478e41.png)

[2016-11-01 19:22] #151 closed

[2016-11-02 17:38] tongning commented on #343
Here's what a basic implementation with tabs across the top could look like. Any comments on this?
![tabs-basic](https://cloud.githubusercontent.com/assets/7234278/19939761/a73b62fe-a100-11e6-9c45-f3a8aaa8c79e.PNG)

For a waffle-like view perhaps a fixed left-side navbar like this one would work:
http://bootsnipp.com/snippets/z4Q2r

[2016-11-02 17:46] manaswis commented on #343
Yeah, this looks good. Although, I would like to see the left sidebar one too. :)

Few updates to the tab labels:
Graphs --> Analytics
Labels --> Contributions

Rest looks good. Has the speed decreased by doing this view and is everything working as it should?

[2016-11-02 17:50] tongning commented on #343
I'm still moving the content into the tabs so I can't comment on speed yet, but hopefully I'll be able to test it soon :)

[2016-11-02 18:08] jonfroehlich commented on #343
I think the left sidebar is probably a better fit for this and more scalable. We'll likely have more verification pixels than horizontal pixels for menu items. Thoughts?

I'd specifically be curious to hear from Soheil.

Sent from my iPhone

[2016-11-02 18:12] jonfroehlich commented on #343
Can't be sure about this until I see the mock

Sent from my iPhone

[2016-11-02 18:37] Soben713 commented on #343
I agree that having the tabs in the sidebar is better. I think the first step should be brainstorming what the categories (and possibly sub-categories) must be.

This is a dashboard I designed for another project. Thought it might be a good source of inspiration.

![image](https://cloud.githubusercontent.com/assets/1576529/19942163/2d7564ac-a109-11e6-95f4-1d6ba5279113.png)
![image](https://cloud.g

[2016-11-02 18:42] Soben713 commented on #394
Will look into it.

[2016-11-02 18:48] tongning commented on #343
With the content split into separate pages it should be fairly easy to change the design now. I'll work on the sidebar prototype next.

[2016-11-02 19:30] jonfroehlich commented on #343
Great!

[2016-11-04 15:09] #362 closed

[2016-11-04 18:23] Soben713 commented on #182
Pull request #388 was tested and merged.

[2016-11-04 18:23] #182 closed

[2016-11-04 18:30] tongning opened #395 "Avoid triggering admin map refresh when checkboxes are clicked"
Currently all markers are on a single layer, so when the user selects or deselects a marker type the entire layer needs to be removed and redrawn. It would be preferable to separate the marker types onto different layers so that marker types can be shown or hidden without a map refresh.

[2016-11-04 18:38] Soben713 commented on #343
This link might also be useful: https://colorlib.com/wp/free-bootstrap-admin-dashboard-templates/

[2016-11-04 19:03] jonfroehlich commented on #395
Yes! :)

[2016-11-06 18:07] tongning commented on #376
Here is the updated page, and the [diff](https://github.com/ProjectSidewalk/SidewalkWebpage/commit/10f2db8113cc80b769bed4038863b5222068d734). It would be great if everyone could review it (for both style and content) before I submit the pull request.
![about-updated](https://cloud.githubusercontent.com/assets/7234278/20040122/b08e3756-a41f-11e6-8d58-c9929aa3037a.PNG)

[2016-11-06 18:42] jonfroehlich commented on #376
Looks good.

Quick things.
- Is 'Alumni' an H2? It should be a sub-header under Team Members
- Let's try and add semester prefixes whenever possible (to be consistent)
- Spring 2012 for me and Kotaro
- Fall 2013 for David Jacobs
- Fall 2016 for Manaswi and Soheil
- Summer 2015 for Ladan
- Remove 'Project Lead' from Kotaro

[2016-11-06 19:20] tongning commented on #376
Updated. Team Members was an h2, so Alumni is an h3 now.
![about-2](https://cloud.githubusercontent.com/assets/7234278/20040812/31deb18a-a42c-11e6-88ce-0f32ef5448aa.PNG)

[2016-11-06 23:49] Soben713 commented on #247
@tongning Do you want to do this?

[2016-11-06 23:51] #371 closed

[2016-11-07 14:17] jonfroehlich commented on #376
Jin should be Spring 2013 to Fall 2014

I think the Sponsors should also be left aligned rather than center aligned... but can't be sure without seeing it.

[2016-11-07 18:03] tongning commented on #376
Updated:
![about-3](https://cloud.githubusercontent.com/assets/7234278/20069427/837e8a4c-a4ea-11e6-9a1c-b3118886d6da.PNG)

[2016-11-07 18:05] jonfroehlich commented on #376
Perfect. This is ready to ship now.

[2016-11-07 18:05] #376 closed

[2016-11-07 18:23] tongning commented on #247
I can work on adding the gray label and label count to the legend. Do we want to be able to differentiate between the gray labels? Currently I think that info isn't sent to the client so doing so would require some backend changes.

[2016-11-07 18:27] jonfroehlich commented on #247
Yes, we want to be able to differentiate between gray labels. See my original posting:

If this requires backend changes, we have two choices:
1. You use this as an opportunity to learn a bit more about the backend and setting up queries
2. You collaborate with @Soben713 or @manaswis on this who can work on the backend (either with you or independently) so that you have the appropriate data on fro

[2016-11-07 18:49] tongning commented on #247
Disregard what I said about backend changes; looking more closely at the data sent back I see that they are already differentiated. Since this is marked for v2 deployment I'll try to get this done before working on other issues.

[2016-11-07 18:56] jonfroehlich commented on #247
OK!

[2016-11-07 22:45] Soben713 commented on #269
After looking at the code, I found two bugs in the code which may have caused the confusion.

1. Currently, in certain cases,  the pop-up may appear even when the user has viewed less than 1/4 of the intersection. Here is a video of that: https://www.youtube.com/watch?v=pOHmRuIicMk&feature=youtu.be
2. I believe this message should not appear if the user has already started walking. But it is not c

[2016-11-08 01:26] jonfroehlich commented on #269
Nice @Soben713. I agree with everything you said.

I think the message needs a bit of work. My take: "_It looks like you've looked around this entire intersection. If you're done labeling this place, it's time to take a step. Walk in the direction of the red line highlighted on the map. We provide turn-by-turn directions to guide your path._" Probably too long. :(

PS Could you copy/paste in the c

[2016-11-08 01:30] Soben713 commented on #269
@jonfroehlich I agree that the message is too long. Maybe we can remove the second part where it says "We provide turn-by-turn directions to guide your path"?

This is the current message:

[2016-11-08 03:00] Soben713 commented on #269
This is how the message looks. Seems too long.

![image](https://cloud.githubusercontent.com/assets/1576529/20085207/3ae18226-a535-11e6-8344-e14ee0c1dd36.png)

Without the last sentence:

![image](https://cloud.githubusercontent.com/assets/1576529/20085260/91d3fb2c-a535-11e6-9b67-f4c2710e7b51.png)

[2016-11-08 04:34] Soben713 commented on #389
While fixing #269 I realized why the `WalkTowards` event is not being logged. I will explain it here and fix it after Public Deployment v2.

---

There is no `WalkTowards` event in the database after 4/16/2016:

![image](https://cloud.githubusercontent.com/assets/1576529/20086852/7bdb3ee6-a541-11e6-847f-ec041dfc2b8d.png)

This is happening because the walking event listener depends on the way Goog

[2016-11-08 05:44] Soben713 commented on #269
This was resolved in PR #398. @jonfroehlich I used your suggestion for the popup message but removed the last sentence. If you have any other suggestion let me know and I'll change it.

[2016-11-08 19:03] jonfroehlich commented on #297
Just happened to me again:

![image](https://cloud.githubusercontent.com/assets/1621749/20112800/c9812cee-a5bb-11e6-9a7a-dc033773a805.png)

![image](https://cloud.githubusercontent.com/assets/1621749/20112855/ecab38e0-a5bb-11e6-8001-f1ade97dca69.png)

![image](https://cloud.githubusercontent.com/assets/1621749/20112887/10d0d694-a5bc-11e6-93de-ed34452fd904.png)

@Soben713, any updates on this?

[2016-11-08 19:11] jonfroehlich commented on #248
Walking through time:
https://youtu.be/go9clwegJUw

[2016-11-08 19:17] jonfroehlich commented on #248
Someone with an impairment:

![image](https://cloud.githubusercontent.com/assets/1621749/20113347/1d944bf2-a5be-11e6-8a40-df66b172f1f7.png)

[2016-11-08 19:28] jonfroehlich commented on #248
Intersections to nowhere:

![image](https://cloud.githubusercontent.com/assets/1621749/20113713/8efd8e2e-a5bf-11e6-84d5-4d4bce46a684.png)

[2016-11-08 19:33] jonfroehlich commented on #386
How's this coming? I'd really like to be able to use this... :)

[2016-11-08 19:40] tongning commented on #386
This will need to integrate with @247, so I've been focusing on getting that done first (hopefully by tomorrow night). I will probably need to talk to @Soben713 or @manaswis about the backend changes needed for this one.

[2016-11-08 19:48] jonfroehlich commented on #359
This continues to be rather embarrassing to be honest. I think we need to discuss whether we want to take down Access Score until the load times are better and, just as importantly, the access score model is improved. Check out the sheer number of orange 'Surface Problem' labels in Hill Crest and yet, it is rated as 99 'Very Accessible.' We can and should do better.

![image](https://cloud.githubu

[2016-11-08 19:51] jonfroehlich commented on #269
I think we can improve the message a bit by:

- highlighting the 'turn-by-turn' directions somehow
- highlighting the top-down map

Maybe we use yellow highlights? And then refer to these in the message?

[2016-11-08 19:53] jonfroehlich commented on #389
Should be easy enough to save previous pano_id (do we need this because of how the backend was logging? That is, we logged both the current pano_id and the previous pano_id in the log?)

[2016-11-08 19:57] jonfroehlich commented on #386
OK. Thanks.

So, do you get a JSON packed with the location and type of all labels? But this JSON doesn't include severity?

[2016-11-08 20:12] tongning commented on #386
Yep!

[2016-11-08 22:54] Soben713 commented on #269
@jonfroehlich Oh wait, I just noticed what "turn-by-turn" direction means. Is it that direction box in the street view panel? We currently highlight both the map and that box when this message is shown.

[2016-11-08 23:10] Soben713 commented on #389
@jonfroehlich Yes. Actually, we do not store the previous `pano_id` in the database, but for the WalkTowards event, we store the current `pano_id` and the next one. But since we can only detect movement after the user has moved using the default listener, we would have to keep the previous location.

It is easy to save the previous pano_id, that's not the problem. I just don't want to change the w

[2016-11-09 15:25] Soben713 commented on #297
I found a way to reproduce it. I am looking into it.

[2016-11-09 21:04] Soben713 commented on #387
I am going to close this issue because it is simply a duplicate of #297.

[2016-11-09 21:43] Soben713 commented on #297
Finally, I figured out what the problem is. In fact, it is a deep structural problem in the system.

We mark a street segment as `completed` in the database when the user completely audits it. In other words, we don't store what portion of each segment has been audited. Now, if the user refreshes the page while in the middle of a mission, we load the data from the database and compute the `complet

[2016-11-10 02:12] tongning commented on #247
Here is the current design:
![gray-1](https://cloud.githubusercontent.com/assets/7234278/20162153/187325ae-a6c1-11e6-8695-5b4b3f3fe5f0.PNG)
![gray-2](https://cloud.githubusercontent.com/assets/7234278/20162158/20806ed2-a6c1-11e6-86de-11b3779405bb.PNG)

[2016-11-10 02:17] jonfroehlich commented on #247
Can't you just treat those three gray label types like all other labels? Why do we amalgamate them into a dropdown?

Just do the simple thing: treat those three label types like any other label types and give each their own color and checkmark. You could do something like gray fill (to keep consistency) and then change shape to triangle or square or outline color to indicate particular gray label

[2016-11-10 02:23] jonfroehlich commented on #297
@Soben713, in my opinion, it looks like missions were, unfortunately, poorly implemented--which is not too surprising since they were added in later after the initial system was architected. It does seem to me, however, that we should be tracking a persons mission progress directly and we should implement missions more elegantly on the backend. Not sure we want to open this pandora's box for v2 th

[2016-11-10 02:56] tongning commented on #247
New design:
![gray-3](https://cloud.githubusercontent.com/assets/7234278/20163049/61ee0b76-a6c7-11e6-95c8-3f085a3eeb4f.PNG)

[2016-11-10 03:01] jonfroehlich commented on #247
Yes, good. We can iterate on the legend icon. Let's go with what you have
for now (gray with outlines).

On Wed, Nov 9, 2016 at 9:56 PM, Anthony Li <notifications@github.com> wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.com/jonfroehlich> - Twitter

[2016-11-10 04:34] Soben713 commented on #297
@jonfroehlich Based on my current knowledge of the system I agree that the mission progress could be directly stored in the database, but I am not sure about the consequences because, for example, we will have some sort of data redundancy in the database.

I agree that at some point, we need to re-implement or at least refactor this part of the code. But it requires a lot of time and we might want

[2016-11-10 14:02] jonfroehlich commented on #297
@Soben713. Completely agree. Glad you came up with a 'somewhat clean way' to fix it without changing backend. Nice job.

[2016-11-10 18:42] jonfroehlich commented on #387
Is this really a duplicate of #297? Because this particular Issue is about what happens with a fresh browser window when you first login to the system. Unfortunately, I did not start my screen recorder right away but know that just before I started screen recording, I had opened my browser, started Project Sidewalk, and saw the mission dialog pop-up: https://youtu.be/774IbmnLY3c?t=22s

[2016-11-10 19:00] Soben713 commented on #387
@jonfroehlich Well, at least the root cause of both these issues is the same and PR #401 should fix both.

[2016-11-10 19:52] jonfroehlich commented on #248
Clearly in need of a sidewalk:

![image](https://cloud.githubusercontent.com/assets/1621749/20191875/5c6edfc0-a755-11e6-93af-093ebfe32239.png)

[2016-11-10 21:13] manaswis commented on #243
This is another, a slightly different, example. Here, I was dropped into a location (where you see a small green path). When I walked a bit backward on that route, I could see another red disconnected from the original one. This looks like a variation of this issue.

<img width="1176" alt="screen shot 2016-11-10 at 4 10 30 pm" src="https://cloud.githubusercontent.com/assets/2873216/20194445/5f26b8

[2016-11-10 21:20] jonfroehlich opened #402 "Improving Routing Audit Algorithm"
As you start to complete a neighborhood, the frequency of jumps occur more often, which negatively affects user experience. See, for example, the disconnected green lines in this map:

![image](https://cloud.githubusercontent.com/assets/1621749/20194719/936756a4-a761-11e6-8df7-85d9f776ecf5.png)

[2016-11-10 22:19] manaswis opened #403 "Audit tasks completed by anonymous users are erroneously marked as incomplete"
The database table `audit_task` that maintains the list of tasks audited by all users has a column 'completed' that indicates if the street segment has been audited. Currently, even if you complete an audit of a street, they are not being marked as 'complete' in the table.

This also affects the calculation of number of contributing/visiting anonymous users, which we probably should discuss. Addin

[2016-11-10 22:31] manaswis commented on #323
Point that came up while working on #364 and discovering the bug #403 is that how do we count the number of anonymous users (also, displayed on the landing page):
- should it just be users who visited the site, or
- should it be users who have *at least completed one task* (current way of doing it) or
- should it be contributing users i.e. users who have *at least added a label*

What do you think

[2016-11-11 11:34] jonfroehlich commented on #323
Didn't we already discuss this and decide on the second bullet? I still think this is the right approach. I'm not sure we can trust users who only came into the system and provided a few labels but did not finish their first mission (or 'road segment'--whichever it is).

One other thing: how many users have completed one task but not added a label?

[2016-11-11 14:21] jonfroehlich commented on #364
In fact, might be nice to have:

Total Users
  Registered Users
  Anonymous Users

[2016-11-11 14:25] jonfroehlich commented on #387
OK. Let's just test and make sure that's the case. I'd also like to discuss
this fix in person with you--perhaps at the Project Sidewalk meeting at
1:15PM today.

On Thu, Nov 10, 2016 at 2:00 PM, Soheil Behnezhad <notifications@github.com>
wrote:

--
Jon Froehlich
Assistant Professor
Computer Science
University of Maryland, College Park
http://www.cs.umd.edu/~jonf/
@jonfroehlich <https://twitter.c

[2016-11-11 14:31] jonfroehlich commented on #403
I don't understand your comment. The first paragraph, in particular, doesn't make sense to me. Are you stating that the 'completed' field in the database is not being set correctly for anonymous users but works for signed-in users?

[2016-11-11 14:33] jonfroehlich commented on #269
@Soben713. Yes, that's what I meant by 'turn-by-turn' directions. If we already do this, then we're good (as long as we think the flashing yellow highlights are salient enough).

[2016-11-11 14:47] manaswis commented on #403
Yes, that's what I meant.

[2016-11-11 15:02] manaswis commented on #234
Consolidating information for this issue from #233 here:

Jon's suggestion:

[2016-11-11 15:02] manaswis commented on #233
Have added the missing information from this issue to #234. Closing this issue now.

[2016-11-11 15:02] #233 closed

[2016-11-11 15:23] jonfroehlich commented on #403
OK, yes, please investigate why this is and its implications on our analysis, etc.

[2016-11-11 15:24] jonfroehlich commented on #403
Also, please set up a milestone for this (either v2 or v3 depending on severity).

[2016-11-11 19:46] manaswis commented on #365
Is resolved with PR #406. Combined this information in the anonymous users table. Screenshot:

<img width="1280" alt="screen shot 2016-11-11 at 2 44 57 pm" src="https://cloud.githubusercontent.com/assets/2873216/20228049/7b5c390a-a81d-11e6-8bd5-7071f3590c44.png">

Closing this one. If any problems are seen, will update #353 (keeping that open till its reviewed).

[2016-11-11 19:46] #365 closed

[2016-11-11 19:48] manaswis commented on #353
Resolved in PR #406. Also takes care of issue #365.

Screenshot:
<img width="1280" alt="screen shot 2016-11-11 at 2 44 57 pm" src="https://cloud.githubusercontent.com/assets/2873216/20228124/cd092786-a81d-11e6-8f6b-e7673d0661d8.png">

[2016-11-11 20:13] Soben713 commented on #287
I implemented the second (tooltip) and the third (auto-detect & alert) solutions and I agree with Jon that the last one is redundant. Also, taking the tutorial again, I think maybe the first one is also redundant. This is a screenshot of the tutorial:

![image](https://cloud.githubusercontent.com/assets/1576529/20228531/a3c75a12-a81f-11e6-9b8e-c7958c1f15f7.png)

I think the tooltip is visible enou

[2016-11-11 20:13] manaswis commented on #364
Is this format okay?

<img width="394" alt="screen shot 2016-11-11 at 3 12 55 pm" src="https://cloud.githubusercontent.com/assets/2873216/20228881/60052c58-a821-11e6-9ff1-e586709ddd75.png">

[2016-11-11 20:19] manaswis commented on #287
When does the tooltip appear? I think I would still like the hover support: show whenever he is clicking the button. If we can add a delay to show the tooltip e.g. if the user hovers over the button for more than x seconds, then show the hover, else it might get frustrating to see the hover each time he/she clicks the button (e.g. for people, who just prefer using the mouse than the keyboard.)

Th

[2016-11-11 20:22] jonfroehlich commented on #287
I think the tooltip hover should be implemented very similarly to the github hover, which seems to pop up after ~500ms.

Note that we must disable this hover tooltip during the tutorial as we do not allow users to use the keyboard during the tutorial--so this would be incredibly confusing.

[2016-11-11 20:22] Soben713 commented on #287
@manaswis Sorry, I updated my comment. I implemented the first and the 3rd solutions.

[2016-11-11 20:25] jonfroehlich commented on #364
No :) I'll come talk to you.

[2016-11-11 21:02] manaswis commented on #364
How is this?

<img width="424" alt="screen shot 2016-11-11 at 3 55 48 pm" src="https://cloud.githubusercontent.com/assets/2873216/20229974/609b50c4-a827-11e6-8b11-7248c09f9813.png">

OR, making the numbers center aligned:

<img width="414" alt="screen shot 2016-11-11 at 4 01 59 pm" src="https://cloud.githubusercontent.com/assets/2873216/20230118/432fd19e-a828-11e6-871d-f1f4f41235fe.png">

[2016-11-11 21:08] Soben713 commented on #287
I just submitted a pull request for this.

@jonfroehlich Thanks for pointing out the tutorial problem. I fixed it and keyboard shortcuts correctly work in the onboarding tutorial.

[2016-11-11 21:18] jonfroehlich commented on #364
Looks good! Definitely do not center align the numbers. Number needs to be left-aligned to properly compare them across categories.

Can you split up labels by label type in this chart as well using a similar visual design?

[2016-11-11 21:22] manaswis commented on #364
Sure, I can.

[2016-11-11 21:40] Soben713 commented on #369
The database is backed up every day at 5am. It is documented [here](https://docs.google.com/document/d/1bXflDqd-hpFUdcrJUJzJh3CibgDJr_UGjAgxJz4OymU/edit#). I also added the link to the main readme file.

[2016-11-11 21:40] #369 closed

[2016-11-11 21:48] Soben713 commented on #369
In case my explanation was not clear, the link is also added to the main page of the GitHub repository. Screenshot:

![image](https://cloud.githubusercontent.com/assets/1576529/20231295/a28d50de-a82e-11e6-8707-9fd42336557e.png)

[2016-11-11 21:58] jonfroehlich commented on #369
OK, good. Thanks.

[2016-11-11 22:05] Soben713 commented on #150
**Original text**:
- The collected data is stored on our server and used to train machine learning algorithms to automatically identify new accessibility problems.

**Alternative, shorter suggestions:**

1. We use the collected data to train machine learning algorithms automatically detect new accessibility problems.
2. We use machine learning algorithms, trained by your data, to automate the proc

[2016-11-11 22:09] Soben713 commented on #150
This is how it would look like after replacing it with the 6th suggestion. We still need to shorten it.
![image](https://cloud.githubusercontent.com/assets/1576529/20231666/8e8c6860-a831-11e6-8809-f6ce86756de7.png)

[2016-11-11 22:58] manaswis commented on #364
Updated table looks like this:

<img width="513" alt="screen shot 2016-11-11 at 5 57 29 pm" src="https://cloud.githubusercontent.com/assets/2873216/20232731/640409fc-a838-11e6-92bc-ade2bc886c83.png">

Is this good?

[2016-11-11 23:49] manaswis opened #408 "Change jumping mechanism in the system"
Frequent jumps while auditing is annoying and many users (>4/10 434 students) in our usability studies have that pointed out. Jumps usually occur when the routing algorithm places the user either near the boundary of a neighborhood or when all connected routes around the user's current location are audited and (s)he is moved to a new location. This becomes even more frequent when you are nearing n

[2016-11-12 00:22] jonfroehlich commented on #408
Nice post. We already brainstormed the pop-up text and I think Soheil copied it into his localhost. We just have to figure out if we can shorten it and, if not, how to adapt the CSS so that the pop up grows vertically and not horizontally.

Sent from my iPhone

[2016-11-12 00:23] jonfroehlich commented on #364
It's great. Can you bold audits row to be consistent.

Sent from my iPhone

[2016-11-12 00:34] Soben713 commented on #364
Maybe if you align them to the left with a fixed margin that would look more structured? I quickly edited it in Photoshop:

![image](https://cloud.githubusercontent.com/assets/1576529/20234163/d7994960-a845-11e6-950c-598300a6d8dc.png)

[2016-11-12 00:37] Soben713 commented on #408
I just typed it in the inspector to see how it looks and unfortunately did not copy it elsewhere.

[2016-11-12 04:36] manaswis commented on #364
Yes, that's a great idea. I have updated the table:

<img width="512" alt="screen shot 2016-11-11 at 11 34 28 pm" src="https://cloud.githubusercontent.com/assets/2873216/20235712/a78e45be-a867-11e6-9975-0a2d6ca90bf6.png">

[2016-11-12 09:23] Soben713 commented on #364
Cool.

[2016-11-12 20:01] Soben713 commented on #216
I changed a couple of things:

1. Replaced the blue with dark-grey both in the mission-progress-bar and the map.
2. Made the green a little darker.
3. Changed the map style to a bright and colorless one to make it easier to focus on the routes.
4. Changed the animation speed to 0.6s for each segment (it was previously 1s).
5. Made the path strokes thicker.

Images for comparison:

![image](https:/

[2016-11-12 22:43] Soben713 commented on #272
I really like the original image Jon chose to work on in our meeting. I searched around to find better ones but it is still my number 1 choice:

![image](https://cloud.githubusercontent.com/assets/1576529/20242497/c0468972-a8fd-11e6-8154-444a65d61553.png)

Also, to keep the minimalistic look and feel of the photo, we can use the title and description sections in the Summary Card instead of adding

[2016-11-12 23:04] Soben713 commented on #272
PR #411 resolves this. I am closing it. Let me know if you have any other idea about the image/texts and I'll update it.

[2016-11-13 20:36] jonfroehlich opened #412 "Admin Interface: Coverage Rate per Neighborhood Graph"
![image](https://cloud.githubusercontent.com/assets/1621749/20248653/8da89172-a9b6-11e6-9a87-041653643e6c.png)

A few things:
- Graph should switch x and y axes. Y-axis should be neighborhood names and x-axis should be completion rates. This would make the neighorhood names far more readable
- Graph should be sortable by percentage complete and by neighborhood name (currently defaults to latter).

[2016-11-13 20:38] jonfroehlich opened #413 "User Dashboard: Neighborhood Completion Graph"
For the user dashboard (visible to all registered users), we should include a neighborhood completion graph that nicely shows how much they've contributed to the neighborhoods they've audited in %.

[2016-11-13 20:39] jonfroehlich opened #414 "User Dashboard: Remove Labels Per Street Table"
The 'Labels per Street' table seems unimportant and not useful in the user dashboard.  I think we should remove it. Note: user dashboard here is not an admin interface, it is available for all registered users to track some basic stats about their auditing behavior. See below.

![image](https://cloud.githubusercontent.com/assets/1621749/20248693/481d9ff2-a9b7-11e6-821e-bd9fe9737b49.png)

@Soben713

[2016-11-14 15:44] Soben713 commented on #182
@tongning Just realized the "Audited Streets" checkbox does not work. Here is the screenshot:
![image](https://cloud.githubusercontent.com/assets/1576529/20271017/51b5f820-aa57-11e6-8ff2-a999b86b40c9.png)

[2016-11-14 16:36] tongning commented on #182
I think this happens when you check and uncheck boxes quickly, before the previous refresh is completed. Will investigate solutions.

[2016-11-14 19:04] Soben713 commented on #254
One of our severity examples is about over-grown vegetation, but we don't say anything about whether it is a temporary problem or not.
![image](https://cloud.githubusercontent.com/assets/1576529/20274958/9a0d36c6-aa64-11e6-8bde-30b8825cb2c4.png)

I will update it both in the FAQ and the label type help.

[2016-11-14 19:41] Soben713 commented on #254
@jonfroehlich Correct. We can't generally say that vegetation must be marked as temporary because some would disappear in winters and some would not.

What I did was just to explain that if it is something that would be fixed in winters you should mark it as temporary. Here is the screenshot:
![image](https://cloud.githubusercontent.com/assets/1576529/20279369/516bf42c-aa76-11e6-8b67-454a1d4fd40e.